In [1]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
clean_df = pd.read_csv('Resources/Final_Clean.csv')

In [3]:
clean_df.head()
clean_df = clean_df.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [10]:
column_names = list(clean_df.columns.values)
print(column_names)
len(column_names)

['NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type', 'SPA', 'INNOV', 'Acres', 'Water', 'Sewer', 'CityLimit', 'CCW', 'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received', 'Approved', 'Decision', 'births_to_adolescents', 'grocery_proximate_units', 'prenatal_care', 'grocery_proximity', 'low_birthweight', 'public_health_insurance', 'age_of_death', 'impervious_surface', 'water_consumption', 'neighborhood_school_attendance', 'highschool_graduation_rate', 'proficiency_elementary_school', 'proficiency_middle_school', 'proficiency_high_school', 'student_absenteeism', 'voters_participating', 'neighborhood_organizations', 'voter_participation', 'vacant_land', 'population_density', 'population', 'transit_ridership', 'street_connectivity', 'bicycle_friendliness']

44

In [9]:
types = list(clean_df.dtypes.values)
print(types)
len(types)

[dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

44

In [15]:
column_dict = {'column_name':column_names,'data_type':types}
print(column_dict)

{'column_name': ['NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type', 'SPA', 'INNOV', 'Acres', 'Water', 'Sewer', 'CityLimit', 'CCW', 'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received', 'Approved', 'Decision', 'births_to_adolescents', 'grocery_proximate_units', 'prenatal_care', 'grocery_proximity', 'low_birthweight', 'public_health_insurance', 'age_of_death', 'impervious_surface', 'water_consumption', 'neighborhood_school_attendance', 'highschool_graduation_rate', 'proficiency_elementary_school', 'proficiency_middle_school', 'proficiency_high_school', 'student_absenteeism', 'voters_participating', 'neighborhood_organizations', 'voter_participation', 'vacant_land', 'population_density', 'population', 'transit_ridership', 'street_connectivity', 'bicycle_friendliness'], 'data_type': [dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]}

In [11]:
numeric_columns = ['Acres', 'births_to_adolescents', 'grocery_proximate_units', 'prenatal_care', 'grocery_proximity',
                  'low_birthweight', 'public_health_insurance', 'age_of_death', 'impervious_surface',
                  'water_consumption', 'neighborhood_school_attendance', 'highschool_graduation_rate', 
                   'proficiency_elementary_school', 'proficiency_middle_school', 'proficiency_high_school',
                   'student_absenteeism', 'voters_participating', 'neighborhood_organizations',
                   'voter_participation', 'vacant_land', 'population_density', 'population', 'transit_ridership',
                   'street_connectivity', 'bicycle_friendliness'
]

#catagorical_columns =[]
s = pd.Series(column_names)
statements = list(s.isin(numeric_columns))

print(statements)
len(statements)

[False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

44

In [12]:
column_dict = {'column_name':column_names,'data_type':types,'number_type':statements}
#print(column_dict)
cm_df = pd.DataFrame.from_dict(column_dict)
cm_df.head(40)

                       column_name data_type  number_type
0                              NPA     int64        False
1                             year    object        False
2                       Petitioner    object        False
3                         FromZone    object        False
4                           ToZone    object        False
5                             Type    object        False
6                              SPA    object        False
7                            INNOV    object        False
8                            Acres   float64         True
9                            Water    object        False
10                           Sewer    object        False
11                       CityLimit    object        False
12                             CCW    object        False
13                     ServiceArea    object        False
14                       LuseStaff    object        False
15                     UrbanDesign    object        False
16                     RezoneStaff    object        False
17                        Received    object        False
18                        Approved    object        False
19                        Decision    object        False
20           births_to_adolescents   float64         True
21         grocery_proximate_units   float64         True
22                   prenatal_care   float64         True
23               grocery_proximity   float64         True
24                 low_birthweight   float64         True
25         public_health_insurance   float64         True
26                    age_of_death   float64         True
27              impervious_surface   float64         True
28               water_consumption   float64         True
29  neighborhood_school_attendance   float64         True
30      highschool_graduation_rate   float64         True
31   proficiency_elementary_school   float64         True
32       proficiency_middle_school   float64         True
33         proficiency_high_school   float64         True
34             student_absenteeism   float64         True
35            voters_participating   float64         True
36      neighborhood_organizations   float64         True
37             voter_participation   float64         True
38                     vacant_land   float64         True
39              population_density   float64         True

In [14]:
category = []
for x in cm_df['number_type']:
    if x is False:
        {category.append('catagorical')}
    else:
        {category.append('numeric')}

print(category)
len(category)

['catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'numeric', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'catagorical', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric', 'numeric']

44

In [15]:
final_dict = {'column_name':column_names,'data_type':types,'category_type':category}

In [16]:
cat_df =pd.DataFrame(final_dict, columns=['column_name','data_type','category_type'])

In [17]:
cat_df.head()

  column_name data_type category_type
0         NPA     int64   catagorical
1        year    object   catagorical
2  Petitioner    object   catagorical
3    FromZone    object   catagorical
4      ToZone    object   catagorical

In [48]:
#Splittiing our data

X_init = clean_df[catagorical_data]
X = X_init.drop(columns= 'Decision')

y =

['NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type', 'SPA', 'INNOV', 'Water', 'Sewer', 'CityLimit', 'CCW', 'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received', 'Approved', 'Decision']

,NPA,year,Petitioner,FromZone,ToZone,Type,SPA,INNOV,Water,Sewer,CityLimit,CCW,ServiceArea,LuseStaff,UrbanDesign,RezoneStaff,Received,Approved
0,2,2020,Alenky Signature Homes LLC,R-4,R-8,NC,no,NO,CMUD,CMUD,YES,Wedge,NaN,Travis Johnson,NaN,NaN,2020/02/18 15:12:46+00,2020/07/20 00:00:00+00
1,2,2019,Mark Heisig,O-2,R-4,NC,no,NO,CMUD,CMUD,YES,Wedge,Central,Scott Correll,Grant Meacci,Claire Lyte-Graham,2019/07/17 11:14:14+00,2019/12/16 00:00:00+00
2,2,2014,"Eastway II Holdings, LLC",BD(CD),BD(CD),CD,SPA,NO,CMUD,CMUD,YES,Wedge,Central,Gonzalez_Alberto,Dixon_Bridget,Sanders_Sonja,2014/07/28 00:00:00+00,2014/10/20 00:00:00+00
3,2,2014,"Eastway II Holdings, LLC",B-1SCD,BD(CD),CD,no,NO,CMUD,CMUD,YES,Wedge,Central,Gonzalez_Alberto,Dixon_Bridget,Sanders_Sonja,2014/07/28 00:00:00+00,2014/10/20 00:00:00+00
4,2,2016,"Dr. Michael Berglass, DDS",UR-C(CD),UR-C(CD),CD,SPA,NO,CMUD,CMUD,YES,Corridor,East,Amanda Vari,Monica Holmes,Sonja Sanders,2015/12/23 00:00:00+00,2016/06/20 00:00:00+00

In [49]:
caties = cat_df.loc[cat_df['category_type']== "catagorical",['column_name']]
catagorical_data = caties['column_name'].tolist()
print(catagorical_data)

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

data_init = clean_df[catagorical_data]
catagorical_data = data_init.drop(columns= 'Decision')
label_encoder.fit(catagorical_data)
label_encoder.classes_

['NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type', 'SPA', 'INNOV', 'Water', 'Sewer', 'CityLimit', 'CCW', 'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received', 'Approved', 'Decision']

ValueError: bad input shape (1757, 18)

['NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type', 'SPA', 'INNOV', 'Water', 'Sewer', 'CityLimit', 'CCW', 'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received', 'Approved', 'Decision']

In [22]:
#Label Encoding for columns that are catagorical
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [18]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [20]:
# Dependencies
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [21]:
requests_data = cat_df
requests_data.head()

  column_name data_type category_type
0         NPA     int64   catagorical
1        year    object   catagorical
2  Petitioner    object   catagorical
3    FromZone    object   catagorical
4      ToZone    object   catagorical

## Data Pre-Processing

In [5]:
X = requests_data.drop("Decision", axis=1)
y = requests_data["Decision"]
print(X.shape, y.shape)

(3168, 20) (3168,)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [8]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [10]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Deep Learning Model

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=20))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [13]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               2100
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 12,402
Trainable params: 12,402
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Train on 2376 samples
Epoch 1/60
2376/2376 - 1s - loss: 0.4958 - accuracy: 0.8089
Epoch 2/60
2376/2376 - 0s - loss: 0.2202 - accuracy: 0.9276
Epoch 3/60
2376/2376 - 0s - loss: 0.1248 - accuracy: 0.9638
Epoch 4/60
2376/2376 - 0s - loss: 0.0991 - accuracy: 0.9680
Epoch 5/60
2376/2376 - 0s - loss: 0.0994 - accuracy: 0.9701
Epoch 6/60
2376/2376 - 0s - loss: 0.0989 - accuracy: 0.9693
Epoch 7/60
2376/2376 - 0s - loss: 0.0841 - accuracy: 0.9743
Epoch 8/60
2376/2376 - 0s - loss: 0.0817 - accuracy: 0.9760
Epoch 9/60
2376/2376 - 0s - loss: 0.0779 - accuracy: 0.9773
Epoch 10/60
2376/2376 - 0s - loss: 0.0756 - accuracy: 0.9773
Epoch 11/60
2376/2376 - 0s - loss: 0.0752 - accuracy: 0.9773
Epoch 12/60
2376/2376 - 0s - loss: 0.0783 - accuracy: 0.9764
Epoch 13/60
2376/2376 - 0s - loss: 0.0742 - accuracy: 0.9777
Epoch 14/60
2376/2376 - 0s - loss: 0.0745 - accuracy: 0.9760
Epoch 15/60
2376/2376 - 0s - loss: 0.0746 - accuracy: 0.9735
Epoch 16/60
2376/2376 - 0s - loss: 0.0733 - accuracy: 0.9760
Epoch 17/60
2376/2376 - 0s - loss: 0.0701 - accuracy: 0.9798
Epoch 18/60
2376/2376 - 0s - loss: 0.0728 - accuracy: 0.9764
Epoch 19/60
2376/2376 - 0s - loss: 0.0667 - accuracy: 0.9794
Epoch 20/60
2376/2376 - 0s - loss: 0.0692 - accuracy: 0.9769
Epoch 21/60
2376/2376 - 0s - loss: 0.0658 - accuracy: 0.9790
Epoch 22/60
2376/2376 - 0s - loss: 0.0657 - accuracy: 0.9777
Epoch 23/60
2376/2376 - 0s - loss: 0.0601 - accuracy: 0.9794
Epoch 24/60
2376/2376 - 0s - loss: 0.0642 - accuracy: 0.9777
Epoch 25/60
2376/2376 - 0s - loss: 0.0651 - accuracy: 0.9794
Epoch 26/60
2376/2376 - 0s - loss: 0.0607 - accuracy: 0.9802
Epoch 27/60
2376/2376 - 0s - loss: 0.0595 - accuracy: 0.9823
Epoch 28/60
2376/2376 - 0s - loss: 0.0577 - accuracy: 0.9819
Epoch 29/60
2376/2376 - 0s - loss: 0.0667 - accuracy: 0.9764
Epoch 30/60
2376/2376 - 0s - loss: 0.0607 - accuracy: 0.9790
Epoch 31/60
2376/2376 - 0s - loss: 0.0579 - accuracy: 0.9815
Epoch 32/60
2376/2376 - 0s - loss: 0.0563 - accuracy: 0.9815
Epoch 33/60
2376/2376 - 0s - loss: 0.0553 - accuracy: 0.9811
Epoch 34/60
2376/2376 - 0s - loss: 0.0558 - accuracy: 0.9806
Epoch 35/60
2376/2376 - 0s - loss: 0.0562 - accuracy: 0.9802
Epoch 36/60
2376/2376 - 0s - loss: 0.0526 - accuracy: 0.9827
Epoch 37/60
2376/2376 - 0s - loss: 0.0588 - accuracy: 0.9802
Epoch 38/60
2376/2376 - 0s - loss: 0.0552 - accuracy: 0.9815
Epoch 39/60
2376/2376 - 0s - loss: 0.0523 - accuracy: 0.9827
Epoch 40/60
2376/2376 - 0s - loss: 0.0522 - accuracy: 0.9815
Epoch 41/60
2376/2376 - 0s - loss: 0.0530 - accuracy: 0.9811
Epoch 42/60
2376/2376 - 0s - loss: 0.0532 - accuracy: 0.9802
Epoch 43/60
2376/2376 - 0s - loss: 0.0499 - accuracy: 0.9840
Epoch 44/60
2376/2376 - 0s - loss: 0.0483 - accuracy: 0.9827
Epoch 45/60
2376/2376 - 0s - loss: 0.0527 - accuracy: 0.9781
Epoch 46/60
2376/2376 - 0s - loss: 0.0513 - accuracy: 0.9815
Epoch 47/60
2376/2376 - 0s - loss: 0.0482 - accuracy: 0.9844
Epoch 48/60
2376/2376 - 0s - loss: 0.0452 - accuracy: 0.9832
Epoch 49/60
2376/2376 - 0s - loss: 0.0604 - accuracy: 0.9794
Epoch 50/60
2376/2376 - 0s - loss: 0.0457 - accuracy: 0.9832
Epoch 51/60
2376/2376 - 0s - loss: 0.0465 - accuracy: 0.9827
Epoch 52/60
2376/2376 - 0s - loss: 0.0492 - accuracy: 0.9819
Epoch 53/60
2376/2376 - 0s - loss: 0.0477 - accuracy: 0.9823
Epoch 54/60
2376/2376 - 0s - loss: 0.0423 - accuracy: 0.9853
Epoch 55/60
2376/2376 - 0s - loss: 0.0478 - accuracy: 0.9823
Epoch 56/60
2376/2376 - 0s - loss: 0.0428 - accuracy: 0.9836
Epoch 57/60
2376/2376 - 0s - loss: 0.0431 - accuracy: 0.9840
Epoch 58/60
2376/2376 - 0s - loss: 0.0466 - accuracy: 0.9832
Epoch 59/60
2376/2376 - 0s - loss: 0.0428 - accuracy: 0.9857
Epoch 60/60
2376/2376 - 0s - loss: 0.0437 - accuracy: 0.9832

## Quantify our Trained Model

In [16]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

792/1 - 0s - loss: 0.0328 - accuracy: 0.9798
Normal Neural Network - Loss: 0.05984371190777782, Accuracy: 0.9797979593276978

## Make Predictions

In [17]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [18]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['female' 'female' 'female' 'female' 'female']
Actual Labels: ['female', 'female', 'female', 'female', 'female']