In [56]:
import pandas as pd

In [57]:
final_merge_df = pd.read_csv("../Resources/Final_Merge2.csv")
final_merge_df.head()

,Unnamed: 0,NPA,year,Petitioner,FromZone,ToZone,Type,SPA,INNOV,Acres,...,student_absenteeism,voters_participating,neighborhood_organizations,voter_participation,vacant_land,population_density,population,transit_ridership,street_connectivity,bicycle_friendliness
0,0,2,2020,Alenky Signature Homes LLC,R-4,R-8,NC,no,NO,0.398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2019,Mark Heisig,O-2,R-4,NC,no,NO,0.330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2014,"Eastway II Holdings, LLC",BD(CD),BD(CD),CD,SPA,NO,3.050,...,11.5,603.0,2.0,54.0,NaN,NaN,NaN,43.0,NaN,NaN
3,3,2,2014,"Eastway II Holdings, LLC",B-1SCD,BD(CD),CD,no,NO,3.740,...,11.5,603.0,2.0,54.0,NaN,NaN,NaN,43.0,NaN,NaN
4,4,2,2016,"Dr. Michael Berglass, DDS",UR-C(CD),UR-C(CD),CD,SPA,NO,0.440,...,15.0,1063.0,NaN,76.0,4.3,5.0,2240.0,NaN,1.2,1.5

In [58]:
#list the columns
final_merge_df.columns

Index(['Unnamed: 0', 'NPA', 'year', 'Petitioner', 'FromZone', 'ToZone', 'Type',
       'SPA', 'INNOV', 'Acres', 'Water', 'Sewer', 'CityLimit', 'CCW',
       'ServiceArea', 'LuseStaff', 'UrbanDesign', 'RezoneStaff', 'Received',
       'Approved', 'Decision', 'births_to_adolescents',
       'grocery_proximate_units', 'prenatal_care', 'grocery_proximity',
       'low_birthweight', 'public_health_insurance', 'age_of_death',
       'impervious_surface', 'water_consumption',
       'neighborhood_school_attendance', 'highschool_graduation_rate',
       'proficiency_elementary_school', 'proficiency_middle_school',
       'proficiency_high_school', 'student_absenteeism',
       'voters_participating', 'neighborhood_organizations',
       'voter_participation', 'vacant_land', 'population_density',
       'population', 'transit_ridership', 'street_connectivity',
       'bicycle_friendliness'],
      dtype='object')

In [59]:
# Get the distinct NPA values
npa_values = final_merge_df['NPA'].unique()
npa_values

array([  2,   3,   4,   6,   7,   8,  10,  11,  14,  15,  17,  18,  20,
        21,  22,  25,  26,  27,  28,  30,  33,  34,  35,  36,  37,  38,
        40,  45,  47,  48,  49,  51,  52,  53,  55,  58,  59,  60,  64,
        65,  66,  68,  70,  72,  73,  75,  76,  77,  78,  80,  82,  83,
        84,  88,  91,  93,  94,  96,  97,  98, 100, 103, 109, 110, 111,
       113, 114, 116, 117, 119, 120, 121, 124, 125, 126, 127, 132, 137,
       138, 139, 140, 141, 142, 143, 148, 149, 151, 153, 154, 155, 156,
       157, 158, 159, 160, 162, 163, 164, 170, 171, 172, 173, 174, 178,
       179, 180, 182, 183, 187, 188, 190, 191, 192, 193, 194, 195, 196,
       197, 198, 199, 200, 206, 207, 209, 210, 212, 213, 216, 218, 219,
       224, 225, 228, 229, 230, 231, 232, 233, 234, 235, 236, 238, 240,
       242, 245, 246, 251, 253, 254, 255, 256, 257, 260, 263, 267, 269,
       273, 276, 277, 278, 280, 281, 282, 284, 285, 286, 287, 289, 290,
       292, 296, 299, 303, 306, 307, 315, 316, 317, 318, 319, 320, 323,
       324, 328, 329, 331, 335, 336, 337, 338, 339, 340, 341, 342, 343,
       344, 345, 346, 347, 348, 349, 353, 356, 357, 358, 359, 360, 361,
       363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 375, 378,
       380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 392, 393,
       394, 437, 443, 444], dtype=int64)

In [60]:
# for each npa value, get the column values that are numeric
numeric_columns = ['Acres', 'births_to_adolescents', 'grocery_proximate_units', 'prenatal_care', 'grocery_proximity',
                  'low_birthweight', 'public_health_insurance', 'age_of_death', 'impervious_surface',
                  'water_consumption', 'neighborhood_school_attendance', 'highschool_graduation_rate', 
                   'proficiency_elementary_school', 'proficiency_middle_school', 'proficiency_high_school',
                   'student_absenteeism', 'voters_participating', 'neighborhood_organizations',
                   'voter_participation', 'vacant_land', 'population_density', 'population', 'transit_ridership',
                   'street_connectivity', 'bicycle_friendliness'
]
for npa_value in npa_values:
    for numeric_column in numeric_columns:
        npa_df = final_merge_df.loc[final_merge_df['NPA'] == npa_value]
        npa_numeric_df = npa_df[numeric_column]
        #print(npa_numeric_df.head())
        mean_value = npa_numeric_df.mean()
        print(mean_value)
        avg_df = npa_numeric_df.fillna(mean_value)
        avg_df = avg_df.fillna(-1)
        npa_df[numeric_column] = avg_df
        
        # replace NaN values with -999
        #final_merge_df.loc[(final_merge_df['NPA'] == npa_value),numeric_column].fillna(-9999, inplace=True)
        #final_merge_df.loc[((final_merge_df['NPA'] == npa_value) & (final_merge_df[numeric_column] == -999)),numeric_column]= mean_value

        final_merge_df.loc[(final_merge_df['NPA'] == npa_value),numeric_column] = avg_df
        print(final_merge_df.loc[(final_merge_df['NPA'] == npa_value),numeric_column].head())
        print(avg_df)
        #print(npa_df.head())

1.5916000000000001
0    0.398
1    0.330
2    3.050
3    3.740
4    0.440
Name: Acres, dtype: float64
0    0.398
1    0.330
2    3.050
3    3.740
4    0.440
Name: Acres, dtype: float64
3.1666666666666665
0    3.166667
1    3.166667
2    1.400000
3    1.400000
4    6.700000
Name: births_to_adolescents, dtype: float64
0    3.166667
1    3.166667
2    1.400000
3    1.400000
4    6.700000
Name: births_to_adolescents, dtype: float64
204.33333333333334
0    204.333333
1    204.333333
2    204.000000
3    204.000000
4    205.000000
Name: grocery_proximate_units, dtype: float64
0    204.333333
1    204.333333
2    204.000000
3    204.000000
4    205.000000
Name: grocery_proximate_units, dtype: float64
70.46666666666667
0    70.466667
1    70.466667
2    75.700000
3    75.700000
4    60.000000
Name: prenatal_care, dtype: float64
0    70.466667
1    70.466667
2    75.700000
3    75.700000
4    60.000000
Name: prenatal_care, dtype: float64
19.0
0    19.0
1    19.0
2    19.0
3    19.0
4    19.0
Name: grocery_proximity, dtype: float64
0    19.0
1    19.0
2    19.0
3    19.0
4    19.0
Name: grocery_proximity, dtype: float64
17.733333333333334
0    17.733333
1    17.733333
2    21.600000
3    21.600000
4    10.000000
Name: low_birthweight, dtype: float64
0    17.733333
1    17.733333
2    21.600000
3    21.600000
4    10.000000
Name: low_birthweight, dtype: float64
13.0
0    13.0
1    13.0
2    13.0
3    13.0
4    13.0
Name: public_health_insurance, dtype: float64
0    13.0
1    13.0
2    13.0
3    13.0
4    13.0
Name: public_health_insurance, dtype: float64
68.66666666666667
0    68.666667
1    68.666667
2    68.000000
3    68.000000
4    70.000000
Name: age_of_death, dtype: float64
0    68.666667
1    68.666667
2    68.000000
3    68.000000
4    70.000000
Name: age_of_death, dtype: float64
22.2
0    22.2
1    22.2
2    22.2
3    22.2
4    22.2
Name: impervious_surface, dtype: float64
0    22.2
1    22.2
2    22.2
3    22.2
4    22.2
Name: impervious_surface, dtype: float64
112.33333333333333
0    112.333333
1    112.333333
2    112.000000
3    112.000000
4    113.000000
Name: water_consumption, dtype: float64
0    112.333333
1    112.333333
2    112.000000
3    112.000000
4    113.000000
Name: water_consumption, dtype: float64
48.00666666666667
0    48.006667
1    48.006667
2    48.960000
3    48.960000
4    46.100000
Name: neighborhood_school_attendance, dtype: float64
0    48.006667
1    48.006667
2    48.960000
3    48.960000
4    46.100000
Name: neighborhood_school_attendance, dtype: float64
78.66666666666667
0    78.666667
1    78.666667
2    75.000000
3    75.000000
4    86.000000
Name: highschool_graduation_rate, dtype: float64
0    78.666667
1    78.666667
2    75.000000
3    75.000000
4    86.000000
Name: highschool_graduation_rate, dtype: float64
38.81578947368421
0    38.815789
1    38.815789
2    39.473684
3    39.473684
4    37.500000
Name: proficiency_elementary_school, dtype: float64
0    38.815789
1    38.815789
2    39.473684
3    39.473684
4    37.500000
Name: proficiency_elementary_school, dtype: float64
39.955555555555556
0    39.955556
1    39.955556
2    45.833333
3    45.833333
4    28.200000
Name: proficiency_middle_school, dtype: float64
0    39.955556
1    39.955556
2    45.833333
3    45.833333
4    28.200000
Name: proficiency_middle_school, dtype: float64
60.95757575757576
0    60.957576
1    60.957576
2    63.636364
3    63.636364
4    55.600000
Name: proficiency_high_school, dtype: float64
0    60.957576
1    60.957576
2    63.636364
3    63.636364
4    55.600000
Name: proficiency_high_school, dtype: float64
12.666666666666666
0    12.666667
1    12.666667
2    11.500000
3    11.500000
4    15.000000
Name: student_absenteeism, dtype: float64
0    12.666667
1    12.666667
2    11.500000
3    11.500000
4    15.000000
Name: student_absenteeism, dtype: float64
756.3333333333334
0     756.333333
1     756.333333
2     603.000000
3     603.000000
4    1063.000000
Name: voters_participating, dtype: float64
0     756.333333
1     756.333333
2     603.000000
3     603.000000
4    1063.000000
Name: voters_participating, dtype: float64
2.0
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: neighborhood_organizations, dtype: float64
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: neighborhood_organizations, dtype: float64
61.333333333333336
0    61.333333
1    61.333333
2    54.000000
3    54.000000
4    76.000000
Name: voter_participation, dtype: float64
0    61.333333
1    61.333333
2    54.000000
3    54.000000
4    76.000000
Name: voter_participation, dtype: float64
4.3
0    4.3
1    4.3
2    4.3
3    4.3
4    4.3
Name: vacant_land, dtype: float64
0    4.3
1    4.3
2    4.3
3    4.3
4    4.3
Name: vacant_land, dtype: float64
5.0
0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: population_density, dtype: float64
0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: population_density, dtype: float64
2240.0
0    2240.0
1    2240.0
2    2240.0
3    2240.0
4    2240.0
Name: population, dtype: float64
0    2240.0
1    2240.0
2    2240.0
3    2240.0
4    2240.0
Name: population, dtype: float64
43.0
0    43.0
1    43.0
2    43.0
3    43.0
4    43.0
Name: transit_ridership, dtype: float64
0    43.0
1    43.0
2    43.0
3    43.0
4    43.0
Name: transit_ridership, dtype: float64
1.2
0    1.2
1    1.2
2    1.2
3    1.2
4    1.2
Name: street_connectivity, dtype: float64
0    1.2
1    1.2
2    1.2
3    1.2
4    1.2
Name: street_connectivity, dtype: float64
1.5
0    1.5
1    1.5
2    1.5
3    1.5
4    1.5
Name: bicycle_friendliness, dtype: float64
0    1.5
1    1.5
2    1.5
3    1.5
4    1.5
Name: bicycle_friendliness, dtype: float64
10.912627906976743
5     0.260
6    70.530
7     0.529
8     2.710
9     0.419
Name: Acres, dtype: float64
5      0.260
6     70.530
7      0.529
8      2.710
9      0.419
10     1.300
11     1.020
12     2.990
13     1.020
14     0.419
15     1.750
16     1.200
17     0.400
18     2.910
19     0.529
20     0.210
21     1.750
22     1.379
23     2.990
24     2.820
25     1.400
26     0.750
27     2.910
28     0.320
29    70.530
30     2.710
31     0.930
32     0.400
33    70.530
34     1.280
35     1.030
36     0.490
37    70.530
38     0.520
39    70.530
40     0.759
41     0.759
42     0.280
43     4.400
44    70.530
45     0.150
46     0.160
47     0.210
Name: Acres, dtype: float64
3.375
5    3.375
6    3.375
7    3.375
8    3.000
9    3.375
Name: births_to_adolescents, dtype: float64
5     3.375
6     3.375
7     3.375
8     3.000
9     3.375
10    3.500
11    3.500
12    3.500
13    3.500
14    3.375
15    3.375
16    3.375
17    3.500
18    3.500
19    3.375
20    3.000
21    3.375
22    3.375
23    3.500
24    3.375
25    3.375
26    3.500
27    3.500
28    3.375
29    3.375
30    3.000
31    3.375
32    3.375
33    3.375
34    3.500
35    3.000
36    3.375
37    3.375
38    3.375
39    3.375
40    3.375
41    3.375
42    3.500
43    3.375
44    3.375
45    3.375
46    3.375
47    3.500
Name: births_to_adolescents, dtype: float64
3092.483870967742
5    3118.000000
6    3092.483871
7    3349.000000
8    3113.000000
9    3118.000000
Name: grocery_proximate_units, dtype: float64
5     3118.000000
6     3092.483871
7     3349.000000
8     3113.000000
9     3118.000000
10    2565.000000
11    2565.000000
12    2565.000000
13    2565.000000
14    3118.000000
15    4611.000000
16    3092.483871
17    2565.000000
18    2565.000000
19    3349.000000
20    3113.000000
21    4611.000000
22    3092.483871
23    2565.000000
24    3349.000000
25    3349.000000
26    2565.000000
27    2565.000000
28    3092.483871
29    3092.483871
30    3113.000000
31    3349.000000
32    3118.000000
33    3092.483871
34    2565.000000
35    3113.000000
36    4611.000000
37    3092.483871
38    3118.000000
39    3092.483871
40    3092.483871
41    3092.483871
42    2565.000000
43    3118.000000
44    3092.483871
45    3092.483871
46    3349.000000
47    2565.000000
Name: grocery_proximate_units, dtype: float64
82.30000000000001
5    82.3
6    82.3
7    82.3
8    80.2
9    82.3
Name: prenatal_care, dtype: float64
5     82.3
6     82.3
7     82.3
8     80.2
9     82.3
10    83.0
11    83.0
12    83.0
13    83.0
14    82.3
15    82.3
16    82.3
17    83.0
18    83.0
19    82.3
20    80.2
21    82.3
22    82.3
23    83.0
24    82.3
25    82.3
26    83.0
27    83.0
28    82.3
29    82.3
30    80.2
31    82.3
32    82.3
33    82.3
34    83.0
35    80.2
36    82.3
37    82.3
38    82.3
39    82.3
40    82.3
41    82.3
42    83.0
43    82.3
44    82.3
45    82.3
46    82.3
47    83.0
Name: prenatal_care, dtype: float64
64.83870967741936
5    66.00000
6    64.83871
7    78.00000
8    66.00000
9    66.00000
Name: grocery_proximity, dtype: float64
5     66.00000
6     64.83871
7     78.00000
8     66.00000
9     66.00000
10    54.00000
11    54.00000
12    54.00000
13    54.00000
14    66.00000
15    78.00000
16    64.83871
17    54.00000
18    54.00000
19    78.00000
20    66.00000
21    78.00000
22    64.83871
23    54.00000
24    78.00000
25    78.00000
26    54.00000
27    54.00000
28    64.83871
29    64.83871
30    66.00000
31    78.00000
32    66.00000
33    64.83871
34    54.00000
35    66.00000
36    78.00000
37    64.83871
38    66.00000
39    64.83871
40    64.83871
41    64.83871
42    54.00000
43    66.00000
44    64.83871
45    64.83871
46    78.00000
47    54.00000
Name: grocery_proximity, dtype: float64
8.250000000000002
5    8.25
6    8.25
7    8.25
8    6.90
9    8.25
Name: low_birthweight, dtype: float64
5     8.25
6     8.25
7     8.25
8     6.90
9     8.25
10    8.70
11    8.70
12    8.70
13    8.70
14    8.25
15    8.25
16    8.25
17    8.70
18    8.70
19    8.25
20    6.90
21    8.25
22    8.25
23    8.70
24    8.25
25    8.25
26    8.70
27    8.70
28    8.25
29    8.25
30    6.90
31    8.25
32    8.25
33    8.25
34    8.70
35    6.90
36    8.25
37    8.25
38    8.25
39    8.25
40    8.25
41    8.25
42    8.70
43    8.25
44    8.25
45    8.25
46    8.25
47    8.70
Name: low_birthweight, dtype: float64
6.5
5    4.0
6    6.5
7    6.0
8    6.5
9    4.0
Name: public_health_insurance, dtype: float64
5     4.0
6     6.5
7     6.0
8     6.5
9     4.0
10    8.0
11    8.0
12    8.0
13    8.0
14    4.0
15    6.5
16    6.5
17    8.0
18    8.0
19    6.0
20    6.5
21    6.5
22    6.5
23    8.0
24    6.0
25    6.0
26    8.0
27    8.0
28    6.5
29    6.5
30    6.5
31    6.0
32    4.0
33    6.5
34    8.0
35    6.5
36    6.5
37    6.5
38    4.0
39    6.5
40    6.5
41    6.5
42    8.0
43    4.0
44    6.5
45    6.5
46    6.0
47    8.0
Name: public_health_insurance, dtype: float64
70.0
5    70.0
6    70.0
7    70.0
8    70.0
9    70.0
Name: age_of_death, dtype: float64
5     70.0
6     70.0
7     70.0
8     70.0
9     70.0
10    70.0
11    70.0
12    70.0
13    70.0
14    70.0
15    70.0
16    70.0
17    70.0
18    70.0
19    70.0
20    70.0
21    70.0
22    70.0
23    70.0
24    70.0
25    70.0
26    70.0
27    70.0
28    70.0
29    70.0
30    70.0
31    70.0
32    70.0
33    70.0
34    70.0
35    70.0
36    70.0
37    70.0
38    70.0
39    70.0
40    70.0
41    70.0
42    70.0
43    70.0
44    70.0
45    70.0
46    70.0
47    70.0
Name: age_of_death, dtype: float64
38.07368421052632
5    37.300000
6    38.073684
7    38.600000
8    37.900000
9    37.300000
Name: impervious_surface, dtype: float64
5     37.300000
6     38.073684
7     38.600000
8     37.900000
9     37.300000
10    38.073684
11    38.073684
12    38.073684
13    38.073684
14    37.300000
15    38.800000
16    38.073684
17    38.073684
18    38.073684
19    38.600000
20    37.900000
21    38.800000
22    38.073684
23    38.073684
24    38.600000
25    38.600000
26    38.073684
27    38.073684
28    38.073684
29    38.073684
30    37.900000
31    38.600000
32    37.300000
33    38.073684
34    38.073684
35    37.900000
36    38.800000
37    38.073684
38    37.300000
39    38.073684
40    38.073684
41    38.073684
42    38.073684
43    37.300000
44    38.073684
45    38.073684
46    38.600000
47    38.073684
Name: impervious_surface, dtype: float64
164.47368421052633

C:\Users\gshre\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5    164.473684
6    164.473684
7    164.473684
8    176.000000
9    164.473684
Name: water_consumption, dtype: float64
5     164.473684
6     164.473684
7     164.473684
8     176.000000
9     164.473684
10    161.000000
11    161.000000
12    161.000000
13    161.000000
14    164.473684
15    163.000000
16    164.473684
17    161.000000
18    161.000000
19    164.473684
20    176.000000
21    163.000000
22    164.473684
23    161.000000
24    164.473684
25    164.473684
26    161.000000
27    161.000000
28    164.473684
29    164.473684
30    176.000000
31    164.473684
32    164.473684
33    164.473684
34    161.000000
35    176.000000
36    163.000000
37    164.473684
38    164.473684
39    164.473684
40    164.473684
41    164.473684
42    161.000000
43    164.473684
44    164.473684
45    164.473684
46    164.473684
47    161.000000
Name: water_consumption, dtype: float64
77.52571428571427
5    76.840000
6    77.525714
7    82.000000
8    79.600000
9    76.840000
Name: neighborhood_school_attendance, dtype: float64
5     76.840000
6     77.525714
7     82.000000
8     79.600000
9     76.840000
10    74.940000
11    74.940000
12    74.940000
13    74.940000
14    76.840000
15    77.525714
16    77.525714
17    74.940000
18    74.940000
19    82.000000
20    79.600000
21    77.525714
22    77.525714
23    74.940000
24    82.000000
25    82.000000
26    74.940000
27    74.940000
28    77.525714
29    77.525714
30    79.600000
31    82.000000
32    76.840000
33    77.525714
34    74.940000
35    79.600000
36    77.525714
37    77.525714
38    76.840000
39    77.525714
40    77.525714
41    77.525714
42    74.940000
43    76.840000
44    77.525714
45    77.525714
46    82.000000
47    74.940000
Name: neighborhood_school_attendance, dtype: float64
95.07142857142857
5    100.000000
6     95.071429
7     95.000000
8    100.000000
9    100.000000
Name: highschool_graduation_rate, dtype: float64
5     100.000000
6      95.071429
7      95.000000
8     100.000000
9     100.000000
10     91.000000
11     91.000000
12     91.000000
13     91.000000
14    100.000000
15     95.071429
16     95.071429
17     91.000000
18     91.000000
19     95.000000
20    100.000000
21     95.071429
22     95.071429
23     91.000000
24     95.000000
25     95.000000
26     91.000000
27     91.000000
28     95.071429
29     95.071429
30    100.000000
31     95.000000
32    100.000000
33     95.071429
34     91.000000
35    100.000000
36     95.071429
37     95.071429
38    100.000000
39     95.071429
40     95.071429
41     95.071429
42     91.000000
43    100.000000
44     95.071429
45     95.071429
46     95.000000
47     91.000000
Name: highschool_graduation_rate, dtype: float64
85.98095693779904
5    84.210526
6    85.980957
7    86.100000
8    87.310000
9    84.210526
Name: proficiency_elementary_school, dtype: float64
5     84.210526
6     85.980957
7     86.100000
8     87.310000
9     84.210526
10    86.363636
11    86.363636
12    86.363636
13    86.363636
14    84.210526
15    85.980957
16    85.980957
17    86.363636
18    86.363636
19    86.100000
20    87.310000
21    85.980957
22    85.980957
23    86.363636
24    86.100000
25    86.100000
26    86.363636
27    86.363636
28    85.980957
29    85.980957
30    87.310000
31    86.100000
32    84.210526
33    85.980957
34    86.363636
35    87.310000
36    85.980957
37    85.980957
38    84.210526
39    85.980957
40    85.980957
41    85.980957
42    86.363636
43    84.210526
44    85.980957
45    85.980957
46    86.100000
47    86.363636
Name: proficiency_elementary_school, dtype: float64
80.22193277310926
5    79.520000
6    80.221933
7    82.300000
8    85.000000
9    79.520000
Name: proficiency_middle_school, dtype: float64
5     79.520000
6     80.221933
7     82.300000
8     85.000000
9     79.520000
10    77.941176
11    77.941176
12    77.941176
13    77.941176
14    79.520000
15    80.221933
16    80.221933
17    77.941176
18    77.941176
19    82.300000
20    85.000000
21    80.221933
22    80.221933
23    77.941176
24    82.300000
25    82.300000
26    77.941176
27    77.941176
28    80.221933
29    80.221933
30    85.000000
31    82.300000
32    79.520000
33    80.221933
34    77.941176
35    85.000000
36    80.221933
37    80.221933
38    79.520000
39    80.221933
40    80.221933
41    80.221933
42    77.941176
43    79.520000
44    80.221933
45    80.221933
46    82.300000
47    77.941176
Name: proficiency_middle_school, dtype: float64
66.04285714285716
5    65.000000
6    66.042857
7    68.200000
8    62.500000
9    65.000000
Name: proficiency_high_school, dtype: float64
5     65.000000
6     66.042857
7     68.200000
8     62.500000
9     65.000000
10    66.666667
11    66.666667
12    66.666667
13    66.666667
14    65.000000
15    66.042857
16    66.042857
17    66.666667
18    66.666667
19    68.200000
20    62.500000
21    66.042857
22    66.042857
23    66.666667
24    68.200000
25    68.200000
26    66.666667
27    66.666667
28    66.042857
29    66.042857
30    62.500000
31    68.200000
32    65.000000
33    66.042857
34    66.666667
35    62.500000
36    66.042857
37    66.042857
38    65.000000
39    66.042857
40    66.042857
41    66.042857
42    66.666667
43    65.000000
44    66.042857
45    66.042857
46    68.200000
47    66.666667
Name: proficiency_high_school, dtype: float64
5.586195163997641
5    5.721393
6    5.586195
7    5.000000
8    6.000000
9    5.721393
Name: student_absenteeism, dtype: float64
5     5.721393
6     5.586195
7     5.000000
8     6.000000
9     5.721393
10    5.673759
11    5.673759
12    5.673759
13    5.673759
14    5.721393
15    5.586195
16    5.586195
17    5.673759
18    5.673759
19    5.000000
20    6.000000
21    5.586195
22    5.586195
23    5.673759
24    5.000000
25    5.000000
26    5.673759
27    5.673759
28    5.586195
29    5.586195
30    6.000000
31    5.000000
32    5.721393
33    5.586195
34    5.673759
35    6.000000
36    5.586195
37    5.586195
38    5.721393
39    5.586195
40    5.586195
41    5.586195
42    5.673759
43    5.721393
44    5.586195
45    5.586195
46    5.000000
47    5.673759
Name: student_absenteeism, dtype: float64
2758.0967741935483
5    1354.000000
6    2758.096774
7    1736.000000
8    5386.000000
9    1354.000000
Name: voters_participating, dtype: float64
5     1354.000000
6     2758.096774
7     1736.000000
8     5386.000000
9     1354.000000
10    2787.000000
11    2787.000000
12    2787.000000
13    2787.000000
14    1354.000000
15    3991.000000
16    2758.096774
17    2787.000000
18    2787.000000
19    1736.000000
20    5386.000000
21    3991.000000
22    2758.096774
23    2787.000000
24    1736.000000
25    1736.000000
26    2787.000000
27    2787.000000
28    2758.096774
29    2758.096774
30    5386.000000
31    1736.000000
32    1354.000000
33    2758.096774
34    2787.000000
35    5386.000000
36    3991.000000
37    2758.096774
38    1354.000000
39    2758.096774
40    2758.096774
41    2758.096774
42    2787.000000
43    1354.000000
44    2758.096774
45    2758.096774
46    1736.000000
47    2787.000000
Name: voters_participating, dtype: float64
7.0
5    7.0
6    7.0
7    7.0
8    7.0
9    7.0
Name: neighborhood_organizations, dtype: float64
5     7.0
6     7.0
7     7.0
8     7.0
9     7.0
10    7.0
11    7.0
12    7.0
13    7.0
14    7.0
15    7.0
16    7.0
17    7.0
18    7.0
19    7.0
20    7.0
21    7.0
22    7.0
23    7.0
24    7.0
25    7.0
26    7.0
27    7.0
28    7.0
29    7.0
30    7.0
31    7.0
32    7.0
33    7.0
34    7.0
35    7.0
36    7.0
37    7.0
38    7.0
39    7.0
40    7.0
41    7.0
42    7.0
43    7.0
44    7.0
45    7.0
46    7.0
47    7.0
Name: neighborhood_organizations, dtype: float64
46.29032258064516
5    24.000000
6    46.290323
7    25.000000
8    76.000000
9    24.000000
Name: voter_participation, dtype: float64
5     24.000000
6     46.290323
7     25.000000
8     76.000000
9     24.000000
10    53.000000
11    53.000000
12    53.000000
13    53.000000
14    24.000000
15    67.000000
16    46.290323
17    53.000000
18    53.000000
19    25.000000
20    76.000000
21    67.000000
22    46.290323
23    53.000000
24    25.000000
25    25.000000
26    53.000000
27    53.000000
28    46.290323
29    46.290323
30    76.000000
31    25.000000
32    24.000000
33    46.290323
34    53.000000
35    76.000000
36    67.000000
37    46.290323
38    24.000000
39    46.290323
40    46.290323
41    46.290323
42    53.000000
43    24.000000
44    46.290323
45    46.290323
46    25.000000
47    53.000000
Name: voter_participation, dtype: float64
2.4315789473684206
5    2.500000
6    2.431579
7    2.400000
8    2.400000
9    2.500000
Name: vacant_land, dtype: float64
5     2.500000
6     2.431579
7     2.400000
8     2.400000
9     2.500000
10    2.431579
11    2.431579
12    2.431579
13    2.431579
14    2.500000
15    2.400000
16    2.431579
17    2.431579
18    2.431579
19    2.400000
20    2.400000
21    2.400000
22    2.431579
23    2.431579
24    2.400000
25    2.400000
26    2.431579
27    2.431579
28    2.431579
29    2.431579
30    2.400000
31    2.400000
32    2.500000
33    2.431579
34    2.431579
35    2.400000
36    2.400000
37    2.431579
38    2.500000
39    2.431579
40    2.431579
41    2.431579
42    2.431579
43    2.500000
44    2.431579
45    2.431579
46    2.400000
47    2.431579
Name: vacant_land, dtype: float64
7.473684210526316
5    7.000000
6    7.473684
7    8.000000
8    7.000000
9    7.000000
Name: population_density, dtype: float64
5     7.000000
6     7.473684
7     8.000000
8     7.000000
9     7.000000
10    7.473684
11    7.473684
12    7.473684
13    7.473684
14    7.000000
15    8.000000
16    7.473684
17    7.473684
18    7.473684
19    8.000000
20    7.000000
21    8.000000
22    7.473684
23    7.473684
24    8.000000
25    8.000000
26    7.473684
27    7.473684
28    7.473684
29    7.473684
30    7.000000
31    8.000000
32    7.000000
33    7.473684
34    7.473684
35    7.000000
36    8.000000
37    7.473684
38    7.000000
39    7.473684
40    7.473684
41    7.473684
42    7.473684
43    7.000000
44    7.473684
45    7.473684
46    8.000000
47    7.473684
Name: population_density, dtype: float64
8512.736842105263
5    7938.000000
6    8512.736842
7    8816.000000
8    7986.000000
9    7938.000000
Name: population, dtype: float64
5     7938.000000
6     8512.736842
7     8816.000000
8     7986.000000
9     7938.000000
10    8512.736842
11    8512.736842
12    8512.736842
13    8512.736842
14    7938.000000
15    9758.000000
16    8512.736842
17    8512.736842
18    8512.736842
19    8816.000000
20    7986.000000
21    9758.000000
22    8512.736842
23    8512.736842
24    8816.000000
25    8816.000000
26    8512.736842
27    8512.736842
28    8512.736842
29    8512.736842
30    7986.000000
31    8816.000000
32    7938.000000
33    8512.736842
34    8512.736842
35    7986.000000
36    9758.000000
37    8512.736842
38    7938.000000
39    8512.736842
40    8512.736842
41    8512.736842
42    8512.736842
43    7938.000000
44    8512.736842
45    8512.736842
46    8816.000000
47    8512.736842
Name: population, dtype: float64
34.666666666666664
5    34.000000
6    34.666667
7    34.666667
8    34.666667
9    34.000000
Name: transit_ridership, dtype: float64
5     34.000000
6     34.666667
7     34.666667
8     34.666667
9     34.000000
10    35.000000
11    35.000000
12    35.000000
13    35.000000
14    34.000000
15    34.666667
16    34.666667
17    35.000000
18    35.000000
19    34.666667
20    34.666667
21    34.666667
22    34.666667
23    35.000000
24    34.666667
25    34.666667
26    35.000000
27    35.000000
28    34.666667
29    34.666667
30    34.666667
31    34.666667
32    34.000000
33    34.666667
34    35.000000
35    34.666667
36    34.666667
37    34.666667
38    34.000000
39    34.666667
40    34.666667
41    34.666667
42    35.000000
43    34.000000
44    34.666667
45    34.666667
46    34.666667
47    35.000000
Name: transit_ridership, dtype: float64
1.4863157894736843
5    1.500000
6    1.486316
7    1.480000
8    1.480000
9    1.500000
Name: street_connectivity, dtype: float64
5     1.500000
6     1.486316
7     1.480000
8     1.480000
9     1.500000
10    1.486316
11    1.486316
12    1.486316
13    1.486316
14    1.500000
15    1.480000
16    1.486316
17    1.486316
18    1.486316
19    1.480000
20    1.480000
21    1.480000
22    1.486316
23    1.486316
24    1.480000
25    1.480000
26    1.486316
27    1.486316
28    1.486316
29    1.486316
30    1.480000
31    1.480000
32    1.500000
33    1.486316
34    1.486316
35    1.480000
36    1.480000
37    1.486316
38    1.500000
39    1.486316
40    1.486316
41    1.486316
42    1.486316
43    1.500000
44    1.486316
45    1.486316
46    1.480000
47    1.486316
Name: street_connectivity, dtype: float64
2.121052631578948
5    2.100000
6    2.121053
7    2.100000
8    2.200000
9    2.100000
Name: bicycle_friendliness, dtype: float64
5     2.100000
6     2.121053
7     2.100000
8     2.200000
9     2.100000
10    2.121053
11    2.121053
12    2.121053
13    2.121053
14    2.100000
15    2.100000
16    2.121053
17    2.121053
18    2.121053
19    2.100000
20    2.200000
21    2.100000
22    2.121053
23    2.121053
24    2.100000
25    2.100000
26    2.121053
27    2.121053
28    2.121053
29    2.121053
30    2.200000
31    2.100000
32    2.100000
33    2.121053
34    2.121053
35    2.200000
36    2.100000
37    2.121053
38    2.100000
39    2.121053
40    2.121053
41    2.121053
42    2.121053
43    2.100000
44    2.121053
45    2.121053
46    2.100000
47    2.121053
Name: bicycle_friendliness, dtype: float64
6.32
48    6.32
Name: Acres, dtype: float64
48    6.32
Name: Acres, dtype: float64
0.0
48    0.0
Name: births_to_adolescents, dtype: float64
48    0.0
Name: births_to_adolescents, dtype: float64
52.0
48    52.0
Name: grocery_proximate_units, dtype: float64
48    52.0
Name: grocery_proximate_units, dtype: float64
70.6
48    70.6
Name: prenatal_care, dtype: float64
48    70.6
Name: prenatal_care, dtype: float64
13.0
48    13.0
Name: grocery_proximity, dtype: float64
48    13.0
Name: grocery_proximity, dtype: float64
5.9
48    5.9
Name: low_birthweight, dtype: float64
48    5.9
Name: low_birthweight, dtype: float64
nan
48   -1.0
Name: public_health_insurance, dtype: float64
48   -1.0
Name: public_health_insurance, dtype: float64
76.0
48    76.0
Name: age_of_death, dtype: float64
48    76.0
Name: age_of_death, dtype: float64
20.0
48    20.0
Name: impervious_surface, dtype: float64
48    20.0
Name: impervious_surface, dtype: float64
267.0
48    267.0
Name: water_consumption, dtype: float64
48    267.0
Name: water_consumption, dtype: float64
79.5
48    79.5
Name: neighborhood_school_attendance, dtype: float64
48    79.5
Name: neighborhood_school_attendance, dtype: float64
100.0
48    100.0
Name: highschool_graduation_rate, dtype: float64
48    100.0
Name: highschool_graduation_rate, dtype: float64
96.15
48    96.15
Name: proficiency_elementary_school, dtype: float64
48    96.15
Name: proficiency_elementary_school, dtype: float64
85.7
48    85.7
Name: proficiency_middle_school, dtype: float64
48    85.7
Name: proficiency_middle_school, dtype: float64
66.7
48    66.7
Name: proficiency_high_school, dtype: float64
48    66.7
Name: proficiency_high_school, dtype: float64
2.0
48    2.0
Name: student_absenteeism, dtype: float64
48    2.0
Name: student_absenteeism, dtype: float64

695.0
48    695.0
Name: voters_participating, dtype: float64
48    695.0
Name: voters_participating, dtype: float64
nan
48   -1.0
Name: neighborhood_organizations, dtype: float64
48   -1.0
Name: neighborhood_organizations, dtype: float64
86.0
48    86.0
Name: voter_participation, dtype: float64
48    86.0
Name: voter_participation, dtype: float64
4.3
48    4.3
Name: vacant_land, dtype: float64
48    4.3
Name: vacant_land, dtype: float64
3.0
48    3.0
Name: population_density, dtype: float64
48    3.0
Name: population_density, dtype: float64
1080.0
48    1080.0
Name: population, dtype: float64
48    1080.0
Name: population, dtype: float64
nan
48   -1.0
Name: transit_ridership, dtype: float64
48   -1.0
Name: transit_ridership, dtype: float64
1.17
48    1.17
Name: street_connectivity, dtype: float64
48    1.17
Name: street_connectivity, dtype: float64
1.8
48    1.8
Name: bicycle_friendliness, dtype: float64
48    1.8
Name: bicycle_friendliness, dtype: float64
3.5795000000000003
49    6.190
50    6.190
51    1.670
52    0.268
Name: Acres, dtype: float64
49    6.190
50    6.190
51    1.670
52    0.268
Name: Acres, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: births_to_adolescents, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: births_to_adolescents, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: grocery_proximate_units, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: grocery_proximate_units, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: prenatal_care, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: prenatal_care, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: grocery_proximity, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: grocery_proximity, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: low_birthweight, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: low_birthweight, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: public_health_insurance, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: public_health_insurance, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: age_of_death, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: age_of_death, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: impervious_surface, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: impervious_surface, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: water_consumption, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: water_consumption, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: neighborhood_school_attendance, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: highschool_graduation_rate, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_elementary_school, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_middle_school, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_middle_school, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_high_school, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: proficiency_high_school, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: student_absenteeism, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: student_absenteeism, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: voters_participating, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: voters_participating, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: neighborhood_organizations, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: neighborhood_organizations, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: voter_participation, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: voter_participation, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: vacant_land, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: vacant_land, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: population_density, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: population_density, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: population, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: population, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: transit_ridership, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: transit_ridership, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: street_connectivity, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: street_connectivity, dtype: float64
nan
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: bicycle_friendliness, dtype: float64
49   -1.0
50   -1.0
51   -1.0
52   -1.0
Name: bicycle_friendliness, dtype: float64
4.2124999999999995
53    7.10
54    7.10
55    1.53
56    1.12
Name: Acres, dtype: float64
53    7.10
54    7.10
55    1.53
56    1.12
Name: Acres, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: births_to_adolescents, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: births_to_adolescents, dtype: float64
199.0
53    199.0
54    199.0
55    199.0
56    199.0
Name: grocery_proximate_units, dtype: float64
53    199.0
54    199.0
55    199.0
56    199.0
Name: grocery_proximate_units, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: prenatal_care, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: prenatal_care, dtype: float64
47.0
53    47.0
54    47.0
55    47.0
56    47.0
Name: grocery_proximity, dtype: float64
53    47.0
54    47.0
55    47.0
56    47.0
Name: grocery_proximity, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: low_birthweight, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: low_birthweight, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: public_health_insurance, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: public_health_insurance, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: age_of_death, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: age_of_death, dtype: float64
26.5
53    26.5
54    26.5
55    26.5
56    26.5
Name: impervious_surface, dtype: float64
53    26.5
54    26.5
55    26.5
56    26.5
Name: impervious_surface, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: water_consumption, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: water_consumption, dtype: float64
97.18
53    97.18
54    97.18
55    97.18
56    97.18
Name: neighborhood_school_attendance, dtype: float64
53    97.18
54    97.18
55    97.18
56    97.18
Name: neighborhood_school_attendance, dtype: float64
100.0
53    100.0
54    100.0
55    100.0
56    100.0
Name: highschool_graduation_rate, dtype: float64
53    100.0
54    100.0
55    100.0
56    100.0
Name: highschool_graduation_rate, dtype: float64
94.44444444444441
53    94.444444
54    94.444444
55    94.444444
56    94.444444
Name: proficiency_elementary_school, dtype: float64
53    94.444444
54    94.444444
55    94.444444
56    94.444444
Name: proficiency_elementary_school, dtype: float64
100.0
53    100.0
54    100.0
55    100.0
56    100.0
Name: proficiency_middle_school, dtype: float64
53    100.0
54    100.0
55    100.0
56    100.0
Name: proficiency_middle_school, dtype: float64
nan
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: proficiency_high_school, dtype: float64
53   -1.0
54   -1.0
55   -1.0
56   -1.0
Name: proficiency_high_school, dtype: float64
1.40845070422535
53    1.408451
54    1.408451
55    1.408451
56    1.408451
Name: student_absenteeism, dtype: float64
53    1.408451
54    1.408451
55    1.408451
56    1.408451
Name: student_absenteeism, dtype: float64
399.0
53    399.0
54    399.0
55    399.0
56    399.0
Name: voters_participating, dtype: float64
53    399.0
54    399.0
55    399.0
56    399.0
Name: voters_participating, dtype: float64
1.0
53    1.0
54    1.0
55    1.0
56    1.0
Name: neighborhood_organizations, dtype: float64
53    1.0
54    1.0
55    1.0
56    1.0
Name: neighborhood_organizations, dtype: float64
43.0
53    43.0
54    43.0
55    43.0
56    43.0
Name: voter_participation, dtype: float64
53    43.0
54    43.0
55    43.0
56    43.0
Name: voter_participation, dtype: float64
2.2
53    2.2
54    2.2
55    2.2
56    2.2
Name: vacant_land, dtype: float64
53    2.2
54    2.2
55    2.2
56    2.2
Name: vacant_land, dtype: float64
2.0
53    2.0
54    2.0
55    2.0
56    2.0
Name: population_density, dtype: float64
53    2.0
54    2.0
55    2.0
56    2.0
Name: population_density, dtype: float64
1310.0
53    1310.0
54    1310.0
55    1310.0
56    1310.0
Name: population, dtype: float64
53    1310.0
54    1310.0
55    1310.0
56    1310.0
Name: population, dtype: float64
30.0
53    30.0
54    30.0
55    30.0
56    30.0
Name: transit_ridership, dtype: float64
53    30.0
54    30.0
55    30.0
56    30.0
Name: transit_ridership, dtype: float64
1.19
53    1.19
54    1.19
55    1.19
56    1.19
Name: street_connectivity, dtype: float64
53    1.19
54    1.19
55    1.19
56    1.19
Name: street_connectivity, dtype: float64
1.5
53    1.5
54    1.5
55    1.5
56    1.5
Name: bicycle_friendliness, dtype: float64
53    1.5
54    1.5
55    1.5
56    1.5
Name: bicycle_friendliness, dtype: float64
1.5599999999999998
57    1.36
58    0.72
59    2.60
Name: Acres, dtype: float64
57    1.36
58    0.72
59    2.60
Name: Acres, dtype: float64
0.0
57    0.0
58    0.0
59    0.0
Name: births_to_adolescents, dtype: float64
57    0.0
58    0.0
59    0.0
Name: births_to_adolescents, dtype: float64
127.0
57    127.0
58    127.0
59    127.0
Name: grocery_proximate_units, dtype: float64
57    127.0
58    127.0
59    127.0
Name: grocery_proximate_units, dtype: float64
90.7
57    90.7
58    90.7
59    90.7
Name: prenatal_care, dtype: float64
57    90.7
58    90.7
59    90.7
Name: prenatal_care, dtype: float64
12.0
57    12.0
58    12.0
59    12.0
Name: grocery_proximity, dtype: float64
57    12.0
58    12.0
59    12.0
Name: grocery_proximity, dtype: float64
4.7
57    4.7
58    4.7
59    4.7
Name: low_birthweight, dtype: float64
57    4.7
58    4.7
59    4.7
Name: low_birthweight, dtype: float64
20.0
57    20.0
58    20.0
59    20.0
Name: public_health_insurance, dtype: float64
57    20.0
58    20.0
59    20.0
Name: public_health_insurance, dtype: float64
85.0
57    85.0
58    85.0
59    85.0
Name: age_of_death, dtype: float64
57    85.0
58    85.0
59    85.0
Name: age_of_death, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: impervious_surface, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: impervious_surface, dtype: float64
124.0
57    124.0
58    124.0
59    124.0
Name: water_consumption, dtype: float64
57    124.0
58    124.0
59    124.0
Name: water_consumption, dtype: float64
33.33
57    33.33
58    33.33
59    33.33
Name: neighborhood_school_attendance, dtype: float64
57    33.33
58    33.33
59    33.33
Name: neighborhood_school_attendance, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: highschool_graduation_rate, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: highschool_graduation_rate, dtype: float64
81.81818181818183
57    81.818182
58    81.818182
59    81.818182
Name: proficiency_elementary_school, dtype: float64
57    81.818182
58    81.818182
59    81.818182
Name: proficiency_elementary_school, dtype: float64
71.42857142857143
57    71.428571
58    71.428571
59    71.428571
Name: proficiency_middle_school, dtype: float64
57    71.428571
58    71.428571
59    71.428571
Name: proficiency_middle_school, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: proficiency_high_school, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: proficiency_high_school, dtype: float64
10.769230769230768
57    10.769231
58    10.769231
59    10.769231
Name: student_absenteeism, dtype: float64
57    10.769231
58    10.769231
59    10.769231
Name: student_absenteeism, dtype: float64
583.0
57    583.0
58    583.0
59    583.0
Name: voters_participating, dtype: float64
57    583.0
58    583.0
59    583.0
Name: voters_participating, dtype: float64
3.0
57    3.0
58    3.0
59    3.0
Name: neighborhood_organizations, dtype: float64
57    3.0
58    3.0
59    3.0
Name: neighborhood_organizations, dtype: float64
58.0
57    58.0
58    58.0
59    58.0
Name: voter_participation, dtype: float64
57    58.0
58    58.0
59    58.0
Name: voter_participation, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: vacant_land, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: vacant_land, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: population_density, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: population_density, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: population, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: population, dtype: float64
11.0
57    11.0
58    11.0
59    11.0
Name: transit_ridership, dtype: float64
57    11.0
58    11.0
59    11.0
Name: transit_ridership, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: street_connectivity, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: street_connectivity, dtype: float64
nan
57   -1.0
58   -1.0
59   -1.0
Name: bicycle_friendliness, dtype: float64
57   -1.0
58   -1.0
59   -1.0
Name: bicycle_friendliness, dtype: float64
0.5900000000000001
60    0.33
61    0.37
62    1.53
63    0.37
64    0.35
Name: Acres, dtype: float64
60    0.33
61    0.37
62    1.53
63    0.37
64    0.35
Name: Acres, dtype: float64
1.8
60    1.8
61    1.8
62    1.8
63    1.8
64    1.8
Name: births_to_adolescents, dtype: float64
60    1.8
61    1.8
62    1.8
63    1.8
64    1.8
Name: births_to_adolescents, dtype: float64
1088.5
60    1036.0
61    1088.5
62    1246.0
63    1036.0
64    1036.0
Name: grocery_proximate_units, dtype: float64
60    1036.0
61    1088.5
62    1246.0
63    1036.0
64    1036.0
Name: grocery_proximate_units, dtype: float64
60.2
60    60.2
61    60.2
62    60.2
63    60.2
64    60.2
Name: prenatal_care, dtype: float64
60    60.2
61    60.2
62    60.2
63    60.2
64    60.2
Name: prenatal_care, dtype: float64
68.25
60    65.00
61    68.25
62    78.00
63    65.00
64    65.00
Name: grocery_proximity, dtype: float64
60    65.00
61    68.25
62    78.00
63    65.00
64    65.00
Name: grocery_proximity, dtype: float64
12.4
60    12.4
61    12.4
62    12.4
63    12.4
64    12.4
Name: low_birthweight, dtype: float64
60    12.4
61    12.4
62    12.4
63    12.4
64    12.4
Name: low_birthweight, dtype: float64
nan
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: public_health_insurance, dtype: float64
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: public_health_insurance, dtype: float64
69.0
60    69.0
61    69.0
62    69.0
63    69.0
64    69.0
Name: age_of_death, dtype: float64
60    69.0
61    69.0
62    69.0
63    69.0
64    69.0
Name: age_of_death, dtype: float64
22.6
60    22.7
61    22.6
62    22.3
63    22.7
64    22.7
Name: impervious_surface, dtype: float64
60    22.7
61    22.6
62    22.3
63    22.7
64    22.7
Name: impervious_surface, dtype: float64
102.25
60    101.00
61    102.25
62    106.00
63    101.00
64    101.00
Name: water_consumption, dtype: float64
60    101.00
61    102.25
62    106.00
63    101.00
64    101.00
Name: water_consumption, dtype: float64
66.4
60    66.4
61    66.4
62    66.4
63    66.4
64    66.4
Name: neighborhood_school_attendance, dtype: float64
60    66.4
61    66.4
62    66.4
63    66.4
64    66.4
Name: neighborhood_school_attendance, dtype: float64
71.0
60    71.0
61    71.0
62    71.0
63    71.0
64    71.0
Name: highschool_graduation_rate, dtype: float64
60    71.0
61    71.0
62    71.0
63    71.0
64    71.0
Name: highschool_graduation_rate, dtype: float64
31.31
60    31.31
61    31.31
62    31.31
63    31.31
64    31.31
Name: proficiency_elementary_school, dtype: float64
60    31.31
61    31.31
62    31.31
63    31.31
64    31.31
Name: proficiency_elementary_school, dtype: float64
27.3
60    27.3
61    27.3
62    27.3
63    27.3
64    27.3
Name: proficiency_middle_school, dtype: float64
60    27.3
61    27.3
62    27.3
63    27.3
64    27.3
Name: proficiency_middle_school, dtype: float64
33.3
60    33.3
61    33.3
62    33.3
63    33.3
64    33.3
Name: proficiency_high_school, dtype: float64
60    33.3
61    33.3
62    33.3
63    33.3
64    33.3
Name: proficiency_high_school, dtype: float64
17.0
60    17.0
61    17.0
62    17.0
63    17.0
64    17.0
Name: student_absenteeism, dtype: float64
60    17.0
61    17.0
62    17.0
63    17.0
64    17.0
Name: student_absenteeism, dtype: float64
1180.0
60    1070.0
61    1180.0
62    1510.0
63    1070.0
64    1070.0
Name: voters_participating, dtype: float64
60    1070.0
61    1180.0
62    1510.0
63    1070.0
64    1070.0
Name: voters_participating, dtype: float64
nan
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: neighborhood_organizations, dtype: float64
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: neighborhood_organizations, dtype: float64
61.0
60    58.0
61    61.0
62    70.0
63    58.0
64    58.0
Name: voter_participation, dtype: float64
60    58.0
61    61.0
62    70.0
63    58.0
64    58.0
Name: voter_participation, dtype: float64
2.9
60    2.9
61    2.9
62    2.9
63    2.9
64    2.9
Name: vacant_land, dtype: float64
60    2.9
61    2.9
62    2.9
63    2.9
64    2.9
Name: vacant_land, dtype: float64
7.0
60    7.0
61    7.0
62    7.0
63    7.0
64    7.0
Name: population_density, dtype: float64
60    7.0
61    7.0
62    7.0
63    7.0
64    7.0
Name: population_density, dtype: float64
3806.75

60    3814.00
61    3806.75
62    3785.00
63    3814.00
64    3814.00
Name: population, dtype: float64
60    3814.00
61    3806.75
62    3785.00
63    3814.00
64    3814.00
Name: population, dtype: float64
nan
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: transit_ridership, dtype: float64
60   -1.0
61   -1.0
62   -1.0
63   -1.0
64   -1.0
Name: transit_ridership, dtype: float64
1.3575000000000002
60    1.3600
61    1.3575
62    1.3500
63    1.3600
64    1.3600
Name: street_connectivity, dtype: float64
60    1.3600
61    1.3575
62    1.3500
63    1.3600
64    1.3600
Name: street_connectivity, dtype: float64
1.7
60    1.7
61    1.7
62    1.7
63    1.7
64    1.7
Name: bicycle_friendliness, dtype: float64
60    1.7
61    1.7
62    1.7
63    1.7
64    1.7
Name: bicycle_friendliness, dtype: float64
0.9325
65    1.14
66    0.86
67    0.87
68    0.86
Name: Acres, dtype: float64
65    1.14
66    0.86
67    0.87
68    0.86
Name: Acres, dtype: float64
nan
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: births_to_adolescents, dtype: float64
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: births_to_adolescents, dtype: float64
741.0
65    675.0
66    772.0
67    745.0
68    772.0
Name: grocery_proximate_units, dtype: float64
65    675.0
66    772.0
67    745.0
68    772.0
Name: grocery_proximate_units, dtype: float64
nan
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: prenatal_care, dtype: float64
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: prenatal_care, dtype: float64
58.0
65    55.0
66    59.0
67    59.0
68    59.0
Name: grocery_proximity, dtype: float64
65    55.0
66    59.0
67    59.0
68    59.0
Name: grocery_proximity, dtype: float64
nan
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: low_birthweight, dtype: float64
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: low_birthweight, dtype: float64
1.0
65    1.0
66    1.0
67    1.0
68    1.0
Name: public_health_insurance, dtype: float64
65    1.0
66    1.0
67    1.0
68    1.0
Name: public_health_insurance, dtype: float64
nan
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: age_of_death, dtype: float64
65   -1.0
66   -1.0
67   -1.0
68   -1.0
Name: age_of_death, dtype: float64
27.9
65    27.2
66    28.0
67    28.4
68    28.0
Name: impervious_surface, dtype: float64
65    27.2
66    28.0
67    28.4
68    28.0
Name: impervious_surface, dtype: float64
174.0
65    174.0
66    174.0
67    174.0
68    174.0
Name: water_consumption, dtype: float64
65    174.0
66    174.0
67    174.0
68    174.0
Name: water_consumption, dtype: float64
69.93666666666667
65    69.810000
66    70.000000
67    69.936667
68    70.000000
Name: neighborhood_school_attendance, dtype: float64
65    69.810000
66    70.000000
67    69.936667
68    70.000000
Name: neighborhood_school_attendance, dtype: float64
100.0
65    100.0
66    100.0
67    100.0
68    100.0
Name: highschool_graduation_rate, dtype: float64
65    100.0
66    100.0
67    100.0
68    100.0
Name: highschool_graduation_rate, dtype: float64
89.28115942028985
65    88.043478
66    89.900000
67    89.281159
68    89.900000
Name: proficiency_elementary_school, dtype: float64
65    88.043478
66    89.900000
67    89.281159
68    89.900000
Name: proficiency_elementary_school, dtype: float64
88.91333333333334
65    95.740000
66    85.500000
67    88.913333
68    85.500000
Name: proficiency_middle_school, dtype: float64
65    95.740000
66    85.500000
67    88.913333
68    85.500000
Name: proficiency_middle_school, dtype: float64
85.71
65    85.71
66    85.71
67    85.71
68    85.71
Name: proficiency_high_school, dtype: float64
65    85.71
66    85.71
67    85.71
68    85.71
Name: proficiency_high_school, dtype: float64
2.6265664160401
65    1.879699
66    3.000000
67    2.626566
68    3.000000
Name: student_absenteeism, dtype: float64
65    1.879699
66    3.000000
67    2.626566
68    3.000000
Name: student_absenteeism, dtype: float64
909.5
65     539.0
66     821.0
67    1457.0
68     821.0
Name: voters_participating, dtype: float64
65     539.0
66     821.0
67    1457.0
68     821.0
Name: voters_participating, dtype: float64
2.0
65    2.0
66    2.0
67    2.0
68    2.0
Name: neighborhood_organizations, dtype: float64
65    2.0
66    2.0
67    2.0
68    2.0
Name: neighborhood_organizations, dtype: float64
47.0
65    33.0
66    39.0
67    77.0
68    39.0
Name: voter_participation, dtype: float64
65    33.0
66    39.0
67    77.0
68    39.0
Name: voter_participation, dtype: float64
3.8
65    3.8
66    3.8
67    3.8
68    3.8
Name: vacant_land, dtype: float64
65    3.8
66    3.8
67    3.8
68    3.8
Name: vacant_land, dtype: float64
5.0
65    5.0
66    5.0
67    5.0
68    5.0
Name: population_density, dtype: float64
65    5.0
66    5.0
67    5.0
68    5.0
Name: population_density, dtype: float64
2655.0
65    2623.0
66    2651.0
67    2695.0
68    2651.0
Name: population, dtype: float64
65    2623.0
66    2651.0
67    2695.0
68    2651.0
Name: population, dtype: float64
67.0
65    67.0
66    67.0
67    67.0
68    67.0
Name: transit_ridership, dtype: float64
65    67.0
66    67.0
67    67.0
68    67.0
Name: transit_ridership, dtype: float64
1.2
65    1.2
66    1.2
67    1.2
68    1.2
Name: street_connectivity, dtype: float64
65    1.2
66    1.2
67    1.2
68    1.2
Name: street_connectivity, dtype: float64
1.7
65    1.7
66    1.7
67    1.7
68    1.7
Name: bicycle_friendliness, dtype: float64
65    1.7
66    1.7
67    1.7
68    1.7
Name: bicycle_friendliness, dtype: float64
1.34
69    1.34
Name: Acres, dtype: float64
69    1.34
Name: Acres, dtype: float64
nan
69   -1.0
Name: births_to_adolescents, dtype: float64
69   -1.0
Name: births_to_adolescents, dtype: float64
960.0
69    960.0
Name: grocery_proximate_units, dtype: float64
69    960.0
Name: grocery_proximate_units, dtype: float64
nan
69   -1.0
Name: prenatal_care, dtype: float64
69   -1.0
Name: prenatal_care, dtype: float64
60.0
69    60.0
Name: grocery_proximity, dtype: float64
69    60.0
Name: grocery_proximity, dtype: float64
nan
69   -1.0
Name: low_birthweight, dtype: float64
69   -1.0
Name: low_birthweight, dtype: float64
nan
69   -1.0
Name: public_health_insurance, dtype: float64
69   -1.0
Name: public_health_insurance, dtype: float64
nan
69   -1.0
Name: age_of_death, dtype: float64
69   -1.0
Name: age_of_death, dtype: float64
20.6
69    20.6
Name: impervious_surface, dtype: float64
69    20.6
Name: impervious_surface, dtype: float64
138.0
69    138.0
Name: water_consumption, dtype: float64
69    138.0
Name: water_consumption, dtype: float64
nan
69   -1.0
Name: neighborhood_school_attendance, dtype: float64
69   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
69   -1.0
Name: highschool_graduation_rate, dtype: float64
69   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
69   -1.0
Name: proficiency_elementary_school, dtype: float64
69   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
69   -1.0
Name: proficiency_middle_school, dtype: float64
69   -1.0
Name: proficiency_middle_school, dtype: float64
nan
69   -1.0
Name: proficiency_high_school, dtype: float64
69   -1.0
Name: proficiency_high_school, dtype: float64
nan
69   -1.0
Name: student_absenteeism, dtype: float64
69   -1.0
Name: student_absenteeism, dtype: float64
1146.0
69    1146.0
Name: voters_participating, dtype: float64
69    1146.0
Name: voters_participating, dtype: float64
nan
69   -1.0
Name: neighborhood_organizations, dtype: float64
69   -1.0
Name: neighborhood_organizations, dtype: float64
62.0
69    62.0
Name: voter_participation, dtype: float64
69    62.0
Name: voter_participation, dtype: float64
6.1
69    6.1
Name: vacant_land, dtype: float64
69    6.1
Name: vacant_land, dtype: float64
9.0
69    9.0
Name: population_density, dtype: float64
69    9.0
Name: population_density, dtype: float64
3761.0
69    3761.0
Name: population, dtype: float64
69    3761.0
Name: population, dtype: float64
nan
69   -1.0
Name: transit_ridership, dtype: float64
69   -1.0
Name: transit_ridership, dtype: float64
1.09
69    1.09
Name: street_connectivity, dtype: float64
69    1.09
Name: street_connectivity, dtype: float64
1.3
69    1.3
Name: bicycle_friendliness, dtype: float64
69    1.3
Name: bicycle_friendliness, dtype: float64
5.05
70    5.05
Name: Acres, dtype: float64
70    5.05
Name: Acres, dtype: float64
0.0
70    0.0
Name: births_to_adolescents, dtype: float64
70    0.0
Name: births_to_adolescents, dtype: float64

0.0
70    0.0
Name: grocery_proximate_units, dtype: float64
70    0.0
Name: grocery_proximate_units, dtype: float64
85.7
70    85.7
Name: prenatal_care, dtype: float64
70    85.7
Name: prenatal_care, dtype: float64
0.0
70    0.0
Name: grocery_proximity, dtype: float64
70    0.0
Name: grocery_proximity, dtype: float64
4.8
70    4.8
Name: low_birthweight, dtype: float64
70    4.8
Name: low_birthweight, dtype: float64
5.0
70    5.0
Name: public_health_insurance, dtype: float64
70    5.0
Name: public_health_insurance, dtype: float64
73.0
70    73.0
Name: age_of_death, dtype: float64
70    73.0
Name: age_of_death, dtype: float64
nan
70   -1.0
Name: impervious_surface, dtype: float64
70   -1.0
Name: impervious_surface, dtype: float64
158.0
70    158.0
Name: water_consumption, dtype: float64
70    158.0
Name: water_consumption, dtype: float64
57.96
70    57.96
Name: neighborhood_school_attendance, dtype: float64
70    57.96
Name: neighborhood_school_attendance, dtype: float64
91.0
70    91.0
Name: highschool_graduation_rate, dtype: float64
70    91.0
Name: highschool_graduation_rate, dtype: float64
72.2222222222222
70    72.222222
Name: proficiency_elementary_school, dtype: float64
70    72.222222
Name: proficiency_elementary_school, dtype: float64
62.16216216216216
70    62.162162
Name: proficiency_middle_school, dtype: float64
70    62.162162
Name: proficiency_middle_school, dtype: float64
nan
70   -1.0
Name: proficiency_high_school, dtype: float64
70   -1.0
Name: proficiency_high_school, dtype: float64
5.590062111801243
70    5.590062
Name: student_absenteeism, dtype: float64
70    5.590062
Name: student_absenteeism, dtype: float64
862.0
70    862.0
Name: voters_participating, dtype: float64
70    862.0
Name: voters_participating, dtype: float64
4.0
70    4.0
Name: neighborhood_organizations, dtype: float64
70    4.0
Name: neighborhood_organizations, dtype: float64
63.0
70    63.0
Name: voter_participation, dtype: float64
70    63.0
Name: voter_participation, dtype: float64
nan
70   -1.0
Name: vacant_land, dtype: float64
70   -1.0
Name: vacant_land, dtype: float64
nan
70   -1.0
Name: population_density, dtype: float64
70   -1.0
Name: population_density, dtype: float64
nan
70   -1.0
Name: population, dtype: float64
70   -1.0
Name: population, dtype: float64
nan
70   -1.0
Name: transit_ridership, dtype: float64
70   -1.0
Name: transit_ridership, dtype: float64
nan
70   -1.0
Name: street_connectivity, dtype: float64
70   -1.0
Name: street_connectivity, dtype: float64
nan
70   -1.0
Name: bicycle_friendliness, dtype: float64
70   -1.0
Name: bicycle_friendliness, dtype: float64
5.11
71    5.11
72    5.11
Name: Acres, dtype: float64
71    5.11
72    5.11
Name: Acres, dtype: float64
nan
71   -1.0
72   -1.0
Name: births_to_adolescents, dtype: float64
71   -1.0
72   -1.0
Name: births_to_adolescents, dtype: float64
472.0
71    472.0
72    472.0
Name: grocery_proximate_units, dtype: float64
71    472.0
72    472.0
Name: grocery_proximate_units, dtype: float64
nan
71   -1.0
72   -1.0
Name: prenatal_care, dtype: float64
71   -1.0
72   -1.0
Name: prenatal_care, dtype: float64
38.0
71    38.0
72    38.0
Name: grocery_proximity, dtype: float64
71    38.0
72    38.0
Name: grocery_proximity, dtype: float64
nan
71   -1.0
72   -1.0
Name: low_birthweight, dtype: float64
71   -1.0
72   -1.0
Name: low_birthweight, dtype: float64
36.0
71    36.0
72    36.0
Name: public_health_insurance, dtype: float64
71    36.0
72    36.0
Name: public_health_insurance, dtype: float64
nan
71   -1.0
72   -1.0
Name: age_of_death, dtype: float64
71   -1.0
72   -1.0
Name: age_of_death, dtype: float64
19.4
71    19.4
72    19.4
Name: impervious_surface, dtype: float64
71    19.4
72    19.4
Name: impervious_surface, dtype: float64
nan
71   -1.0
72   -1.0
Name: water_consumption, dtype: float64
71   -1.0
72   -1.0
Name: water_consumption, dtype: float64
71.93
71    71.93
72    71.93
Name: neighborhood_school_attendance, dtype: float64
71    71.93
72    71.93
Name: neighborhood_school_attendance, dtype: float64
81.0
71    81.0
72    81.0
Name: highschool_graduation_rate, dtype: float64
71    81.0
72    81.0
Name: highschool_graduation_rate, dtype: float64
36.2204724409449
71    36.220472
72    36.220472
Name: proficiency_elementary_school, dtype: float64
71    36.220472
72    36.220472
Name: proficiency_elementary_school, dtype: float64
19.83
71    19.83
72    19.83
Name: proficiency_middle_school, dtype: float64
71    19.83
72    19.83
Name: proficiency_middle_school, dtype: float64
37.93
71    37.93
72    37.93
Name: proficiency_high_school, dtype: float64
71    37.93
72    37.93
Name: proficiency_high_school, dtype: float64
11.680327868852501
71    11.680328
72    11.680328
Name: student_absenteeism, dtype: float64
71    11.680328
72    11.680328
Name: student_absenteeism, dtype: float64
374.0
71    374.0
72    374.0
Name: voters_participating, dtype: float64
71    374.0
72    374.0
Name: voters_participating, dtype: float64
3.0
71    3.0
72    3.0
Name: neighborhood_organizations, dtype: float64
71    3.0
72    3.0
Name: neighborhood_organizations, dtype: float64
19.0
71    19.0
72    19.0
Name: voter_participation, dtype: float64
71    19.0
72    19.0
Name: voter_participation, dtype: float64
1.7
71    1.7
72    1.7
Name: vacant_land, dtype: float64
71    1.7
72    1.7
Name: vacant_land, dtype: float64
7.0
71    7.0
72    7.0
Name: population_density, dtype: float64
71    7.0
72    7.0
Name: population_density, dtype: float64
3387.0
71    3387.0
72    3387.0
Name: population, dtype: float64
71    3387.0
72    3387.0
Name: population, dtype: float64
62.0
71    62.0
72    62.0
Name: transit_ridership, dtype: float64
71    62.0
72    62.0
Name: transit_ridership, dtype: float64
1.18
71    1.18
72    1.18
Name: street_connectivity, dtype: float64
71    1.18
72    1.18
Name: street_connectivity, dtype: float64
1.4
71    1.4
72    1.4
Name: bicycle_friendliness, dtype: float64
71    1.4
72    1.4
Name: bicycle_friendliness, dtype: float64
1.7766666666666666
73    2.48
74    1.77
75    1.08
Name: Acres, dtype: float64
73    2.48
74    1.77
75    1.08
Name: Acres, dtype: float64
nan
73   -1.0
74   -1.0
75   -1.0
Name: births_to_adolescents, dtype: float64
73   -1.0
74   -1.0
75   -1.0
Name: births_to_adolescents, dtype: float64
445.0
73    497.0
74    419.0
75    419.0
Name: grocery_proximate_units, dtype: float64
73    497.0
74    419.0
75    419.0
Name: grocery_proximate_units, dtype: float64
nan
73   -1.0
74   -1.0
75   -1.0
Name: prenatal_care, dtype: float64
73   -1.0
74   -1.0
75   -1.0
Name: prenatal_care, dtype: float64
26.333333333333332
73    29.0
74    25.0
75    25.0
Name: grocery_proximity, dtype: float64
73    29.0
74    25.0
75    25.0
Name: grocery_proximity, dtype: float64
nan
73   -1.0
74   -1.0
75   -1.0
Name: low_birthweight, dtype: float64
73   -1.0
74   -1.0
75   -1.0
Name: low_birthweight, dtype: float64
4.0
73    4.0
74    4.0
75    4.0
Name: public_health_insurance, dtype: float64
73    4.0
74    4.0
75    4.0
Name: public_health_insurance, dtype: float64
nan
73   -1.0
74   -1.0
75   -1.0
Name: age_of_death, dtype: float64
73   -1.0
74   -1.0
75   -1.0
Name: age_of_death, dtype: float64
23.2
73    22.8
74    23.4
75    23.4
Name: impervious_surface, dtype: float64
73    22.8
74    23.4
75    23.4
Name: impervious_surface, dtype: float64
219.0
73    219.0
74    219.0
75    219.0
Name: water_consumption, dtype: float64
73    219.0
74    219.0
75    219.0
Name: water_consumption, dtype: float64
83.73
73    83.73
74    83.73
75    83.73
Name: neighborhood_school_attendance, dtype: float64
73    83.73
74    83.73
75    83.73
Name: neighborhood_school_attendance, dtype: float64
89.0
73    89.0
74    89.0
75    89.0
Name: highschool_graduation_rate, dtype: float64
73    89.0
74    89.0
75    89.0
Name: highschool_graduation_rate, dtype: float64
76.0
73    76.0
74    76.0
75    76.0
Name: proficiency_elementary_school, dtype: float64
73    76.0
74    76.0
75    76.0
Name: proficiency_elementary_school, dtype: float64
81.54
73    81.54
74    81.54
75    81.54
Name: proficiency_middle_school, dtype: float64
73    81.54
74    81.54
75    81.54
Name: proficiency_middle_school, dtype: float64
50.0
73    50.0
74    50.0
75    50.0
Name: proficiency_high_school, dtype: float64
73    50.0
74    50.0
75    50.0
Name: proficiency_high_school, dtype: float64
3.2786885245901605
73    3.278689
74    3.278689
75    3.278689
Name: student_absenteeism, dtype: float64
73    3.278689
74    3.278689
75    3.278689
Name: student_absenteeism, dtype: float64
1160.0
73     608.0
74    1436.0
75    1436.0
Name: voters_participating, dtype: float64
73     608.0
74    1436.0
75    1436.0
Name: voters_participating, dtype: float64
4.0
73    4.0
74    4.0
75    4.0
Name: neighborhood_organizations, dtype: float64
73    4.0
74    4.0
75    4.0
Name: neighborhood_organizations, dtype: float64
56.666666666666664
73    30.0
74    70.0
75    70.0
Name: voter_participation, dtype: float64
73    30.0
74    70.0
75    70.0
Name: voter_participation, dtype: float64
8.333333333333334
73    9.0
74    8.0
75    8.0
Name: vacant_land, dtype: float64
73    9.0
74    8.0
75    8.0
Name: vacant_land, dtype: float64
5.333333333333333
73    6.0
74    5.0
75    5.0
Name: population_density, dtype: float64
73    6.0
74    5.0
75    5.0
Name: population_density, dtype: float64
3392.3333333333335
73    3433.0
74    3372.0
75    3372.0
Name: population, dtype: float64
73    3433.0
74    3372.0
75    3372.0
Name: population, dtype: float64
87.0
73    87.0
74    87.0
75    87.0
Name: transit_ridership, dtype: float64
73    87.0
74    87.0
75    87.0
Name: transit_ridership, dtype: float64

1.1633333333333333
73    1.17
74    1.16
75    1.16
Name: street_connectivity, dtype: float64
73    1.17
74    1.16
75    1.16
Name: street_connectivity, dtype: float64
1.6000000000000003
73    1.6
74    1.6
75    1.6
Name: bicycle_friendliness, dtype: float64
73    1.6
74    1.6
75    1.6
Name: bicycle_friendliness, dtype: float64
2.8733333333333335
76    2.03
77    0.90
78    5.69
Name: Acres, dtype: float64
76    2.03
77    0.90
78    5.69
Name: Acres, dtype: float64
1.4
76    1.4
77    1.4
78    1.4
Name: births_to_adolescents, dtype: float64
76    1.4
77    1.4
78    1.4
Name: births_to_adolescents, dtype: float64
1033.0
76    1081.0
77    1009.0
78    1009.0
Name: grocery_proximate_units, dtype: float64
76    1081.0
77    1009.0
78    1009.0
Name: grocery_proximate_units, dtype: float64
71.4
76    71.4
77    71.4
78    71.4
Name: prenatal_care, dtype: float64
76    71.4
77    71.4
78    71.4
Name: prenatal_care, dtype: float64
70.66666666666667
76    74.0
77    69.0
78    69.0
Name: grocery_proximity, dtype: float64
76    74.0
77    69.0
78    69.0
Name: grocery_proximity, dtype: float64
10.0
76    10.0
77    10.0
78    10.0
Name: low_birthweight, dtype: float64
76    10.0
77    10.0
78    10.0
Name: low_birthweight, dtype: float64
5.0
76    5.0
77    5.0
78    5.0
Name: public_health_insurance, dtype: float64
76    5.0
77    5.0
78    5.0
Name: public_health_insurance, dtype: float64
79.0
76    79.0
77    79.0
78    79.0
Name: age_of_death, dtype: float64
76    79.0
77    79.0
78    79.0
Name: age_of_death, dtype: float64
23.2
76    23.3
77    23.3
78    23.0
Name: impervious_surface, dtype: float64
76    23.3
77    23.3
78    23.0
Name: impervious_surface, dtype: float64
139.5
76    136.0
77    143.0
78    139.5
Name: water_consumption, dtype: float64
76    136.0
77    143.0
78    139.5
Name: water_consumption, dtype: float64
93.575
76    93.575
77    91.900
78    95.250
Name: neighborhood_school_attendance, dtype: float64
76    93.575
77    91.900
78    95.250
Name: neighborhood_school_attendance, dtype: float64
92.5
76     92.5
77     85.0
78    100.0
Name: highschool_graduation_rate, dtype: float64
76     92.5
77     85.0
78    100.0
Name: highschool_graduation_rate, dtype: float64
71.05714285714285
76    71.057143
77    76.400000
78    65.714286
Name: proficiency_elementary_school, dtype: float64
76    71.057143
77    76.400000
78    65.714286
Name: proficiency_elementary_school, dtype: float64
64.65
76    64.65
77    67.40
78    61.90
Name: proficiency_middle_school, dtype: float64
76    64.65
77    67.40
78    61.90
Name: proficiency_middle_school, dtype: float64
79.185
76    79.185
77    79.200
78    79.170
Name: proficiency_high_school, dtype: float64
76    79.185
77    79.200
78    79.170
Name: proficiency_high_school, dtype: float64
5.76923076923077
76    5.769231
77    6.000000
78    5.538462
Name: student_absenteeism, dtype: float64
76    5.769231
77    6.000000
78    5.538462
Name: student_absenteeism, dtype: float64
1141.3333333333333
76    1341.0
77    1670.0
78     413.0
Name: voters_participating, dtype: float64
76    1341.0
77    1670.0
78     413.0
Name: voters_participating, dtype: float64
2.0
76    2.0
77    2.0
78    2.0
Name: neighborhood_organizations, dtype: float64
76    2.0
77    2.0
78    2.0
Name: neighborhood_organizations, dtype: float64
58.333333333333336
76    70.0
77    82.0
78    23.0
Name: voter_participation, dtype: float64
76    70.0
77    82.0
78    23.0
Name: voter_participation, dtype: float64
4.133333333333333
76    4.2
77    4.0
78    4.2
Name: vacant_land, dtype: float64
76    4.2
77    4.0
78    4.2
Name: vacant_land, dtype: float64
8.0
76    8.0
77    8.0
78    8.0
Name: population_density, dtype: float64
76    8.0
77    8.0
78    8.0
Name: population_density, dtype: float64
3145.3333333333335
76    3146.0
77    3145.0
78    3145.0
Name: population, dtype: float64
76    3146.0
77    3145.0
78    3145.0
Name: population, dtype: float64
nan
76   -1.0
77   -1.0
78   -1.0
Name: transit_ridership, dtype: float64
76   -1.0
77   -1.0
78   -1.0
Name: transit_ridership, dtype: float64
1.0833333333333333
76    1.09
77    1.08
78    1.08
Name: street_connectivity, dtype: float64
76    1.09
77    1.08
78    1.08
Name: street_connectivity, dtype: float64
1.5
76    1.5
77    1.5
78    1.5
Name: bicycle_friendliness, dtype: float64
76    1.5
77    1.5
78    1.5
Name: bicycle_friendliness, dtype: float64
16.186842105263157
79     2.40
80     2.55
81    18.30
82     0.38
83    24.70
Name: Acres, dtype: float64
79     2.40
80     2.55
81    18.30
82     0.38
83    24.70
84    18.30
85     9.91
86    24.70
87    18.50
88     3.10
89    24.70
90    24.70
91     8.30
92    24.70
93    24.70
94    18.30
95     9.91
96    24.70
97    24.70
Name: Acres, dtype: float64
1.0333333333333334
79    1.700000
80    1.033333
81    0.900000
82    1.033333
83    1.033333
Name: births_to_adolescents, dtype: float64
79    1.700000
80    1.033333
81    0.900000
82    1.033333
83    1.033333
84    0.900000
85    0.900000
86    1.033333
87    1.033333
88    1.033333
89    1.033333
90    1.033333
91    1.033333
92    1.033333
93    1.033333
94    0.900000
95    0.900000
96    1.033333
97    1.033333
Name: births_to_adolescents, dtype: float64
55.625
79      0.000
80     55.625
81      0.000
82    445.000
83      0.000
Name: grocery_proximate_units, dtype: float64
79      0.000
80     55.625
81      0.000
82    445.000
83      0.000
84      0.000
85      0.000
86      0.000
87     55.625
88     55.625
89      0.000
90      0.000
91    445.000
92      0.000
93      0.000
94      0.000
95      0.000
96      0.000
97      0.000
Name: grocery_proximate_units, dtype: float64
46.23333333333333
79    55.400000
80    46.233333
81    44.400000
82    46.233333
83    46.233333
Name: prenatal_care, dtype: float64
79    55.400000
80    46.233333
81    44.400000
82    46.233333
83    46.233333
84    44.400000
85    44.400000
86    46.233333
87    46.233333
88    46.233333
89    46.233333
90    46.233333
91    46.233333
92    46.233333
93    46.233333
94    44.400000
95    44.400000
96    46.233333
97    46.233333
Name: prenatal_care, dtype: float64
5.5
79     0.0
80     5.5
81     0.0
82    44.0
83     0.0
Name: grocery_proximity, dtype: float64
79     0.0
80     5.5
81     0.0
82    44.0
83     0.0
84     0.0
85     0.0
86     0.0
87     5.5
88     5.5
89     0.0
90     0.0
91    44.0
92     0.0
93     0.0
94     0.0
95     0.0
96     0.0
97     0.0
Name: grocery_proximity, dtype: float64
9.883333333333333
79     8.300000
80     9.883333
81    10.200000
82     9.883333
83     9.883333
Name: low_birthweight, dtype: float64
79     8.300000
80     9.883333
81    10.200000
82     9.883333
83     9.883333
84    10.200000
85    10.200000
86     9.883333
87     9.883333
88     9.883333
89     9.883333
90     9.883333
91     9.883333
92     9.883333
93     9.883333
94    10.200000
95    10.200000
96     9.883333
97     9.883333
Name: low_birthweight, dtype: float64
35.27272727272727
79    32.000000
80    35.272727
81    35.272727
82    30.000000
83    37.000000
Name: public_health_insurance, dtype: float64
79    32.000000
80    35.272727
81    35.272727
82    30.000000
83    37.000000
84    35.272727
85    35.272727
86    37.000000
87    35.272727
88    35.272727
89    37.000000
90    37.000000
91    30.000000
92    37.000000
93    37.000000
94    35.272727
95    35.272727
96    37.000000
97    37.000000
Name: public_health_insurance, dtype: float64
57.833333333333336
79    62.000000
80    57.833333
81    57.000000
82    57.833333
83    57.833333
Name: age_of_death, dtype: float64
79    62.000000
80    57.833333
81    57.000000
82    57.833333
83    57.833333
84    57.000000
85    57.000000
86    57.833333
87    57.833333
88    57.833333
89    57.833333
90    57.833333
91    57.833333
92    57.833333
93    57.833333
94    57.000000
95    57.000000
96    57.833333
97    57.833333
Name: age_of_death, dtype: float64
27.973333333333336
79    27.973333
80    27.973333
81    27.800000
82    28.300000
83    28.000000
Name: impervious_surface, dtype: float64
79    27.973333
80    27.973333
81    27.800000
82    28.300000
83    28.000000
84    27.800000
85    27.800000
86    28.000000
87    27.973333
88    27.973333
89    28.000000
90    28.000000
91    28.300000
92    28.000000
93    28.000000
94    27.800000
95    27.800000
96    28.000000
97    28.000000
Name: impervious_surface, dtype: float64
115.16666666666667
79    111.000000
80    115.166667
81    116.000000
82    115.166667
83    115.166667
Name: water_consumption, dtype: float64
79    111.000000
80    115.166667
81    116.000000
82    115.166667
83    115.166667
84    116.000000
85    116.000000
86    115.166667
87    115.166667
88    115.166667
89    115.166667
90    115.166667
91    115.166667
92    115.166667
93    115.166667
94    116.000000
95    116.000000
96    115.166667
97    115.166667
Name: water_consumption, dtype: float64
72.328125
79    77.750000
80    72.328125
81    67.100000
82    72.000000
83    75.000000
Name: neighborhood_school_attendance, dtype: float64
79    77.750000
80    72.328125
81    67.100000
82    72.000000
83    75.000000
84    67.100000
85    67.100000
86    75.000000
87    72.328125
88    72.328125
89    75.000000
90    75.000000
91    72.000000
92    75.000000
93    75.000000
94    67.100000
95    67.100000
96    75.000000
97    75.000000
Name: neighborhood_school_attendance, dtype: float64
88.1875
79    57.0000
80    88.1875
81    90.0000
82    92.0000
83    90.0000
Name: highschool_graduation_rate, dtype: float64
79    57.0000
80    88.1875
81    90.0000
82    92.0000
83    90.0000
84    90.0000
85    90.0000
86    90.0000
87    88.1875
88    88.1875
89    90.0000
90    90.0000
91    92.0000
92    90.0000
93    90.0000
94    90.0000
95    90.0000
96    90.0000
97    90.0000
Name: highschool_graduation_rate, dtype: float64
40.06505753717178
79    39.449541
80    40.065058
81    42.030000
82    37.100000
83    39.655172
Name: proficiency_elementary_school, dtype: float64
79    39.449541
80    40.065058
81    42.030000
82    37.100000
83    39.655172
84    42.030000
85    42.030000
86    39.655172
87    40.065058
88    40.065058
89    39.655172
90    39.655172
91    37.100000
92    39.655172
93    39.655172
94    42.030000
95    42.030000
96    39.655172
97    39.655172
Name: proficiency_elementary_school, dtype: float64
32.74202020202021
79    23.232323
80    32.742020
81    36.000000
82    34.600000
83    31.430000
Name: proficiency_middle_school, dtype: float64
79    23.232323
80    32.742020
81    36.000000
82    34.600000
83    31.430000
84    36.000000
85    36.000000
86    31.430000
87    32.742020
88    32.742020
89    31.430000
90    31.430000
91    34.600000
92    31.430000
93    31.430000
94    36.000000
95    36.000000
96    31.430000
97    31.430000
Name: proficiency_middle_school, dtype: float64
38.245714285714286
79    28.571429
80    38.245714
81    30.000000
82    30.000000
83    46.670000
Name: proficiency_high_school, dtype: float64
79    28.571429
80    38.245714
81    30.000000
82    30.000000
83    46.670000
84    30.000000
85    30.000000
86    46.670000
87    38.245714
88    38.245714
89    46.670000
90    46.670000
91    30.000000
92    46.670000
93    46.670000
94    30.000000
95    30.000000
96    46.670000
97    46.670000
Name: proficiency_high_school, dtype: float64
9.87350090618186
79     9.915612
80     9.873501
81    13.000000
82    12.000000
83     7.382550
Name: student_absenteeism, dtype: float64
79     9.915612
80     9.873501
81    13.000000
82    12.000000
83     7.382550
84    13.000000
85    13.000000
86     7.382550
87     9.873501
88     9.873501
89     7.382550
90     7.382550
91    12.000000
92     7.382550
93     7.382550
94    13.000000
95    13.000000
96     7.382550
97     7.382550
Name: student_absenteeism, dtype: float64
340.6875
79    375.0000
80    340.6875
81    784.0000
82    150.0000
83    107.0000
Name: voters_participating, dtype: float64
79    375.0000
80    340.6875
81    784.0000
82    150.0000
83    107.0000
84    784.0000
85    784.0000
86    107.0000
87    340.6875
88    340.6875
89    107.0000
90    107.0000
91    150.0000
92    107.0000
93    107.0000
94    784.0000
95    784.0000
96    107.0000
97    107.0000
Name: voters_participating, dtype: float64
4.0
79    4.0
80    4.0
81    4.0
82    4.0
83    4.0
Name: neighborhood_organizations, dtype: float64
79    4.0
80    4.0
81    4.0
82    4.0
83    4.0
84    4.0
85    4.0
86    4.0
87    4.0
88    4.0
89    4.0
90    4.0
91    4.0
92    4.0
93    4.0
94    4.0
95    4.0
96    4.0
97    4.0
Name: neighborhood_organizations, dtype: float64
29.375
79    42.000
80    29.375
81    64.000
82    10.000
83    11.000
Name: voter_participation, dtype: float64
79    42.000
80    29.375
81    64.000
82    10.000
83    11.000
84    64.000
85    64.000
86    11.000
87    29.375
88    29.375
89    11.000
90    11.000
91    10.000
92    11.000
93    11.000
94    64.000
95    64.000
96    11.000
97    11.000
Name: voter_participation, dtype: float64
8.953333333333331
79    8.953333
80    8.953333
81    8.100000
82    8.100000
83    9.700000
Name: vacant_land, dtype: float64
79    8.953333
80    8.953333
81    8.100000
82    8.100000
83    9.700000
84    8.100000
85    8.100000
86    9.700000
87    8.953333
88    8.953333
89    9.700000
90    9.700000
91    8.100000
92    9.700000
93    9.700000
94    8.100000
95    8.100000
96    9.700000
97    9.700000
Name: vacant_land, dtype: float64
3.0
79    3.0
80    3.0
81    3.0
82    3.0
83    3.0
Name: population_density, dtype: float64
79    3.0
80    3.0
81    3.0
82    3.0
83    3.0
84    3.0
85    3.0
86    3.0
87    3.0
88    3.0
89    3.0
90    3.0
91    3.0
92    3.0
93    3.0
94    3.0
95    3.0
96    3.0
97    3.0
Name: population_density, dtype: float64
2994.3333333333335
79    2994.333333
80    2994.333333
81    3005.000000
82    3009.000000
83    2984.000000
Name: population, dtype: float64
79    2994.333333
80    2994.333333
81    3005.000000
82    3009.000000
83    2984.000000
84    3005.000000
85    3005.000000
86    2984.000000
87    2994.333333
88    2994.333333
89    2984.000000
90    2984.000000
91    3009.000000
92    2984.000000
93    2984.000000
94    3005.000000
95    3005.000000
96    2984.000000
97    2984.000000
Name: population, dtype: float64
193.66666666666666
79    183.000000
80    193.666667
81    193.666667
82    193.666667
83    195.000000
Name: transit_ridership, dtype: float64
79    183.000000
80    193.666667
81    193.666667
82    193.666667
83    195.000000
84    193.666667
85    193.666667
86    195.000000
87    193.666667
88    193.666667
89    195.000000
90    195.000000
91    193.666667
92    195.000000
93    195.000000
94    193.666667
95    193.666667
96    195.000000
97    195.000000
Name: transit_ridership, dtype: float64
1.18
79    1.18
80    1.18
81    1.18
82    1.18
83    1.18

Name: street_connectivity, dtype: float64
79    1.18
80    1.18
81    1.18
82    1.18
83    1.18
84    1.18
85    1.18
86    1.18
87    1.18
88    1.18
89    1.18
90    1.18
91    1.18
92    1.18
93    1.18
94    1.18
95    1.18
96    1.18
97    1.18
Name: street_connectivity, dtype: float64
1.3000000000000003
79    1.3
80    1.3
81    1.3
82    1.3
83    1.3
Name: bicycle_friendliness, dtype: float64
79    1.3
80    1.3
81    1.3
82    1.3
83    1.3
84    1.3
85    1.3
86    1.3
87    1.3
88    1.3
89    1.3
90    1.3
91    1.3
92    1.3
93    1.3
94    1.3
95    1.3
96    1.3
97    1.3
Name: bicycle_friendliness, dtype: float64
2.6412765957446807
98     2.17
99     4.30
100    1.65
101    3.63
102    0.43
Name: Acres, dtype: float64
98      2.170
99      4.300
100     1.650
101     3.630
102     0.430
103     2.150
104     2.100
105     3.630
106     0.990
107     2.170
108     2.170
109     1.123
110     9.080
111     2.100
112     1.650
113     0.230
114     0.200
115     0.680
116    11.850
117     3.800
118     0.170
119     0.151
120     0.145
121     6.980
122     0.250
123     3.060
124     0.640
125    11.850
126     2.170
127     0.990
128     2.100
129     1.123
130     3.230
131     0.413
132     0.397
133     0.173
134    11.850
135     1.100
136     9.212
137     0.170
138     0.830
139     2.800
140     4.300
141     1.123
142     0.750
143     1.650
144     0.410
Name: Acres, dtype: float64
9.799999999999999
98      9.8
99     10.0
100     9.8
101     9.8
102     9.8
Name: births_to_adolescents, dtype: float64
98      9.8
99     10.0
100     9.8
101     9.8
102     9.8
103     8.3
104     9.8
105     9.8
106     9.8
107     9.8
108     9.8
109    10.0
110     9.8
111     9.8
112     9.8
113     9.8
114     9.8
115    10.0
116    10.0
117     9.8
118     9.8
119    10.0
120     8.3
121     9.8
122     9.8
123    10.0
124    10.0
125    10.0
126     9.8
127     9.8
128     9.8
129    10.0
130    10.0
131     9.8
132     9.8
133     9.8
134    10.0
135     9.8
136    10.0
137     9.8
138    10.0
139     9.8
140    10.0
141    10.0
142     9.8
143     9.8
144     9.8
Name: births_to_adolescents, dtype: float64
0.0
98     0.0
99     0.0
100    0.0
101    0.0
102    0.0
Name: grocery_proximate_units, dtype: float64
98     0.0
99     0.0
100    0.0
101    0.0
102    0.0
103    0.0
104    0.0
105    0.0
106    0.0
107    0.0
108    0.0
109    0.0
110    0.0
111    0.0
112    0.0
113    0.0
114    0.0
115    0.0
116    0.0
117    0.0
118    0.0
119    0.0
120    0.0
121    0.0
122    0.0
123    0.0
124    0.0
125    0.0
126    0.0
127    0.0
128    0.0
129    0.0
130    0.0
131    0.0
132    0.0
133    0.0
134    0.0
135    0.0
136    0.0
137    0.0
138    0.0
139    0.0
140    0.0
141    0.0
142    0.0
143    0.0
144    0.0
Name: grocery_proximate_units, dtype: float64
47.55294117647059
98     47.552941
99     45.000000
100    47.552941
101    47.552941
102    47.552941
Name: prenatal_care, dtype: float64
98     47.552941
99     45.000000
100    47.552941
101    47.552941
102    47.552941
103    66.700000
104    47.552941
105    47.552941
106    47.552941
107    47.552941
108    47.552941
109    45.000000
110    47.552941
111    47.552941
112    47.552941
113    47.552941
114    47.552941
115    45.000000
116    45.000000
117    47.552941
118    47.552941
119    45.000000
120    66.700000
121    47.552941
122    47.552941
123    45.000000
124    45.000000
125    45.000000
126    47.552941
127    47.552941
128    47.552941
129    45.000000
130    45.000000
131    47.552941
132    47.552941
133    47.552941
134    45.000000
135    47.552941
136    45.000000
137    47.552941
138    45.000000
139    47.552941
140    45.000000
141    45.000000
142    47.552941
143    47.552941
144    47.552941
Name: prenatal_care, dtype: float64
0.0
98     0.0
99     0.0
100    0.0
101    0.0
102    0.0
Name: grocery_proximity, dtype: float64
98     0.0
99     0.0
100    0.0
101    0.0
102    0.0
103    0.0
104    0.0
105    0.0
106    0.0
107    0.0
108    0.0
109    0.0
110    0.0
111    0.0
112    0.0
113    0.0
114    0.0
115    0.0
116    0.0
117    0.0
118    0.0
119    0.0
120    0.0
121    0.0
122    0.0
123    0.0
124    0.0
125    0.0
126    0.0
127    0.0
128    0.0
129    0.0
130    0.0
131    0.0
132    0.0
133    0.0
134    0.0
135    0.0
136    0.0
137    0.0
138    0.0
139    0.0
140    0.0
141    0.0
142    0.0
143    0.0
144    0.0
Name: grocery_proximity, dtype: float64
13.235294117647058
98     13.235294
99     15.000000
100    13.235294
101    13.235294
102    13.235294
Name: low_birthweight, dtype: float64
98     13.235294
99     15.000000
100    13.235294
101    13.235294
102    13.235294
103     0.000000
104    13.235294
105    13.235294
106    13.235294
107    13.235294
108    13.235294
109    15.000000
110    13.235294
111    13.235294
112    13.235294
113    13.235294
114    13.235294
115    15.000000
116    15.000000
117    13.235294
118    13.235294
119    15.000000
120     0.000000
121    13.235294
122    13.235294
123    15.000000
124    15.000000
125    15.000000
126    13.235294
127    13.235294
128    13.235294
129    15.000000
130    15.000000
131    13.235294
132    13.235294
133    13.235294
134    15.000000
135    13.235294
136    15.000000
137    13.235294
138    15.000000
139    13.235294
140    15.000000
141    15.000000
142    13.235294
143    13.235294
144    13.235294
Name: low_birthweight, dtype: float64
13.45
98     10.00
99     13.45
100    15.00
101    15.00
102    13.45
Name: public_health_insurance, dtype: float64
98     10.00
99     13.45
100    15.00
101    15.00
102    13.45
103    12.00
104    15.00
105    15.00
106    15.00
107    10.00
108    10.00
109    13.45
110    15.00
111    15.00
112    15.00
113    13.45
114    13.45
115    13.45
116    13.45
117    13.45
118    13.45
119    13.45
120    12.00
121    15.00
122    13.45
123    13.45
124    13.45
125    13.45
126    10.00
127    15.00
128    15.00
129    13.45
130    13.45
131    15.00
132    13.45
133    13.45
134    13.45
135    13.45
136    13.45
137    13.45
138    13.45
139    13.45
140    13.45
141    13.45
142    13.45
143    15.00
144    10.00
Name: public_health_insurance, dtype: float64
59.1764705882353
98     59.176471
99     58.000000
100    59.176471
101    59.176471
102    59.176471
Name: age_of_death, dtype: float64
98     59.176471
99     58.000000
100    59.176471
101    59.176471
102    59.176471
103    68.000000
104    59.176471
105    59.176471
106    59.176471
107    59.176471
108    59.176471
109    58.000000
110    59.176471
111    59.176471
112    59.176471
113    59.176471
114    59.176471
115    58.000000
116    58.000000
117    59.176471
118    59.176471
119    58.000000
120    68.000000
121    59.176471
122    59.176471
123    58.000000
124    58.000000
125    58.000000
126    59.176471
127    59.176471
128    59.176471
129    58.000000
130    58.000000
131    59.176471
132    59.176471
133    59.176471
134    58.000000
135    59.176471
136    58.000000
137    59.176471
138    58.000000
139    59.176471
140    58.000000
141    58.000000
142    59.176471
143    59.176471
144    59.176471
Name: age_of_death, dtype: float64
25.317500000000003
98     24.8
99     24.5
100    25.5
101    25.5
102    27.1
Name: impervious_surface, dtype: float64
98     24.8000
99     24.5000
100    25.5000
101    25.5000
102    27.1000
103    25.3175
104    25.5000
105    25.5000
106    25.5000
107    24.8000
108    24.8000
109    24.5000
110    25.5000
111    25.5000
112    25.5000
113    27.1000
114    27.1000
115    24.5000
116    24.5000
117    25.3175
118    25.3175
119    24.5000
120    25.3175
121    25.5000
122    27.1000
123    24.5000
124    24.5000
125    24.5000
126    24.8000
127    25.5000
128    25.5000
129    24.5000
130    24.5000
131    25.5000
132    25.3175
133    27.1000
134    24.5000
135    27.1000
136    24.5000
137    25.3175
138    24.5000
139    25.3175
140    24.5000
141    24.5000
142    27.1000
143    25.5000
144    24.8000
Name: impervious_surface, dtype: float64
111.83333333333333
98     111.833333
99     119.000000
100    111.833333
101    111.833333
102     99.000000
Name: water_consumption, dtype: float64
98     111.833333
99     119.000000
100    111.833333
101    111.833333
102     99.000000
103    103.000000
104    111.833333
105    111.833333
106    111.833333
107    111.833333
108    111.833333
109    119.000000
110    111.833333
111    111.833333
112    111.833333
113     99.000000
114     99.000000
115    119.000000
116    119.000000
117    111.833333
118    111.833333
119    119.000000
120    103.000000
121    111.833333
122     99.000000
123    119.000000
124    119.000000
125    119.000000
126    111.833333
127    111.833333
128    111.833333
129    119.000000
130    119.000000
131    111.833333
132    111.833333
133     99.000000
134    119.000000
135     99.000000
136    119.000000
137    111.833333
138    119.000000
139    111.833333
140    119.000000
141    119.000000
142     99.000000
143    111.833333
144    111.833333
Name: water_consumption, dtype: float64
67.02942857142857
98     58.000000
99     69.800000
100    67.570000
101    67.570000
102    67.029429
Name: neighborhood_school_attendance, dtype: float64
98     58.000000
99     69.800000
100    67.570000
101    67.570000
102    67.029429
103    65.310000
104    67.570000
105    67.570000
106    67.570000
107    58.000000
108    58.000000
109    69.800000
110    67.570000
111    67.570000
112    67.570000
113    67.029429
114    67.029429
115    69.800000
116    69.800000
117    67.029429
118    67.029429
119    69.800000
120    65.310000
121    67.570000
122    67.029429
123    69.800000
124    69.800000
125    69.800000
126    58.000000
127    67.570000
128    67.570000
129    69.800000
130    69.800000
131    67.570000
132    67.029429
133    67.029429
134    69.800000
135    67.029429
136    69.800000
137    67.029429
138    69.800000
139    67.029429
140    69.800000
141    69.800000
142    67.029429
143    67.570000
144    58.000000
Name: neighborhood_school_attendance, dtype: float64
nan
98    -1.0
99    -1.0
100   -1.0
101   -1.0
102   -1.0
Name: highschool_graduation_rate, dtype: float64
98    -1.0
99    -1.0
100   -1.0
101   -1.0
102   -1.0
103   -1.0
104   -1.0
105   -1.0
106   -1.0
107   -1.0
108   -1.0
109   -1.0
110   -1.0
111   -1.0
112   -1.0
113   -1.0
114   -1.0
115   -1.0
116   -1.0
117   -1.0
118   -1.0
119   -1.0
120   -1.0
121   -1.0
122   -1.0
123   -1.0
124   -1.0
125   -1.0
126   -1.0
127   -1.0
128   -1.0
129   -1.0
130   -1.0
131   -1.0
132   -1.0
133   -1.0
134   -1.0
135   -1.0
136   -1.0
137   -1.0
138   -1.0
139   -1.0
140   -1.0
141   -1.0
142   -1.0
143   -1.0
144   -1.0
Name: highschool_graduation_rate, dtype: float64
39.54772079772077
98     39.547721
99     37.500000
100    44.444444
101    44.444444
102    39.547721
Name: proficiency_elementary_school, dtype: float64
98     39.547721
99     37.500000
100    44.444444
101    44.444444
102    39.547721
103    23.076923
104    44.444444
105    44.444444
106    44.444444
107    39.547721
108    39.547721
109    37.500000
110    44.444444
111    44.444444
112    44.444444
113    39.547721
114    39.547721
115    37.500000
116    37.500000
117    39.547721
118    39.547721
119    37.500000
120    23.076923
121    44.444444
122    39.547721
123    37.500000
124    37.500000
125    37.500000
126    39.547721
127    44.444444
128    44.444444
129    37.500000
130    37.500000
131    44.444444
132    39.547721
133    39.547721
134    37.500000
135    39.547721
136    37.500000
137    39.547721
138    37.500000
139    39.547721
140    37.500000
141    37.500000
142    39.547721
143    44.444444
144    39.547721
Name: proficiency_elementary_school, dtype: float64
30.673120879120884
98     23.100000
99     54.600000
100     8.330000
101     8.330000
102    30.673121
Name: proficiency_middle_school, dtype: float64
98     23.100000
99     54.600000
100     8.330000
101     8.330000
102    30.673121
103    15.384615
104     8.330000
105     8.330000
106     8.330000
107    23.100000
108    23.100000
109    54.600000
110     8.330000
111     8.330000
112     8.330000
113    30.673121
114    30.673121
115    54.600000
116    54.600000
117    30.673121
118    30.673121
119    54.600000
120    15.384615
121     8.330000
122    30.673121
123    54.600000
124    54.600000
125    54.600000
126    23.100000
127     8.330000
128     8.330000
129    54.600000
130    54.600000
131     8.330000
132    30.673121
133    30.673121
134    54.600000
135    30.673121
136    54.600000
137    30.673121
138    54.600000
139    30.673121
140    54.600000
141    54.600000
142    30.673121
143     8.330000
144    23.100000
Name: proficiency_middle_school, dtype: float64
nan
98    -1.0
99    -1.0
100   -1.0
101   -1.0
102   -1.0
Name: proficiency_high_school, dtype: float64
98    -1.0
99    -1.0
100   -1.0
101   -1.0
102   -1.0
103   -1.0
104   -1.0
105   -1.0
106   -1.0
107   -1.0
108   -1.0
109   -1.0
110   -1.0
111   -1.0
112   -1.0
113   -1.0
114   -1.0
115   -1.0
116   -1.0
117   -1.0
118   -1.0
119   -1.0
120   -1.0
121   -1.0
122   -1.0
123   -1.0
124   -1.0
125   -1.0
126   -1.0
127   -1.0
128   -1.0
129   -1.0
130   -1.0
131   -1.0
132   -1.0
133   -1.0
134   -1.0
135   -1.0
136   -1.0
137   -1.0
138   -1.0
139   -1.0
140   -1.0
141   -1.0
142   -1.0
143   -1.0
144   -1.0
Name: proficiency_high_school, dtype: float64
16.645014762661816
98     30.000000
99     14.000000
100    16.216216
101    16.216216
102    16.645015
Name: student_absenteeism, dtype: float64
98     30.000000
99     14.000000
100    16.216216
101    16.216216
102    16.645015
103     5.882353
104    16.216216
105    16.216216
106    16.216216
107    30.000000
108    30.000000
109    14.000000
110    16.216216
111    16.216216
112    16.216216
113    16.645015
114    16.645015
115    14.000000
116    14.000000
117    16.645015
118    16.645015
119    14.000000
120     5.882353
121    16.216216
122    16.645015
123    14.000000
124    14.000000
125    14.000000
126    30.000000
127    16.216216
128    16.216216
129    14.000000
130    14.000000
131    16.216216
132    16.645015
133    16.645015
134    14.000000
135    16.645015
136    14.000000
137    16.645015
138    14.000000
139    16.645015
140    14.000000
141    14.000000
142    16.645015
143    16.216216
144    30.000000
Name: student_absenteeism, dtype: float64
299.0952380952381
98     114.0
99     563.0
100     45.0
101     45.0
102    372.0
Name: voters_participating, dtype: float64
98     114.000000
99     563.000000
100     45.000000
101     45.000000
102    372.000000
103    179.000000
104     45.000000
105     45.000000
106     45.000000
107    114.000000
108    114.000000
109    563.000000
110     45.000000
111     45.000000
112     45.000000
113    372.000000
114    372.000000
115    563.000000
116    563.000000
117    299.095238
118    299.095238
119    563.000000
120    179.000000
121     45.000000
122    372.000000
123    563.000000
124    563.000000
125    563.000000
126    114.000000
127     45.000000
128     45.000000
129    563.000000
130    563.000000
131     45.000000
132    299.095238
133    372.000000
134    563.000000
135    372.000000
136    563.000000
137    299.095238
138    563.000000
139    299.095238
140    563.000000
141    563.000000
142    372.000000
143     45.000000
144    114.000000
Name: voters_participating, dtype: float64
2.0
98     2.0
99     2.0
100    2.0
101    2.0
102    2.0
Name: neighborhood_organizations, dtype: float64
98     2.0
99     2.0
100    2.0
101    2.0
102    2.0
103    2.0
104    2.0
105    2.0
106    2.0
107    2.0
108    2.0
109    2.0
110    2.0
111    2.0
112    2.0
113    2.0
114    2.0
115    2.0
116    2.0
117    2.0
118    2.0
119    2.0
120    2.0
121    2.0
122    2.0
123    2.0
124    2.0
125    2.0
126    2.0
127    2.0
128    2.0
129    2.0
130    2.0
131    2.0
132    2.0
133    2.0
134    2.0
135    2.0
136    2.0
137    2.0
138    2.0
139    2.0
140    2.0
141    2.0
142    2.0
143    2.0
144    2.0
Name: neighborhood_organizations, dtype: float64
40.69047619047619
98     12.0
99     71.0
100     9.0
101     9.0
102    55.0
Name: voter_participation, dtype: float64
98     12.000000
99     71.000000
100     9.000000
101     9.000000
102    55.000000
103    41.000000
104     9.000000
105     9.000000
106     9.000000
107    12.000000
108    12.000000
109    71.000000
110     9.000000
111     9.000000
112     9.000000
113    55.000000
114    55.000000
115    71.000000
116    71.000000
117    40.690476
118    40.690476
119    71.000000
120    41.000000
121     9.000000
122    55.000000
123    71.000000
124    71.000000
125    71.000000
126    12.000000
127     9.000000
128     9.000000
129    71.000000
130    71.000000
131     9.000000
132    40.690476
133    55.000000
134    71.000000
135    55.000000
136    71.000000
137    40.690476
138    71.000000
139    40.690476
140    71.000000
141    71.000000
142    55.000000
143     9.000000
144    12.000000
Name: voter_participation, dtype: float64
8.600000000000003
98     8.6
99     8.6
100    8.6
101    8.6
102    8.6
Name: vacant_land, dtype: float64
98     8.6
99     8.6
100    8.6
101    8.6
102    8.6
103    8.6
104    8.6
105    8.6
106    8.6
107    8.6
108    8.6
109    8.6
110    8.6
111    8.6
112    8.6
113    8.6
114    8.6
115    8.6
116    8.6
117    8.6
118    8.6
119    8.6
120    8.6
121    8.6
122    8.6
123    8.6
124    8.6
125    8.6
126    8.6
127    8.6
128    8.6
129    8.6
130    8.6
131    8.6
132    8.6
133    8.6
134    8.6
135    8.6
136    8.6
137    8.6
138    8.6
139    8.6
140    8.6
141    8.6
142    8.6
143    8.6
144    8.6
Name: vacant_land, dtype: float64
3.3
98     4.0
99     3.0
100    3.0
101    3.0
102    4.0
Name: population_density, dtype: float64
98     4.0
99     3.0
100    3.0
101    3.0
102    4.0
103    3.3
104    3.0
105    3.0
106    3.0
107    4.0
108    4.0
109    3.0
110    3.0
111    3.0
112    3.0
113    4.0
114    4.0
115    3.0
116    3.0
117    3.3
118    3.3
119    3.0
120    3.3
121    3.0
122    4.0
123    3.0
124    3.0
125    3.0
126    4.0
127    3.0
128    3.0
129    3.0
130    3.0
131    3.0
132    3.3
133    4.0
134    3.0
135    4.0
136    3.0
137    3.3
138    3.0
139    3.3
140    3.0
141    3.0
142    4.0
143    3.0
144    4.0
Name: population_density, dtype: float64
1081.85
98     1345.0
99      984.0
100     961.0
101     961.0
102    1328.0
Name: population, dtype: float64
98     1345.00
99      984.00
100     961.00
101     961.00
102    1328.00
103    1081.85
104     961.00
105     961.00
106     961.00
107    1345.00
108    1345.00
109     984.00
110     961.00
111     961.00
112     961.00
113    1328.00
114    1328.00
115     984.00
116     984.00
117    1081.85
118    1081.85
119     984.00
120    1081.85
121     961.00
122    1328.00
123     984.00
124     984.00
125     984.00
126    1345.00
127     961.00
128     961.00
129     984.00
130     984.00
131     961.00
132    1081.85
133    1328.00
134     984.00
135    1328.00
136     984.00
137    1081.85
138     984.00
139    1081.85
140     984.00
141     984.00
142    1328.00
143     961.00
144    1345.00
Name: population, dtype: float64
65.46666666666667
98     65.466667
99     65.466667
100    64.000000
101    64.000000
102    65.466667
Name: transit_ridership, dtype: float64
98     65.466667
99     65.466667
100    64.000000
101    64.000000
102    65.466667
103    75.000000
104    64.000000
105    64.000000
106    64.000000
107    65.466667
108    65.466667
109    65.466667
110    64.000000
111    64.000000
112    64.000000
113    65.466667
114    65.466667
115    65.466667
116    65.466667
117    65.466667
118    65.466667
119    65.466667
120    75.000000
121    64.000000
122    65.466667
123    65.466667
124    65.466667
125    65.466667
126    65.466667
127    64.000000
128    64.000000
129    65.466667
130    65.466667
131    64.000000
132    65.466667
133    65.466667

48.25
145    48.25
146    48.25
Name: Acres, dtype: float64
145    48.25
146    48.25
Name: Acres, dtype: float64
0.0
145    0.0
146    0.0
Name: births_to_adolescents, dtype: float64
145    0.0
146    0.0
Name: births_to_adolescents, dtype: float64
296.0
145    296.0
146    296.0
Name: grocery_proximate_units, dtype: float64
145    296.0
146    296.0
Name: grocery_proximate_units, dtype: float64
86.0
145    86.0
146    86.0
Name: prenatal_care, dtype: float64
145    86.0
146    86.0
Name: prenatal_care, dtype: float64
26.0
145    26.0
146    26.0
Name: grocery_proximity, dtype: float64
145    26.0
146    26.0
Name: grocery_proximity, dtype: float64
3.5
145    3.5
146    3.5
Name: low_birthweight, dtype: float64
145    3.5
146    3.5
Name: low_birthweight, dtype: float64
nan
145   -1.0
146   -1.0
Name: public_health_insurance, dtype: float64
145   -1.0
146   -1.0
Name: public_health_insurance, dtype: float64
78.0
145    78.0
146    78.0
Name: age_of_death, dtype: float64
145    78.0
146    78.0
Name: age_of_death, dtype: float64
18.1
145    18.1
146    18.1
Name: impervious_surface, dtype: float64
145    18.1
146    18.1
Name: impervious_surface, dtype: float64
221.0
145    221.0
146    221.0
Name: water_consumption, dtype: float64
145    221.0
146    221.0
Name: water_consumption, dtype: float64
94.4
145    94.4
146    94.4
Name: neighborhood_school_attendance, dtype: float64
145    94.4
146    94.4
Name: neighborhood_school_attendance, dtype: float64
94.0
145    94.0
146    94.0
Name: highschool_graduation_rate, dtype: float64
145    94.0
146    94.0
Name: highschool_graduation_rate, dtype: float64
85.59
145    85.59
146    85.59
Name: proficiency_elementary_school, dtype: float64
145    85.59
146    85.59
Name: proficiency_elementary_school, dtype: float64
90.0
145    90.0
146    90.0
Name: proficiency_middle_school, dtype: float64
145    90.0
146    90.0
Name: proficiency_middle_school, dtype: float64
87.5
145    87.5
146    87.5
Name: proficiency_high_school, dtype: float64
145    87.5
146    87.5
Name: proficiency_high_school, dtype: float64
3.0
145    3.0
146    3.0
Name: student_absenteeism, dtype: float64
145    3.0
146    3.0
Name: student_absenteeism, dtype: float64
1730.0
145    1730.0
146    1730.0
Name: voters_participating, dtype: float64
145    1730.0
146    1730.0
Name: voters_participating, dtype: float64
nan
145   -1.0
146   -1.0
Name: neighborhood_organizations, dtype: float64
145   -1.0
146   -1.0
Name: neighborhood_organizations, dtype: float64
82.0
145    82.0
146    82.0
Name: voter_participation, dtype: float64
145    82.0
146    82.0
Name: voter_participation, dtype: float64
4.5
145    4.5
146    4.5
Name: vacant_land, dtype: float64
145    4.5
146    4.5
Name: vacant_land, dtype: float64
5.0
145    5.0
146    5.0
Name: population_density, dtype: float64
145    5.0
146    5.0
Name: population_density, dtype: float64
2974.0
145    2974.0
146    2974.0
Name: population, dtype: float64
145    2974.0
146    2974.0
Name: population, dtype: float64
nan
145   -1.0
146   -1.0
Name: transit_ridership, dtype: float64
145   -1.0
146   -1.0
Name: transit_ridership, dtype: float64
1.08
145    1.08
146    1.08
Name: street_connectivity, dtype: float64
145    1.08
146    1.08
Name: street_connectivity, dtype: float64
1.6
145    1.6
146    1.6
Name: bicycle_friendliness, dtype: float64
145    1.6
146    1.6
Name: bicycle_friendliness, dtype: float64
1.25
147    1.25
Name: Acres, dtype: float64
147    1.25
Name: Acres, dtype: float64
nan
147   -1.0
Name: births_to_adolescents, dtype: float64
147   -1.0
Name: births_to_adolescents, dtype: float64
136.0
147    136.0
Name: grocery_proximate_units, dtype: float64
147    136.0
Name: grocery_proximate_units, dtype: float64
nan
147   -1.0
Name: prenatal_care, dtype: float64
147   -1.0
Name: prenatal_care, dtype: float64
13.0
147    13.0
Name: grocery_proximity, dtype: float64
147    13.0
Name: grocery_proximity, dtype: float64
nan
147   -1.0
Name: low_birthweight, dtype: float64
147   -1.0
Name: low_birthweight, dtype: float64
11.0
147    11.0
Name: public_health_insurance, dtype: float64
147    11.0
Name: public_health_insurance, dtype: float64
nan
147   -1.0
Name: age_of_death, dtype: float64
147   -1.0
Name: age_of_death, dtype: float64
6.8
147    6.8
Name: impervious_surface, dtype: float64
147    6.8
Name: impervious_surface, dtype: float64
nan
147   -1.0
Name: water_consumption, dtype: float64
147   -1.0
Name: water_consumption, dtype: float64
72.46
147    72.46
Name: neighborhood_school_attendance, dtype: float64
147    72.46
Name: neighborhood_school_attendance, dtype: float64
100.0
147    100.0
Name: highschool_graduation_rate, dtype: float64
147    100.0
Name: highschool_graduation_rate, dtype: float64
63.3802816901408
147    63.380282
Name: proficiency_elementary_school, dtype: float64
147    63.380282
Name: proficiency_elementary_school, dtype: float64
54.32
147    54.32
Name: proficiency_middle_school, dtype: float64
147    54.32
Name: proficiency_middle_school, dtype: float64
77.27
147    77.27
Name: proficiency_high_school, dtype: float64
147    77.27
Name: proficiency_high_school, dtype: float64
7.64331210191083
147    7.643312
Name: student_absenteeism, dtype: float64
147    7.643312
Name: student_absenteeism, dtype: float64
115.0
147    115.0
Name: voters_participating, dtype: float64
147    115.0
Name: voters_participating, dtype: float64
1.0
147    1.0
Name: neighborhood_organizations, dtype: float64
147    1.0
Name: neighborhood_organizations, dtype: float64
6.0
147    6.0
Name: voter_participation, dtype: float64
147    6.0
Name: voter_participation, dtype: float64
21.8
147    21.8
Name: vacant_land, dtype: float64
147    21.8
Name: vacant_land, dtype: float64
3.0
147    3.0
Name: population_density, dtype: float64
147    3.0
Name: population_density, dtype: float64
3096.0
147    3096.0
Name: population, dtype: float64
147    3096.0
Name: population, dtype: float64
nan
147   -1.0
Name: transit_ridership, dtype: float64
147   -1.0
Name: transit_ridership, dtype: float64
1.03
147    1.03
Name: street_connectivity, dtype: float64
147    1.03
Name: street_connectivity, dtype: float64
1.4
147    1.4
Name: bicycle_friendliness, dtype: float64
147    1.4
Name: bicycle_friendliness, dtype: float64
7.634
148    10.01
149     8.40
150     8.40
151     1.35
152    10.01
Name: Acres, dtype: float64
148    10.01
149     8.40
150     8.40
151     1.35
152    10.01
Name: Acres, dtype: float64
nan
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: births_to_adolescents, dtype: float64
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: births_to_adolescents, dtype: float64
674.0
148    674.0
149    674.0
150    674.0
151    674.0
152    674.0
Name: grocery_proximate_units, dtype: float64
148    674.0
149    674.0
150    674.0
151    674.0
152    674.0
Name: grocery_proximate_units, dtype: float64
nan
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: prenatal_care, dtype: float64
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: prenatal_care, dtype: float64
68.0
148    68.0
149    68.0
150    68.0
151    68.0
152    68.0
Name: grocery_proximity, dtype: float64
148    68.0
149    68.0
150    68.0
151    68.0
152    68.0
Name: grocery_proximity, dtype: float64
nan
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: low_birthweight, dtype: float64
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: low_birthweight, dtype: float64
23.0
148    23.0
149    23.0
150    23.0
151    23.0
152    23.0
Name: public_health_insurance, dtype: float64
148    23.0
149    23.0
150    23.0
151    23.0
152    23.0
Name: public_health_insurance, dtype: float64
nan
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: age_of_death, dtype: float64
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: age_of_death, dtype: float64
16.8
148    16.8
149    16.8
150    16.8
151    16.8
152    16.8
Name: impervious_surface, dtype: float64
148    16.8
149    16.8
150    16.8
151    16.8
152    16.8
Name: impervious_surface, dtype: float64
nan
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: water_consumption, dtype: float64
148   -1.0
149   -1.0
150   -1.0
151   -1.0
152   -1.0
Name: water_consumption, dtype: float64
85.23
148    85.23
149    85.23
150    85.23
151    85.23
152    85.23
Name: neighborhood_school_attendance, dtype: float64
148    85.23
149    85.23
150    85.23
151    85.23
152    85.23
Name: neighborhood_school_attendance, dtype: float64
89.0
148    89.0
149    89.0
150    89.0
151    89.0
152    89.0
Name: highschool_graduation_rate, dtype: float64
148    89.0
149    89.0
150    89.0
151    89.0
152    89.0
Name: highschool_graduation_rate, dtype: float64
43.636363636363605
148    43.636364
149    43.636364
150    43.636364
151    43.636364
152    43.636364
Name: proficiency_elementary_school, dtype: float64
148    43.636364
149    43.636364
150    43.636364
151    43.636364
152    43.636364
Name: proficiency_elementary_school, dtype: float64
46.53
148    46.53
149    46.53
150    46.53
151    46.53
152    46.53
Name: proficiency_middle_school, dtype: float64
148    46.53
149    46.53
150    46.53
151    46.53
152    46.53
Name: proficiency_middle_school, dtype: float64
52.17
148    52.17
149    52.17
150    52.17
151    52.17
152    52.17
Name: proficiency_high_school, dtype: float64
148    52.17
149    52.17
150    52.17
151    52.17
152    52.17
Name: proficiency_high_school, dtype: float64
9.82658959537572
148    9.82659
149    9.82659
150    9.82659
151    9.82659
152    9.82659
Name: student_absenteeism, dtype: float64
148    9.82659
149    9.82659
150    9.82659
151    9.82659
152    9.82659
Name: student_absenteeism, dtype: float64
139.0
148    139.0
149    139.0
150    139.0
151    139.0
152    139.0
Name: voters_participating, dtype: float64
148    139.0
149    139.0
150    139.0
151    139.0
152    139.0
Name: voters_participating, dtype: float64
0.0
148    0.0
149    0.0
150    0.0
151    0.0
152    0.0
Name: neighborhood_organizations, dtype: float64
148    0.0
149    0.0
150    0.0
151    0.0
152    0.0
Name: neighborhood_organizations, dtype: float64
12.0
148    12.0
149    12.0
150    12.0
151    12.0
152    12.0
Name: voter_participation, dtype: float64
148    12.0
149    12.0
150    12.0
151    12.0
152    12.0
Name: voter_participation, dtype: float64
6.4
148    6.4
149    6.4
150    6.4
151    6.4
152    6.4
Name: vacant_land, dtype: float64
148    6.4
149    6.4
150    6.4
151    6.4
152    6.4
Name: vacant_land, dtype: float64
8.0
148    8.0
149    8.0
150    8.0
151    8.0
152    8.0
Name: population_density, dtype: float64
148    8.0
149    8.0
150    8.0
151    8.0
152    8.0
Name: population_density, dtype: float64
2719.0
148    2719.0
149    2719.0
150    2719.0
151    2719.0
152    2719.0
Name: population, dtype: float64
148    2719.0
149    2719.0
150    2719.0
151    2719.0
152    2719.0
Name: population, dtype: float64
47.0
148    47.0
149    47.0
150    47.0
151    47.0
152    47.0
Name: transit_ridership, dtype: float64
148    47.0
149    47.0
150    47.0
151    47.0
152    47.0
Name: transit_ridership, dtype: float64
1.08
148    1.08
149    1.08
150    1.08
151    1.08
152    1.08
Name: street_connectivity, dtype: float64
148    1.08
149    1.08
150    1.08
151    1.08
152    1.08
Name: street_connectivity, dtype: float64
1.4
148    1.4
149    1.4
150    1.4
151    1.4
152    1.4
Name: bicycle_friendliness, dtype: float64
148    1.4
149    1.4
150    1.4
151    1.4
152    1.4
Name: bicycle_friendliness, dtype: float64
1.85
153    2.25
154    1.45
Name: Acres, dtype: float64
153    2.25
154    1.45
Name: Acres, dtype: float64
0.0
153    0.0
154    0.0
Name: births_to_adolescents, dtype: float64
153    0.0
154    0.0
Name: births_to_adolescents, dtype: float64
342.5
153    343.0
154    342.0
Name: grocery_proximate_units, dtype: float64
153    343.0
154    342.0
Name: grocery_proximate_units, dtype: float64
85.7
153    85.7
154    85.7
Name: prenatal_care, dtype: float64
153    85.7
154    85.7
Name: prenatal_care, dtype: float64
62.0
153    62.0
154    62.0
Name: grocery_proximity, dtype: float64
153    62.0
154    62.0
Name: grocery_proximity, dtype: float64
4.8
153    4.8
154    4.8
Name: low_birthweight, dtype: float64
153    4.8
154    4.8
Name: low_birthweight, dtype: float64
1.0
153    1.0
154    1.0
Name: public_health_insurance, dtype: float64
153    1.0
154    1.0
Name: public_health_insurance, dtype: float64
87.0
153    87.0
154    87.0
Name: age_of_death, dtype: float64
153    87.0
154    87.0
Name: age_of_death, dtype: float64
31.7
153    31.4
154    32.0
Name: impervious_surface, dtype: float64
153    31.4
154    32.0
Name: impervious_surface, dtype: float64
250.0
153    250.0
154    250.0
Name: water_consumption, dtype: float64
153    250.0
154    250.0
Name: water_consumption, dtype: float64
87.24000000000001
153    84.68
154    89.80
Name: neighborhood_school_attendance, dtype: float64
153    84.68
154    89.80
Name: neighborhood_school_attendance, dtype: float64
90.0
153     80.0
154    100.0
Name: highschool_graduation_rate, dtype: float64
153     80.0
154    100.0
Name: highschool_graduation_rate, dtype: float64
73.8675
153    71.875
154    75.860
Name: proficiency_elementary_school, dtype: float64
153    71.875
154    75.860
Name: proficiency_elementary_school, dtype: float64
88.695
153    89.19
154    88.20
Name: proficiency_middle_school, dtype: float64
153    89.19
154    88.20
Name: proficiency_middle_school, dtype: float64
100.0
153    100.0
154    100.0
Name: proficiency_high_school, dtype: float64
153    100.0
154    100.0
Name: proficiency_high_school, dtype: float64
2.7699115044247797
153    3.539823
154    2.000000
Name: student_absenteeism, dtype: float64
153    3.539823
154    2.000000
Name: student_absenteeism, dtype: float64
505.5
153    287.0
154    724.0
Name: voters_participating, dtype: float64
153    287.0
154    724.0
Name: voters_participating, dtype: float64
2.0
153    2.0
154    2.0
Name: neighborhood_organizations, dtype: float64
153    2.0
154    2.0
Name: neighborhood_organizations, dtype: float64
62.5
153    38.0
154    87.0
Name: voter_participation, dtype: float64
153    38.0
154    87.0
Name: voter_participation, dtype: float64
0.7
153    1.2
154    0.2
Name: vacant_land, dtype: float64
153    1.2
154    0.2
Name: vacant_land, dtype: float64
6.0
153    6.0
154    6.0
Name: population_density, dtype: float64
153    6.0
154    6.0
Name: population_density, dtype: float64
1185.0
153    1197.0
154    1173.0
Name: population, dtype: float64
153    1197.0
154    1173.0
Name: population, dtype: float64
10.0
153    10.0
154    10.0
Name: transit_ridership, dtype: float64
153    10.0
154    10.0
Name: transit_ridership, dtype: float64
1.31
153    1.31
154    1.31
Name: street_connectivity, dtype: float64
153    1.31
154    1.31
Name: street_connectivity, dtype: float64
1.9

153    1.9
154    1.9
Name: bicycle_friendliness, dtype: float64
153    1.9
154    1.9
Name: bicycle_friendliness, dtype: float64
1.420583333333333
155    2.33
156    3.21
157    0.51
158    0.39
159    0.17
Name: Acres, dtype: float64
155    2.330
156    3.210
157    0.510
158    0.390
159    0.170
160    0.370
161    0.917
162    2.770
163    3.210
164    0.420
165    1.500
166    1.250
Name: Acres, dtype: float64
7.05
155    7.05
156    6.60
157    7.05
158    7.05
159    7.05
Name: births_to_adolescents, dtype: float64
155    7.05
156    6.60
157    7.05
158    7.05
159    7.05
160    7.50
161    7.05
162    7.05
163    6.60
164    7.05
165    7.50
166    7.05
Name: births_to_adolescents, dtype: float64
415.6
155    415.6
156      0.0
157    613.0
158    595.0
159    613.0
Name: grocery_proximate_units, dtype: float64
155    415.6
156      0.0
157    613.0
158    595.0
159    613.0
160    275.0
161    415.6
162    595.0
163      0.0
164    595.0
165    275.0
166    595.0
Name: grocery_proximate_units, dtype: float64
53.599999999999994
155    53.6
156    63.9
157    53.6
158    53.6
159    53.6
Name: prenatal_care, dtype: float64
155    53.6
156    63.9
157    53.6
158    53.6
159    53.6
160    43.3
161    53.6
162    53.6
163    63.9
164    53.6
165    43.3
166    53.6
Name: prenatal_care, dtype: float64
39.2
155    39.2
156     0.0
157    56.0
158    56.0
159    56.0
Name: grocery_proximity, dtype: float64
155    39.2
156     0.0
157    56.0
158    56.0
159    56.0
160    28.0
161    39.2
162    56.0
163     0.0
164    56.0
165    28.0
166    56.0
Name: grocery_proximity, dtype: float64
18.2
155    18.2
156    23.0
157    18.2
158    18.2
159    18.2
Name: low_birthweight, dtype: float64
155    18.2
156    23.0
157    18.2
158    18.2
159    18.2
160    13.4
161    18.2
162    18.2
163    23.0
164    18.2
165    13.4
166    18.2
Name: low_birthweight, dtype: float64
40.0
155    40.0
156    56.0
157    40.0
158    32.0
159    40.0
Name: public_health_insurance, dtype: float64
155    40.0
156    56.0
157    40.0
158    32.0
159    40.0
160    40.0
161    40.0
162    32.0
163    56.0
164    32.0
165    40.0
166    32.0
Name: public_health_insurance, dtype: float64
63.5
155    63.5
156    61.0
157    63.5
158    63.5
159    63.5
Name: age_of_death, dtype: float64
155    63.5
156    61.0
157    63.5
158    63.5
159    63.5
160    66.0
161    63.5
162    63.5
163    61.0
164    63.5
165    66.0
166    63.5
Name: age_of_death, dtype: float64
30.299999999999997
155    30.3
156    30.3
157    30.8
158    30.2
159    30.8
Name: impervious_surface, dtype: float64
155    30.3
156    30.3
157    30.8
158    30.2
159    30.8
160    30.0
161    30.3
162    30.2
163    30.3
164    30.2
165    30.0
166    30.2
Name: impervious_surface, dtype: float64
105.66666666666667
155    105.666667
156     96.000000
157    114.000000
158    105.666667
159    114.000000
Name: water_consumption, dtype: float64
155    105.666667
156     96.000000
157    114.000000
158    105.666667
159    114.000000
160    107.000000
161    105.666667
162    105.666667
163     96.000000
164    105.666667
165    107.000000
166    105.666667
Name: water_consumption, dtype: float64
75.65
155    75.65
156    75.00
157    75.65
158    76.00
159    75.65
Name: neighborhood_school_attendance, dtype: float64
155    75.65
156    75.00
157    75.65
158    76.00
159    75.65
160    75.60
161    75.65
162    76.00
163    75.00
164    76.00
165    75.60
166    76.00
Name: neighborhood_school_attendance, dtype: float64
70.5
155    70.5
156    57.0
157    70.5
158    73.0
159    70.5
Name: highschool_graduation_rate, dtype: float64
155    70.5
156    57.0
157    70.5
158    73.0
159    70.5
160    79.0
161    70.5
162    73.0
163    57.0
164    73.0
165    79.0
166    73.0
Name: highschool_graduation_rate, dtype: float64
19.38333333333333
155    19.383333
156    33.333333
157    19.383333
158    12.100000
159    19.383333
Name: proficiency_elementary_school, dtype: float64
155    19.383333
156    33.333333
157    19.383333
158    12.100000
159    19.383333
160    20.000000
161    19.383333
162    12.100000
163    33.333333
164    12.100000
165    20.000000
166    12.100000
Name: proficiency_elementary_school, dtype: float64
12.948584905660377
155    12.948585
156    15.094340
157    12.948585
158    11.800000
159    12.948585
Name: proficiency_middle_school, dtype: float64
155    12.948585
156    15.094340
157    12.948585
158    11.800000
159    12.948585
160    13.100000
161    12.948585
162    11.800000
163    15.094340
164    11.800000
165    13.100000
166    11.800000
Name: proficiency_middle_school, dtype: float64
17.975
155    17.975
156    10.000
157    17.975
158    14.300
159    17.975
Name: proficiency_high_school, dtype: float64
155    17.975
156    10.000
157    17.975
158    14.300
159    17.975
160    33.300
161    17.975
162    14.300
163    10.000
164    14.300
165    33.300
166    14.300
Name: proficiency_high_school, dtype: float64
26.10897435897436
155    26.108974
156    22.435897
157    26.108974
158    29.000000
159    26.108974
Name: student_absenteeism, dtype: float64
155    26.108974
156    22.435897
157    26.108974
158    29.000000
159    26.108974
160    24.000000
161    26.108974
162    29.000000
163    22.435897
164    29.000000
165    24.000000
166    29.000000
Name: student_absenteeism, dtype: float64
361.2
155    361.2
156    350.0
157    435.0
158     92.0
159    435.0
Name: voters_participating, dtype: float64
155    361.2
156    350.0
157    435.0
158     92.0
159    435.0
160    837.0
161    361.2
162     92.0
163    350.0
164     92.0
165    837.0
166     92.0
Name: voters_participating, dtype: float64
0.0
155    0.0
156    0.0
157    0.0
158    0.0
159    0.0
Name: neighborhood_organizations, dtype: float64
155    0.0
156    0.0
157    0.0
158    0.0
159    0.0
160    0.0
161    0.0
162    0.0
163    0.0
164    0.0
165    0.0
166    0.0
Name: neighborhood_organizations, dtype: float64
31.8
155    31.8
156    42.0
157    44.0
158     6.0
159    44.0
Name: voter_participation, dtype: float64
155    31.8
156    42.0
157    44.0
158     6.0
159    44.0
160    61.0
161    31.8
162     6.0
163    42.0
164     6.0
165    61.0
166     6.0
Name: voter_participation, dtype: float64
3.6000000000000005
155    3.6
156    3.6
157    3.6
158    3.6
159    3.6
Name: vacant_land, dtype: float64
155    3.6
156    3.6
157    3.6
158    3.6
159    3.6
160    3.6
161    3.6
162    3.6
163    3.6
164    3.6
165    3.6
166    3.6
Name: vacant_land, dtype: float64
5.75
155    5.75
156    5.75
157    6.00
158    6.00
159    6.00
Name: population_density, dtype: float64
155    5.75
156    5.75
157    6.00
158    6.00
159    6.00
160    5.00
161    5.75
162    6.00
163    5.75
164    6.00
165    5.00
166    6.00
Name: population_density, dtype: float64
2629.25
155    2629.25
156    2629.25
157    2707.00
158    2695.00
159    2707.00
Name: population, dtype: float64
155    2629.25
156    2629.25
157    2707.00
158    2695.00
159    2707.00
160    2420.00
161    2629.25
162    2695.00
163    2629.25
164    2695.00
165    2420.00
166    2695.00
Name: population, dtype: float64
73.0
155    73.0
156    73.0
157    73.0
158    73.0
159    73.0
Name: transit_ridership, dtype: float64
155    73.0
156    73.0
157    73.0
158    73.0
159    73.0
160    73.0
161    73.0
162    73.0
163    73.0
164    73.0
165    73.0
166    73.0
Name: transit_ridership, dtype: float64
1.235
155    1.235
156    1.235
157    1.230
158    1.230
159    1.230
Name: street_connectivity, dtype: float64
155    1.235
156    1.235
157    1.230
158    1.230
159    1.230
160    1.250
161    1.235
162    1.230
163    1.235
164    1.230
165    1.250
166    1.230
Name: street_connectivity, dtype: float64
1.625
155    1.625
156    1.625
157    1.600
158    1.600
159    1.600
Name: bicycle_friendliness, dtype: float64
155    1.625
156    1.625
157    1.600
158    1.600
159    1.600
160    1.700
161    1.625
162    1.600
163    1.625
164    1.600
165    1.700
166    1.600
Name: bicycle_friendliness, dtype: float64
6.27
167    6.27
Name: Acres, dtype: float64
167    6.27
Name: Acres, dtype: float64
nan
167   -1.0
Name: births_to_adolescents, dtype: float64
167   -1.0
Name: births_to_adolescents, dtype: float64
390.0
167    390.0
Name: grocery_proximate_units, dtype: float64
167    390.0
Name: grocery_proximate_units, dtype: float64
nan
167   -1.0
Name: prenatal_care, dtype: float64
167   -1.0
Name: prenatal_care, dtype: float64
62.0
167    62.0
Name: grocery_proximity, dtype: float64
167    62.0
Name: grocery_proximity, dtype: float64
nan
167   -1.0
Name: low_birthweight, dtype: float64
167   -1.0
Name: low_birthweight, dtype: float64
nan
167   -1.0
Name: public_health_insurance, dtype: float64
167   -1.0
Name: public_health_insurance, dtype: float64
nan
167   -1.0
Name: age_of_death, dtype: float64
167   -1.0
Name: age_of_death, dtype: float64
25.5
167    25.5
Name: impervious_surface, dtype: float64
167    25.5
Name: impervious_surface, dtype: float64
157.0
167    157.0
Name: water_consumption, dtype: float64
167    157.0
Name: water_consumption, dtype: float64
nan
167   -1.0
Name: neighborhood_school_attendance, dtype: float64
167   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
167   -1.0
Name: highschool_graduation_rate, dtype: float64
167   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
167   -1.0
Name: proficiency_elementary_school, dtype: float64
167   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
167   -1.0
Name: proficiency_middle_school, dtype: float64
167   -1.0
Name: proficiency_middle_school, dtype: float64
nan
167   -1.0
Name: proficiency_high_school, dtype: float64
167   -1.0
Name: proficiency_high_school, dtype: float64
nan
167   -1.0
Name: student_absenteeism, dtype: float64
167   -1.0
Name: student_absenteeism, dtype: float64
159.0
167    159.0
Name: voters_participating, dtype: float64
167    159.0
Name: voters_participating, dtype: float64
nan
167   -1.0
Name: neighborhood_organizations, dtype: float64
167   -1.0
Name: neighborhood_organizations, dtype: float64
50.0
167    50.0
Name: voter_participation, dtype: float64
167    50.0
Name: voter_participation, dtype: float64
15.9
167    15.9
Name: vacant_land, dtype: float64
167    15.9
Name: vacant_land, dtype: float64
5.0
167    5.0
Name: population_density, dtype: float64
167    5.0
Name: population_density, dtype: float64
1349.0
167    1349.0
Name: population, dtype: float64
167    1349.0
Name: population, dtype: float64
nan
167   -1.0
Name: transit_ridership, dtype: float64
167   -1.0
Name: transit_ridership, dtype: float64
1.17
167    1.17
Name: street_connectivity, dtype: float64
167    1.17
Name: street_connectivity, dtype: float64
1.3
167    1.3
Name: bicycle_friendliness, dtype: float64
167    1.3
Name: bicycle_friendliness, dtype: float64
79.3
168    79.3
169    79.3
170    79.3
171    79.3
Name: Acres, dtype: float64
168    79.3
169    79.3
170    79.3
171    79.3
Name: Acres, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: births_to_adolescents, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: births_to_adolescents, dtype: float64
257.0
168    257.0
169    257.0
170    257.0
171    257.0
Name: grocery_proximate_units, dtype: float64
168    257.0
169    257.0
170    257.0
171    257.0
Name: grocery_proximate_units, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: prenatal_care, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: prenatal_care, dtype: float64
27.0
168    27.0
169    27.0
170    27.0
171    27.0
Name: grocery_proximity, dtype: float64
168    27.0
169    27.0
170    27.0
171    27.0
Name: grocery_proximity, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: low_birthweight, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: low_birthweight, dtype: float64
30.0
168    30.0
169    30.0
170    30.0
171    30.0
Name: public_health_insurance, dtype: float64
168    30.0
169    30.0
170    30.0
171    30.0
Name: public_health_insurance, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: age_of_death, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: age_of_death, dtype: float64
6.9
168    6.9
169    6.9
170    6.9
171    6.9
Name: impervious_surface, dtype: float64
168    6.9
169    6.9
170    6.9
171    6.9
Name: impervious_surface, dtype: float64
nan

168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: water_consumption, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: water_consumption, dtype: float64
77.0
168    77.0
169    77.0
170    77.0
171    77.0
Name: neighborhood_school_attendance, dtype: float64
168    77.0
169    77.0
170    77.0
171    77.0
Name: neighborhood_school_attendance, dtype: float64
90.0
168    90.0
169    90.0
170    90.0
171    90.0
Name: highschool_graduation_rate, dtype: float64
168    90.0
169    90.0
170    90.0
171    90.0
Name: highschool_graduation_rate, dtype: float64
34.5
168    34.5
169    34.5
170    34.5
171    34.5
Name: proficiency_elementary_school, dtype: float64
168    34.5
169    34.5
170    34.5
171    34.5
Name: proficiency_elementary_school, dtype: float64
27.4
168    27.4
169    27.4
170    27.4
171    27.4
Name: proficiency_middle_school, dtype: float64
168    27.4
169    27.4
170    27.4
171    27.4
Name: proficiency_middle_school, dtype: float64
17.9
168    17.9
169    17.9
170    17.9
171    17.9
Name: proficiency_high_school, dtype: float64
168    17.9
169    17.9
170    17.9
171    17.9
Name: proficiency_high_school, dtype: float64
22.0
168    22.0
169    22.0
170    22.0
171    22.0
Name: student_absenteeism, dtype: float64
168    22.0
169    22.0
170    22.0
171    22.0
Name: student_absenteeism, dtype: float64
249.0
168    249.0
169    249.0
170    249.0
171    249.0
Name: voters_participating, dtype: float64
168    249.0
169    249.0
170    249.0
171    249.0
Name: voters_participating, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: neighborhood_organizations, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: neighborhood_organizations, dtype: float64
16.0
168    16.0
169    16.0
170    16.0
171    16.0
Name: voter_participation, dtype: float64
168    16.0
169    16.0
170    16.0
171    16.0
Name: voter_participation, dtype: float64
41.1
168    41.1
169    41.1
170    41.1
171    41.1
Name: vacant_land, dtype: float64
168    41.1
169    41.1
170    41.1
171    41.1
Name: vacant_land, dtype: float64
2.0
168    2.0
169    2.0
170    2.0
171    2.0
Name: population_density, dtype: float64
168    2.0
169    2.0
170    2.0
171    2.0
Name: population_density, dtype: float64
2257.0
168    2257.0
169    2257.0
170    2257.0
171    2257.0
Name: population, dtype: float64
168    2257.0
169    2257.0
170    2257.0
171    2257.0
Name: population, dtype: float64
nan
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: transit_ridership, dtype: float64
168   -1.0
169   -1.0
170   -1.0
171   -1.0
Name: transit_ridership, dtype: float64
1.12
168    1.12
169    1.12
170    1.12
171    1.12
Name: street_connectivity, dtype: float64
168    1.12
169    1.12
170    1.12
171    1.12
Name: street_connectivity, dtype: float64
1.4
168    1.4
169    1.4
170    1.4
171    1.4
Name: bicycle_friendliness, dtype: float64
168    1.4
169    1.4
170    1.4
171    1.4
Name: bicycle_friendliness, dtype: float64
153.10699999999997
172      1.93
173     46.34
174    347.00
175    347.00
176      1.93
Name: Acres, dtype: float64
172      1.930
173     46.340
174    347.000
175    347.000
176      1.930
177      0.190
178    347.000
179     46.340
180    347.000
181     46.340
182    153.107
Name: Acres, dtype: float64
8.511111111111113
172    1.400000
173    9.400000
174    9.400000
175    9.400000
176    8.511111
Name: births_to_adolescents, dtype: float64
172    1.400000
173    9.400000
174    9.400000
175    9.400000
176    8.511111
177    8.511111
178    9.400000
179    9.400000
180    9.400000
181    9.400000
182    9.400000
Name: births_to_adolescents, dtype: float64
0.0
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
Name: grocery_proximate_units, dtype: float64
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
177    0.0
178    0.0
179    0.0
180    0.0
181    0.0
182    0.0
Name: grocery_proximate_units, dtype: float64
71.71111111111111
172    71.800000
173    71.700000
174    71.700000
175    71.700000
176    71.711111
Name: prenatal_care, dtype: float64
172    71.800000
173    71.700000
174    71.700000
175    71.700000
176    71.711111
177    71.711111
178    71.700000
179    71.700000
180    71.700000
181    71.700000
182    71.700000
Name: prenatal_care, dtype: float64
0.0
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
Name: grocery_proximity, dtype: float64
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
177    0.0
178    0.0
179    0.0
180    0.0
181    0.0
182    0.0
Name: grocery_proximity, dtype: float64
5.844444444444445
172    7.000000
173    5.700000
174    5.700000
175    5.700000
176    5.844444
Name: low_birthweight, dtype: float64
172    7.000000
173    5.700000
174    5.700000
175    5.700000
176    5.844444
177    5.844444
178    5.700000
179    5.700000
180    5.700000
181    5.700000
182    5.700000
Name: low_birthweight, dtype: float64
15.0
172    15.0
173    15.0
174    15.0
175    15.0
176    15.0
Name: public_health_insurance, dtype: float64
172    15.0
173    15.0
174    15.0
175    15.0
176    15.0
177    15.0
178    15.0
179    15.0
180    15.0
181    15.0
182    15.0
Name: public_health_insurance, dtype: float64
71.22222222222223
172    65.000000
173    72.000000
174    72.000000
175    72.000000
176    71.222222
Name: age_of_death, dtype: float64
172    65.000000
173    72.000000
174    72.000000
175    72.000000
176    71.222222
177    71.222222
178    72.000000
179    72.000000
180    72.000000
181    72.000000
182    72.000000
Name: age_of_death, dtype: float64
6.9
172    6.3
173    6.9
174    6.9
175    6.9
176    6.9
Name: impervious_surface, dtype: float64
172    6.3
173    6.9
174    6.9
175    6.9
176    6.9
177    7.5
178    6.9
179    6.9
180    6.9
181    6.9
182    6.9
Name: impervious_surface, dtype: float64
118.44444444444444
172    122.000000
173    118.000000
174    118.000000
175    118.000000
176    118.444444
Name: water_consumption, dtype: float64
172    122.000000
173    118.000000
174    118.000000
175    118.000000
176    118.444444
177    118.444444
178    118.000000
179    118.000000
180    118.000000
181    118.000000
182    118.000000
Name: water_consumption, dtype: float64
74.98999999999998
172    69.50
173    76.30
174    76.30
175    76.30
176    74.99
Name: neighborhood_school_attendance, dtype: float64
172    69.50
173    76.30
174    76.30
175    76.30
176    74.99
177    70.00
178    76.30
179    76.30
180    76.30
181    76.30
182    76.30
Name: neighborhood_school_attendance, dtype: float64
83.88888888888889
172    91.000000
173    83.000000
174    83.000000
175    83.000000
176    83.888889
Name: highschool_graduation_rate, dtype: float64
172    91.000000
173    83.000000
174    83.000000
175    83.000000
176    83.888889
177    83.888889
178    83.000000
179    83.000000
180    83.000000
181    83.000000
182    83.000000
Name: highschool_graduation_rate, dtype: float64
45.55939024390243
172    35.850000
173    48.780488
174    48.780488
175    48.780488
176    45.559390
Name: proficiency_elementary_school, dtype: float64
172    35.850000
173    48.780488
174    48.780488
175    48.780488
176    45.559390
177    29.500000
178    48.780488
179    48.780488
180    48.780488
181    48.780488
182    48.780488
Name: proficiency_elementary_school, dtype: float64
46.204736842105255
172    44.200000
173    47.368421
174    47.368421
175    47.368421
176    46.204737
Name: proficiency_middle_school, dtype: float64
172    44.200000
173    47.368421
174    47.368421
175    47.368421
176    46.204737
177    38.900000
178    47.368421
179    47.368421
180    47.368421
181    47.368421
182    47.368421
Name: proficiency_middle_school, dtype: float64
56.3
172    37.5
173    60.0
174    60.0
175    60.0
176    56.3
Name: proficiency_high_school, dtype: float64
172    37.5
173    60.0
174    60.0
175    60.0
176    56.3
177    45.5
178    60.0
179    60.0
180    60.0
181    60.0
182    60.0
Name: proficiency_high_school, dtype: float64
11.242105263157896
172    14.000000
173    11.052632
174    11.052632
175    11.052632
176    11.242105
Name: student_absenteeism, dtype: float64
172    14.000000
173    11.052632
174    11.052632
175    11.052632
176    11.242105
177    10.000000
178    11.052632
179    11.052632
180    11.052632
181    11.052632
182    11.052632
Name: student_absenteeism, dtype: float64
567.2
172    1177.0
173     544.0
174     544.0
175     544.0
176     567.2
Name: voters_participating, dtype: float64
172    1177.0
173     544.0
174     544.0
175     544.0
176     567.2
177     143.0
178     544.0
179     544.0
180     544.0
181     544.0
182     544.0
Name: voters_participating, dtype: float64
4.0
172    4.0
173    4.0
174    4.0
175    4.0
176    4.0
Name: neighborhood_organizations, dtype: float64
172    4.0
173    4.0
174    4.0
175    4.0
176    4.0
177    4.0
178    4.0
179    4.0
180    4.0
181    4.0
182    4.0
Name: neighborhood_organizations, dtype: float64
46.8
172    76.0
173    48.0
174    48.0
175    48.0
176    46.8
Name: voter_participation, dtype: float64
172    76.0
173    48.0
174    48.0
175    48.0
176    46.8
177     8.0
178    48.0
179    48.0
180    48.0
181    48.0
182    48.0
Name: voter_participation, dtype: float64
45.0
172    45.0
173    45.0
174    45.0
175    45.0
176    45.0
Name: vacant_land, dtype: float64
172    45.0
173    45.0
174    45.0
175    45.0
176    45.0
177    45.0
178    45.0
179    45.0
180    45.0
181    45.0
182    45.0
Name: vacant_land, dtype: float64
1.0
172    1.0
173    1.0
174    1.0
175    1.0
176    1.0
Name: population_density, dtype: float64
172    1.0
173    1.0
174    1.0
175    1.0
176    1.0
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
Name: population_density, dtype: float64
2185.5
172    2126.0
173    2185.5
174    2185.5
175    2185.5
176    2185.5
Name: population, dtype: float64
172    2126.0
173    2185.5
174    2185.5
175    2185.5
176    2185.5
177    2245.0
178    2185.5
179    2185.5
180    2185.5
181    2185.5
182    2185.5
Name: population, dtype: float64
11.0
172    11.0
173    11.0
174    11.0
175    11.0
176    11.0
Name: transit_ridership, dtype: float64
172    11.0
173    11.0
174    11.0
175    11.0
176    11.0
177    11.0
178    11.0
179    11.0
180    11.0
181    11.0
182    11.0
Name: transit_ridership, dtype: float64
1.27
172    1.27
173    1.27
174    1.27
175    1.27
176    1.27
Name: street_connectivity, dtype: float64
172    1.27
173    1.27
174    1.27
175    1.27
176    1.27
177    1.27
178    1.27
179    1.27
180    1.27
181    1.27
182    1.27
Name: street_connectivity, dtype: float64
1.4
172    1.4
173    1.4
174    1.4
175    1.4
176    1.4
Name: bicycle_friendliness, dtype: float64
172    1.4
173    1.4
174    1.4
175    1.4
176    1.4
177    1.4
178    1.4
179    1.4
180    1.4
181    1.4
182    1.4
Name: bicycle_friendliness, dtype: float64
2.105
183    1.23
184    2.98
Name: Acres, dtype: float64
183    1.23
184    2.98
Name: Acres, dtype: float64
0.0
183    0.0
184    0.0
Name: births_to_adolescents, dtype: float64
183    0.0
184    0.0
Name: births_to_adolescents, dtype: float64
308.0
183    223.0
184    393.0
Name: grocery_proximate_units, dtype: float64
183    223.0
184    393.0
Name: grocery_proximate_units, dtype: float64
78.1

183    78.1
184    78.1
Name: prenatal_care, dtype: float64
183    78.1
184    78.1
Name: prenatal_care, dtype: float64
26.5
183    21.0
184    32.0
Name: grocery_proximity, dtype: float64
183    21.0
184    32.0
Name: grocery_proximity, dtype: float64
7.8
183    7.8
184    7.8
Name: low_birthweight, dtype: float64
183    7.8
184    7.8
Name: low_birthweight, dtype: float64
8.5
183    8.0
184    9.0
Name: public_health_insurance, dtype: float64
183    8.0
184    9.0
Name: public_health_insurance, dtype: float64
70.0
183    70.0
184    70.0
Name: age_of_death, dtype: float64
183    70.0
184    70.0
Name: age_of_death, dtype: float64
16.7
183    16.7
184    16.7
Name: impervious_surface, dtype: float64
183    16.7
184    16.7
Name: impervious_surface, dtype: float64
146.0
183    146.0
184    146.0
Name: water_consumption, dtype: float64
183    146.0
184    146.0
Name: water_consumption, dtype: float64
59.465
183    57.30
184    61.63
Name: neighborhood_school_attendance, dtype: float64
183    57.30
184    61.63
Name: neighborhood_school_attendance, dtype: float64
96.0
183     92.0
184    100.0
Name: highschool_graduation_rate, dtype: float64
183     92.0
184    100.0
Name: highschool_graduation_rate, dtype: float64
69.34235976789167
183    72.727273
184    65.957447
Name: proficiency_elementary_school, dtype: float64
183    72.727273
184    65.957447
Name: proficiency_elementary_school, dtype: float64
58.92642857142857
183    57.142857
184    60.710000
Name: proficiency_middle_school, dtype: float64
183    57.142857
184    60.710000
Name: proficiency_middle_school, dtype: float64
38.88666666666666
183    33.333333
184    44.440000
Name: proficiency_high_school, dtype: float64
183    33.333333
184    44.440000
Name: proficiency_high_school, dtype: float64
7.7730705470620745
183    6.557377
184    8.988764
Name: student_absenteeism, dtype: float64
183    6.557377
184    8.988764
Name: student_absenteeism, dtype: float64
656.5
183    906.0
184    407.0
Name: voters_participating, dtype: float64
183    906.0
184    407.0
Name: voters_participating, dtype: float64
3.0
183    3.0
184    3.0
Name: neighborhood_organizations, dtype: float64
183    3.0
184    3.0
Name: neighborhood_organizations, dtype: float64
38.5
183    54.0
184    23.0
Name: voter_participation, dtype: float64
183    54.0
184    23.0
Name: voter_participation, dtype: float64
4.6
183    4.6
184    4.6
Name: vacant_land, dtype: float64
183    4.6
184    4.6
Name: vacant_land, dtype: float64
5.0
183    5.0
184    5.0
Name: population_density, dtype: float64
183    5.0
184    5.0
Name: population_density, dtype: float64
2854.0
183    2854.0
184    2854.0
Name: population, dtype: float64
183    2854.0
184    2854.0
Name: population, dtype: float64
10.0
183    11.0
184     9.0
Name: transit_ridership, dtype: float64
183    11.0
184     9.0
Name: transit_ridership, dtype: float64
1.1
183    1.1
184    1.1
Name: street_connectivity, dtype: float64
183    1.1
184    1.1
Name: street_connectivity, dtype: float64
1.6
183    1.6
184    1.6
Name: bicycle_friendliness, dtype: float64
183    1.6
184    1.6
Name: bicycle_friendliness, dtype: float64
0.5085454545454545
185    0.840
186    0.200
187    0.357
188    0.520
189    1.010
Name: Acres, dtype: float64
185    0.840
186    0.200
187    0.357
188    0.520
189    1.010
190    0.300
191    0.357
192    1.160
193    0.160
194    0.170
195    0.520
Name: Acres, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: births_to_adolescents, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: births_to_adolescents, dtype: float64
94.16666666666667
185    113.000000
186     94.166667
187    113.000000
188     94.166667
189     94.166667
Name: grocery_proximate_units, dtype: float64
185    113.000000
186     94.166667
187    113.000000
188     94.166667
189     94.166667
190     94.166667
191    113.000000
192    113.000000
193    113.000000
194      0.000000
195     94.166667
Name: grocery_proximate_units, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: prenatal_care, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: prenatal_care, dtype: float64
0.0
185    0.0
186    0.0
187    0.0
188    0.0
189    0.0
Name: grocery_proximity, dtype: float64
185    0.0
186    0.0
187    0.0
188    0.0
189    0.0
190    0.0
191    0.0
192    0.0
193    0.0
194    0.0
195    0.0
Name: grocery_proximity, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: low_birthweight, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: low_birthweight, dtype: float64
32.0
185    32.0
186    32.0
187    32.0
188    32.0
189    32.0
Name: public_health_insurance, dtype: float64
185    32.0
186    32.0
187    32.0
188    32.0
189    32.0
190    32.0
191    32.0
192    32.0
193    32.0
194    32.0
195    32.0
Name: public_health_insurance, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: age_of_death, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: age_of_death, dtype: float64
23.066666666666666
185    23.000000
186    23.066667
187    23.000000
188    23.066667
189    23.066667
Name: impervious_surface, dtype: float64
185    23.000000
186    23.066667
187    23.000000
188    23.066667
189    23.066667
190    23.066667
191    23.000000
192    23.000000
193    23.000000
194    23.400000
195    23.066667
Name: impervious_surface, dtype: float64
101.0
185    101.0
186    101.0
187    101.0
188    101.0
189    101.0
Name: water_consumption, dtype: float64
185    101.0
186    101.0
187    101.0
188    101.0
189    101.0
190    101.0
191    101.0
192    101.0
193    101.0
194    101.0
195    101.0
Name: water_consumption, dtype: float64
61.0
185    61.0
186    61.0
187    61.0
188    61.0
189    61.0
Name: neighborhood_school_attendance, dtype: float64
185    61.0
186    61.0
187    61.0
188    61.0
189    61.0
190    61.0
191    61.0
192    61.0
193    61.0
194    61.0
195    61.0
Name: neighborhood_school_attendance, dtype: float64
88.0
185    88.0
186    88.0
187    88.0
188    88.0
189    88.0
Name: highschool_graduation_rate, dtype: float64
185    88.0
186    88.0
187    88.0
188    88.0
189    88.0
190    88.0
191    88.0
192    88.0
193    88.0
194    88.0
195    88.0
Name: highschool_graduation_rate, dtype: float64
28.0
185    28.0
186    28.0
187    28.0
188    28.0
189    28.0
Name: proficiency_elementary_school, dtype: float64
185    28.0
186    28.0
187    28.0
188    28.0
189    28.0
190    28.0
191    28.0
192    28.0
193    28.0
194    28.0
195    28.0
Name: proficiency_elementary_school, dtype: float64
10.0
185    10.0
186    10.0
187    10.0
188    10.0
189    10.0
Name: proficiency_middle_school, dtype: float64
185    10.0
186    10.0
187    10.0
188    10.0
189    10.0
190    10.0
191    10.0
192    10.0
193    10.0
194    10.0
195    10.0
Name: proficiency_middle_school, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: proficiency_high_school, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: proficiency_high_school, dtype: float64
24.0
185    24.0
186    24.0
187    24.0
188    24.0
189    24.0
Name: student_absenteeism, dtype: float64
185    24.0
186    24.0
187    24.0
188    24.0
189    24.0
190    24.0
191    24.0
192    24.0
193    24.0
194    24.0
195    24.0
Name: student_absenteeism, dtype: float64
322.6666666666667
185    257.000000
186    322.666667
187    257.000000
188    322.666667
189    322.666667
Name: voters_participating, dtype: float64
185    257.000000
186    322.666667
187    257.000000
188    322.666667
189    322.666667
190    322.666667
191    257.000000
192    257.000000
193    257.000000
194    651.000000
195    322.666667
Name: voters_participating, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: neighborhood_organizations, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: neighborhood_organizations, dtype: float64
23.666666666666668
185    17.000000
186    23.666667
187    17.000000
188    23.666667
189    23.666667
Name: voter_participation, dtype: float64
185    17.000000
186    23.666667
187    17.000000
188    23.666667
189    23.666667
190    23.666667
191    17.000000
192    17.000000
193    17.000000
194    57.000000
195    23.666667
Name: voter_participation, dtype: float64
9.700000000000001
185    9.7
186    9.7
187    9.7
188    9.7
189    9.7
Name: vacant_land, dtype: float64
185    9.7
186    9.7
187    9.7
188    9.7
189    9.7
190    9.7
191    9.7
192    9.7
193    9.7
194    9.7
195    9.7
Name: vacant_land, dtype: float64
8.0
185    8.0
186    8.0
187    8.0
188    8.0
189    8.0
Name: population_density, dtype: float64
185    8.0
186    8.0
187    8.0
188    8.0
189    8.0
190    8.0
191    8.0
192    8.0
193    8.0
194    8.0
195    8.0
Name: population_density, dtype: float64
1896.0
185    1889.0
186    1896.0
187    1889.0
188    1896.0
189    1896.0
Name: population, dtype: float64
185    1889.0
186    1896.0
187    1889.0
188    1896.0
189    1896.0
190    1896.0
191    1889.0
192    1889.0
193    1889.0
194    1931.0
195    1896.0
Name: population, dtype: float64
nan
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
Name: transit_ridership, dtype: float64
185   -1.0
186   -1.0
187   -1.0
188   -1.0
189   -1.0
190   -1.0
191   -1.0
192   -1.0
193   -1.0
194   -1.0
195   -1.0
Name: transit_ridership, dtype: float64
1.42
185    1.42
186    1.42
187    1.42
188    1.42
189    1.42
Name: street_connectivity, dtype: float64
185    1.42
186    1.42
187    1.42
188    1.42
189    1.42
190    1.42
191    1.42
192    1.42
193    1.42
194    1.42
195    1.42
Name: street_connectivity, dtype: float64
2.1999999999999997
185    2.2
186    2.2
187    2.2
188    2.2
189    2.2
Name: bicycle_friendliness, dtype: float64
185    2.2
186    2.2
187    2.2
188    2.2
189    2.2
190    2.2
191    2.2
192    2.2
193    2.2
194    2.2
195    2.2
Name: bicycle_friendliness, dtype: float64

15.724583333333333
196    15.380
197     3.415
198     2.880
199    35.910
200     5.140
Name: Acres, dtype: float64
196    15.380
197     3.415
198     2.880
199    35.910
200     5.140
201    20.030
202    35.910
203     9.620
204    15.380
205    15.380
206    20.030
207     9.620
Name: Acres, dtype: float64
0.0
196    0.0
197    0.0
198    0.0
199    0.0
200    0.0
Name: births_to_adolescents, dtype: float64
196    0.0
197    0.0
198    0.0
199    0.0
200    0.0
201    0.0
202    0.0
203    0.0
204    0.0
205    0.0
206    0.0
207    0.0
Name: births_to_adolescents, dtype: float64
298.72727272727275
196    271.0
197    271.0
198    271.0
199    332.0
200    271.0
Name: grocery_proximate_units, dtype: float64
196    271.000000
197    271.000000
198    271.000000
199    332.000000
200    271.000000
201    332.000000
202    332.000000
203    298.727273
204    271.000000
205    271.000000
206    332.000000
207    332.000000
Name: grocery_proximate_units, dtype: float64
70.0
196    70.0
197    70.0
198    70.0
199    70.0
200    70.0
Name: prenatal_care, dtype: float64
196    70.0
197    70.0
198    70.0
199    70.0
200    70.0
201    70.0
202    70.0
203    70.0
204    70.0
205    70.0
206    70.0
207    70.0
Name: prenatal_care, dtype: float64
36.45454545454545
196    32.0
197    39.0
198    32.0
199    39.0
200    39.0
Name: grocery_proximity, dtype: float64
196    32.000000
197    39.000000
198    32.000000
199    39.000000
200    39.000000
201    39.000000
202    39.000000
203    36.454545
204    32.000000
205    32.000000
206    39.000000
207    39.000000
Name: grocery_proximity, dtype: float64
8.0
196    8.0
197    8.0
198    8.0
199    8.0
200    8.0
Name: low_birthweight, dtype: float64
196    8.0
197    8.0
198    8.0
199    8.0
200    8.0
201    8.0
202    8.0
203    8.0
204    8.0
205    8.0
206    8.0
207    8.0
Name: low_birthweight, dtype: float64
6.0
196    6.0
197    6.0
198    6.0
199    6.0
200    6.0
Name: public_health_insurance, dtype: float64
196    6.0
197    6.0
198    6.0
199    6.0
200    6.0
201    6.0
202    6.0
203    6.0
204    6.0
205    6.0
206    6.0
207    6.0
Name: public_health_insurance, dtype: float64
72.0
196    72.0
197    72.0
198    72.0
199    72.0
200    72.0
Name: age_of_death, dtype: float64
196    72.0
197    72.0
198    72.0
199    72.0
200    72.0
201    72.0
202    72.0
203    72.0
204    72.0
205    72.0
206    72.0
207    72.0
Name: age_of_death, dtype: float64
24.581818181818186
196    24.3
197    24.6
198    24.3
199    24.8
200    24.6
Name: impervious_surface, dtype: float64
196    24.300000
197    24.600000
198    24.300000
199    24.800000
200    24.600000
201    24.800000
202    24.800000
203    24.581818
204    24.300000
205    24.300000
206    24.800000
207    24.800000
Name: impervious_surface, dtype: float64
153.55555555555554
196    158.000000
197    153.555556
198    158.000000
199    150.000000
200    153.555556
Name: water_consumption, dtype: float64
196    158.000000
197    153.555556
198    158.000000
199    150.000000
200    153.555556
201    150.000000
202    150.000000
203    153.555556
204    158.000000
205    158.000000
206    150.000000
207    150.000000
Name: water_consumption, dtype: float64
67.8
196    68.7
197    66.0
198    68.7
199    67.8
200    66.0
Name: neighborhood_school_attendance, dtype: float64
196    68.7
197    66.0
198    68.7
199    67.8
200    66.0
201    67.8
202    67.8
203    67.8
204    68.7
205    68.7
206    67.8
207    67.8
Name: neighborhood_school_attendance, dtype: float64
98.66666666666667
196    100.000000
197     96.000000
198    100.000000
199     98.666667
200     96.000000
Name: highschool_graduation_rate, dtype: float64
196    100.000000
197     96.000000
198    100.000000
199     98.666667
200     96.000000
201     98.666667
202     98.666667
203     98.666667
204    100.000000
205    100.000000
206     98.666667
207     98.666667
Name: highschool_graduation_rate, dtype: float64
57.48666666666666
196    58.330000
197    55.800000
198    58.330000
199    57.486667
200    55.800000
Name: proficiency_elementary_school, dtype: float64
196    58.330000
197    55.800000
198    58.330000
199    57.486667
200    55.800000
201    57.486667
202    57.486667
203    57.486667
204    58.330000
205    58.330000
206    57.486667
207    57.486667
Name: proficiency_elementary_school, dtype: float64
46.666666666666664
196    44.400000
197    51.200000
198    44.400000
199    46.666667
200    51.200000
Name: proficiency_middle_school, dtype: float64
196    44.400000
197    51.200000
198    44.400000
199    46.666667
200    51.200000
201    46.666667
202    46.666667
203    46.666667
204    44.400000
205    44.400000
206    46.666667
207    46.666667
Name: proficiency_middle_school, dtype: float64
22.2
196    22.2
197    22.2
198    22.2
199    22.2
200    22.2
Name: proficiency_high_school, dtype: float64
196    22.2
197    22.2
198    22.2
199    22.2
200    22.2
201    22.2
202    22.2
203    22.2
204    22.2
205    22.2
206    22.2
207    22.2
Name: proficiency_high_school, dtype: float64
7.0
196    6.0
197    9.0
198    6.0
199    7.0
200    9.0
Name: student_absenteeism, dtype: float64
196    6.0
197    9.0
198    6.0
199    7.0
200    9.0
201    7.0
202    7.0
203    7.0
204    6.0
205    6.0
206    7.0
207    7.0
Name: student_absenteeism, dtype: float64
1043.1818181818182
196    1317.0
197     471.0
198    1317.0
199    1053.0
200     471.0
Name: voters_participating, dtype: float64
196    1317.000000
197     471.000000
198    1317.000000
199    1053.000000
200     471.000000
201    1053.000000
202    1053.000000
203    1043.181818
204    1317.000000
205    1317.000000
206    1053.000000
207    1053.000000
Name: voters_participating, dtype: float64
nan
196   -1.0
197   -1.0
198   -1.0
199   -1.0
200   -1.0
Name: neighborhood_organizations, dtype: float64
196   -1.0
197   -1.0
198   -1.0
199   -1.0
200   -1.0
201   -1.0
202   -1.0
203   -1.0
204   -1.0
205   -1.0
206   -1.0
207   -1.0
Name: neighborhood_organizations, dtype: float64
65.81818181818181
196    83.0
197    26.0
198    83.0
199    68.0
200    26.0
Name: voter_participation, dtype: float64
196    83.000000
197    26.000000
198    83.000000
199    68.000000
200    26.000000
201    68.000000
202    68.000000
203    65.818182
204    83.000000
205    83.000000
206    68.000000
207    68.000000
Name: voter_participation, dtype: float64
13.0
196    13.0
197    13.0
198    13.0
199    13.0
200    13.0
Name: vacant_land, dtype: float64
196    13.0
197    13.0
198    13.0
199    13.0
200    13.0
201    13.0
202    13.0
203    13.0
204    13.0
205    13.0
206    13.0
207    13.0
Name: vacant_land, dtype: float64
1.0
196    1.0
197    1.0
198    1.0
199    1.0
200    1.0
Name: population_density, dtype: float64
196    1.0
197    1.0
198    1.0
199    1.0
200    1.0
201    1.0
202    1.0
203    1.0
204    1.0
205    1.0
206    1.0
207    1.0
Name: population_density, dtype: float64
2391.5454545454545
196    2397.0
197    2397.0
198    2397.0
199    2385.0
200    2397.0
Name: population, dtype: float64
196    2397.000000
197    2397.000000
198    2397.000000
199    2385.000000
200    2397.000000
201    2385.000000
202    2385.000000
203    2391.545455
204    2397.000000
205    2397.000000
206    2385.000000
207    2385.000000
Name: population, dtype: float64
nan
196   -1.0
197   -1.0
198   -1.0
199   -1.0
200   -1.0
Name: transit_ridership, dtype: float64
196   -1.0
197   -1.0
198   -1.0
199   -1.0
200   -1.0
201   -1.0
202   -1.0
203   -1.0
204   -1.0
205   -1.0
206   -1.0
207   -1.0
Name: transit_ridership, dtype: float64
1.17
196    1.17
197    1.17
198    1.17
199    1.17
200    1.17
Name: street_connectivity, dtype: float64
196    1.17
197    1.17
198    1.17
199    1.17
200    1.17
201    1.17
202    1.17
203    1.17
204    1.17
205    1.17
206    1.17
207    1.17
Name: street_connectivity, dtype: float64
1.3000000000000003
196    1.3
197    1.3
198    1.3
199    1.3
200    1.3
Name: bicycle_friendliness, dtype: float64
196    1.3
197    1.3
198    1.3
199    1.3
200    1.3
201    1.3
202    1.3
203    1.3
204    1.3
205    1.3
206    1.3
207    1.3
Name: bicycle_friendliness, dtype: float64
2.24
208    2.24
Name: Acres, dtype: float64
208    2.24
Name: Acres, dtype: float64
nan
208   -1.0
Name: births_to_adolescents, dtype: float64
208   -1.0
Name: births_to_adolescents, dtype: float64
762.0
208    762.0
Name: grocery_proximate_units, dtype: float64
208    762.0
Name: grocery_proximate_units, dtype: float64

nan
208   -1.0
Name: prenatal_care, dtype: float64
208   -1.0
Name: prenatal_care, dtype: float64
64.0
208    64.0
Name: grocery_proximity, dtype: float64
208    64.0
Name: grocery_proximity, dtype: float64
nan
208   -1.0
Name: low_birthweight, dtype: float64
208   -1.0
Name: low_birthweight, dtype: float64
33.0
208    33.0
Name: public_health_insurance, dtype: float64
208    33.0
Name: public_health_insurance, dtype: float64
nan
208   -1.0
Name: age_of_death, dtype: float64
208   -1.0
Name: age_of_death, dtype: float64
19.5
208    19.5
Name: impervious_surface, dtype: float64
208    19.5
Name: impervious_surface, dtype: float64
nan
208   -1.0
Name: water_consumption, dtype: float64
208   -1.0
Name: water_consumption, dtype: float64
63.52
208    63.52
Name: neighborhood_school_attendance, dtype: float64
208    63.52
Name: neighborhood_school_attendance, dtype: float64
100.0
208    100.0
Name: highschool_graduation_rate, dtype: float64
208    100.0
Name: highschool_graduation_rate, dtype: float64
27.7777777777778
208    27.777778
Name: proficiency_elementary_school, dtype: float64
208    27.777778
Name: proficiency_elementary_school, dtype: float64
23.21
208    23.21
Name: proficiency_middle_school, dtype: float64
208    23.21
Name: proficiency_middle_school, dtype: float64
29.41
208    29.41
Name: proficiency_high_school, dtype: float64
208    29.41
Name: proficiency_high_school, dtype: float64
12.056737588652501
208    12.056738
Name: student_absenteeism, dtype: float64
208    12.056738
Name: student_absenteeism, dtype: float64
156.0
208    156.0
Name: voters_participating, dtype: float64
208    156.0
Name: voters_participating, dtype: float64
2.0
208    2.0
Name: neighborhood_organizations, dtype: float64
208    2.0
Name: neighborhood_organizations, dtype: float64
11.0
208    11.0
Name: voter_participation, dtype: float64
208    11.0
Name: voter_participation, dtype: float64
5.4
208    5.4
Name: vacant_land, dtype: float64
208    5.4
Name: vacant_land, dtype: float64
9.0
208    9.0
Name: population_density, dtype: float64
208    9.0
Name: population_density, dtype: float64
3171.0
208    3171.0
Name: population, dtype: float64
208    3171.0
Name: population, dtype: float64
28.0
208    28.0
Name: transit_ridership, dtype: float64
208    28.0
Name: transit_ridership, dtype: float64
1.22
208    1.22
Name: street_connectivity, dtype: float64
208    1.22
Name: street_connectivity, dtype: float64
1.3
208    1.3
Name: bicycle_friendliness, dtype: float64
208    1.3
Name: bicycle_friendliness, dtype: float64
14.375
209     6.02
210    16.37
211    16.37
212    16.37
213     6.02
Name: Acres, dtype: float64
209     6.02
210    16.37
211    16.37
212    16.37
213     6.02
214    25.10
Name: Acres, dtype: float64
0.6666666666666666
209    0.700000
210    0.666667
211    0.666667
212    0.666667
213    0.700000
Name: births_to_adolescents, dtype: float64
209    0.700000
210    0.666667
211    0.666667
212    0.666667
213    0.700000
214    0.600000
Name: births_to_adolescents, dtype: float64
30.0
209     0.0
210    60.0
211    60.0
212    60.0
213     0.0
Name: grocery_proximate_units, dtype: float64
209     0.0
210    60.0
211    60.0
212    60.0
213     0.0
214     0.0
Name: grocery_proximate_units, dtype: float64
81.63333333333334
209    80.900000
210    81.633333
211    81.633333
212    81.633333
213    80.900000
Name: prenatal_care, dtype: float64
209    80.900000
210    81.633333
211    81.633333
212    81.633333
213    80.900000
214    83.100000
Name: prenatal_care, dtype: float64
1.5
209    0.0
210    3.0
211    3.0
212    3.0
213    0.0
Name: grocery_proximity, dtype: float64
209    0.0
210    3.0
211    3.0
212    3.0
213    0.0
214    0.0
Name: grocery_proximity, dtype: float64
9.1
209    10.5
210     9.1
211     9.1
212     9.1
213    10.5
Name: low_birthweight, dtype: float64
209    10.5
210     9.1
211     9.1
212     9.1
213    10.5
214     6.3
Name: low_birthweight, dtype: float64
6.75
209    6.75
210    7.00
211    7.00
212    7.00
213    6.75
Name: public_health_insurance, dtype: float64
209    6.75
210    7.00
211    7.00
212    7.00
213    6.75
214    6.00
Name: public_health_insurance, dtype: float64
64.33333333333333
209    67.000000
210    64.333333
211    64.333333
212    64.333333
213    67.000000
Name: age_of_death, dtype: float64
209    67.000000
210    64.333333
211    64.333333
212    64.333333
213    67.000000
214    59.000000
Name: age_of_death, dtype: float64
15.38
209    14.3
210    16.1
211    16.1
212    16.1
213    14.3
Name: impervious_surface, dtype: float64
209    14.30
210    16.10
211    16.10
212    16.10
213    14.30
214    15.38
Name: impervious_surface, dtype: float64
177.66666666666666
209    183.000000
210    177.666667
211    177.666667
212    177.666667
213    183.000000
Name: water_consumption, dtype: float64
209    183.000000
210    177.666667
211    177.666667
212    177.666667
213    183.000000
214    167.000000
Name: water_consumption, dtype: float64
47.63666666666668
209    42.8
210    49.0
211    49.0
212    49.0
213    42.8
Name: neighborhood_school_attendance, dtype: float64
209    42.80
210    49.00
211    49.00
212    49.00
213    42.80
214    53.22
Name: neighborhood_school_attendance, dtype: float64
94.66666666666667
209    100.0
210     93.0
211     93.0
212     93.0
213    100.0
Name: highschool_graduation_rate, dtype: float64
209    100.0
210     93.0
211     93.0
212     93.0
213    100.0
214     89.0
Name: highschool_graduation_rate, dtype: float64
65.76159420289856
209    68.75
210    65.40
211    65.40
212    65.40
213    68.75
Name: proficiency_elementary_school, dtype: float64
209    68.750000
210    65.400000
211    65.400000
212    65.400000
213    68.750000
214    60.869565
Name: proficiency_elementary_school, dtype: float64
47.439455782312926
209    47.6
210    49.2
211    49.2
212    49.2
213    47.6
Name: proficiency_middle_school, dtype: float64
209    47.600000
210    49.200000
211    49.200000
212    49.200000
213    47.600000
214    41.836735
Name: proficiency_middle_school, dtype: float64
53.33809523809524
209    73.0
210    34.2
211    34.2
212    34.2
213    73.0
Name: proficiency_high_school, dtype: float64
209    73.000000
210    34.200000
211    34.200000
212    34.200000
213    73.000000
214    71.428571
Name: proficiency_high_school, dtype: float64
5.1118188251946215
209    4.0
210    6.0
211    6.0
212    6.0
213    4.0
Name: student_absenteeism, dtype: float64
209    4.000000
210    6.000000
211    6.000000
212    6.000000
213    4.000000
214    4.670913
Name: student_absenteeism, dtype: float64
1029.0
209    1836.0
210     570.0
211     570.0
212     570.0
213    1836.0
Name: voters_participating, dtype: float64
209    1836.0
210     570.0
211     570.0
212     570.0
213    1836.0
214     792.0
Name: voters_participating, dtype: float64
0.0
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
Name: neighborhood_organizations, dtype: float64
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
214    0.0
Name: neighborhood_organizations, dtype: float64
43.0
209    78.0
210    17.0
211    17.0
212    17.0
213    78.0
Name: voter_participation, dtype: float64
209    78.0
210    17.0
211    17.0
212    17.0
213    78.0
214    51.0
Name: voter_participation, dtype: float64
35.6
209    35.6
210    35.6
211    35.6
212    35.6
213    35.6
Name: vacant_land, dtype: float64
209    35.6
210    35.6
211    35.6
212    35.6
213    35.6
214    35.6
Name: vacant_land, dtype: float64
4.0
209    4.0
210    4.0
211    4.0
212    4.0
213    4.0
Name: population_density, dtype: float64
209    4.0
210    4.0
211    4.0
212    4.0
213    4.0
214    4.0
Name: population_density, dtype: float64
3626.2
209    3442.0
210    3749.0
211    3749.0
212    3749.0
213    3442.0
Name: population, dtype: float64
209    3442.0
210    3749.0
211    3749.0
212    3749.0
213    3442.0
214    3626.2
Name: population, dtype: float64
0.0
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
Name: transit_ridership, dtype: float64
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
214    0.0
Name: transit_ridership, dtype: float64
1.2760000000000002
209    1.27
210    1.28
211    1.28
212    1.28
213    1.27
Name: street_connectivity, dtype: float64
209    1.270
210    1.280
211    1.280
212    1.280
213    1.270
214    1.276
Name: street_connectivity, dtype: float64
1.4
209    1.4
210    1.4
211    1.4
212    1.4
213    1.4
Name: bicycle_friendliness, dtype: float64
209    1.4
210    1.4
211    1.4
212    1.4
213    1.4
214    1.4
Name: bicycle_friendliness, dtype: float64
3.15
215    3.15
Name: Acres, dtype: float64
215    3.15
Name: Acres, dtype: float64
0.0
215    0.0
Name: births_to_adolescents, dtype: float64
215    0.0
Name: births_to_adolescents, dtype: float64
640.0
215    640.0
Name: grocery_proximate_units, dtype: float64
215    640.0
Name: grocery_proximate_units, dtype: float64
90.9
215    90.9
Name: prenatal_care, dtype: float64
215    90.9
Name: prenatal_care, dtype: float64
100.0
215    100.0
Name: grocery_proximity, dtype: float64
215    100.0
Name: grocery_proximity, dtype: float64
6.1
215    6.1
Name: low_birthweight, dtype: float64
215    6.1
Name: low_birthweight, dtype: float64
7.0
215    7.0
Name: public_health_insurance, dtype: float64
215    7.0
Name: public_health_insurance, dtype: float64
86.0
215    86.0
Name: age_of_death, dtype: float64
215    86.0
Name: age_of_death, dtype: float64
nan
215   -1.0
Name: impervious_surface, dtype: float64
215   -1.0
Name: impervious_surface, dtype: float64
199.0
215    199.0
Name: water_consumption, dtype: float64
215    199.0
Name: water_consumption, dtype: float64
55.56
215    55.56
Name: neighborhood_school_attendance, dtype: float64
215    55.56
Name: neighborhood_school_attendance, dtype: float64
nan
215   -1.0
Name: highschool_graduation_rate, dtype: float64
215   -1.0
Name: highschool_graduation_rate, dtype: float64
77.7777777777778
215    77.777778
Name: proficiency_elementary_school, dtype: float64
215    77.777778
Name: proficiency_elementary_school, dtype: float64
nan
215   -1.0
Name: proficiency_middle_school, dtype: float64
215   -1.0
Name: proficiency_middle_school, dtype: float64
nan
215   -1.0
Name: proficiency_high_school, dtype: float64
215   -1.0
Name: proficiency_high_school, dtype: float64
0.0
215    0.0
Name: student_absenteeism, dtype: float64
215    0.0
Name: student_absenteeism, dtype: float64
322.0
215    322.0
Name: voters_participating, dtype: float64
215    322.0
Name: voters_participating, dtype: float64
0.0
215    0.0
Name: neighborhood_organizations, dtype: float64
215    0.0
Name: neighborhood_organizations, dtype: float64
61.0
215    61.0
Name: voter_participation, dtype: float64
215    61.0
Name: voter_participation, dtype: float64
nan
215   -1.0
Name: vacant_land, dtype: float64
215   -1.0
Name: vacant_land, dtype: float64
nan
215   -1.0
Name: population_density, dtype: float64
215   -1.0
Name: population_density, dtype: float64
nan
215   -1.0
Name: population, dtype: float64
215   -1.0
Name: population, dtype: float64
106.0
215    106.0
Name: transit_ridership, dtype: float64
215    106.0
Name: transit_ridership, dtype: float64
nan
215   -1.0
Name: street_connectivity, dtype: float64
215   -1.0
Name: street_connectivity, dtype: float64
nan
215   -1.0
Name: bicycle_friendliness, dtype: float64
215   -1.0
Name: bicycle_friendliness, dtype: float64
23.66
216    29.75
217    40.00
218     1.23
Name: Acres, dtype: float64
216    29.75
217    40.00
218     1.23
Name: Acres, dtype: float64
2.8
216    2.8
217    2.8
218    2.8
Name: births_to_adolescents, dtype: float64
216    2.8
217    2.8
218    2.8
Name: births_to_adolescents, dtype: float64
109.0
216    109.0
217    109.0
218    109.0
Name: grocery_proximate_units, dtype: float64
216    109.0
217    109.0
218    109.0
Name: grocery_proximate_units, dtype: float64
52.8
216    52.8
217    52.8
218    52.8
Name: prenatal_care, dtype: float64
216    52.8
217    52.8
218    52.8
Name: prenatal_care, dtype: float64
18.0
216    18.0
217    18.0
218    18.0
Name: grocery_proximity, dtype: float64
216    18.0
217    18.0
218    18.0
Name: grocery_proximity, dtype: float64
13.9
216    13.9
217    13.9
218    13.9
Name: low_birthweight, dtype: float64
216    13.9
217    13.9
218    13.9
Name: low_birthweight, dtype: float64
nan

216   -1.0
217   -1.0
218   -1.0
Name: public_health_insurance, dtype: float64
216   -1.0
217   -1.0
218   -1.0
Name: public_health_insurance, dtype: float64
66.0
216    66.0
217    66.0
218    66.0
Name: age_of_death, dtype: float64
216    66.0
217    66.0
218    66.0
Name: age_of_death, dtype: float64
4.3
216    4.3
217    4.3
218    4.3
Name: impervious_surface, dtype: float64
216    4.3
217    4.3
218    4.3
Name: impervious_surface, dtype: float64
152.0
216    152.0
217    152.0
218    152.0
Name: water_consumption, dtype: float64
216    152.0
217    152.0
218    152.0
Name: water_consumption, dtype: float64
70.5
216    70.5
217    70.5
218    70.5
Name: neighborhood_school_attendance, dtype: float64
216    70.5
217    70.5
218    70.5
Name: neighborhood_school_attendance, dtype: float64
97.0
216    97.0
217    97.0
218    97.0
Name: highschool_graduation_rate, dtype: float64
216    97.0
217    97.0
218    97.0
Name: highschool_graduation_rate, dtype: float64
63.22
216    63.22
217    63.22
218    63.22
Name: proficiency_elementary_school, dtype: float64
216    63.22
217    63.22
218    63.22
Name: proficiency_elementary_school, dtype: float64
46.3
216    46.3
217    46.3
218    46.3
Name: proficiency_middle_school, dtype: float64
216    46.3
217    46.3
218    46.3
Name: proficiency_middle_school, dtype: float64
47.1
216    47.1
217    47.1
218    47.1
Name: proficiency_high_school, dtype: float64
216    47.1
217    47.1
218    47.1
Name: proficiency_high_school, dtype: float64
12.0
216    12.0
217    12.0
218    12.0
Name: student_absenteeism, dtype: float64
216    12.0
217    12.0
218    12.0
Name: student_absenteeism, dtype: float64
653.0
216    653.0
217    653.0
218    653.0
Name: voters_participating, dtype: float64
216    653.0
217    653.0
218    653.0
Name: voters_participating, dtype: float64
nan
216   -1.0
217   -1.0
218   -1.0
Name: neighborhood_organizations, dtype: float64
216   -1.0
217   -1.0
218   -1.0
Name: neighborhood_organizations, dtype: float64
69.0
216    69.0
217    69.0
218    69.0
Name: voter_participation, dtype: float64
216    69.0
217    69.0
218    69.0
Name: voter_participation, dtype: float64
16.4
216    16.4
217    16.4
218    16.4
Name: vacant_land, dtype: float64
216    16.4
217    16.4
218    16.4
Name: vacant_land, dtype: float64
1.0
216    1.0
217    1.0
218    1.0
Name: population_density, dtype: float64
216    1.0
217    1.0
218    1.0
Name: population_density, dtype: float64
1822.0
216    1822.0
217    1822.0
218    1822.0
Name: population, dtype: float64
216    1822.0
217    1822.0
218    1822.0
Name: population, dtype: float64
nan
216   -1.0
217   -1.0
218   -1.0
Name: transit_ridership, dtype: float64
216   -1.0
217   -1.0
218   -1.0
Name: transit_ridership, dtype: float64
1.18
216    1.18
217    1.18
218    1.18
Name: street_connectivity, dtype: float64
216    1.18
217    1.18
218    1.18
Name: street_connectivity, dtype: float64
1.3
216    1.3
217    1.3
218    1.3
Name: bicycle_friendliness, dtype: float64
216    1.3
217    1.3
218    1.3
Name: bicycle_friendliness, dtype: float64
54.99
219    54.99
Name: Acres, dtype: float64
219    54.99
Name: Acres, dtype: float64
nan
219   -1.0
Name: births_to_adolescents, dtype: float64
219   -1.0
Name: births_to_adolescents, dtype: float64
nan
219   -1.0
Name: grocery_proximate_units, dtype: float64
219   -1.0
Name: grocery_proximate_units, dtype: float64
nan
219   -1.0
Name: prenatal_care, dtype: float64
219   -1.0
Name: prenatal_care, dtype: float64
nan
219   -1.0
Name: grocery_proximity, dtype: float64
219   -1.0
Name: grocery_proximity, dtype: float64
nan
219   -1.0
Name: low_birthweight, dtype: float64
219   -1.0
Name: low_birthweight, dtype: float64
nan
219   -1.0
Name: public_health_insurance, dtype: float64
219   -1.0
Name: public_health_insurance, dtype: float64
nan
219   -1.0
Name: age_of_death, dtype: float64
219   -1.0
Name: age_of_death, dtype: float64
nan
219   -1.0
Name: impervious_surface, dtype: float64
219   -1.0
Name: impervious_surface, dtype: float64
nan
219   -1.0
Name: water_consumption, dtype: float64
219   -1.0
Name: water_consumption, dtype: float64
nan
219   -1.0
Name: neighborhood_school_attendance, dtype: float64
219   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
219   -1.0
Name: highschool_graduation_rate, dtype: float64
219   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
219   -1.0
Name: proficiency_elementary_school, dtype: float64
219   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
219   -1.0
Name: proficiency_middle_school, dtype: float64
219   -1.0
Name: proficiency_middle_school, dtype: float64
nan
219   -1.0
Name: proficiency_high_school, dtype: float64
219   -1.0
Name: proficiency_high_school, dtype: float64
nan
219   -1.0
Name: student_absenteeism, dtype: float64
219   -1.0
Name: student_absenteeism, dtype: float64
nan
219   -1.0
Name: voters_participating, dtype: float64
219   -1.0
Name: voters_participating, dtype: float64
nan
219   -1.0
Name: neighborhood_organizations, dtype: float64
219   -1.0
Name: neighborhood_organizations, dtype: float64
nan
219   -1.0
Name: voter_participation, dtype: float64
219   -1.0
Name: voter_participation, dtype: float64
nan
219   -1.0
Name: vacant_land, dtype: float64
219   -1.0
Name: vacant_land, dtype: float64
nan
219   -1.0
Name: population_density, dtype: float64
219   -1.0
Name: population_density, dtype: float64
nan
219   -1.0
Name: population, dtype: float64
219   -1.0
Name: population, dtype: float64
nan
219   -1.0
Name: transit_ridership, dtype: float64
219   -1.0
Name: transit_ridership, dtype: float64
nan
219   -1.0
Name: street_connectivity, dtype: float64
219   -1.0
Name: street_connectivity, dtype: float64
nan
219   -1.0
Name: bicycle_friendliness, dtype: float64
219   -1.0
Name: bicycle_friendliness, dtype: float64
1.6273333333333333
220    0.430000
221    1.494000
222    2.690000
223    1.627333
224    0.430000
Name: Acres, dtype: float64
220    0.430000
221    1.494000
222    2.690000
223    1.627333
224    0.430000
225    3.810000
226    0.910000
Name: Acres, dtype: float64
1.0333333333333334
220    1.033333
221    3.100000
222    0.000000
223    0.000000
224    1.033333
Name: births_to_adolescents, dtype: float64
220    1.033333
221    3.100000
222    0.000000
223    0.000000
224    1.033333
225    1.033333
226    1.033333
Name: births_to_adolescents, dtype: float64
0.0
220    0.0
221    0.0
222    0.0
223    0.0
224    0.0
Name: grocery_proximate_units, dtype: float64
220    0.0
221    0.0
222    0.0
223    0.0
224    0.0
225    0.0
226    0.0
Name: grocery_proximate_units, dtype: float64
82.13333333333333
220    82.133333
221    75.000000
222    85.700000
223    85.700000
224    82.133333
Name: prenatal_care, dtype: float64
220    82.133333
221    75.000000
222    85.700000
223    85.700000
224    82.133333
225    82.133333
226    82.133333
Name: prenatal_care, dtype: float64
0.0
220    0.0
221    0.0
222    0.0
223    0.0
224    0.0
Name: grocery_proximity, dtype: float64
220    0.0
221    0.0
222    0.0
223    0.0
224    0.0
225    0.0
226    0.0
Name: grocery_proximity, dtype: float64
11.533333333333333
220    11.533333
221    15.600000
222     9.500000
223     9.500000
224    11.533333
Name: low_birthweight, dtype: float64
220    11.533333
221    15.600000
222     9.500000
223     9.500000
224    11.533333
225    11.533333
226    11.533333
Name: low_birthweight, dtype: float64
6.333333333333333
220    6.000000
221    6.333333
222    6.000000
223    6.000000
224    6.000000
Name: public_health_insurance, dtype: float64
220    6.000000
221    6.333333
222    6.000000
223    6.000000
224    6.000000
225    6.000000
226    8.000000
Name: public_health_insurance, dtype: float64
66.66666666666667
220    66.666667
221    68.000000
222    66.000000
223    66.000000
224    66.666667
Name: age_of_death, dtype: float64
220    66.666667
221    68.000000
222    66.000000
223    66.000000
224    66.666667
225    66.666667
226    66.666667
Name: age_of_death, dtype: float64
29.439999999999998
220    29.80
221    29.10
222    29.44
223    29.44
224    29.80
Name: impervious_surface, dtype: float64
220    29.80
221    29.10
222    29.44
223    29.44
224    29.80
225    29.80
226    28.70
Name: impervious_surface, dtype: float64
112.33333333333333
220    112.333333
221    121.000000
222    108.000000
223    108.000000
224    112.333333
Name: water_consumption, dtype: float64
220    112.333333
221    121.000000
222    108.000000
223    108.000000
224    112.333333
225    112.333333
226    112.333333
Name: water_consumption, dtype: float64
33.88428571428572
220    20.00
221    41.00
222    45.24
223    45.24
224    20.00
Name: neighborhood_school_attendance, dtype: float64
220    20.00
221    41.00
222    45.24
223    45.24
224    20.00
225    20.00
226    45.71
Name: neighborhood_school_attendance, dtype: float64
80.0
220    80.0
221    80.0
222    80.0
223    80.0
224    80.0
Name: highschool_graduation_rate, dtype: float64
220    80.0
221    80.0
222    80.0
223    80.0
224    80.0
225    80.0
226    80.0
Name: highschool_graduation_rate, dtype: float64
46.11564625850339
220    45.500000
221    62.500000
222    33.333333
223    33.333333
224    45.500000
Name: proficiency_elementary_school, dtype: float64
220    45.500000
221    62.500000
222    33.333333
223    33.333333
224    45.500000
225    45.500000
226    57.142857
Name: proficiency_elementary_school, dtype: float64
26.81596153846154
220    26.815962
221    50.000000
222    23.076923
223    23.076923
224    26.815962
Name: proficiency_middle_school, dtype: float64
220    26.815962
221    50.000000
222    23.076923
223    23.076923
224    26.815962
225    26.815962
226    11.110000
Name: proficiency_middle_school, dtype: float64
nan
220   -1.0
221   -1.0
222   -1.0
223   -1.0
224   -1.0
Name: proficiency_high_school, dtype: float64
220   -1.0
221   -1.0
222   -1.0
223   -1.0
224   -1.0
225   -1.0
226   -1.0
Name: proficiency_high_school, dtype: float64
7.698412698412698
220     5.000000
221    10.000000
222     8.888889
223     8.888889
224     5.000000
Name: student_absenteeism, dtype: float64
220     5.000000
221    10.000000
222     8.888889
223     8.888889
224     5.000000
225     5.000000
226    11.111111
Name: student_absenteeism, dtype: float64
431.85714285714283
220    307.0
221    994.0
222    454.0
223    454.0
224    307.0
Name: voters_participating, dtype: float64
220    307.0
221    994.0
222    454.0
223    454.0
224    307.0
225    307.0
226    200.0
Name: voters_participating, dtype: float64
2.0
220    2.0
221    2.0
222    2.0
223    2.0
224    2.0
Name: neighborhood_organizations, dtype: float64
220    2.0
221    2.0
222    2.0
223    2.0
224    2.0
225    2.0
226    2.0
Name: neighborhood_organizations, dtype: float64
34.42857142857143
220    20.0
221    73.0
222    45.0
223    45.0
224    20.0
Name: voter_participation, dtype: float64
220    20.0
221    73.0
222    45.0
223    45.0
224    20.0
225    20.0
226    18.0
Name: voter_participation, dtype: float64
8.34
220    8.30
221    8.40
222    8.34
223    8.34
224    8.30
Name: vacant_land, dtype: float64
220    8.30
221    8.40
222    8.34
223    8.34
224    8.30
225    8.30
226    8.40
Name: vacant_land, dtype: float64
5.0
220    5.0
221    5.0
222    5.0
223    5.0
224    5.0
Name: population_density, dtype: float64
220    5.0
221    5.0
222    5.0
223    5.0
224    5.0
225    5.0
226    5.0
Name: population_density, dtype: float64
1436.4
220    1447.0
221    1457.0
222    1436.4
223    1436.4
224    1447.0
Name: population, dtype: float64
220    1447.0
221    1457.0
222    1436.4
223    1436.4
224    1447.0
225    1447.0
226    1384.0
Name: population, dtype: float64
76.0
220    76.0
221    76.0
222    80.0
223    80.0
224    76.0
Name: transit_ridership, dtype: float64
220    76.0
221    76.0
222    80.0
223    80.0
224    76.0
225    76.0
226    68.0
Name: transit_ridership, dtype: float64
1.348
220    1.350
221    1.350
222    1.348
223    1.348
224    1.350
Name: street_connectivity, dtype: float64
220    1.350
221    1.350
222    1.348
223    1.348
224    1.350
225    1.350
226    1.340
Name: street_connectivity, dtype: float64
1.72
220    1.70
221    1.80
222    1.72
223    1.72
224    1.70
Name: bicycle_friendliness, dtype: float64
220    1.70
221    1.80
222    1.72
223    1.72
224    1.70
225    1.70
226    1.70
Name: bicycle_friendliness, dtype: float64
16.48555555555556
227    13.18
228    17.43
229    17.43
230    17.43
231    17.43
Name: Acres, dtype: float64
227    13.18
228    17.43
229    17.43
230    17.43
231    17.43
232    17.43
233    17.43
234    13.18
235    17.43
Name: Acres, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: births_to_adolescents, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: births_to_adolescents, dtype: float64
0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
Name: grocery_proximate_units, dtype: float64
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    0.0
233    0.0
234    0.0
235    0.0
Name: grocery_proximate_units, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: prenatal_care, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: prenatal_care, dtype: float64
0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
Name: grocery_proximity, dtype: float64
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    0.0
233    0.0
234    0.0
235    0.0
Name: grocery_proximity, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: low_birthweight, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: low_birthweight, dtype: float64
29.0
227    29.0
228    29.0
229    29.0
230    29.0
231    29.0
Name: public_health_insurance, dtype: float64
227    29.0
228    29.0
229    29.0
230    29.0
231    29.0
232    29.0
233    29.0
234    29.0
235    29.0
Name: public_health_insurance, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: age_of_death, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: age_of_death, dtype: float64
25.900000000000002
227    25.9
228    25.9
229    25.9
230    25.9
231    25.9
Name: impervious_surface, dtype: float64
227    25.9
228    25.9
229    25.9
230    25.9
231    25.9
232    25.9
233    25.9
234    25.9
235    25.9

Name: impervious_surface, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: water_consumption, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: water_consumption, dtype: float64
83.0
227    83.0
228    83.0
229    83.0
230    83.0
231    83.0
Name: neighborhood_school_attendance, dtype: float64
227    83.0
228    83.0
229    83.0
230    83.0
231    83.0
232    83.0
233    83.0
234    83.0
235    83.0
Name: neighborhood_school_attendance, dtype: float64
93.0
227    93.0
228    93.0
229    93.0
230    93.0
231    93.0
Name: highschool_graduation_rate, dtype: float64
227    93.0
228    93.0
229    93.0
230    93.0
231    93.0
232    93.0
233    93.0
234    93.0
235    93.0
Name: highschool_graduation_rate, dtype: float64
15.299999999999999
227    15.3
228    15.3
229    15.3
230    15.3
231    15.3
Name: proficiency_elementary_school, dtype: float64
227    15.3
228    15.3
229    15.3
230    15.3
231    15.3
232    15.3
233    15.3
234    15.3
235    15.3
Name: proficiency_elementary_school, dtype: float64
10.299999999999999
227    10.3
228    10.3
229    10.3
230    10.3
231    10.3
Name: proficiency_middle_school, dtype: float64
227    10.3
228    10.3
229    10.3
230    10.3
231    10.3
232    10.3
233    10.3
234    10.3
235    10.3
Name: proficiency_middle_school, dtype: float64
35.699999999999996
227    35.7
228    35.7
229    35.7
230    35.7
231    35.7
Name: proficiency_high_school, dtype: float64
227    35.7
228    35.7
229    35.7
230    35.7
231    35.7
232    35.7
233    35.7
234    35.7
235    35.7
Name: proficiency_high_school, dtype: float64
17.0
227    17.0
228    17.0
229    17.0
230    17.0
231    17.0
Name: student_absenteeism, dtype: float64
227    17.0
228    17.0
229    17.0
230    17.0
231    17.0
232    17.0
233    17.0
234    17.0
235    17.0
Name: student_absenteeism, dtype: float64
83.0
227    83.0
228    83.0
229    83.0
230    83.0
231    83.0
Name: voters_participating, dtype: float64
227    83.0
228    83.0
229    83.0
230    83.0
231    83.0
232    83.0
233    83.0
234    83.0
235    83.0
Name: voters_participating, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: neighborhood_organizations, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: neighborhood_organizations, dtype: float64
9.0
227    9.0
228    9.0
229    9.0
230    9.0
231    9.0
Name: voter_participation, dtype: float64
227    9.0
228    9.0
229    9.0
230    9.0
231    9.0
232    9.0
233    9.0
234    9.0
235    9.0
Name: voter_participation, dtype: float64
3.3999999999999995
227    3.4
228    3.4
229    3.4
230    3.4
231    3.4
Name: vacant_land, dtype: float64
227    3.4
228    3.4
229    3.4
230    3.4
231    3.4
232    3.4
233    3.4
234    3.4
235    3.4
Name: vacant_land, dtype: float64
3.0
227    3.0
228    3.0
229    3.0
230    3.0
231    3.0
Name: population_density, dtype: float64
227    3.0
228    3.0
229    3.0
230    3.0
231    3.0
232    3.0
233    3.0
234    3.0
235    3.0
Name: population_density, dtype: float64
1620.0
227    1620.0
228    1620.0
229    1620.0
230    1620.0
231    1620.0
Name: population, dtype: float64
227    1620.0
228    1620.0
229    1620.0
230    1620.0
231    1620.0
232    1620.0
233    1620.0
234    1620.0
235    1620.0
Name: population, dtype: float64
nan
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
Name: transit_ridership, dtype: float64
227   -1.0
228   -1.0
229   -1.0
230   -1.0
231   -1.0
232   -1.0
233   -1.0
234   -1.0
235   -1.0
Name: transit_ridership, dtype: float64
1.04
227    1.04
228    1.04
229    1.04
230    1.04
231    1.04
Name: street_connectivity, dtype: float64
227    1.04
228    1.04
229    1.04
230    1.04
231    1.04
232    1.04
233    1.04
234    1.04
235    1.04
Name: street_connectivity, dtype: float64
1.2
227    1.2
228    1.2
229    1.2
230    1.2
231    1.2
Name: bicycle_friendliness, dtype: float64
227    1.2
228    1.2
229    1.2
230    1.2
231    1.2
232    1.2
233    1.2
234    1.2
235    1.2
Name: bicycle_friendliness, dtype: float64
16.6
236    16.6
Name: Acres, dtype: float64
236    16.6
Name: Acres, dtype: float64
nan
236   -1.0
Name: births_to_adolescents, dtype: float64
236   -1.0
Name: births_to_adolescents, dtype: float64
388.0
236    388.0
Name: grocery_proximate_units, dtype: float64
236    388.0
Name: grocery_proximate_units, dtype: float64
nan
236   -1.0
Name: prenatal_care, dtype: float64
236   -1.0
Name: prenatal_care, dtype: float64
37.0
236    37.0
Name: grocery_proximity, dtype: float64
236    37.0
Name: grocery_proximity, dtype: float64
nan
236   -1.0
Name: low_birthweight, dtype: float64
236   -1.0
Name: low_birthweight, dtype: float64
nan
236   -1.0
Name: public_health_insurance, dtype: float64
236   -1.0
Name: public_health_insurance, dtype: float64
nan
236   -1.0
Name: age_of_death, dtype: float64
236   -1.0
Name: age_of_death, dtype: float64
19.2
236    19.2
Name: impervious_surface, dtype: float64
236    19.2
Name: impervious_surface, dtype: float64
150.0
236    150.0
Name: water_consumption, dtype: float64
236    150.0
Name: water_consumption, dtype: float64
nan
236   -1.0
Name: neighborhood_school_attendance, dtype: float64
236   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
236   -1.0
Name: highschool_graduation_rate, dtype: float64
236   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
236   -1.0
Name: proficiency_elementary_school, dtype: float64
236   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
236   -1.0
Name: proficiency_middle_school, dtype: float64
236   -1.0
Name: proficiency_middle_school, dtype: float64
nan
236   -1.0
Name: proficiency_high_school, dtype: float64
236   -1.0
Name: proficiency_high_school, dtype: float64
nan
236   -1.0
Name: student_absenteeism, dtype: float64
236   -1.0
Name: student_absenteeism, dtype: float64
630.0
236    630.0
Name: voters_participating, dtype: float64
236    630.0
Name: voters_participating, dtype: float64
nan
236   -1.0
Name: neighborhood_organizations, dtype: float64
236   -1.0
Name: neighborhood_organizations, dtype: float64
49.0
236    49.0
Name: voter_participation, dtype: float64
236    49.0
Name: voter_participation, dtype: float64
16.0
236    16.0
Name: vacant_land, dtype: float64
236    16.0
Name: vacant_land, dtype: float64
7.0
236    7.0
Name: population_density, dtype: float64
236    7.0
Name: population_density, dtype: float64
3070.0
236    3070.0
Name: population, dtype: float64
236    3070.0
Name: population, dtype: float64
nan
236   -1.0
Name: transit_ridership, dtype: float64
236   -1.0
Name: transit_ridership, dtype: float64
1.2
236    1.2
Name: street_connectivity, dtype: float64
236    1.2
Name: street_connectivity, dtype: float64
1.7
236    1.7
Name: bicycle_friendliness, dtype: float64
236    1.7
Name: bicycle_friendliness, dtype: float64
5.1
237    5.12
238    5.08
Name: Acres, dtype: float64
237    5.12
238    5.08
Name: Acres, dtype: float64
0.0
237    0.0
238    0.0
Name: births_to_adolescents, dtype: float64
237    0.0
238    0.0
Name: births_to_adolescents, dtype: float64
30.0
237    30.0
238    30.0
Name: grocery_proximate_units, dtype: float64
237    30.0
238    30.0
Name: grocery_proximate_units, dtype: float64
73.2
237    73.2
238    73.2
Name: prenatal_care, dtype: float64
237    73.2
238    73.2
Name: prenatal_care, dtype: float64
4.0
237    4.0
238    4.0
Name: grocery_proximity, dtype: float64
237    4.0
238    4.0
Name: grocery_proximity, dtype: float64
2.4
237    2.4
238    2.4
Name: low_birthweight, dtype: float64
237    2.4
238    2.4
Name: low_birthweight, dtype: float64
nan
237   -1.0
238   -1.0
Name: public_health_insurance, dtype: float64
237   -1.0
238   -1.0
Name: public_health_insurance, dtype: float64
76.0
237    76.0
238    76.0
Name: age_of_death, dtype: float64
237    76.0
238    76.0
Name: age_of_death, dtype: float64
19.2
237    19.2
238    19.2
Name: impervious_surface, dtype: float64
237    19.2
238    19.2
Name: impervious_surface, dtype: float64
181.0
237    181.0
238    181.0
Name: water_consumption, dtype: float64
237    181.0
238    181.0
Name: water_consumption, dtype: float64
79.4
237    79.4
238    79.4
Name: neighborhood_school_attendance, dtype: float64
237    79.4
238    79.4
Name: neighborhood_school_attendance, dtype: float64
100.0
237    100.0
238    100.0
Name: highschool_graduation_rate, dtype: float64
237    100.0
238    100.0
Name: highschool_graduation_rate, dtype: float64
57.78
237    57.78
238    57.78
Name: proficiency_elementary_school, dtype: float64
237    57.78
238    57.78
Name: proficiency_elementary_school, dtype: float64
56.3
237    56.3
238    56.3
Name: proficiency_middle_school, dtype: float64
237    56.3
238    56.3
Name: proficiency_middle_school, dtype: float64
69.2
237    69.2
238    69.2
Name: proficiency_high_school, dtype: float64
237    69.2
238    69.2
Name: proficiency_high_school, dtype: float64
9.0
237    9.0
238    9.0
Name: student_absenteeism, dtype: float64
237    9.0
238    9.0
Name: student_absenteeism, dtype: float64

1170.0
237    1170.0
238    1170.0
Name: voters_participating, dtype: float64
237    1170.0
238    1170.0
Name: voters_participating, dtype: float64
nan
237   -1.0
238   -1.0
Name: neighborhood_organizations, dtype: float64
237   -1.0
238   -1.0
Name: neighborhood_organizations, dtype: float64
84.0
237    84.0
238    84.0
Name: voter_participation, dtype: float64
237    84.0
238    84.0
Name: voter_participation, dtype: float64
7.0
237    7.0
238    7.0
Name: vacant_land, dtype: float64
237    7.0
238    7.0
Name: vacant_land, dtype: float64
4.0
237    4.0
238    4.0
Name: population_density, dtype: float64
237    4.0
238    4.0
Name: population_density, dtype: float64
2028.0
237    2028.0
238    2028.0
Name: population, dtype: float64
237    2028.0
238    2028.0
Name: population, dtype: float64
nan
237   -1.0
238   -1.0
Name: transit_ridership, dtype: float64
237   -1.0
238   -1.0
Name: transit_ridership, dtype: float64
1.12
237    1.12
238    1.12
Name: street_connectivity, dtype: float64
237    1.12
238    1.12
Name: street_connectivity, dtype: float64
1.5
237    1.5
238    1.5
Name: bicycle_friendliness, dtype: float64
237    1.5
238    1.5
Name: bicycle_friendliness, dtype: float64
4.098000000000001
239    1.03
240    1.03
241    8.70
242    8.70
243    1.03
Name: Acres, dtype: float64
239    1.03
240    1.03
241    8.70
242    8.70
243    1.03
Name: Acres, dtype: float64
nan
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: births_to_adolescents, dtype: float64
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: births_to_adolescents, dtype: float64
398.0
239    398.0
240    398.0
241    398.0
242    398.0
243    398.0
Name: grocery_proximate_units, dtype: float64
239    398.0
240    398.0
241    398.0
242    398.0
243    398.0
Name: grocery_proximate_units, dtype: float64
nan
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: prenatal_care, dtype: float64
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: prenatal_care, dtype: float64
70.8
239    82.0
240    82.0
241    54.0
242    54.0
243    82.0
Name: grocery_proximity, dtype: float64
239    82.0
240    82.0
241    54.0
242    54.0
243    82.0
Name: grocery_proximity, dtype: float64
nan
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: low_birthweight, dtype: float64
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: low_birthweight, dtype: float64
37.4
239    41.0
240    41.0
241    32.0
242    32.0
243    41.0
Name: public_health_insurance, dtype: float64
239    41.0
240    41.0
241    32.0
242    32.0
243    41.0
Name: public_health_insurance, dtype: float64
nan
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: age_of_death, dtype: float64
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: age_of_death, dtype: float64
22.9
239    22.9
240    22.9
241    22.9
242    22.9
243    22.9
Name: impervious_surface, dtype: float64
239    22.9
240    22.9
241    22.9
242    22.9
243    22.9
Name: impervious_surface, dtype: float64
nan
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: water_consumption, dtype: float64
239   -1.0
240   -1.0
241   -1.0
242   -1.0
243   -1.0
Name: water_consumption, dtype: float64
79.554
239    80.59
240    80.59
241    78.00
242    78.00
243    80.59
Name: neighborhood_school_attendance, dtype: float64
239    80.59
240    80.59
241    78.00
242    78.00
243    80.59
Name: neighborhood_school_attendance, dtype: float64
91.0
239    93.0
240    93.0
241    88.0
242    88.0
243    93.0
Name: highschool_graduation_rate, dtype: float64
239    93.0
240    93.0
241    88.0
242    88.0
243    93.0
Name: highschool_graduation_rate, dtype: float64
31.020273972602723
239    28.767123
240    28.767123
241    34.400000
242    34.400000
243    28.767123
Name: proficiency_elementary_school, dtype: float64
239    28.767123
240    28.767123
241    34.400000
242    34.400000
243    28.767123
Name: proficiency_elementary_school, dtype: float64
22.562
239    24.07
240    24.07
241    20.30
242    20.30
243    24.07
Name: proficiency_middle_school, dtype: float64
239    24.07
240    24.07
241    20.30
242    20.30
243    24.07
Name: proficiency_middle_school, dtype: float64
29.142000000000003
239    30.77
240    30.77
241    26.70
242    26.70
243    30.77
Name: proficiency_high_school, dtype: float64
239    30.77
240    30.77
241    26.70
242    26.70
243    30.77
Name: proficiency_high_school, dtype: float64
13.867716535433058
239    13.779528
240    13.779528
241    14.000000
242    14.000000
243    13.779528
Name: student_absenteeism, dtype: float64
239    13.779528
240    13.779528
241    14.000000
242    14.000000
243    13.779528
Name: student_absenteeism, dtype: float64
107.4
239     99.0
240     99.0
241    120.0
242    120.0
243     99.0
Name: voters_participating, dtype: float64
239     99.0
240     99.0
241    120.0
242    120.0
243     99.0
Name: voters_participating, dtype: float64
1.0
239    1.0
240    1.0
241    1.0
242    1.0
243    1.0
Name: neighborhood_organizations, dtype: float64
239    1.0
240    1.0
241    1.0
242    1.0
243    1.0
Name: neighborhood_organizations, dtype: float64
20.0
239    18.0
240    18.0
241    23.0
242    23.0
243    18.0
Name: voter_participation, dtype: float64
239    18.0
240    18.0
241    23.0
242    23.0
243    18.0
Name: voter_participation, dtype: float64
2.9
239    2.9
240    2.9
241    2.9
242    2.9
243    2.9
Name: vacant_land, dtype: float64
239    2.9
240    2.9
241    2.9
242    2.9
243    2.9
Name: vacant_land, dtype: float64
7.0
239    7.0
240    7.0
241    7.0
242    7.0
243    7.0
Name: population_density, dtype: float64
239    7.0
240    7.0
241    7.0
242    7.0
243    7.0
Name: population_density, dtype: float64
1514.0
239    1508.0
240    1508.0
241    1523.0
242    1523.0
243    1508.0
Name: population, dtype: float64
239    1508.0
240    1508.0
241    1523.0
242    1523.0
243    1508.0
Name: population, dtype: float64
78.0
239    78.0
240    78.0
241    78.0
242    78.0
243    78.0
Name: transit_ridership, dtype: float64
239    78.0
240    78.0
241    78.0
242    78.0
243    78.0
Name: transit_ridership, dtype: float64
1.17
239    1.17
240    1.17
241    1.17
242    1.17
243    1.17
Name: street_connectivity, dtype: float64
239    1.17
240    1.17
241    1.17
242    1.17
243    1.17
Name: street_connectivity, dtype: float64
1.4
239    1.4
240    1.4
241    1.4
242    1.4
243    1.4
Name: bicycle_friendliness, dtype: float64
239    1.4
240    1.4
241    1.4
242    1.4
243    1.4
Name: bicycle_friendliness, dtype: float64
14.692000000000002
244    26.949
245    26.949
246     1.520
247     3.350
Name: Acres, dtype: float64
244    26.949
245    26.949
246     1.520
247     3.350
Name: Acres, dtype: float64
4.6
244    4.6
245    4.6
246    4.6
247    4.6
Name: births_to_adolescents, dtype: float64
244    4.6
245    4.6
246    4.6
247    4.6
Name: births_to_adolescents, dtype: float64
238.0
244    238.0
245    238.0
246    238.0
247    238.0
Name: grocery_proximate_units, dtype: float64
244    238.0
245    238.0
246    238.0
247    238.0
Name: grocery_proximate_units, dtype: float64
52.3
244    52.3
245    52.3
246    52.3
247    52.3
Name: prenatal_care, dtype: float64
244    52.3
245    52.3
246    52.3
247    52.3
Name: prenatal_care, dtype: float64
24.0
244    25.0
245    25.0
246    21.0
247    25.0
Name: grocery_proximity, dtype: float64
244    25.0
245    25.0
246    21.0
247    25.0
Name: grocery_proximity, dtype: float64
5.7
244    5.7
245    5.7
246    5.7
247    5.7
Name: low_birthweight, dtype: float64
244    5.7
245    5.7
246    5.7
247    5.7
Name: low_birthweight, dtype: float64
28.0
244    28.0
245    28.0
246    28.0
247    28.0
Name: public_health_insurance, dtype: float64
244    28.0
245    28.0
246    28.0
247    28.0
Name: public_health_insurance, dtype: float64
69.0
244    69.0
245    69.0
246    69.0
247    69.0
Name: age_of_death, dtype: float64
244    69.0
245    69.0
246    69.0
247    69.0
Name: age_of_death, dtype: float64
19.475
244    19.5
245    19.5
246    19.4
247    19.5
Name: impervious_surface, dtype: float64
244    19.5
245    19.5
246    19.4
247    19.5
Name: impervious_surface, dtype: float64
142.0
244    142.0
245    142.0
246    142.0
247    142.0
Name: water_consumption, dtype: float64
244    142.0
245    142.0
246    142.0
247    142.0
Name: water_consumption, dtype: float64
59.725
244    60.0
245    60.0
246    58.9
247    60.0
Name: neighborhood_school_attendance, dtype: float64
244    60.0
245    60.0
246    58.9
247    60.0
Name: neighborhood_school_attendance, dtype: float64
83.75
244    82.0
245    82.0
246    89.0
247    82.0
Name: highschool_graduation_rate, dtype: float64
244    82.0
245    82.0
246    89.0
247    82.0

Name: highschool_graduation_rate, dtype: float64
38.9675
244    40.60
245    40.60
246    34.07
247    40.60
Name: proficiency_elementary_school, dtype: float64
244    40.60
245    40.60
246    34.07
247    40.60
Name: proficiency_elementary_school, dtype: float64
21.525
244    20.5
245    20.5
246    24.6
247    20.5
Name: proficiency_middle_school, dtype: float64
244    20.5
245    20.5
246    24.6
247    20.5
Name: proficiency_middle_school, dtype: float64
20.975
244    21.7
245    21.7
246    18.8
247    21.7
Name: proficiency_high_school, dtype: float64
244    21.7
245    21.7
246    18.8
247    21.7
Name: proficiency_high_school, dtype: float64
15.25
244    15.0
245    15.0
246    16.0
247    15.0
Name: student_absenteeism, dtype: float64
244    15.0
245    15.0
246    16.0
247    15.0
Name: student_absenteeism, dtype: float64
371.25
244    200.0
245    200.0
246    885.0
247    200.0
Name: voters_participating, dtype: float64
244    200.0
245    200.0
246    885.0
247    200.0
Name: voters_participating, dtype: float64
nan
244   -1.0
245   -1.0
246   -1.0
247   -1.0
Name: neighborhood_organizations, dtype: float64
244   -1.0
245   -1.0
246   -1.0
247   -1.0
Name: neighborhood_organizations, dtype: float64
26.75
244    13.0
245    13.0
246    68.0
247    13.0
Name: voter_participation, dtype: float64
244    13.0
245    13.0
246    68.0
247    13.0
Name: voter_participation, dtype: float64
14.725000000000001
244    14.7
245    14.7
246    14.8
247    14.7
Name: vacant_land, dtype: float64
244    14.7
245    14.7
246    14.8
247    14.7
Name: vacant_land, dtype: float64
7.75
244    8.0
245    8.0
246    7.0
247    8.0
Name: population_density, dtype: float64
244    8.0
245    8.0
246    7.0
247    8.0
Name: population_density, dtype: float64
2626.5
244    2646.0
245    2646.0
246    2568.0
247    2646.0
Name: population, dtype: float64
244    2646.0
245    2646.0
246    2568.0
247    2646.0
Name: population, dtype: float64
nan
244   -1.0
245   -1.0
246   -1.0
247   -1.0
Name: transit_ridership, dtype: float64
244   -1.0
245   -1.0
246   -1.0
247   -1.0
Name: transit_ridership, dtype: float64
1.15
244    1.15
245    1.15
246    1.15
247    1.15
Name: street_connectivity, dtype: float64
244    1.15
245    1.15
246    1.15
247    1.15
Name: street_connectivity, dtype: float64
1.5
244    1.5
245    1.5
246    1.5
247    1.5
Name: bicycle_friendliness, dtype: float64
244    1.5
245    1.5
246    1.5
247    1.5
Name: bicycle_friendliness, dtype: float64
10.77
248    10.77
249    10.77
Name: Acres, dtype: float64
248    10.77
249    10.77
Name: Acres, dtype: float64
nan
248   -1.0
249   -1.0
Name: births_to_adolescents, dtype: float64
248   -1.0
249   -1.0
Name: births_to_adolescents, dtype: float64
0.0
248    0.0
249    0.0
Name: grocery_proximate_units, dtype: float64
248    0.0
249    0.0
Name: grocery_proximate_units, dtype: float64
nan
248   -1.0
249   -1.0
Name: prenatal_care, dtype: float64
248   -1.0
249   -1.0
Name: prenatal_care, dtype: float64
0.0
248    0.0
249    0.0
Name: grocery_proximity, dtype: float64
248    0.0
249    0.0
Name: grocery_proximity, dtype: float64
nan
248   -1.0
249   -1.0
Name: low_birthweight, dtype: float64
248   -1.0
249   -1.0
Name: low_birthweight, dtype: float64
nan
248   -1.0
249   -1.0
Name: public_health_insurance, dtype: float64
248   -1.0
249   -1.0
Name: public_health_insurance, dtype: float64
nan
248   -1.0
249   -1.0
Name: age_of_death, dtype: float64
248   -1.0
249   -1.0
Name: age_of_death, dtype: float64
12.5
248    12.5
249    12.5
Name: impervious_surface, dtype: float64
248    12.5
249    12.5
Name: impervious_surface, dtype: float64
nan
248   -1.0
249   -1.0
Name: water_consumption, dtype: float64
248   -1.0
249   -1.0
Name: water_consumption, dtype: float64
nan
248   -1.0
249   -1.0
Name: neighborhood_school_attendance, dtype: float64
248   -1.0
249   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
248   -1.0
249   -1.0
Name: highschool_graduation_rate, dtype: float64
248   -1.0
249   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
248   -1.0
249   -1.0
Name: proficiency_elementary_school, dtype: float64
248   -1.0
249   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
248   -1.0
249   -1.0
Name: proficiency_middle_school, dtype: float64
248   -1.0
249   -1.0
Name: proficiency_middle_school, dtype: float64
nan
248   -1.0
249   -1.0
Name: proficiency_high_school, dtype: float64
248   -1.0
249   -1.0
Name: proficiency_high_school, dtype: float64
nan
248   -1.0
249   -1.0
Name: student_absenteeism, dtype: float64
248   -1.0
249   -1.0
Name: student_absenteeism, dtype: float64
522.0
248    522.0
249    522.0
Name: voters_participating, dtype: float64
248    522.0
249    522.0
Name: voters_participating, dtype: float64
nan
248   -1.0
249   -1.0
Name: neighborhood_organizations, dtype: float64
248   -1.0
249   -1.0
Name: neighborhood_organizations, dtype: float64
38.0
248    38.0
249    38.0
Name: voter_participation, dtype: float64
248    38.0
249    38.0
Name: voter_participation, dtype: float64
22.8
248    22.8
249    22.8
Name: vacant_land, dtype: float64
248    22.8
249    22.8
Name: vacant_land, dtype: float64
7.0
248    7.0
249    7.0
Name: population_density, dtype: float64
248    7.0
249    7.0
Name: population_density, dtype: float64
5314.0
248    5314.0
249    5314.0
Name: population, dtype: float64
248    5314.0
249    5314.0
Name: population, dtype: float64
nan
248   -1.0
249   -1.0
Name: transit_ridership, dtype: float64
248   -1.0
249   -1.0
Name: transit_ridership, dtype: float64
1.23
248    1.23
249    1.23
Name: street_connectivity, dtype: float64
248    1.23
249    1.23
Name: street_connectivity, dtype: float64
1.3
248    1.3
249    1.3
Name: bicycle_friendliness, dtype: float64
248    1.3
249    1.3
Name: bicycle_friendliness, dtype: float64
5.778
250     2.590
251    10.000
252     6.838
253     6.838
254     2.590
Name: Acres, dtype: float64
250     2.590
251    10.000
252     6.838
253     6.838
254     2.590
255    10.000
256     0.530
257     6.838
Name: Acres, dtype: float64
1.4666666666666668
250    0.0
251    0.0
252    2.2
253    2.2
254    2.2
Name: births_to_adolescents, dtype: float64
250    0.000000
251    0.000000
252    2.200000
253    2.200000
254    2.200000
255    1.466667
256    1.466667
257    2.200000
Name: births_to_adolescents, dtype: float64
847.7142857142857
250    723.0
251    723.0
252    794.0
253    794.0
254    794.0
Name: grocery_proximate_units, dtype: float64
250     723.000000
251     723.000000
252     794.000000
253     794.000000
254     794.000000
255     847.714286
256    1312.000000
257     794.000000
Name: grocery_proximate_units, dtype: float64
57.13333333333333
250    61.8
251    61.8
252    54.8
253    54.8
254    54.8
Name: prenatal_care, dtype: float64
250    61.800000
251    61.800000
252    54.800000
253    54.800000
254    54.800000
255    57.133333
256    57.133333
257    54.800000
Name: prenatal_care, dtype: float64
40.142857142857146
250    37.0
251    37.0
252    39.0
253    39.0
254    39.0
Name: grocery_proximity, dtype: float64
250    37.000000
251    37.000000
252    39.000000
253    39.000000
254    39.000000
255    40.142857
256    51.000000
257    39.000000
Name: grocery_proximity, dtype: float64
7.333333333333332
250    11.2
251    11.2
252     5.4
253     5.4
254     5.4
Name: low_birthweight, dtype: float64
250    11.200000
251    11.200000
252     5.400000
253     5.400000
254     5.400000
255     7.333333
256     7.333333
257     5.400000
Name: low_birthweight, dtype: float64
10.666666666666666
250    11.000000
251    11.000000
252    10.666667
253    10.666667
254    10.666667
Name: public_health_insurance, dtype: float64
250    11.000000
251    11.000000
252    10.666667
253    10.666667
254    10.666667
255    10.666667
256    10.000000
257    10.666667
Name: public_health_insurance, dtype: float64
62.0
250    60.0
251    60.0
252    63.0
253    63.0
254    63.0
Name: age_of_death, dtype: float64
250    60.0
251    60.0
252    63.0
253    63.0
254    63.0
255    62.0
256    62.0
257    63.0
Name: age_of_death, dtype: float64
30.579999999999995
250    30.58
251    30.58
252    30.70
253    30.70
254    30.70
Name: impervious_surface, dtype: float64
250    30.58
251    30.58
252    30.70
253    30.70
254    30.70
255    30.58
256    30.10
257    30.70
Name: impervious_surface, dtype: float64
149.0
250    145.0
251    145.0
252    151.0
253    151.0
254    151.0
Name: water_consumption, dtype: float64
250    145.0
251    145.0
252    151.0
253    151.0
254    151.0
255    149.0
256    149.0
257    151.0
Name: water_consumption, dtype: float64
69.78
250    68.93
251    68.93
252    69.90
253    69.90
254    69.90
Name: neighborhood_school_attendance, dtype: float64
250    68.93
251    68.93
252    69.90
253    69.90
254    69.90
255    69.78
256    71.00
257    69.90
Name: neighborhood_school_attendance, dtype: float64
75.71428571428571
250    62.0
251    62.0
252    81.0
253    81.0
254    81.0
Name: highschool_graduation_rate, dtype: float64
250    62.000000
251    62.000000
252    81.000000
253    81.000000
254    81.000000
255    75.714286
256    82.000000
257    81.000000
Name: highschool_graduation_rate, dtype: float64
37.8244204851752
250    32.075472
251    32.075472
252    39.130000
253    39.130000
254    39.130000
Name: proficiency_elementary_school, dtype: float64
250    32.075472
251    32.075472
252    39.130000
253    39.130000
254    39.130000
255    37.824420
256    44.100000
257    39.130000
Name: proficiency_elementary_school, dtype: float64
23.657142857142855
250    22.5
251    22.5
252    25.0
253    25.0
254    25.0
Name: proficiency_middle_school, dtype: float64
250    22.500000
251    22.500000
252    25.000000
253    25.000000
254    25.000000
255    23.657143
256    20.600000
257    25.000000
Name: proficiency_middle_school, dtype: float64
24.604761904761904
250    16.666667
251    16.666667
252    25.000000
253    25.000000
254    25.000000
Name: proficiency_high_school, dtype: float64
250    16.666667
251    16.666667
252    25.000000
253    25.000000
254    25.000000
255    24.604762
256    38.900000
257    25.000000
Name: proficiency_high_school, dtype: float64
14.641086186540733
250    10.743802
251    10.743802
252    16.000000
253    16.000000
254    16.000000
Name: student_absenteeism, dtype: float64
250    10.743802
251    10.743802
252    16.000000
253    16.000000
254    16.000000
255    14.641086
256    17.000000
257    16.000000
Name: student_absenteeism, dtype: float64
1067.4285714285713
250     542.0
251     542.0
252    1534.0
253    1534.0
254    1534.0
Name: voters_participating, dtype: float64
250     542.000000
251     542.000000
252    1534.000000
253    1534.000000
254    1534.000000
255    1067.428571
256     252.000000
257    1534.000000
Name: voters_participating, dtype: float64
0.0
250    0.0
251    0.0
252    0.0
253    0.0
254    0.0
Name: neighborhood_organizations, dtype: float64
250    0.0
251    0.0
252    0.0
253    0.0
254    0.0
255    0.0
256    0.0
257    0.0
Name: neighborhood_organizations, dtype: float64
48.714285714285715
250    34.0
251    34.0
252    66.0
253    66.0
254    66.0
Name: voter_participation, dtype: float64
250    34.000000
251    34.000000
252    66.000000
253    66.000000
254    66.000000
255    48.714286
256     9.000000
257    66.000000
Name: voter_participation, dtype: float64
9.3
250    9.3
251    9.3
252    9.3
253    9.3
254    9.3
Name: vacant_land, dtype: float64
250    9.3
251    9.3
252    9.3
253    9.3
254    9.3
255    9.3
256    9.3
257    9.3
Name: vacant_land, dtype: float64
12.4
250    12.4
251    12.4
252    12.0
253    12.0
254    12.0
Name: population_density, dtype: float64
250    12.4
251    12.4
252    12.0
253    12.0
254    12.0
255    12.4
256    14.0
257    12.0
Name: population_density, dtype: float64
4711.0
250    4711.0
251    4711.0
252    4523.0
253    4523.0
254    4523.0
Name: population, dtype: float64
250    4711.0
251    4711.0
252    4523.0
253    4523.0
254    4523.0
255    4711.0
256    5463.0
257    4523.0
Name: population, dtype: float64
11.0
250    11.0
251    11.0
252    11.0
253    11.0
254    11.0
Name: transit_ridership, dtype: float64
250    11.0
251    11.0
252    11.0
253    11.0
254    11.0
255    11.0
256    11.0
257    11.0
Name: transit_ridership, dtype: float64
1.21
250    1.21
251    1.21
252    1.21
253    1.21
254    1.21
Name: street_connectivity, dtype: float64
250    1.21
251    1.21
252    1.21
253    1.21
254    1.21
255    1.21
256    1.21
257    1.21
Name: street_connectivity, dtype: float64
1.2
250    1.2
251    1.2
252    1.2
253    1.2
254    1.2
Name: bicycle_friendliness, dtype: float64
250    1.2
251    1.2
252    1.2
253    1.2
254    1.2
255    1.2
256    1.2
257    1.2
Name: bicycle_friendliness, dtype: float64
6.96
258     2.85
259    11.65
260     6.38
Name: Acres, dtype: float64
258     2.85
259    11.65
260     6.38
Name: Acres, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: births_to_adolescents, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: births_to_adolescents, dtype: float64
0.0
258    0.0
259    0.0
260    0.0
Name: grocery_proximate_units, dtype: float64
258    0.0
259    0.0
260    0.0
Name: grocery_proximate_units, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: prenatal_care, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: prenatal_care, dtype: float64

0.0
258    0.0
259    0.0
260    0.0
Name: grocery_proximity, dtype: float64
258    0.0
259    0.0
260    0.0
Name: grocery_proximity, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: low_birthweight, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: low_birthweight, dtype: float64
4.0
258    4.0
259    4.0
260    4.0
Name: public_health_insurance, dtype: float64
258    4.0
259    4.0
260    4.0
Name: public_health_insurance, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: age_of_death, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: age_of_death, dtype: float64
15.5
258    15.5
259    15.5
260    15.5
Name: impervious_surface, dtype: float64
258    15.5
259    15.5
260    15.5
Name: impervious_surface, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: water_consumption, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: water_consumption, dtype: float64
68.0
258    68.0
259    68.0
260    68.0
Name: neighborhood_school_attendance, dtype: float64
258    68.0
259    68.0
260    68.0
Name: neighborhood_school_attendance, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: highschool_graduation_rate, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: highschool_graduation_rate, dtype: float64
34.7826086956522
258    34.782609
259    34.782609
260    34.782609
Name: proficiency_elementary_school, dtype: float64
258    34.782609
259    34.782609
260    34.782609
Name: proficiency_elementary_school, dtype: float64
11.11
258    11.11
259    11.11
260    11.11
Name: proficiency_middle_school, dtype: float64
258    11.11
259    11.11
260    11.11
Name: proficiency_middle_school, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: proficiency_high_school, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: proficiency_high_school, dtype: float64
5.17241379310345
258    5.172414
259    5.172414
260    5.172414
Name: student_absenteeism, dtype: float64
258    5.172414
259    5.172414
260    5.172414
Name: student_absenteeism, dtype: float64
26.0
258    26.0
259    26.0
260    26.0
Name: voters_participating, dtype: float64
258    26.0
259    26.0
260    26.0
Name: voters_participating, dtype: float64
0.0
258    0.0
259    0.0
260    0.0
Name: neighborhood_organizations, dtype: float64
258    0.0
259    0.0
260    0.0
Name: neighborhood_organizations, dtype: float64
4.0
258    4.0
259    4.0
260    4.0
Name: voter_participation, dtype: float64
258    4.0
259    4.0
260    4.0
Name: voter_participation, dtype: float64
43.5
258    43.5
259    43.5
260    43.5
Name: vacant_land, dtype: float64
258    43.5
259    43.5
260    43.5
Name: vacant_land, dtype: float64
6.0
258    6.0
259    6.0
260    6.0
Name: population_density, dtype: float64
258    6.0
259    6.0
260    6.0
Name: population_density, dtype: float64
2212.0
258    2212.0
259    2212.0
260    2212.0
Name: population, dtype: float64
258    2212.0
259    2212.0
260    2212.0
Name: population, dtype: float64
nan
258   -1.0
259   -1.0
260   -1.0
Name: transit_ridership, dtype: float64
258   -1.0
259   -1.0
260   -1.0
Name: transit_ridership, dtype: float64
1.27
258    1.27
259    1.27
260    1.27
Name: street_connectivity, dtype: float64
258    1.27
259    1.27
260    1.27
Name: street_connectivity, dtype: float64
1.3
258    1.3
259    1.3
260    1.3
Name: bicycle_friendliness, dtype: float64
258    1.3
259    1.3
260    1.3
Name: bicycle_friendliness, dtype: float64
11.375
261    20.56
262     2.19
Name: Acres, dtype: float64
261    20.56
262     2.19
Name: Acres, dtype: float64
nan
261   -1.0
262   -1.0
Name: births_to_adolescents, dtype: float64
261   -1.0
262   -1.0
Name: births_to_adolescents, dtype: float64
1353.0
261    1353.0
262    1353.0
Name: grocery_proximate_units, dtype: float64
261    1353.0
262    1353.0
Name: grocery_proximate_units, dtype: float64
nan
261   -1.0
262   -1.0
Name: prenatal_care, dtype: float64
261   -1.0
262   -1.0
Name: prenatal_care, dtype: float64
100.0
261    100.0
262    100.0
Name: grocery_proximity, dtype: float64
261    100.0
262    100.0
Name: grocery_proximity, dtype: float64
nan
261   -1.0
262   -1.0
Name: low_birthweight, dtype: float64
261   -1.0
262   -1.0
Name: low_birthweight, dtype: float64
nan
261   -1.0
262   -1.0
Name: public_health_insurance, dtype: float64
261   -1.0
262   -1.0
Name: public_health_insurance, dtype: float64
nan
261   -1.0
262   -1.0
Name: age_of_death, dtype: float64
261   -1.0
262   -1.0
Name: age_of_death, dtype: float64
42.4
261    42.4
262    42.4
Name: impervious_surface, dtype: float64
261    42.4
262    42.4
Name: impervious_surface, dtype: float64
nan
261   -1.0
262   -1.0
Name: water_consumption, dtype: float64
261   -1.0
262   -1.0
Name: water_consumption, dtype: float64
nan
261   -1.0
262   -1.0
Name: neighborhood_school_attendance, dtype: float64
261   -1.0
262   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
261   -1.0
262   -1.0
Name: highschool_graduation_rate, dtype: float64
261   -1.0
262   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
261   -1.0
262   -1.0
Name: proficiency_elementary_school, dtype: float64
261   -1.0
262   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
261   -1.0
262   -1.0
Name: proficiency_middle_school, dtype: float64
261   -1.0
262   -1.0
Name: proficiency_middle_school, dtype: float64
nan
261   -1.0
262   -1.0
Name: proficiency_high_school, dtype: float64
261   -1.0
262   -1.0
Name: proficiency_high_school, dtype: float64
nan
261   -1.0
262   -1.0
Name: student_absenteeism, dtype: float64
261   -1.0
262   -1.0
Name: student_absenteeism, dtype: float64
474.0
261    474.0
262    474.0
Name: voters_participating, dtype: float64
261    474.0
262    474.0
Name: voters_participating, dtype: float64
nan
261   -1.0
262   -1.0
Name: neighborhood_organizations, dtype: float64
261   -1.0
262   -1.0
Name: neighborhood_organizations, dtype: float64
52.0
261    52.0
262    52.0
Name: voter_participation, dtype: float64
261    52.0
262    52.0
Name: voter_participation, dtype: float64
5.3
261    5.3
262    5.3
Name: vacant_land, dtype: float64
261    5.3
262    5.3
Name: vacant_land, dtype: float64
7.0
261    7.0
262    7.0
Name: population_density, dtype: float64
261    7.0
262    7.0
Name: population_density, dtype: float64
2746.0
261    2746.0
262    2746.0
Name: population, dtype: float64
261    2746.0
262    2746.0
Name: population, dtype: float64
nan
261   -1.0
262   -1.0
Name: transit_ridership, dtype: float64
261   -1.0
262   -1.0
Name: transit_ridership, dtype: float64
1.12
261    1.12
262    1.12
Name: street_connectivity, dtype: float64
261    1.12
262    1.12
Name: street_connectivity, dtype: float64
1.2
261    1.2
262    1.2
Name: bicycle_friendliness, dtype: float64
261    1.2
262    1.2
Name: bicycle_friendliness, dtype: float64
1.56
263    1.56
Name: Acres, dtype: float64
263    1.56
Name: Acres, dtype: float64
nan
263   -1.0
Name: births_to_adolescents, dtype: float64
263   -1.0
Name: births_to_adolescents, dtype: float64
548.0
263    548.0
Name: grocery_proximate_units, dtype: float64
263    548.0
Name: grocery_proximate_units, dtype: float64
nan
263   -1.0
Name: prenatal_care, dtype: float64
263   -1.0
Name: prenatal_care, dtype: float64
48.0
263    48.0
Name: grocery_proximity, dtype: float64
263    48.0
Name: grocery_proximity, dtype: float64
nan
263   -1.0
Name: low_birthweight, dtype: float64
263   -1.0
Name: low_birthweight, dtype: float64
20.0
263    20.0
Name: public_health_insurance, dtype: float64
263    20.0
Name: public_health_insurance, dtype: float64
nan
263   -1.0
Name: age_of_death, dtype: float64
263   -1.0
Name: age_of_death, dtype: float64
23.2
263    23.2
Name: impervious_surface, dtype: float64
263    23.2
Name: impervious_surface, dtype: float64
nan
263   -1.0
Name: water_consumption, dtype: float64
263   -1.0
Name: water_consumption, dtype: float64
53.37
263    53.37
Name: neighborhood_school_attendance, dtype: float64
263    53.37
Name: neighborhood_school_attendance, dtype: float64
97.0
263    97.0
Name: highschool_graduation_rate, dtype: float64
263    97.0
Name: highschool_graduation_rate, dtype: float64
40.0
263    40.0
Name: proficiency_elementary_school, dtype: float64
263    40.0
Name: proficiency_elementary_school, dtype: float64
36.84
263    36.84
Name: proficiency_middle_school, dtype: float64
263    36.84
Name: proficiency_middle_school, dtype: float64
68.18
263    68.18
Name: proficiency_high_school, dtype: float64
263    68.18
Name: proficiency_high_school, dtype: float64
9.604519774011301
263    9.60452
Name: student_absenteeism, dtype: float64
263    9.60452
Name: student_absenteeism, dtype: float64
170.0
263    170.0
Name: voters_participating, dtype: float64
263    170.0

Name: voters_participating, dtype: float64
0.0
263    0.0
Name: neighborhood_organizations, dtype: float64
263    0.0
Name: neighborhood_organizations, dtype: float64
13.0
263    13.0
Name: voter_participation, dtype: float64
263    13.0
Name: voter_participation, dtype: float64
26.3
263    26.3
Name: vacant_land, dtype: float64
263    26.3
Name: vacant_land, dtype: float64
2.0
263    2.0
Name: population_density, dtype: float64
263    2.0
Name: population_density, dtype: float64
2481.0
263    2481.0
Name: population, dtype: float64
263    2481.0
Name: population, dtype: float64
20.0
263    20.0
Name: transit_ridership, dtype: float64
263    20.0
Name: transit_ridership, dtype: float64
1.09
263    1.09
Name: street_connectivity, dtype: float64
263    1.09
Name: street_connectivity, dtype: float64
1.2
263    1.2
Name: bicycle_friendliness, dtype: float64
263    1.2
Name: bicycle_friendliness, dtype: float64
12.33
264    12.33
Name: Acres, dtype: float64
264    12.33
Name: Acres, dtype: float64
11.1
264    11.1
Name: births_to_adolescents, dtype: float64
264    11.1
Name: births_to_adolescents, dtype: float64
357.0
264    357.0
Name: grocery_proximate_units, dtype: float64
264    357.0
Name: grocery_proximate_units, dtype: float64
63.0
264    63.0
Name: prenatal_care, dtype: float64
264    63.0
Name: prenatal_care, dtype: float64
68.0
264    68.0
Name: grocery_proximity, dtype: float64
264    68.0
Name: grocery_proximity, dtype: float64
3.7
264    3.7
Name: low_birthweight, dtype: float64
264    3.7
Name: low_birthweight, dtype: float64
50.0
264    50.0
Name: public_health_insurance, dtype: float64
264    50.0
Name: public_health_insurance, dtype: float64
72.0
264    72.0
Name: age_of_death, dtype: float64
264    72.0
Name: age_of_death, dtype: float64
nan
264   -1.0
Name: impervious_surface, dtype: float64
264   -1.0
Name: impervious_surface, dtype: float64
117.0
264    117.0
Name: water_consumption, dtype: float64
264    117.0
Name: water_consumption, dtype: float64
59.74
264    59.74
Name: neighborhood_school_attendance, dtype: float64
264    59.74
Name: neighborhood_school_attendance, dtype: float64
77.0
264    77.0
Name: highschool_graduation_rate, dtype: float64
264    77.0
Name: highschool_graduation_rate, dtype: float64
26.470588235294123
264    26.470588
Name: proficiency_elementary_school, dtype: float64
264    26.470588
Name: proficiency_elementary_school, dtype: float64
17.857142857142858
264    17.857143
Name: proficiency_middle_school, dtype: float64
264    17.857143
Name: proficiency_middle_school, dtype: float64
22.222222222222218
264    22.222222
Name: proficiency_high_school, dtype: float64
264    22.222222
Name: proficiency_high_school, dtype: float64
14.1025641025641
264    14.102564
Name: student_absenteeism, dtype: float64
264    14.102564
Name: student_absenteeism, dtype: float64
555.0
264    555.0
Name: voters_participating, dtype: float64
264    555.0
Name: voters_participating, dtype: float64
3.0
264    3.0
Name: neighborhood_organizations, dtype: float64
264    3.0
Name: neighborhood_organizations, dtype: float64
56.0
264    56.0
Name: voter_participation, dtype: float64
264    56.0
Name: voter_participation, dtype: float64
nan
264   -1.0
Name: vacant_land, dtype: float64
264   -1.0
Name: vacant_land, dtype: float64
nan
264   -1.0
Name: population_density, dtype: float64
264   -1.0
Name: population_density, dtype: float64
nan
264   -1.0
Name: population, dtype: float64
264   -1.0
Name: population, dtype: float64
262.0
264    262.0
Name: transit_ridership, dtype: float64
264    262.0
Name: transit_ridership, dtype: float64
nan
264   -1.0
Name: street_connectivity, dtype: float64
264   -1.0
Name: street_connectivity, dtype: float64
nan
264   -1.0
Name: bicycle_friendliness, dtype: float64
264   -1.0
Name: bicycle_friendliness, dtype: float64
8.3252
265    15.780
266    14.400
267    21.620
268     7.120
269     0.068
Name: Acres, dtype: float64
265    15.780
266    14.400
267    21.620
268     7.120
269     0.068
270     5.100
271    15.780
272     6.540
273     7.120
274    15.550
275     7.120
276     1.900
277     1.900
278     2.440
279     2.440
Name: Acres, dtype: float64
1.0666666666666667
265    1.066667
266    1.066667
267    1.600000
268    1.066667
269    1.600000
Name: births_to_adolescents, dtype: float64
265    1.066667
266    1.066667
267    1.600000
268    1.066667
269    1.600000
270    1.066667
271    1.066667
272    1.066667
273    1.066667
274    1.066667
275    1.066667
276    0.000000
277    1.066667
278    1.066667
279    1.066667
Name: births_to_adolescents, dtype: float64
590.75
265    676.0
266    547.0
267    549.0
268    547.0
269    549.0
Name: grocery_proximate_units, dtype: float64
265    676.00
266    547.00
267    549.00
268    547.00
269    549.00
270    590.75
271    676.00
272    590.75
273    547.00
274    590.75
275    547.00
276    550.00
277    549.00
278    676.00
279    676.00
Name: grocery_proximate_units, dtype: float64
68.60000000000001
265    68.6
266    68.6
267    71.4
268    68.6
269    71.4
Name: prenatal_care, dtype: float64
265    68.6
266    68.6
267    71.4
268    68.6
269    71.4
270    68.6
271    68.6
272    68.6
273    68.6
274    68.6
275    68.6
276    63.0
277    68.6
278    68.6
279    68.6
Name: prenatal_care, dtype: float64
40.666666666666664
265    37.0
266    37.0
267    49.0
268    37.0
269    49.0
Name: grocery_proximity, dtype: float64
265    37.000000
266    37.000000
267    49.000000
268    37.000000
269    49.000000
270    40.666667
271    37.000000
272    40.666667
273    37.000000
274    40.666667
275    37.000000
276    47.000000
277    47.000000
278    37.000000
279    37.000000
Name: grocery_proximity, dtype: float64
6.133333333333333
265    6.133333
266    6.133333
267    6.400000
268    6.133333
269    6.400000
Name: low_birthweight, dtype: float64
265    6.133333
266    6.133333
267    6.400000
268    6.133333
269    6.400000
270    6.133333
271    6.133333
272    6.133333
273    6.133333
274    6.133333
275    6.133333
276    5.600000
277    6.133333
278    6.133333
279    6.133333
Name: low_birthweight, dtype: float64
7.666666666666667
265    7.666667
266    8.000000
267    7.666667
268    8.000000
269    7.666667
Name: public_health_insurance, dtype: float64
265    7.666667
266    8.000000
267    7.666667
268    8.000000
269    7.666667
270    7.666667
271    7.666667
272    7.666667
273    8.000000
274    7.666667
275    8.000000
276    7.000000
277    7.000000
278    7.666667
279    7.666667
Name: public_health_insurance, dtype: float64
62.0
265    62.0
266    62.0
267    60.0
268    62.0
269    60.0
Name: age_of_death, dtype: float64
265    62.0
266    62.0
267    60.0
268    62.0
269    60.0
270    62.0
271    62.0
272    62.0
273    62.0
274    62.0
275    62.0
276    66.0
277    62.0
278    62.0
279    62.0
Name: age_of_death, dtype: float64
19.55454545454545
265    19.7
266    19.7
267    19.4
268    19.7
269    19.4
Name: impervious_surface, dtype: float64
265    19.700000
266    19.700000
267    19.400000
268    19.700000
269    19.400000
270    19.554545
271    19.700000
272    19.554545
273    19.700000
274    19.554545
275    19.700000
276    19.554545
277    18.700000
278    19.700000
279    19.700000
Name: impervious_surface, dtype: float64
156.14285714285714
265    154.000000
266    156.142857
267    161.000000
268    156.142857
269    161.000000
Name: water_consumption, dtype: float64
265    154.000000
266    156.142857
267    161.000000
268    156.142857
269    161.000000
270    156.142857
271    154.000000
272    156.142857
273    156.142857
274    156.142857
275    156.142857
276    155.000000
277    156.142857
278    154.000000
279    154.000000
Name: water_consumption, dtype: float64
73.99625
265    73.99625
266    74.00000
267    73.40000
268    74.00000
269    73.40000
Name: neighborhood_school_attendance, dtype: float64
265    73.99625
266    74.00000
267    73.40000
268    74.00000
269    73.40000
270    73.99625
271    73.99625
272    73.99625
273    74.00000
274    73.99625
275    74.00000
276    76.33000
277    72.84000
278    73.99625
279    73.99625
Name: neighborhood_school_attendance, dtype: float64
92.0
265     92.0
266     84.0
267    100.0
268     84.0
269    100.0
Name: highschool_graduation_rate, dtype: float64
265     92.0
266     84.0
267    100.0
268     84.0
269    100.0
270     92.0
271     92.0
272     92.0
273     84.0
274     92.0
275     84.0
276    100.0
277    100.0
278     92.0
279     92.0
Name: highschool_graduation_rate, dtype: float64
52.534616240266956
265    52.534616
266    50.900000
267    51.720000
268    50.900000
269    51.720000
Name: proficiency_elementary_school, dtype: float64
265    52.534616
266    50.900000
267    51.720000
268    50.900000
269    51.720000
270    52.534616
271    52.534616
272    52.534616
273    50.900000
274    52.534616
275    50.900000
276    58.064516
277    55.172414
278    52.534616
279    52.534616
Name: proficiency_elementary_school, dtype: float64
47.825
265    47.825
266    47.300
267    54.200
268    47.300
269    54.200
Name: proficiency_middle_school, dtype: float64
265    47.825
266    47.300
267    54.200
268    47.300
269    54.200
270    47.825
271    47.825
272    47.825
273    47.300
274    47.825
275    47.300
276    35.000
277    50.000
278    47.825
279    47.825
Name: proficiency_middle_school, dtype: float64
36.69423076923077
265    36.694231
266    36.400000
267    40.900000
268    36.400000
269    40.900000
Name: proficiency_high_school, dtype: float64
265    36.694231
266    36.400000
267    40.900000
268    36.400000
269    40.900000
270    36.694231
271    36.694231
272    36.694231
273    36.400000
274    36.694231
275    36.400000
276    46.153846
277    20.000000
278    36.694231
279    36.694231
Name: proficiency_high_school, dtype: float64
11.12037037037037
265    11.12037
266    15.00000
267     8.00000
268    15.00000
269     8.00000
Name: student_absenteeism, dtype: float64
265    11.120370
266    15.000000
267     8.000000
268    15.000000
269     8.000000
270    11.120370
271    11.120370
272    11.120370
273    15.000000
274    11.120370
275    15.000000
276     5.820106
277     7.142857
278    11.120370
279    11.120370
Name: student_absenteeism, dtype: float64
592.75
265     853.0
266     250.0
267    1048.0
268     250.0
269    1048.0
Name: voters_participating, dtype: float64
265     853.00
266     250.00
267    1048.00
268     250.00
269    1048.00
270     592.75
271     853.00
272     592.75
273     250.00
274     592.75
275     250.00
276     490.00
277     115.00
278     853.00
279     853.00
Name: voters_participating, dtype: float64
1.5
265    1.5
266    1.5
267    1.5
268    1.5
269    1.5
Name: neighborhood_organizations, dtype: float64
265    1.5
266    1.5
267    1.5
268    1.5
269    1.5
270    1.5
271    1.5
272    1.5
273    1.5
274    1.5
275    1.5
276    1.0
277    2.0
278    1.5
279    1.5
Name: neighborhood_organizations, dtype: float64
41.416666666666664
265    57.0
266    14.0
267    76.0
268    14.0
269    76.0
Name: voter_participation, dtype: float64
265    57.000000
266    14.000000
267    76.000000
268    14.000000
269    76.000000
270    41.416667
271    57.000000
272    41.416667
273    14.000000
274    41.416667
275    14.000000
276    50.000000
277    11.000000
278    57.000000
279    57.000000
Name: voter_participation, dtype: float64
25.800000000000008
265    25.8
266    25.8
267    25.8
268    25.8
269    25.8
Name: vacant_land, dtype: float64
265    25.8
266    25.8
267    25.8
268    25.8
269    25.8
270    25.8
271    25.8
272    25.8
273    25.8
274    25.8
275    25.8
276    25.8
277    25.8
278    25.8
279    25.8
Name: vacant_land, dtype: float64
3.090909090909091
265    4.0
266    3.0
267    2.0
268    3.0
269    2.0
Name: population_density, dtype: float64
265    4.000000
266    3.000000
267    2.000000
268    3.000000
269    2.000000
270    3.090909
271    4.000000
272    3.090909
273    3.000000
274    3.090909
275    3.000000
276    3.090909
277    2.000000
278    4.000000
279    4.000000
Name: population_density, dtype: float64
3553.818181818182
265    4320.0
266    3431.0
267    2661.0
268    3431.0
269    2661.0
Name: population, dtype: float64
265    4320.000000
266    3431.000000
267    2661.000000
268    3431.000000
269    2661.000000
270    3553.818182
271    4320.000000
272    3553.818182
273    3431.000000
274    3553.818182
275    3431.000000
276    3553.818182
277    2766.000000
278    4320.000000
279    4320.000000
Name: population, dtype: float64
249.0
265    249.0
266    249.0
267    249.0
268    249.0
269    249.0
Name: transit_ridership, dtype: float64
265    249.0
266    249.0
267    249.0
268    249.0
269    249.0
270    249.0
271    249.0
272    249.0
273    249.0
274    249.0
275    249.0
276    276.0
277    222.0
278    249.0
279    249.0
Name: transit_ridership, dtype: float64
1.3190909090909093
265    1.32
266    1.32
267    1.32
268    1.32
269    1.32
Name: street_connectivity, dtype: float64
265    1.320000
266    1.320000
267    1.320000
268    1.320000
269    1.320000
270    1.319091
271    1.320000
272    1.319091
273    1.320000
274    1.319091
275    1.320000
276    1.319091
277    1.310000
278    1.320000
279    1.320000
Name: street_connectivity, dtype: float64
1.4000000000000001
265    1.4
266    1.4
267    1.4
268    1.4
269    1.4
Name: bicycle_friendliness, dtype: float64
265    1.4
266    1.4
267    1.4
268    1.4
269    1.4
270    1.4
271    1.4
272    1.4
273    1.4
274    1.4
275    1.4
276    1.4
277    1.4
278    1.4
279    1.4
Name: bicycle_friendliness, dtype: float64
15.248444444444443
280     3.990
281    45.583
282     8.700
283     9.890
284     1.270
Name: Acres, dtype: float64
280     3.990
281    45.583
282     8.700
283     9.890
284     1.270
285    43.580
286     0.783
287    14.000
288     9.440
Name: Acres, dtype: float64
1.0
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
Name: births_to_adolescents, dtype: float64
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
285    1.0
286    1.0
287    1.0
288    1.0
Name: births_to_adolescents, dtype: float64
63.0
280    51.0
281    63.0
282    63.0
283    63.0
284    63.0
Name: grocery_proximate_units, dtype: float64
280    51.0
281    63.0
282    63.0
283    63.0
284    63.0
285    63.0
286    67.0
287    67.0
288    67.0
Name: grocery_proximate_units, dtype: float64
61.4
280    61.4
281    61.4
282    61.4
283    61.4
284    61.4
Name: prenatal_care, dtype: float64
280    61.4
281    61.4
282    61.4
283    61.4
284    61.4
285    61.4
286    61.4
287    61.4
288    61.4
Name: prenatal_care, dtype: float64
5.0
280    4.0
281    5.0
282    5.0
283    5.0
284    5.0
Name: grocery_proximity, dtype: float64
280    4.0
281    5.0
282    5.0
283    5.0
284    5.0
285    5.0
286    6.0
287    4.0
288    6.0
Name: grocery_proximity, dtype: float64
10.9
280    10.9
281    10.9
282    10.9
283    10.9
284    10.9
Name: low_birthweight, dtype: float64
280    10.9
281    10.9
282    10.9
283    10.9
284    10.9
285    10.9
286    10.9
287    10.9
288    10.9
Name: low_birthweight, dtype: float64

20.0
280    20.0
281    20.0
282    20.0
283    20.0
284    20.0
Name: public_health_insurance, dtype: float64
280    20.0
281    20.0
282    20.0
283    20.0
284    20.0
285    20.0
286    20.0
287    20.0
288    20.0
Name: public_health_insurance, dtype: float64
74.0
280    74.0
281    74.0
282    74.0
283    74.0
284    74.0
Name: age_of_death, dtype: float64
280    74.0
281    74.0
282    74.0
283    74.0
284    74.0
285    74.0
286    74.0
287    74.0
288    74.0
Name: age_of_death, dtype: float64
6.975
280    7.200
281    6.975
282    6.975
283    6.975
284    6.975
Name: impervious_surface, dtype: float64
280    7.200
281    6.975
282    6.975
283    6.975
284    6.975
285    6.975
286    6.900
287    6.900
288    6.900
Name: impervious_surface, dtype: float64
126.33333333333333
280    127.000000
281    126.333333
282    126.333333
283    126.333333
284    126.333333
Name: water_consumption, dtype: float64
280    127.000000
281    126.333333
282    126.333333
283    126.333333
284    126.333333
285    126.333333
286    126.000000
287    126.333333
288    126.000000
Name: water_consumption, dtype: float64
74.66666666666667
280    74.666667
281    74.666667
282    74.666667
283    74.666667
284    74.666667
Name: neighborhood_school_attendance, dtype: float64
280    74.666667
281    74.666667
282    74.666667
283    74.666667
284    74.666667
285    74.666667
286    75.000000
287    74.000000
288    75.000000
Name: neighborhood_school_attendance, dtype: float64
75.0
280    75.0
281    75.0
282    75.0
283    75.0
284    75.0
Name: highschool_graduation_rate, dtype: float64
280    75.0
281    75.0
282    75.0
283    75.0
284    75.0
285    75.0
286    74.0
287    77.0
288    74.0
Name: highschool_graduation_rate, dtype: float64
50.50666666666667
280    50.506667
281    50.506667
282    50.506667
283    50.506667
284    50.506667
Name: proficiency_elementary_school, dtype: float64
280    50.506667
281    50.506667
282    50.506667
283    50.506667
284    50.506667
285    50.506667
286    48.460000
287    54.600000
288    48.460000
Name: proficiency_elementary_school, dtype: float64
36.333333333333336
280    36.333333
281    36.333333
282    36.333333
283    36.333333
284    36.333333
Name: proficiency_middle_school, dtype: float64
280    36.333333
281    36.333333
282    36.333333
283    36.333333
284    36.333333
285    36.333333
286    35.200000
287    38.600000
288    35.200000
Name: proficiency_middle_school, dtype: float64
29.03333333333333
280    29.033333
281    29.033333
282    29.033333
283    29.033333
284    29.033333
Name: proficiency_high_school, dtype: float64
280    29.033333
281    29.033333
282    29.033333
283    29.033333
284    29.033333
285    29.033333
286    26.900000
287    33.300000
288    26.900000
Name: proficiency_high_school, dtype: float64
12.666666666666666
280    12.666667
281    12.666667
282    12.666667
283    12.666667
284    12.666667
Name: student_absenteeism, dtype: float64
280    12.666667
281    12.666667
282    12.666667
283    12.666667
284    12.666667
285    12.666667
286    13.000000
287    12.000000
288    13.000000
Name: student_absenteeism, dtype: float64
1030.5
280    1065.0
281    1030.5
282    1030.5
283    1030.5
284    1030.5
Name: voters_participating, dtype: float64
280    1065.0
281    1030.5
282    1030.5
283    1030.5
284    1030.5
285    1030.5
286    1374.0
287     309.0
288    1374.0
Name: voters_participating, dtype: float64
nan
280   -1.0
281   -1.0
282   -1.0
283   -1.0
284   -1.0
Name: neighborhood_organizations, dtype: float64
280   -1.0
281   -1.0
282   -1.0
283   -1.0
284   -1.0
285   -1.0
286   -1.0
287   -1.0
288   -1.0
Name: neighborhood_organizations, dtype: float64
54.0
280    61.0
281    54.0
282    54.0
283    54.0
284    54.0
Name: voter_participation, dtype: float64
280    61.0
281    54.0
282    54.0
283    54.0
284    54.0
285    54.0
286    70.0
287    15.0
288    70.0
Name: voter_participation, dtype: float64
33.4
280    33.4
281    33.4
282    33.4
283    33.4
284    33.4
Name: vacant_land, dtype: float64
280    33.4
281    33.4
282    33.4
283    33.4
284    33.4
285    33.4
286    33.4
287    33.4
288    33.4
Name: vacant_land, dtype: float64
1.0
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
Name: population_density, dtype: float64
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
285    1.0
286    1.0
287    1.0
288    1.0
Name: population_density, dtype: float64
2970.75
280    3056.00
281    2970.75
282    2970.75
283    2970.75
284    2970.75
Name: population, dtype: float64
280    3056.00
281    2970.75
282    2970.75
283    2970.75
284    2970.75
285    2970.75
286    2938.00
287    2951.00
288    2938.00
Name: population, dtype: float64
nan
280   -1.0
281   -1.0
282   -1.0
283   -1.0
284   -1.0
Name: transit_ridership, dtype: float64
280   -1.0
281   -1.0
282   -1.0
283   -1.0
284   -1.0
285   -1.0
286   -1.0
287   -1.0
288   -1.0
Name: transit_ridership, dtype: float64
1.18
280    1.18
281    1.18
282    1.18
283    1.18
284    1.18
Name: street_connectivity, dtype: float64
280    1.18
281    1.18
282    1.18
283    1.18
284    1.18
285    1.18
286    1.18
287    1.18
288    1.18
Name: street_connectivity, dtype: float64
1.2
280    1.2
281    1.2
282    1.2
283    1.2
284    1.2
Name: bicycle_friendliness, dtype: float64
280    1.2
281    1.2
282    1.2
283    1.2
284    1.2
285    1.2
286    1.2
287    1.2
288    1.2
Name: bicycle_friendliness, dtype: float64
1.55
289    1.55
Name: Acres, dtype: float64
289    1.55
Name: Acres, dtype: float64
nan
289   -1.0
Name: births_to_adolescents, dtype: float64
289   -1.0
Name: births_to_adolescents, dtype: float64
708.0
289    708.0
Name: grocery_proximate_units, dtype: float64
289    708.0
Name: grocery_proximate_units, dtype: float64
nan
289   -1.0
Name: prenatal_care, dtype: float64
289   -1.0
Name: prenatal_care, dtype: float64
89.0
289    89.0
Name: grocery_proximity, dtype: float64
289    89.0
Name: grocery_proximity, dtype: float64
nan
289   -1.0
Name: low_birthweight, dtype: float64
289   -1.0
Name: low_birthweight, dtype: float64
6.0
289    6.0
Name: public_health_insurance, dtype: float64
289    6.0
Name: public_health_insurance, dtype: float64
nan
289   -1.0
Name: age_of_death, dtype: float64
289   -1.0
Name: age_of_death, dtype: float64
18.6
289    18.6
Name: impervious_surface, dtype: float64
289    18.6
Name: impervious_surface, dtype: float64
nan
289   -1.0
Name: water_consumption, dtype: float64
289   -1.0
Name: water_consumption, dtype: float64
93.33
289    93.33
Name: neighborhood_school_attendance, dtype: float64
289    93.33
Name: neighborhood_school_attendance, dtype: float64
100.0
289    100.0
Name: highschool_graduation_rate, dtype: float64
289    100.0
Name: highschool_graduation_rate, dtype: float64
85.2459016393443
289    85.245902
Name: proficiency_elementary_school, dtype: float64
289    85.245902
Name: proficiency_elementary_school, dtype: float64
85.71
289    85.71
Name: proficiency_middle_school, dtype: float64
289    85.71
Name: proficiency_middle_school, dtype: float64
84.62
289    84.62
Name: proficiency_high_school, dtype: float64
289    84.62
Name: proficiency_high_school, dtype: float64
3.08219178082192
289    3.082192
Name: student_absenteeism, dtype: float64
289    3.082192
Name: student_absenteeism, dtype: float64
157.0
289    157.0
Name: voters_participating, dtype: float64
289    157.0
Name: voters_participating, dtype: float64
0.0
289    0.0
Name: neighborhood_organizations, dtype: float64
289    0.0
Name: neighborhood_organizations, dtype: float64
16.0
289    16.0
Name: voter_participation, dtype: float64
289    16.0
Name: voter_participation, dtype: float64
17.4
289    17.4
Name: vacant_land, dtype: float64
289    17.4
Name: vacant_land, dtype: float64
6.0
289    6.0
Name: population_density, dtype: float64
289    6.0
Name: population_density, dtype: float64
2059.0
289    2059.0
Name: population, dtype: float64
289    2059.0
Name: population, dtype: float64
nan
289   -1.0
Name: transit_ridership, dtype: float64
289   -1.0
Name: transit_ridership, dtype: float64
1.11
289    1.11
Name: street_connectivity, dtype: float64
289    1.11
Name: street_connectivity, dtype: float64
1.3
289    1.3
Name: bicycle_friendliness, dtype: float64
289    1.3
Name: bicycle_friendliness, dtype: float64
15.447777777777778
290    15.80
291     3.28
292     7.69
293     3.48
294    30.00
Name: Acres, dtype: float64
290    15.80
291     3.28
292     7.69
293     3.48
294    30.00
295    30.00
296    30.00
297    11.73
298     7.05
Name: Acres, dtype: float64
1.0
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
Name: births_to_adolescents, dtype: float64
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
295    1.0
296    1.0
297    1.0
298    1.0
Name: births_to_adolescents, dtype: float64
4.75
290     4.75
291     3.00
292    17.00
293     3.00
294     3.00
Name: grocery_proximate_units, dtype: float64
290     4.75
291     3.00
292    17.00
293     3.00
294     3.00
295     3.00
296     3.00
297     3.00
298     3.00
Name: grocery_proximate_units, dtype: float64
77.0
290    77.0
291    77.0
292    77.0
293    77.0
294    77.0
Name: prenatal_care, dtype: float64
290    77.0
291    77.0
292    77.0
293    77.0
294    77.0
295    77.0
296    77.0
297    77.0
298    77.0
Name: prenatal_care, dtype: float64
0.625
290    0.625
291    0.000
292    1.000
293    0.000
294    1.000
Name: grocery_proximity, dtype: float64
290    0.625
291    0.000
292    1.000
293    0.000
294    1.000
295    1.000
296    1.000
297    0.000
298    1.000
Name: grocery_proximity, dtype: float64
1.0
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
Name: low_birthweight, dtype: float64
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
295    1.0
296    1.0
297    1.0
298    1.0
Name: low_birthweight, dtype: float64
7.0
290    7.0
291    7.0
292    7.0
293    7.0
294    7.0
Name: public_health_insurance, dtype: float64
290    7.0
291    7.0
292    7.0
293    7.0
294    7.0
295    7.0
296    7.0
297    7.0
298    7.0
Name: public_health_insurance, dtype: float64
68.0
290    68.0
291    68.0
292    68.0
293    68.0
294    68.0
Name: age_of_death, dtype: float64
290    68.0
291    68.0
292    68.0
293    68.0
294    68.0
295    68.0
296    68.0
297    68.0
298    68.0
Name: age_of_death, dtype: float64
7.924999999999999
290    7.925
291    7.900
292    8.100
293    7.900
294    7.900
Name: impervious_surface, dtype: float64
290    7.925
291    7.900
292    8.100
293    7.900
294    7.900
295    7.900
296    7.900
297    7.900
298    7.900
Name: impervious_surface, dtype: float64
152.25
290    152.25
291    155.00
292    144.00
293    155.00
294    152.25
Name: water_consumption, dtype: float64
290    152.25
291    155.00
292    144.00
293    155.00
294    152.25
295    152.25
296    152.25
297    155.00
298    152.25
Name: water_consumption, dtype: float64
61.01428571428571
290    61.014286
291    59.700000
292    61.014286
293    59.700000
294    62.000000
Name: neighborhood_school_attendance, dtype: float64
290    61.014286
291    59.700000
292    61.014286
293    59.700000
294    62.000000
295    62.000000
296    62.000000
297    59.700000
298    62.000000
Name: neighborhood_school_attendance, dtype: float64
90.57142857142857
290     90.571429
291     78.000000
292     90.571429
293     78.000000
294    100.000000
Name: highschool_graduation_rate, dtype: float64
290     90.571429
291     78.000000
292     90.571429
293     78.000000
294    100.000000
295    100.000000
296    100.000000
297     78.000000
298    100.000000
Name: highschool_graduation_rate, dtype: float64
59.12142857142857
290    59.121429
291    60.750000
292    59.121429
293    60.750000
294    57.900000
Name: proficiency_elementary_school, dtype: float64
290    59.121429
291    60.750000
292    59.121429
293    60.750000
294    57.900000
295    57.900000
296    57.900000
297    60.750000
298    57.900000
Name: proficiency_elementary_school, dtype: float64
41.94285714285714
290    41.942857
291    40.400000
292    41.942857
293    40.400000
294    43.100000
Name: proficiency_middle_school, dtype: float64
290    41.942857
291    40.400000
292    41.942857
293    40.400000
294    43.100000
295    43.100000
296    43.100000
297    40.400000
298    43.100000
Name: proficiency_middle_school, dtype: float64
42.728571428571435
290    42.728571
291    64.900000
292    42.728571
293    64.900000
294    26.100000
Name: proficiency_high_school, dtype: float64
290    42.728571
291    64.900000
292    42.728571
293    64.900000
294    26.100000
295    26.100000
296    26.100000
297    64.900000
298    26.100000
Name: proficiency_high_school, dtype: float64
5.142857142857143
290    5.142857
291    4.000000
292    5.142857
293    4.000000
294    6.000000
Name: student_absenteeism, dtype: float64
290    5.142857
291    4.000000
292    5.142857
293    4.000000
294    6.000000
295    6.000000
296    6.000000
297    4.000000
298    6.000000
Name: student_absenteeism, dtype: float64
943.875
290     943.875
291    1630.000
292    1197.000
293    1630.000
294     366.000
Name: voters_participating, dtype: float64
290     943.875
291    1630.000
292    1197.000
293    1630.000
294     366.000
295     366.000
296     366.000
297    1630.000
298     366.000
Name: voters_participating, dtype: float64
nan
290   -1.0
291   -1.0
292   -1.0
293   -1.0
294   -1.0
Name: neighborhood_organizations, dtype: float64
290   -1.0
291   -1.0
292   -1.0
293   -1.0
294   -1.0
295   -1.0
296   -1.0
297   -1.0
298   -1.0
Name: neighborhood_organizations, dtype: float64
44.875
290    44.875
291    79.000
292    62.000
293    79.000
294    15.000
Name: voter_participation, dtype: float64
290    44.875
291    79.000
292    62.000
293    79.000
294    15.000
295    15.000
296    15.000
297    79.000
298    15.000
Name: voter_participation, dtype: float64
19.35
290    19.35
291    19.40
292    19.40
293    19.40
294    19.30
Name: vacant_land, dtype: float64
290    19.35
291    19.40
292    19.40
293    19.40
294    19.30
295    19.30
296    19.30
297    19.40
298    19.30
Name: vacant_land, dtype: float64
3.0
290    3.0
291    3.0
292    3.0
293    3.0
294    3.0
Name: population_density, dtype: float64
290    3.0
291    3.0
292    3.0
293    3.0
294    3.0
295    3.0
296    3.0
297    3.0
298    3.0
Name: population_density, dtype: float64
3369.375
290    3369.375
291    3335.000
292    3390.000
293    3335.000
294    3390.000
Name: population, dtype: float64
290    3369.375
291    3335.000
292    3390.000
293    3335.000
294    3390.000
295    3390.000
296    3390.000
297    3335.000
298    3390.000
Name: population, dtype: float64
nan
290   -1.0
291   -1.0
292   -1.0
293   -1.0
294   -1.0
Name: transit_ridership, dtype: float64
290   -1.0
291   -1.0
292   -1.0
293   -1.0
294   -1.0
295   -1.0
296   -1.0
297   -1.0
298   -1.0
Name: transit_ridership, dtype: float64
1.12125
290    1.12125
291    1.12000
292    1.13000
293    1.12000
294    1.12000

Name: street_connectivity, dtype: float64
290    1.12125
291    1.12000
292    1.13000
293    1.12000
294    1.12000
295    1.12000
296    1.12000
297    1.12000
298    1.12000
Name: street_connectivity, dtype: float64
1.2625
290    1.2625
291    1.2000
292    1.3000
293    1.2000
294    1.3000
Name: bicycle_friendliness, dtype: float64
290    1.2625
291    1.2000
292    1.3000
293    1.2000
294    1.3000
295    1.3000
296    1.3000
297    1.2000
298    1.3000
Name: bicycle_friendliness, dtype: float64
11.818571428571428
299     4.35
300     4.35
301    12.50
302     9.52
303     4.09
Name: Acres, dtype: float64
299     4.35
300     4.35
301    12.50
302     9.52
303     4.09
304     9.52
305    38.40
Name: Acres, dtype: float64
2.6
299    2.6
300    2.6
301    2.6
302    2.6
303    2.6
Name: births_to_adolescents, dtype: float64
299    2.6
300    2.6
301    2.6
302    2.6
303    2.6
304    2.6
305    2.6
Name: births_to_adolescents, dtype: float64
1217.142857142857
299    1215.0
300    1215.0
301    1215.0
302    1220.0
303    1220.0
Name: grocery_proximate_units, dtype: float64
299    1215.0
300    1215.0
301    1215.0
302    1220.0
303    1220.0
304    1220.0
305    1215.0
Name: grocery_proximate_units, dtype: float64
72.1
299    72.1
300    72.1
301    72.1
302    72.1
303    72.1
Name: prenatal_care, dtype: float64
299    72.1
300    72.1
301    72.1
302    72.1
303    72.1
304    72.1
305    72.1
Name: prenatal_care, dtype: float64
54.0
299    54.0
300    54.0
301    54.0
302    54.0
303    54.0
Name: grocery_proximity, dtype: float64
299    54.0
300    54.0
301    54.0
302    54.0
303    54.0
304    54.0
305    54.0
Name: grocery_proximity, dtype: float64
6.5
299    6.5
300    6.5
301    6.5
302    6.5
303    6.5
Name: low_birthweight, dtype: float64
299    6.5
300    6.5
301    6.5
302    6.5
303    6.5
304    6.5
305    6.5
Name: low_birthweight, dtype: float64
nan
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
Name: public_health_insurance, dtype: float64
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
304   -1.0
305   -1.0
Name: public_health_insurance, dtype: float64
68.0
299    68.0
300    68.0
301    68.0
302    68.0
303    68.0
Name: age_of_death, dtype: float64
299    68.0
300    68.0
301    68.0
302    68.0
303    68.0
304    68.0
305    68.0
Name: age_of_death, dtype: float64
13.0
299    13.0
300    13.0
301    13.0
302    13.0
303    13.0
Name: impervious_surface, dtype: float64
299    13.0
300    13.0
301    13.0
302    13.0
303    13.0
304    13.0
305    13.0
Name: impervious_surface, dtype: float64
140.85714285714286
299    140.0
300    140.0
301    140.0
302    142.0
303    142.0
Name: water_consumption, dtype: float64
299    140.0
300    140.0
301    140.0
302    142.0
303    142.0
304    142.0
305    140.0
Name: water_consumption, dtype: float64
61.70000000000001
299    61.7
300    61.7
301    61.7
302    61.7
303    61.7
Name: neighborhood_school_attendance, dtype: float64
299    61.7
300    61.7
301    61.7
302    61.7
303    61.7
304    61.7
305    61.7
Name: neighborhood_school_attendance, dtype: float64
88.0
299    88.0
300    88.0
301    88.0
302    88.0
303    88.0
Name: highschool_graduation_rate, dtype: float64
299    88.0
300    88.0
301    88.0
302    88.0
303    88.0
304    88.0
305    88.0
Name: highschool_graduation_rate, dtype: float64
57.79999999999999
299    57.8
300    57.8
301    57.8
302    57.8
303    57.8
Name: proficiency_elementary_school, dtype: float64
299    57.8
300    57.8
301    57.8
302    57.8
303    57.8
304    57.8
305    57.8
Name: proficiency_elementary_school, dtype: float64
40.6
299    40.6
300    40.6
301    40.6
302    40.6
303    40.6
Name: proficiency_middle_school, dtype: float64
299    40.6
300    40.6
301    40.6
302    40.6
303    40.6
304    40.6
305    40.6
Name: proficiency_middle_school, dtype: float64
43.9
299    43.9
300    43.9
301    43.9
302    43.9
303    43.9
Name: proficiency_high_school, dtype: float64
299    43.9
300    43.9
301    43.9
302    43.9
303    43.9
304    43.9
305    43.9
Name: proficiency_high_school, dtype: float64
6.0
299    6.0
300    6.0
301    6.0
302    6.0
303    6.0
Name: student_absenteeism, dtype: float64
299    6.0
300    6.0
301    6.0
302    6.0
303    6.0
304    6.0
305    6.0
Name: student_absenteeism, dtype: float64
1773.2857142857142
299    1526.0
300    1526.0
301    1526.0
302    2103.0
303    2103.0
Name: voters_participating, dtype: float64
299    1526.0
300    1526.0
301    1526.0
302    2103.0
303    2103.0
304    2103.0
305    1526.0
Name: voters_participating, dtype: float64
nan
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
Name: neighborhood_organizations, dtype: float64
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
304   -1.0
305   -1.0
Name: neighborhood_organizations, dtype: float64
62.0
299    56.0
300    56.0
301    56.0
302    70.0
303    70.0
Name: voter_participation, dtype: float64
299    56.0
300    56.0
301    56.0
302    70.0
303    70.0
304    70.0
305    56.0
Name: voter_participation, dtype: float64
28.099999999999998
299    28.1
300    28.1
301    28.1
302    28.1
303    28.1
Name: vacant_land, dtype: float64
299    28.1
300    28.1
301    28.1
302    28.1
303    28.1
304    28.1
305    28.1
Name: vacant_land, dtype: float64
6.0
299    6.0
300    6.0
301    6.0
302    6.0
303    6.0
Name: population_density, dtype: float64
299    6.0
300    6.0
301    6.0
302    6.0
303    6.0
304    6.0
305    6.0
Name: population_density, dtype: float64
5970.285714285715
299    5969.0
300    5969.0
301    5969.0
302    5972.0
303    5972.0
Name: population, dtype: float64
299    5969.0
300    5969.0
301    5969.0
302    5972.0
303    5972.0
304    5972.0
305    5969.0
Name: population, dtype: float64
nan
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
Name: transit_ridership, dtype: float64
299   -1.0
300   -1.0
301   -1.0
302   -1.0
303   -1.0
304   -1.0
305   -1.0
Name: transit_ridership, dtype: float64
1.1899999999999997
299    1.19
300    1.19
301    1.19
302    1.19
303    1.19
Name: street_connectivity, dtype: float64
299    1.19
300    1.19
301    1.19
302    1.19
303    1.19
304    1.19
305    1.19
Name: street_connectivity, dtype: float64
1.4000000000000001
299    1.4
300    1.4
301    1.4
302    1.4
303    1.4
Name: bicycle_friendliness, dtype: float64
299    1.4
300    1.4
301    1.4
302    1.4
303    1.4
304    1.4
305    1.4
Name: bicycle_friendliness, dtype: float64
2.825
306    2.81
307    2.84
Name: Acres, dtype: float64
306    2.81
307    2.84
Name: Acres, dtype: float64
2.8
306    2.8
307    2.8
Name: births_to_adolescents, dtype: float64
306    2.8
307    2.8
Name: births_to_adolescents, dtype: float64
265.0
306    265.0
307    265.0
Name: grocery_proximate_units, dtype: float64
306    265.0
307    265.0
Name: grocery_proximate_units, dtype: float64
61.1
306    61.1
307    61.1
Name: prenatal_care, dtype: float64
306    61.1
307    61.1
Name: prenatal_care, dtype: float64
30.0
306    30.0
307    30.0
Name: grocery_proximity, dtype: float64
306    30.0
307    30.0
Name: grocery_proximity, dtype: float64
4.2
306    4.2
307    4.2
Name: low_birthweight, dtype: float64
306    4.2
307    4.2
Name: low_birthweight, dtype: float64
9.0
306    9.0
307    9.0
Name: public_health_insurance, dtype: float64
306    9.0
307    9.0
Name: public_health_insurance, dtype: float64
67.0
306    67.0
307    67.0
Name: age_of_death, dtype: float64
306    67.0
307    67.0
Name: age_of_death, dtype: float64
nan
306   -1.0
307   -1.0
Name: impervious_surface, dtype: float64
306   -1.0
307   -1.0
Name: impervious_surface, dtype: float64
146.0
306    146.0
307    146.0
Name: water_consumption, dtype: float64
306    146.0
307    146.0
Name: water_consumption, dtype: float64
57.0
306    57.0
307    57.0
Name: neighborhood_school_attendance, dtype: float64
306    57.0
307    57.0
Name: neighborhood_school_attendance, dtype: float64
68.0
306    68.0
307    68.0
Name: highschool_graduation_rate, dtype: float64
306    68.0
307    68.0
Name: highschool_graduation_rate, dtype: float64
49.230769230769226
306    49.230769
307    49.230769
Name: proficiency_elementary_school, dtype: float64
306    49.230769
307    49.230769
Name: proficiency_elementary_school, dtype: float64
45.0
306    45.0
307    45.0
Name: proficiency_middle_school, dtype: float64
306    45.0
307    45.0
Name: proficiency_middle_school, dtype: float64
47.058823529411754
306    47.058824
307    47.058824
Name: proficiency_high_school, dtype: float64
306    47.058824
307    47.058824
Name: proficiency_high_school, dtype: float64
7.419354838709677
306    7.419355
307    7.419355
Name: student_absenteeism, dtype: float64
306    7.419355
307    7.419355
Name: student_absenteeism, dtype: float64
478.0
306    478.0
307    478.0
Name: voters_participating, dtype: float64
306    478.0
307    478.0
Name: voters_participating, dtype: float64
0.0
306    0.0
307    0.0
Name: neighborhood_organizations, dtype: float64
306    0.0
307    0.0
Name: neighborhood_organizations, dtype: float64
51.0
306    51.0
307    51.0
Name: voter_participation, dtype: float64
306    51.0
307    51.0
Name: voter_participation, dtype: float64
nan
306   -1.0
307   -1.0
Name: vacant_land, dtype: float64
306   -1.0
307   -1.0
Name: vacant_land, dtype: float64
nan
306   -1.0
307   -1.0

Name: population_density, dtype: float64
306   -1.0
307   -1.0
Name: population_density, dtype: float64
nan
306   -1.0
307   -1.0
Name: population, dtype: float64
306   -1.0
307   -1.0
Name: population, dtype: float64
33.0
306    33.0
307    33.0
Name: transit_ridership, dtype: float64
306    33.0
307    33.0
Name: transit_ridership, dtype: float64
nan
306   -1.0
307   -1.0
Name: street_connectivity, dtype: float64
306   -1.0
307   -1.0
Name: street_connectivity, dtype: float64
nan
306   -1.0
307   -1.0
Name: bicycle_friendliness, dtype: float64
306   -1.0
307   -1.0
Name: bicycle_friendliness, dtype: float64
11.322
308     2.91
309    23.99
310    23.99
311     3.22
312     2.50
Name: Acres, dtype: float64
308     2.91
309    23.99
310    23.99
311     3.22
312     2.50
Name: Acres, dtype: float64
0.0
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: births_to_adolescents, dtype: float64
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: births_to_adolescents, dtype: float64
0.0
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: grocery_proximate_units, dtype: float64
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: grocery_proximate_units, dtype: float64
59.3
308    59.3
309    59.3
310    59.3
311    59.3
312    59.3
Name: prenatal_care, dtype: float64
308    59.3
309    59.3
310    59.3
311    59.3
312    59.3
Name: prenatal_care, dtype: float64
0.0
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: grocery_proximity, dtype: float64
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
Name: grocery_proximity, dtype: float64
11.9
308    11.9
309    11.9
310    11.9
311    11.9
312    11.9
Name: low_birthweight, dtype: float64
308    11.9
309    11.9
310    11.9
311    11.9
312    11.9
Name: low_birthweight, dtype: float64
9.0
308     8.0
309     9.0
310     9.0
311     9.0
312    10.0
Name: public_health_insurance, dtype: float64
308     8.0
309     9.0
310     9.0
311     9.0
312    10.0
Name: public_health_insurance, dtype: float64
nan
308   -1.0
309   -1.0
310   -1.0
311   -1.0
312   -1.0
Name: age_of_death, dtype: float64
308   -1.0
309   -1.0
310   -1.0
311   -1.0
312   -1.0
Name: age_of_death, dtype: float64
5.7
308    5.7
309    5.7
310    5.7
311    5.7
312    5.7
Name: impervious_surface, dtype: float64
308    5.7
309    5.7
310    5.7
311    5.7
312    5.7
Name: impervious_surface, dtype: float64
109.5
308    108.0
309    109.5
310    109.5
311    111.0
312    109.5
Name: water_consumption, dtype: float64
308    108.0
309    109.5
310    109.5
311    111.0
312    109.5
Name: water_consumption, dtype: float64
73.59
308    77.18
309    73.59
310    73.59
311    73.59
312    70.00
Name: neighborhood_school_attendance, dtype: float64
308    77.18
309    73.59
310    73.59
311    73.59
312    70.00
Name: neighborhood_school_attendance, dtype: float64
100.0
308    100.0
309    100.0
310    100.0
311    100.0
312    100.0
Name: highschool_graduation_rate, dtype: float64
308    100.0
309    100.0
310    100.0
311    100.0
312    100.0
Name: highschool_graduation_rate, dtype: float64
46.391025641025635
308    51.282051
309    46.391026
310    46.391026
311    46.391026
312    41.500000
Name: proficiency_elementary_school, dtype: float64
308    51.282051
309    46.391026
310    46.391026
311    46.391026
312    41.500000
Name: proficiency_elementary_school, dtype: float64
31.88846153846154
308    23.076923
309    31.888462
310    31.888462
311    31.888462
312    40.700000
Name: proficiency_middle_school, dtype: float64
308    23.076923
309    31.888462
310    31.888462
311    31.888462
312    40.700000
Name: proficiency_middle_school, dtype: float64
12.5
308    12.5
309    12.5
310    12.5
311    12.5
312    12.5
Name: proficiency_high_school, dtype: float64
308    12.5
309    12.5
310    12.5
311    12.5
312    12.5
Name: proficiency_high_school, dtype: float64
10.661290322580644
308    10.322581
309    10.661290
310    10.661290
311    10.661290
312    11.000000
Name: student_absenteeism, dtype: float64
308    10.322581
309    10.661290
310    10.661290
311    10.661290
312    11.000000
Name: student_absenteeism, dtype: float64
278.3333333333333
308    272.000000
309    278.333333
310    278.333333
311    453.000000
312    110.000000
Name: voters_participating, dtype: float64
308    272.000000
309    278.333333
310    278.333333
311    453.000000
312    110.000000
Name: voters_participating, dtype: float64
2.0
308    2.0
309    2.0
310    2.0
311    2.0
312    2.0
Name: neighborhood_organizations, dtype: float64
308    2.0
309    2.0
310    2.0
311    2.0
312    2.0
Name: neighborhood_organizations, dtype: float64
31.666666666666668
308    36.000000
309    31.666667
310    31.666667
311    50.000000
312     9.000000
Name: voter_participation, dtype: float64
308    36.000000
309    31.666667
310    31.666667
311    50.000000
312     9.000000
Name: voter_participation, dtype: float64
52.7
308    52.7
309    52.7
310    52.7
311    52.7
312    52.7
Name: vacant_land, dtype: float64
308    52.7
309    52.7
310    52.7
311    52.7
312    52.7
Name: vacant_land, dtype: float64
3.0
308    3.0
309    3.0
310    3.0
311    3.0
312    3.0
Name: population_density, dtype: float64
308    3.0
309    3.0
310    3.0
311    3.0
312    3.0
Name: population_density, dtype: float64
2214.5
308    2214.5
309    2214.5
310    2214.5
311    2211.0
312    2218.0
Name: population, dtype: float64
308    2214.5
309    2214.5
310    2214.5
311    2211.0
312    2218.0
Name: population, dtype: float64
nan
308   -1.0
309   -1.0
310   -1.0
311   -1.0
312   -1.0
Name: transit_ridership, dtype: float64
308   -1.0
309   -1.0
310   -1.0
311   -1.0
312   -1.0
Name: transit_ridership, dtype: float64
1.27
308    1.27
309    1.27
310    1.27
311    1.27
312    1.27
Name: street_connectivity, dtype: float64
308    1.27
309    1.27
310    1.27
311    1.27
312    1.27
Name: street_connectivity, dtype: float64
1.3
308    1.3
309    1.3
310    1.3
311    1.3
312    1.3
Name: bicycle_friendliness, dtype: float64
308    1.3
309    1.3
310    1.3
311    1.3
312    1.3
Name: bicycle_friendliness, dtype: float64
19.69
313    30.73
314     8.65
Name: Acres, dtype: float64
313    30.73
314     8.65
Name: Acres, dtype: float64
nan
313   -1.0
314   -1.0
Name: births_to_adolescents, dtype: float64
313   -1.0
314   -1.0
Name: births_to_adolescents, dtype: float64
589.0
313    589.0
314    589.0
Name: grocery_proximate_units, dtype: float64
313    589.0
314    589.0
Name: grocery_proximate_units, dtype: float64
nan
313   -1.0
314   -1.0
Name: prenatal_care, dtype: float64
313   -1.0
314   -1.0
Name: prenatal_care, dtype: float64
50.0
313    50.0
314    50.0
Name: grocery_proximity, dtype: float64
313    50.0
314    50.0
Name: grocery_proximity, dtype: float64
nan
313   -1.0
314   -1.0
Name: low_birthweight, dtype: float64
313   -1.0
314   -1.0
Name: low_birthweight, dtype: float64
nan
313   -1.0
314   -1.0
Name: public_health_insurance, dtype: float64
313   -1.0
314   -1.0
Name: public_health_insurance, dtype: float64
nan
313   -1.0
314   -1.0
Name: age_of_death, dtype: float64
313   -1.0
314   -1.0
Name: age_of_death, dtype: float64
21.4
313    21.4
314    21.4
Name: impervious_surface, dtype: float64
313    21.4
314    21.4
Name: impervious_surface, dtype: float64
168.0
313    168.0
314    168.0
Name: water_consumption, dtype: float64
313    168.0
314    168.0
Name: water_consumption, dtype: float64
nan
313   -1.0
314   -1.0
Name: neighborhood_school_attendance, dtype: float64
313   -1.0
314   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
313   -1.0
314   -1.0
Name: highschool_graduation_rate, dtype: float64
313   -1.0
314   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
313   -1.0
314   -1.0
Name: proficiency_elementary_school, dtype: float64
313   -1.0
314   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
313   -1.0
314   -1.0
Name: proficiency_middle_school, dtype: float64
313   -1.0
314   -1.0
Name: proficiency_middle_school, dtype: float64
nan
313   -1.0
314   -1.0
Name: proficiency_high_school, dtype: float64
313   -1.0
314   -1.0
Name: proficiency_high_school, dtype: float64
nan
313   -1.0
314   -1.0
Name: student_absenteeism, dtype: float64
313   -1.0
314   -1.0
Name: student_absenteeism, dtype: float64
855.0
313    855.0
314    855.0
Name: voters_participating, dtype: float64
313    855.0
314    855.0
Name: voters_participating, dtype: float64
nan
313   -1.0
314   -1.0
Name: neighborhood_organizations, dtype: float64
313   -1.0
314   -1.0
Name: neighborhood_organizations, dtype: float64
61.0
313    61.0
314    61.0
Name: voter_participation, dtype: float64
313    61.0
314    61.0
Name: voter_participation, dtype: float64
26.5
313    26.5
314    26.5
Name: vacant_land, dtype: float64
313    26.5
314    26.5
Name: vacant_land, dtype: float64
9.0
313    9.0
314    9.0
Name: population_density, dtype: float64
313    9.0
314    9.0
Name: population_density, dtype: float64
3321.0
313    3321.0
314    3321.0
Name: population, dtype: float64
313    3321.0
314    3321.0
Name: population, dtype: float64
nan
313   -1.0
314   -1.0
Name: transit_ridership, dtype: float64
313   -1.0
314   -1.0
Name: transit_ridership, dtype: float64
1.24
313    1.24
314    1.24
Name: street_connectivity, dtype: float64
313    1.24
314    1.24
Name: street_connectivity, dtype: float64
1.5
313    1.5
314    1.5
Name: bicycle_friendliness, dtype: float64
313    1.5
314    1.5
Name: bicycle_friendliness, dtype: float64

25.400000000000002
315     7.0
316    25.4
317    25.4
318    25.4
319    25.4
Name: Acres, dtype: float64
315     7.0
316    25.4
317    25.4
318    25.4
319    25.4
320    34.6
321    34.6
322    25.4
Name: Acres, dtype: float64
1.9
315    1.9
316    1.9
317    1.9
318    1.9
319    1.9
Name: births_to_adolescents, dtype: float64
315    1.9
316    1.9
317    1.9
318    1.9
319    1.9
320    1.9
321    1.9
322    1.9
Name: births_to_adolescents, dtype: float64
0.0
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
Name: grocery_proximate_units, dtype: float64
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
320    0.0
321    0.0
322    0.0
Name: grocery_proximate_units, dtype: float64
55.8
315    55.8
316    55.8
317    55.8
318    55.8
319    55.8
Name: prenatal_care, dtype: float64
315    55.8
316    55.8
317    55.8
318    55.8
319    55.8
320    55.8
321    55.8
322    55.8
Name: prenatal_care, dtype: float64
0.0
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
Name: grocery_proximity, dtype: float64
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
320    0.0
321    0.0
322    0.0
Name: grocery_proximity, dtype: float64
1.9
315    1.9
316    1.9
317    1.9
318    1.9
319    1.9
Name: low_birthweight, dtype: float64
315    1.9
316    1.9
317    1.9
318    1.9
319    1.9
320    1.9
321    1.9
322    1.9
Name: low_birthweight, dtype: float64
nan
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
Name: public_health_insurance, dtype: float64
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
320   -1.0
321   -1.0
322   -1.0
Name: public_health_insurance, dtype: float64
69.0
315    69.0
316    69.0
317    69.0
318    69.0
319    69.0
Name: age_of_death, dtype: float64
315    69.0
316    69.0
317    69.0
318    69.0
319    69.0
320    69.0
321    69.0
322    69.0
Name: age_of_death, dtype: float64
2.6999999999999997
315    2.7
316    2.7
317    2.7
318    2.7
319    2.7
Name: impervious_surface, dtype: float64
315    2.7
316    2.7
317    2.7
318    2.7
319    2.7
320    2.7
321    2.7
322    2.7
Name: impervious_surface, dtype: float64
162.16666666666666
315    108.0
316    173.0
317    173.0
318    173.0
319    173.0
Name: water_consumption, dtype: float64
315    108.000000
316    173.000000
317    173.000000
318    173.000000
319    173.000000
320    162.166667
321    162.166667
322    173.000000
Name: water_consumption, dtype: float64
83.8
315    83.8
316    83.8
317    83.8
318    83.8
319    83.8
Name: neighborhood_school_attendance, dtype: float64
315    83.8
316    83.8
317    83.8
318    83.8
319    83.8
320    83.8
321    83.8
322    83.8
Name: neighborhood_school_attendance, dtype: float64
89.0
315    89.0
316    89.0
317    89.0
318    89.0
319    89.0
Name: highschool_graduation_rate, dtype: float64
315    89.0
316    89.0
317    89.0
318    89.0
319    89.0
320    89.0
321    89.0
322    89.0
Name: highschool_graduation_rate, dtype: float64
32.26
315    32.26
316    32.26
317    32.26
318    32.26
319    32.26
Name: proficiency_elementary_school, dtype: float64
315    32.26
316    32.26
317    32.26
318    32.26
319    32.26
320    32.26
321    32.26
322    32.26
Name: proficiency_elementary_school, dtype: float64
26.4
315    26.4
316    26.4
317    26.4
318    26.4
319    26.4
Name: proficiency_middle_school, dtype: float64
315    26.4
316    26.4
317    26.4
318    26.4
319    26.4
320    26.4
321    26.4
322    26.4
Name: proficiency_middle_school, dtype: float64
42.1
315    42.1
316    42.1
317    42.1
318    42.1
319    42.1
Name: proficiency_high_school, dtype: float64
315    42.1
316    42.1
317    42.1
318    42.1
319    42.1
320    42.1
321    42.1
322    42.1
Name: proficiency_high_school, dtype: float64
13.0
315    13.0
316    13.0
317    13.0
318    13.0
319    13.0
Name: student_absenteeism, dtype: float64
315    13.0
316    13.0
317    13.0
318    13.0
319    13.0
320    13.0
321    13.0
322    13.0
Name: student_absenteeism, dtype: float64
376.0
315    101.0
316    431.0
317    431.0
318    431.0
319    431.0
Name: voters_participating, dtype: float64
315    101.0
316    431.0
317    431.0
318    431.0
319    431.0
320    376.0
321    376.0
322    431.0
Name: voters_participating, dtype: float64
nan
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
Name: neighborhood_organizations, dtype: float64
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
320   -1.0
321   -1.0
322   -1.0
Name: neighborhood_organizations, dtype: float64
67.66666666666667
315    41.0
316    73.0
317    73.0
318    73.0
319    73.0
Name: voter_participation, dtype: float64
315    41.000000
316    73.000000
317    73.000000
318    73.000000
319    73.000000
320    67.666667
321    67.666667
322    73.000000
Name: voter_participation, dtype: float64
59.699999999999996
315    59.7
316    59.7
317    59.7
318    59.7
319    59.7
Name: vacant_land, dtype: float64
315    59.7
316    59.7
317    59.7
318    59.7
319    59.7
320    59.7
321    59.7
322    59.7
Name: vacant_land, dtype: float64
0.0
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
Name: population_density, dtype: float64
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
320    0.0
321    0.0
322    0.0
Name: population_density, dtype: float64
857.0
315    882.0
316    852.0
317    852.0
318    852.0
319    852.0
Name: population, dtype: float64
315    882.0
316    852.0
317    852.0
318    852.0
319    852.0
320    857.0
321    857.0
322    852.0
Name: population, dtype: float64
nan
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
Name: transit_ridership, dtype: float64
315   -1.0
316   -1.0
317   -1.0
318   -1.0
319   -1.0
320   -1.0
321   -1.0
322   -1.0
Name: transit_ridership, dtype: float64
1.0199999999999998
315    1.02
316    1.02
317    1.02
318    1.02
319    1.02
Name: street_connectivity, dtype: float64
315    1.02
316    1.02
317    1.02
318    1.02
319    1.02
320    1.02
321    1.02
322    1.02
Name: street_connectivity, dtype: float64
1.0999999999999999
315    1.1
316    1.1
317    1.1
318    1.1
319    1.1
Name: bicycle_friendliness, dtype: float64
315    1.1
316    1.1
317    1.1
318    1.1
319    1.1
320    1.1
321    1.1
322    1.1
Name: bicycle_friendliness, dtype: float64
23.2445
323    28.050
324     4.867
325    28.050
326    28.050
327    42.600
Name: Acres, dtype: float64
323    28.050
324     4.867
325    28.050
326    28.050
327    42.600
328     7.850
Name: Acres, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: births_to_adolescents, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: births_to_adolescents, dtype: float64
0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
Name: grocery_proximate_units, dtype: float64
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
Name: grocery_proximate_units, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: prenatal_care, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: prenatal_care, dtype: float64
0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
Name: grocery_proximity, dtype: float64
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
Name: grocery_proximity, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: low_birthweight, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: low_birthweight, dtype: float64
13.333333333333334
323    13.333333
324    14.000000
325    13.333333
326    13.333333
327    14.000000
Name: public_health_insurance, dtype: float64
323    13.333333
324    14.000000
325    13.333333
326    13.333333
327    14.000000
328    12.000000
Name: public_health_insurance, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: age_of_death, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: age_of_death, dtype: float64
1.7666666666666666
323    1.8
324    1.8
325    1.8
326    1.8
327    1.8
Name: impervious_surface, dtype: float64
323    1.8
324    1.8
325    1.8
326    1.8
327    1.8
328    1.6
Name: impervious_surface, dtype: float64
137.0
323    137.0
324    137.0
325    137.0
326    137.0
327    137.0
Name: water_consumption, dtype: float64
323    137.0
324    137.0
325    137.0
326    137.0
327    137.0
328    137.0
Name: water_consumption, dtype: float64
71.53
323    71.53
324    72.00
325    71.53
326    71.53
327    72.00
Name: neighborhood_school_attendance, dtype: float64
323    71.53
324    72.00
325    71.53
326    71.53
327    72.00
328    70.59
Name: neighborhood_school_attendance, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: highschool_graduation_rate, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: highschool_graduation_rate, dtype: float64
55.555555555555564
323    55.555556
324    50.000000
325    55.555556
326    55.555556
327    50.000000
Name: proficiency_elementary_school, dtype: float64
323    55.555556
324    50.000000
325    55.555556
326    55.555556
327    50.000000
328    66.666667
Name: proficiency_elementary_school, dtype: float64
32.00333333333333
323    32.003333
324    33.300000
325    32.003333
326    32.003333
327    33.300000
Name: proficiency_middle_school, dtype: float64
323    32.003333
324    33.300000
325    32.003333
326    32.003333
327    33.300000
328    29.410000
Name: proficiency_middle_school, dtype: float64
nan
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
Name: proficiency_high_school, dtype: float64
323   -1.0
324   -1.0
325   -1.0
326   -1.0
327   -1.0
328   -1.0
Name: proficiency_high_school, dtype: float64
19.717948717948733

323    19.717949
324    19.000000
325    19.717949
326    19.717949
327    19.000000
Name: student_absenteeism, dtype: float64
323    19.717949
324    19.000000
325    19.717949
326    19.717949
327    19.000000
328    21.153846
Name: student_absenteeism, dtype: float64
45.833333333333336
323    79.0
324    12.0
325    79.0
326    79.0
327    12.0
Name: voters_participating, dtype: float64
323    79.0
324    12.0
325    79.0
326    79.0
327    12.0
328    14.0
Name: voters_participating, dtype: float64
0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
Name: neighborhood_organizations, dtype: float64
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
Name: neighborhood_organizations, dtype: float64
35.333333333333336
323    64.0
324     7.0
325    64.0
326    64.0
327     7.0
Name: voter_participation, dtype: float64
323    64.0
324     7.0
325    64.0
326    64.0
327     7.0
328     6.0
Name: voter_participation, dtype: float64
48.5
323    48.5
324    48.5
325    48.5
326    48.5
327    48.5
Name: vacant_land, dtype: float64
323    48.5
324    48.5
325    48.5
326    48.5
327    48.5
328    48.5
Name: vacant_land, dtype: float64
0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
Name: population_density, dtype: float64
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
Name: population_density, dtype: float64
673.3333333333334
323    703.0
324    618.0
325    703.0
326    703.0
327    618.0
Name: population, dtype: float64
323    703.0
324    618.0
325    703.0
326    703.0
327    618.0
328    695.0
Name: population, dtype: float64
20.0
323    20.0
324    20.0
325    20.0
326    20.0
327    20.0
Name: transit_ridership, dtype: float64
323    20.0
324    20.0
325    20.0
326    20.0
327    20.0
328    20.0
Name: transit_ridership, dtype: float64
1.1616666666666666
323    1.16
324    1.16
325    1.16
326    1.16
327    1.16
Name: street_connectivity, dtype: float64
323    1.16
324    1.16
325    1.16
326    1.16
327    1.16
328    1.17
Name: street_connectivity, dtype: float64
1.3
323    1.3
324    1.3
325    1.3
326    1.3
327    1.3
Name: bicycle_friendliness, dtype: float64
323    1.3
324    1.3
325    1.3
326    1.3
327    1.3
328    1.3
Name: bicycle_friendliness, dtype: float64
5.98
329     0.48
330    11.48
Name: Acres, dtype: float64
329     0.48
330    11.48
Name: Acres, dtype: float64
nan
329   -1.0
330   -1.0
Name: births_to_adolescents, dtype: float64
329   -1.0
330   -1.0
Name: births_to_adolescents, dtype: float64
0.0
329    0.0
330    0.0
Name: grocery_proximate_units, dtype: float64
329    0.0
330    0.0
Name: grocery_proximate_units, dtype: float64
nan
329   -1.0
330   -1.0
Name: prenatal_care, dtype: float64
329   -1.0
330   -1.0
Name: prenatal_care, dtype: float64
0.0
329    0.0
330    0.0
Name: grocery_proximity, dtype: float64
329    0.0
330    0.0
Name: grocery_proximity, dtype: float64
nan
329   -1.0
330   -1.0
Name: low_birthweight, dtype: float64
329   -1.0
330   -1.0
Name: low_birthweight, dtype: float64
nan
329   -1.0
330   -1.0
Name: public_health_insurance, dtype: float64
329   -1.0
330   -1.0
Name: public_health_insurance, dtype: float64
nan
329   -1.0
330   -1.0
Name: age_of_death, dtype: float64
329   -1.0
330   -1.0
Name: age_of_death, dtype: float64
14.7
329    14.7
330    14.7
Name: impervious_surface, dtype: float64
329    14.7
330    14.7
Name: impervious_surface, dtype: float64
113.0
329    113.0
330    113.0
Name: water_consumption, dtype: float64
329    113.0
330    113.0
Name: water_consumption, dtype: float64
nan
329   -1.0
330   -1.0
Name: neighborhood_school_attendance, dtype: float64
329   -1.0
330   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
329   -1.0
330   -1.0
Name: highschool_graduation_rate, dtype: float64
329   -1.0
330   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
329   -1.0
330   -1.0
Name: proficiency_elementary_school, dtype: float64
329   -1.0
330   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
329   -1.0
330   -1.0
Name: proficiency_middle_school, dtype: float64
329   -1.0
330   -1.0
Name: proficiency_middle_school, dtype: float64
nan
329   -1.0
330   -1.0
Name: proficiency_high_school, dtype: float64
329   -1.0
330   -1.0
Name: proficiency_high_school, dtype: float64
nan
329   -1.0
330   -1.0
Name: student_absenteeism, dtype: float64
329   -1.0
330   -1.0
Name: student_absenteeism, dtype: float64
333.0
329    333.0
330    333.0
Name: voters_participating, dtype: float64
329    333.0
330    333.0
Name: voters_participating, dtype: float64
nan
329   -1.0
330   -1.0
Name: neighborhood_organizations, dtype: float64
329   -1.0
330   -1.0
Name: neighborhood_organizations, dtype: float64
52.0
329    52.0
330    52.0
Name: voter_participation, dtype: float64
329    52.0
330    52.0
Name: voter_participation, dtype: float64
11.2
329    11.2
330    11.2
Name: vacant_land, dtype: float64
329    11.2
330    11.2
Name: vacant_land, dtype: float64
3.0
329    3.0
330    3.0
Name: population_density, dtype: float64
329    3.0
330    3.0
Name: population_density, dtype: float64
1268.0
329    1268.0
330    1268.0
Name: population, dtype: float64
329    1268.0
330    1268.0
Name: population, dtype: float64
nan
329   -1.0
330   -1.0
Name: transit_ridership, dtype: float64
329   -1.0
330   -1.0
Name: transit_ridership, dtype: float64
1.21
329    1.21
330    1.21
Name: street_connectivity, dtype: float64
329    1.21
330    1.21
Name: street_connectivity, dtype: float64
1.8
329    1.8
330    1.8
Name: bicycle_friendliness, dtype: float64
329    1.8
330    1.8
Name: bicycle_friendliness, dtype: float64
9.0
331    9.0
Name: Acres, dtype: float64
331    9.0
Name: Acres, dtype: float64
6.6
331    6.6
Name: births_to_adolescents, dtype: float64
331    6.6
Name: births_to_adolescents, dtype: float64
0.0
331    0.0
Name: grocery_proximate_units, dtype: float64
331    0.0
Name: grocery_proximate_units, dtype: float64
65.6
331    65.6
Name: prenatal_care, dtype: float64
331    65.6
Name: prenatal_care, dtype: float64
0.0
331    0.0
Name: grocery_proximity, dtype: float64
331    0.0
Name: grocery_proximity, dtype: float64
3.3
331    3.3
Name: low_birthweight, dtype: float64
331    3.3
Name: low_birthweight, dtype: float64
22.0
331    22.0
Name: public_health_insurance, dtype: float64
331    22.0
Name: public_health_insurance, dtype: float64
62.0
331    62.0
Name: age_of_death, dtype: float64
331    62.0
Name: age_of_death, dtype: float64
nan
331   -1.0
Name: impervious_surface, dtype: float64
331   -1.0
Name: impervious_surface, dtype: float64
161.0
331    161.0
Name: water_consumption, dtype: float64
331    161.0
Name: water_consumption, dtype: float64
71.01
331    71.01
Name: neighborhood_school_attendance, dtype: float64
331    71.01
Name: neighborhood_school_attendance, dtype: float64
88.0
331    88.0
Name: highschool_graduation_rate, dtype: float64
331    88.0
Name: highschool_graduation_rate, dtype: float64
35.22727272727273
331    35.227273
Name: proficiency_elementary_school, dtype: float64
331    35.227273
Name: proficiency_elementary_school, dtype: float64
32.97872340425532
331    32.978723
Name: proficiency_middle_school, dtype: float64
331    32.978723
Name: proficiency_middle_school, dtype: float64
44.444444444444436
331    44.444444
Name: proficiency_high_school, dtype: float64
331    44.444444
Name: proficiency_high_school, dtype: float64
13.856812933025402
331    13.856813
Name: student_absenteeism, dtype: float64
331    13.856813
Name: student_absenteeism, dtype: float64
527.0
331    527.0
Name: voters_participating, dtype: float64
331    527.0
Name: voters_participating, dtype: float64
1.0
331    1.0
Name: neighborhood_organizations, dtype: float64
331    1.0
Name: neighborhood_organizations, dtype: float64
52.0
331    52.0
Name: voter_participation, dtype: float64
331    52.0
Name: voter_participation, dtype: float64
nan
331   -1.0
Name: vacant_land, dtype: float64
331   -1.0
Name: vacant_land, dtype: float64
nan
331   -1.0
Name: population_density, dtype: float64
331   -1.0
Name: population_density, dtype: float64
nan
331   -1.0
Name: population, dtype: float64
331   -1.0
Name: population, dtype: float64
0.0
331    0.0
Name: transit_ridership, dtype: float64
331    0.0
Name: transit_ridership, dtype: float64
nan
331   -1.0
Name: street_connectivity, dtype: float64
331   -1.0
Name: street_connectivity, dtype: float64
nan
331   -1.0
Name: bicycle_friendliness, dtype: float64
331   -1.0
Name: bicycle_friendliness, dtype: float64
4.356
332    5.750
333    5.750
334    2.962
335    2.962
Name: Acres, dtype: float64
332    5.750
333    5.750
334    2.962
335    2.962
Name: Acres, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: births_to_adolescents, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: births_to_adolescents, dtype: float64
620.0
332    620.0
333    620.0
334    620.0
335    620.0
Name: grocery_proximate_units, dtype: float64
332    620.0
333    620.0
334    620.0
335    620.0
Name: grocery_proximate_units, dtype: float64

nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: prenatal_care, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: prenatal_care, dtype: float64
99.0
332    99.0
333    99.0
334    99.0
335    99.0
Name: grocery_proximity, dtype: float64
332    99.0
333    99.0
334    99.0
335    99.0
Name: grocery_proximity, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: low_birthweight, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: low_birthweight, dtype: float64
20.0
332    20.0
333    20.0
334    20.0
335    20.0
Name: public_health_insurance, dtype: float64
332    20.0
333    20.0
334    20.0
335    20.0
Name: public_health_insurance, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: age_of_death, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: age_of_death, dtype: float64
23.4
332    23.4
333    23.4
334    23.4
335    23.4
Name: impervious_surface, dtype: float64
332    23.4
333    23.4
334    23.4
335    23.4
Name: impervious_surface, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: water_consumption, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: water_consumption, dtype: float64
56.0
332    56.0
333    56.0
334    56.0
335    56.0
Name: neighborhood_school_attendance, dtype: float64
332    56.0
333    56.0
334    56.0
335    56.0
Name: neighborhood_school_attendance, dtype: float64
100.0
332    100.0
333    100.0
334    100.0
335    100.0
Name: highschool_graduation_rate, dtype: float64
332    100.0
333    100.0
334    100.0
335    100.0
Name: highschool_graduation_rate, dtype: float64
32.7
332    32.7
333    32.7
334    32.7
335    32.7
Name: proficiency_elementary_school, dtype: float64
332    32.7
333    32.7
334    32.7
335    32.7
Name: proficiency_elementary_school, dtype: float64
23.8
332    23.8
333    23.8
334    23.8
335    23.8
Name: proficiency_middle_school, dtype: float64
332    23.8
333    23.8
334    23.8
335    23.8
Name: proficiency_middle_school, dtype: float64
22.2
332    22.2
333    22.2
334    22.2
335    22.2
Name: proficiency_high_school, dtype: float64
332    22.2
333    22.2
334    22.2
335    22.2
Name: proficiency_high_school, dtype: float64
14.0
332    14.0
333    14.0
334    14.0
335    14.0
Name: student_absenteeism, dtype: float64
332    14.0
333    14.0
334    14.0
335    14.0
Name: student_absenteeism, dtype: float64
33.0
332    33.0
333    33.0
334    33.0
335    33.0
Name: voters_participating, dtype: float64
332    33.0
333    33.0
334    33.0
335    33.0
Name: voters_participating, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: neighborhood_organizations, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: neighborhood_organizations, dtype: float64
4.0
332    4.0
333    4.0
334    4.0
335    4.0
Name: voter_participation, dtype: float64
332    4.0
333    4.0
334    4.0
335    4.0
Name: voter_participation, dtype: float64
25.3
332    25.3
333    25.3
334    25.3
335    25.3
Name: vacant_land, dtype: float64
332    25.3
333    25.3
334    25.3
335    25.3
Name: vacant_land, dtype: float64
2.0
332    2.0
333    2.0
334    2.0
335    2.0
Name: population_density, dtype: float64
332    2.0
333    2.0
334    2.0
335    2.0
Name: population_density, dtype: float64
1376.0
332    1376.0
333    1376.0
334    1376.0
335    1376.0
Name: population, dtype: float64
332    1376.0
333    1376.0
334    1376.0
335    1376.0
Name: population, dtype: float64
nan
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: transit_ridership, dtype: float64
332   -1.0
333   -1.0
334   -1.0
335   -1.0
Name: transit_ridership, dtype: float64
1.23
332    1.23
333    1.23
334    1.23
335    1.23
Name: street_connectivity, dtype: float64
332    1.23
333    1.23
334    1.23
335    1.23
Name: street_connectivity, dtype: float64
1.3
332    1.3
333    1.3
334    1.3
335    1.3
Name: bicycle_friendliness, dtype: float64
332    1.3
333    1.3
334    1.3
335    1.3
Name: bicycle_friendliness, dtype: float64
9.75
336     8.11
337    10.54
338    10.60
Name: Acres, dtype: float64
336     8.11
337    10.54
338    10.60
Name: Acres, dtype: float64
8.3
336    8.3
337    8.3
338    8.3
Name: births_to_adolescents, dtype: float64
336    8.3
337    8.3
338    8.3
Name: births_to_adolescents, dtype: float64
124.0
336    124.0
337    124.0
338    124.0
Name: grocery_proximate_units, dtype: float64
336    124.0
337    124.0
338    124.0
Name: grocery_proximate_units, dtype: float64
36.1
336    36.1
337    36.1
338    36.1
Name: prenatal_care, dtype: float64
336    36.1
337    36.1
338    36.1
Name: prenatal_care, dtype: float64
33.0
336    33.0
337    33.0
338    33.0
Name: grocery_proximity, dtype: float64
336    33.0
337    33.0
338    33.0
Name: grocery_proximity, dtype: float64
11.1
336    11.1
337    11.1
338    11.1
Name: low_birthweight, dtype: float64
336    11.1
337    11.1
338    11.1
Name: low_birthweight, dtype: float64
nan
336   -1.0
337   -1.0
338   -1.0
Name: public_health_insurance, dtype: float64
336   -1.0
337   -1.0
338   -1.0
Name: public_health_insurance, dtype: float64
65.0
336    65.0
337    65.0
338    65.0
Name: age_of_death, dtype: float64
336    65.0
337    65.0
338    65.0
Name: age_of_death, dtype: float64
20.0
336    20.0
337    20.0
338    20.0
Name: impervious_surface, dtype: float64
336    20.0
337    20.0
338    20.0
Name: impervious_surface, dtype: float64
149.0
336    149.0
337    149.0
338    149.0
Name: water_consumption, dtype: float64
336    149.0
337    149.0
338    149.0
Name: water_consumption, dtype: float64
79.9
336    79.9
337    79.9
338    79.9
Name: neighborhood_school_attendance, dtype: float64
336    79.9
337    79.9
338    79.9
Name: neighborhood_school_attendance, dtype: float64
88.0
336    88.0
337    88.0
338    88.0
Name: highschool_graduation_rate, dtype: float64
336    88.0
337    88.0
338    88.0
Name: highschool_graduation_rate, dtype: float64
19.05
336    19.05
337    19.05
338    19.05
Name: proficiency_elementary_school, dtype: float64
336    19.05
337    19.05
338    19.05
Name: proficiency_elementary_school, dtype: float64
28.3
336    28.3
337    28.3
338    28.3
Name: proficiency_middle_school, dtype: float64
336    28.3
337    28.3
338    28.3
Name: proficiency_middle_school, dtype: float64
31.3
336    31.3
337    31.3
338    31.3
Name: proficiency_high_school, dtype: float64
336    31.3
337    31.3
338    31.3
Name: proficiency_high_school, dtype: float64
17.0
336    17.0
337    17.0
338    17.0
Name: student_absenteeism, dtype: float64
336    17.0
337    17.0
338    17.0
Name: student_absenteeism, dtype: float64
542.0
336    542.0
337    542.0
338    542.0
Name: voters_participating, dtype: float64
336    542.0
337    542.0
338    542.0
Name: voters_participating, dtype: float64
nan
336   -1.0
337   -1.0
338   -1.0
Name: neighborhood_organizations, dtype: float64
336   -1.0
337   -1.0
338   -1.0
Name: neighborhood_organizations, dtype: float64
75.0
336    75.0
337    75.0
338    75.0
Name: voter_participation, dtype: float64
336    75.0
337    75.0
338    75.0
Name: voter_participation, dtype: float64
16.9
336    16.9
337    16.9
338    16.9
Name: vacant_land, dtype: float64
336    16.9
337    16.9
338    16.9
Name: vacant_land, dtype: float64
2.0
336    2.0
337    2.0
338    2.0
Name: population_density, dtype: float64
336    2.0
337    2.0
338    2.0
Name: population_density, dtype: float64
1101.0
336    1101.0
337    1101.0
338    1101.0
Name: population, dtype: float64
336    1101.0
337    1101.0
338    1101.0
Name: population, dtype: float64
nan
336   -1.0
337   -1.0
338   -1.0
Name: transit_ridership, dtype: float64
336   -1.0
337   -1.0
338   -1.0
Name: transit_ridership, dtype: float64
1.27
336    1.27
337    1.27
338    1.27
Name: street_connectivity, dtype: float64
336    1.27
337    1.27
338    1.27
Name: street_connectivity, dtype: float64
1.5
336    1.5
337    1.5
338    1.5
Name: bicycle_friendliness, dtype: float64
336    1.5
337    1.5
338    1.5
Name: bicycle_friendliness, dtype: float64
15.16
339    15.16
340    15.16
Name: Acres, dtype: float64
339    15.16
340    15.16
Name: Acres, dtype: float64
nan
339   -1.0
340   -1.0
Name: births_to_adolescents, dtype: float64
339   -1.0
340   -1.0
Name: births_to_adolescents, dtype: float64
769.0
339    769.0
340    769.0
Name: grocery_proximate_units, dtype: float64
339    769.0
340    769.0
Name: grocery_proximate_units, dtype: float64
nan
339   -1.0
340   -1.0
Name: prenatal_care, dtype: float64
339   -1.0
340   -1.0
Name: prenatal_care, dtype: float64
43.0
339    43.0
340    43.0
Name: grocery_proximity, dtype: float64
339    43.0
340    43.0
Name: grocery_proximity, dtype: float64
nan
339   -1.0
340   -1.0
Name: low_birthweight, dtype: float64
339   -1.0
340   -1.0
Name: low_birthweight, dtype: float64
15.0
339    15.0
340    15.0
Name: public_health_insurance, dtype: float64
339    15.0
340    15.0
Name: public_health_insurance, dtype: float64
nan
339   -1.0
340   -1.0
Name: age_of_death, dtype: float64
339   -1.0
340   -1.0
Name: age_of_death, dtype: float64
22.7
339    22.7
340    22.7
Name: impervious_surface, dtype: float64
339    22.7
340    22.7
Name: impervious_surface, dtype: float64
nan
339   -1.0
340   -1.0
Name: water_consumption, dtype: float64
339   -1.0
340   -1.0
Name: water_consumption, dtype: float64
52.22
339    52.22
340    52.22
Name: neighborhood_school_attendance, dtype: float64
339    52.22
340    52.22
Name: neighborhood_school_attendance, dtype: float64
76.0
339    76.0
340    76.0
Name: highschool_graduation_rate, dtype: float64
339    76.0
340    76.0
Name: highschool_graduation_rate, dtype: float64
43.137254901960794
339    43.137255
340    43.137255
Name: proficiency_elementary_school, dtype: float64
339    43.137255
340    43.137255
Name: proficiency_elementary_school, dtype: float64
26.47
339    26.47
340    26.47

Name: proficiency_middle_school, dtype: float64
339    26.47
340    26.47
Name: proficiency_middle_school, dtype: float64
48.28
339    48.28
340    48.28
Name: proficiency_high_school, dtype: float64
339    48.28
340    48.28
Name: proficiency_high_school, dtype: float64
11.2334801762115
339    11.23348
340    11.23348
Name: student_absenteeism, dtype: float64
339    11.23348
340    11.23348
Name: student_absenteeism, dtype: float64
178.0
339    178.0
340    178.0
Name: voters_participating, dtype: float64
339    178.0
340    178.0
Name: voters_participating, dtype: float64
1.0
339    1.0
340    1.0
Name: neighborhood_organizations, dtype: float64
339    1.0
340    1.0
Name: neighborhood_organizations, dtype: float64
10.0
339    10.0
340    10.0
Name: voter_participation, dtype: float64
339    10.0
340    10.0
Name: voter_participation, dtype: float64
28.0
339    28.0
340    28.0
Name: vacant_land, dtype: float64
339    28.0
340    28.0
Name: vacant_land, dtype: float64
6.0
339    6.0
340    6.0
Name: population_density, dtype: float64
339    6.0
340    6.0
Name: population_density, dtype: float64
4272.0
339    4272.0
340    4272.0
Name: population, dtype: float64
339    4272.0
340    4272.0
Name: population, dtype: float64
100.0
339    100.0
340    100.0
Name: transit_ridership, dtype: float64
339    100.0
340    100.0
Name: transit_ridership, dtype: float64
1.17
339    1.17
340    1.17
Name: street_connectivity, dtype: float64
339    1.17
340    1.17
Name: street_connectivity, dtype: float64
1.3
339    1.3
340    1.3
Name: bicycle_friendliness, dtype: float64
339    1.3
340    1.3
Name: bicycle_friendliness, dtype: float64
108.86
341    108.86
Name: Acres, dtype: float64
341    108.86
Name: Acres, dtype: float64
nan
341   -1.0
Name: births_to_adolescents, dtype: float64
341   -1.0
Name: births_to_adolescents, dtype: float64
66.0
341    66.0
Name: grocery_proximate_units, dtype: float64
341    66.0
Name: grocery_proximate_units, dtype: float64
nan
341   -1.0
Name: prenatal_care, dtype: float64
341   -1.0
Name: prenatal_care, dtype: float64
4.0
341    4.0
Name: grocery_proximity, dtype: float64
341    4.0
Name: grocery_proximity, dtype: float64
nan
341   -1.0
Name: low_birthweight, dtype: float64
341   -1.0
Name: low_birthweight, dtype: float64
10.0
341    10.0
Name: public_health_insurance, dtype: float64
341    10.0
Name: public_health_insurance, dtype: float64
nan
341   -1.0
Name: age_of_death, dtype: float64
341   -1.0
Name: age_of_death, dtype: float64
16.2
341    16.2
Name: impervious_surface, dtype: float64
341    16.2
Name: impervious_surface, dtype: float64
nan
341   -1.0
Name: water_consumption, dtype: float64
341   -1.0
Name: water_consumption, dtype: float64
58.37
341    58.37
Name: neighborhood_school_attendance, dtype: float64
341    58.37
Name: neighborhood_school_attendance, dtype: float64
91.0
341    91.0
Name: highschool_graduation_rate, dtype: float64
341    91.0
Name: highschool_graduation_rate, dtype: float64
50.4132231404959
341    50.413223
Name: proficiency_elementary_school, dtype: float64
341    50.413223
Name: proficiency_elementary_school, dtype: float64
36.27
341    36.27
Name: proficiency_middle_school, dtype: float64
341    36.27
Name: proficiency_middle_school, dtype: float64
65.22
341    65.22
Name: proficiency_high_school, dtype: float64
341    65.22
Name: proficiency_high_school, dtype: float64
10.2908277404922
341    10.290828
Name: student_absenteeism, dtype: float64
341    10.290828
Name: student_absenteeism, dtype: float64
271.0
341    271.0
Name: voters_participating, dtype: float64
341    271.0
Name: voters_participating, dtype: float64
3.0
341    3.0
Name: neighborhood_organizations, dtype: float64
341    3.0
Name: neighborhood_organizations, dtype: float64
15.0
341    15.0
Name: voter_participation, dtype: float64
341    15.0
Name: voter_participation, dtype: float64
4.4
341    4.4
Name: vacant_land, dtype: float64
341    4.4
Name: vacant_land, dtype: float64
7.0
341    7.0
Name: population_density, dtype: float64
341    7.0
Name: population_density, dtype: float64
3794.0
341    3794.0
Name: population, dtype: float64
341    3794.0
Name: population, dtype: float64
67.0
341    67.0
Name: transit_ridership, dtype: float64
341    67.0
Name: transit_ridership, dtype: float64
1.08
341    1.08
Name: street_connectivity, dtype: float64
341    1.08
Name: street_connectivity, dtype: float64
1.3
341    1.3
Name: bicycle_friendliness, dtype: float64
341    1.3
Name: bicycle_friendliness, dtype: float64
14.076666666666668
342    13.99
343    13.99
344    14.25
Name: Acres, dtype: float64
342    13.99
343    13.99
344    14.25
Name: Acres, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: births_to_adolescents, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: births_to_adolescents, dtype: float64
9.0
342    9.0
343    9.0
344    9.0
Name: grocery_proximate_units, dtype: float64
342    9.0
343    9.0
344    9.0
Name: grocery_proximate_units, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: prenatal_care, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: prenatal_care, dtype: float64
1.0
342    1.0
343    1.0
344    1.0
Name: grocery_proximity, dtype: float64
342    1.0
343    1.0
344    1.0
Name: grocery_proximity, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: low_birthweight, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: low_birthweight, dtype: float64
20.0
342    20.0
343    20.0
344    20.0
Name: public_health_insurance, dtype: float64
342    20.0
343    20.0
344    20.0
Name: public_health_insurance, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: age_of_death, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: age_of_death, dtype: float64
4.9
342    4.9
343    4.9
344    4.9
Name: impervious_surface, dtype: float64
342    4.9
343    4.9
344    4.9
Name: impervious_surface, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: water_consumption, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: water_consumption, dtype: float64
68.0
342    68.0
343    68.0
344    68.0
Name: neighborhood_school_attendance, dtype: float64
342    68.0
343    68.0
344    68.0
Name: neighborhood_school_attendance, dtype: float64
100.0
342    100.0
343    100.0
344    100.0
Name: highschool_graduation_rate, dtype: float64
342    100.0
343    100.0
344    100.0
Name: highschool_graduation_rate, dtype: float64
43.2
342    43.2
343    43.2
344    43.2
Name: proficiency_elementary_school, dtype: float64
342    43.2
343    43.2
344    43.2
Name: proficiency_elementary_school, dtype: float64
35.3
342    35.3
343    35.3
344    35.3
Name: proficiency_middle_school, dtype: float64
342    35.3
343    35.3
344    35.3
Name: proficiency_middle_school, dtype: float64
28.2
342    28.2
343    28.2
344    28.2
Name: proficiency_high_school, dtype: float64
342    28.2
343    28.2
344    28.2
Name: proficiency_high_school, dtype: float64
11.0
342    11.0
343    11.0
344    11.0
Name: student_absenteeism, dtype: float64
342    11.0
343    11.0
344    11.0
Name: student_absenteeism, dtype: float64
335.0
342    335.0
343    335.0
344    335.0
Name: voters_participating, dtype: float64
342    335.0
343    335.0
344    335.0
Name: voters_participating, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: neighborhood_organizations, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: neighborhood_organizations, dtype: float64
17.0
342    17.0
343    17.0
344    17.0
Name: voter_participation, dtype: float64
342    17.0
343    17.0
344    17.0
Name: voter_participation, dtype: float64
29.0
342    29.0
343    29.0
344    29.0
Name: vacant_land, dtype: float64
342    29.0
343    29.0
344    29.0
Name: vacant_land, dtype: float64
2.0
342    2.0
343    2.0
344    2.0
Name: population_density, dtype: float64
342    2.0
343    2.0
344    2.0
Name: population_density, dtype: float64
2862.0
342    2862.0
343    2862.0
344    2862.0
Name: population, dtype: float64
342    2862.0
343    2862.0
344    2862.0
Name: population, dtype: float64
nan
342   -1.0
343   -1.0
344   -1.0
Name: transit_ridership, dtype: float64
342   -1.0
343   -1.0
344   -1.0
Name: transit_ridership, dtype: float64
1.08
342    1.08
343    1.08
344    1.08
Name: street_connectivity, dtype: float64
342    1.08
343    1.08
344    1.08
Name: street_connectivity, dtype: float64
1.1
342    1.1
343    1.1
344    1.1
Name: bicycle_friendliness, dtype: float64
342    1.1
343    1.1
344    1.1
Name: bicycle_friendliness, dtype: float64
90.45
345    90.45
346    90.45
347    90.45
Name: Acres, dtype: float64
345    90.45
346    90.45
347    90.45
Name: Acres, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: births_to_adolescents, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: births_to_adolescents, dtype: float64
260.0
345    260.0
346    260.0
347    260.0
Name: grocery_proximate_units, dtype: float64
345    260.0
346    260.0
347    260.0
Name: grocery_proximate_units, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: prenatal_care, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: prenatal_care, dtype: float64
35.0
345    35.0
346    35.0
347    35.0
Name: grocery_proximity, dtype: float64
345    35.0
346    35.0
347    35.0
Name: grocery_proximity, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: low_birthweight, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: low_birthweight, dtype: float64
32.0
345    32.0
346    32.0
347    32.0
Name: public_health_insurance, dtype: float64
345    32.0
346    32.0
347    32.0
Name: public_health_insurance, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: age_of_death, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: age_of_death, dtype: float64
20.9
345    20.9
346    20.9
347    20.9
Name: impervious_surface, dtype: float64
345    20.9
346    20.9
347    20.9
Name: impervious_surface, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: water_consumption, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: water_consumption, dtype: float64
73.0
345    73.0
346    73.0
347    73.0
Name: neighborhood_school_attendance, dtype: float64
345    73.0
346    73.0
347    73.0
Name: neighborhood_school_attendance, dtype: float64
81.0
345    81.0
346    81.0
347    81.0
Name: highschool_graduation_rate, dtype: float64
345    81.0
346    81.0
347    81.0
Name: highschool_graduation_rate, dtype: float64
28.100000000000005
345    28.1
346    28.1
347    28.1
Name: proficiency_elementary_school, dtype: float64
345    28.1
346    28.1
347    28.1
Name: proficiency_elementary_school, dtype: float64
24.0
345    24.0
346    24.0
347    24.0
Name: proficiency_middle_school, dtype: float64
345    24.0
346    24.0
347    24.0
Name: proficiency_middle_school, dtype: float64
39.1
345    39.1
346    39.1
347    39.1
Name: proficiency_high_school, dtype: float64
345    39.1
346    39.1
347    39.1
Name: proficiency_high_school, dtype: float64
19.0
345    19.0
346    19.0
347    19.0
Name: student_absenteeism, dtype: float64
345    19.0
346    19.0
347    19.0
Name: student_absenteeism, dtype: float64
265.0
345    265.0
346    265.0
347    265.0
Name: voters_participating, dtype: float64
345    265.0
346    265.0
347    265.0
Name: voters_participating, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0

Name: neighborhood_organizations, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: neighborhood_organizations, dtype: float64
21.0
345    21.0
346    21.0
347    21.0
Name: voter_participation, dtype: float64
345    21.0
346    21.0
347    21.0
Name: voter_participation, dtype: float64
2.7999999999999994
345    2.8
346    2.8
347    2.8
Name: vacant_land, dtype: float64
345    2.8
346    2.8
347    2.8
Name: vacant_land, dtype: float64
2.0
345    2.0
346    2.0
347    2.0
Name: population_density, dtype: float64
345    2.0
346    2.0
347    2.0
Name: population_density, dtype: float64
1748.0
345    1748.0
346    1748.0
347    1748.0
Name: population, dtype: float64
345    1748.0
346    1748.0
347    1748.0
Name: population, dtype: float64
nan
345   -1.0
346   -1.0
347   -1.0
Name: transit_ridership, dtype: float64
345   -1.0
346   -1.0
347   -1.0
Name: transit_ridership, dtype: float64
1.05
345    1.05
346    1.05
347    1.05
Name: street_connectivity, dtype: float64
345    1.05
346    1.05
347    1.05
Name: street_connectivity, dtype: float64
1.3
345    1.3
346    1.3
347    1.3
Name: bicycle_friendliness, dtype: float64
345    1.3
346    1.3
347    1.3
Name: bicycle_friendliness, dtype: float64
15.43
348    15.43
Name: Acres, dtype: float64
348    15.43
Name: Acres, dtype: float64
nan
348   -1.0
Name: births_to_adolescents, dtype: float64
348   -1.0
Name: births_to_adolescents, dtype: float64
0.0
348    0.0
Name: grocery_proximate_units, dtype: float64
348    0.0
Name: grocery_proximate_units, dtype: float64
nan
348   -1.0
Name: prenatal_care, dtype: float64
348   -1.0
Name: prenatal_care, dtype: float64
0.0
348    0.0
Name: grocery_proximity, dtype: float64
348    0.0
Name: grocery_proximity, dtype: float64
nan
348   -1.0
Name: low_birthweight, dtype: float64
348   -1.0
Name: low_birthweight, dtype: float64
40.0
348    40.0
Name: public_health_insurance, dtype: float64
348    40.0
Name: public_health_insurance, dtype: float64
nan
348   -1.0
Name: age_of_death, dtype: float64
348   -1.0
Name: age_of_death, dtype: float64
19.2
348    19.2
Name: impervious_surface, dtype: float64
348    19.2
Name: impervious_surface, dtype: float64
nan
348   -1.0
Name: water_consumption, dtype: float64
348   -1.0
Name: water_consumption, dtype: float64
76.89
348    76.89
Name: neighborhood_school_attendance, dtype: float64
348    76.89
Name: neighborhood_school_attendance, dtype: float64
85.0
348    85.0
Name: highschool_graduation_rate, dtype: float64
348    85.0
Name: highschool_graduation_rate, dtype: float64
26.923076923076895
348    26.923077
Name: proficiency_elementary_school, dtype: float64
348    26.923077
Name: proficiency_elementary_school, dtype: float64
14.81
348    14.81
Name: proficiency_middle_school, dtype: float64
348    14.81
Name: proficiency_middle_school, dtype: float64
46.67
348    46.67
Name: proficiency_high_school, dtype: float64
348    46.67
Name: proficiency_high_school, dtype: float64
10.5263157894737
348    10.526316
Name: student_absenteeism, dtype: float64
348    10.526316
Name: student_absenteeism, dtype: float64
37.0
348    37.0
Name: voters_participating, dtype: float64
348    37.0
Name: voters_participating, dtype: float64
0.0
348    0.0
Name: neighborhood_organizations, dtype: float64
348    0.0
Name: neighborhood_organizations, dtype: float64
8.0
348    8.0
Name: voter_participation, dtype: float64
348    8.0
Name: voter_participation, dtype: float64
19.4
348    19.4
Name: vacant_land, dtype: float64
348    19.4
Name: vacant_land, dtype: float64
12.0
348    12.0
Name: population_density, dtype: float64
348    12.0
Name: population_density, dtype: float64
1567.0
348    1567.0
Name: population, dtype: float64
348    1567.0
Name: population, dtype: float64
729.0
348    729.0
Name: transit_ridership, dtype: float64
348    729.0
Name: transit_ridership, dtype: float64
1.08
348    1.08
Name: street_connectivity, dtype: float64
348    1.08
Name: street_connectivity, dtype: float64
1.5
348    1.5
Name: bicycle_friendliness, dtype: float64
348    1.5
Name: bicycle_friendliness, dtype: float64
7.37
349    7.37
Name: Acres, dtype: float64
349    7.37
Name: Acres, dtype: float64
nan
349   -1.0
Name: births_to_adolescents, dtype: float64
349   -1.0
Name: births_to_adolescents, dtype: float64
392.0
349    392.0
Name: grocery_proximate_units, dtype: float64
349    392.0
Name: grocery_proximate_units, dtype: float64
nan
349   -1.0
Name: prenatal_care, dtype: float64
349   -1.0
Name: prenatal_care, dtype: float64
40.0
349    40.0
Name: grocery_proximity, dtype: float64
349    40.0
Name: grocery_proximity, dtype: float64
nan
349   -1.0
Name: low_birthweight, dtype: float64
349   -1.0
Name: low_birthweight, dtype: float64
nan
349   -1.0
Name: public_health_insurance, dtype: float64
349   -1.0
Name: public_health_insurance, dtype: float64
nan
349   -1.0
Name: age_of_death, dtype: float64
349   -1.0
Name: age_of_death, dtype: float64
10.5
349    10.5
Name: impervious_surface, dtype: float64
349    10.5
Name: impervious_surface, dtype: float64
206.0
349    206.0
Name: water_consumption, dtype: float64
349    206.0
Name: water_consumption, dtype: float64
nan
349   -1.0
Name: neighborhood_school_attendance, dtype: float64
349   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
349   -1.0
Name: highschool_graduation_rate, dtype: float64
349   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
349   -1.0
Name: proficiency_elementary_school, dtype: float64
349   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
349   -1.0
Name: proficiency_middle_school, dtype: float64
349   -1.0
Name: proficiency_middle_school, dtype: float64
nan
349   -1.0
Name: proficiency_high_school, dtype: float64
349   -1.0
Name: proficiency_high_school, dtype: float64
nan
349   -1.0
Name: student_absenteeism, dtype: float64
349   -1.0
Name: student_absenteeism, dtype: float64
377.0
349    377.0
Name: voters_participating, dtype: float64
349    377.0
Name: voters_participating, dtype: float64
nan
349   -1.0
Name: neighborhood_organizations, dtype: float64
349   -1.0
Name: neighborhood_organizations, dtype: float64
67.0
349    67.0
Name: voter_participation, dtype: float64
349    67.0
Name: voter_participation, dtype: float64
16.4
349    16.4
Name: vacant_land, dtype: float64
349    16.4
Name: vacant_land, dtype: float64
2.0
349    2.0
Name: population_density, dtype: float64
349    2.0
Name: population_density, dtype: float64
2676.0
349    2676.0
Name: population, dtype: float64
349    2676.0
Name: population, dtype: float64
nan
349   -1.0
Name: transit_ridership, dtype: float64
349   -1.0
Name: transit_ridership, dtype: float64
1.12
349    1.12
Name: street_connectivity, dtype: float64
349    1.12
Name: street_connectivity, dtype: float64
1.2
349    1.2
Name: bicycle_friendliness, dtype: float64
349    1.2
Name: bicycle_friendliness, dtype: float64
87.66975000000001
350    125.130
351    125.130
352    125.130
353    125.130
354      8.557
Name: Acres, dtype: float64
350    125.130
351    125.130
352    125.130
353    125.130
354      8.557
355      5.500
356    125.130
357     33.160
358    125.130
359    125.130
360    125.130
361      3.780
Name: Acres, dtype: float64
0.0
350    0.0
351    0.0
352    0.0
353    0.0
354    0.0
Name: births_to_adolescents, dtype: float64
350    0.0
351    0.0
352    0.0
353    0.0
354    0.0
355    0.0
356    0.0
357    0.0
358    0.0
359    0.0
360    0.0
361    0.0
Name: births_to_adolescents, dtype: float64
250.54545454545453
350    251.0
351    251.0
352    251.0
353    251.0
354    251.0
Name: grocery_proximate_units, dtype: float64
350    251.000000
351    251.000000
352    251.000000
353    251.000000
354    251.000000
355    246.000000
356    251.000000
357    250.545455
358    251.000000
359    251.000000
360    251.000000
361    251.000000
Name: grocery_proximate_units, dtype: float64
66.7
350    66.7
351    66.7
352    66.7
353    66.7
354    66.7
Name: prenatal_care, dtype: float64
350    66.7
351    66.7
352    66.7
353    66.7
354    66.7
355    66.7
356    66.7
357    66.7
358    66.7
359    66.7
360    66.7
361    66.7
Name: prenatal_care, dtype: float64
32.72727272727273
350    33.0
351    33.0
352    33.0
353    33.0
354    32.0
Name: grocery_proximity, dtype: float64
350    33.000000
351    33.000000
352    33.000000
353    33.000000
354    32.000000
355    32.000000
356    33.000000
357    32.727273
358    33.000000
359    33.000000
360    33.000000
361    32.000000
Name: grocery_proximity, dtype: float64
25.5
350    25.5
351    25.5
352    25.5
353    25.5
354    25.5
Name: low_birthweight, dtype: float64
350    25.5
351    25.5
352    25.5
353    25.5
354    25.5
355    25.5
356    25.5
357    25.5
358    25.5
359    25.5
360    25.5
361    25.5
Name: low_birthweight, dtype: float64
8.0
350    8.0
351    8.0
352    8.0
353    8.0
354    8.0
Name: public_health_insurance, dtype: float64
350    8.0
351    8.0
352    8.0
353    8.0
354    8.0
355    8.0
356    8.0
357    8.0
358    8.0
359    8.0
360    8.0
361    8.0
Name: public_health_insurance, dtype: float64
68.0
350    68.0
351    68.0
352    68.0
353    68.0
354    68.0
Name: age_of_death, dtype: float64
350    68.0
351    68.0
352    68.0
353    68.0
354    68.0
355    68.0
356    68.0
357    68.0
358    68.0
359    68.0
360    68.0
361    68.0
Name: age_of_death, dtype: float64
5.672727272727273
350    5.6
351    5.6
352    5.6
353    5.6
354    5.7
Name: impervious_surface, dtype: float64
350    5.600000
351    5.600000
352    5.600000
353    5.600000
354    5.700000
355    6.200000
356    5.600000
357    5.672727
358    5.600000
359    5.600000
360    5.600000
361    5.700000
Name: impervious_surface, dtype: float64
133.33333333333334
350    133.000000
351    133.000000
352    133.000000
353    133.000000
354    133.333333
Name: water_consumption, dtype: float64
350    133.000000
351    133.000000
352    133.000000
353    133.000000
354    133.333333
355    136.000000
356    133.000000
357    133.333333
358    133.000000
359    133.000000
360    133.000000
361    133.333333
Name: water_consumption, dtype: float64
70.32
350    71.9
351    71.9
352    71.9
353    71.9
354    64.0
Name: neighborhood_school_attendance, dtype: float64
350    71.90
351    71.90
352    71.90
353    71.90
354    64.00
355    70.32
356    71.90
357    70.32
358    71.90
359    71.90
360    71.90
361    64.00
Name: neighborhood_school_attendance, dtype: float64
90.4
350     88.0
351     88.0
352     88.0
353     88.0
354    100.0
Name: highschool_graduation_rate, dtype: float64
350     88.0
351     88.0
352     88.0
353     88.0
354    100.0
355     90.4
356     88.0
357     90.4
358     88.0
359     88.0
360     88.0
361    100.0
Name: highschool_graduation_rate, dtype: float64
42.828
350    42.11
351    42.11
352    42.11
353    42.11
354    45.70
Name: proficiency_elementary_school, dtype: float64
350    42.110
351    42.110
352    42.110
353    42.110
354    45.700
355    42.828
356    42.110
357    42.828
358    42.110
359    42.110
360    42.110
361    45.700
Name: proficiency_elementary_school, dtype: float64
49.52000000000001
350    53.1
351    53.1
352    53.1
353    53.1
354    35.2
Name: proficiency_middle_school, dtype: float64
350    53.10
351    53.10
352    53.10
353    53.10
354    35.20
355    49.52
356    53.10
357    49.52
358    53.10
359    53.10
360    53.10
361    35.20
Name: proficiency_middle_school, dtype: float64

50.28
350    58.3
351    58.3
352    58.3
353    58.3
354    18.2
Name: proficiency_high_school, dtype: float64
350    58.30
351    58.30
352    58.30
353    58.30
354    18.20
355    50.28
356    58.30
357    50.28
358    58.30
359    58.30
360    58.30
361    18.20
Name: proficiency_high_school, dtype: float64
12.2
350    12.0
351    12.0
352    12.0
353    12.0
354    13.0
Name: student_absenteeism, dtype: float64
350    12.0
351    12.0
352    12.0
353    12.0
354    13.0
355    12.2
356    12.0
357    12.2
358    12.0
359    12.0
360    12.0
361    13.0
Name: student_absenteeism, dtype: float64
711.6363636363636
350    852.0
351    852.0
352    852.0
353    852.0
354    199.0
Name: voters_participating, dtype: float64
350    852.000000
351    852.000000
352    852.000000
353    852.000000
354    199.000000
355    614.000000
356    852.000000
357    711.636364
358    852.000000
359    852.000000
360    852.000000
361    199.000000
Name: voters_participating, dtype: float64
nan
350   -1.0
351   -1.0
352   -1.0
353   -1.0
354   -1.0
Name: neighborhood_organizations, dtype: float64
350   -1.0
351   -1.0
352   -1.0
353   -1.0
354   -1.0
355   -1.0
356   -1.0
357   -1.0
358   -1.0
359   -1.0
360   -1.0
361   -1.0
Name: neighborhood_organizations, dtype: float64
67.0
350    79.0
351    79.0
352    79.0
353    79.0
354    18.0
Name: voter_participation, dtype: float64
350    79.0
351    79.0
352    79.0
353    79.0
354    18.0
355    69.0
356    79.0
357    67.0
358    79.0
359    79.0
360    79.0
361    18.0
Name: voter_participation, dtype: float64
20.099999999999998
350    20.1
351    20.1
352    20.1
353    20.1
354    20.1
Name: vacant_land, dtype: float64
350    20.1
351    20.1
352    20.1
353    20.1
354    20.1
355    20.1
356    20.1
357    20.1
358    20.1
359    20.1
360    20.1
361    20.1
Name: vacant_land, dtype: float64
1.0
350    1.0
351    1.0
352    1.0
353    1.0
354    1.0
Name: population_density, dtype: float64
350    1.0
351    1.0
352    1.0
353    1.0
354    1.0
355    1.0
356    1.0
357    1.0
358    1.0
359    1.0
360    1.0
361    1.0
Name: population_density, dtype: float64
1859.3636363636363
350    1856.0
351    1856.0
352    1856.0
353    1856.0
354    1870.0
Name: population, dtype: float64
350    1856.000000
351    1856.000000
352    1856.000000
353    1856.000000
354    1870.000000
355    1865.000000
356    1856.000000
357    1859.363636
358    1856.000000
359    1856.000000
360    1856.000000
361    1870.000000
Name: population, dtype: float64
nan
350   -1.0
351   -1.0
352   -1.0
353   -1.0
354   -1.0
Name: transit_ridership, dtype: float64
350   -1.0
351   -1.0
352   -1.0
353   -1.0
354   -1.0
355   -1.0
356   -1.0
357   -1.0
358   -1.0
359   -1.0
360   -1.0
361   -1.0
Name: transit_ridership, dtype: float64
1.0845454545454547
350    1.08
351    1.08
352    1.08
353    1.08
354    1.08
Name: street_connectivity, dtype: float64
350    1.080000
351    1.080000
352    1.080000
353    1.080000
354    1.080000
355    1.130000
356    1.080000
357    1.084545
358    1.080000
359    1.080000
360    1.080000
361    1.080000
Name: street_connectivity, dtype: float64
1.1818181818181817
350    1.2
351    1.2
352    1.2
353    1.2
354    1.1
Name: bicycle_friendliness, dtype: float64
350    1.200000
351    1.200000
352    1.200000
353    1.200000
354    1.100000
355    1.200000
356    1.200000
357    1.181818
358    1.200000
359    1.200000
360    1.200000
361    1.100000
Name: bicycle_friendliness, dtype: float64
16.62
362    23.70
363    15.88
364     3.20
365    23.70
Name: Acres, dtype: float64
362    23.70
363    15.88
364     3.20
365    23.70
Name: Acres, dtype: float64
0.0
362    0.0
363    0.0
364    0.0
365    0.0
Name: births_to_adolescents, dtype: float64
362    0.0
363    0.0
364    0.0
365    0.0
Name: births_to_adolescents, dtype: float64
0.0
362    0.0
363    0.0
364    0.0
365    0.0
Name: grocery_proximate_units, dtype: float64
362    0.0
363    0.0
364    0.0
365    0.0
Name: grocery_proximate_units, dtype: float64
62.29999999999999
362    62.3
363    62.3
364    62.3
365    62.3
Name: prenatal_care, dtype: float64
362    62.3
363    62.3
364    62.3
365    62.3
Name: prenatal_care, dtype: float64
0.0
362    0.0
363    0.0
364    0.0
365    0.0
Name: grocery_proximity, dtype: float64
362    0.0
363    0.0
364    0.0
365    0.0
Name: grocery_proximity, dtype: float64
9.4
362    9.4
363    9.4
364    9.4
365    9.4
Name: low_birthweight, dtype: float64
362    9.4
363    9.4
364    9.4
365    9.4
Name: low_birthweight, dtype: float64
16.0
362    16.0
363    16.0
364    16.0
365    16.0
Name: public_health_insurance, dtype: float64
362    16.0
363    16.0
364    16.0
365    16.0
Name: public_health_insurance, dtype: float64
63.0
362    63.0
363    63.0
364    63.0
365    63.0
Name: age_of_death, dtype: float64
362    63.0
363    63.0
364    63.0
365    63.0
Name: age_of_death, dtype: float64
14.35
362    14.6
363    13.6
364    14.6
365    14.6
Name: impervious_surface, dtype: float64
362    14.6
363    13.6
364    14.6
365    14.6
Name: impervious_surface, dtype: float64
170.0
362    170.0
363    170.0
364    170.0
365    170.0
Name: water_consumption, dtype: float64
362    170.0
363    170.0
364    170.0
365    170.0
Name: water_consumption, dtype: float64
52.7225
362    52.80
363    52.49
364    52.80
365    52.80
Name: neighborhood_school_attendance, dtype: float64
362    52.80
363    52.49
364    52.80
365    52.80
Name: neighborhood_school_attendance, dtype: float64
87.0
362    87.0
363    87.0
364    87.0
365    87.0
Name: highschool_graduation_rate, dtype: float64
362    87.0
363    87.0
364    87.0
365    87.0
Name: highschool_graduation_rate, dtype: float64
44.729537037037026
362    43.590000
363    48.148148
364    43.590000
365    43.590000
Name: proficiency_elementary_school, dtype: float64
362    43.590000
363    48.148148
364    43.590000
365    43.590000
Name: proficiency_elementary_school, dtype: float64
41.51
362    41.60
363    41.24
364    41.60
365    41.60
Name: proficiency_middle_school, dtype: float64
362    41.60
363    41.24
364    41.60
365    41.60
Name: proficiency_middle_school, dtype: float64
46.449999999999996
362    48.6
363    40.0
364    48.6
365    48.6
Name: proficiency_high_school, dtype: float64
362    48.6
363    40.0
364    48.6
365    48.6
Name: proficiency_high_school, dtype: float64
5.53117048346056
362    5.000000
363    7.124682
364    5.000000
365    5.000000
Name: student_absenteeism, dtype: float64
362    5.000000
363    7.124682
364    5.000000
365    5.000000
Name: student_absenteeism, dtype: float64
1032.5
362    1320.0
363     170.0
364    1320.0
365    1320.0
Name: voters_participating, dtype: float64
362    1320.0
363     170.0
364    1320.0
365    1320.0
Name: voters_participating, dtype: float64
0.0
362    0.0
363    0.0
364    0.0
365    0.0
Name: neighborhood_organizations, dtype: float64
362    0.0
363    0.0
364    0.0
365    0.0
Name: neighborhood_organizations, dtype: float64
57.75
362    73.0
363    12.0
364    73.0
365    73.0
Name: voter_participation, dtype: float64
362    73.0
363    12.0
364    73.0
365    73.0
Name: voter_participation, dtype: float64
37.800000000000004
362    37.9
363    37.5
364    37.9
365    37.9
Name: vacant_land, dtype: float64
362    37.9
363    37.5
364    37.9
365    37.9
Name: vacant_land, dtype: float64
4.0
362    4.0
363    4.0
364    4.0
365    4.0
Name: population_density, dtype: float64
362    4.0
363    4.0
364    4.0
365    4.0
Name: population_density, dtype: float64
3050.0
362    3002.0
363    3194.0
364    3002.0
365    3002.0
Name: population, dtype: float64
362    3002.0
363    3194.0
364    3002.0
365    3002.0
Name: population, dtype: float64
28.0
362    28.0
363    28.0
364    28.0
365    28.0
Name: transit_ridership, dtype: float64
362    28.0
363    28.0
364    28.0
365    28.0
Name: transit_ridership, dtype: float64
1.19
362    1.19
363    1.19
364    1.19
365    1.19
Name: street_connectivity, dtype: float64
362    1.19
363    1.19
364    1.19
365    1.19
Name: street_connectivity, dtype: float64
1.3
362    1.3
363    1.3
364    1.3
365    1.3
Name: bicycle_friendliness, dtype: float64
362    1.3
363    1.3
364    1.3
365    1.3
Name: bicycle_friendliness, dtype: float64
33.4848
366    33.4848
367    33.4848
368    33.4848
369    33.4848
Name: Acres, dtype: float64
366    33.4848
367    33.4848
368    33.4848
369    33.4848
Name: Acres, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: births_to_adolescents, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: births_to_adolescents, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: grocery_proximate_units, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: grocery_proximate_units, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: prenatal_care, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: prenatal_care, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: grocery_proximity, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: grocery_proximity, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: low_birthweight, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: low_birthweight, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: public_health_insurance, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: public_health_insurance, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: age_of_death, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: age_of_death, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: impervious_surface, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: impervious_surface, dtype: float64
nan

366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: water_consumption, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: water_consumption, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: neighborhood_school_attendance, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: highschool_graduation_rate, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_elementary_school, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_middle_school, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_middle_school, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_high_school, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: proficiency_high_school, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: student_absenteeism, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: student_absenteeism, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: voters_participating, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: voters_participating, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: neighborhood_organizations, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: neighborhood_organizations, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: voter_participation, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: voter_participation, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: vacant_land, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: vacant_land, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: population_density, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: population_density, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: population, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: population, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: transit_ridership, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: transit_ridership, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: street_connectivity, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: street_connectivity, dtype: float64
nan
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: bicycle_friendliness, dtype: float64
366   -1.0
367   -1.0
368   -1.0
369   -1.0
Name: bicycle_friendliness, dtype: float64
0.85
370    0.85
Name: Acres, dtype: float64
370    0.85
Name: Acres, dtype: float64
nan
370   -1.0
Name: births_to_adolescents, dtype: float64
370   -1.0
Name: births_to_adolescents, dtype: float64
nan
370   -1.0
Name: grocery_proximate_units, dtype: float64
370   -1.0
Name: grocery_proximate_units, dtype: float64
nan
370   -1.0
Name: prenatal_care, dtype: float64
370   -1.0
Name: prenatal_care, dtype: float64
nan
370   -1.0
Name: grocery_proximity, dtype: float64
370   -1.0
Name: grocery_proximity, dtype: float64
nan
370   -1.0
Name: low_birthweight, dtype: float64
370   -1.0
Name: low_birthweight, dtype: float64
nan
370   -1.0
Name: public_health_insurance, dtype: float64
370   -1.0
Name: public_health_insurance, dtype: float64
nan
370   -1.0
Name: age_of_death, dtype: float64
370   -1.0
Name: age_of_death, dtype: float64
nan
370   -1.0
Name: impervious_surface, dtype: float64
370   -1.0
Name: impervious_surface, dtype: float64
nan
370   -1.0
Name: water_consumption, dtype: float64
370   -1.0
Name: water_consumption, dtype: float64
nan
370   -1.0
Name: neighborhood_school_attendance, dtype: float64
370   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
370   -1.0
Name: highschool_graduation_rate, dtype: float64
370   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
370   -1.0
Name: proficiency_elementary_school, dtype: float64
370   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
370   -1.0
Name: proficiency_middle_school, dtype: float64
370   -1.0
Name: proficiency_middle_school, dtype: float64
nan
370   -1.0
Name: proficiency_high_school, dtype: float64
370   -1.0
Name: proficiency_high_school, dtype: float64
nan
370   -1.0
Name: student_absenteeism, dtype: float64
370   -1.0
Name: student_absenteeism, dtype: float64
nan
370   -1.0
Name: voters_participating, dtype: float64
370   -1.0
Name: voters_participating, dtype: float64
nan
370   -1.0
Name: neighborhood_organizations, dtype: float64
370   -1.0
Name: neighborhood_organizations, dtype: float64
nan
370   -1.0
Name: voter_participation, dtype: float64
370   -1.0
Name: voter_participation, dtype: float64
nan
370   -1.0
Name: vacant_land, dtype: float64
370   -1.0
Name: vacant_land, dtype: float64
nan
370   -1.0
Name: population_density, dtype: float64
370   -1.0
Name: population_density, dtype: float64
nan
370   -1.0
Name: population, dtype: float64
370   -1.0
Name: population, dtype: float64
nan
370   -1.0
Name: transit_ridership, dtype: float64
370   -1.0
Name: transit_ridership, dtype: float64
nan
370   -1.0
Name: street_connectivity, dtype: float64
370   -1.0
Name: street_connectivity, dtype: float64
nan
370   -1.0
Name: bicycle_friendliness, dtype: float64
370   -1.0
Name: bicycle_friendliness, dtype: float64
1719.6488086253369
371    1772.0
372    1772.0
373    1772.0
374    1772.0
375    1772.0
Name: Acres, dtype: float64
371    1772.0
372    1772.0
373    1772.0
374    1772.0
375    1772.0
        ...
737    1772.0
738    1772.0
739      12.0
740    1772.0
741    1772.0
Name: Acres, Length: 371, dtype: float64
nan
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
Name: births_to_adolescents, dtype: float64
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
      ...
737   -1.0
738   -1.0
739   -1.0
740   -1.0
741   -1.0
Name: births_to_adolescents, Length: 371, dtype: float64
975.7777777777778
371    975.777778
372    975.777778
373    975.777778
374    975.777778
375    975.777778
Name: grocery_proximate_units, dtype: float64
371     975.777778
372     975.777778
373     975.777778
374     975.777778
375     975.777778
          ...
737     975.777778
738     975.777778
739    1017.000000
740     975.777778
741     975.777778
Name: grocery_proximate_units, Length: 371, dtype: float64
nan
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
Name: prenatal_care, dtype: float64
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
      ...
737   -1.0
738   -1.0
739   -1.0
740   -1.0
741   -1.0
Name: prenatal_care, Length: 371, dtype: float64
73.0
371    73.0
372    73.0
373    73.0
374    73.0
375    73.0
Name: grocery_proximity, dtype: float64
371    73.0
372    73.0
373    73.0
374    73.0
375    73.0
       ...
737    73.0
738    73.0
739    74.0
740    73.0
741    73.0
Name: grocery_proximity, Length: 371, dtype: float64
nan
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
Name: low_birthweight, dtype: float64
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
      ...
737   -1.0
738   -1.0
739   -1.0
740   -1.0
741   -1.0
Name: low_birthweight, Length: 371, dtype: float64
23.666666666666668
371    23.666667
372    23.666667
373    23.666667
374    23.666667
375    23.666667
Name: public_health_insurance, dtype: float64
371    23.666667
372    23.666667
373    23.666667
374    23.666667
375    23.666667
         ...
737    23.666667
738    23.666667
739    23.666667
740    23.666667
741    23.666667
Name: public_health_insurance, Length: 371, dtype: float64
nan
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
Name: age_of_death, dtype: float64
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
      ...
737   -1.0
738   -1.0
739   -1.0
740   -1.0
741   -1.0
Name: age_of_death, Length: 371, dtype: float64
16.87777777777778
371    16.877778
372    16.877778
373    16.877778
374    16.877778
375    16.877778
Name: impervious_surface, dtype: float64
371    16.877778
372    16.877778
373    16.877778
374    16.877778
375    16.877778
         ...
737    16.877778
738    16.877778
739    17.000000
740    16.877778
741    16.877778
Name: impervious_surface, Length: 371, dtype: float64
122.0
371    122.0
372    122.0
373    122.0
374    122.0
375    122.0
Name: water_consumption, dtype: float64
371    122.0
372    122.0
373    122.0
374    122.0
375    122.0
       ...
737    122.0
738    122.0
739    122.0
740    122.0
741    122.0
Name: water_consumption, Length: 371, dtype: float64
76.22666666666667
371    76.226667
372    76.226667
373    76.226667
374    76.226667
375    76.226667
Name: neighborhood_school_attendance, dtype: float64
371    76.226667
372    76.226667
373    76.226667
374    76.226667
375    76.226667
         ...
737    76.226667
738    76.226667
739    76.226667
740    76.226667
741    76.226667
Name: neighborhood_school_attendance, Length: 371, dtype: float64
84.33333333333333
371    84.333333
372    84.333333
373    84.333333
374    84.333333
375    84.333333
Name: highschool_graduation_rate, dtype: float64
371    84.333333
372    84.333333
373    84.333333
374    84.333333
375    84.333333
         ...
737    84.333333
738    84.333333
739    84.333333
740    84.333333
741    84.333333
Name: highschool_graduation_rate, Length: 371, dtype: float64

32.39617834394903
371    32.396178
372    32.396178
373    32.396178
374    32.396178
375    32.396178
Name: proficiency_elementary_school, dtype: float64
371    32.396178
372    32.396178
373    32.396178
374    32.396178
375    32.396178
         ...
737    32.396178
738    32.396178
739    32.396178
740    32.396178
741    32.396178
Name: proficiency_elementary_school, Length: 371, dtype: float64
26.266666666666666
371    26.266667
372    26.266667
373    26.266667
374    26.266667
375    26.266667
Name: proficiency_middle_school, dtype: float64
371    26.266667
372    26.266667
373    26.266667
374    26.266667
375    26.266667
         ...
737    26.266667
738    26.266667
739    26.266667
740    26.266667
741    26.266667
Name: proficiency_middle_school, Length: 371, dtype: float64
32.733333333333334
371    32.733333
372    32.733333
373    32.733333
374    32.733333
375    32.733333
Name: proficiency_high_school, dtype: float64
371    32.733333
372    32.733333
373    32.733333
374    32.733333
375    32.733333
         ...
737    32.733333
738    32.733333
739    32.733333
740    32.733333
741    32.733333
Name: proficiency_high_school, Length: 371, dtype: float64
14.512635379061367
371    14.512635
372    14.512635
373    14.512635
374    14.512635
375    14.512635
Name: student_absenteeism, dtype: float64
371    14.512635
372    14.512635
373    14.512635
374    14.512635
375    14.512635
         ...
737    14.512635
738    14.512635
739    14.512635
740    14.512635
741    14.512635
Name: student_absenteeism, Length: 371, dtype: float64
813.0
371    813.0
372    813.0
373    813.0
374    813.0
375    813.0
Name: voters_participating, dtype: float64
371     813.0
372     813.0
373     813.0
374     813.0
375     813.0
        ...
737     813.0
738     813.0
739    1025.0
740     813.0
741     813.0
Name: voters_participating, Length: 371, dtype: float64
nan
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
Name: neighborhood_organizations, dtype: float64
371   -1.0
372   -1.0
373   -1.0
374   -1.0
375   -1.0
      ...
737   -1.0
738   -1.0
739   -1.0
740   -1.0
741   -1.0
Name: neighborhood_organizations, Length: 371, dtype: float64
45.666666666666664
371    45.666667
372    45.666667
373    45.666667
374    45.666667
375    45.666667
Name: voter_participation, dtype: float64
371    45.666667
372    45.666667
373    45.666667
374    45.666667
375    45.666667
         ...
737    45.666667
738    45.666667
739    58.000000
740    45.666667
741    45.666667
Name: voter_participation, Length: 371, dtype: float64
25.300000000000004
371    25.3
372    25.3
373    25.3
374    25.3
375    25.3
Name: vacant_land, dtype: float64
371    25.3
372    25.3
373    25.3
374    25.3
375    25.3
       ...
737    25.3
738    25.3
739    25.3
740    25.3
741    25.3
Name: vacant_land, Length: 371, dtype: float64
1.0
371    1.0
372    1.0
373    1.0
374    1.0
375    1.0
Name: population_density, dtype: float64
371    1.0
372    1.0
373    1.0
374    1.0
375    1.0
      ...
737    1.0
738    1.0
739    1.0
740    1.0
741    1.0
Name: population_density, Length: 371, dtype: float64
4119.333333333333
371    4119.333333
372    4119.333333
373    4119.333333
374    4119.333333
375    4119.333333
Name: population, dtype: float64
371    4119.333333
372    4119.333333
373    4119.333333
374    4119.333333
375    4119.333333
          ...
737    4119.333333
738    4119.333333
739    4199.000000
740    4119.333333
741    4119.333333
Name: population, Length: 371, dtype: float64
782.0
371    782.0
372    782.0
373    782.0
374    782.0
375    782.0
Name: transit_ridership, dtype: float64
371    782.0
372    782.0
373    782.0
374    782.0
375    782.0
       ...
737    782.0
738    782.0
739    782.0
740    782.0
741    782.0
Name: transit_ridership, Length: 371, dtype: float64
1.2966666666666664
371    1.296667
372    1.296667
373    1.296667
374    1.296667
375    1.296667
Name: street_connectivity, dtype: float64
371    1.296667
372    1.296667
373    1.296667
374    1.296667
375    1.296667
         ...
737    1.296667
738    1.296667
739    1.300000
740    1.296667
741    1.296667
Name: street_connectivity, Length: 371, dtype: float64
1.366666666666667
371    1.366667
372    1.366667
373    1.366667
374    1.366667
375    1.366667
Name: bicycle_friendliness, dtype: float64
371    1.366667
372    1.366667
373    1.366667
374    1.366667
375    1.366667
         ...
737    1.366667
738    1.366667
739    1.400000
740    1.366667
741    1.366667
Name: bicycle_friendliness, Length: 371, dtype: float64
2.92
742    2.92
Name: Acres, dtype: float64
742    2.92
Name: Acres, dtype: float64
1.5
742    1.5
Name: births_to_adolescents, dtype: float64
742    1.5
Name: births_to_adolescents, dtype: float64
318.0
742    318.0
Name: grocery_proximate_units, dtype: float64
742    318.0
Name: grocery_proximate_units, dtype: float64
60.9
742    60.9
Name: prenatal_care, dtype: float64
742    60.9
Name: prenatal_care, dtype: float64
23.0
742    23.0
Name: grocery_proximity, dtype: float64
742    23.0
Name: grocery_proximity, dtype: float64
14.5
742    14.5
Name: low_birthweight, dtype: float64
742    14.5
Name: low_birthweight, dtype: float64
20.0
742    20.0
Name: public_health_insurance, dtype: float64
742    20.0
Name: public_health_insurance, dtype: float64
57.0
742    57.0
Name: age_of_death, dtype: float64
742    57.0
Name: age_of_death, dtype: float64
nan
742   -1.0
Name: impervious_surface, dtype: float64
742   -1.0
Name: impervious_surface, dtype: float64
131.0
742    131.0
Name: water_consumption, dtype: float64
742    131.0
Name: water_consumption, dtype: float64
73.78
742    73.78
Name: neighborhood_school_attendance, dtype: float64
742    73.78
Name: neighborhood_school_attendance, dtype: float64
90.0
742    90.0
Name: highschool_graduation_rate, dtype: float64
742    90.0
Name: highschool_graduation_rate, dtype: float64
40.0
742    40.0
Name: proficiency_elementary_school, dtype: float64
742    40.0
Name: proficiency_elementary_school, dtype: float64
25.423728813559322
742    25.423729
Name: proficiency_middle_school, dtype: float64
742    25.423729
Name: proficiency_middle_school, dtype: float64
44.1860465116279
742    44.186047
Name: proficiency_high_school, dtype: float64
742    44.186047
Name: proficiency_high_school, dtype: float64
10.451612903225808
742    10.451613
Name: student_absenteeism, dtype: float64
742    10.451613
Name: student_absenteeism, dtype: float64
854.0
742    854.0
Name: voters_participating, dtype: float64
742    854.0
Name: voters_participating, dtype: float64
2.0
742    2.0
Name: neighborhood_organizations, dtype: float64
742    2.0
Name: neighborhood_organizations, dtype: float64
48.0
742    48.0
Name: voter_participation, dtype: float64
742    48.0
Name: voter_participation, dtype: float64
nan
742   -1.0
Name: vacant_land, dtype: float64
742   -1.0
Name: vacant_land, dtype: float64
nan
742   -1.0
Name: population_density, dtype: float64
742   -1.0
Name: population_density, dtype: float64
nan
742   -1.0
Name: population, dtype: float64
742   -1.0
Name: population, dtype: float64
nan
742   -1.0
Name: transit_ridership, dtype: float64
742   -1.0
Name: transit_ridership, dtype: float64
nan
742   -1.0
Name: street_connectivity, dtype: float64
742   -1.0
Name: street_connectivity, dtype: float64
nan
742   -1.0
Name: bicycle_friendliness, dtype: float64
742   -1.0
Name: bicycle_friendliness, dtype: float64
34.63
743    34.63
Name: Acres, dtype: float64
743    34.63
Name: Acres, dtype: float64
nan
743   -1.0
Name: births_to_adolescents, dtype: float64
743   -1.0
Name: births_to_adolescents, dtype: float64
127.0
743    127.0
Name: grocery_proximate_units, dtype: float64
743    127.0
Name: grocery_proximate_units, dtype: float64
nan
743   -1.0
Name: prenatal_care, dtype: float64
743   -1.0
Name: prenatal_care, dtype: float64
27.0
743    27.0
Name: grocery_proximity, dtype: float64
743    27.0
Name: grocery_proximity, dtype: float64
nan
743   -1.0
Name: low_birthweight, dtype: float64
743   -1.0
Name: low_birthweight, dtype: float64
nan
743   -1.0
Name: public_health_insurance, dtype: float64
743   -1.0
Name: public_health_insurance, dtype: float64
nan
743   -1.0
Name: age_of_death, dtype: float64
743   -1.0
Name: age_of_death, dtype: float64
9.7
743    9.7
Name: impervious_surface, dtype: float64
743    9.7
Name: impervious_surface, dtype: float64
143.0
743    143.0
Name: water_consumption, dtype: float64
743    143.0
Name: water_consumption, dtype: float64
nan
743   -1.0
Name: neighborhood_school_attendance, dtype: float64
743   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
743   -1.0
Name: highschool_graduation_rate, dtype: float64
743   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
743   -1.0
Name: proficiency_elementary_school, dtype: float64
743   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
743   -1.0
Name: proficiency_middle_school, dtype: float64
743   -1.0
Name: proficiency_middle_school, dtype: float64
nan
743   -1.0
Name: proficiency_high_school, dtype: float64
743   -1.0
Name: proficiency_high_school, dtype: float64
nan
743   -1.0
Name: student_absenteeism, dtype: float64
743   -1.0
Name: student_absenteeism, dtype: float64
401.0
743    401.0
Name: voters_participating, dtype: float64
743    401.0
Name: voters_participating, dtype: float64
nan
743   -1.0
Name: neighborhood_organizations, dtype: float64
743   -1.0
Name: neighborhood_organizations, dtype: float64
60.0
743    60.0
Name: voter_participation, dtype: float64
743    60.0
Name: voter_participation, dtype: float64
12.0
743    12.0
Name: vacant_land, dtype: float64
743    12.0
Name: vacant_land, dtype: float64
1.0
743    1.0
Name: population_density, dtype: float64
743    1.0
Name: population_density, dtype: float64
1360.0
743    1360.0
Name: population, dtype: float64
743    1360.0
Name: population, dtype: float64
nan
743   -1.0
Name: transit_ridership, dtype: float64
743   -1.0
Name: transit_ridership, dtype: float64
1.25

743    1.25
Name: street_connectivity, dtype: float64
743    1.25
Name: street_connectivity, dtype: float64
1.4
743    1.4
Name: bicycle_friendliness, dtype: float64
743    1.4
Name: bicycle_friendliness, dtype: float64
4.34
744    5.18
745    3.50
Name: Acres, dtype: float64
744    5.18
745    3.50
Name: Acres, dtype: float64
8.3
744    8.3
745    8.3
Name: births_to_adolescents, dtype: float64
744    8.3
745    8.3
Name: births_to_adolescents, dtype: float64
0.0
744    0.0
745    0.0
Name: grocery_proximate_units, dtype: float64
744    0.0
745    0.0
Name: grocery_proximate_units, dtype: float64
50.0
744    50.0
745    50.0
Name: prenatal_care, dtype: float64
744    50.0
745    50.0
Name: prenatal_care, dtype: float64
0.0
744    0.0
745    0.0
Name: grocery_proximity, dtype: float64
744    0.0
745    0.0
Name: grocery_proximity, dtype: float64
10.0
744    10.0
745    10.0
Name: low_birthweight, dtype: float64
744    10.0
745    10.0
Name: low_birthweight, dtype: float64
50.0
744    50.0
745    50.0
Name: public_health_insurance, dtype: float64
744    50.0
745    50.0
Name: public_health_insurance, dtype: float64
74.0
744    74.0
745    74.0
Name: age_of_death, dtype: float64
744    74.0
745    74.0
Name: age_of_death, dtype: float64
nan
744   -1.0
745   -1.0
Name: impervious_surface, dtype: float64
744   -1.0
745   -1.0
Name: impervious_surface, dtype: float64
120.0
744    120.0
745    120.0
Name: water_consumption, dtype: float64
744    120.0
745    120.0
Name: water_consumption, dtype: float64
68.56
744    68.56
745    68.56
Name: neighborhood_school_attendance, dtype: float64
744    68.56
745    68.56
Name: neighborhood_school_attendance, dtype: float64
64.0
744    64.0
745    64.0
Name: highschool_graduation_rate, dtype: float64
744    64.0
745    64.0
Name: highschool_graduation_rate, dtype: float64
27.118644067796605
744    27.118644
745    27.118644
Name: proficiency_elementary_school, dtype: float64
744    27.118644
745    27.118644
Name: proficiency_elementary_school, dtype: float64
23.4375
744    23.4375
745    23.4375
Name: proficiency_middle_school, dtype: float64
744    23.4375
745    23.4375
Name: proficiency_middle_school, dtype: float64
10.0
744    10.0
745    10.0
Name: proficiency_high_school, dtype: float64
744    10.0
745    10.0
Name: proficiency_high_school, dtype: float64
18.661971830985923
744    18.661972
745    18.661972
Name: student_absenteeism, dtype: float64
744    18.661972
745    18.661972
Name: student_absenteeism, dtype: float64
343.0
744    343.0
745    343.0
Name: voters_participating, dtype: float64
744    343.0
745    343.0
Name: voters_participating, dtype: float64
2.0
744    2.0
745    2.0
Name: neighborhood_organizations, dtype: float64
744    2.0
745    2.0
Name: neighborhood_organizations, dtype: float64
44.0
744    44.0
745    44.0
Name: voter_participation, dtype: float64
744    44.0
745    44.0
Name: voter_participation, dtype: float64
nan
744   -1.0
745   -1.0
Name: vacant_land, dtype: float64
744   -1.0
745   -1.0
Name: vacant_land, dtype: float64
nan
744   -1.0
745   -1.0
Name: population_density, dtype: float64
744   -1.0
745   -1.0
Name: population_density, dtype: float64
nan
744   -1.0
745   -1.0
Name: population, dtype: float64
744   -1.0
745   -1.0
Name: population, dtype: float64
79.0
744    79.0
745    79.0
Name: transit_ridership, dtype: float64
744    79.0
745    79.0
Name: transit_ridership, dtype: float64
nan
744   -1.0
745   -1.0
Name: street_connectivity, dtype: float64
744   -1.0
745   -1.0
Name: street_connectivity, dtype: float64
nan
744   -1.0
745   -1.0
Name: bicycle_friendliness, dtype: float64
744   -1.0
745   -1.0
Name: bicycle_friendliness, dtype: float64
2.2916
746    1.82
747    1.79
748    1.82
749    1.43
750    1.79
Name: Acres, dtype: float64
746    1.820
747    1.790
748    1.820
749    1.430
750    1.790
751    1.793
752    1.793
753    1.790
754    1.790
755    7.100
Name: Acres, dtype: float64
1.54
746    1.20
747    1.54
748    1.20
749    1.54
750    2.90
Name: births_to_adolescents, dtype: float64
746    1.20
747    1.54
748    1.20
749    1.54
750    2.90
751    1.54
752    1.54
753    1.54
754    1.20
755    1.20
Name: births_to_adolescents, dtype: float64
5.111111111111111
746     1.0
747     1.0
748     1.0
749    38.0
750     1.0
Name: grocery_proximate_units, dtype: float64
746     1.000000
747     1.000000
748     1.000000
749    38.000000
750     1.000000
751     1.000000
752     5.111111
753     1.000000
754     1.000000
755     1.000000
Name: grocery_proximate_units, dtype: float64
57.44
746    57.30
747    57.44
748    57.30
749    57.44
750    58.00
Name: prenatal_care, dtype: float64
746    57.30
747    57.44
748    57.30
749    57.44
750    58.00
751    57.44
752    57.44
753    57.44
754    57.30
755    57.30
Name: prenatal_care, dtype: float64
1.1111111111111112
746    0.0
747    0.0
748    0.0
749    5.0
750    0.0
Name: grocery_proximity, dtype: float64
746    0.000000
747    0.000000
748    0.000000
749    5.000000
750    0.000000
751    5.000000
752    1.111111
753    0.000000
754    0.000000
755    0.000000
Name: grocery_proximity, dtype: float64
8.82
746     8.50
747     8.82
748     8.50
749     8.82
750    10.10
Name: low_birthweight, dtype: float64
746     8.50
747     8.82
748     8.50
749     8.82
750    10.10
751     8.82
752     8.82
753     8.82
754     8.50
755     8.50
Name: low_birthweight, dtype: float64
31.5
746    31.5
747    36.0
748    31.5
749    31.5
750    24.0
Name: public_health_insurance, dtype: float64
746    31.5
747    36.0
748    31.5
749    31.5
750    24.0
751    30.0
752    31.5
753    36.0
754    31.5
755    31.5
Name: public_health_insurance, dtype: float64
62.8
746    63.0
747    62.8
748    63.0
749    62.8
750    62.0
Name: age_of_death, dtype: float64
746    63.0
747    62.8
748    63.0
749    62.8
750    62.0
751    62.8
752    62.8
753    62.8
754    63.0
755    63.0
Name: age_of_death, dtype: float64
15.924999999999999
746    16.000
747    15.800
748    16.000
749    15.800
750    15.925
Name: impervious_surface, dtype: float64
746    16.000
747    15.800
748    16.000
749    15.800
750    15.925
751    16.000
752    15.925
753    15.800
754    16.000
755    16.000
Name: impervious_surface, dtype: float64
147.33333333333334
746    149.000000
747    147.333333
748    149.000000
749    141.000000
750    147.000000
Name: water_consumption, dtype: float64
746    149.000000
747    147.333333
748    149.000000
749    141.000000
750    147.000000
751    147.333333
752    147.333333
753    147.333333
754    149.000000
755    149.000000
Name: water_consumption, dtype: float64
69.9875
746    69.3000
747    69.8700
748    69.3000
749    69.9875
750    71.9600
Name: neighborhood_school_attendance, dtype: float64
746    69.3000
747    69.8700
748    69.3000
749    69.9875
750    71.9600
751    71.0000
752    69.9875
753    69.8700
754    69.3000
755    69.3000
Name: neighborhood_school_attendance, dtype: float64
81.0
746    86.0
747    71.0
748    86.0
749    81.0
750    71.0
Name: highschool_graduation_rate, dtype: float64
746    86.0
747    71.0
748    86.0
749    81.0
750    71.0
751    91.0
752    81.0
753    71.0
754    86.0
755    86.0
Name: highschool_graduation_rate, dtype: float64
29.686370255957637
746    31.130000
747    24.271845
748    31.130000
749    29.686370
750    35.227273
Name: proficiency_elementary_school, dtype: float64
746    31.130000
747    24.271845
748    31.130000
749    29.686370
750    35.227273
751    29.200000
752    29.686370
753    24.271845
754    31.130000
755    31.130000
Name: proficiency_elementary_school, dtype: float64
19.545
746    17.500
747    23.080
748    17.500
749    19.545
750    25.000
Name: proficiency_middle_school, dtype: float64
746    17.500
747    23.080
748    17.500
749    19.545
750    25.000
751    15.200
752    19.545
753    23.080
754    17.500
755    17.500
Name: proficiency_middle_school, dtype: float64
44.64236842105264
746    55.600000
747    31.580000
748    55.600000
749    44.642368
750    31.578947
Name: proficiency_high_school, dtype: float64
746    55.600000
747    31.580000
748    55.600000
749    44.642368
750    31.578947
751    40.000000
752    44.642368
753    31.580000
754    55.600000
755    55.600000
Name: proficiency_high_school, dtype: float64
15.491839808402151
746    15.000000
747    17.121588
748    15.000000
749    15.491840
750    11.691542
Name: student_absenteeism, dtype: float64
746    15.000000
747    17.121588
748    15.000000
749    15.491840
750    11.691542
751    18.000000
752    15.491840
753    17.121588
754    15.000000
755    15.000000
Name: student_absenteeism, dtype: float64
500.44444444444446
746    784.0
747    124.0
748    784.0
749    512.0
750    416.0

Name: voters_participating, dtype: float64
746    784.000000
747    124.000000
748    784.000000
749    512.000000
750    416.000000
751    192.000000
752    500.444444
753    124.000000
754    784.000000
755    784.000000
Name: voters_participating, dtype: float64
2.0
746    2.0
747    2.0
748    2.0
749    2.0
750    2.0
Name: neighborhood_organizations, dtype: float64
746    2.0
747    2.0
748    2.0
749    2.0
750    2.0
751    2.0
752    2.0
753    2.0
754    2.0
755    2.0
Name: neighborhood_organizations, dtype: float64
45.55555555555556
746    68.0
747    13.0
748    68.0
749    52.0
750    46.0
Name: voter_participation, dtype: float64
746    68.000000
747    13.000000
748    68.000000
749    52.000000
750    46.000000
751    14.000000
752    45.555556
753    13.000000
754    68.000000
755    68.000000
Name: voter_participation, dtype: float64
8.4
746    8.4
747    8.4
748    8.4
749    8.4
750    8.4
Name: vacant_land, dtype: float64
746    8.4
747    8.4
748    8.4
749    8.4
750    8.4
751    8.4
752    8.4
753    8.4
754    8.4
755    8.4
Name: vacant_land, dtype: float64
5.0
746    5.0
747    5.0
748    5.0
749    5.0
750    5.0
Name: population_density, dtype: float64
746    5.0
747    5.0
748    5.0
749    5.0
750    5.0
751    5.0
752    5.0
753    5.0
754    5.0
755    5.0
Name: population_density, dtype: float64
2281.375
746    2281.000
747    2275.000
748    2281.000
749    2295.000
750    2281.375
Name: population, dtype: float64
746    2281.000
747    2275.000
748    2281.000
749    2295.000
750    2281.375
751    2282.000
752    2281.375
753    2275.000
754    2281.000
755    2281.000
Name: population, dtype: float64
59.333333333333336
746    59.333333
747    55.000000
748    59.333333
749    59.333333
750    68.000000
Name: transit_ridership, dtype: float64
746    59.333333
747    55.000000
748    59.333333
749    59.333333
750    68.000000
751    59.333333
752    59.333333
753    55.000000
754    59.333333
755    59.333333
Name: transit_ridership, dtype: float64
1.18
746    1.18
747    1.18
748    1.18
749    1.18
750    1.18
Name: street_connectivity, dtype: float64
746    1.18
747    1.18
748    1.18
749    1.18
750    1.18
751    1.18
752    1.18
753    1.18
754    1.18
755    1.18
Name: street_connectivity, dtype: float64
1.5125
746    1.5000
747    1.5000
748    1.5000
749    1.6000
750    1.5125
Name: bicycle_friendliness, dtype: float64
746    1.5000
747    1.5000
748    1.5000
749    1.6000
750    1.5125
751    1.5000
752    1.5125
753    1.5000
754    1.5000
755    1.5000
Name: bicycle_friendliness, dtype: float64
0.81
756    0.81
Name: Acres, dtype: float64
756    0.81
Name: Acres, dtype: float64
nan
756   -1.0
Name: births_to_adolescents, dtype: float64
756   -1.0
Name: births_to_adolescents, dtype: float64
828.0
756    828.0
Name: grocery_proximate_units, dtype: float64
756    828.0
Name: grocery_proximate_units, dtype: float64
nan
756   -1.0
Name: prenatal_care, dtype: float64
756   -1.0
Name: prenatal_care, dtype: float64
93.0
756    93.0
Name: grocery_proximity, dtype: float64
756    93.0
Name: grocery_proximity, dtype: float64
nan
756   -1.0
Name: low_birthweight, dtype: float64
756   -1.0
Name: low_birthweight, dtype: float64
41.0
756    41.0
Name: public_health_insurance, dtype: float64
756    41.0
Name: public_health_insurance, dtype: float64
nan
756   -1.0
Name: age_of_death, dtype: float64
756   -1.0
Name: age_of_death, dtype: float64
34.5
756    34.5
Name: impervious_surface, dtype: float64
756    34.5
Name: impervious_surface, dtype: float64
nan
756   -1.0
Name: water_consumption, dtype: float64
756   -1.0
Name: water_consumption, dtype: float64
72.02
756    72.02
Name: neighborhood_school_attendance, dtype: float64
756    72.02
Name: neighborhood_school_attendance, dtype: float64
81.0
756    81.0
Name: highschool_graduation_rate, dtype: float64
756    81.0
Name: highschool_graduation_rate, dtype: float64
18.965517241379303
756    18.965517
Name: proficiency_elementary_school, dtype: float64
756    18.965517
Name: proficiency_elementary_school, dtype: float64
16.67
756    16.67
Name: proficiency_middle_school, dtype: float64
756    16.67
Name: proficiency_middle_school, dtype: float64
30.0
756    30.0
Name: proficiency_high_school, dtype: float64
756    30.0
Name: proficiency_high_school, dtype: float64
11.6279069767442
756    11.627907
Name: student_absenteeism, dtype: float64
756    11.627907
Name: student_absenteeism, dtype: float64
137.0
756    137.0
Name: voters_participating, dtype: float64
756    137.0
Name: voters_participating, dtype: float64
3.0
756    3.0
Name: neighborhood_organizations, dtype: float64
756    3.0
Name: neighborhood_organizations, dtype: float64
12.0
756    12.0
Name: voter_participation, dtype: float64
756    12.0
Name: voter_participation, dtype: float64
11.7
756    11.7
Name: vacant_land, dtype: float64
756    11.7
Name: vacant_land, dtype: float64
3.0
756    3.0
Name: population_density, dtype: float64
756    3.0
Name: population_density, dtype: float64
2070.0
756    2070.0
Name: population, dtype: float64
756    2070.0
Name: population, dtype: float64
112.0
756    112.0
Name: transit_ridership, dtype: float64
756    112.0
Name: transit_ridership, dtype: float64
1.32
756    1.32
Name: street_connectivity, dtype: float64
756    1.32
Name: street_connectivity, dtype: float64
1.8
756    1.8
Name: bicycle_friendliness, dtype: float64
756    1.8
Name: bicycle_friendliness, dtype: float64
30.563454545454547
757     1.25
758    26.32
759     1.25
760    26.32
761    64.33
Name: Acres, dtype: float64
757     1.250
758    26.320
759     1.250
760    26.320
761    64.330
762     7.750
763    66.500
764    64.330
765     5.824
766     5.824
767    66.500
Name: Acres, dtype: float64
0.0
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
Name: births_to_adolescents, dtype: float64
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
767    0.0
Name: births_to_adolescents, dtype: float64
90.42857142857143
757    90.428571
758    90.428571
759    90.428571
760    90.428571
761     0.000000
Name: grocery_proximate_units, dtype: float64
757     90.428571
758     90.428571
759     90.428571
760     90.428571
761      0.000000
762    211.000000
763      0.000000
764      0.000000
765    211.000000
766    211.000000
767      0.000000
Name: grocery_proximate_units, dtype: float64
50.6
757    50.6
758    50.6
759    50.6
760    50.6
761    50.6
Name: prenatal_care, dtype: float64
757    50.6
758    50.6
759    50.6
760    50.6
761    50.6
762    50.6
763    50.6
764    50.6
765    50.6
766    50.6
767    50.6
Name: prenatal_care, dtype: float64
8.571428571428571
757    8.571429
758    8.571429
759    8.571429
760    8.571429
761    0.000000
Name: grocery_proximity, dtype: float64
757     8.571429
758     8.571429
759     8.571429
760     8.571429
761     0.000000
762    20.000000
763     0.000000
764     0.000000
765    20.000000
766    20.000000
767     0.000000
Name: grocery_proximity, dtype: float64
23.600000000000005
757    23.6
758    23.6
759    23.6
760    23.6
761    23.6
Name: low_birthweight, dtype: float64
757    23.6
758    23.6
759    23.6
760    23.6
761    23.6
762    23.6
763    23.6
764    23.6
765    23.6
766    23.6
767    23.6
Name: low_birthweight, dtype: float64
39.0
757    39.0
758    39.0
759    39.0
760    39.0
761    39.0
Name: public_health_insurance, dtype: float64
757    39.0
758    39.0
759    39.0
760    39.0
761    39.0
762    39.0
763    39.0
764    39.0
765    39.0
766    39.0
767    39.0
Name: public_health_insurance, dtype: float64
53.0
757    53.0
758    53.0
759    53.0
760    53.0
761    53.0
Name: age_of_death, dtype: float64
757    53.0
758    53.0
759    53.0
760    53.0
761    53.0
762    53.0
763    53.0
764    53.0
765    53.0
766    53.0
767    53.0
Name: age_of_death, dtype: float64
19.142857142857142
757    19.142857
758    19.142857
759    19.142857
760    19.142857
761    18.800000
Name: impervious_surface, dtype: float64
757    19.142857
758    19.142857
759    19.142857
760    19.142857
761    18.800000
762    19.400000
763    19.100000
764    18.800000
765    19.400000
766    19.400000
767    19.100000
Name: impervious_surface, dtype: float64
142.0
757    142.0
758    142.0
759    142.0
760    142.0
761    142.0
Name: water_consumption, dtype: float64
757    142.0
758    142.0
759    142.0
760    142.0
761    142.0
762    144.0
763    139.0
764    142.0
765    144.0
766    144.0
767    139.0
Name: water_consumption, dtype: float64
67.476
757    67.476
758    67.476
759    67.476
760    67.476
761    70.740
Name: neighborhood_school_attendance, dtype: float64
757    67.476
758    67.476
759    67.476
760    67.476
761    70.740
762    65.300
763    67.476
764    70.740
765    65.300
766    65.300
767    67.476
Name: neighborhood_school_attendance, dtype: float64
88.0
757    88.0
758    88.0
759    88.0
760    88.0
761    85.0
Name: highschool_graduation_rate, dtype: float64
757    88.0
758    88.0
759    88.0
760    88.0
761    85.0
762    90.0
763    88.0
764    85.0
765    90.0
766    90.0
767    88.0
Name: highschool_graduation_rate, dtype: float64
36.13894964028776
757    36.138950
758    36.138950
759    36.138950
760    36.138950
761    34.532374
Name: proficiency_elementary_school, dtype: float64
757    36.138950
758    36.138950
759    36.138950
760    36.138950
761    34.532374
762    37.210000
763    36.138950
764    34.532374
765    37.210000
766    37.210000
767    36.138950
Name: proficiency_elementary_school, dtype: float64
24.607999999999997
757    24.608
758    24.608
759    24.608
760    24.608
761    24.620
Name: proficiency_middle_school, dtype: float64
757    24.608
758    24.608
759    24.608
760    24.608
761    24.620
762    24.600
763    24.608
764    24.620
765    24.600
766    24.600
767    24.608
Name: proficiency_middle_school, dtype: float64
40.24399999999999
757    40.244
758    40.244
759    40.244
760    40.244
761    47.060
Name: proficiency_high_school, dtype: float64
757    40.244
758    40.244
759    40.244
760    40.244
761    47.060
762    35.700
763    40.244
764    47.060
765    35.700
766    35.700
767    40.244
Name: proficiency_high_school, dtype: float64
12.046416382252561
757    12.046416
758    12.046416
759    12.046416
760    12.046416
761    12.116041
Name: student_absenteeism, dtype: float64
757    12.046416
758    12.046416
759    12.046416
760    12.046416
761    12.116041
762    12.000000
763    12.046416
764    12.116041
765    12.000000
766    12.000000
767    12.046416
Name: student_absenteeism, dtype: float64
856.0
757    856.0
758    856.0
759    856.0
760    856.0
761    178.0
Name: voters_participating, dtype: float64
757     856.0
758     856.0
759     856.0
760     856.0
761     178.0
762    1292.0
763     880.0
764     178.0
765    1292.0
766    1292.0
767     880.0
Name: voters_participating, dtype: float64
2.0
757    2.0
758    2.0
759    2.0
760    2.0
761    2.0
Name: neighborhood_organizations, dtype: float64
757    2.0
758    2.0
759    2.0
760    2.0
761    2.0
762    2.0
763    2.0
764    2.0
765    2.0
766    2.0
767    2.0
Name: neighborhood_organizations, dtype: float64
46.857142857142854
757    46.857143
758    46.857143
759    46.857143
760    46.857143
761    10.000000
Name: voter_participation, dtype: float64
757    46.857143
758    46.857143
759    46.857143
760    46.857143
761    10.000000
762    66.000000
763    55.000000
764    10.000000
765    66.000000
766    66.000000
767    55.000000
Name: voter_participation, dtype: float64
13.171428571428573
757    13.171429
758    13.171429
759    13.171429
760    13.171429
761    13.100000
Name: vacant_land, dtype: float64
757    13.171429
758    13.171429
759    13.171429
760    13.171429
761    13.100000
762    13.200000
763    13.200000
764    13.100000
765    13.200000
766    13.200000
767    13.200000
Name: vacant_land, dtype: float64
3.0
757    3.0
758    3.0
759    3.0
760    3.0
761    3.0
Name: population_density, dtype: float64
757    3.0
758    3.0
759    3.0
760    3.0
761    3.0
762    3.0
763    3.0
764    3.0
765    3.0
766    3.0
767    3.0
Name: population_density, dtype: float64
3082.1428571428573
757    3082.142857
758    3082.142857
759    3082.142857
760    3082.142857
761    2939.000000
Name: population, dtype: float64
757    3082.142857
758    3082.142857
759    3082.142857
760    3082.142857
761    2939.000000
762    2967.000000
763    3398.000000
764    2939.000000
765    2967.000000
766    2967.000000
767    3398.000000
Name: population, dtype: float64
66.0
757    66.0
758    66.0
759    66.0
760    66.0
761    66.0
Name: transit_ridership, dtype: float64
757    66.0
758    66.0
759    66.0
760    66.0
761    66.0
762    66.0
763    66.0
764    66.0
765    66.0
766    66.0
767    66.0
Name: transit_ridership, dtype: float64
1.1928571428571426
757    1.192857
758    1.192857
759    1.192857
760    1.192857
761    1.190000
Name: street_connectivity, dtype: float64
757    1.192857
758    1.192857
759    1.192857
760    1.192857
761    1.190000
762    1.190000
763    1.200000
764    1.190000
765    1.190000
766    1.190000
767    1.200000
Name: street_connectivity, dtype: float64
1.5
757    1.5
758    1.5
759    1.5
760    1.5
761    1.5
Name: bicycle_friendliness, dtype: float64
757    1.5
758    1.5
759    1.5
760    1.5
761    1.5
762    1.5
763    1.5
764    1.5
765    1.5
766    1.5
767    1.5
Name: bicycle_friendliness, dtype: float64
3.282
768    3.804
769    3.804
770    3.380
771    3.804
772    3.380
Name: Acres, dtype: float64
768    3.804
769    3.804
770    3.380
771    3.804
772    3.380
773    1.520
Name: Acres, dtype: float64
0.0
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
Name: births_to_adolescents, dtype: float64
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
773    0.0
Name: births_to_adolescents, dtype: float64
0.16666666666666666
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
Name: grocery_proximate_units, dtype: float64
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
773    1.0
Name: grocery_proximate_units, dtype: float64
53.9
768    53.9
769    53.9
770    53.9
771    53.9
772    53.9
Name: prenatal_care, dtype: float64
768    53.9
769    53.9
770    53.9
771    53.9
772    53.9
773    53.9
Name: prenatal_care, dtype: float64
0.0
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
Name: grocery_proximity, dtype: float64
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
773    0.0
Name: grocery_proximity, dtype: float64
15.4
768    15.4
769    15.4
770    15.4
771    15.4
772    15.4
Name: low_birthweight, dtype: float64
768    15.4
769    15.4
770    15.4
771    15.4
772    15.4
773    15.4
Name: low_birthweight, dtype: float64
55.8
768    45.0
769    45.0
770    72.0
771    45.0
772    72.0
Name: public_health_insurance, dtype: float64
768    45.0
769    45.0
770    72.0
771    45.0
772    72.0
773    55.8
Name: public_health_insurance, dtype: float64

nan
768   -1.0
769   -1.0
770   -1.0
771   -1.0
772   -1.0
Name: age_of_death, dtype: float64
768   -1.0
769   -1.0
770   -1.0
771   -1.0
772   -1.0
773   -1.0
Name: age_of_death, dtype: float64
18.85
768    18.50
769    18.50
770    18.85
771    18.50
772    18.85
Name: impervious_surface, dtype: float64
768    18.50
769    18.50
770    18.85
771    18.50
772    18.85
773    19.90
Name: impervious_surface, dtype: float64
64.66666666666667
768    64.666667
769    64.666667
770    53.000000
771    64.666667
772    53.000000
Name: water_consumption, dtype: float64
768    64.666667
769    64.666667
770    53.000000
771    64.666667
772    53.000000
773    88.000000
Name: water_consumption, dtype: float64
45.739999999999995
768    49.00
769    49.00
770    40.85
771    49.00
772    40.85
Name: neighborhood_school_attendance, dtype: float64
768    49.00
769    49.00
770    40.85
771    49.00
772    40.85
773    45.74
Name: neighborhood_school_attendance, dtype: float64
60.0
768    60.0
769    60.0
770    60.0
771    60.0
772    60.0
Name: highschool_graduation_rate, dtype: float64
768    60.0
769    60.0
770    60.0
771    60.0
772    60.0
773    60.0
Name: highschool_graduation_rate, dtype: float64
38.05333333333333
768    41.200000
769    41.200000
770    33.333333
771    41.200000
772    33.333333
Name: proficiency_elementary_school, dtype: float64
768    41.200000
769    41.200000
770    33.333333
771    41.200000
772    33.333333
773    38.053333
Name: proficiency_elementary_school, dtype: float64
12.877142857142857
768    16.700000
769    16.700000
770     7.142857
771    16.700000
772     7.142857
Name: proficiency_middle_school, dtype: float64
768    16.700000
769    16.700000
770     7.142857
771    16.700000
772     7.142857
773    12.877143
Name: proficiency_middle_school, dtype: float64
nan
768   -1.0
769   -1.0
770   -1.0
771   -1.0
772   -1.0
Name: proficiency_high_school, dtype: float64
768   -1.0
769   -1.0
770   -1.0
771   -1.0
772   -1.0
773   -1.0
Name: proficiency_high_school, dtype: float64
17.524324324324322
768    22.000000
769    22.000000
770    10.810811
771    22.000000
772    10.810811
Name: student_absenteeism, dtype: float64
768    22.000000
769    22.000000
770    10.810811
771    22.000000
772    10.810811
773    17.524324
Name: student_absenteeism, dtype: float64
171.83333333333334
768    128.0
769    128.0
770    126.0
771    128.0
772    126.0
Name: voters_participating, dtype: float64
768    128.0
769    128.0
770    126.0
771    128.0
772    126.0
773    395.0
Name: voters_participating, dtype: float64
0.0
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
Name: neighborhood_organizations, dtype: float64
768    0.0
769    0.0
770    0.0
771    0.0
772    0.0
773    0.0
Name: neighborhood_organizations, dtype: float64
36.5
768    19.0
769    19.0
770    49.0
771    19.0
772    49.0
Name: voter_participation, dtype: float64
768    19.0
769    19.0
770    49.0
771    19.0
772    49.0
773    64.0
Name: voter_participation, dtype: float64
80.6
768    80.6
769    80.6
770    80.6
771    80.6
772    80.6
Name: vacant_land, dtype: float64
768    80.6
769    80.6
770    80.6
771    80.6
772    80.6
773    80.6
Name: vacant_land, dtype: float64
5.25
768    5.00
769    5.00
770    5.25
771    5.00
772    5.25
Name: population_density, dtype: float64
768    5.00
769    5.00
770    5.25
771    5.00
772    5.25
773    6.00
Name: population_density, dtype: float64
782.0
768    741.0
769    741.0
770    782.0
771    741.0
772    782.0
Name: population, dtype: float64
768    741.0
769    741.0
770    782.0
771    741.0
772    782.0
773    905.0
Name: population, dtype: float64
157.0
768    157.0
769    157.0
770    157.0
771    157.0
772    157.0
Name: transit_ridership, dtype: float64
768    157.0
769    157.0
770    157.0
771    157.0
772    157.0
773    157.0
Name: transit_ridership, dtype: float64
1.32
768    1.32
769    1.32
770    1.32
771    1.32
772    1.32
Name: street_connectivity, dtype: float64
768    1.32
769    1.32
770    1.32
771    1.32
772    1.32
773    1.32
Name: street_connectivity, dtype: float64
1.4
768    1.4
769    1.4
770    1.4
771    1.4
772    1.4
Name: bicycle_friendliness, dtype: float64
768    1.4
769    1.4
770    1.4
771    1.4
772    1.4
773    1.4
Name: bicycle_friendliness, dtype: float64
37.16916666666666
774    78.00
775     2.28
776    12.50
777    78.00
778    78.00
Name: Acres, dtype: float64
774    78.00
775     2.28
776    12.50
777    78.00
778    78.00
779     4.19
780     2.28
781    78.00
782    20.00
783    78.00
784    12.50
785     2.28
Name: Acres, dtype: float64
4.8
774    4.8
775    6.3
776    3.3
777    4.8
778    4.8
Name: births_to_adolescents, dtype: float64
774    4.8
775    6.3
776    3.3
777    4.8
778    4.8
779    4.8
780    6.3
781    4.8
782    3.3
783    4.8
784    3.3
785    6.3
Name: births_to_adolescents, dtype: float64
650.0
774    650.0
775    650.0
776    650.0
777    650.0
778    650.0
Name: grocery_proximate_units, dtype: float64
774    650.0
775    650.0
776    650.0
777    650.0
778    650.0
779    650.0
780    650.0
781    650.0
782    650.0
783    650.0
784    650.0
785    650.0
Name: grocery_proximate_units, dtype: float64
51.650000000000006
774    51.65
775    54.50
776    48.80
777    51.65
778    51.65
Name: prenatal_care, dtype: float64
774    51.65
775    54.50
776    48.80
777    51.65
778    51.65
779    51.65
780    54.50
781    51.65
782    48.80
783    51.65
784    48.80
785    54.50
Name: prenatal_care, dtype: float64
66.0
774    66.0
775    66.0
776    66.0
777    66.0
778    66.0
Name: grocery_proximity, dtype: float64
774    66.0
775    66.0
776    66.0
777    66.0
778    66.0
779    66.0
780    66.0
781    66.0
782    66.0
783    66.0
784    66.0
785    66.0
Name: grocery_proximity, dtype: float64
8.9
774    8.9
775    8.9
776    8.9
777    8.9
778    8.9
Name: low_birthweight, dtype: float64
774    8.9
775    8.9
776    8.9
777    8.9
778    8.9
779    8.9
780    8.9
781    8.9
782    8.9
783    8.9
784    8.9
785    8.9
Name: low_birthweight, dtype: float64
29.0
774    29.0
775    29.0
776    29.0
777    29.0
778    29.0
Name: public_health_insurance, dtype: float64
774    29.0
775    29.0
776    29.0
777    29.0
778    29.0
779    29.0
780    29.0
781    29.0
782    29.0
783    29.0
784    29.0
785    29.0
Name: public_health_insurance, dtype: float64
81.0
774    81.0
775    84.0
776    78.0
777    81.0
778    81.0
Name: age_of_death, dtype: float64
774    81.0
775    84.0
776    78.0
777    81.0
778    81.0
779    81.0
780    84.0
781    81.0
782    78.0
783    81.0
784    78.0
785    84.0
Name: age_of_death, dtype: float64
29.2
774    29.2
775    29.2
776    29.2
777    29.2
778    29.2
Name: impervious_surface, dtype: float64
774    29.2
775    29.2
776    29.2
777    29.2
778    29.2
779    29.2
780    29.2
781    29.2
782    29.2
783    29.2
784    29.2
785    29.2
Name: impervious_surface, dtype: float64
152.5
774    152.5
775    148.0
776    157.0
777    152.5
778    152.5
Name: water_consumption, dtype: float64
774    152.5
775    148.0
776    157.0
777    152.5
778    152.5
779    152.5
780    148.0
781    152.5
782    157.0
783    152.5
784    157.0
785    148.0
Name: water_consumption, dtype: float64
71.695
774    71.695
775    75.990
776    67.400
777    71.695
778    71.695
Name: neighborhood_school_attendance, dtype: float64
774    71.695
775    75.990
776    67.400
777    71.695
778    71.695
779    71.695
780    75.990
781    71.695
782    67.400
783    71.695
784    67.400
785    75.990
Name: neighborhood_school_attendance, dtype: float64
78.5
774    78.5
775    64.0
776    93.0
777    78.5
778    78.5
Name: highschool_graduation_rate, dtype: float64
774    78.5
775    64.0
776    93.0
777    78.5
778    78.5
779    78.5
780    64.0
781    78.5
782    93.0
783    78.5
784    93.0
785    64.0
Name: highschool_graduation_rate, dtype: float64
48.703987341772155
774    48.703987
775    43.037975
776    54.370000
777    48.703987
778    48.703987
Name: proficiency_elementary_school, dtype: float64
774    48.703987
775    43.037975
776    54.370000
777    48.703987
778    48.703987
779    48.703987
780    43.037975
781    48.703987
782    54.370000
783    48.703987
784    54.370000
785    43.037975
Name: proficiency_elementary_school, dtype: float64
32.963114754098356
774    32.963115
775    34.426230
776    31.500000
777    32.963115
778    32.963115
Name: proficiency_middle_school, dtype: float64
774    32.963115
775    34.426230
776    31.500000
777    32.963115
778    32.963115
779    32.963115
780    34.426230
781    32.963115
782    31.500000
783    32.963115
784    31.500000
785    34.426230
Name: proficiency_middle_school, dtype: float64
23.790909090909093
774    23.790909
775    18.181818
776    29.400000
777    23.790909
778    23.790909
Name: proficiency_high_school, dtype: float64
774    23.790909
775    18.181818
776    29.400000
777    23.790909
778    23.790909
779    23.790909
780    18.181818
781    23.790909
782    29.400000
783    23.790909
784    29.400000
785    18.181818
Name: proficiency_high_school, dtype: float64
10.507246376811594
774    10.507246
775    11.014493
776    10.000000
777    10.507246
778    10.507246
Name: student_absenteeism, dtype: float64
774    10.507246
775    11.014493
776    10.000000
777    10.507246
778    10.507246
779    10.507246
780    11.014493
781    10.507246
782    10.000000
783    10.507246
784    10.000000
785    11.014493
Name: student_absenteeism, dtype: float64
569.0
774    569.0
775    405.0
776    733.0
777    569.0
778    569.0
Name: voters_participating, dtype: float64
774    569.0
775    405.0
776    733.0
777    569.0
778    569.0
779    569.0
780    405.0
781    569.0
782    733.0
783    569.0
784    733.0
785    405.0
Name: voters_participating, dtype: float64
3.0
774    3.0
775    3.0
776    3.0
777    3.0
778    3.0
Name: neighborhood_organizations, dtype: float64
774    3.0
775    3.0
776    3.0
777    3.0
778    3.0
779    3.0
780    3.0
781    3.0
782    3.0
783    3.0
784    3.0
785    3.0
Name: neighborhood_organizations, dtype: float64
53.0
774    53.0
775    45.0
776    61.0
777    53.0
778    53.0
Name: voter_participation, dtype: float64
774    53.0
775    45.0
776    61.0
777    53.0
778    53.0
779    53.0
780    45.0
781    53.0
782    61.0
783    53.0
784    61.0
785    45.0
Name: voter_participation, dtype: float64
26.399999999999995
774    26.4
775    26.4
776    26.4
777    26.4
778    26.4
Name: vacant_land, dtype: float64
774    26.4
775    26.4
776    26.4
777    26.4
778    26.4
779    26.4
780    26.4
781    26.4
782    26.4
783    26.4
784    26.4
785    26.4
Name: vacant_land, dtype: float64
5.0
774    5.0
775    5.0
776    5.0
777    5.0
778    5.0
Name: population_density, dtype: float64
774    5.0
775    5.0
776    5.0
777    5.0
778    5.0
779    5.0
780    5.0
781    5.0
782    5.0
783    5.0
784    5.0
785    5.0
Name: population_density, dtype: float64
2400.0
774    2400.0
775    2400.0
776    2400.0
777    2400.0
778    2400.0
Name: population, dtype: float64
774    2400.0
775    2400.0
776    2400.0
777    2400.0
778    2400.0
779    2400.0
780    2400.0
781    2400.0
782    2400.0
783    2400.0
784    2400.0
785    2400.0
Name: population, dtype: float64
476.0
774    476.0
775    476.0
776    476.0
777    476.0
778    476.0
Name: transit_ridership, dtype: float64
774    476.0
775    476.0
776    476.0
777    476.0
778    476.0
779    476.0
780    476.0
781    476.0
782    476.0
783    476.0
784    476.0
785    476.0
Name: transit_ridership, dtype: float64
1.08
774    1.08
775    1.08
776    1.08
777    1.08
778    1.08
Name: street_connectivity, dtype: float64
774    1.08
775    1.08
776    1.08
777    1.08
778    1.08
779    1.08
780    1.08
781    1.08
782    1.08
783    1.08
784    1.08
785    1.08
Name: street_connectivity, dtype: float64
1.3999999999999997
774    1.4
775    1.4
776    1.4
777    1.4
778    1.4
Name: bicycle_friendliness, dtype: float64
774    1.4
775    1.4
776    1.4
777    1.4
778    1.4
779    1.4
780    1.4
781    1.4
782    1.4
783    1.4
784    1.4
785    1.4
Name: bicycle_friendliness, dtype: float64
4.12
786    4.12
Name: Acres, dtype: float64
786    4.12
Name: Acres, dtype: float64
nan
786   -1.0
Name: births_to_adolescents, dtype: float64
786   -1.0
Name: births_to_adolescents, dtype: float64
nan
786   -1.0
Name: grocery_proximate_units, dtype: float64
786   -1.0
Name: grocery_proximate_units, dtype: float64
nan
786   -1.0
Name: prenatal_care, dtype: float64
786   -1.0
Name: prenatal_care, dtype: float64
nan
786   -1.0
Name: grocery_proximity, dtype: float64
786   -1.0
Name: grocery_proximity, dtype: float64
nan
786   -1.0
Name: low_birthweight, dtype: float64
786   -1.0
Name: low_birthweight, dtype: float64
nan
786   -1.0
Name: public_health_insurance, dtype: float64
786   -1.0
Name: public_health_insurance, dtype: float64
nan
786   -1.0
Name: age_of_death, dtype: float64
786   -1.0
Name: age_of_death, dtype: float64
nan
786   -1.0
Name: impervious_surface, dtype: float64
786   -1.0
Name: impervious_surface, dtype: float64
nan

786   -1.0
Name: water_consumption, dtype: float64
786   -1.0
Name: water_consumption, dtype: float64
nan
786   -1.0
Name: neighborhood_school_attendance, dtype: float64
786   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
786   -1.0
Name: highschool_graduation_rate, dtype: float64
786   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
786   -1.0
Name: proficiency_elementary_school, dtype: float64
786   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
786   -1.0
Name: proficiency_middle_school, dtype: float64
786   -1.0
Name: proficiency_middle_school, dtype: float64
nan
786   -1.0
Name: proficiency_high_school, dtype: float64
786   -1.0
Name: proficiency_high_school, dtype: float64
nan
786   -1.0
Name: student_absenteeism, dtype: float64
786   -1.0
Name: student_absenteeism, dtype: float64
nan
786   -1.0
Name: voters_participating, dtype: float64
786   -1.0
Name: voters_participating, dtype: float64
nan
786   -1.0
Name: neighborhood_organizations, dtype: float64
786   -1.0
Name: neighborhood_organizations, dtype: float64
nan
786   -1.0
Name: voter_participation, dtype: float64
786   -1.0
Name: voter_participation, dtype: float64
nan
786   -1.0
Name: vacant_land, dtype: float64
786   -1.0
Name: vacant_land, dtype: float64
nan
786   -1.0
Name: population_density, dtype: float64
786   -1.0
Name: population_density, dtype: float64
nan
786   -1.0
Name: population, dtype: float64
786   -1.0
Name: population, dtype: float64
nan
786   -1.0
Name: transit_ridership, dtype: float64
786   -1.0
Name: transit_ridership, dtype: float64
nan
786   -1.0
Name: street_connectivity, dtype: float64
786   -1.0
Name: street_connectivity, dtype: float64
nan
786   -1.0
Name: bicycle_friendliness, dtype: float64
786   -1.0
Name: bicycle_friendliness, dtype: float64
0.504
787    0.504
Name: Acres, dtype: float64
787    0.504
Name: Acres, dtype: float64
nan
787   -1.0
Name: births_to_adolescents, dtype: float64
787   -1.0
Name: births_to_adolescents, dtype: float64
0.0
787    0.0
Name: grocery_proximate_units, dtype: float64
787    0.0
Name: grocery_proximate_units, dtype: float64
nan
787   -1.0
Name: prenatal_care, dtype: float64
787   -1.0
Name: prenatal_care, dtype: float64
0.0
787    0.0
Name: grocery_proximity, dtype: float64
787    0.0
Name: grocery_proximity, dtype: float64
nan
787   -1.0
Name: low_birthweight, dtype: float64
787   -1.0
Name: low_birthweight, dtype: float64
45.0
787    45.0
Name: public_health_insurance, dtype: float64
787    45.0
Name: public_health_insurance, dtype: float64
nan
787   -1.0
Name: age_of_death, dtype: float64
787   -1.0
Name: age_of_death, dtype: float64
11.8
787    11.8
Name: impervious_surface, dtype: float64
787    11.8
Name: impervious_surface, dtype: float64
nan
787   -1.0
Name: water_consumption, dtype: float64
787   -1.0
Name: water_consumption, dtype: float64
74.83
787    74.83
Name: neighborhood_school_attendance, dtype: float64
787    74.83
Name: neighborhood_school_attendance, dtype: float64
95.0
787    95.0
Name: highschool_graduation_rate, dtype: float64
787    95.0
Name: highschool_graduation_rate, dtype: float64
37.1212121212121
787    37.121212
Name: proficiency_elementary_school, dtype: float64
787    37.121212
Name: proficiency_elementary_school, dtype: float64
38.94
787    38.94
Name: proficiency_middle_school, dtype: float64
787    38.94
Name: proficiency_middle_school, dtype: float64
59.26
787    59.26
Name: proficiency_high_school, dtype: float64
787    59.26
Name: proficiency_high_school, dtype: float64
8.515283842794759
787    8.515284
Name: student_absenteeism, dtype: float64
787    8.515284
Name: student_absenteeism, dtype: float64
77.0
787    77.0
Name: voters_participating, dtype: float64
787    77.0
Name: voters_participating, dtype: float64
1.0
787    1.0
Name: neighborhood_organizations, dtype: float64
787    1.0
Name: neighborhood_organizations, dtype: float64
10.0
787    10.0
Name: voter_participation, dtype: float64
787    10.0
Name: voter_participation, dtype: float64
19.8
787    19.8
Name: vacant_land, dtype: float64
787    19.8
Name: vacant_land, dtype: float64
2.0
787    2.0
Name: population_density, dtype: float64
787    2.0
Name: population_density, dtype: float64
1719.0
787    1719.0
Name: population, dtype: float64
787    1719.0
Name: population, dtype: float64
70.0
787    70.0
Name: transit_ridership, dtype: float64
787    70.0
Name: transit_ridership, dtype: float64
1.11
787    1.11
Name: street_connectivity, dtype: float64
787    1.11
Name: street_connectivity, dtype: float64
1.3
787    1.3
Name: bicycle_friendliness, dtype: float64
787    1.3
Name: bicycle_friendliness, dtype: float64
2.656333333333333
788    3.110
789    6.260
790    1.620
791    1.554
792    1.840
Name: Acres, dtype: float64
788    3.110
789    6.260
790    1.620
791    1.554
792    1.840
793    1.554
Name: Acres, dtype: float64
0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
Name: births_to_adolescents, dtype: float64
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
Name: births_to_adolescents, dtype: float64
0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
Name: grocery_proximate_units, dtype: float64
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
Name: grocery_proximate_units, dtype: float64
50.0
788    50.0
789    50.0
790    50.0
791    50.0
792    50.0
Name: prenatal_care, dtype: float64
788    50.0
789    50.0
790    50.0
791    50.0
792    50.0
793    50.0
Name: prenatal_care, dtype: float64
0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
Name: grocery_proximity, dtype: float64
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
Name: grocery_proximity, dtype: float64
7.1
788    7.1
789    7.1
790    7.1
791    7.1
792    7.1
Name: low_birthweight, dtype: float64
788    7.1
789    7.1
790    7.1
791    7.1
792    7.1
793    7.1
Name: low_birthweight, dtype: float64
32.0
788    32.0
789    23.0
790    37.0
791    32.0
792    36.0
Name: public_health_insurance, dtype: float64
788    32.0
789    23.0
790    37.0
791    32.0
792    36.0
793    32.0
Name: public_health_insurance, dtype: float64
69.0
788    69.0
789    69.0
790    69.0
791    69.0
792    69.0
Name: age_of_death, dtype: float64
788    69.0
789    69.0
790    69.0
791    69.0
792    69.0
793    69.0
Name: age_of_death, dtype: float64
23.700000000000003
788    23.7
789    23.7
790    23.8
791    23.7
792    23.6
Name: impervious_surface, dtype: float64
788    23.7
789    23.7
790    23.8
791    23.7
792    23.6
793    23.7
Name: impervious_surface, dtype: float64
125.0
788    125.0
789    125.0
790    125.0
791    125.0
792    125.0
Name: water_consumption, dtype: float64
788    125.0
789    125.0
790    125.0
791    125.0
792    125.0
793    125.0
Name: water_consumption, dtype: float64
64.97666666666667
788    64.976667
789    63.570000
790    68.000000
791    64.976667
792    63.360000
Name: neighborhood_school_attendance, dtype: float64
788    64.976667
789    63.570000
790    68.000000
791    64.976667
792    63.360000
793    64.976667
Name: neighborhood_school_attendance, dtype: float64
79.66666666666667
788    79.666667
789    83.000000
790    71.000000
791    79.666667
792    85.000000
Name: highschool_graduation_rate, dtype: float64
788    79.666667
789    83.000000
790    71.000000
791    79.666667
792    85.000000
793    79.666667
Name: highschool_graduation_rate, dtype: float64
33.3301404853129
788    33.330140
789    41.379310
790    22.500000
791    33.330140
792    36.111111
Name: proficiency_elementary_school, dtype: float64
788    33.330140
789    41.379310
790    22.500000
791    33.330140
792    36.111111
793    33.330140
Name: proficiency_elementary_school, dtype: float64
19.770256410256412
788    19.770256
789    19.230769
790    21.900000
791    19.770256
792    18.180000
Name: proficiency_middle_school, dtype: float64
788    19.770256
789    19.230769
790    21.900000
791    19.770256
792    18.180000
793    19.770256
Name: proficiency_middle_school, dtype: float64
30.0
788    30.0
789    40.0
790    20.0
791    30.0
792    30.0
Name: proficiency_high_school, dtype: float64
788    30.0
789    40.0
790    20.0
791    30.0
792    30.0
793    30.0
Name: proficiency_high_school, dtype: float64
21.427591260325062
788    21.427591
789    20.138889
790    24.000000
791    21.427591
792    20.143885
Name: student_absenteeism, dtype: float64
788    21.427591
789    20.138889
790    24.000000
791    21.427591
792    20.143885
793    21.427591
Name: student_absenteeism, dtype: float64
81.66666666666667
788     81.666667
789    133.000000
790     65.000000
791     81.666667
792     47.000000
Name: voters_participating, dtype: float64
788     81.666667
789    133.000000
790     65.000000
791     81.666667
792     47.000000
793     81.666667
Name: voters_participating, dtype: float64
1.0
788    1.0
789    1.0
790    1.0
791    1.0
792    1.0
Name: neighborhood_organizations, dtype: float64
788    1.0
789    1.0
790    1.0
791    1.0
792    1.0
793    1.0
Name: neighborhood_organizations, dtype: float64
25.0
788    25.0
789    46.0
790    14.0
791    25.0
792    15.0
Name: voter_participation, dtype: float64
788    25.0
789    46.0
790    14.0
791    25.0
792    15.0
793    25.0
Name: voter_participation, dtype: float64
7.0
788    7.0
789    7.0
790    7.0
791    7.0
792    7.0
Name: vacant_land, dtype: float64
788    7.0
789    7.0
790    7.0
791    7.0
792    7.0
793    7.0
Name: vacant_land, dtype: float64
2.0
788    2.0
789    2.0
790    2.0
791    2.0
792    2.0

Name: population_density, dtype: float64
788    2.0
789    2.0
790    2.0
791    2.0
792    2.0
793    2.0
Name: population_density, dtype: float64
766.5
788    766.5
789    766.5
790    768.0
791    766.5
792    765.0
Name: population, dtype: float64
788    766.5
789    766.5
790    768.0
791    766.5
792    765.0
793    766.5
Name: population, dtype: float64
66.5
788    66.5
789    66.0
790    66.5
791    66.5
792    67.0
Name: transit_ridership, dtype: float64
788    66.5
789    66.0
790    66.5
791    66.5
792    67.0
793    66.5
Name: transit_ridership, dtype: float64
1.18
788    1.18
789    1.18
790    1.18
791    1.18
792    1.18
Name: street_connectivity, dtype: float64
788    1.18
789    1.18
790    1.18
791    1.18
792    1.18
793    1.18
Name: street_connectivity, dtype: float64
1.3
788    1.3
789    1.3
790    1.3
791    1.3
792    1.3
Name: bicycle_friendliness, dtype: float64
788    1.3
789    1.3
790    1.3
791    1.3
792    1.3
793    1.3
Name: bicycle_friendliness, dtype: float64
1.31
794    1.31
795    1.31
Name: Acres, dtype: float64
794    1.31
795    1.31
Name: Acres, dtype: float64
0.0
794    0.0
795    0.0
Name: births_to_adolescents, dtype: float64
794    0.0
795    0.0
Name: births_to_adolescents, dtype: float64
90.0
794    90.0
795    90.0
Name: grocery_proximate_units, dtype: float64
794    90.0
795    90.0
Name: grocery_proximate_units, dtype: float64
67.4
794    67.4
795    67.4
Name: prenatal_care, dtype: float64
794    67.4
795    67.4
Name: prenatal_care, dtype: float64
14.0
794    14.0
795    14.0
Name: grocery_proximity, dtype: float64
794    14.0
795    14.0
Name: grocery_proximity, dtype: float64
15.2
794    15.2
795    15.2
Name: low_birthweight, dtype: float64
794    15.2
795    15.2
Name: low_birthweight, dtype: float64
nan
794   -1.0
795   -1.0
Name: public_health_insurance, dtype: float64
794   -1.0
795   -1.0
Name: public_health_insurance, dtype: float64
68.0
794    68.0
795    68.0
Name: age_of_death, dtype: float64
794    68.0
795    68.0
Name: age_of_death, dtype: float64
8.6
794    8.6
795    8.6
Name: impervious_surface, dtype: float64
794    8.6
795    8.6
Name: impervious_surface, dtype: float64
135.0
794    135.0
795    135.0
Name: water_consumption, dtype: float64
794    135.0
795    135.0
Name: water_consumption, dtype: float64
66.2
794    66.2
795    66.2
Name: neighborhood_school_attendance, dtype: float64
794    66.2
795    66.2
Name: neighborhood_school_attendance, dtype: float64
94.0
794    94.0
795    94.0
Name: highschool_graduation_rate, dtype: float64
794    94.0
795    94.0
Name: highschool_graduation_rate, dtype: float64
35.09
794    35.09
795    35.09
Name: proficiency_elementary_school, dtype: float64
794    35.09
795    35.09
Name: proficiency_elementary_school, dtype: float64
26.0
794    26.0
795    26.0
Name: proficiency_middle_school, dtype: float64
794    26.0
795    26.0
Name: proficiency_middle_school, dtype: float64
27.3
794    27.3
795    27.3
Name: proficiency_high_school, dtype: float64
794    27.3
795    27.3
Name: proficiency_high_school, dtype: float64
10.0
794    10.0
795    10.0
Name: student_absenteeism, dtype: float64
794    10.0
795    10.0
Name: student_absenteeism, dtype: float64
674.0
794    674.0
795    674.0
Name: voters_participating, dtype: float64
794    674.0
795    674.0
Name: voters_participating, dtype: float64
nan
794   -1.0
795   -1.0
Name: neighborhood_organizations, dtype: float64
794   -1.0
795   -1.0
Name: neighborhood_organizations, dtype: float64
69.0
794    69.0
795    69.0
Name: voter_participation, dtype: float64
794    69.0
795    69.0
Name: voter_participation, dtype: float64
19.5
794    19.5
795    19.5
Name: vacant_land, dtype: float64
794    19.5
795    19.5
Name: vacant_land, dtype: float64
3.0
794    3.0
795    3.0
Name: population_density, dtype: float64
794    3.0
795    3.0
Name: population_density, dtype: float64
1674.0
794    1674.0
795    1674.0
Name: population, dtype: float64
794    1674.0
795    1674.0
Name: population, dtype: float64
nan
794   -1.0
795   -1.0
Name: transit_ridership, dtype: float64
794   -1.0
795   -1.0
Name: transit_ridership, dtype: float64
1.16
794    1.16
795    1.16
Name: street_connectivity, dtype: float64
794    1.16
795    1.16
Name: street_connectivity, dtype: float64
1.3
794    1.3
795    1.3
Name: bicycle_friendliness, dtype: float64
794    1.3
795    1.3
Name: bicycle_friendliness, dtype: float64
4.998
796    9.00
797    5.40
798    3.30
799    5.40
800    1.89
Name: Acres, dtype: float64
796    9.00
797    5.40
798    3.30
799    5.40
800    1.89
Name: Acres, dtype: float64
3.3
796    3.3
797    3.3
798    3.3
799    3.3
800    3.3
Name: births_to_adolescents, dtype: float64
796    3.3
797    3.3
798    3.3
799    3.3
800    3.3
Name: births_to_adolescents, dtype: float64
143.0
796    143.0
797    143.0
798    143.0
799    143.0
800    143.0
Name: grocery_proximate_units, dtype: float64
796    143.0
797    143.0
798    143.0
799    143.0
800    143.0
Name: grocery_proximate_units, dtype: float64
55.7
796    55.7
797    55.7
798    55.7
799    55.7
800    55.7
Name: prenatal_care, dtype: float64
796    55.7
797    55.7
798    55.7
799    55.7
800    55.7
Name: prenatal_care, dtype: float64
13.0
796    13.0
797    13.0
798    13.0
799    13.0
800    13.0
Name: grocery_proximity, dtype: float64
796    13.0
797    13.0
798    13.0
799    13.0
800    13.0
Name: grocery_proximity, dtype: float64
9.8
796    9.8
797    9.8
798    9.8
799    9.8
800    9.8
Name: low_birthweight, dtype: float64
796    9.8
797    9.8
798    9.8
799    9.8
800    9.8
Name: low_birthweight, dtype: float64
23.0
796    23.0
797    23.0
798    23.0
799    23.0
800    23.0
Name: public_health_insurance, dtype: float64
796    23.0
797    23.0
798    23.0
799    23.0
800    23.0
Name: public_health_insurance, dtype: float64
67.0
796    67.0
797    67.0
798    67.0
799    67.0
800    67.0
Name: age_of_death, dtype: float64
796    67.0
797    67.0
798    67.0
799    67.0
800    67.0
Name: age_of_death, dtype: float64
11.300000000000002
796    11.3
797    11.3
798    11.3
799    11.3
800    11.3
Name: impervious_surface, dtype: float64
796    11.3
797    11.3
798    11.3
799    11.3
800    11.3
Name: impervious_surface, dtype: float64
140.0
796    140.0
797    140.0
798    140.0
799    140.0
800    140.0
Name: water_consumption, dtype: float64
796    140.0
797    140.0
798    140.0
799    140.0
800    140.0
Name: water_consumption, dtype: float64
72.83333333333333
796    72.833333
797    73.000000
798    72.500000
799    73.000000
800    72.833333
Name: neighborhood_school_attendance, dtype: float64
796    72.833333
797    73.000000
798    72.500000
799    73.000000
800    72.833333
Name: neighborhood_school_attendance, dtype: float64
83.66666666666667
796    83.666667
797    81.000000
798    89.000000
799    81.000000
800    83.666667
Name: highschool_graduation_rate, dtype: float64
796    83.666667
797    81.000000
798    89.000000
799    81.000000
800    83.666667
Name: highschool_graduation_rate, dtype: float64
29.153333333333336
796    29.153333
797    31.900000
798    23.660000
799    31.900000
800    29.153333
Name: proficiency_elementary_school, dtype: float64
796    29.153333
797    31.900000
798    23.660000
799    31.900000
800    29.153333
Name: proficiency_elementary_school, dtype: float64
28.0
796    28.0
797    29.2
798    25.6
799    29.2
800    28.0
Name: proficiency_middle_school, dtype: float64
796    28.0
797    29.2
798    25.6
799    29.2
800    28.0
Name: proficiency_middle_school, dtype: float64
31.066666666666663
796    31.066667
797    28.100000
798    37.000000
799    28.100000
800    31.066667
Name: proficiency_high_school, dtype: float64
796    31.066667
797    28.100000
798    37.000000
799    28.100000
800    31.066667
Name: proficiency_high_school, dtype: float64
15.666666666666666
796    15.666667
797    16.000000
798    15.000000
799    16.000000
800    15.666667
Name: student_absenteeism, dtype: float64
796    15.666667
797    16.000000
798    15.000000
799    16.000000
800    15.666667
Name: student_absenteeism, dtype: float64
663.0
796     663.0
797     396.0
798    1197.0
799     396.0
800     663.0
Name: voters_participating, dtype: float64
796     663.0
797     396.0
798    1197.0
799     396.0
800     663.0
Name: voters_participating, dtype: float64
nan
796   -1.0
797   -1.0
798   -1.0
799   -1.0
800   -1.0
Name: neighborhood_organizations, dtype: float64
796   -1.0
797   -1.0
798   -1.0
799   -1.0
800   -1.0
Name: neighborhood_organizations, dtype: float64
39.333333333333336
796    39.333333
797    22.000000
798    74.000000
799    22.000000
800    39.333333
Name: voter_participation, dtype: float64
796    39.333333
797    22.000000
798    74.000000
799    22.000000
800    39.333333
Name: voter_participation, dtype: float64
13.5
796    13.5
797    13.5
798    13.5
799    13.5
800    13.5
Name: vacant_land, dtype: float64
796    13.5
797    13.5
798    13.5
799    13.5
800    13.5
Name: vacant_land, dtype: float64
3.0
796    3.0
797    3.0
798    3.0
799    3.0
800    3.0
Name: population_density, dtype: float64
796    3.0
797    3.0
798    3.0
799    3.0
800    3.0
Name: population_density, dtype: float64
2923.3333333333335
796    2923.333333
797    2913.000000
798    2944.000000
799    2913.000000
800    2923.333333
Name: population, dtype: float64
796    2923.333333
797    2913.000000
798    2944.000000
799    2913.000000
800    2923.333333
Name: population, dtype: float64
nan
796   -1.0
797   -1.0
798   -1.0
799   -1.0
800   -1.0
Name: transit_ridership, dtype: float64
796   -1.0
797   -1.0
798   -1.0
799   -1.0
800   -1.0
Name: transit_ridership, dtype: float64
1.18
796    1.18
797    1.18
798    1.18
799    1.18
800    1.18
Name: street_connectivity, dtype: float64
796    1.18
797    1.18
798    1.18
799    1.18
800    1.18
Name: street_connectivity, dtype: float64
1.3999999999999997
796    1.4
797    1.4
798    1.4
799    1.4
800    1.4
Name: bicycle_friendliness, dtype: float64
796    1.4
797    1.4
798    1.4
799    1.4
800    1.4
Name: bicycle_friendliness, dtype: float64
1.77
801    1.060
802    1.850
803    2.045
804    1.850
805    2.045
Name: Acres, dtype: float64
801    1.060
802    1.850
803    2.045
804    1.850
805    2.045
Name: Acres, dtype: float64
8.9
801    8.9
802    8.9
803    8.9
804    8.9
805    8.9
Name: births_to_adolescents, dtype: float64
801    8.9
802    8.9
803    8.9
804    8.9
805    8.9
Name: births_to_adolescents, dtype: float64
0.0
801    0.0
802    0.0
803    0.0
804    0.0
805    0.0
Name: grocery_proximate_units, dtype: float64
801    0.0
802    0.0
803    0.0
804    0.0
805    0.0
Name: grocery_proximate_units, dtype: float64
44.4
801    44.4
802    44.4
803    44.4
804    44.4
805    44.4
Name: prenatal_care, dtype: float64
801    44.4
802    44.4
803    44.4
804    44.4
805    44.4
Name: prenatal_care, dtype: float64
0.0
801    0.0
802    0.0
803    0.0
804    0.0
805    0.0
Name: grocery_proximity, dtype: float64
801    0.0
802    0.0
803    0.0
804    0.0
805    0.0
Name: grocery_proximity, dtype: float64
11.1
801    11.1
802    11.1
803    11.1
804    11.1
805    11.1
Name: low_birthweight, dtype: float64
801    11.1
802    11.1
803    11.1
804    11.1
805    11.1
Name: low_birthweight, dtype: float64
34.0
801    34.0
802    34.0
803    34.0
804    34.0
805    34.0
Name: public_health_insurance, dtype: float64
801    34.0
802    34.0
803    34.0
804    34.0
805    34.0
Name: public_health_insurance, dtype: float64
57.0
801    57.0
802    57.0
803    57.0
804    57.0
805    57.0

Name: age_of_death, dtype: float64
801    57.0
802    57.0
803    57.0
804    57.0
805    57.0
Name: age_of_death, dtype: float64
28.159999999999997
801    28.4
802    28.1
803    28.1
804    28.1
805    28.1
Name: impervious_surface, dtype: float64
801    28.4
802    28.1
803    28.1
804    28.1
805    28.1
Name: impervious_surface, dtype: float64
124.0
801    124.0
802    124.0
803    124.0
804    124.0
805    124.0
Name: water_consumption, dtype: float64
801    124.0
802    124.0
803    124.0
804    124.0
805    124.0
Name: water_consumption, dtype: float64
65.5
801    65.5
802    67.0
803    64.0
804    67.0
805    64.0
Name: neighborhood_school_attendance, dtype: float64
801    65.5
802    67.0
803    64.0
804    67.0
805    64.0
Name: neighborhood_school_attendance, dtype: float64
100.0
801    100.0
802    100.0
803    100.0
804    100.0
805    100.0
Name: highschool_graduation_rate, dtype: float64
801    100.0
802    100.0
803    100.0
804    100.0
805    100.0
Name: highschool_graduation_rate, dtype: float64
23.215000000000003
801    23.215
802    23.530
803    22.900
804    23.530
805    22.900
Name: proficiency_elementary_school, dtype: float64
801    23.215
802    23.530
803    22.900
804    23.530
805    22.900
Name: proficiency_elementary_school, dtype: float64
22.05
801    22.05
802    19.10
803    25.00
804    19.10
805    25.00
Name: proficiency_middle_school, dtype: float64
801    22.05
802    19.10
803    25.00
804    19.10
805    25.00
Name: proficiency_middle_school, dtype: float64
27.3
801    27.3
802    27.3
803    27.3
804    27.3
805    27.3
Name: proficiency_high_school, dtype: float64
801    27.3
802    27.3
803    27.3
804    27.3
805    27.3
Name: proficiency_high_school, dtype: float64
16.0
801    16.0
802    18.0
803    14.0
804    18.0
805    14.0
Name: student_absenteeism, dtype: float64
801    16.0
802    18.0
803    14.0
804    18.0
805    14.0
Name: student_absenteeism, dtype: float64
170.0
801    166.0
802    290.0
803     52.0
804    290.0
805     52.0
Name: voters_participating, dtype: float64
801    166.0
802    290.0
803     52.0
804    290.0
805     52.0
Name: voters_participating, dtype: float64
nan
801   -1.0
802   -1.0
803   -1.0
804   -1.0
805   -1.0
Name: neighborhood_organizations, dtype: float64
801   -1.0
802   -1.0
803   -1.0
804   -1.0
805   -1.0
Name: neighborhood_organizations, dtype: float64
40.8
801    46.0
802    69.0
803    10.0
804    69.0
805    10.0
Name: voter_participation, dtype: float64
801    46.0
802    69.0
803    10.0
804    69.0
805    10.0
Name: voter_participation, dtype: float64
12.5
801    12.5
802    12.5
803    12.5
804    12.5
805    12.5
Name: vacant_land, dtype: float64
801    12.5
802    12.5
803    12.5
804    12.5
805    12.5
Name: vacant_land, dtype: float64
1.0
801    1.0
802    1.0
803    1.0
804    1.0
805    1.0
Name: population_density, dtype: float64
801    1.0
802    1.0
803    1.0
804    1.0
805    1.0
Name: population_density, dtype: float64
957.8
801    951.0
802    967.0
803    952.0
804    967.0
805    952.0
Name: population, dtype: float64
801    951.0
802    967.0
803    952.0
804    967.0
805    952.0
Name: population, dtype: float64
nan
801   -1.0
802   -1.0
803   -1.0
804   -1.0
805   -1.0
Name: transit_ridership, dtype: float64
801   -1.0
802   -1.0
803   -1.0
804   -1.0
805   -1.0
Name: transit_ridership, dtype: float64
1.31
801    1.31
802    1.31
803    1.31
804    1.31
805    1.31
Name: street_connectivity, dtype: float64
801    1.31
802    1.31
803    1.31
804    1.31
805    1.31
Name: street_connectivity, dtype: float64
1.4
801    1.4
802    1.4
803    1.4
804    1.4
805    1.4
Name: bicycle_friendliness, dtype: float64
801    1.4
802    1.4
803    1.4
804    1.4
805    1.4
Name: bicycle_friendliness, dtype: float64
5.07
806    5.80
807    4.34
Name: Acres, dtype: float64
806    5.80
807    4.34
Name: Acres, dtype: float64
nan
806   -1.0
807   -1.0
Name: births_to_adolescents, dtype: float64
806   -1.0
807   -1.0
Name: births_to_adolescents, dtype: float64
533.0
806    533.0
807    533.0
Name: grocery_proximate_units, dtype: float64
806    533.0
807    533.0
Name: grocery_proximate_units, dtype: float64
nan
806   -1.0
807   -1.0
Name: prenatal_care, dtype: float64
806   -1.0
807   -1.0
Name: prenatal_care, dtype: float64
14.0
806    14.0
807    14.0
Name: grocery_proximity, dtype: float64
806    14.0
807    14.0
Name: grocery_proximity, dtype: float64
nan
806   -1.0
807   -1.0
Name: low_birthweight, dtype: float64
806   -1.0
807   -1.0
Name: low_birthweight, dtype: float64
21.0
806    21.0
807    21.0
Name: public_health_insurance, dtype: float64
806    21.0
807    21.0
Name: public_health_insurance, dtype: float64
nan
806   -1.0
807   -1.0
Name: age_of_death, dtype: float64
806   -1.0
807   -1.0
Name: age_of_death, dtype: float64
37.6
806    37.6
807    37.6
Name: impervious_surface, dtype: float64
806    37.6
807    37.6
Name: impervious_surface, dtype: float64
nan
806   -1.0
807   -1.0
Name: water_consumption, dtype: float64
806   -1.0
807   -1.0
Name: water_consumption, dtype: float64
74.0
806    74.0
807    74.0
Name: neighborhood_school_attendance, dtype: float64
806    74.0
807    74.0
Name: neighborhood_school_attendance, dtype: float64
85.0
806    85.0
807    85.0
Name: highschool_graduation_rate, dtype: float64
806    85.0
807    85.0
Name: highschool_graduation_rate, dtype: float64
34.1
806    34.1
807    34.1
Name: proficiency_elementary_school, dtype: float64
806    34.1
807    34.1
Name: proficiency_elementary_school, dtype: float64
26.9
806    26.9
807    26.9
Name: proficiency_middle_school, dtype: float64
806    26.9
807    26.9
Name: proficiency_middle_school, dtype: float64
46.8
806    46.8
807    46.8
Name: proficiency_high_school, dtype: float64
806    46.8
807    46.8
Name: proficiency_high_school, dtype: float64
18.0
806    18.0
807    18.0
Name: student_absenteeism, dtype: float64
806    18.0
807    18.0
Name: student_absenteeism, dtype: float64
284.0
806    284.0
807    284.0
Name: voters_participating, dtype: float64
806    284.0
807    284.0
Name: voters_participating, dtype: float64
nan
806   -1.0
807   -1.0
Name: neighborhood_organizations, dtype: float64
806   -1.0
807   -1.0
Name: neighborhood_organizations, dtype: float64
16.0
806    16.0
807    16.0
Name: voter_participation, dtype: float64
806    16.0
807    16.0
Name: voter_participation, dtype: float64
1.9
806    1.9
807    1.9
Name: vacant_land, dtype: float64
806    1.9
807    1.9
Name: vacant_land, dtype: float64
6.0
806    6.0
807    6.0
Name: population_density, dtype: float64
806    6.0
807    6.0
Name: population_density, dtype: float64
2676.0
806    2676.0
807    2676.0
Name: population, dtype: float64
806    2676.0
807    2676.0
Name: population, dtype: float64
nan
806   -1.0
807   -1.0
Name: transit_ridership, dtype: float64
806   -1.0
807   -1.0
Name: transit_ridership, dtype: float64
1.16
806    1.16
807    1.16
Name: street_connectivity, dtype: float64
806    1.16
807    1.16
Name: street_connectivity, dtype: float64
1.5
806    1.5
807    1.5
Name: bicycle_friendliness, dtype: float64
806    1.5
807    1.5
Name: bicycle_friendliness, dtype: float64
2.9433333333333334
808    2.93
809    2.93
810    2.97
Name: Acres, dtype: float64
808    2.93
809    2.93
810    2.97
Name: Acres, dtype: float64
0.0
808    0.0
809    0.0
810    0.0
Name: births_to_adolescents, dtype: float64
808    0.0
809    0.0
810    0.0
Name: births_to_adolescents, dtype: float64
56.0
808    56.0
809    56.0
810    56.0
Name: grocery_proximate_units, dtype: float64
808    56.0
809    56.0
810    56.0
Name: grocery_proximate_units, dtype: float64
86.1
808    86.1
809    86.1
810    86.1
Name: prenatal_care, dtype: float64
808    86.1
809    86.1
810    86.1
Name: prenatal_care, dtype: float64
9.0
808    9.0
809    9.0
810    9.0
Name: grocery_proximity, dtype: float64
808    9.0
809    9.0
810    9.0
Name: grocery_proximity, dtype: float64
2.3
808    2.3
809    2.3
810    2.3
Name: low_birthweight, dtype: float64
808    2.3
809    2.3
810    2.3
Name: low_birthweight, dtype: float64
3.0
808    3.0
809    3.0
810    3.0
Name: public_health_insurance, dtype: float64
808    3.0
809    3.0
810    3.0
Name: public_health_insurance, dtype: float64
76.0
808    76.0
809    76.0
810    76.0
Name: age_of_death, dtype: float64
808    76.0
809    76.0
810    76.0
Name: age_of_death, dtype: float64
20.599999999999998
808    20.5
809    20.5
810    20.8
Name: impervious_surface, dtype: float64
808    20.5
809    20.5
810    20.8
Name: impervious_surface, dtype: float64
221.0
808    221.0
809    221.0
810    221.0
Name: water_consumption, dtype: float64
808    221.0
809    221.0
810    221.0
Name: water_consumption, dtype: float64
89.27333333333333
808    89.86
809    89.86
810    88.10
Name: neighborhood_school_attendance, dtype: float64
808    89.86
809    89.86
810    88.10
Name: neighborhood_school_attendance, dtype: float64
100.0
808    100.0
809    100.0
810    100.0
Name: highschool_graduation_rate, dtype: float64
808    100.0
809    100.0
810    100.0
Name: highschool_graduation_rate, dtype: float64
85.49825396825395
808    80.952381
809    80.952381
810    94.590000
Name: proficiency_elementary_school, dtype: float64
808    80.952381
809    80.952381
810    94.590000
Name: proficiency_elementary_school, dtype: float64
92.42666666666666
808    94.74
809    94.74
810    87.80
Name: proficiency_middle_school, dtype: float64
808    94.74
809    94.74
810    87.80
Name: proficiency_middle_school, dtype: float64
100.0
808    100.0
809    100.0
810    100.0
Name: proficiency_high_school, dtype: float64
808    100.0
809    100.0
810    100.0
Name: proficiency_high_school, dtype: float64
4.211031175059953
808    4.316547
809    4.316547
810    4.000000
Name: student_absenteeism, dtype: float64
808    4.316547
809    4.316547
810    4.000000
Name: student_absenteeism, dtype: float64
567.6666666666666
808    389.0
809    389.0
810    925.0
Name: voters_participating, dtype: float64
808    389.0
809    389.0
810    925.0
Name: voters_participating, dtype: float64
2.0
808    2.0
809    2.0
810    2.0
Name: neighborhood_organizations, dtype: float64
808    2.0
809    2.0
810    2.0
Name: neighborhood_organizations, dtype: float64
55.333333333333336
808    40.0
809    40.0
810    86.0
Name: voter_participation, dtype: float64
808    40.0
809    40.0
810    86.0
Name: voter_participation, dtype: float64
2.1999999999999997
808    2.5
809    2.5
810    1.6

Name: vacant_land, dtype: float64
808    2.5
809    2.5
810    1.6
Name: vacant_land, dtype: float64
5.0
808    5.0
809    5.0
810    5.0
Name: population_density, dtype: float64
808    5.0
809    5.0
810    5.0
Name: population_density, dtype: float64
1359.3333333333333
808    1362.0
809    1362.0
810    1354.0
Name: population, dtype: float64
808    1362.0
809    1362.0
810    1354.0
Name: population, dtype: float64
9.0
808    9.0
809    9.0
810    9.0
Name: transit_ridership, dtype: float64
808    9.0
809    9.0
810    9.0
Name: transit_ridership, dtype: float64
1.0633333333333335
808    1.07
809    1.07
810    1.05
Name: street_connectivity, dtype: float64
808    1.07
809    1.07
810    1.05
Name: street_connectivity, dtype: float64
1.5666666666666667
808    1.6
809    1.6
810    1.5
Name: bicycle_friendliness, dtype: float64
808    1.6
809    1.6
810    1.5
Name: bicycle_friendliness, dtype: float64
0.83
811    0.83
Name: Acres, dtype: float64
811    0.83
Name: Acres, dtype: float64
nan
811   -1.0
Name: births_to_adolescents, dtype: float64
811   -1.0
Name: births_to_adolescents, dtype: float64
466.0
811    466.0
Name: grocery_proximate_units, dtype: float64
811    466.0
Name: grocery_proximate_units, dtype: float64
nan
811   -1.0
Name: prenatal_care, dtype: float64
811   -1.0
Name: prenatal_care, dtype: float64
0.0
811    0.0
Name: grocery_proximity, dtype: float64
811    0.0
Name: grocery_proximity, dtype: float64
nan
811   -1.0
Name: low_birthweight, dtype: float64
811   -1.0
Name: low_birthweight, dtype: float64
2.0
811    2.0
Name: public_health_insurance, dtype: float64
811    2.0
Name: public_health_insurance, dtype: float64
nan
811   -1.0
Name: age_of_death, dtype: float64
811   -1.0
Name: age_of_death, dtype: float64
15.3
811    15.3
Name: impervious_surface, dtype: float64
811    15.3
Name: impervious_surface, dtype: float64
nan
811   -1.0
Name: water_consumption, dtype: float64
811   -1.0
Name: water_consumption, dtype: float64
93.0
811    93.0
Name: neighborhood_school_attendance, dtype: float64
811    93.0
Name: neighborhood_school_attendance, dtype: float64
100.0
811    100.0
Name: highschool_graduation_rate, dtype: float64
811    100.0
Name: highschool_graduation_rate, dtype: float64
92.5
811    92.5
Name: proficiency_elementary_school, dtype: float64
811    92.5
Name: proficiency_elementary_school, dtype: float64
81.4
811    81.4
Name: proficiency_middle_school, dtype: float64
811    81.4
Name: proficiency_middle_school, dtype: float64
83.3
811    83.3
Name: proficiency_high_school, dtype: float64
811    83.3
Name: proficiency_high_school, dtype: float64
5.0
811    5.0
Name: student_absenteeism, dtype: float64
811    5.0
Name: student_absenteeism, dtype: float64
561.0
811    561.0
Name: voters_participating, dtype: float64
811    561.0
Name: voters_participating, dtype: float64
nan
811   -1.0
Name: neighborhood_organizations, dtype: float64
811   -1.0
Name: neighborhood_organizations, dtype: float64
29.0
811    29.0
Name: voter_participation, dtype: float64
811    29.0
Name: voter_participation, dtype: float64
4.0
811    4.0
Name: vacant_land, dtype: float64
811    4.0
Name: vacant_land, dtype: float64
4.0
811    4.0
Name: population_density, dtype: float64
811    4.0
Name: population_density, dtype: float64
2465.0
811    2465.0
Name: population, dtype: float64
811    2465.0
Name: population, dtype: float64
nan
811   -1.0
Name: transit_ridership, dtype: float64
811   -1.0
Name: transit_ridership, dtype: float64
1.08
811    1.08
Name: street_connectivity, dtype: float64
811    1.08
Name: street_connectivity, dtype: float64
1.4
811    1.4
Name: bicycle_friendliness, dtype: float64
811    1.4
Name: bicycle_friendliness, dtype: float64
2.9033333333333338
812    2.70
813    3.31
814    2.70
Name: Acres, dtype: float64
812    2.70
813    3.31
814    2.70
Name: Acres, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: births_to_adolescents, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: births_to_adolescents, dtype: float64
75.5
812    151.0
813     75.5
814      0.0
Name: grocery_proximate_units, dtype: float64
812    151.0
813     75.5
814      0.0
Name: grocery_proximate_units, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: prenatal_care, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: prenatal_care, dtype: float64
0.0
812    0.0
813    0.0
814    0.0
Name: grocery_proximity, dtype: float64
812    0.0
813    0.0
814    0.0
Name: grocery_proximity, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: low_birthweight, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: low_birthweight, dtype: float64
6.0
812    6.0
813    6.0
814    6.0
Name: public_health_insurance, dtype: float64
812    6.0
813    6.0
814    6.0
Name: public_health_insurance, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: age_of_death, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: age_of_death, dtype: float64
18.8
812    18.8
813    18.8
814    18.8
Name: impervious_surface, dtype: float64
812    18.8
813    18.8
814    18.8
Name: impervious_surface, dtype: float64
125.0
812    125.0
813    125.0
814    125.0
Name: water_consumption, dtype: float64
812    125.0
813    125.0
814    125.0
Name: water_consumption, dtype: float64
89.0
812    89.0
813    89.0
814    89.0
Name: neighborhood_school_attendance, dtype: float64
812    89.0
813    89.0
814    89.0
Name: neighborhood_school_attendance, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: highschool_graduation_rate, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: highschool_graduation_rate, dtype: float64
82.5
812    82.5
813    82.5
814    82.5
Name: proficiency_elementary_school, dtype: float64
812    82.5
813    82.5
814    82.5
Name: proficiency_elementary_school, dtype: float64
65.4
812    65.4
813    65.4
814    65.4
Name: proficiency_middle_school, dtype: float64
812    65.4
813    65.4
814    65.4
Name: proficiency_middle_school, dtype: float64
70.0
812    70.0
813    70.0
814    70.0
Name: proficiency_high_school, dtype: float64
812    70.0
813    70.0
814    70.0
Name: proficiency_high_school, dtype: float64
8.0
812    8.0
813    8.0
814    8.0
Name: student_absenteeism, dtype: float64
812    8.0
813    8.0
814    8.0
Name: student_absenteeism, dtype: float64
290.0
812    160.0
813    290.0
814    420.0
Name: voters_participating, dtype: float64
812    160.0
813    290.0
814    420.0
Name: voters_participating, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: neighborhood_organizations, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: neighborhood_organizations, dtype: float64
46.5
812    23.0
813    46.5
814    70.0
Name: voter_participation, dtype: float64
812    23.0
813    46.5
814    70.0
Name: voter_participation, dtype: float64
11.4
812    11.4
813    11.4
814    11.4
Name: vacant_land, dtype: float64
812    11.4
813    11.4
814    11.4
Name: vacant_land, dtype: float64
3.0
812    3.0
813    3.0
814    3.0
Name: population_density, dtype: float64
812    3.0
813    3.0
814    3.0
Name: population_density, dtype: float64
907.0
812    907.0
813    907.0
814    907.0
Name: population, dtype: float64
812    907.0
813    907.0
814    907.0
Name: population, dtype: float64
nan
812   -1.0
813   -1.0
814   -1.0
Name: transit_ridership, dtype: float64
812   -1.0
813   -1.0
814   -1.0
Name: transit_ridership, dtype: float64
1.22
812    1.22
813    1.22
814    1.22
Name: street_connectivity, dtype: float64
812    1.22
813    1.22
814    1.22
Name: street_connectivity, dtype: float64
1.3
812    1.3
813    1.3
814    1.3
Name: bicycle_friendliness, dtype: float64
812    1.3
813    1.3
814    1.3
Name: bicycle_friendliness, dtype: float64
11.440000000000001
815     4.98
816     5.57
817     5.67
818     4.98
819    36.00
Name: Acres, dtype: float64
815     4.98
816     5.57
817     5.67
818     4.98
819    36.00
Name: Acres, dtype: float64
0.0
815    0.0
816    0.0
817    0.0
818    0.0
819    0.0
Name: births_to_adolescents, dtype: float64
815    0.0
816    0.0
817    0.0
818    0.0
819    0.0
Name: births_to_adolescents, dtype: float64
0.0
815    0.0
816    0.0
817    0.0
818    0.0
819    0.0
Name: grocery_proximate_units, dtype: float64
815    0.0
816    0.0
817    0.0
818    0.0
819    0.0
Name: grocery_proximate_units, dtype: float64
76.89999999999999
815    78.1
816    76.9
817    74.5
818    78.1
819    76.9
Name: prenatal_care, dtype: float64
815    78.1
816    76.9
817    74.5
818    78.1
819    76.9
Name: prenatal_care, dtype: float64
2.2
815     0.0
816     0.0
817     0.0
818     0.0
819    11.0
Name: grocery_proximity, dtype: float64
815     0.0
816     0.0
817     0.0
818     0.0
819    11.0
Name: grocery_proximity, dtype: float64
5.1000000000000005
815    5.5
816    5.1
817    4.3
818    5.5
819    5.1
Name: low_birthweight, dtype: float64
815    5.5
816    5.1
817    4.3
818    5.5
819    5.1
Name: low_birthweight, dtype: float64
4.5
815    4.0
816    6.0
817    4.5
818    4.0
819    4.0
Name: public_health_insurance, dtype: float64
815    4.0
816    6.0
817    4.5
818    4.0
819    4.0
Name: public_health_insurance, dtype: float64
73.66666666666667
815    69.000000
816    73.666667
817    83.000000
818    69.000000
819    73.666667
Name: age_of_death, dtype: float64
815    69.000000
816    73.666667
817    83.000000
818    69.000000
819    73.666667
Name: age_of_death, dtype: float64
22.099999999999998
815    22.1
816    21.9
817    22.0
818    22.1
819    22.4
Name: impervious_surface, dtype: float64
815    22.1
816    21.9
817    22.0
818    22.1
819    22.4
Name: impervious_surface, dtype: float64
195.33333333333334
815    189.000000
816    195.333333
817    208.000000
818    189.000000
819    195.333333
Name: water_consumption, dtype: float64
815    189.000000
816    195.333333
817    208.000000
818    189.000000
819    195.333333
Name: water_consumption, dtype: float64
94.08599999999998
815    94.99
816    93.35
817    94.10
818    94.99
819    93.00
Name: neighborhood_school_attendance, dtype: float64
815    94.99
816    93.35
817    94.10
818    94.99
819    93.00
Name: neighborhood_school_attendance, dtype: float64
96.4
815    96.0
816    98.0
817    94.0
818    96.0
819    98.0

Name: highschool_graduation_rate, dtype: float64
815    96.0
816    98.0
817    94.0
818    96.0
819    98.0
Name: highschool_graduation_rate, dtype: float64
81.692838612368
815    83.589744
816    81.764706
817    81.320000
818    83.589744
819    78.200000
Name: proficiency_elementary_school, dtype: float64
815    83.589744
816    81.764706
817    81.320000
818    83.589744
819    78.200000
Name: proficiency_elementary_school, dtype: float64
78.90290047393367
815    76.777251
816    81.360000
817    78.200000
818    76.777251
819    81.400000
Name: proficiency_middle_school, dtype: float64
815    76.777251
816    81.360000
817    78.200000
818    76.777251
819    81.400000
Name: proficiency_middle_school, dtype: float64
80.10521739130435
815    73.913043
816    75.000000
817    97.700000
818    73.913043
819    80.000000
Name: proficiency_high_school, dtype: float64
815    73.913043
816    75.000000
817    97.700000
818    73.913043
819    80.000000
Name: proficiency_high_school, dtype: float64
3.969662921348315
815    5.118602
816    3.611111
817    2.000000
818    5.118602
819    4.000000
Name: student_absenteeism, dtype: float64
815    5.118602
816    3.611111
817    2.000000
818    5.118602
819    4.000000
Name: student_absenteeism, dtype: float64
851.8
815     848.0
816     338.0
817    1717.0
818     848.0
819     508.0
Name: voters_participating, dtype: float64
815     848.0
816     338.0
817    1717.0
818     848.0
819     508.0
Name: voters_participating, dtype: float64
2.0
815    2.0
816    2.0
817    2.0
818    2.0
819    2.0
Name: neighborhood_organizations, dtype: float64
815    2.0
816    2.0
817    2.0
818    2.0
819    2.0
Name: neighborhood_organizations, dtype: float64
44.2
815    51.0
816    19.0
817    80.0
818    51.0
819    20.0
Name: voter_participation, dtype: float64
815    51.0
816    19.0
817    80.0
818    51.0
819    20.0
Name: voter_participation, dtype: float64
3.2999999999999994
815    3.3
816    3.3
817    3.3
818    3.3
819    3.3
Name: vacant_land, dtype: float64
815    3.3
816    3.3
817    3.3
818    3.3
819    3.3
Name: vacant_land, dtype: float64
6.333333333333333
815    6.333333
816    6.000000
817    6.000000
818    6.333333
819    7.000000
Name: population_density, dtype: float64
815    6.333333
816    6.000000
817    6.000000
818    6.333333
819    7.000000
Name: population_density, dtype: float64
3637.3333333333335
815    3637.333333
816    3472.000000
817    3472.000000
818    3637.333333
819    3968.000000
Name: population, dtype: float64
815    3637.333333
816    3472.000000
817    3472.000000
818    3637.333333
819    3968.000000
Name: population, dtype: float64
nan
815   -1.0
816   -1.0
817   -1.0
818   -1.0
819   -1.0
Name: transit_ridership, dtype: float64
815   -1.0
816   -1.0
817   -1.0
818   -1.0
819   -1.0
Name: transit_ridership, dtype: float64
1.16
815    1.16
816    1.16
817    1.16
818    1.16
819    1.16
Name: street_connectivity, dtype: float64
815    1.16
816    1.16
817    1.16
818    1.16
819    1.16
Name: street_connectivity, dtype: float64
1.5
815    1.5
816    1.5
817    1.5
818    1.5
819    1.5
Name: bicycle_friendliness, dtype: float64
815    1.5
816    1.5
817    1.5
818    1.5
819    1.5
Name: bicycle_friendliness, dtype: float64
49.19166666666666
820    20.60
821    65.70
822    11.75
823    65.70
824    65.70
Name: Acres, dtype: float64
820    20.60
821    65.70
822    11.75
823    65.70
824    65.70
825    65.70
Name: Acres, dtype: float64
0.0
820    0.0
821    0.0
822    0.0
823    0.0
824    0.0
Name: births_to_adolescents, dtype: float64
820    0.0
821    0.0
822    0.0
823    0.0
824    0.0
825    0.0
Name: births_to_adolescents, dtype: float64
553.6666666666666
820    555.0
821    553.0
822    555.0
823    553.0
824    553.0
Name: grocery_proximate_units, dtype: float64
820    555.0
821    553.0
822    555.0
823    553.0
824    553.0
825    553.0
Name: grocery_proximate_units, dtype: float64
77.0
820    77.0
821    77.0
822    77.0
823    77.0
824    77.0
Name: prenatal_care, dtype: float64
820    77.0
821    77.0
822    77.0
823    77.0
824    77.0
825    77.0
Name: prenatal_care, dtype: float64
44.666666666666664
820    44.0
821    45.0
822    44.0
823    45.0
824    45.0
Name: grocery_proximity, dtype: float64
820    44.0
821    45.0
822    44.0
823    45.0
824    45.0
825    45.0
Name: grocery_proximity, dtype: float64
12.2
820    12.2
821    12.2
822    12.2
823    12.2
824    12.2
Name: low_birthweight, dtype: float64
820    12.2
821    12.2
822    12.2
823    12.2
824    12.2
825    12.2
Name: low_birthweight, dtype: float64
11.0
820    11.0
821    11.0
822    11.0
823    11.0
824    11.0
Name: public_health_insurance, dtype: float64
820    11.0
821    11.0
822    11.0
823    11.0
824    11.0
825    11.0
Name: public_health_insurance, dtype: float64
68.0
820    68.0
821    68.0
822    68.0
823    68.0
824    68.0
Name: age_of_death, dtype: float64
820    68.0
821    68.0
822    68.0
823    68.0
824    68.0
825    68.0
Name: age_of_death, dtype: float64
15.333333333333334
820    15.4
821    15.3
822    15.4
823    15.3
824    15.3
Name: impervious_surface, dtype: float64
820    15.4
821    15.3
822    15.4
823    15.3
824    15.3
825    15.3
Name: impervious_surface, dtype: float64
195.0
820    195.0
821    195.0
822    195.0
823    195.0
824    195.0
Name: water_consumption, dtype: float64
820    195.0
821    195.0
822    195.0
823    195.0
824    195.0
825    195.0
Name: water_consumption, dtype: float64
73.13333333333333
820    72.0
821    73.7
822    72.0
823    73.7
824    73.7
Name: neighborhood_school_attendance, dtype: float64
820    72.0
821    73.7
822    72.0
823    73.7
824    73.7
825    73.7
Name: neighborhood_school_attendance, dtype: float64
94.66666666666667
820    94.0
821    95.0
822    94.0
823    95.0
824    95.0
Name: highschool_graduation_rate, dtype: float64
820    94.0
821    95.0
822    94.0
823    95.0
824    95.0
825    95.0
Name: highschool_graduation_rate, dtype: float64
44.873333333333335
820    44.00
821    45.31
822    44.00
823    45.31
824    45.31
Name: proficiency_elementary_school, dtype: float64
820    44.00
821    45.31
822    44.00
823    45.31
824    45.31
825    45.31
Name: proficiency_elementary_school, dtype: float64
55.333333333333336
820    51.2
821    57.4
822    51.2
823    57.4
824    57.4
Name: proficiency_middle_school, dtype: float64
820    51.2
821    57.4
822    51.2
823    57.4
824    57.4
825    57.4
Name: proficiency_middle_school, dtype: float64
58.5
820    59.3
821    58.1
822    59.3
823    58.1
824    58.1
Name: proficiency_high_school, dtype: float64
820    59.3
821    58.1
822    59.3
823    58.1
824    58.1
825    58.1
Name: proficiency_high_school, dtype: float64
6.0
820    6.0
821    6.0
822    6.0
823    6.0
824    6.0
Name: student_absenteeism, dtype: float64
820    6.0
821    6.0
822    6.0
823    6.0
824    6.0
825    6.0
Name: student_absenteeism, dtype: float64
1431.3333333333333
820     654.0
821    1820.0
822     654.0
823    1820.0
824    1820.0
Name: voters_participating, dtype: float64
820     654.0
821    1820.0
822     654.0
823    1820.0
824    1820.0
825    1820.0
Name: voters_participating, dtype: float64
nan
820   -1.0
821   -1.0
822   -1.0
823   -1.0
824   -1.0
Name: neighborhood_organizations, dtype: float64
820   -1.0
821   -1.0
822   -1.0
823   -1.0
824   -1.0
825   -1.0
Name: neighborhood_organizations, dtype: float64
56.666666666666664
820    24.0
821    73.0
822    24.0
823    73.0
824    73.0
Name: voter_participation, dtype: float64
820    24.0
821    73.0
822    24.0
823    73.0
824    73.0
825    73.0
Name: voter_participation, dtype: float64
9.200000000000001
820    9.2
821    9.2
822    9.2
823    9.2
824    9.2
Name: vacant_land, dtype: float64
820    9.2
821    9.2
822    9.2
823    9.2
824    9.2
825    9.2
Name: vacant_land, dtype: float64
5.0
820    5.0
821    5.0
822    5.0
823    5.0
824    5.0
Name: population_density, dtype: float64
820    5.0
821    5.0
822    5.0
823    5.0
824    5.0
825    5.0
Name: population_density, dtype: float64
3909.0
820    3911.0
821    3908.0
822    3911.0
823    3908.0
824    3908.0
Name: population, dtype: float64
820    3911.0
821    3908.0
822    3911.0
823    3908.0
824    3908.0
825    3908.0
Name: population, dtype: float64
nan
820   -1.0
821   -1.0
822   -1.0
823   -1.0
824   -1.0
Name: transit_ridership, dtype: float64
820   -1.0
821   -1.0
822   -1.0
823   -1.0
824   -1.0
825   -1.0

Name: transit_ridership, dtype: float64
1.08
820    1.08
821    1.08
822    1.08
823    1.08
824    1.08
Name: street_connectivity, dtype: float64
820    1.08
821    1.08
822    1.08
823    1.08
824    1.08
825    1.08
Name: street_connectivity, dtype: float64
1.5
820    1.5
821    1.5
822    1.5
823    1.5
824    1.5
Name: bicycle_friendliness, dtype: float64
820    1.5
821    1.5
822    1.5
823    1.5
824    1.5
825    1.5
Name: bicycle_friendliness, dtype: float64
6.953
826    8.914
827    8.500
828    3.650
829    3.310
830    8.430
Name: Acres, dtype: float64
826    8.914
827    8.500
828    3.650
829    3.310
830    8.430
831    8.914
Name: Acres, dtype: float64
1.1
826    1.1
827    1.1
828    1.1
829    1.1
830    1.1
Name: births_to_adolescents, dtype: float64
826    1.1
827    1.1
828    1.1
829    1.1
830    1.1
831    1.1
Name: births_to_adolescents, dtype: float64
529.75
826    549.00
827    529.75
828    535.00
829    486.00
830    529.75
Name: grocery_proximate_units, dtype: float64
826    549.00
827    529.75
828    535.00
829    486.00
830    529.75
831    549.00
Name: grocery_proximate_units, dtype: float64
64.4
826    64.4
827    64.4
828    64.4
829    64.4
830    64.4
Name: prenatal_care, dtype: float64
826    64.4
827    64.4
828    64.4
829    64.4
830    64.4
831    64.4
Name: prenatal_care, dtype: float64
43.25
826    42.00
827    43.25
828    47.00
829    42.00
830    43.25
Name: grocery_proximity, dtype: float64
826    42.00
827    43.25
828    47.00
829    42.00
830    43.25
831    42.00
Name: grocery_proximity, dtype: float64
12.2
826    12.2
827    12.2
828    12.2
829    12.2
830    12.2
Name: low_birthweight, dtype: float64
826    12.2
827    12.2
828    12.2
829    12.2
830    12.2
831    12.2
Name: low_birthweight, dtype: float64
7.0
826    7.0
827    7.0
828    7.0
829    7.0
830    7.0
Name: public_health_insurance, dtype: float64
826    7.0
827    7.0
828    7.0
829    7.0
830    7.0
831    7.0
Name: public_health_insurance, dtype: float64
71.0
826    71.0
827    71.0
828    71.0
829    71.0
830    71.0
Name: age_of_death, dtype: float64
826    71.0
827    71.0
828    71.0
829    71.0
830    71.0
831    71.0
Name: age_of_death, dtype: float64
12.675
826    12.700
827    12.675
828    12.700
829    12.600
830    12.675
Name: impervious_surface, dtype: float64
826    12.700
827    12.675
828    12.700
829    12.600
830    12.675
831    12.700
Name: impervious_surface, dtype: float64
155.5
826    155.5
827    155.5
828    163.0
829    148.0
830    155.5
Name: water_consumption, dtype: float64
826    155.5
827    155.5
828    163.0
829    148.0
830    155.5
831    155.5
Name: water_consumption, dtype: float64
77.03333333333333
826    78.000000
827    77.033333
828    75.100000
829    77.033333
830    77.033333
Name: neighborhood_school_attendance, dtype: float64
826    78.000000
827    77.033333
828    75.100000
829    77.033333
830    77.033333
831    78.000000
Name: neighborhood_school_attendance, dtype: float64
98.0
826     97.0
827     98.0
828    100.0
829     98.0
830     98.0
Name: highschool_graduation_rate, dtype: float64
826     97.0
827     98.0
828    100.0
829     98.0
830     98.0
831     97.0
Name: highschool_graduation_rate, dtype: float64
57.526666666666664
826    55.800000
827    57.526667
828    60.980000
829    57.526667
830    57.526667
Name: proficiency_elementary_school, dtype: float64
826    55.800000
827    57.526667
828    60.980000
829    57.526667
830    57.526667
831    55.800000
Name: proficiency_elementary_school, dtype: float64
40.03333333333334
826    37.200000
827    40.033333
828    45.700000
829    40.033333
830    40.033333
Name: proficiency_middle_school, dtype: float64
826    37.200000
827    40.033333
828    45.700000
829    40.033333
830    40.033333
831    37.200000
Name: proficiency_middle_school, dtype: float64
49.73333333333333
826    52.400000
827    49.733333
828    44.400000
829    49.733333
830    49.733333
Name: proficiency_high_school, dtype: float64
826    52.400000
827    49.733333
828    44.400000
829    49.733333
830    49.733333
831    52.400000
Name: proficiency_high_school, dtype: float64
9.333333333333334
826    10.000000
827     9.333333
828     8.000000
829     9.333333
830     9.333333
Name: student_absenteeism, dtype: float64
826    10.000000
827     9.333333
828     8.000000
829     9.333333
830     9.333333
831    10.000000
Name: student_absenteeism, dtype: float64
800.5
826     471.0
827     800.5
828    1269.0
829     991.0
830     800.5
Name: voters_participating, dtype: float64
826     471.0
827     800.5
828    1269.0
829     991.0
830     800.5
831     471.0
Name: voters_participating, dtype: float64
nan
826   -1.0
827   -1.0
828   -1.0
829   -1.0
830   -1.0
Name: neighborhood_organizations, dtype: float64
826   -1.0
827   -1.0
828   -1.0
829   -1.0
830   -1.0
831   -1.0
Name: neighborhood_organizations, dtype: float64
48.25
826    25.00
827    48.25
828    77.00
829    66.00
830    48.25
Name: voter_participation, dtype: float64
826    25.00
827    48.25
828    77.00
829    66.00
830    48.25
831    25.00
Name: voter_participation, dtype: float64
9.9
826    9.9
827    9.9
828    9.9
829    9.9
830    9.9
Name: vacant_land, dtype: float64
826    9.9
827    9.9
828    9.9
829    9.9
830    9.9
831    9.9
Name: vacant_land, dtype: float64
4.0
826    4.0
827    4.0
828    4.0
829    4.0
830    4.0
Name: population_density, dtype: float64
826    4.0
827    4.0
828    4.0
829    4.0
830    4.0
831    4.0
Name: population_density, dtype: float64
3008.25
826    3009.00
827    3008.25
828    3006.00
829    3009.00
830    3008.25
Name: population, dtype: float64
826    3009.00
827    3008.25
828    3006.00
829    3009.00
830    3008.25
831    3009.00
Name: population, dtype: float64
nan
826   -1.0
827   -1.0
828   -1.0
829   -1.0
830   -1.0
Name: transit_ridership, dtype: float64
826   -1.0
827   -1.0
828   -1.0
829   -1.0
830   -1.0
831   -1.0
Name: transit_ridership, dtype: float64
1.05
826    1.05
827    1.05
828    1.05
829    1.05
830    1.05
Name: street_connectivity, dtype: float64
826    1.05
827    1.05
828    1.05
829    1.05
830    1.05
831    1.05
Name: street_connectivity, dtype: float64
1.675
826    1.700
827    1.675
828    1.600
829    1.700
830    1.675
Name: bicycle_friendliness, dtype: float64
826    1.700
827    1.675
828    1.600
829    1.700
830    1.675
831    1.700
Name: bicycle_friendliness, dtype: float64
34.436
832    23.30
833    23.30
834    15.86
835    15.86
836    93.86
Name: Acres, dtype: float64
832    23.30
833    23.30
834    15.86
835    15.86
836    93.86
Name: Acres, dtype: float64
1.0
832    1.0
833    1.0
834    1.0
835    1.0
836    1.0
Name: births_to_adolescents, dtype: float64
832    1.0
833    1.0
834    1.0
835    1.0
836    1.0
Name: births_to_adolescents, dtype: float64
292.8
832    486.0
833    486.0
834     53.0
835     53.0
836    386.0
Name: grocery_proximate_units, dtype: float64
832    486.0
833    486.0
834     53.0
835     53.0
836    386.0
Name: grocery_proximate_units, dtype: float64
63.4
832    63.4
833    63.4
834    63.4
835    63.4
836    63.4
Name: prenatal_care, dtype: float64
832    63.4
833    63.4
834    63.4
835    63.4
836    63.4
Name: prenatal_care, dtype: float64
18.2
832    27.0
833    27.0
834     5.0
835     5.0
836    27.0
Name: grocery_proximity, dtype: float64
832    27.0
833    27.0
834     5.0
835     5.0
836    27.0
Name: grocery_proximity, dtype: float64
5.9
832    5.9
833    5.9
834    5.9
835    5.9
836    5.9
Name: low_birthweight, dtype: float64
832    5.9
833    5.9
834    5.9
835    5.9
836    5.9
Name: low_birthweight, dtype: float64
13.0
832    13.0
833    13.0
834    13.0
835    13.0
836    13.0
Name: public_health_insurance, dtype: float64
832    13.0
833    13.0
834    13.0
835    13.0
836    13.0
Name: public_health_insurance, dtype: float64
52.0
832    52.0
833    52.0
834    52.0
835    52.0
836    52.0
Name: age_of_death, dtype: float64
832    52.0
833    52.0
834    52.0
835    52.0
836    52.0
Name: age_of_death, dtype: float64
7.6
832    7.8
833    7.8
834    7.3
835    7.3
836    7.8
Name: impervious_surface, dtype: float64
832    7.8
833    7.8
834    7.3
835    7.3
836    7.8
Name: impervious_surface, dtype: float64
140.0
832    140.0
833    140.0
834    142.0
835    142.0
836    136.0
Name: water_consumption, dtype: float64
832    140.0
833    140.0
834    142.0
835    142.0
836    136.0
Name: water_consumption, dtype: float64
69.85
832    71.00
833    71.00
834    68.70
835    68.70
836    69.85
Name: neighborhood_school_attendance, dtype: float64
832    71.00
833    71.00
834    68.70
835    68.70
836    69.85
Name: neighborhood_school_attendance, dtype: float64
90.5
832    93.0
833    93.0
834    88.0
835    88.0
836    90.5
Name: highschool_graduation_rate, dtype: float64
832    93.0
833    93.0
834    88.0
835    88.0
836    90.5
Name: highschool_graduation_rate, dtype: float64
39.68
832    40.00
833    40.00
834    39.36
835    39.36
836    39.68
Name: proficiency_elementary_school, dtype: float64
832    40.00
833    40.00
834    39.36
835    39.36
836    39.68
Name: proficiency_elementary_school, dtype: float64
30.9
832    31.5
833    31.5
834    30.3
835    30.3
836    30.9
Name: proficiency_middle_school, dtype: float64
832    31.5
833    31.5
834    30.3
835    30.3
836    30.9
Name: proficiency_middle_school, dtype: float64
30.099999999999998
832    26.9
833    26.9
834    33.3
835    33.3
836    30.1
Name: proficiency_high_school, dtype: float64
832    26.9
833    26.9
834    33.3
835    33.3
836    30.1
Name: proficiency_high_school, dtype: float64
11.0
832    12.0
833    12.0
834    10.0
835    10.0
836    11.0

Name: student_absenteeism, dtype: float64
832    12.0
833    12.0
834    10.0
835    10.0
836    11.0
Name: student_absenteeism, dtype: float64
851.8
832     298.0
833     298.0
834    1361.0
835    1361.0
836     941.0
Name: voters_participating, dtype: float64
832     298.0
833     298.0
834    1361.0
835    1361.0
836     941.0
Name: voters_participating, dtype: float64
nan
832   -1.0
833   -1.0
834   -1.0
835   -1.0
836   -1.0
Name: neighborhood_organizations, dtype: float64
832   -1.0
833   -1.0
834   -1.0
835   -1.0
836   -1.0
Name: neighborhood_organizations, dtype: float64
43.6
832    14.0
833    14.0
834    68.0
835    68.0
836    54.0
Name: voter_participation, dtype: float64
832    14.0
833    14.0
834    68.0
835    68.0
836    54.0
Name: voter_participation, dtype: float64
36.96
832    36.6
833    36.6
834    37.2
835    37.2
836    37.2
Name: vacant_land, dtype: float64
832    36.6
833    36.6
834    37.2
835    37.2
836    37.2
Name: vacant_land, dtype: float64
2.6
832    3.0
833    3.0
834    2.0
835    2.0
836    3.0
Name: population_density, dtype: float64
832    3.0
833    3.0
834    2.0
835    2.0
836    3.0
Name: population_density, dtype: float64
3464.2
832    3861.0
833    3861.0
834    2859.0
835    2859.0
836    3881.0
Name: population, dtype: float64
832    3861.0
833    3861.0
834    2859.0
835    2859.0
836    3881.0
Name: population, dtype: float64
nan
832   -1.0
833   -1.0
834   -1.0
835   -1.0
836   -1.0
Name: transit_ridership, dtype: float64
832   -1.0
833   -1.0
834   -1.0
835   -1.0
836   -1.0
Name: transit_ridership, dtype: float64
1.05
832    1.05
833    1.05
834    1.05
835    1.05
836    1.05
Name: street_connectivity, dtype: float64
832    1.05
833    1.05
834    1.05
835    1.05
836    1.05
Name: street_connectivity, dtype: float64
1.26
832    1.3
833    1.3
834    1.2
835    1.2
836    1.3
Name: bicycle_friendliness, dtype: float64
832    1.3
833    1.3
834    1.2
835    1.2
836    1.3
Name: bicycle_friendliness, dtype: float64
10.0
837    10.0
838    10.0
Name: Acres, dtype: float64
837    10.0
838    10.0
Name: Acres, dtype: float64
nan
837   -1.0
838   -1.0
Name: births_to_adolescents, dtype: float64
837   -1.0
838   -1.0
Name: births_to_adolescents, dtype: float64
386.0
837    386.0
838    386.0
Name: grocery_proximate_units, dtype: float64
837    386.0
838    386.0
Name: grocery_proximate_units, dtype: float64
nan
837   -1.0
838   -1.0
Name: prenatal_care, dtype: float64
837   -1.0
838   -1.0
Name: prenatal_care, dtype: float64
30.0
837    30.0
838    30.0
Name: grocery_proximity, dtype: float64
837    30.0
838    30.0
Name: grocery_proximity, dtype: float64
nan
837   -1.0
838   -1.0
Name: low_birthweight, dtype: float64
837   -1.0
838   -1.0
Name: low_birthweight, dtype: float64
nan
837   -1.0
838   -1.0
Name: public_health_insurance, dtype: float64
837   -1.0
838   -1.0
Name: public_health_insurance, dtype: float64
nan
837   -1.0
838   -1.0
Name: age_of_death, dtype: float64
837   -1.0
838   -1.0
Name: age_of_death, dtype: float64
7.2
837    7.2
838    7.2
Name: impervious_surface, dtype: float64
837    7.2
838    7.2
Name: impervious_surface, dtype: float64
137.0
837    137.0
838    137.0
Name: water_consumption, dtype: float64
837    137.0
838    137.0
Name: water_consumption, dtype: float64
nan
837   -1.0
838   -1.0
Name: neighborhood_school_attendance, dtype: float64
837   -1.0
838   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
837   -1.0
838   -1.0
Name: highschool_graduation_rate, dtype: float64
837   -1.0
838   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
837   -1.0
838   -1.0
Name: proficiency_elementary_school, dtype: float64
837   -1.0
838   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
837   -1.0
838   -1.0
Name: proficiency_middle_school, dtype: float64
837   -1.0
838   -1.0
Name: proficiency_middle_school, dtype: float64
nan
837   -1.0
838   -1.0
Name: proficiency_high_school, dtype: float64
837   -1.0
838   -1.0
Name: proficiency_high_school, dtype: float64
nan
837   -1.0
838   -1.0
Name: student_absenteeism, dtype: float64
837   -1.0
838   -1.0
Name: student_absenteeism, dtype: float64
1192.0
837    1192.0
838    1192.0
Name: voters_participating, dtype: float64
837    1192.0
838    1192.0
Name: voters_participating, dtype: float64
nan
837   -1.0
838   -1.0
Name: neighborhood_organizations, dtype: float64
837   -1.0
838   -1.0
Name: neighborhood_organizations, dtype: float64
59.0
837    59.0
838    59.0
Name: voter_participation, dtype: float64
837    59.0
838    59.0
Name: voter_participation, dtype: float64
29.7
837    29.7
838    29.7
Name: vacant_land, dtype: float64
837    29.7
838    29.7
Name: vacant_land, dtype: float64
3.0
837    3.0
838    3.0
Name: population_density, dtype: float64
837    3.0
838    3.0
Name: population_density, dtype: float64
3780.0
837    3780.0
838    3780.0
Name: population, dtype: float64
837    3780.0
838    3780.0
Name: population, dtype: float64
nan
837   -1.0
838   -1.0
Name: transit_ridership, dtype: float64
837   -1.0
838   -1.0
Name: transit_ridership, dtype: float64
1.08
837    1.08
838    1.08
Name: street_connectivity, dtype: float64
837    1.08
838    1.08
Name: street_connectivity, dtype: float64
1.2
837    1.2
838    1.2
Name: bicycle_friendliness, dtype: float64
837    1.2
838    1.2
Name: bicycle_friendliness, dtype: float64
2.9194999999999998
839    3.148
840    2.610
841    5.590
842    0.330
Name: Acres, dtype: float64
839    3.148
840    2.610
841    5.590
842    0.330
Name: Acres, dtype: float64
4.6
839    4.6
840    4.6
841    4.6
842    4.6
Name: births_to_adolescents, dtype: float64
839    4.6
840    4.6
841    4.6
842    4.6
Name: births_to_adolescents, dtype: float64
242.66666666666666
839    197.000000
840    214.000000
841    317.000000
842    242.666667
Name: grocery_proximate_units, dtype: float64
839    197.000000
840    214.000000
841    317.000000
842    242.666667
Name: grocery_proximate_units, dtype: float64
40.9
839    40.9
840    40.9
841    40.9
842    40.9
Name: prenatal_care, dtype: float64
839    40.9
840    40.9
841    40.9
842    40.9
Name: prenatal_care, dtype: float64
75.33333333333333
839    71.000000
840    74.000000
841    81.000000
842    75.333333
Name: grocery_proximity, dtype: float64
839    71.000000
840    74.000000
841    81.000000
842    75.333333
Name: grocery_proximity, dtype: float64
18.2
839    18.2
840    18.2
841    18.2
842    18.2
Name: low_birthweight, dtype: float64
839    18.2
840    18.2
841    18.2
842    18.2
Name: low_birthweight, dtype: float64
58.5
839    58.5
840    63.0
841    54.0
842    58.5
Name: public_health_insurance, dtype: float64
839    58.5
840    63.0
841    54.0
842    58.5
Name: public_health_insurance, dtype: float64
59.0
839    59.0
840    59.0
841    59.0
842    59.0
Name: age_of_death, dtype: float64
839    59.0
840    59.0
841    59.0
842    59.0
Name: age_of_death, dtype: float64
33.05
839    33.80
840    32.30
841    33.05
842    33.05
Name: impervious_surface, dtype: float64
839    33.80
840    32.30
841    33.05
842    33.05
Name: impervious_surface, dtype: float64
96.0
839    108.0
840     96.0
841     84.0
842     96.0
Name: water_consumption, dtype: float64
839    108.0
840     96.0
841     84.0
842     96.0
Name: water_consumption, dtype: float64
62.305
839    62.305
840    62.370
841    62.240
842    62.305
Name: neighborhood_school_attendance, dtype: float64
839    62.305
840    62.370
841    62.240
842    62.305
Name: neighborhood_school_attendance, dtype: float64
68.0
839    68.0
840    73.0
841    63.0
842    68.0
Name: highschool_graduation_rate, dtype: float64
839    68.0
840    73.0
841    63.0
842    68.0
Name: highschool_graduation_rate, dtype: float64
19.271290605794547
839    19.271291
840    17.647059
841    20.895522
842    19.271291
Name: proficiency_elementary_school, dtype: float64
839    19.271291
840    17.647059
841    20.895522
842    19.271291
Name: proficiency_elementary_school, dtype: float64
15.692307692307693
839    15.692308
840    16.000000
841    15.384615
842    15.692308
Name: proficiency_middle_school, dtype: float64
839    15.692308
840    16.000000
841    15.384615
842    15.692308
Name: proficiency_middle_school, dtype: float64
23.375714285714285
839    23.375714
840    18.180000
841    28.571429
842    23.375714
Name: proficiency_high_school, dtype: float64
839    23.375714
840    18.180000
841    28.571429
842    23.375714
Name: proficiency_high_school, dtype: float64
27.73027302730273
839    27.730273
840    29.702970
841    25.757576
842    27.730273
Name: student_absenteeism, dtype: float64
839    27.730273
840    29.702970
841    25.757576
842    27.730273
Name: student_absenteeism, dtype: float64
145.33333333333334
839    242.000000
840     32.000000
841    162.000000
842    145.333333

Name: voters_participating, dtype: float64
839    242.000000
840     32.000000
841    162.000000
842    145.333333
Name: voters_participating, dtype: float64
2.5
839    2.5
840    3.0
841    2.0
842    2.5
Name: neighborhood_organizations, dtype: float64
839    2.5
840    3.0
841    2.0
842    2.5
Name: neighborhood_organizations, dtype: float64
21.666666666666668
839    33.000000
840     5.000000
841    27.000000
842    21.666667
Name: voter_participation, dtype: float64
839    33.000000
840     5.000000
841    27.000000
842    21.666667
Name: voter_participation, dtype: float64
6.7
839    6.7
840    6.7
841    6.7
842    6.7
Name: vacant_land, dtype: float64
839    6.7
840    6.7
841    6.7
842    6.7
Name: vacant_land, dtype: float64
2.0
839    2.0
840    2.0
841    2.0
842    2.0
Name: population_density, dtype: float64
839    2.0
840    2.0
841    2.0
842    2.0
Name: population_density, dtype: float64
1255.5
839    1289.0
840    1222.0
841    1255.5
842    1255.5
Name: population, dtype: float64
839    1289.0
840    1222.0
841    1255.5
842    1255.5
Name: population, dtype: float64
87.0
839    87.0
840    86.0
841    88.0
842    87.0
Name: transit_ridership, dtype: float64
839    87.0
840    86.0
841    88.0
842    87.0
Name: transit_ridership, dtype: float64
1.29
839    1.29
840    1.29
841    1.29
842    1.29
Name: street_connectivity, dtype: float64
839    1.29
840    1.29
841    1.29
842    1.29
Name: street_connectivity, dtype: float64
1.5
839    1.5
840    1.5
841    1.5
842    1.5
Name: bicycle_friendliness, dtype: float64
839    1.5
840    1.5
841    1.5
842    1.5
Name: bicycle_friendliness, dtype: float64
2.75
843    2.75
Name: Acres, dtype: float64
843    2.75
Name: Acres, dtype: float64
nan
843   -1.0
Name: births_to_adolescents, dtype: float64
843   -1.0
Name: births_to_adolescents, dtype: float64
0.0
843    0.0
Name: grocery_proximate_units, dtype: float64
843    0.0
Name: grocery_proximate_units, dtype: float64
nan
843   -1.0
Name: prenatal_care, dtype: float64
843   -1.0
Name: prenatal_care, dtype: float64
0.0
843    0.0
Name: grocery_proximity, dtype: float64
843    0.0
Name: grocery_proximity, dtype: float64
nan
843   -1.0
Name: low_birthweight, dtype: float64
843   -1.0
Name: low_birthweight, dtype: float64
nan
843   -1.0
Name: public_health_insurance, dtype: float64
843   -1.0
Name: public_health_insurance, dtype: float64
nan
843   -1.0
Name: age_of_death, dtype: float64
843   -1.0
Name: age_of_death, dtype: float64
21.6
843    21.6
Name: impervious_surface, dtype: float64
843    21.6
Name: impervious_surface, dtype: float64
133.0
843    133.0
Name: water_consumption, dtype: float64
843    133.0
Name: water_consumption, dtype: float64
nan
843   -1.0
Name: neighborhood_school_attendance, dtype: float64
843   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
843   -1.0
Name: highschool_graduation_rate, dtype: float64
843   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
843   -1.0
Name: proficiency_elementary_school, dtype: float64
843   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
843   -1.0
Name: proficiency_middle_school, dtype: float64
843   -1.0
Name: proficiency_middle_school, dtype: float64
nan
843   -1.0
Name: proficiency_high_school, dtype: float64
843   -1.0
Name: proficiency_high_school, dtype: float64
nan
843   -1.0
Name: student_absenteeism, dtype: float64
843   -1.0
Name: student_absenteeism, dtype: float64
1134.0
843    1134.0
Name: voters_participating, dtype: float64
843    1134.0
Name: voters_participating, dtype: float64
nan
843   -1.0
Name: neighborhood_organizations, dtype: float64
843   -1.0
Name: neighborhood_organizations, dtype: float64
57.0
843    57.0
Name: voter_participation, dtype: float64
843    57.0
Name: voter_participation, dtype: float64
6.7
843    6.7
Name: vacant_land, dtype: float64
843    6.7
Name: vacant_land, dtype: float64
3.0
843    3.0
Name: population_density, dtype: float64
843    3.0
Name: population_density, dtype: float64
3746.0
843    3746.0
Name: population, dtype: float64
843    3746.0
Name: population, dtype: float64
nan
843   -1.0
Name: transit_ridership, dtype: float64
843   -1.0
Name: transit_ridership, dtype: float64
1.1
843    1.1
Name: street_connectivity, dtype: float64
843    1.1
Name: street_connectivity, dtype: float64
1.4
843    1.4
Name: bicycle_friendliness, dtype: float64
843    1.4
Name: bicycle_friendliness, dtype: float64
3.21
844    4.30
845    2.12
Name: Acres, dtype: float64
844    4.30
845    2.12
Name: Acres, dtype: float64
nan
844   -1.0
845   -1.0
Name: births_to_adolescents, dtype: float64
844   -1.0
845   -1.0
Name: births_to_adolescents, dtype: float64
0.0
844    0.0
845    0.0
Name: grocery_proximate_units, dtype: float64
844    0.0
845    0.0
Name: grocery_proximate_units, dtype: float64
nan
844   -1.0
845   -1.0
Name: prenatal_care, dtype: float64
844   -1.0
845   -1.0
Name: prenatal_care, dtype: float64
0.0
844    0.0
845    0.0
Name: grocery_proximity, dtype: float64
844    0.0
845    0.0
Name: grocery_proximity, dtype: float64
nan
844   -1.0
845   -1.0
Name: low_birthweight, dtype: float64
844   -1.0
845   -1.0
Name: low_birthweight, dtype: float64
43.0
844    43.0
845    43.0
Name: public_health_insurance, dtype: float64
844    43.0
845    43.0
Name: public_health_insurance, dtype: float64
nan
844   -1.0
845   -1.0
Name: age_of_death, dtype: float64
844   -1.0
845   -1.0
Name: age_of_death, dtype: float64
12.1
844    12.1
845    12.1
Name: impervious_surface, dtype: float64
844    12.1
845    12.1
Name: impervious_surface, dtype: float64
nan
844   -1.0
845   -1.0
Name: water_consumption, dtype: float64
844   -1.0
845   -1.0
Name: water_consumption, dtype: float64
63.0
844    63.0
845    63.0
Name: neighborhood_school_attendance, dtype: float64
844    63.0
845    63.0
Name: neighborhood_school_attendance, dtype: float64
90.0
844    90.0
845    90.0
Name: highschool_graduation_rate, dtype: float64
844    90.0
845    90.0
Name: highschool_graduation_rate, dtype: float64
18.3
844    18.3
845    18.3
Name: proficiency_elementary_school, dtype: float64
844    18.3
845    18.3
Name: proficiency_elementary_school, dtype: float64
24.4
844    24.4
845    24.4
Name: proficiency_middle_school, dtype: float64
844    24.4
845    24.4
Name: proficiency_middle_school, dtype: float64
nan
844   -1.0
845   -1.0
Name: proficiency_high_school, dtype: float64
844   -1.0
845   -1.0
Name: proficiency_high_school, dtype: float64
20.0
844    20.0
845    20.0
Name: student_absenteeism, dtype: float64
844    20.0
845    20.0
Name: student_absenteeism, dtype: float64
77.0
844    77.0
845    77.0
Name: voters_participating, dtype: float64
844    77.0
845    77.0
Name: voters_participating, dtype: float64
nan
844   -1.0
845   -1.0
Name: neighborhood_organizations, dtype: float64
844   -1.0
845   -1.0
Name: neighborhood_organizations, dtype: float64
10.0
844    10.0
845    10.0
Name: voter_participation, dtype: float64
844    10.0
845    10.0
Name: voter_participation, dtype: float64
28.5
844    28.5
845    28.5
Name: vacant_land, dtype: float64
844    28.5
845    28.5
Name: vacant_land, dtype: float64
2.0
844    2.0
845    2.0
Name: population_density, dtype: float64
844    2.0
845    2.0
Name: population_density, dtype: float64
1184.0
844    1184.0
845    1184.0
Name: population, dtype: float64
844    1184.0
845    1184.0
Name: population, dtype: float64
nan
844   -1.0
845   -1.0
Name: transit_ridership, dtype: float64
844   -1.0
845   -1.0
Name: transit_ridership, dtype: float64
1.25
844    1.25
845    1.25
Name: street_connectivity, dtype: float64
844    1.25
845    1.25
Name: street_connectivity, dtype: float64
1.8
844    1.8
845    1.8
Name: bicycle_friendliness, dtype: float64
844    1.8
845    1.8
Name: bicycle_friendliness, dtype: float64
4.41
846    4.41
Name: Acres, dtype: float64
846    4.41
Name: Acres, dtype: float64
nan
846   -1.0
Name: births_to_adolescents, dtype: float64
846   -1.0
Name: births_to_adolescents, dtype: float64
0.0
846    0.0
Name: grocery_proximate_units, dtype: float64
846    0.0
Name: grocery_proximate_units, dtype: float64
nan
846   -1.0
Name: prenatal_care, dtype: float64
846   -1.0
Name: prenatal_care, dtype: float64
0.0
846    0.0
Name: grocery_proximity, dtype: float64
846    0.0
Name: grocery_proximity, dtype: float64
nan
846   -1.0
Name: low_birthweight, dtype: float64
846   -1.0
Name: low_birthweight, dtype: float64
nan
846   -1.0
Name: public_health_insurance, dtype: float64
846   -1.0
Name: public_health_insurance, dtype: float64
nan
846   -1.0
Name: age_of_death, dtype: float64
846   -1.0
Name: age_of_death, dtype: float64
16.5
846    16.5
Name: impervious_surface, dtype: float64
846    16.5
Name: impervious_surface, dtype: float64
135.0
846    135.0
Name: water_consumption, dtype: float64
846    135.0
Name: water_consumption, dtype: float64
nan
846   -1.0
Name: neighborhood_school_attendance, dtype: float64
846   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
846   -1.0
Name: highschool_graduation_rate, dtype: float64
846   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
846   -1.0
Name: proficiency_elementary_school, dtype: float64
846   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
846   -1.0
Name: proficiency_middle_school, dtype: float64
846   -1.0
Name: proficiency_middle_school, dtype: float64
nan
846   -1.0
Name: proficiency_high_school, dtype: float64
846   -1.0
Name: proficiency_high_school, dtype: float64
nan
846   -1.0
Name: student_absenteeism, dtype: float64
846   -1.0
Name: student_absenteeism, dtype: float64
919.0
846    919.0
Name: voters_participating, dtype: float64
846    919.0
Name: voters_participating, dtype: float64
nan
846   -1.0
Name: neighborhood_organizations, dtype: float64
846   -1.0
Name: neighborhood_organizations, dtype: float64
59.0
846    59.0
Name: voter_participation, dtype: float64
846    59.0
Name: voter_participation, dtype: float64
7.0
846    7.0
Name: vacant_land, dtype: float64
846    7.0
Name: vacant_land, dtype: float64
4.0
846    4.0
Name: population_density, dtype: float64
846    4.0
Name: population_density, dtype: float64
2910.0
846    2910.0
Name: population, dtype: float64
846    2910.0
Name: population, dtype: float64
nan
846   -1.0

Name: transit_ridership, dtype: float64
846   -1.0
Name: transit_ridership, dtype: float64
1.13
846    1.13
Name: street_connectivity, dtype: float64
846    1.13
Name: street_connectivity, dtype: float64
1.3
846    1.3
Name: bicycle_friendliness, dtype: float64
846    1.3
Name: bicycle_friendliness, dtype: float64
4.863333333333334
847    6.29
848    4.15
849    4.15
Name: Acres, dtype: float64
847    6.29
848    4.15
849    4.15
Name: Acres, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: births_to_adolescents, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: births_to_adolescents, dtype: float64
223.0
847    223.0
848    223.0
849    223.0
Name: grocery_proximate_units, dtype: float64
847    223.0
848    223.0
849    223.0
Name: grocery_proximate_units, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: prenatal_care, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: prenatal_care, dtype: float64
32.0
847    32.0
848    32.0
849    32.0
Name: grocery_proximity, dtype: float64
847    32.0
848    32.0
849    32.0
Name: grocery_proximity, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: low_birthweight, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: low_birthweight, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: public_health_insurance, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: public_health_insurance, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: age_of_death, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: age_of_death, dtype: float64
16.0
847    16.0
848    16.0
849    16.0
Name: impervious_surface, dtype: float64
847    16.0
848    16.0
849    16.0
Name: impervious_surface, dtype: float64
147.0
847    147.0
848    147.0
849    147.0
Name: water_consumption, dtype: float64
847    147.0
848    147.0
849    147.0
Name: water_consumption, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: neighborhood_school_attendance, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: highschool_graduation_rate, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_elementary_school, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_middle_school, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_middle_school, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_high_school, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: proficiency_high_school, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: student_absenteeism, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: student_absenteeism, dtype: float64
550.0
847    550.0
848    550.0
849    550.0
Name: voters_participating, dtype: float64
847    550.0
848    550.0
849    550.0
Name: voters_participating, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: neighborhood_organizations, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: neighborhood_organizations, dtype: float64
63.0
847    63.0
848    63.0
849    63.0
Name: voter_participation, dtype: float64
847    63.0
848    63.0
849    63.0
Name: voter_participation, dtype: float64
4.9
847    4.9
848    4.9
849    4.9
Name: vacant_land, dtype: float64
847    4.9
848    4.9
849    4.9
Name: vacant_land, dtype: float64
5.0
847    5.0
848    5.0
849    5.0
Name: population_density, dtype: float64
847    5.0
848    5.0
849    5.0
Name: population_density, dtype: float64
1968.0
847    1968.0
848    1968.0
849    1968.0
Name: population, dtype: float64
847    1968.0
848    1968.0
849    1968.0
Name: population, dtype: float64
nan
847   -1.0
848   -1.0
849   -1.0
Name: transit_ridership, dtype: float64
847   -1.0
848   -1.0
849   -1.0
Name: transit_ridership, dtype: float64
1.08
847    1.08
848    1.08
849    1.08
Name: street_connectivity, dtype: float64
847    1.08
848    1.08
849    1.08
Name: street_connectivity, dtype: float64
1.3999999999999997
847    1.4
848    1.4
849    1.4
Name: bicycle_friendliness, dtype: float64
847    1.4
848    1.4
849    1.4
Name: bicycle_friendliness, dtype: float64
2.258521739130434
850    6.76
851    0.74
852    5.71
853    0.24
854    5.71
Name: Acres, dtype: float64
850    6.760
851    0.740
852    5.710
853    0.240
854    5.710
855    1.870
856    0.424
857    1.990
858    1.990
859    4.190
860    1.990
861    1.990
862    6.760
863    1.990
864    3.400
865    0.080
866    1.035
867    0.226
868    0.562
869    0.292
870    0.292
871    0.305
872    3.400
Name: Acres, dtype: float64
0.0
850    0.0
851    0.0
852    0.0
853    0.0
854    0.0
Name: births_to_adolescents, dtype: float64
850    0.0
851    0.0
852    0.0
853    0.0
854    0.0
855    0.0
856    0.0
857    0.0
858    0.0
859    0.0
860    0.0
861    0.0
862    0.0
863    0.0
864    0.0
865    0.0
866    0.0
867    0.0
868    0.0
869    0.0
870    0.0
871    0.0
872    0.0
Name: births_to_adolescents, dtype: float64
521.4347826086956
850    503.0
851    719.0
852    507.0
853    719.0
854    503.0
Name: grocery_proximate_units, dtype: float64
850    503.0
851    719.0
852    507.0
853    719.0
854    503.0
855    507.0
856    507.0
857    503.0
858    503.0
859    503.0
860    503.0
861    503.0
862    507.0
863    503.0
864    485.0
865    491.0
866    507.0
867    507.0
868    507.0
869    507.0
870    507.0
871    507.0
872    485.0
Name: grocery_proximate_units, dtype: float64
83.61111111111111
850    83.300000
851    83.611111
852    83.611111
853    83.611111
854    83.300000
Name: prenatal_care, dtype: float64
850    83.300000
851    83.611111
852    83.611111
853    83.611111
854    83.300000
855    83.611111
856    83.611111
857    83.300000
858    83.300000
859    83.300000
860    83.300000
861    83.300000
862    83.611111
863    83.300000
864    83.611111
865    86.100000
866    83.611111
867    83.611111
868    83.611111
869    83.611111
870    83.611111
871    83.611111
872    83.611111
Name: prenatal_care, dtype: float64
91.78260869565217
850    93.0
851    86.0
852    93.0
853    86.0
854    93.0
Name: grocery_proximity, dtype: float64
850    93.0
851    86.0
852    93.0
853    86.0
854    93.0
855    93.0
856    93.0
857    93.0
858    93.0
859    93.0
860    93.0
861    93.0
862    93.0
863    93.0
864    86.0
865    93.0
866    93.0
867    93.0
868    93.0
869    93.0
870    93.0
871    93.0
872    86.0
Name: grocery_proximity, dtype: float64
13.055555555555554
850    13.300000
851    13.055556
852    13.055556
853    13.055556
854    13.300000
Name: low_birthweight, dtype: float64
850    13.300000
851    13.055556
852    13.055556
853    13.055556
854    13.300000
855    13.055556
856    13.055556
857    13.300000
858    13.300000
859    13.300000
860    13.300000
861    13.300000
862    13.055556
863    13.300000
864    13.055556
865    11.100000
866    13.055556
867    13.055556
868    13.055556
869    13.055556
870    13.055556
871    13.055556
872    13.055556
Name: low_birthweight, dtype: float64
20.8
850    22.0
851    20.8
852    21.0
853    20.8
854    22.0
Name: public_health_insurance, dtype: float64
850    22.0
851    20.8
852    21.0
853    20.8
854    22.0
855    21.0
856    21.0
857    22.0
858    22.0
859    22.0
860    22.0
861    22.0
862    21.0
863    22.0
864    15.0
865    20.8
866    21.0
867    21.0
868    21.0
869    21.0
870    21.0
871    21.0
872    15.0
Name: public_health_insurance, dtype: float64
64.22222222222223
850    64.000000
851    64.222222
852    64.222222
853    64.222222
854    64.000000
Name: age_of_death, dtype: float64
850    64.000000
851    64.222222
852    64.222222
853    64.222222
854    64.000000
855    64.222222
856    64.222222
857    64.000000
858    64.000000
859    64.000000
860    64.000000
861    64.000000
862    64.222222
863    64.000000
864    64.222222
865    66.000000
866    64.222222
867    64.222222
868    64.222222
869    64.222222
870    64.222222
871    64.222222
872    64.222222
Name: age_of_death, dtype: float64
35.03333333333333
850    35.033333
851    36.800000
852    34.500000
853    36.800000
854    35.033333
Name: impervious_surface, dtype: float64
850    35.033333
851    36.800000
852    34.500000
853    36.800000
854    35.033333
855    34.500000
856    34.500000
857    35.033333
858    35.033333
859    35.033333
860    35.033333
861    35.033333
862    34.500000
863    35.033333
864    36.200000
865    34.500000
866    34.500000
867    34.500000
868    34.500000
869    34.500000
870    34.500000
871    34.500000
872    36.200000
Name: impervious_surface, dtype: float64
111.81818181818181
850    109.000000
851    115.000000
852    111.818182
853    115.000000
854    109.000000
Name: water_consumption, dtype: float64
850    109.000000
851    115.000000
852    111.818182
853    115.000000
854    109.000000
855    111.818182
856    111.818182
857    109.000000
858    109.000000
859    109.000000
860    109.000000
861    109.000000
862    111.818182
863    109.000000
864    111.818182
865    128.000000
866    111.818182
867    111.818182
868    111.818182
869    111.818182
870    111.818182
871    111.818182
872    111.818182
Name: water_consumption, dtype: float64
76.35142857142856
850    77.910000
851    76.351429
852    75.270000
853    76.351429
854    77.910000
Name: neighborhood_school_attendance, dtype: float64
850    77.910000
851    76.351429
852    75.270000
853    76.351429
854    77.910000
855    75.270000
856    75.270000
857    77.910000
858    77.910000
859    77.910000
860    77.910000
861    77.910000
862    75.270000
863    77.910000
864    78.000000
865    71.400000
866    75.270000
867    75.270000
868    75.270000
869    75.270000
870    75.270000
871    75.270000
872    78.000000
Name: neighborhood_school_attendance, dtype: float64
72.0
850    86.0
851    72.0
852    63.0
853    72.0
854    86.0
Name: highschool_graduation_rate, dtype: float64
850    86.0
851    72.0
852    63.0
853    72.0
854    86.0
855    63.0
856    63.0
857    86.0
858    86.0
859    86.0
860    86.0
861    86.0
862    63.0
863    86.0
864    72.0
865    50.0
866    63.0
867    63.0
868    63.0
869    63.0
870    63.0
871    63.0
872    72.0
Name: highschool_graduation_rate, dtype: float64
42.68492063492061
850    35.000000
851    42.684921
852    45.833333
853    42.684921
854    35.000000
Name: proficiency_elementary_school, dtype: float64
850    35.000000
851    42.684921
852    45.833333
853    42.684921
854    35.000000
855    45.833333
856    45.833333
857    35.000000
858    35.000000
859    35.000000
860    35.000000
861    35.000000
862    45.833333
863    35.000000
864    56.300000
865    45.450000
866    45.833333
867    45.833333
868    45.833333
869    45.833333
870    45.833333
871    45.833333
872    56.300000
Name: proficiency_elementary_school, dtype: float64
47.00952380952381
850    56.250000
851    47.009524
852    34.480000
853    47.009524
854    56.250000
Name: proficiency_middle_school, dtype: float64
850    56.250000
851    47.009524
852    34.480000
853    47.009524
854    56.250000
855    34.480000
856    34.480000
857    56.250000
858    56.250000
859    56.250000
860    56.250000
861    56.250000
862    34.480000
863    56.250000
864    75.000000
865    42.400000
866    34.480000
867    34.480000
868    34.480000
869    34.480000
870    34.480000
871    34.480000
872    75.000000
Name: proficiency_middle_school, dtype: float64
20.0
850    20.0
851    20.0
852    20.0
853    20.0
854    20.0
Name: proficiency_high_school, dtype: float64
850    20.0
851    20.0
852    20.0
853    20.0
854    20.0
855    20.0
856    20.0
857    20.0
858    20.0
859    20.0
860    20.0
861    20.0
862    20.0
863    20.0
864    20.0
865    20.0
866    20.0
867    20.0
868    20.0
869    20.0
870    20.0
871    20.0
872    20.0
Name: proficiency_high_school, dtype: float64
21.443195890004425
850    18.085106
851    21.443196
852    26.262626
853    21.443196
854    18.085106
Name: student_absenteeism, dtype: float64
850    18.085106
851    21.443196
852    26.262626
853    21.443196
854    18.085106
855    26.262626
856    26.262626
857    18.085106
858    18.085106
859    18.085106
860    18.085106
861    18.085106
862    26.262626
863    18.085106
864     9.000000
865    25.000000
866    26.262626
867    26.262626
868    26.262626
869    26.262626
870    26.262626
871    26.262626
872     9.000000
Name: student_absenteeism, dtype: float64
294.5217391304348
850    338.0
851    556.0
852    168.0
853    556.0
854    338.0
Name: voters_participating, dtype: float64
850    338.0
851    556.0
852    168.0
853    556.0
854    338.0
855    168.0
856    168.0
857    338.0
858    338.0
859    338.0
860    338.0
861    338.0
862    168.0
863    338.0
864    277.0
865    724.0
866    168.0
867    168.0
868    168.0
869    168.0
870    168.0
871    168.0
872    277.0
Name: voters_participating, dtype: float64
3.111111111111111
850    2.000000
851    3.111111
852    4.000000
853    3.111111
854    2.000000
Name: neighborhood_organizations, dtype: float64
850    2.000000
851    3.111111
852    4.000000
853    3.111111
854    2.000000
855    4.000000
856    4.000000
857    2.000000
858    2.000000
859    2.000000
860    2.000000
861    2.000000
862    4.000000
863    2.000000
864    3.111111
865    3.111111
866    4.000000
867    4.000000
868    4.000000
869    4.000000
870    4.000000
871    4.000000
872    3.111111
Name: neighborhood_organizations, dtype: float64
42.08695652173913
850    55.0
851    66.0
852    26.0
853    66.0
854    55.0
Name: voter_participation, dtype: float64
850    55.0
851    66.0
852    26.0
853    66.0
854    55.0
855    26.0
856    26.0
857    55.0
858    55.0
859    55.0
860    55.0
861    55.0
862    26.0
863    55.0
864    28.0
865    80.0
866    26.0
867    26.0
868    26.0
869    26.0
870    26.0
871    26.0
872    28.0
Name: voter_participation, dtype: float64
11.699999999999998
850    11.7
851    11.7
852    11.7
853    11.7
854    11.7
Name: vacant_land, dtype: float64
850    11.7
851    11.7
852    11.7
853    11.7
854    11.7
855    11.7
856    11.7
857    11.7
858    11.7
859    11.7
860    11.7
861    11.7
862    11.7
863    11.7
864    11.7
865    11.7
866    11.7
867    11.7
868    11.7
869    11.7
870    11.7
871    11.7
872    11.7
Name: vacant_land, dtype: float64
5.533333333333333

850    5.533333
851    9.000000
852    5.000000
853    9.000000
854    5.533333
Name: population_density, dtype: float64
850    5.533333
851    9.000000
852    5.000000
853    9.000000
854    5.533333
855    5.000000
856    5.000000
857    5.533333
858    5.533333
859    5.533333
860    5.533333
861    5.533333
862    5.000000
863    5.533333
864    5.000000
865    5.000000
866    5.000000
867    5.000000
868    5.000000
869    5.000000
870    5.000000
871    5.000000
872    5.000000
Name: population_density, dtype: float64
979.0666666666667
850     979.066667
851    1486.000000
852     902.000000
853    1486.000000
854     979.066667
Name: population, dtype: float64
850     979.066667
851    1486.000000
852     902.000000
853    1486.000000
854     979.066667
855     902.000000
856     902.000000
857     979.066667
858     979.066667
859     979.066667
860     979.066667
861     979.066667
862     902.000000
863     979.066667
864     901.000000
865     892.000000
866     902.000000
867     902.000000
868     902.000000
869     902.000000
870     902.000000
871     902.000000
872     901.000000
Name: population, dtype: float64
40.55555555555556
850    35.000000
851    40.555556
852    45.000000
853    40.555556
854    35.000000
Name: transit_ridership, dtype: float64
850    35.000000
851    40.555556
852    45.000000
853    40.555556
854    35.000000
855    45.000000
856    45.000000
857    35.000000
858    35.000000
859    35.000000
860    35.000000
861    35.000000
862    45.000000
863    35.000000
864    40.555556
865    40.555556
866    45.000000
867    45.000000
868    45.000000
869    45.000000
870    45.000000
871    45.000000
872    40.555556
Name: transit_ridership, dtype: float64
1.4400000000000002
850    1.44
851    1.44
852    1.44
853    1.44
854    1.44
Name: street_connectivity, dtype: float64
850    1.44
851    1.44
852    1.44
853    1.44
854    1.44
855    1.44
856    1.44
857    1.44
858    1.44
859    1.44
860    1.44
861    1.44
862    1.44
863    1.44
864    1.44
865    1.44
866    1.44
867    1.44
868    1.44
869    1.44
870    1.44
871    1.44
872    1.44
Name: street_connectivity, dtype: float64
1.8000000000000005
850    1.8
851    1.8
852    1.8
853    1.8
854    1.8
Name: bicycle_friendliness, dtype: float64
850    1.8
851    1.8
852    1.8
853    1.8
854    1.8
855    1.8
856    1.8
857    1.8
858    1.8
859    1.8
860    1.8
861    1.8
862    1.8
863    1.8
864    1.8
865    1.8
866    1.8
867    1.8
868    1.8
869    1.8
870    1.8
871    1.8
872    1.8
Name: bicycle_friendliness, dtype: float64
3.6149999999999998
873    0.42
874    4.68
875    4.68
876    4.68
Name: Acres, dtype: float64
873    0.42
874    4.68
875    4.68
876    4.68
Name: Acres, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: births_to_adolescents, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: births_to_adolescents, dtype: float64
1717.0
873    1648.0
874    1740.0
875    1740.0
876    1740.0
Name: grocery_proximate_units, dtype: float64
873    1648.0
874    1740.0
875    1740.0
876    1740.0
Name: grocery_proximate_units, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: prenatal_care, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: prenatal_care, dtype: float64
99.0
873    99.0
874    99.0
875    99.0
876    99.0
Name: grocery_proximity, dtype: float64
873    99.0
874    99.0
875    99.0
876    99.0
Name: grocery_proximity, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: low_birthweight, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: low_birthweight, dtype: float64
31.0
873    31.0
874    31.0
875    31.0
876    31.0
Name: public_health_insurance, dtype: float64
873    31.0
874    31.0
875    31.0
876    31.0
Name: public_health_insurance, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: age_of_death, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: age_of_death, dtype: float64
25.4
873    25.4
874    25.4
875    25.4
876    25.4
Name: impervious_surface, dtype: float64
873    25.4
874    25.4
875    25.4
876    25.4
Name: impervious_surface, dtype: float64
131.0
873    131.0
874    131.0
875    131.0
876    131.0
Name: water_consumption, dtype: float64
873    131.0
874    131.0
875    131.0
876    131.0
Name: water_consumption, dtype: float64
82.0
873    82.0
874    82.0
875    82.0
876    82.0
Name: neighborhood_school_attendance, dtype: float64
873    82.0
874    82.0
875    82.0
876    82.0
Name: neighborhood_school_attendance, dtype: float64
76.0
873    76.0
874    76.0
875    76.0
876    76.0
Name: highschool_graduation_rate, dtype: float64
873    76.0
874    76.0
875    76.0
876    76.0
Name: highschool_graduation_rate, dtype: float64
22.899999999999995
873    22.9
874    22.9
875    22.9
876    22.9
Name: proficiency_elementary_school, dtype: float64
873    22.9
874    22.9
875    22.9
876    22.9
Name: proficiency_elementary_school, dtype: float64
14.9
873    14.9
874    14.9
875    14.9
876    14.9
Name: proficiency_middle_school, dtype: float64
873    14.9
874    14.9
875    14.9
876    14.9
Name: proficiency_middle_school, dtype: float64
12.0
873    12.0
874    12.0
875    12.0
876    12.0
Name: proficiency_high_school, dtype: float64
873    12.0
874    12.0
875    12.0
876    12.0
Name: proficiency_high_school, dtype: float64
11.0
873    11.0
874    11.0
875    11.0
876    11.0
Name: student_absenteeism, dtype: float64
873    11.0
874    11.0
875    11.0
876    11.0
Name: student_absenteeism, dtype: float64
302.5
873    538.0
874    224.0
875    224.0
876    224.0
Name: voters_participating, dtype: float64
873    538.0
874    224.0
875    224.0
876    224.0
Name: voters_participating, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: neighborhood_organizations, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: neighborhood_organizations, dtype: float64
23.25
873    51.0
874    14.0
875    14.0
876    14.0
Name: voter_participation, dtype: float64
873    51.0
874    14.0
875    14.0
876    14.0
Name: voter_participation, dtype: float64
1.5
873    1.5
874    1.5
875    1.5
876    1.5
Name: vacant_land, dtype: float64
873    1.5
874    1.5
875    1.5
876    1.5
Name: vacant_land, dtype: float64
7.0
873    7.0
874    7.0
875    7.0
876    7.0
Name: population_density, dtype: float64
873    7.0
874    7.0
875    7.0
876    7.0
Name: population_density, dtype: float64
4719.5
873    4532.0
874    4782.0
875    4782.0
876    4782.0
Name: population, dtype: float64
873    4532.0
874    4782.0
875    4782.0
876    4782.0
Name: population, dtype: float64
nan
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: transit_ridership, dtype: float64
873   -1.0
874   -1.0
875   -1.0
876   -1.0
Name: transit_ridership, dtype: float64
1.27
873    1.27
874    1.27
875    1.27
876    1.27
Name: street_connectivity, dtype: float64
873    1.27
874    1.27
875    1.27
876    1.27
Name: street_connectivity, dtype: float64
1.9
873    1.9
874    1.9
875    1.9
876    1.9
Name: bicycle_friendliness, dtype: float64
873    1.9
874    1.9
875    1.9
876    1.9
Name: bicycle_friendliness, dtype: float64
21.627499999999998
877    37.165
878     6.090
Name: Acres, dtype: float64
877    37.165
878     6.090
Name: Acres, dtype: float64
0.0
877    0.0
878    0.0
Name: births_to_adolescents, dtype: float64
877    0.0
878    0.0
Name: births_to_adolescents, dtype: float64
215.0
877    215.0
878    215.0
Name: grocery_proximate_units, dtype: float64
877    215.0
878    215.0
Name: grocery_proximate_units, dtype: float64
76.2
877    76.2
878    76.2
Name: prenatal_care, dtype: float64
877    76.2
878    76.2
Name: prenatal_care, dtype: float64
34.0
877    34.0
878    34.0
Name: grocery_proximity, dtype: float64
877    34.0
878    34.0
Name: grocery_proximity, dtype: float64
4.8
877    4.8
878    4.8
Name: low_birthweight, dtype: float64
877    4.8
878    4.8
Name: low_birthweight, dtype: float64
2.0
877    2.0
878    2.0
Name: public_health_insurance, dtype: float64
877    2.0
878    2.0
Name: public_health_insurance, dtype: float64
66.0
877    66.0
878    66.0
Name: age_of_death, dtype: float64
877    66.0
878    66.0
Name: age_of_death, dtype: float64
nan
877   -1.0
878   -1.0
Name: impervious_surface, dtype: float64
877   -1.0
878   -1.0
Name: impervious_surface, dtype: float64
218.0
877    218.0
878    218.0
Name: water_consumption, dtype: float64
877    218.0
878    218.0
Name: water_consumption, dtype: float64
98.34
877    98.34
878    98.34
Name: neighborhood_school_attendance, dtype: float64
877    98.34
878    98.34
Name: neighborhood_school_attendance, dtype: float64
100.0
877    100.0
878    100.0
Name: highschool_graduation_rate, dtype: float64
877    100.0
878    100.0
Name: highschool_graduation_rate, dtype: float64
75.5813953488372
877    75.581395
878    75.581395
Name: proficiency_elementary_school, dtype: float64
877    75.581395
878    75.581395
Name: proficiency_elementary_school, dtype: float64
77.27272727272727
877    77.272727
878    77.272727
Name: proficiency_middle_school, dtype: float64
877    77.272727
878    77.272727
Name: proficiency_middle_school, dtype: float64
80.0
877    80.0
878    80.0
Name: proficiency_high_school, dtype: float64
877    80.0
878    80.0
Name: proficiency_high_school, dtype: float64
4.076086956521738
877    4.076087
878    4.076087
Name: student_absenteeism, dtype: float64
877    4.076087
878    4.076087
Name: student_absenteeism, dtype: float64
544.0
877    544.0
878    544.0
Name: voters_participating, dtype: float64
877    544.0
878    544.0
Name: voters_participating, dtype: float64
4.0
877    4.0
878    4.0
Name: neighborhood_organizations, dtype: float64
877    4.0
878    4.0
Name: neighborhood_organizations, dtype: float64
56.0
877    56.0
878    56.0
Name: voter_participation, dtype: float64
877    56.0
878    56.0
Name: voter_participation, dtype: float64
nan
877   -1.0
878   -1.0
Name: vacant_land, dtype: float64
877   -1.0
878   -1.0
Name: vacant_land, dtype: float64
nan
877   -1.0
878   -1.0
Name: population_density, dtype: float64
877   -1.0
878   -1.0
Name: population_density, dtype: float64
nan
877   -1.0
878   -1.0
Name: population, dtype: float64
877   -1.0
878   -1.0
Name: population, dtype: float64
nan
877   -1.0
878   -1.0
Name: transit_ridership, dtype: float64
877   -1.0
878   -1.0
Name: transit_ridership, dtype: float64
nan
877   -1.0
878   -1.0
Name: street_connectivity, dtype: float64
877   -1.0
878   -1.0
Name: street_connectivity, dtype: float64
nan
877   -1.0
878   -1.0
Name: bicycle_friendliness, dtype: float64
877   -1.0
878   -1.0
Name: bicycle_friendliness, dtype: float64
1.6959999999999997
879    1.72
880    1.31
881    2.23
882    1.27
883    1.95

Name: Acres, dtype: float64
879    1.72
880    1.31
881    2.23
882    1.27
883    1.95
Name: Acres, dtype: float64
4.8
879    4.8
880    4.8
881    4.8
882    4.8
883    4.8
Name: births_to_adolescents, dtype: float64
879    4.8
880    4.8
881    4.8
882    4.8
883    4.8
Name: births_to_adolescents, dtype: float64
369.6
879    275.0
880    379.0
881    379.0
882    436.0
883    379.0
Name: grocery_proximate_units, dtype: float64
879    275.0
880    379.0
881    379.0
882    436.0
883    379.0
Name: grocery_proximate_units, dtype: float64
57.1
879    57.1
880    57.1
881    57.1
882    57.1
883    57.1
Name: prenatal_care, dtype: float64
879    57.1
880    57.1
881    57.1
882    57.1
883    57.1
Name: prenatal_care, dtype: float64
82.4
879    68.0
880    86.0
881    86.0
882    86.0
883    86.0
Name: grocery_proximity, dtype: float64
879    68.0
880    86.0
881    86.0
882    86.0
883    86.0
Name: grocery_proximity, dtype: float64
0.0
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
Name: low_birthweight, dtype: float64
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
Name: low_birthweight, dtype: float64
4.0
879    4.0
880    4.0
881    4.0
882    4.0
883    4.0
Name: public_health_insurance, dtype: float64
879    4.0
880    4.0
881    4.0
882    4.0
883    4.0
Name: public_health_insurance, dtype: float64
84.0
879    84.0
880    84.0
881    84.0
882    84.0
883    84.0
Name: age_of_death, dtype: float64
879    84.0
880    84.0
881    84.0
882    84.0
883    84.0
Name: age_of_death, dtype: float64
33.8
879    33.8
880    33.9
881    33.9
882    33.5
883    33.9
Name: impervious_surface, dtype: float64
879    33.8
880    33.9
881    33.9
882    33.5
883    33.9
Name: impervious_surface, dtype: float64
214.5
879    207.0
880    214.5
881    214.5
882    222.0
883    214.5
Name: water_consumption, dtype: float64
879    207.0
880    214.5
881    214.5
882    222.0
883    214.5
Name: water_consumption, dtype: float64
86.545
879    91.180
880    85.000
881    85.000
882    86.545
883    85.000
Name: neighborhood_school_attendance, dtype: float64
879    91.180
880    85.000
881    85.000
882    86.545
883    85.000
Name: neighborhood_school_attendance, dtype: float64
100.0
879    100.0
880    100.0
881    100.0
882    100.0
883    100.0
Name: highschool_graduation_rate, dtype: float64
879    100.0
880    100.0
881    100.0
882    100.0
883    100.0
Name: highschool_graduation_rate, dtype: float64
73.52931034482758
879    65.517241
880    76.200000
881    76.200000
882    73.529310
883    76.200000
Name: proficiency_elementary_school, dtype: float64
879    65.517241
880    76.200000
881    76.200000
882    73.529310
883    76.200000
Name: proficiency_elementary_school, dtype: float64
76.14166666666667
879    66.666667
880    79.300000
881    79.300000
882    76.141667
883    79.300000
Name: proficiency_middle_school, dtype: float64
879    66.666667
880    79.300000
881    79.300000
882    76.141667
883    79.300000
Name: proficiency_middle_school, dtype: float64
80.0
879    80.0
880    80.0
881    80.0
882    80.0
883    80.0
Name: proficiency_high_school, dtype: float64
879    80.0
880    80.0
881    80.0
882    80.0
883    80.0
Name: proficiency_high_school, dtype: float64
4.985436893203883
879    1.941748
880    6.000000
881    6.000000
882    4.985437
883    6.000000
Name: student_absenteeism, dtype: float64
879    1.941748
880    6.000000
881    6.000000
882    4.985437
883    6.000000
Name: student_absenteeism, dtype: float64
227.8
879    241.0
880    165.0
881    165.0
882    403.0
883    165.0
Name: voters_participating, dtype: float64
879    241.0
880    165.0
881    165.0
882    403.0
883    165.0
Name: voters_participating, dtype: float64
2.0
879    2.0
880    2.0
881    2.0
882    2.0
883    2.0
Name: neighborhood_organizations, dtype: float64
879    2.0
880    2.0
881    2.0
882    2.0
883    2.0
Name: neighborhood_organizations, dtype: float64
35.4
879    54.0
880    20.0
881    20.0
882    63.0
883    20.0
Name: voter_participation, dtype: float64
879    54.0
880    20.0
881    20.0
882    63.0
883    20.0
Name: voter_participation, dtype: float64
1.5
879    1.5
880    1.5
881    1.5
882    1.5
883    1.5
Name: vacant_land, dtype: float64
879    1.5
880    1.5
881    1.5
882    1.5
883    1.5
Name: vacant_land, dtype: float64
4.0
879    4.0
880    4.0
881    4.0
882    4.0
883    4.0
Name: population_density, dtype: float64
879    4.0
880    4.0
881    4.0
882    4.0
883    4.0
Name: population_density, dtype: float64
1146.0
879    1146.0
880    1146.0
881    1146.0
882    1146.0
883    1146.0
Name: population, dtype: float64
879    1146.0
880    1146.0
881    1146.0
882    1146.0
883    1146.0
Name: population, dtype: float64
57.0
879    57.0
880    57.0
881    57.0
882    57.0
883    57.0
Name: transit_ridership, dtype: float64
879    57.0
880    57.0
881    57.0
882    57.0
883    57.0
Name: transit_ridership, dtype: float64
1.12
879    1.12
880    1.12
881    1.12
882    1.12
883    1.12
Name: street_connectivity, dtype: float64
879    1.12
880    1.12
881    1.12
882    1.12
883    1.12
Name: street_connectivity, dtype: float64
1.2
879    1.2
880    1.2
881    1.2
882    1.2
883    1.2
Name: bicycle_friendliness, dtype: float64
879    1.2
880    1.2
881    1.2
882    1.2
883    1.2
Name: bicycle_friendliness, dtype: float64
49.571666666666665
884     75.00
885    144.00
886      1.10
887      5.73
888     44.00
Name: Acres, dtype: float64
884     75.00
885    144.00
886      1.10
887      5.73
888     44.00
889     27.60
Name: Acres, dtype: float64
nan
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
Name: births_to_adolescents, dtype: float64
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
889   -1.0
Name: births_to_adolescents, dtype: float64
426.0
884    498.0
885    496.0
886     72.0
887    496.0
888    496.0
Name: grocery_proximate_units, dtype: float64
884    498.0
885    496.0
886     72.0
887    496.0
888    496.0
889    498.0
Name: grocery_proximate_units, dtype: float64
nan
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
Name: prenatal_care, dtype: float64
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
889   -1.0
Name: prenatal_care, dtype: float64
25.0
884     6.0
885    44.0
886     6.0
887    44.0
888    44.0
Name: grocery_proximity, dtype: float64
884     6.0
885    44.0
886     6.0
887    44.0
888    44.0
889     6.0
Name: grocery_proximity, dtype: float64
nan
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
Name: low_birthweight, dtype: float64
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
889   -1.0
Name: low_birthweight, dtype: float64
4.6
884    4.0
885    5.0
886    4.6
887    5.0
888    5.0
Name: public_health_insurance, dtype: float64
884    4.0
885    5.0
886    4.6
887    5.0
888    5.0
889    4.0
Name: public_health_insurance, dtype: float64
nan
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
Name: age_of_death, dtype: float64
884   -1.0
885   -1.0
886   -1.0
887   -1.0
888   -1.0
889   -1.0
Name: age_of_death, dtype: float64
15.5
884    15.1
885    15.1
886    17.5
887    15.1
888    15.1
Name: impervious_surface, dtype: float64
884    15.1
885    15.1
886    17.5
887    15.1
888    15.1
889    15.1
Name: impervious_surface, dtype: float64
178.0
884    178.0
885    178.0
886    178.0
887    178.0
888    178.0
Name: water_consumption, dtype: float64
884    178.0
885    178.0
886    178.0
887    178.0
888    178.0
889    178.0
Name: water_consumption, dtype: float64
94.71
884    93.00
885    95.85
886    94.71
887    95.85
888    95.85
Name: neighborhood_school_attendance, dtype: float64
884    93.00
885    95.85
886    94.71
887    95.85
888    95.85
889    93.00
Name: neighborhood_school_attendance, dtype: float64
98.0
884     95.0
885    100.0
886     98.0
887    100.0
888    100.0
Name: highschool_graduation_rate, dtype: float64
884     95.0
885    100.0
886     98.0
887    100.0
888    100.0
889     95.0
Name: highschool_graduation_rate, dtype: float64
87.85674418604653
884    89.700000
885    86.627907
886    87.856744
887    86.627907
888    86.627907
Name: proficiency_elementary_school, dtype: float64
884    89.700000
885    86.627907
886    87.856744
887    86.627907
888    86.627907
889    89.700000
Name: proficiency_elementary_school, dtype: float64
88.304
884    86.900
885    89.240
886    88.304
887    89.240
888    89.240
Name: proficiency_middle_school, dtype: float64
884    86.900
885    89.240
886    88.304
887    89.240
888    89.240
889    86.900
Name: proficiency_middle_school, dtype: float64
79.6
884    86.5
885    75.0
886    79.6
887    75.0
888    75.0
Name: proficiency_high_school, dtype: float64
884    86.5
885    75.0
886    79.6
887    75.0
888    75.0
889    86.5
Name: proficiency_high_school, dtype: float64
3.630456852791878
884    4.000000
885    3.384095
886    3.630457
887    3.384095
888    3.384095
Name: student_absenteeism, dtype: float64
884    4.000000
885    3.384095
886    3.630457
887    3.384095
888    3.384095
889    4.000000
Name: student_absenteeism, dtype: float64
329.5
884    294.0
885    153.0
886    930.0
887    153.0
888    153.0
Name: voters_participating, dtype: float64
884    294.0
885    153.0
886    930.0
887    153.0
888    153.0
889    294.0
Name: voters_participating, dtype: float64
0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    0.0
Name: neighborhood_organizations, dtype: float64
884    0.0
885    0.0
886    0.0
887    0.0
888    0.0
889    0.0
Name: neighborhood_organizations, dtype: float64
21.833333333333332
884    17.0
885    12.0
886    61.0
887    12.0
888    12.0
Name: voter_participation, dtype: float64
884    17.0
885    12.0
886    61.0
887    12.0
888    12.0
889    17.0
Name: voter_participation, dtype: float64
4.466666666666666
884    4.4
885    4.5
886    4.5
887    4.5
888    4.5
Name: vacant_land, dtype: float64
884    4.4
885    4.5
886    4.5
887    4.5
888    4.5
889    4.4
Name: vacant_land, dtype: float64
3.0
884    3.0
885    3.0
886    3.0
887    3.0
888    3.0
Name: population_density, dtype: float64
884    3.0
885    3.0
886    3.0
887    3.0
888    3.0
889    3.0
Name: population_density, dtype: float64
3067.1666666666665
884    3067.0
885    3062.0
886    3083.0
887    3062.0
888    3062.0
Name: population, dtype: float64
884    3067.0
885    3062.0
886    3083.0
887    3062.0
888    3062.0
889    3067.0
Name: population, dtype: float64
105.0
884    105.0
885    105.0
886    105.0
887    105.0
888    105.0
Name: transit_ridership, dtype: float64
884    105.0
885    105.0
886    105.0
887    105.0
888    105.0
889    105.0
Name: transit_ridership, dtype: float64
1.3016666666666667
884    1.34
885    1.27
886    1.32
887    1.27
888    1.27
Name: street_connectivity, dtype: float64
884    1.34
885    1.27
886    1.32
887    1.27
888    1.27
889    1.34
Name: street_connectivity, dtype: float64
1.4000000000000001
884    1.4
885    1.4
886    1.4
887    1.4
888    1.4
Name: bicycle_friendliness, dtype: float64
884    1.4
885    1.4
886    1.4
887    1.4
888    1.4
889    1.4
Name: bicycle_friendliness, dtype: float64
16.5
890    16.5
Name: Acres, dtype: float64
890    16.5
Name: Acres, dtype: float64
3.0
890    3.0
Name: births_to_adolescents, dtype: float64
890    3.0
Name: births_to_adolescents, dtype: float64
0.0
890    0.0
Name: grocery_proximate_units, dtype: float64
890    0.0
Name: grocery_proximate_units, dtype: float64
66.7
890    66.7
Name: prenatal_care, dtype: float64
890    66.7
Name: prenatal_care, dtype: float64
0.0
890    0.0
Name: grocery_proximity, dtype: float64
890    0.0
Name: grocery_proximity, dtype: float64
21.2
890    21.2
Name: low_birthweight, dtype: float64
890    21.2
Name: low_birthweight, dtype: float64
nan
890   -1.0
Name: public_health_insurance, dtype: float64
890   -1.0
Name: public_health_insurance, dtype: float64
57.0
890    57.0
Name: age_of_death, dtype: float64
890    57.0
Name: age_of_death, dtype: float64
18.2
890    18.2
Name: impervious_surface, dtype: float64
890    18.2
Name: impervious_surface, dtype: float64
132.0
890    132.0
Name: water_consumption, dtype: float64
890    132.0
Name: water_consumption, dtype: float64
75.3
890    75.3
Name: neighborhood_school_attendance, dtype: float64
890    75.3
Name: neighborhood_school_attendance, dtype: float64
100.0
890    100.0
Name: highschool_graduation_rate, dtype: float64
890    100.0
Name: highschool_graduation_rate, dtype: float64
25.0

890    25.0
Name: proficiency_elementary_school, dtype: float64
890    25.0
Name: proficiency_elementary_school, dtype: float64
32.1
890    32.1
Name: proficiency_middle_school, dtype: float64
890    32.1
Name: proficiency_middle_school, dtype: float64
37.5
890    37.5
Name: proficiency_high_school, dtype: float64
890    37.5
Name: proficiency_high_school, dtype: float64
18.0
890    18.0
Name: student_absenteeism, dtype: float64
890    18.0
Name: student_absenteeism, dtype: float64
431.0
890    431.0
Name: voters_participating, dtype: float64
890    431.0
Name: voters_participating, dtype: float64
nan
890   -1.0
Name: neighborhood_organizations, dtype: float64
890   -1.0
Name: neighborhood_organizations, dtype: float64
69.0
890    69.0
Name: voter_participation, dtype: float64
890    69.0
Name: voter_participation, dtype: float64
22.8
890    22.8
Name: vacant_land, dtype: float64
890    22.8
Name: vacant_land, dtype: float64
3.0
890    3.0
Name: population_density, dtype: float64
890    3.0
Name: population_density, dtype: float64
1199.0
890    1199.0
Name: population, dtype: float64
890    1199.0
Name: population, dtype: float64
nan
890   -1.0
Name: transit_ridership, dtype: float64
890   -1.0
Name: transit_ridership, dtype: float64
1.05
890    1.05
Name: street_connectivity, dtype: float64
890    1.05
Name: street_connectivity, dtype: float64
1.2
890    1.2
Name: bicycle_friendliness, dtype: float64
890    1.2
Name: bicycle_friendliness, dtype: float64
87.37774074074076
891     24.230
892      3.619
893    117.160
894     48.800
895    264.930
Name: Acres, dtype: float64
891     24.230
892      3.619
893    117.160
894     48.800
895    264.930
896      1.000
897      1.180
898    264.930
899    264.930
900     78.680
901     76.770
902    264.930
903     24.230
904     20.320
905      8.390
906    264.930
907      3.960
908     16.230
909    264.930
910     24.230
911     20.320
912      8.390
913    117.160
914     11.340
915     48.800
916     90.470
917     24.340
Name: Acres, dtype: float64
0.0
891    0.0
892    0.0
893    0.0
894    0.0
895    0.0
Name: births_to_adolescents, dtype: float64
891    0.0
892    0.0
893    0.0
894    0.0
895    0.0
896    0.0
897    0.0
898    0.0
899    0.0
900    0.0
901    0.0
902    0.0
903    0.0
904    0.0
905    0.0
906    0.0
907    0.0
908    0.0
909    0.0
910    0.0
911    0.0
912    0.0
913    0.0
914    0.0
915    0.0
916    0.0
917    0.0
Name: births_to_adolescents, dtype: float64
12.92
891    17.0
892     0.0
893    17.0
894     0.0
895    17.0
Name: grocery_proximate_units, dtype: float64
891    17.00
892     0.00
893    17.00
894     0.00
895    17.00
896    17.00
897    17.00
898    17.00
899    17.00
900    12.92
901     0.00
902    17.00
903    17.00
904     0.00
905    17.00
906    17.00
907    17.00
908    17.00
909    17.00
910    17.00
911     0.00
912    17.00
913    17.00
914    17.00
915     0.00
916    12.92
917    17.00
Name: grocery_proximate_units, dtype: float64
64.49999999999999
891    64.5
892    70.3
893    64.5
894    70.3
895    64.5
Name: prenatal_care, dtype: float64
891    64.5
892    70.3
893    64.5
894    70.3
895    64.5
896    64.5
897    64.5
898    64.5
899    64.5
900    64.5
901    70.3
902    64.5
903    64.5
904    52.9
905    64.5
906    64.5
907    64.5
908    64.5
909    64.5
910    64.5
911    52.9
912    64.5
913    64.5
914    64.5
915    70.3
916    64.5
917    64.5
Name: prenatal_care, dtype: float64
2.28
891    3.0
892    0.0
893    3.0
894    0.0
895    3.0
Name: grocery_proximity, dtype: float64
891    3.00
892    0.00
893    3.00
894    0.00
895    3.00
896    3.00
897    3.00
898    3.00
899    3.00
900    2.28
901    0.00
902    3.00
903    3.00
904    0.00
905    3.00
906    3.00
907    3.00
908    3.00
909    3.00
910    3.00
911    0.00
912    3.00
913    3.00
914    3.00
915    0.00
916    2.28
917    3.00
Name: grocery_proximity, dtype: float64
15.533333333333331
891    15.533333
892    18.900000
893    15.533333
894    18.900000
895    15.533333
Name: low_birthweight, dtype: float64
891    15.533333
892    18.900000
893    15.533333
894    18.900000
895    15.533333
896    15.533333
897    15.533333
898    15.533333
899    15.533333
900    15.533333
901    18.900000
902    15.533333
903    15.533333
904     8.800000
905    15.533333
906    15.533333
907    15.533333
908    15.533333
909    15.533333
910    15.533333
911     8.800000
912    15.533333
913    15.533333
914    15.533333
915    18.900000
916    15.533333
917    15.533333
Name: low_birthweight, dtype: float64
15.4
891    16.0
892    15.4
893    16.0
894    15.4
895    15.4
Name: public_health_insurance, dtype: float64
891    16.0
892    15.4
893    16.0
894    15.4
895    15.4
896    16.0
897    16.0
898    15.4
899    15.4
900    15.4
901    15.4
902    15.4
903    16.0
904    13.0
905    15.4
906    15.4
907    16.0
908    16.0
909    15.4
910    15.4
911    13.0
912    15.4
913    16.0
914    15.4
915    15.4
916    15.4
917    15.4
Name: public_health_insurance, dtype: float64
74.33333333333333
891    74.333333
892    75.000000
893    74.333333
894    75.000000
895    74.333333
Name: age_of_death, dtype: float64
891    74.333333
892    75.000000
893    74.333333
894    75.000000
895    74.333333
896    74.333333
897    74.333333
898    74.333333
899    74.333333
900    74.333333
901    75.000000
902    74.333333
903    74.333333
904    73.000000
905    74.333333
906    74.333333
907    74.333333
908    74.333333
909    74.333333
910    74.333333
911    73.000000
912    74.333333
913    74.333333
914    74.333333
915    75.000000
916    74.333333
917    74.333333
Name: age_of_death, dtype: float64
9.01304347826087
891    8.8
892    8.1
893    8.8
894    8.1
895    9.5
Name: impervious_surface, dtype: float64
891    8.800000
892    8.100000
893    8.800000
894    8.100000
895    9.500000
896    8.800000
897    8.800000
898    9.500000
899    9.500000
900    9.013043
901    8.100000
902    9.500000
903    8.800000
904    9.013043
905    9.500000
906    9.500000
907    8.800000
908    8.800000
909    9.500000
910    9.500000
911    9.013043
912    9.500000
913    8.800000
914    9.500000
915    8.100000
916    9.013043
917    9.500000
Name: impervious_surface, dtype: float64
147.64705882352942
891    147.647059
892    152.000000
893    147.647059
894    152.000000
895    144.000000
Name: water_consumption, dtype: float64
891    147.647059
892    152.000000
893    147.647059
894    152.000000
895    144.000000
896    147.647059
897    147.647059
898    144.000000
899    144.000000
900    147.647059
901    152.000000
902    144.000000
903    147.647059
904    159.000000
905    144.000000
906    144.000000
907    147.647059
908    147.647059
909    144.000000
910    144.000000
911    159.000000
912    144.000000
913    147.647059
914    144.000000
915    152.000000
916    147.647059
917    144.000000
Name: water_consumption, dtype: float64
42.228571428571435
891    41.000000
892    43.700000
893    41.000000
894    43.700000
895    42.228571
Name: neighborhood_school_attendance, dtype: float64
891    41.000000
892    43.700000
893    41.000000
894    43.700000
895    42.228571
896    41.000000
897    41.000000
898    42.228571
899    42.228571
900    42.228571
901    43.700000
902    42.228571
903    41.000000
904    44.200000
905    42.228571
906    42.228571
907    41.000000
908    41.000000
909    42.228571
910    42.228571
911    44.200000
912    42.228571
913    41.000000
914    42.228571
915    43.700000
916    42.228571
917    42.228571
Name: neighborhood_school_attendance, dtype: float64
92.71428571428571
891    97.000000
892    91.000000
893    97.000000
894    91.000000
895    92.714286
Name: highschool_graduation_rate, dtype: float64
891    97.000000
892    91.000000
893    97.000000
894    91.000000
895    92.714286
896    97.000000
897    97.000000
898    92.714286
899    92.714286
900    92.714286
901    91.000000
902    92.714286
903    97.000000
904    79.000000
905    92.714286
906    92.714286
907    97.000000
908    97.000000
909    92.714286
910    92.714286
911    79.000000
912    92.714286
913    97.000000
914    92.714286
915    91.000000
916    92.714286
917    92.714286
Name: highschool_graduation_rate, dtype: float64
43.52327868852459
891    41.900000
892    47.220000
893    41.900000
894    47.220000
895    43.523279
Name: proficiency_elementary_school, dtype: float64
891    41.900000
892    47.220000
893    41.900000
894    47.220000
895    43.523279
896    41.900000
897    41.900000
898    43.523279
899    43.523279
900    43.523279
901    47.220000
902    43.523279
903    41.900000
904    42.622951
905    43.523279
906    43.523279
907    41.900000
908    41.900000
909    43.523279
910    43.523279
911    42.622951
912    43.523279
913    41.900000
914    43.523279
915    47.220000
916    43.523279
917    43.523279
Name: proficiency_elementary_school, dtype: float64
30.35668202764976
891    27.900000
892    31.900000
893    27.900000
894    31.900000
895    30.356682
Name: proficiency_middle_school, dtype: float64
891    27.900000
892    31.900000
893    27.900000
894    31.900000
895    30.356682
896    27.900000
897    27.900000
898    30.356682
899    30.356682
900    30.356682
901    31.900000
902    30.356682
903    27.900000
904    37.096774
905    30.356682
906    30.356682
907    27.900000
908    27.900000
909    30.356682
910    30.356682
911    37.096774
912    30.356682
913    27.900000
914    30.356682
915    31.900000
916    30.356682
917    30.356682
Name: proficiency_middle_school, dtype: float64
32.57478991596639
891    26.30000
892    32.00000
893    26.30000
894    32.00000
895    32.57479
Name: proficiency_high_school, dtype: float64
891    26.300000
892    32.000000
893    26.300000
894    32.000000
895    32.574790
896    26.300000
897    26.300000
898    32.574790
899    32.574790
900    32.574790
901    32.000000
902    32.574790
903    26.300000
904    58.823529
905    32.574790
906    32.574790
907    26.300000
908    26.300000
909    32.574790
910    32.574790
911    58.823529
912    32.574790
913    26.300000
914    32.574790
915    32.000000
916    32.574790
917    32.574790
Name: proficiency_high_school, dtype: float64
6.809357889497262
891    8.000000
892    4.000000
893    8.000000
894    4.000000
895    6.809358
Name: student_absenteeism, dtype: float64
891    8.000000
892    4.000000
893    8.000000
894    4.000000
895    6.809358
896    8.000000
897    8.000000
898    6.809358
899    6.809358
900    6.809358
901    4.000000
902    6.809358
903    8.000000
904    7.665505
905    6.809358
906    6.809358
907    8.000000
908    8.000000
909    6.809358
910    6.809358
911    7.665505
912    6.809358
913    8.000000
914    6.809358
915    4.000000
916    6.809358
917    6.809358
Name: student_absenteeism, dtype: float64
414.4
891    170.0
892    671.0
893    170.0
894    671.0
895    512.0
Name: voters_participating, dtype: float64
891    170.0
892    671.0
893    170.0
894    671.0
895    512.0
896    170.0
897    170.0
898    512.0
899    512.0
900    414.4
901    671.0
902    512.0
903    170.0
904    342.0
905    512.0
906    512.0
907    170.0
908    170.0
909    512.0
910    512.0
911    342.0
912    512.0
913    170.0
914    512.0
915    671.0
916    414.4
917    512.0
Name: voters_participating, dtype: float64
4.0
891    4.0
892    4.0
893    4.0
894    4.0
895    4.0
Name: neighborhood_organizations, dtype: float64
891    4.0
892    4.0
893    4.0
894    4.0
895    4.0
896    4.0
897    4.0
898    4.0
899    4.0
900    4.0
901    4.0
902    4.0
903    4.0
904    4.0
905    4.0
906    4.0
907    4.0
908    4.0
909    4.0
910    4.0
911    4.0
912    4.0
913    4.0
914    4.0
915    4.0
916    4.0
917    4.0
Name: neighborhood_organizations, dtype: float64
47.44
891    15.0
892    77.0
893    15.0
894    77.0
895    60.0
Name: voter_participation, dtype: float64
891    15.00
892    77.00
893    15.00
894    77.00
895    60.00
896    15.00
897    15.00
898    60.00
899    60.00
900    47.44
901    77.00
902    60.00
903    15.00
904    49.00
905    60.00
906    60.00
907    15.00
908    15.00
909    60.00
910    60.00
911    49.00
912    60.00
913    15.00
914    60.00
915    77.00
916    47.44
917    60.00
Name: voter_participation, dtype: float64

48.64782608695655
891    48.6
892    48.6
893    48.6
894    48.6
895    48.7
Name: vacant_land, dtype: float64
891    48.600000
892    48.600000
893    48.600000
894    48.600000
895    48.700000
896    48.600000
897    48.600000
898    48.700000
899    48.700000
900    48.647826
901    48.600000
902    48.700000
903    48.600000
904    48.647826
905    48.700000
906    48.700000
907    48.600000
908    48.600000
909    48.700000
910    48.700000
911    48.647826
912    48.700000
913    48.600000
914    48.700000
915    48.600000
916    48.647826
917    48.700000
Name: vacant_land, dtype: float64
1.0
891    1.0
892    1.0
893    1.0
894    1.0
895    1.0
Name: population_density, dtype: float64
891    1.0
892    1.0
893    1.0
894    1.0
895    1.0
896    1.0
897    1.0
898    1.0
899    1.0
900    1.0
901    1.0
902    1.0
903    1.0
904    1.0
905    1.0
906    1.0
907    1.0
908    1.0
909    1.0
910    1.0
911    1.0
912    1.0
913    1.0
914    1.0
915    1.0
916    1.0
917    1.0
Name: population_density, dtype: float64
1714.0434782608695
891    1722.0
892    1723.0
893    1722.0
894    1723.0
895    1705.0
Name: population, dtype: float64
891    1722.000000
892    1723.000000
893    1722.000000
894    1723.000000
895    1705.000000
896    1722.000000
897    1722.000000
898    1705.000000
899    1705.000000
900    1714.043478
901    1723.000000
902    1705.000000
903    1722.000000
904    1714.043478
905    1705.000000
906    1705.000000
907    1722.000000
908    1722.000000
909    1705.000000
910    1705.000000
911    1714.043478
912    1705.000000
913    1722.000000
914    1705.000000
915    1723.000000
916    1714.043478
917    1705.000000
Name: population, dtype: float64
1.0
891    1.0
892    1.0
893    1.0
894    1.0
895    1.0
Name: transit_ridership, dtype: float64
891    1.0
892    1.0
893    1.0
894    1.0
895    1.0
896    1.0
897    1.0
898    1.0
899    1.0
900    1.0
901    1.0
902    1.0
903    1.0
904    1.0
905    1.0
906    1.0
907    1.0
908    1.0
909    1.0
910    1.0
911    1.0
912    1.0
913    1.0
914    1.0
915    1.0
916    1.0
917    1.0
Name: transit_ridership, dtype: float64
1.1400000000000003
891    1.14
892    1.14
893    1.14
894    1.14
895    1.14
Name: street_connectivity, dtype: float64
891    1.14
892    1.14
893    1.14
894    1.14
895    1.14
896    1.14
897    1.14
898    1.14
899    1.14
900    1.14
901    1.14
902    1.14
903    1.14
904    1.14
905    1.14
906    1.14
907    1.14
908    1.14
909    1.14
910    1.14
911    1.14
912    1.14
913    1.14
914    1.14
915    1.14
916    1.14
917    1.14
Name: street_connectivity, dtype: float64
1.1826086956521735
891    1.2
892    1.1
893    1.2
894    1.1
895    1.2
Name: bicycle_friendliness, dtype: float64
891    1.200000
892    1.100000
893    1.200000
894    1.100000
895    1.200000
896    1.200000
897    1.200000
898    1.200000
899    1.200000
900    1.182609
901    1.100000
902    1.200000
903    1.200000
904    1.182609
905    1.200000
906    1.200000
907    1.200000
908    1.200000
909    1.200000
910    1.200000
911    1.182609
912    1.200000
913    1.200000
914    1.200000
915    1.100000
916    1.182609
917    1.200000
Name: bicycle_friendliness, dtype: float64
10.025
918    14.56
919     4.29
920    11.69
921     1.47
922    13.17
Name: Acres, dtype: float64
918    14.56
919     4.29
920    11.69
921     1.47
922    13.17
923     4.65
924    14.56
925    23.38
926     3.28
927     9.20
Name: Acres, dtype: float64
0.0
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
Name: births_to_adolescents, dtype: float64
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
923    0.0
924    0.0
925    0.0
926    0.0
927    0.0
Name: births_to_adolescents, dtype: float64
0.0
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
Name: grocery_proximate_units, dtype: float64
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
923    0.0
924    0.0
925    0.0
926    0.0
927    0.0
Name: grocery_proximate_units, dtype: float64
74.8
918    74.8
919    74.8
920    74.8
921    74.8
922    74.8
Name: prenatal_care, dtype: float64
918    74.8
919    74.8
920    74.8
921    74.8
922    74.8
923    74.8
924    74.8
925    74.8
926    74.8
927    74.8
Name: prenatal_care, dtype: float64
0.0
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
Name: grocery_proximity, dtype: float64
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
923    0.0
924    0.0
925    0.0
926    0.0
927    0.0
Name: grocery_proximity, dtype: float64
7.0
918    7.0
919    7.0
920    7.0
921    7.0
922    7.0
Name: low_birthweight, dtype: float64
918    7.0
919    7.0
920    7.0
921    7.0
922    7.0
923    7.0
924    7.0
925    7.0
926    7.0
927    7.0
Name: low_birthweight, dtype: float64
6.5
918    7.0
919    5.0
920    6.5
921    6.5
922    6.5
Name: public_health_insurance, dtype: float64
918    7.0
919    5.0
920    6.5
921    6.5
922    6.5
923    6.5
924    7.0
925    7.0
926    6.5
927    6.5
Name: public_health_insurance, dtype: float64
nan
918   -1.0
919   -1.0
920   -1.0
921   -1.0
922   -1.0
Name: age_of_death, dtype: float64
918   -1.0
919   -1.0
920   -1.0
921   -1.0
922   -1.0
923   -1.0
924   -1.0
925   -1.0
926   -1.0
927   -1.0
Name: age_of_death, dtype: float64
19.175
918    19.400
919    18.600
920    18.700
921    19.175
922    19.175
Name: impervious_surface, dtype: float64
918    19.400
919    18.600
920    18.700
921    19.175
922    19.175
923    19.600
924    19.400
925    19.400
926    18.700
927    19.600
Name: impervious_surface, dtype: float64
106.5
918    106.5
919    106.5
920    115.0
921    106.5
922    106.5
Name: water_consumption, dtype: float64
918    106.5
919    106.5
920    115.0
921    106.5
922    106.5
923     98.0
924    106.5
925    106.5
926    115.0
927     98.0
Name: water_consumption, dtype: float64
51.873333333333335
918    55.000000
919    54.840000
920    45.700000
921    51.873333
922    51.873333
Name: neighborhood_school_attendance, dtype: float64
918    55.000000
919    54.840000
920    45.700000
921    51.873333
922    51.873333
923    51.873333
924    55.000000
925    55.000000
926    45.700000
927    51.873333
Name: neighborhood_school_attendance, dtype: float64
64.33333333333333
918    64.333333
919    43.000000
920    75.000000
921    64.333333
922    64.333333
Name: highschool_graduation_rate, dtype: float64
918    64.333333
919    43.000000
920    75.000000
921    64.333333
922    64.333333
923    64.333333
924    64.333333
925    64.333333
926    75.000000
927    64.333333
Name: highschool_graduation_rate, dtype: float64
49.18650793650793
918    52.200000
919    47.619048
920    45.450000
921    49.186508
922    49.186508
Name: proficiency_elementary_school, dtype: float64
918    52.200000
919    47.619048
920    45.450000
921    49.186508
922    49.186508
923    49.186508
924    52.200000
925    52.200000
926    45.450000
927    49.186508
Name: proficiency_elementary_school, dtype: float64
23.996666666666666
918    28.600000
919    18.180000
920    20.000000
921    23.996667
922    23.996667
Name: proficiency_middle_school, dtype: float64
918    28.600000
919    18.180000
920    20.000000
921    23.996667
922    23.996667
923    23.996667
924    28.600000
925    28.600000
926    20.000000
927    23.996667
Name: proficiency_middle_school, dtype: float64
nan
918   -1.0
919   -1.0
920   -1.0
921   -1.0
922   -1.0
Name: proficiency_high_school, dtype: float64
918   -1.0
919   -1.0
920   -1.0
921   -1.0
922   -1.0
923   -1.0
924   -1.0
925   -1.0
926   -1.0
927   -1.0
Name: proficiency_high_school, dtype: float64
13.461538461538467
918    14.000000
919    10.769231
920    14.000000
921    13.461538
922    13.461538
Name: student_absenteeism, dtype: float64
918    14.000000
919    10.769231
920    14.000000
921    13.461538
922    13.461538
923    13.461538
924    14.000000
925    14.000000
926    14.000000
927    13.461538
Name: student_absenteeism, dtype: float64
374.5
918    166.0
919     52.0
920    612.0
921    374.5
922    374.5
Name: voters_participating, dtype: float64
918    166.0
919     52.0
920    612.0
921    374.5
922    374.5
923    611.0
924    166.0
925    166.0
926    612.0
927    611.0
Name: voters_participating, dtype: float64
0.0
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
Name: neighborhood_organizations, dtype: float64
918    0.0
919    0.0
920    0.0
921    0.0
922    0.0
923    0.0
924    0.0
925    0.0
926    0.0
927    0.0
Name: neighborhood_organizations, dtype: float64
37.125
918    13.000
919     8.000
920    71.000
921    37.125
922    37.125
Name: voter_participation, dtype: float64
918    13.000
919     8.000
920    71.000
921    37.125
922    37.125
923    54.000
924    13.000
925    13.000
926    71.000
927    54.000
Name: voter_participation, dtype: float64
16.9125
918    16.9000
919    17.0000
920    16.9000
921    16.9125
922    16.9125
Name: vacant_land, dtype: float64
918    16.9000
919    17.0000
920    16.9000
921    16.9125
922    16.9125
923    16.9000
924    16.9000
925    16.9000
926    16.9000
927    16.9000
Name: vacant_land, dtype: float64
1.0
918    1.0
919    1.0
920    1.0
921    1.0
922    1.0
Name: population_density, dtype: float64
918    1.0
919    1.0
920    1.0
921    1.0
922    1.0
923    1.0
924    1.0
925    1.0
926    1.0
927    1.0
Name: population_density, dtype: float64
2723.375
918    2736.000
919    2431.000
920    2733.000
921    2723.375
922    2723.375
Name: population, dtype: float64
918    2736.000
919    2431.000
920    2733.000
921    2723.375
922    2723.375
923    2841.000
924    2736.000
925    2736.000
926    2733.000
927    2841.000
Name: population, dtype: float64
16.0
918    16.0
919    16.0
920    16.0
921    16.0
922    16.0
Name: transit_ridership, dtype: float64
918    16.0
919    16.0
920    16.0
921    16.0
922    16.0
923    16.0
924    16.0
925    16.0
926    16.0
927    16.0

Name: transit_ridership, dtype: float64
1.21875
918    1.22000
919    1.19000
920    1.20000
921    1.21875
922    1.21875
Name: street_connectivity, dtype: float64
918    1.22000
919    1.19000
920    1.20000
921    1.21875
922    1.21875
923    1.25000
924    1.22000
925    1.22000
926    1.20000
927    1.25000
Name: street_connectivity, dtype: float64
1.3250000000000002
918    1.300
919    1.300
920    1.300
921    1.325
922    1.325
Name: bicycle_friendliness, dtype: float64
918    1.300
919    1.300
920    1.300
921    1.325
922    1.325
923    1.400
924    1.300
925    1.300
926    1.300
927    1.400
Name: bicycle_friendliness, dtype: float64
2.19
928    2.19
929    2.19
Name: Acres, dtype: float64
928    2.19
929    2.19
Name: Acres, dtype: float64
nan
928   -1.0
929   -1.0
Name: births_to_adolescents, dtype: float64
928   -1.0
929   -1.0
Name: births_to_adolescents, dtype: float64
163.0
928    163.0
929    163.0
Name: grocery_proximate_units, dtype: float64
928    163.0
929    163.0
Name: grocery_proximate_units, dtype: float64
nan
928   -1.0
929   -1.0
Name: prenatal_care, dtype: float64
928   -1.0
929   -1.0
Name: prenatal_care, dtype: float64
21.0
928    21.0
929    21.0
Name: grocery_proximity, dtype: float64
928    21.0
929    21.0
Name: grocery_proximity, dtype: float64
nan
928   -1.0
929   -1.0
Name: low_birthweight, dtype: float64
928   -1.0
929   -1.0
Name: low_birthweight, dtype: float64
nan
928   -1.0
929   -1.0
Name: public_health_insurance, dtype: float64
928   -1.0
929   -1.0
Name: public_health_insurance, dtype: float64
nan
928   -1.0
929   -1.0
Name: age_of_death, dtype: float64
928   -1.0
929   -1.0
Name: age_of_death, dtype: float64
18.3
928    18.3
929    18.3
Name: impervious_surface, dtype: float64
928    18.3
929    18.3
Name: impervious_surface, dtype: float64
159.0
928    159.0
929    159.0
Name: water_consumption, dtype: float64
928    159.0
929    159.0
Name: water_consumption, dtype: float64
nan
928   -1.0
929   -1.0
Name: neighborhood_school_attendance, dtype: float64
928   -1.0
929   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
928   -1.0
929   -1.0
Name: highschool_graduation_rate, dtype: float64
928   -1.0
929   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
928   -1.0
929   -1.0
Name: proficiency_elementary_school, dtype: float64
928   -1.0
929   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
928   -1.0
929   -1.0
Name: proficiency_middle_school, dtype: float64
928   -1.0
929   -1.0
Name: proficiency_middle_school, dtype: float64
nan
928   -1.0
929   -1.0
Name: proficiency_high_school, dtype: float64
928   -1.0
929   -1.0
Name: proficiency_high_school, dtype: float64
nan
928   -1.0
929   -1.0
Name: student_absenteeism, dtype: float64
928   -1.0
929   -1.0
Name: student_absenteeism, dtype: float64
955.0
928    955.0
929    955.0
Name: voters_participating, dtype: float64
928    955.0
929    955.0
Name: voters_participating, dtype: float64
nan
928   -1.0
929   -1.0
Name: neighborhood_organizations, dtype: float64
928   -1.0
929   -1.0
Name: neighborhood_organizations, dtype: float64
79.0
928    79.0
929    79.0
Name: voter_participation, dtype: float64
928    79.0
929    79.0
Name: voter_participation, dtype: float64
3.9
928    3.9
929    3.9
Name: vacant_land, dtype: float64
928    3.9
929    3.9
Name: vacant_land, dtype: float64
4.0
928    4.0
929    4.0
Name: population_density, dtype: float64
928    4.0
929    4.0
Name: population_density, dtype: float64
1893.0
928    1893.0
929    1893.0
Name: population, dtype: float64
928    1893.0
929    1893.0
Name: population, dtype: float64
nan
928   -1.0
929   -1.0
Name: transit_ridership, dtype: float64
928   -1.0
929   -1.0
Name: transit_ridership, dtype: float64
1.16
928    1.16
929    1.16
Name: street_connectivity, dtype: float64
928    1.16
929    1.16
Name: street_connectivity, dtype: float64
1.6
928    1.6
929    1.6
Name: bicycle_friendliness, dtype: float64
928    1.6
929    1.6
Name: bicycle_friendliness, dtype: float64
6.7700000000000005
930    4.24
931    9.30
Name: Acres, dtype: float64
930    4.24
931    9.30
Name: Acres, dtype: float64
nan
930   -1.0
931   -1.0
Name: births_to_adolescents, dtype: float64
930   -1.0
931   -1.0
Name: births_to_adolescents, dtype: float64
0.0
930    0.0
931    0.0
Name: grocery_proximate_units, dtype: float64
930    0.0
931    0.0
Name: grocery_proximate_units, dtype: float64
nan
930   -1.0
931   -1.0
Name: prenatal_care, dtype: float64
930   -1.0
931   -1.0
Name: prenatal_care, dtype: float64
0.0
930    0.0
931    0.0
Name: grocery_proximity, dtype: float64
930    0.0
931    0.0
Name: grocery_proximity, dtype: float64
nan
930   -1.0
931   -1.0
Name: low_birthweight, dtype: float64
930   -1.0
931   -1.0
Name: low_birthweight, dtype: float64
33.0
930    33.0
931    33.0
Name: public_health_insurance, dtype: float64
930    33.0
931    33.0
Name: public_health_insurance, dtype: float64
nan
930   -1.0
931   -1.0
Name: age_of_death, dtype: float64
930   -1.0
931   -1.0
Name: age_of_death, dtype: float64
21.549999999999997
930    21.4
931    21.7
Name: impervious_surface, dtype: float64
930    21.4
931    21.7
Name: impervious_surface, dtype: float64
151.0
930    151.0
931    151.0
Name: water_consumption, dtype: float64
930    151.0
931    151.0
Name: water_consumption, dtype: float64
83.19
930    83.19
931    83.19
Name: neighborhood_school_attendance, dtype: float64
930    83.19
931    83.19
Name: neighborhood_school_attendance, dtype: float64
83.0
930    83.0
931    83.0
Name: highschool_graduation_rate, dtype: float64
930    83.0
931    83.0
Name: highschool_graduation_rate, dtype: float64
29.0909090909091
930    29.090909
931    29.090909
Name: proficiency_elementary_school, dtype: float64
930    29.090909
931    29.090909
Name: proficiency_elementary_school, dtype: float64
15.38
930    15.38
931    15.38
Name: proficiency_middle_school, dtype: float64
930    15.38
931    15.38
Name: proficiency_middle_school, dtype: float64
50.0
930    50.0
931    50.0
Name: proficiency_high_school, dtype: float64
930    50.0
931    50.0
Name: proficiency_high_school, dtype: float64
19.672131147541002
930    19.672131
931    19.672131
Name: student_absenteeism, dtype: float64
930    19.672131
931    19.672131
Name: student_absenteeism, dtype: float64
221.0
930     89.0
931    353.0
Name: voters_participating, dtype: float64
930     89.0
931    353.0
Name: voters_participating, dtype: float64
2.0
930    2.0
931    2.0
Name: neighborhood_organizations, dtype: float64
930    2.0
931    2.0
Name: neighborhood_organizations, dtype: float64
34.0
930    16.0
931    52.0
Name: voter_participation, dtype: float64
930    16.0
931    52.0
Name: voter_participation, dtype: float64
12.4
930    12.4
931    12.4
Name: vacant_land, dtype: float64
930    12.4
931    12.4
Name: vacant_land, dtype: float64
5.0
930    5.0
931    5.0
Name: population_density, dtype: float64
930    5.0
931    5.0
Name: population_density, dtype: float64
1493.0
930    1446.0
931    1540.0
Name: population, dtype: float64
930    1446.0
931    1540.0
Name: population, dtype: float64
59.0
930    59.0
931    59.0
Name: transit_ridership, dtype: float64
930    59.0
931    59.0
Name: transit_ridership, dtype: float64
1.11
930    1.11
931    1.11
Name: street_connectivity, dtype: float64
930    1.11
931    1.11
Name: street_connectivity, dtype: float64
1.45
930    1.4
931    1.5
Name: bicycle_friendliness, dtype: float64
930    1.4
931    1.5
Name: bicycle_friendliness, dtype: float64
11.789666666666667
932     9.180
933    20.910
934     5.279
Name: Acres, dtype: float64
932     9.180
933    20.910
934     5.279
Name: Acres, dtype: float64
8.7
932    8.7
933    8.7
934    8.7
Name: births_to_adolescents, dtype: float64
932    8.7
933    8.7
934    8.7
Name: births_to_adolescents, dtype: float64
0.0
932    0.0
933    0.0
934    0.0
Name: grocery_proximate_units, dtype: float64
932    0.0
933    0.0
934    0.0
Name: grocery_proximate_units, dtype: float64
47.8
932    47.8
933    47.8
934    47.8
Name: prenatal_care, dtype: float64
932    47.8
933    47.8
934    47.8
Name: prenatal_care, dtype: float64
0.0
932    0.0
933    0.0
934    0.0
Name: grocery_proximity, dtype: float64
932    0.0
933    0.0
934    0.0
Name: grocery_proximity, dtype: float64
30.4
932    30.4
933    30.4
934    30.4
Name: low_birthweight, dtype: float64
932    30.4
933    30.4
934    30.4
Name: low_birthweight, dtype: float64
39.0
932    36.0
933    42.0
934    39.0
Name: public_health_insurance, dtype: float64
932    36.0
933    42.0
934    39.0
Name: public_health_insurance, dtype: float64
64.0
932    64.0
933    64.0
934    64.0
Name: age_of_death, dtype: float64
932    64.0
933    64.0
934    64.0
Name: age_of_death, dtype: float64
20.45
932    20.45
933    20.20
934    20.70
Name: impervious_surface, dtype: float64
932    20.45
933    20.20
934    20.70
Name: impervious_surface, dtype: float64
130.5
932    136.0
933    130.5
934    125.0
Name: water_consumption, dtype: float64
932    136.0
933    130.5
934    125.0
Name: water_consumption, dtype: float64
75.47
932    69.34
933    81.60
934    75.47
Name: neighborhood_school_attendance, dtype: float64
932    69.34
933    81.60
934    75.47
Name: neighborhood_school_attendance, dtype: float64
76.0
932    88.0
933    64.0
934    76.0
Name: highschool_graduation_rate, dtype: float64
932    88.0
933    64.0
934    76.0
Name: highschool_graduation_rate, dtype: float64
20.054945054945065
932    11.538462
933    28.571429
934    20.054945
Name: proficiency_elementary_school, dtype: float64
932    11.538462
933    28.571429
934    20.054945
Name: proficiency_elementary_school, dtype: float64
10.666666666666668
932    13.333333
933     8.000000
934    10.666667
Name: proficiency_middle_school, dtype: float64
932    13.333333
933     8.000000
934    10.666667
Name: proficiency_middle_school, dtype: float64

10.71642857142857
932     7.142857
933    14.290000
934    10.716429
Name: proficiency_high_school, dtype: float64
932     7.142857
933    14.290000
934    10.716429
Name: proficiency_high_school, dtype: float64
24.015503875969
932    24.000000
933    24.031008
934    24.015504
Name: student_absenteeism, dtype: float64
932    24.000000
933    24.031008
934    24.015504
Name: student_absenteeism, dtype: float64
219.0
932    269.0
933     98.0
934    290.0
Name: voters_participating, dtype: float64
932    269.0
933     98.0
934    290.0
Name: voters_participating, dtype: float64
2.0
932    2.0
933    2.0
934    2.0
Name: neighborhood_organizations, dtype: float64
932    2.0
933    2.0
934    2.0
Name: neighborhood_organizations, dtype: float64
43.666666666666664
932    51.0
933    19.0
934    61.0
Name: voter_participation, dtype: float64
932    51.0
933    19.0
934    61.0
Name: voter_participation, dtype: float64
5.9
932    5.9
933    5.9
934    5.9
Name: vacant_land, dtype: float64
932    5.9
933    5.9
934    5.9
Name: vacant_land, dtype: float64
4.0
932    4.0
933    4.0
934    4.0
Name: population_density, dtype: float64
932    4.0
933    4.0
934    4.0
Name: population_density, dtype: float64
785.0
932    785.0
933    779.0
934    791.0
Name: population, dtype: float64
932    785.0
933    779.0
934    791.0
Name: population, dtype: float64
36.5
932    37.0
933    36.0
934    36.5
Name: transit_ridership, dtype: float64
932    37.0
933    36.0
934    36.5
Name: transit_ridership, dtype: float64
1.26
932    1.26
933    1.26
934    1.26
Name: street_connectivity, dtype: float64
932    1.26
933    1.26
934    1.26
Name: street_connectivity, dtype: float64
1.5
932    1.5
933    1.5
934    1.5
Name: bicycle_friendliness, dtype: float64
932    1.5
933    1.5
934    1.5
Name: bicycle_friendliness, dtype: float64
5.3226
935    5.3226
936    5.3226
Name: Acres, dtype: float64
935    5.3226
936    5.3226
Name: Acres, dtype: float64
nan
935   -1.0
936   -1.0
Name: births_to_adolescents, dtype: float64
935   -1.0
936   -1.0
Name: births_to_adolescents, dtype: float64
nan
935   -1.0
936   -1.0
Name: grocery_proximate_units, dtype: float64
935   -1.0
936   -1.0
Name: grocery_proximate_units, dtype: float64
nan
935   -1.0
936   -1.0
Name: prenatal_care, dtype: float64
935   -1.0
936   -1.0
Name: prenatal_care, dtype: float64
nan
935   -1.0
936   -1.0
Name: grocery_proximity, dtype: float64
935   -1.0
936   -1.0
Name: grocery_proximity, dtype: float64
nan
935   -1.0
936   -1.0
Name: low_birthweight, dtype: float64
935   -1.0
936   -1.0
Name: low_birthweight, dtype: float64
nan
935   -1.0
936   -1.0
Name: public_health_insurance, dtype: float64
935   -1.0
936   -1.0
Name: public_health_insurance, dtype: float64
nan
935   -1.0
936   -1.0
Name: age_of_death, dtype: float64
935   -1.0
936   -1.0
Name: age_of_death, dtype: float64
nan
935   -1.0
936   -1.0
Name: impervious_surface, dtype: float64
935   -1.0
936   -1.0
Name: impervious_surface, dtype: float64
nan
935   -1.0
936   -1.0
Name: water_consumption, dtype: float64
935   -1.0
936   -1.0
Name: water_consumption, dtype: float64
nan
935   -1.0
936   -1.0
Name: neighborhood_school_attendance, dtype: float64
935   -1.0
936   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
935   -1.0
936   -1.0
Name: highschool_graduation_rate, dtype: float64
935   -1.0
936   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
935   -1.0
936   -1.0
Name: proficiency_elementary_school, dtype: float64
935   -1.0
936   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
935   -1.0
936   -1.0
Name: proficiency_middle_school, dtype: float64
935   -1.0
936   -1.0
Name: proficiency_middle_school, dtype: float64
nan
935   -1.0
936   -1.0
Name: proficiency_high_school, dtype: float64
935   -1.0
936   -1.0
Name: proficiency_high_school, dtype: float64
nan
935   -1.0
936   -1.0
Name: student_absenteeism, dtype: float64
935   -1.0
936   -1.0
Name: student_absenteeism, dtype: float64
nan
935   -1.0
936   -1.0
Name: voters_participating, dtype: float64
935   -1.0
936   -1.0
Name: voters_participating, dtype: float64
nan
935   -1.0
936   -1.0
Name: neighborhood_organizations, dtype: float64
935   -1.0
936   -1.0
Name: neighborhood_organizations, dtype: float64
nan
935   -1.0
936   -1.0
Name: voter_participation, dtype: float64
935   -1.0
936   -1.0
Name: voter_participation, dtype: float64
nan
935   -1.0
936   -1.0
Name: vacant_land, dtype: float64
935   -1.0
936   -1.0
Name: vacant_land, dtype: float64
nan
935   -1.0
936   -1.0
Name: population_density, dtype: float64
935   -1.0
936   -1.0
Name: population_density, dtype: float64
nan
935   -1.0
936   -1.0
Name: population, dtype: float64
935   -1.0
936   -1.0
Name: population, dtype: float64
nan
935   -1.0
936   -1.0
Name: transit_ridership, dtype: float64
935   -1.0
936   -1.0
Name: transit_ridership, dtype: float64
nan
935   -1.0
936   -1.0
Name: street_connectivity, dtype: float64
935   -1.0
936   -1.0
Name: street_connectivity, dtype: float64
nan
935   -1.0
936   -1.0
Name: bicycle_friendliness, dtype: float64
935   -1.0
936   -1.0
Name: bicycle_friendliness, dtype: float64
6.425000000000001
937     2.22
938    10.63
Name: Acres, dtype: float64
937     2.22
938    10.63
Name: Acres, dtype: float64
nan
937   -1.0
938   -1.0
Name: births_to_adolescents, dtype: float64
937   -1.0
938   -1.0
Name: births_to_adolescents, dtype: float64
296.0
937    296.0
938    296.0
Name: grocery_proximate_units, dtype: float64
937    296.0
938    296.0
Name: grocery_proximate_units, dtype: float64
nan
937   -1.0
938   -1.0
Name: prenatal_care, dtype: float64
937   -1.0
938   -1.0
Name: prenatal_care, dtype: float64
73.0
937    73.0
938    73.0
Name: grocery_proximity, dtype: float64
937    73.0
938    73.0
Name: grocery_proximity, dtype: float64
nan
937   -1.0
938   -1.0
Name: low_birthweight, dtype: float64
937   -1.0
938   -1.0
Name: low_birthweight, dtype: float64
nan
937   -1.0
938   -1.0
Name: public_health_insurance, dtype: float64
937   -1.0
938   -1.0
Name: public_health_insurance, dtype: float64
nan
937   -1.0
938   -1.0
Name: age_of_death, dtype: float64
937   -1.0
938   -1.0
Name: age_of_death, dtype: float64
28.5
937    28.5
938    28.5
Name: impervious_surface, dtype: float64
937    28.5
938    28.5
Name: impervious_surface, dtype: float64
202.0
937    202.0
938    202.0
Name: water_consumption, dtype: float64
937    202.0
938    202.0
Name: water_consumption, dtype: float64
nan
937   -1.0
938   -1.0
Name: neighborhood_school_attendance, dtype: float64
937   -1.0
938   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
937   -1.0
938   -1.0
Name: highschool_graduation_rate, dtype: float64
937   -1.0
938   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
937   -1.0
938   -1.0
Name: proficiency_elementary_school, dtype: float64
937   -1.0
938   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
937   -1.0
938   -1.0
Name: proficiency_middle_school, dtype: float64
937   -1.0
938   -1.0
Name: proficiency_middle_school, dtype: float64
nan
937   -1.0
938   -1.0
Name: proficiency_high_school, dtype: float64
937   -1.0
938   -1.0
Name: proficiency_high_school, dtype: float64
nan
937   -1.0
938   -1.0
Name: student_absenteeism, dtype: float64
937   -1.0
938   -1.0
Name: student_absenteeism, dtype: float64
406.0
937    406.0
938    406.0
Name: voters_participating, dtype: float64
937    406.0
938    406.0
Name: voters_participating, dtype: float64
nan
937   -1.0
938   -1.0
Name: neighborhood_organizations, dtype: float64
937   -1.0
938   -1.0
Name: neighborhood_organizations, dtype: float64
65.0
937    65.0
938    65.0
Name: voter_participation, dtype: float64
937    65.0
938    65.0
Name: voter_participation, dtype: float64
0.9
937    0.9
938    0.9
Name: vacant_land, dtype: float64
937    0.9
938    0.9
Name: vacant_land, dtype: float64
6.0
937    6.0
938    6.0
Name: population_density, dtype: float64
937    6.0
938    6.0
Name: population_density, dtype: float64
1004.0
937    1004.0
938    1004.0
Name: population, dtype: float64
937    1004.0
938    1004.0
Name: population, dtype: float64
nan
937   -1.0
938   -1.0
Name: transit_ridership, dtype: float64
937   -1.0
938   -1.0
Name: transit_ridership, dtype: float64
1.07
937    1.07
938    1.07
Name: street_connectivity, dtype: float64
937    1.07
938    1.07
Name: street_connectivity, dtype: float64
1.3
937    1.3
938    1.3
Name: bicycle_friendliness, dtype: float64
937    1.3
938    1.3
Name: bicycle_friendliness, dtype: float64
14.922142857142857
939     4.350
940    18.950
941    40.425
942     4.280
943     4.280
Name: Acres, dtype: float64
939     4.350
940    18.950
941    40.425
942     4.280
943     4.280
944    13.220
945    18.950
Name: Acres, dtype: float64
nan
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
Name: births_to_adolescents, dtype: float64
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
944   -1.0
945   -1.0
Name: births_to_adolescents, dtype: float64
589.1666666666666
939    426.000000
940    658.000000
941    589.166667
942    658.000000
943    658.000000
Name: grocery_proximate_units, dtype: float64
939    426.000000
940    658.000000
941    589.166667
942    658.000000
943    658.000000
944    477.000000
945    658.000000
Name: grocery_proximate_units, dtype: float64
nan
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
Name: prenatal_care, dtype: float64
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
944   -1.0
945   -1.0
Name: prenatal_care, dtype: float64
81.66666666666667
939    85.000000
940    85.000000
941    81.666667
942    85.000000
943    85.000000
Name: grocery_proximity, dtype: float64
939    85.000000
940    85.000000
941    81.666667
942    85.000000
943    85.000000
944    65.000000
945    85.000000
Name: grocery_proximity, dtype: float64
nan
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
Name: low_birthweight, dtype: float64
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
944   -1.0
945   -1.0
Name: low_birthweight, dtype: float64
4.5
939    4.0
940    4.5
941    4.5
942    4.5
943    4.5
Name: public_health_insurance, dtype: float64
939    4.0
940    4.5
941    4.5
942    4.5
943    4.5
944    5.0
945    4.5
Name: public_health_insurance, dtype: float64
nan
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
Name: age_of_death, dtype: float64
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
944   -1.0
945   -1.0
Name: age_of_death, dtype: float64
15.35
939    14.90
940    16.00
941    15.35
942    16.00
943    16.00
Name: impervious_surface, dtype: float64
939    14.90
940    16.00
941    15.35
942    16.00
943    16.00
944    13.20
945    16.00
Name: impervious_surface, dtype: float64
197.0
939    197.0
940    197.0
941    197.0
942    197.0
943    197.0
Name: water_consumption, dtype: float64
939    197.0
940    197.0
941    197.0
942    197.0
943    197.0
944    197.0
945    197.0
Name: water_consumption, dtype: float64
92.35
939    91.00
940    92.35
941    92.35
942    92.35
943    92.35
Name: neighborhood_school_attendance, dtype: float64
939    91.00
940    92.35
941    92.35
942    92.35
943    92.35
944    93.70
945    92.35
Name: neighborhood_school_attendance, dtype: float64
95.0
939    96.0
940    95.0
941    95.0
942    95.0
943    95.0
Name: highschool_graduation_rate, dtype: float64
939    96.0
940    95.0
941    95.0
942    95.0
943    95.0
944    94.0
945    95.0
Name: highschool_graduation_rate, dtype: float64
76.77857142857144
939    85.700000
940    76.778571
941    76.778571
942    76.778571
943    76.778571
Name: proficiency_elementary_school, dtype: float64
939    85.700000
940    76.778571
941    76.778571
942    76.778571
943    76.778571
944    67.857143
945    76.778571
Name: proficiency_elementary_school, dtype: float64
76.56

939    75.70
940    76.56
941    76.56
942    76.56
943    76.56
Name: proficiency_middle_school, dtype: float64
939    75.70
940    76.56
941    76.56
942    76.56
943    76.56
944    77.42
945    76.56
Name: proficiency_middle_school, dtype: float64
75.74000000000001
939    83.30
940    75.74
941    75.74
942    75.74
943    75.74
Name: proficiency_high_school, dtype: float64
939    83.30
940    75.74
941    75.74
942    75.74
943    75.74
944    68.18
945    75.74
Name: proficiency_high_school, dtype: float64
5.225806451612905
939    4.000000
940    5.225806
941    5.225806
942    5.225806
943    5.225806
Name: student_absenteeism, dtype: float64
939    4.000000
940    5.225806
941    5.225806
942    5.225806
943    5.225806
944    6.451613
945    5.225806
Name: student_absenteeism, dtype: float64
495.0
939    205.0
940    661.0
941    495.0
942    661.0
943    661.0
Name: voters_participating, dtype: float64
939    205.0
940    661.0
941    495.0
942    661.0
943    661.0
944    121.0
945    661.0
Name: voters_participating, dtype: float64
2.0
939    2.0
940    2.0
941    2.0
942    2.0
943    2.0
Name: neighborhood_organizations, dtype: float64
939    2.0
940    2.0
941    2.0
942    2.0
943    2.0
944    2.0
945    2.0
Name: neighborhood_organizations, dtype: float64
47.0
939    16.0
940    63.0
941    47.0
942    63.0
943    63.0
Name: voter_participation, dtype: float64
939    16.0
940    63.0
941    47.0
942    63.0
943    63.0
944    14.0
945    63.0
Name: voter_participation, dtype: float64
9.0
939    9.0
940    9.0
941    9.0
942    9.0
943    9.0
Name: vacant_land, dtype: float64
939    9.0
940    9.0
941    9.0
942    9.0
943    9.0
944    9.0
945    9.0
Name: vacant_land, dtype: float64
5.0
939    5.0
940    5.0
941    5.0
942    5.0
943    5.0
Name: population_density, dtype: float64
939    5.0
940    5.0
941    5.0
942    5.0
943    5.0
944    5.0
945    5.0
Name: population_density, dtype: float64
1788.0
939    1720.0
940    1822.0
941    1788.0
942    1822.0
943    1822.0
Name: population, dtype: float64
939    1720.0
940    1822.0
941    1788.0
942    1822.0
943    1822.0
944    1720.0
945    1822.0
Name: population, dtype: float64
nan
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
Name: transit_ridership, dtype: float64
939   -1.0
940   -1.0
941   -1.0
942   -1.0
943   -1.0
944   -1.0
945   -1.0
Name: transit_ridership, dtype: float64
1.1500000000000001
939    1.15
940    1.15
941    1.15
942    1.15
943    1.15
Name: street_connectivity, dtype: float64
939    1.15
940    1.15
941    1.15
942    1.15
943    1.15
944    1.15
945    1.15
Name: street_connectivity, dtype: float64
1.2833333333333334
939    1.300000
940    1.300000
941    1.283333
942    1.300000
943    1.300000
Name: bicycle_friendliness, dtype: float64
939    1.300000
940    1.300000
941    1.283333
942    1.300000
943    1.300000
944    1.200000
945    1.300000
Name: bicycle_friendliness, dtype: float64
28.224
946    38.16
947     5.28
948    38.16
949    21.36
950    38.16
Name: Acres, dtype: float64
946    38.16
947     5.28
948    38.16
949    21.36
950    38.16
Name: Acres, dtype: float64
nan
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: births_to_adolescents, dtype: float64
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: births_to_adolescents, dtype: float64
0.0
946    0.0
947    0.0
948    0.0
949    0.0
950    0.0
Name: grocery_proximate_units, dtype: float64
946    0.0
947    0.0
948    0.0
949    0.0
950    0.0
Name: grocery_proximate_units, dtype: float64
nan
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: prenatal_care, dtype: float64
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: prenatal_care, dtype: float64
0.0
946    0.0
947    0.0
948    0.0
949    0.0
950    0.0
Name: grocery_proximity, dtype: float64
946    0.0
947    0.0
948    0.0
949    0.0
950    0.0
Name: grocery_proximity, dtype: float64
nan
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: low_birthweight, dtype: float64
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: low_birthweight, dtype: float64
38.2
946    37.0
947    37.0
948    37.0
949    43.0
950    37.0
Name: public_health_insurance, dtype: float64
946    37.0
947    37.0
948    37.0
949    43.0
950    37.0
Name: public_health_insurance, dtype: float64
nan
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: age_of_death, dtype: float64
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: age_of_death, dtype: float64
15.5
946    15.5
947    15.5
948    15.5
949    15.5
950    15.5
Name: impervious_surface, dtype: float64
946    15.5
947    15.5
948    15.5
949    15.5
950    15.5
Name: impervious_surface, dtype: float64
nan
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: water_consumption, dtype: float64
946   -1.0
947   -1.0
948   -1.0
949   -1.0
950   -1.0
Name: water_consumption, dtype: float64
65.728
946    65.00
947    65.00
948    65.00
949    68.64
950    65.00
Name: neighborhood_school_attendance, dtype: float64
946    65.00
947    65.00
948    65.00
949    68.64
950    65.00
Name: neighborhood_school_attendance, dtype: float64
78.8
946    76.0
947    76.0
948    76.0
949    90.0
950    76.0
Name: highschool_graduation_rate, dtype: float64
946    76.0
947    76.0
948    76.0
949    90.0
950    76.0
Name: highschool_graduation_rate, dtype: float64
26.57684210526316
946    27.300000
947    27.300000
948    27.300000
949    23.684211
950    27.300000
Name: proficiency_elementary_school, dtype: float64
946    27.300000
947    27.300000
948    27.300000
949    23.684211
950    27.300000
Name: proficiency_elementary_school, dtype: float64
27.576
946    30.40
947    30.40
948    30.40
949    16.28
950    30.40
Name: proficiency_middle_school, dtype: float64
946    30.40
947    30.40
948    30.40
949    16.28
950    30.40
Name: proficiency_middle_school, dtype: float64
30.0
946    30.0
947    30.0
948    30.0
949    30.0
950    30.0
Name: proficiency_high_school, dtype: float64
946    30.0
947    30.0
948    30.0
949    30.0
950    30.0
Name: proficiency_high_school, dtype: float64
18.80655737704918
946    19.000000
947    19.000000
948    19.000000
949    18.032787
950    19.000000
Name: student_absenteeism, dtype: float64
946    19.000000
947    19.000000
948    19.000000
949    18.032787
950    19.000000
Name: student_absenteeism, dtype: float64
47.6
946    52.0
947    52.0
948    52.0
949    30.0
950    52.0
Name: voters_participating, dtype: float64
946    52.0
947    52.0
948    52.0
949    30.0
950    52.0
Name: voters_participating, dtype: float64
1.0
946    1.0
947    1.0
948    1.0
949    1.0
950    1.0
Name: neighborhood_organizations, dtype: float64
946    1.0
947    1.0
948    1.0
949    1.0
950    1.0
Name: neighborhood_organizations, dtype: float64
7.8
946    8.0
947    8.0
948    8.0
949    7.0
950    8.0
Name: voter_participation, dtype: float64
946    8.0
947    8.0
948    8.0
949    7.0
950    8.0
Name: voter_participation, dtype: float64
11.8
946    11.8
947    11.8
948    11.8
949    11.8
950    11.8
Name: vacant_land, dtype: float64
946    11.8
947    11.8
948    11.8
949    11.8
950    11.8
Name: vacant_land, dtype: float64
2.0
946    2.0
947    2.0
948    2.0
949    2.0
950    2.0
Name: population_density, dtype: float64
946    2.0
947    2.0
948    2.0
949    2.0
950    2.0
Name: population_density, dtype: float64
1042.6
946    1042.0
947    1042.0
948    1042.0
949    1045.0
950    1042.0
Name: population, dtype: float64
946    1042.0
947    1042.0
948    1042.0
949    1045.0
950    1042.0
Name: population, dtype: float64
18.0
946    18.0
947    18.0
948    18.0
949    18.0
950    18.0
Name: transit_ridership, dtype: float64
946    18.0
947    18.0
948    18.0
949    18.0
950    18.0
Name: transit_ridership, dtype: float64
1.19
946    1.19
947    1.19
948    1.19
949    1.19
950    1.19
Name: street_connectivity, dtype: float64
946    1.19
947    1.19
948    1.19
949    1.19
950    1.19
Name: street_connectivity, dtype: float64
1.5
946    1.5
947    1.5
948    1.5
949    1.5
950    1.5
Name: bicycle_friendliness, dtype: float64
946    1.5
947    1.5
948    1.5
949    1.5
950    1.5
Name: bicycle_friendliness, dtype: float64
6.852857142857144
951     5.52
952    11.96
953     0.60
954     3.00
955    11.96

Name: Acres, dtype: float64
951     5.52
952    11.96
953     0.60
954     3.00
955    11.96
956    11.96
957     2.97
Name: Acres, dtype: float64
0.7666666666666666
951    2.300000
952    0.766667
953    0.000000
954    0.000000
955    0.766667
Name: births_to_adolescents, dtype: float64
951    2.300000
952    0.766667
953    0.000000
954    0.000000
955    0.766667
956    0.766667
957    0.766667
Name: births_to_adolescents, dtype: float64
434.7142857142857
951    433.0
952    435.0
953    435.0
954    435.0
955    435.0
Name: grocery_proximate_units, dtype: float64
951    433.0
952    435.0
953    435.0
954    435.0
955    435.0
956    435.0
957    435.0
Name: grocery_proximate_units, dtype: float64
65.89999999999999
951    70.5
952    65.9
953    63.6
954    63.6
955    65.9
Name: prenatal_care, dtype: float64
951    70.5
952    65.9
953    63.6
954    63.6
955    65.9
956    65.9
957    65.9
Name: prenatal_care, dtype: float64
40.285714285714285
951    46.0
952    36.0
953    46.0
954    46.0
955    36.0
Name: grocery_proximity, dtype: float64
951    46.0
952    36.0
953    46.0
954    46.0
955    36.0
956    36.0
957    36.0
Name: grocery_proximity, dtype: float64
8.366666666666667
951    15.900000
952     8.366667
953     4.600000
954     4.600000
955     8.366667
Name: low_birthweight, dtype: float64
951    15.900000
952     8.366667
953     4.600000
954     4.600000
955     8.366667
956     8.366667
957     8.366667
Name: low_birthweight, dtype: float64
9.0
951     9.0
952    10.0
953     7.0
954     7.0
955    10.0
Name: public_health_insurance, dtype: float64
951     9.0
952    10.0
953     7.0
954     7.0
955    10.0
956    10.0
957    10.0
Name: public_health_insurance, dtype: float64
66.66666666666667
951    56.000000
952    66.666667
953    72.000000
954    72.000000
955    66.666667
Name: age_of_death, dtype: float64
951    56.000000
952    66.666667
953    72.000000
954    72.000000
955    66.666667
956    66.666667
957    66.666667
Name: age_of_death, dtype: float64
12.7
951    12.7
952    12.7
953    12.7
954    12.7
955    12.7
Name: impervious_surface, dtype: float64
951    12.7
952    12.7
953    12.7
954    12.7
955    12.7
956    12.7
957    12.7
Name: impervious_surface, dtype: float64
136.0
951    144.0
952    136.0
953    132.0
954    132.0
955    136.0
Name: water_consumption, dtype: float64
951    144.0
952    136.0
953    132.0
954    132.0
955    136.0
956    136.0
957    136.0
Name: water_consumption, dtype: float64
80.50285714285714
951    78.80
952    79.00
953    84.36
954    84.36
955    79.00
Name: neighborhood_school_attendance, dtype: float64
951    78.80
952    79.00
953    84.36
954    84.36
955    79.00
956    79.00
957    79.00
Name: neighborhood_school_attendance, dtype: float64
92.71428571428571
951    89.0
952    94.0
953    92.0
954    92.0
955    94.0
Name: highschool_graduation_rate, dtype: float64
951    89.0
952    94.0
953    92.0
954    92.0
955    94.0
956    94.0
957    94.0
Name: highschool_graduation_rate, dtype: float64
51.485025817555936
951    50.00000
952    52.90000
953    49.39759
954    49.39759
955    52.90000
Name: proficiency_elementary_school, dtype: float64
951    50.00000
952    52.90000
953    49.39759
954    49.39759
955    52.90000
956    52.90000
957    52.90000
Name: proficiency_elementary_school, dtype: float64
48.418444846292935
951    55.000000
952    44.400000
953    53.164557
954    53.164557
955    44.400000
Name: proficiency_middle_school, dtype: float64
951    55.000000
952    44.400000
953    53.164557
954    53.164557
955    44.400000
956    44.400000
957    44.400000
Name: proficiency_middle_school, dtype: float64
56.90000000000001
951    40.9
952    58.1
953    62.5
954    62.5
955    58.1
Name: proficiency_high_school, dtype: float64
951    40.9
952    58.1
953    62.5
954    62.5
955    58.1
956    58.1
957    58.1
Name: proficiency_high_school, dtype: float64
10.54531490015361
951    11.000000
952    11.000000
953     9.408602
954     9.408602
955    11.000000
Name: student_absenteeism, dtype: float64
951    11.000000
952    11.000000
953     9.408602
954     9.408602
955    11.000000
956    11.000000
957    11.000000
Name: student_absenteeism, dtype: float64
525.4285714285714
951    1126.0
952     312.0
953     652.0
954     652.0
955     312.0
Name: voters_participating, dtype: float64
951    1126.0
952     312.0
953     652.0
954     652.0
955     312.0
956     312.0
957     312.0
Name: voters_participating, dtype: float64
5.0
951    5.0
952    5.0
953    5.0
954    5.0
955    5.0
Name: neighborhood_organizations, dtype: float64
951    5.0
952    5.0
953    5.0
954    5.0
955    5.0
956    5.0
957    5.0
Name: neighborhood_organizations, dtype: float64
35.857142857142854
951    75.0
952    18.0
953    52.0
954    52.0
955    18.0
Name: voter_participation, dtype: float64
951    75.0
952    18.0
953    52.0
954    52.0
955    18.0
956    18.0
957    18.0
Name: voter_participation, dtype: float64
10.0
951    10.0
952    10.0
953    10.0
954    10.0
955    10.0
Name: vacant_land, dtype: float64
951    10.0
952    10.0
953    10.0
954    10.0
955    10.0
956    10.0
957    10.0
Name: vacant_land, dtype: float64
6.0
951    6.0
952    6.0
953    6.0
954    6.0
955    6.0
Name: population_density, dtype: float64
951    6.0
952    6.0
953    6.0
954    6.0
955    6.0
956    6.0
957    6.0
Name: population_density, dtype: float64
2371.2
951    2360.0
952    2374.0
953    2371.2
954    2371.2
955    2374.0
Name: population, dtype: float64
951    2360.0
952    2374.0
953    2371.2
954    2371.2
955    2374.0
956    2374.0
957    2374.0
Name: population, dtype: float64
nan
951   -1.0
952   -1.0
953   -1.0
954   -1.0
955   -1.0
Name: transit_ridership, dtype: float64
951   -1.0
952   -1.0
953   -1.0
954   -1.0
955   -1.0
956   -1.0
957   -1.0
Name: transit_ridership, dtype: float64
1.07
951    1.07
952    1.07
953    1.07
954    1.07
955    1.07
Name: street_connectivity, dtype: float64
951    1.07
952    1.07
953    1.07
954    1.07
955    1.07
956    1.07
957    1.07
Name: street_connectivity, dtype: float64
1.3199999999999998
951    1.40
952    1.30
953    1.32
954    1.32
955    1.30
Name: bicycle_friendliness, dtype: float64
951    1.40
952    1.30
953    1.32
954    1.32
955    1.30
956    1.30
957    1.30
Name: bicycle_friendliness, dtype: float64
7.7250000000000005
958    13.01
959     4.27
960     6.63
961    13.01
962     6.63
Name: Acres, dtype: float64
958    13.01
959     4.27
960     6.63
961    13.01
962     6.63
963     2.80
Name: Acres, dtype: float64
2.0
958    2.0
959    2.0
960    2.0
961    2.0
962    2.0
Name: births_to_adolescents, dtype: float64
958    2.0
959    2.0
960    2.0
961    2.0
962    2.0
963    2.0
Name: births_to_adolescents, dtype: float64
310.75
958    310.75
959    337.00
960    302.00
961    310.75
962    302.00
Name: grocery_proximate_units, dtype: float64
958    310.75
959    337.00
960    302.00
961    310.75
962    302.00
963    302.00
Name: grocery_proximate_units, dtype: float64
68.4
958    68.4
959    68.4
960    68.4
961    68.4
962    68.4
Name: prenatal_care, dtype: float64
958    68.4
959    68.4
960    68.4
961    68.4
962    68.4
963    68.4
Name: prenatal_care, dtype: float64
29.75
958    29.75
959    32.00
960    29.00
961    29.75
962    29.00
Name: grocery_proximity, dtype: float64
958    29.75
959    32.00
960    29.00
961    29.75
962    29.00
963    29.00
Name: grocery_proximity, dtype: float64
7.099999999999999
958    7.1
959    7.1
960    7.1
961    7.1
962    7.1
Name: low_birthweight, dtype: float64
958    7.1
959    7.1
960    7.1
961    7.1
962    7.1
963    7.1
Name: low_birthweight, dtype: float64
17.0
958    17.0
959    17.0
960    17.0
961    17.0
962    17.0
Name: public_health_insurance, dtype: float64
958    17.0
959    17.0
960    17.0
961    17.0
962    17.0
963    17.0
Name: public_health_insurance, dtype: float64
62.0
958    62.0
959    62.0
960    62.0
961    62.0
962    62.0
Name: age_of_death, dtype: float64
958    62.0
959    62.0
960    62.0
961    62.0
962    62.0
963    62.0
Name: age_of_death, dtype: float64
12.45
958    12.45
959    12.60
960    12.40
961    12.45
962    12.40
Name: impervious_surface, dtype: float64
958    12.45
959    12.60
960    12.40
961    12.45
962    12.40
963    12.40
Name: impervious_surface, dtype: float64
141.0
958    141.0
959    141.0
960    141.0
961    141.0
962    141.0
Name: water_consumption, dtype: float64
958    141.0
959    141.0
960    141.0
961    141.0
962    141.0
963    141.0
Name: water_consumption, dtype: float64
61.525000000000006
958    61.525
959    64.000
960    60.700
961    61.525
962    60.700
Name: neighborhood_school_attendance, dtype: float64
958    61.525
959    64.000
960    60.700
961    61.525
962    60.700
963    60.700
Name: neighborhood_school_attendance, dtype: float64
94.25
958    94.25
959    92.00
960    95.00
961    94.25
962    95.00
Name: highschool_graduation_rate, dtype: float64
958    94.25
959    92.00
960    95.00
961    94.25
962    95.00
963    95.00
Name: highschool_graduation_rate, dtype: float64
55.97
958    55.97
959    59.60
960    54.76
961    55.97
962    54.76
Name: proficiency_elementary_school, dtype: float64
958    55.97
959    59.60
960    54.76
961    55.97
962    54.76
963    54.76
Name: proficiency_elementary_school, dtype: float64
50.625
958    50.625
959    34.200
960    56.100
961    50.625
962    56.100
Name: proficiency_middle_school, dtype: float64
958    50.625
959    34.200
960    56.100
961    50.625
962    56.100
963    56.100
Name: proficiency_middle_school, dtype: float64
43.550000000000004
958    43.55
959    50.00
960    41.40
961    43.55
962    41.40
Name: proficiency_high_school, dtype: float64
958    43.55
959    50.00
960    41.40
961    43.55
962    41.40
963    41.40
Name: proficiency_high_school, dtype: float64
9.25
958     9.25
959    10.00
960     9.00
961     9.25
962     9.00
Name: student_absenteeism, dtype: float64
958     9.25
959    10.00
960     9.00
961     9.25
962     9.00
963     9.00
Name: student_absenteeism, dtype: float64
1052.75
958    1052.75
959     230.00
960    1327.00
961    1052.75
962    1327.00
Name: voters_participating, dtype: float64
958    1052.75
959     230.00
960    1327.00
961    1052.75
962    1327.00
963    1327.00
Name: voters_participating, dtype: float64
nan
958   -1.0
959   -1.0
960   -1.0
961   -1.0
962   -1.0
Name: neighborhood_organizations, dtype: float64
958   -1.0
959   -1.0
960   -1.0
961   -1.0
962   -1.0
963   -1.0
Name: neighborhood_organizations, dtype: float64
62.0
958    62.0
959    17.0
960    77.0
961    62.0
962    77.0
Name: voter_participation, dtype: float64
958    62.0
959    17.0
960    77.0
961    62.0
962    77.0
963    77.0
Name: voter_participation, dtype: float64
23.8
958    23.8
959    23.8
960    23.8
961    23.8
962    23.8
Name: vacant_land, dtype: float64
958    23.8
959    23.8
960    23.8
961    23.8
962    23.8
963    23.8
Name: vacant_land, dtype: float64
2.0
958    2.0
959    2.0
960    2.0
961    2.0
962    2.0
Name: population_density, dtype: float64
958    2.0
959    2.0
960    2.0
961    2.0
962    2.0
963    2.0
Name: population_density, dtype: float64
2634.75
958    2634.75
959    2784.00
960    2585.00
961    2634.75
962    2585.00
Name: population, dtype: float64
958    2634.75
959    2784.00
960    2585.00
961    2634.75
962    2585.00
963    2585.00
Name: population, dtype: float64
nan
958   -1.0
959   -1.0
960   -1.0
961   -1.0
962   -1.0
Name: transit_ridership, dtype: float64
958   -1.0
959   -1.0
960   -1.0
961   -1.0
962   -1.0
963   -1.0
Name: transit_ridership, dtype: float64
1.18
958    1.18
959    1.18
960    1.18
961    1.18
962    1.18
Name: street_connectivity, dtype: float64
958    1.18
959    1.18
960    1.18
961    1.18
962    1.18
963    1.18
Name: street_connectivity, dtype: float64
1.2
958    1.2
959    1.2
960    1.2
961    1.2
962    1.2
Name: bicycle_friendliness, dtype: float64
958    1.2
959    1.2
960    1.2
961    1.2
962    1.2
963    1.2
Name: bicycle_friendliness, dtype: float64
4.28
964    0.82
965    6.01
966    6.01
Name: Acres, dtype: float64
964    0.82
965    6.01
966    6.01
Name: Acres, dtype: float64
0.0
964    0.0
965    0.0
966    0.0
Name: births_to_adolescents, dtype: float64
964    0.0
965    0.0
966    0.0
Name: births_to_adolescents, dtype: float64
307.6666666666667
964    335.0
965    294.0
966    294.0
Name: grocery_proximate_units, dtype: float64
964    335.0
965    294.0
966    294.0
Name: grocery_proximate_units, dtype: float64
83.7
964    83.7
965    83.7
966    83.7
Name: prenatal_care, dtype: float64
964    83.7
965    83.7
966    83.7
Name: prenatal_care, dtype: float64
54.0
964    58.0
965    52.0
966    52.0
Name: grocery_proximity, dtype: float64
964    58.0
965    52.0
966    52.0
Name: grocery_proximity, dtype: float64
4.7
964    4.7
965    4.7
966    4.7
Name: low_birthweight, dtype: float64
964    4.7
965    4.7
966    4.7
Name: low_birthweight, dtype: float64
nan
964   -1.0
965   -1.0
966   -1.0
Name: public_health_insurance, dtype: float64
964   -1.0
965   -1.0
966   -1.0
Name: public_health_insurance, dtype: float64
78.0
964    78.0
965    78.0
966    78.0
Name: age_of_death, dtype: float64
964    78.0
965    78.0
966    78.0
Name: age_of_death, dtype: float64
26.899999999999995
964    26.9
965    26.9
966    26.9
Name: impervious_surface, dtype: float64
964    26.9
965    26.9
966    26.9
Name: impervious_surface, dtype: float64
194.33333333333334
964    187.0
965    198.0
966    198.0
Name: water_consumption, dtype: float64
964    187.0
965    198.0
966    198.0
Name: water_consumption, dtype: float64
87.0
964    87.0
965    87.0
966    87.0
Name: neighborhood_school_attendance, dtype: float64
964    87.0
965    87.0
966    87.0
Name: neighborhood_school_attendance, dtype: float64
94.0
964    94.0
965    94.0
966    94.0
Name: highschool_graduation_rate, dtype: float64
964    94.0
965    94.0
966    94.0
Name: highschool_graduation_rate, dtype: float64
77.5
964    77.5
965    77.5
966    77.5
Name: proficiency_elementary_school, dtype: float64
964    77.5
965    77.5
966    77.5
Name: proficiency_elementary_school, dtype: float64
58.6
964    58.6
965    58.6
966    58.6
Name: proficiency_middle_school, dtype: float64
964    58.6
965    58.6
966    58.6
Name: proficiency_middle_school, dtype: float64
64.3
964    64.3
965    64.3
966    64.3
Name: proficiency_high_school, dtype: float64
964    64.3
965    64.3
966    64.3
Name: proficiency_high_school, dtype: float64
6.0
964    6.0
965    6.0
966    6.0
Name: student_absenteeism, dtype: float64
964    6.0
965    6.0
966    6.0
Name: student_absenteeism, dtype: float64
730.6666666666666
964    670.0
965    761.0
966    761.0
Name: voters_participating, dtype: float64
964    670.0
965    761.0
966    761.0
Name: voters_participating, dtype: float64
nan
964   -1.0
965   -1.0
966   -1.0
Name: neighborhood_organizations, dtype: float64
964   -1.0
965   -1.0
966   -1.0
Name: neighborhood_organizations, dtype: float64
80.66666666666667
964    72.0
965    85.0
966    85.0
Name: voter_participation, dtype: float64
964    72.0
965    85.0
966    85.0
Name: voter_participation, dtype: float64
1.3999999999999997
964    1.4
965    1.4
966    1.4
Name: vacant_land, dtype: float64
964    1.4
965    1.4
966    1.4
Name: vacant_land, dtype: float64
4.0
964    4.0
965    4.0
966    4.0
Name: population_density, dtype: float64
964    4.0
965    4.0
966    4.0
Name: population_density, dtype: float64
1332.3333333333333
964    1339.0
965    1329.0
966    1329.0
Name: population, dtype: float64
964    1339.0
965    1329.0
966    1329.0
Name: population, dtype: float64

nan
964   -1.0
965   -1.0
966   -1.0
Name: transit_ridership, dtype: float64
964   -1.0
965   -1.0
966   -1.0
Name: transit_ridership, dtype: float64
1.19
964    1.19
965    1.19
966    1.19
Name: street_connectivity, dtype: float64
964    1.19
965    1.19
966    1.19
Name: street_connectivity, dtype: float64
1.6000000000000003
964    1.6
965    1.6
966    1.6
Name: bicycle_friendliness, dtype: float64
964    1.6
965    1.6
966    1.6
Name: bicycle_friendliness, dtype: float64
5.4
967    5.4
Name: Acres, dtype: float64
967    5.4
Name: Acres, dtype: float64
nan
967   -1.0
Name: births_to_adolescents, dtype: float64
967   -1.0
Name: births_to_adolescents, dtype: float64
18.0
967    18.0
Name: grocery_proximate_units, dtype: float64
967    18.0
Name: grocery_proximate_units, dtype: float64
nan
967   -1.0
Name: prenatal_care, dtype: float64
967   -1.0
Name: prenatal_care, dtype: float64
4.0
967    4.0
Name: grocery_proximity, dtype: float64
967    4.0
Name: grocery_proximity, dtype: float64
nan
967   -1.0
Name: low_birthweight, dtype: float64
967   -1.0
Name: low_birthweight, dtype: float64
3.0
967    3.0
Name: public_health_insurance, dtype: float64
967    3.0
Name: public_health_insurance, dtype: float64
nan
967   -1.0
Name: age_of_death, dtype: float64
967   -1.0
Name: age_of_death, dtype: float64
16.6
967    16.6
Name: impervious_surface, dtype: float64
967    16.6
Name: impervious_surface, dtype: float64
nan
967   -1.0
Name: water_consumption, dtype: float64
967   -1.0
Name: water_consumption, dtype: float64
95.0
967    95.0
Name: neighborhood_school_attendance, dtype: float64
967    95.0
Name: neighborhood_school_attendance, dtype: float64
97.0
967    97.0
Name: highschool_graduation_rate, dtype: float64
967    97.0
Name: highschool_graduation_rate, dtype: float64
83.6
967    83.6
Name: proficiency_elementary_school, dtype: float64
967    83.6
Name: proficiency_elementary_school, dtype: float64
87.8
967    87.8
Name: proficiency_middle_school, dtype: float64
967    87.8
Name: proficiency_middle_school, dtype: float64
87.5
967    87.5
Name: proficiency_high_school, dtype: float64
967    87.5
Name: proficiency_high_school, dtype: float64
6.0
967    6.0
Name: student_absenteeism, dtype: float64
967    6.0
Name: student_absenteeism, dtype: float64
518.0
967    518.0
Name: voters_participating, dtype: float64
967    518.0
Name: voters_participating, dtype: float64
nan
967   -1.0
Name: neighborhood_organizations, dtype: float64
967   -1.0
Name: neighborhood_organizations, dtype: float64
27.0
967    27.0
Name: voter_participation, dtype: float64
967    27.0
Name: voter_participation, dtype: float64
3.9
967    3.9
Name: vacant_land, dtype: float64
967    3.9
Name: vacant_land, dtype: float64
4.0
967    4.0
Name: population_density, dtype: float64
967    4.0
Name: population_density, dtype: float64
3092.0
967    3092.0
Name: population, dtype: float64
967    3092.0
Name: population, dtype: float64
nan
967   -1.0
Name: transit_ridership, dtype: float64
967   -1.0
Name: transit_ridership, dtype: float64
1.05
967    1.05
Name: street_connectivity, dtype: float64
967    1.05
Name: street_connectivity, dtype: float64
1.2
967    1.2
Name: bicycle_friendliness, dtype: float64
967    1.2
Name: bicycle_friendliness, dtype: float64
14.366250000000003
968    19.52
969     3.72
970    29.01
971     4.98
972    11.87
Name: Acres, dtype: float64
968    19.52
969     3.72
970    29.01
971     4.98
972    11.87
973    15.90
974    11.87
975    18.06
Name: Acres, dtype: float64
nan
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
Name: births_to_adolescents, dtype: float64
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
973   -1.0
974   -1.0
975   -1.0
Name: births_to_adolescents, dtype: float64
0.0
968    0.0
969    0.0
970    0.0
971    0.0
972    0.0
Name: grocery_proximate_units, dtype: float64
968    0.0
969    0.0
970    0.0
971    0.0
972    0.0
973    0.0
974    0.0
975    0.0
Name: grocery_proximate_units, dtype: float64
nan
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
Name: prenatal_care, dtype: float64
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
973   -1.0
974   -1.0
975   -1.0
Name: prenatal_care, dtype: float64
0.0
968    0.0
969    0.0
970    0.0
971    0.0
972    0.0
Name: grocery_proximity, dtype: float64
968    0.0
969    0.0
970    0.0
971    0.0
972    0.0
973    0.0
974    0.0
975    0.0
Name: grocery_proximity, dtype: float64
nan
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
Name: low_birthweight, dtype: float64
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
973   -1.0
974   -1.0
975   -1.0
Name: low_birthweight, dtype: float64
13.666666666666666
968    12.000000
969    13.666667
970    12.000000
971    17.000000
972    13.666667
Name: public_health_insurance, dtype: float64
968    12.000000
969    13.666667
970    12.000000
971    17.000000
972    13.666667
973    13.666667
974    13.666667
975    13.666667
Name: public_health_insurance, dtype: float64
nan
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
Name: age_of_death, dtype: float64
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
973   -1.0
974   -1.0
975   -1.0
Name: age_of_death, dtype: float64
7.014285714285713
968    6.9
969    7.3
970    6.9
971    6.1
972    7.3
Name: impervious_surface, dtype: float64
968    6.900000
969    7.300000
970    6.900000
971    6.100000
972    7.300000
973    7.014286
974    7.300000
975    7.300000
Name: impervious_surface, dtype: float64
152.0
968    152.0
969    152.0
970    152.0
971    152.0
972    152.0
Name: water_consumption, dtype: float64
968    152.0
969    152.0
970    152.0
971    152.0
972    152.0
973    152.0
974    152.0
975    152.0
Name: water_consumption, dtype: float64
84.83333333333333
968    85.000000
969    84.833333
970    85.000000
971    84.500000
972    84.833333
Name: neighborhood_school_attendance, dtype: float64
968    85.000000
969    84.833333
970    85.000000
971    84.500000
972    84.833333
973    84.833333
974    84.833333
975    84.833333
Name: neighborhood_school_attendance, dtype: float64
98.0
968     97.0
969     98.0
970     97.0
971    100.0
972     98.0
Name: highschool_graduation_rate, dtype: float64
968     97.0
969     98.0
970     97.0
971    100.0
972     98.0
973     98.0
974     98.0
975     98.0
Name: highschool_graduation_rate, dtype: float64
45.416666666666664
968    42.500000
969    45.416667
970    42.500000
971    51.250000
972    45.416667
Name: proficiency_elementary_school, dtype: float64
968    42.500000
969    45.416667
970    42.500000
971    51.250000
972    45.416667
973    45.416667
974    45.416667
975    45.416667
Name: proficiency_elementary_school, dtype: float64
45.696666666666665
968    42.700000
969    45.696667
970    42.700000
971    51.690000
972    45.696667
Name: proficiency_middle_school, dtype: float64
968    42.700000
969    45.696667
970    42.700000
971    51.690000
972    45.696667
973    45.696667
974    45.696667
975    45.696667
Name: proficiency_middle_school, dtype: float64
34.98
968    36.40
969    34.98
970    36.40
971    32.14
972    34.98
Name: proficiency_high_school, dtype: float64
968    36.40
969    34.98
970    36.40
971    32.14
972    34.98
973    34.98
974    34.98
975    34.98
Name: proficiency_high_school, dtype: float64
7.637883008356546
968    7.000000
969    7.637883
970    7.000000
971    8.913649
972    7.637883
Name: student_absenteeism, dtype: float64
968    7.000000
969    7.637883
970    7.000000
971    8.913649
972    7.637883
973    7.637883
974    7.637883
975    7.637883
Name: student_absenteeism, dtype: float64
625.1428571428571
968    297.0
969    906.0
970    297.0
971    158.0
972    906.0
Name: voters_participating, dtype: float64
968    297.000000
969    906.000000
970    297.000000
971    158.000000
972    906.000000
973    625.142857
974    906.000000
975    906.000000
Name: voters_participating, dtype: float64
2.0
968    2.0
969    2.0
970    2.0
971    2.0
972    2.0
Name: neighborhood_organizations, dtype: float64
968    2.0
969    2.0
970    2.0
971    2.0
972    2.0
973    2.0
974    2.0
975    2.0
Name: neighborhood_organizations, dtype: float64
39.714285714285715
968    16.0
969    58.0
970    16.0
971    14.0
972    58.0
Name: voter_participation, dtype: float64
968    16.000000
969    58.000000
970    16.000000
971    14.000000
972    58.000000
973    39.714286
974    58.000000
975    58.000000
Name: voter_participation, dtype: float64
44.32857142857143
968    44.5
969    44.5
970    44.5
971    43.3
972    44.5
Name: vacant_land, dtype: float64
968    44.500000
969    44.500000
970    44.500000
971    43.300000
972    44.500000
973    44.328571
974    44.500000
975    44.500000
Name: vacant_land, dtype: float64
2.857142857142857
968    3.0
969    3.0
970    3.0
971    2.0
972    3.0
Name: population_density, dtype: float64
968    3.000000
969    3.000000
970    3.000000
971    2.000000
972    3.000000
973    2.857143
974    3.000000
975    3.000000
Name: population_density, dtype: float64
2831.714285714286
968    2957.0
969    2957.0
970    2957.0
971    2080.0
972    2957.0
Name: population, dtype: float64
968    2957.000000
969    2957.000000
970    2957.000000
971    2080.000000
972    2957.000000
973    2831.714286
974    2957.000000
975    2957.000000
Name: population, dtype: float64
nan
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
Name: transit_ridership, dtype: float64
968   -1.0
969   -1.0
970   -1.0
971   -1.0
972   -1.0
973   -1.0
974   -1.0
975   -1.0
Name: transit_ridership, dtype: float64
1.1771428571428568
968    1.17
969    1.19
970    1.17
971    1.14
972    1.19
Name: street_connectivity, dtype: float64
968    1.170000
969    1.190000
970    1.170000
971    1.140000
972    1.190000
973    1.177143
974    1.190000
975    1.190000
Name: street_connectivity, dtype: float64
1.2
968    1.2
969    1.2
970    1.2
971    1.2
972    1.2
Name: bicycle_friendliness, dtype: float64
968    1.2
969    1.2
970    1.2
971    1.2
972    1.2
973    1.2
974    1.2
975    1.2
Name: bicycle_friendliness, dtype: float64
27.240000000000002
976    48.78
977     3.72
978    48.78
979     7.68
Name: Acres, dtype: float64
976    48.78
977     3.72
978    48.78
979     7.68
Name: Acres, dtype: float64
7.0
976    9.2
977    2.6
978    9.2
979    7.0
Name: births_to_adolescents, dtype: float64
976    9.2
977    2.6
978    9.2
979    7.0
Name: births_to_adolescents, dtype: float64
410.5
976    413.0
977    413.0
978    413.0
979    403.0
Name: grocery_proximate_units, dtype: float64
976    413.0
977    413.0
978    413.0
979    403.0
Name: grocery_proximate_units, dtype: float64
56.699999999999996
976    53.9
977    62.3
978    53.9
979    56.7
Name: prenatal_care, dtype: float64
976    53.9
977    62.3
978    53.9
979    56.7
Name: prenatal_care, dtype: float64
55.75
976    56.0
977    57.0
978    56.0
979    54.0
Name: grocery_proximity, dtype: float64
976    56.0
977    57.0
978    56.0
979    54.0
Name: grocery_proximity, dtype: float64
11.866666666666667
976    13.900000
977     7.800000
978    13.900000
979    11.866667
Name: low_birthweight, dtype: float64
976    13.900000
977     7.800000
978    13.900000
979    11.866667
Name: low_birthweight, dtype: float64
16.0
976    16.0
977    16.0
978    16.0
979    16.0
Name: public_health_insurance, dtype: float64
976    16.0
977    16.0
978    16.0
979    16.0
Name: public_health_insurance, dtype: float64
61.0
976    63.0
977    57.0
978    63.0
979    61.0
Name: age_of_death, dtype: float64
976    63.0
977    57.0
978    63.0
979    61.0
Name: age_of_death, dtype: float64
7.466666666666666
976    7.400000
977    7.466667
978    7.400000
979    7.600000
Name: impervious_surface, dtype: float64
976    7.400000
977    7.466667
978    7.400000
979    7.600000
Name: impervious_surface, dtype: float64
139.5
976    142.0
977    132.0
978    142.0
979    142.0
Name: water_consumption, dtype: float64
976    142.0
977    132.0
978    142.0
979    142.0
Name: water_consumption, dtype: float64
71.26333333333334
976    68.800000
977    76.190000
978    68.800000
979    71.263333
Name: neighborhood_school_attendance, dtype: float64
976    68.800000
977    76.190000
978    68.800000
979    71.263333
Name: neighborhood_school_attendance, dtype: float64
84.0
976    86.0
977    80.0
978    86.0
979    84.0
Name: highschool_graduation_rate, dtype: float64
976    86.0
977    80.0
978    86.0
979    84.0
Name: highschool_graduation_rate, dtype: float64
41.051746031746035
976    42.530000
977    38.095238
978    42.530000
979    41.051746
Name: proficiency_elementary_school, dtype: float64
976    42.530000
977    38.095238
978    42.530000
979    41.051746
Name: proficiency_elementary_school, dtype: float64
29.644444444444442
976    32.800000
977    23.333333
978    32.800000
979    29.644444
Name: proficiency_middle_school, dtype: float64
976    32.800000
977    23.333333
978    32.800000
979    29.644444
Name: proficiency_middle_school, dtype: float64
18.90833333333333
976    14.300000
977    28.125000
978    14.300000
979    18.908333
Name: proficiency_high_school, dtype: float64
976    14.300000
977    28.125000
978    14.300000
979    18.908333
Name: proficiency_high_school, dtype: float64
15.48628428927681
976    15.000000
977    16.458853
978    15.000000
979    15.486284
Name: student_absenteeism, dtype: float64
976    15.000000
977    16.458853
978    15.000000
979    15.486284
Name: student_absenteeism, dtype: float64
725.0
976    886.0
977    482.0
978    886.0
979    646.0
Name: voters_participating, dtype: float64
976    886.0
977    482.0
978    886.0
979    646.0
Name: voters_participating, dtype: float64

1.0
976    1.0
977    1.0
978    1.0
979    1.0
Name: neighborhood_organizations, dtype: float64
976    1.0
977    1.0
978    1.0
979    1.0
Name: neighborhood_organizations, dtype: float64
62.75
976    72.0
977    50.0
978    72.0
979    57.0
Name: voter_participation, dtype: float64
976    72.0
977    50.0
978    72.0
979    57.0
Name: voter_participation, dtype: float64
12.566666666666668
976    12.600000
977    12.566667
978    12.600000
979    12.500000
Name: vacant_land, dtype: float64
976    12.600000
977    12.566667
978    12.600000
979    12.500000
Name: vacant_land, dtype: float64
2.0
976    2.0
977    2.0
978    2.0
979    2.0
Name: population_density, dtype: float64
976    2.0
977    2.0
978    2.0
979    2.0
Name: population_density, dtype: float64
2238.0
976    2233.0
977    2238.0
978    2233.0
979    2248.0
Name: population, dtype: float64
976    2233.0
977    2238.0
978    2233.0
979    2248.0
Name: population, dtype: float64
54.0
976    54.0
977    54.0
978    54.0
979    54.0
Name: transit_ridership, dtype: float64
976    54.0
977    54.0
978    54.0
979    54.0
Name: transit_ridership, dtype: float64
1.13
976    1.14
977    1.13
978    1.14
979    1.11
Name: street_connectivity, dtype: float64
976    1.14
977    1.13
978    1.14
979    1.11
Name: street_connectivity, dtype: float64
1.3
976    1.3
977    1.3
978    1.3
979    1.3
Name: bicycle_friendliness, dtype: float64
976    1.3
977    1.3
978    1.3
979    1.3
Name: bicycle_friendliness, dtype: float64
1.79
980    1.79
Name: Acres, dtype: float64
980    1.79
Name: Acres, dtype: float64
8.4
980    8.4
Name: births_to_adolescents, dtype: float64
980    8.4
Name: births_to_adolescents, dtype: float64
14.0
980    14.0
Name: grocery_proximate_units, dtype: float64
980    14.0
Name: grocery_proximate_units, dtype: float64
55.8
980    55.8
Name: prenatal_care, dtype: float64
980    55.8
Name: prenatal_care, dtype: float64
1.0
980    1.0
Name: grocery_proximity, dtype: float64
980    1.0
Name: grocery_proximity, dtype: float64
5.3
980    5.3
Name: low_birthweight, dtype: float64
980    5.3
Name: low_birthweight, dtype: float64
nan
980   -1.0
Name: public_health_insurance, dtype: float64
980   -1.0
Name: public_health_insurance, dtype: float64
63.0
980    63.0
Name: age_of_death, dtype: float64
980    63.0
Name: age_of_death, dtype: float64
17.0
980    17.0
Name: impervious_surface, dtype: float64
980    17.0
Name: impervious_surface, dtype: float64
157.0
980    157.0
Name: water_consumption, dtype: float64
980    157.0
Name: water_consumption, dtype: float64
70.4
980    70.4
Name: neighborhood_school_attendance, dtype: float64
980    70.4
Name: neighborhood_school_attendance, dtype: float64
95.0
980    95.0
Name: highschool_graduation_rate, dtype: float64
980    95.0
Name: highschool_graduation_rate, dtype: float64
46.88
980    46.88
Name: proficiency_elementary_school, dtype: float64
980    46.88
Name: proficiency_elementary_school, dtype: float64
26.0
980    26.0
Name: proficiency_middle_school, dtype: float64
980    26.0
Name: proficiency_middle_school, dtype: float64
19.2
980    19.2
Name: proficiency_high_school, dtype: float64
980    19.2
Name: proficiency_high_school, dtype: float64
12.0
980    12.0
Name: student_absenteeism, dtype: float64
980    12.0
Name: student_absenteeism, dtype: float64
806.0
980    806.0
Name: voters_participating, dtype: float64
980    806.0
Name: voters_participating, dtype: float64
nan
980   -1.0
Name: neighborhood_organizations, dtype: float64
980   -1.0
Name: neighborhood_organizations, dtype: float64
68.0
980    68.0
Name: voter_participation, dtype: float64
980    68.0
Name: voter_participation, dtype: float64
6.8
980    6.8
Name: vacant_land, dtype: float64
980    6.8
Name: vacant_land, dtype: float64
8.0
980    8.0
Name: population_density, dtype: float64
980    8.0
Name: population_density, dtype: float64
2604.0
980    2604.0
Name: population, dtype: float64
980    2604.0
Name: population, dtype: float64
nan
980   -1.0
Name: transit_ridership, dtype: float64
980   -1.0
Name: transit_ridership, dtype: float64
1.13
980    1.13
Name: street_connectivity, dtype: float64
980    1.13
Name: street_connectivity, dtype: float64
1.4
980    1.4
Name: bicycle_friendliness, dtype: float64
980    1.4
Name: bicycle_friendliness, dtype: float64
4.13
981    4.13
Name: Acres, dtype: float64
981    4.13
Name: Acres, dtype: float64
0.0
981    0.0
Name: births_to_adolescents, dtype: float64
981    0.0
Name: births_to_adolescents, dtype: float64
0.0
981    0.0
Name: grocery_proximate_units, dtype: float64
981    0.0
Name: grocery_proximate_units, dtype: float64
71.4
981    71.4
Name: prenatal_care, dtype: float64
981    71.4
Name: prenatal_care, dtype: float64
0.0
981    0.0
Name: grocery_proximity, dtype: float64
981    0.0
Name: grocery_proximity, dtype: float64
7.1
981    7.1
Name: low_birthweight, dtype: float64
981    7.1
Name: low_birthweight, dtype: float64
nan
981   -1.0
Name: public_health_insurance, dtype: float64
981   -1.0
Name: public_health_insurance, dtype: float64
87.0
981    87.0
Name: age_of_death, dtype: float64
981    87.0
Name: age_of_death, dtype: float64
15.7
981    15.7
Name: impervious_surface, dtype: float64
981    15.7
Name: impervious_surface, dtype: float64
190.0
981    190.0
Name: water_consumption, dtype: float64
981    190.0
Name: water_consumption, dtype: float64
88.0
981    88.0
Name: neighborhood_school_attendance, dtype: float64
981    88.0
Name: neighborhood_school_attendance, dtype: float64
100.0
981    100.0
Name: highschool_graduation_rate, dtype: float64
981    100.0
Name: highschool_graduation_rate, dtype: float64
59.09
981    59.09
Name: proficiency_elementary_school, dtype: float64
981    59.09
Name: proficiency_elementary_school, dtype: float64
74.4
981    74.4
Name: proficiency_middle_school, dtype: float64
981    74.4
Name: proficiency_middle_school, dtype: float64
44.4
981    44.4
Name: proficiency_high_school, dtype: float64
981    44.4
Name: proficiency_high_school, dtype: float64
13.0
981    13.0
Name: student_absenteeism, dtype: float64
981    13.0
Name: student_absenteeism, dtype: float64
856.0
981    856.0
Name: voters_participating, dtype: float64
981    856.0
Name: voters_participating, dtype: float64
nan
981   -1.0
Name: neighborhood_organizations, dtype: float64
981   -1.0
Name: neighborhood_organizations, dtype: float64
80.0
981    80.0
Name: voter_participation, dtype: float64
981    80.0
Name: voter_participation, dtype: float64
7.1
981    7.1
Name: vacant_land, dtype: float64
981    7.1
Name: vacant_land, dtype: float64
5.0
981    5.0
Name: population_density, dtype: float64
981    5.0
Name: population_density, dtype: float64
1650.0
981    1650.0
Name: population, dtype: float64
981    1650.0
Name: population, dtype: float64
nan
981   -1.0
Name: transit_ridership, dtype: float64
981   -1.0
Name: transit_ridership, dtype: float64
1.09
981    1.09
Name: street_connectivity, dtype: float64
981    1.09
Name: street_connectivity, dtype: float64
1.4
981    1.4
Name: bicycle_friendliness, dtype: float64
981    1.4
Name: bicycle_friendliness, dtype: float64
2.5100000000000002
982    1.80
983    3.22
Name: Acres, dtype: float64
982    1.80
983    3.22
Name: Acres, dtype: float64
8.6
982    8.6
983    8.6
Name: births_to_adolescents, dtype: float64
982    8.6
983    8.6
Name: births_to_adolescents, dtype: float64
542.0
982    542.0
983    542.0
Name: grocery_proximate_units, dtype: float64
982    542.0
983    542.0
Name: grocery_proximate_units, dtype: float64
51.3
982    51.3
983    51.3
Name: prenatal_care, dtype: float64
982    51.3
983    51.3
Name: prenatal_care, dtype: float64
40.5
982    42.0
983    39.0
Name: grocery_proximity, dtype: float64
982    42.0
983    39.0
Name: grocery_proximity, dtype: float64
13.2
982    13.2
983    13.2
Name: low_birthweight, dtype: float64
982    13.2
983    13.2
Name: low_birthweight, dtype: float64
37.0
982    37.0
983    37.0
Name: public_health_insurance, dtype: float64
982    37.0
983    37.0
Name: public_health_insurance, dtype: float64
53.0
982    53.0
983    53.0
Name: age_of_death, dtype: float64
982    53.0
983    53.0
Name: age_of_death, dtype: float64
31.8
982    31.8
983    31.8
Name: impervious_surface, dtype: float64
982    31.8
983    31.8
Name: impervious_surface, dtype: float64
149.0
982    149.0
983    149.0
Name: water_consumption, dtype: float64
982    149.0
983    149.0
Name: water_consumption, dtype: float64
70.75
982    71.5
983    70.0
Name: neighborhood_school_attendance, dtype: float64
982    71.5
983    70.0
Name: neighborhood_school_attendance, dtype: float64
78.5
982    79.0
983    78.0
Name: highschool_graduation_rate, dtype: float64
982    79.0
983    78.0
Name: highschool_graduation_rate, dtype: float64
22.035
982    21.47
983    22.60
Name: proficiency_elementary_school, dtype: float64
982    21.47
983    22.60
Name: proficiency_elementary_school, dtype: float64
25.4
982    17.9
983    32.9
Name: proficiency_middle_school, dtype: float64
982    17.9
983    32.9
Name: proficiency_middle_school, dtype: float64
23.049999999999997
982    28.2
983    17.9
Name: proficiency_high_school, dtype: float64
982    28.2
983    17.9
Name: proficiency_high_school, dtype: float64
20.0
982    21.0
983    19.0
Name: student_absenteeism, dtype: float64
982    21.0
983    19.0
Name: student_absenteeism, dtype: float64
505.0

982    861.0
983    149.0
Name: voters_participating, dtype: float64
982    861.0
983    149.0
Name: voters_participating, dtype: float64
nan
982   -1.0
983   -1.0
Name: neighborhood_organizations, dtype: float64
982   -1.0
983   -1.0
Name: neighborhood_organizations, dtype: float64
33.0
982    57.0
983     9.0
Name: voter_participation, dtype: float64
982    57.0
983     9.0
Name: voter_participation, dtype: float64
13.3
982    13.3
983    13.3
Name: vacant_land, dtype: float64
982    13.3
983    13.3
Name: vacant_land, dtype: float64
8.0
982    8.0
983    8.0
Name: population_density, dtype: float64
982    8.0
983    8.0
Name: population_density, dtype: float64
3155.5
982    3116.0
983    3195.0
Name: population, dtype: float64
982    3116.0
983    3195.0
Name: population, dtype: float64
nan
982   -1.0
983   -1.0
Name: transit_ridership, dtype: float64
982   -1.0
983   -1.0
Name: transit_ridership, dtype: float64
1.16
982    1.16
983    1.16
Name: street_connectivity, dtype: float64
982    1.16
983    1.16
Name: street_connectivity, dtype: float64
1.3
982    1.3
983    1.3
Name: bicycle_friendliness, dtype: float64
982    1.3
983    1.3
Name: bicycle_friendliness, dtype: float64
1.4204000000000003
984    1.240
985    1.242
986    2.770
987    0.610
988    1.240
Name: Acres, dtype: float64
984    1.240
985    1.242
986    2.770
987    0.610
988    1.240
Name: Acres, dtype: float64
1.8
984    1.8
985    1.8
986    1.8
987    0.0
988    3.6
Name: births_to_adolescents, dtype: float64
984    1.8
985    1.8
986    1.8
987    0.0
988    3.6
Name: births_to_adolescents, dtype: float64
0.0
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: grocery_proximate_units, dtype: float64
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: grocery_proximate_units, dtype: float64
67.44999999999999
984    67.45
985    67.45
986    67.45
987    70.60
988    64.30
Name: prenatal_care, dtype: float64
984    67.45
985    67.45
986    67.45
987    70.60
988    64.30
Name: prenatal_care, dtype: float64
0.0
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: grocery_proximity, dtype: float64
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: grocery_proximity, dtype: float64
11.25
984    11.25
985    11.25
986    11.25
987    11.80
988    10.70
Name: low_birthweight, dtype: float64
984    11.25
985    11.25
986    11.25
987    11.80
988    10.70
Name: low_birthweight, dtype: float64
71.0
984    71.0
985    71.0
986    64.0
987    78.0
988    71.0
Name: public_health_insurance, dtype: float64
984    71.0
985    71.0
986    64.0
987    78.0
988    71.0
Name: public_health_insurance, dtype: float64
nan
984   -1.0
985   -1.0
986   -1.0
987   -1.0
988   -1.0
Name: age_of_death, dtype: float64
984   -1.0
985   -1.0
986   -1.0
987   -1.0
988   -1.0
Name: age_of_death, dtype: float64
44.56666666666666
984    44.566667
985    42.300000
986    45.700000
987    44.566667
988    45.700000
Name: impervious_surface, dtype: float64
984    44.566667
985    42.300000
986    45.700000
987    44.566667
988    45.700000
Name: impervious_surface, dtype: float64
nan
984   -1.0
985   -1.0
986   -1.0
987   -1.0
988   -1.0
Name: water_consumption, dtype: float64
984   -1.0
985   -1.0
986   -1.0
987   -1.0
988   -1.0
Name: water_consumption, dtype: float64
70.83
984    70.83
985    70.83
986    76.32
987    73.77
988    62.40
Name: neighborhood_school_attendance, dtype: float64
984    70.83
985    70.83
986    76.32
987    73.77
988    62.40
Name: neighborhood_school_attendance, dtype: float64
95.33333333333333
984     95.333333
985     95.333333
986    100.000000
987    100.000000
988     86.000000
Name: highschool_graduation_rate, dtype: float64
984     95.333333
985     95.333333
986    100.000000
987    100.000000
988     86.000000
Name: highschool_graduation_rate, dtype: float64
17.347037037037037
984    17.347037
985    17.347037
986    20.000000
987    11.111111
988    20.930000
Name: proficiency_elementary_school, dtype: float64
984    17.347037
985    17.347037
986    20.000000
987    11.111111
988    20.930000
Name: proficiency_elementary_school, dtype: float64
20.115151515151513
984    20.115152
985    20.115152
986    25.000000
987     4.545455
988    30.800000
Name: proficiency_middle_school, dtype: float64
984    20.115152
985    20.115152
986    25.000000
987     4.545455
988    30.800000
Name: proficiency_middle_school, dtype: float64
30.935714285714283
984    30.935714
985    30.935714
986    30.935714
987    28.571429
988    33.300000
Name: proficiency_high_school, dtype: float64
984    30.935714
985    30.935714
986    30.935714
987    28.571429
988    33.300000
Name: proficiency_high_school, dtype: float64
15.170798898071611
984    15.170799
985    15.170799
986    14.876033
987    13.636364
988    17.000000
Name: student_absenteeism, dtype: float64
984    15.170799
985    15.170799
986    14.876033
987    13.636364
988    17.000000
Name: student_absenteeism, dtype: float64
134.5
984    134.5
985    170.0
986     16.0
987     77.0
988    275.0
Name: voters_participating, dtype: float64
984    134.5
985    170.0
986     16.0
987     77.0
988    275.0
Name: voters_participating, dtype: float64
0.0
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: neighborhood_organizations, dtype: float64
984    0.0
985    0.0
986    0.0
987    0.0
988    0.0
Name: neighborhood_organizations, dtype: float64
36.0
984    36.0
985    43.0
986     6.0
987    31.0
988    64.0
Name: voter_participation, dtype: float64
984    36.0
985    43.0
986     6.0
987    31.0
988    64.0
Name: voter_participation, dtype: float64
5.066666666666666
984    5.066667
985    5.000000
986    5.100000
987    5.066667
988    5.100000
Name: vacant_land, dtype: float64
984    5.066667
985    5.000000
986    5.100000
987    5.066667
988    5.100000
Name: vacant_land, dtype: float64
8.666666666666666
984     8.666667
985    12.000000
986     7.000000
987     8.666667
988     7.000000
Name: population_density, dtype: float64
984     8.666667
985    12.000000
986     7.000000
987     8.666667
988     7.000000
Name: population_density, dtype: float64
774.0
984     774.0
985    1107.0
986     604.0
987     774.0
988     611.0
Name: population, dtype: float64
984     774.0
985    1107.0
986     604.0
987     774.0
988     611.0
Name: population, dtype: float64
54.0
984    54.0
985    54.0
986    55.0
987    53.0
988    54.0
Name: transit_ridership, dtype: float64
984    54.0
985    54.0
986    55.0
987    53.0
988    54.0
Name: transit_ridership, dtype: float64
1.1933333333333334
984    1.193333
985    1.220000
986    1.180000
987    1.193333
988    1.180000
Name: street_connectivity, dtype: float64
984    1.193333
985    1.220000
986    1.180000
987    1.193333
988    1.180000
Name: street_connectivity, dtype: float64
1.4666666666666668
984    1.466667
985    1.600000
986    1.300000
987    1.466667
988    1.500000
Name: bicycle_friendliness, dtype: float64
984    1.466667
985    1.600000
986    1.300000
987    1.466667
988    1.500000
Name: bicycle_friendliness, dtype: float64
1.5
989    1.5
Name: Acres, dtype: float64
989    1.5
Name: Acres, dtype: float64
nan
989   -1.0
Name: births_to_adolescents, dtype: float64
989   -1.0
Name: births_to_adolescents, dtype: float64
414.0
989    414.0
Name: grocery_proximate_units, dtype: float64
989    414.0
Name: grocery_proximate_units, dtype: float64
nan
989   -1.0
Name: prenatal_care, dtype: float64
989   -1.0
Name: prenatal_care, dtype: float64
73.0
989    73.0
Name: grocery_proximity, dtype: float64
989    73.0
Name: grocery_proximity, dtype: float64
nan
989   -1.0
Name: low_birthweight, dtype: float64
989   -1.0
Name: low_birthweight, dtype: float64
2.0
989    2.0
Name: public_health_insurance, dtype: float64
989    2.0
Name: public_health_insurance, dtype: float64
nan
989   -1.0
Name: age_of_death, dtype: float64
989   -1.0
Name: age_of_death, dtype: float64
22.7
989    22.7
Name: impervious_surface, dtype: float64
989    22.7
Name: impervious_surface, dtype: float64
nan
989   -1.0
Name: water_consumption, dtype: float64
989   -1.0
Name: water_consumption, dtype: float64
94.02
989    94.02
Name: neighborhood_school_attendance, dtype: float64
989    94.02
Name: neighborhood_school_attendance, dtype: float64
100.0
989    100.0
Name: highschool_graduation_rate, dtype: float64
989    100.0
Name: highschool_graduation_rate, dtype: float64
83.3333333333333
989    83.333333
Name: proficiency_elementary_school, dtype: float64
989    83.333333
Name: proficiency_elementary_school, dtype: float64
82.93
989    82.93
Name: proficiency_middle_school, dtype: float64
989    82.93
Name: proficiency_middle_school, dtype: float64
100.0
989    100.0
Name: proficiency_high_school, dtype: float64
989    100.0
Name: proficiency_high_school, dtype: float64
4.712041884816751
989    4.712042
Name: student_absenteeism, dtype: float64
989    4.712042
Name: student_absenteeism, dtype: float64
140.0
989    140.0
Name: voters_participating, dtype: float64
989    140.0
Name: voters_participating, dtype: float64
0.0
989    0.0
Name: neighborhood_organizations, dtype: float64
989    0.0
Name: neighborhood_organizations, dtype: float64
20.0
989    20.0
Name: voter_participation, dtype: float64
989    20.0
Name: voter_participation, dtype: float64
0.2
989    0.2
Name: vacant_land, dtype: float64
989    0.2
Name: vacant_land, dtype: float64
10.0
989    10.0
Name: population_density, dtype: float64
989    10.0
Name: population_density, dtype: float64
1353.0
989    1353.0
Name: population, dtype: float64
989    1353.0
Name: population, dtype: float64
61.0
989    61.0
Name: transit_ridership, dtype: float64
989    61.0
Name: transit_ridership, dtype: float64
1.12
989    1.12
Name: street_connectivity, dtype: float64
989    1.12
Name: street_connectivity, dtype: float64
1.4
989    1.4
Name: bicycle_friendliness, dtype: float64
989    1.4
Name: bicycle_friendliness, dtype: float64
6.94
990    6.94
Name: Acres, dtype: float64
990    6.94
Name: Acres, dtype: float64
0.0
990    0.0
Name: births_to_adolescents, dtype: float64
990    0.0
Name: births_to_adolescents, dtype: float64
0.0
990    0.0
Name: grocery_proximate_units, dtype: float64
990    0.0
Name: grocery_proximate_units, dtype: float64
56.7
990    56.7
Name: prenatal_care, dtype: float64
990    56.7
Name: prenatal_care, dtype: float64
0.0
990    0.0
Name: grocery_proximity, dtype: float64
990    0.0
Name: grocery_proximity, dtype: float64
9.0
990    9.0
Name: low_birthweight, dtype: float64
990    9.0
Name: low_birthweight, dtype: float64
2.0
990    2.0
Name: public_health_insurance, dtype: float64
990    2.0
Name: public_health_insurance, dtype: float64

nan
990   -1.0
Name: age_of_death, dtype: float64
990   -1.0
Name: age_of_death, dtype: float64
nan
990   -1.0
Name: impervious_surface, dtype: float64
990   -1.0
Name: impervious_surface, dtype: float64
nan
990   -1.0
Name: water_consumption, dtype: float64
990   -1.0
Name: water_consumption, dtype: float64
65.33
990    65.33
Name: neighborhood_school_attendance, dtype: float64
990    65.33
Name: neighborhood_school_attendance, dtype: float64
nan
990   -1.0
Name: highschool_graduation_rate, dtype: float64
990   -1.0
Name: highschool_graduation_rate, dtype: float64
50.0
990    50.0
Name: proficiency_elementary_school, dtype: float64
990    50.0
Name: proficiency_elementary_school, dtype: float64
40.0
990    40.0
Name: proficiency_middle_school, dtype: float64
990    40.0
Name: proficiency_middle_school, dtype: float64
20.0
990    20.0
Name: proficiency_high_school, dtype: float64
990    20.0
Name: proficiency_high_school, dtype: float64
10.843373493975903
990    10.843373
Name: student_absenteeism, dtype: float64
990    10.843373
Name: student_absenteeism, dtype: float64
340.0
990    340.0
Name: voters_participating, dtype: float64
990    340.0
Name: voters_participating, dtype: float64
0.0
990    0.0
Name: neighborhood_organizations, dtype: float64
990    0.0
Name: neighborhood_organizations, dtype: float64
41.0
990    41.0
Name: voter_participation, dtype: float64
990    41.0
Name: voter_participation, dtype: float64
nan
990   -1.0
Name: vacant_land, dtype: float64
990   -1.0
Name: vacant_land, dtype: float64
nan
990   -1.0
Name: population_density, dtype: float64
990   -1.0
Name: population_density, dtype: float64
nan
990   -1.0
Name: population, dtype: float64
990   -1.0
Name: population, dtype: float64
41.0
990    41.0
Name: transit_ridership, dtype: float64
990    41.0
Name: transit_ridership, dtype: float64
nan
990   -1.0
Name: street_connectivity, dtype: float64
990   -1.0
Name: street_connectivity, dtype: float64
nan
990   -1.0
Name: bicycle_friendliness, dtype: float64
990   -1.0
Name: bicycle_friendliness, dtype: float64
12.424999999999999
991    20.08
992    14.21
993    10.44
994     4.97
Name: Acres, dtype: float64
991    20.08
992    14.21
993    10.44
994     4.97
Name: Acres, dtype: float64
2.3
991    2.3
992    2.3
993    2.3
994    2.3
Name: births_to_adolescents, dtype: float64
991    2.3
992    2.3
993    2.3
994    2.3
Name: births_to_adolescents, dtype: float64
98.0
991     92.0
992    101.0
993    101.0
994     98.0
Name: grocery_proximate_units, dtype: float64
991     92.0
992    101.0
993    101.0
994     98.0
Name: grocery_proximate_units, dtype: float64
62.8
991    62.8
992    62.8
993    62.8
994    62.8
Name: prenatal_care, dtype: float64
991    62.8
992    62.8
993    62.8
994    62.8
Name: prenatal_care, dtype: float64
6.333333333333333
991    6.000000
992    7.000000
993    6.000000
994    6.333333
Name: grocery_proximity, dtype: float64
991    6.000000
992    7.000000
993    6.000000
994    6.333333
Name: grocery_proximity, dtype: float64
10.9
991    10.9
992    10.9
993    10.9
994    10.9
Name: low_birthweight, dtype: float64
991    10.9
992    10.9
993    10.9
994    10.9
Name: low_birthweight, dtype: float64
14.0
991    14.0
992    14.0
993    14.0
994    14.0
Name: public_health_insurance, dtype: float64
991    14.0
992    14.0
993    14.0
994    14.0
Name: public_health_insurance, dtype: float64
68.0
991    68.0
992    68.0
993    68.0
994    68.0
Name: age_of_death, dtype: float64
991    68.0
992    68.0
993    68.0
994    68.0
Name: age_of_death, dtype: float64
9.966666666666667
991     9.900000
992    10.000000
993    10.000000
994     9.966667
Name: impervious_surface, dtype: float64
991     9.900000
992    10.000000
993    10.000000
994     9.966667
Name: impervious_surface, dtype: float64
131.0
991    132.0
992    130.0
993    131.0
994    131.0
Name: water_consumption, dtype: float64
991    132.0
992    130.0
993    131.0
994    131.0
Name: water_consumption, dtype: float64
62.65
991    62.65
992    62.30
993    63.00
994    62.65
Name: neighborhood_school_attendance, dtype: float64
991    62.65
992    62.30
993    63.00
994    62.65
Name: neighborhood_school_attendance, dtype: float64
89.5
991    89.5
992    86.0
993    93.0
994    89.5
Name: highschool_graduation_rate, dtype: float64
991    89.5
992    86.0
993    93.0
994    89.5
Name: highschool_graduation_rate, dtype: float64
44.120000000000005
991    44.12
992    42.64
993    45.60
994    44.12
Name: proficiency_elementary_school, dtype: float64
991    44.12
992    42.64
993    45.60
994    44.12
Name: proficiency_elementary_school, dtype: float64
36.0
991    36.0
992    38.4
993    33.6
994    36.0
Name: proficiency_middle_school, dtype: float64
991    36.0
992    38.4
993    33.6
994    36.0
Name: proficiency_middle_school, dtype: float64
26.6
991    26.6
992    29.0
993    24.2
994    26.6
Name: proficiency_high_school, dtype: float64
991    26.6
992    29.0
993    24.2
994    26.6
Name: proficiency_high_school, dtype: float64
11.5
991    11.5
992    11.0
993    12.0
994    11.5
Name: student_absenteeism, dtype: float64
991    11.5
992    11.0
993    12.0
994    11.5
Name: student_absenteeism, dtype: float64
1144.6666666666667
991    1266.000000
992    1766.000000
993     402.000000
994    1144.666667
Name: voters_participating, dtype: float64
991    1266.000000
992    1766.000000
993     402.000000
994    1144.666667
Name: voters_participating, dtype: float64
nan
991   -1.0
992   -1.0
993   -1.0
994   -1.0
Name: neighborhood_organizations, dtype: float64
991   -1.0
992   -1.0
993   -1.0
994   -1.0
Name: neighborhood_organizations, dtype: float64
50.333333333333336
991    59.000000
992    77.000000
993    15.000000
994    50.333333
Name: voter_participation, dtype: float64
991    59.000000
992    77.000000
993    15.000000
994    50.333333
Name: voter_participation, dtype: float64
20.433333333333334
991    20.900000
992    20.200000
993    20.200000
994    20.433333
Name: vacant_land, dtype: float64
991    20.900000
992    20.200000
993    20.200000
994    20.433333
Name: vacant_land, dtype: float64
5.0
991    5.0
992    5.0
993    5.0
994    5.0
Name: population_density, dtype: float64
991    5.0
992    5.0
993    5.0
994    5.0
Name: population_density, dtype: float64
4149.333333333333
991    4244.000000
992    4035.000000
993    4169.000000
994    4149.333333
Name: population, dtype: float64
991    4244.000000
992    4035.000000
993    4169.000000
994    4149.333333
Name: population, dtype: float64
nan
991   -1.0
992   -1.0
993   -1.0
994   -1.0
Name: transit_ridership, dtype: float64
991   -1.0
992   -1.0
993   -1.0
994   -1.0
Name: transit_ridership, dtype: float64
1.14
991    1.14
992    1.14
993    1.14
994    1.14
Name: street_connectivity, dtype: float64
991    1.14
992    1.14
993    1.14
994    1.14
Name: street_connectivity, dtype: float64
1.3666666666666665
991    1.400000
992    1.300000
993    1.400000
994    1.366667
Name: bicycle_friendliness, dtype: float64
991    1.400000
992    1.300000
993    1.400000
994    1.366667
Name: bicycle_friendliness, dtype: float64
8.31
995    16.07
996     0.55
Name: Acres, dtype: float64
995    16.07
996     0.55
Name: Acres, dtype: float64
nan
995   -1.0
996   -1.0
Name: births_to_adolescents, dtype: float64
995   -1.0
996   -1.0
Name: births_to_adolescents, dtype: float64
1018.5
995    1140.0
996     897.0
Name: grocery_proximate_units, dtype: float64
995    1140.0
996     897.0
Name: grocery_proximate_units, dtype: float64
nan
995   -1.0
996   -1.0
Name: prenatal_care, dtype: float64
995   -1.0
996   -1.0
Name: prenatal_care, dtype: float64
69.0
995    67.0
996    71.0
Name: grocery_proximity, dtype: float64
995    67.0
996    71.0
Name: grocery_proximity, dtype: float64
nan
995   -1.0
996   -1.0
Name: low_birthweight, dtype: float64
995   -1.0
996   -1.0
Name: low_birthweight, dtype: float64
6.0
995    6.0
996    6.0
Name: public_health_insurance, dtype: float64
995    6.0
996    6.0
Name: public_health_insurance, dtype: float64
nan
995   -1.0
996   -1.0
Name: age_of_death, dtype: float64
995   -1.0
996   -1.0
Name: age_of_death, dtype: float64
40.599999999999994
995    40.9
996    40.3
Name: impervious_surface, dtype: float64
995    40.9
996    40.3
Name: impervious_surface, dtype: float64
nan
995   -1.0
996   -1.0
Name: water_consumption, dtype: float64
995   -1.0
996   -1.0
Name: water_consumption, dtype: float64
81.84
995    90.00
996    73.68
Name: neighborhood_school_attendance, dtype: float64
995    90.00
996    73.68
Name: neighborhood_school_attendance, dtype: float64
83.0
995    83.0
996    83.0
Name: highschool_graduation_rate, dtype: float64
995    83.0
996    83.0
Name: highschool_graduation_rate, dtype: float64
53.25
995    44.0
996    62.5
Name: proficiency_elementary_school, dtype: float64
995    44.0
996    62.5
Name: proficiency_elementary_school, dtype: float64
52.4
995    54.8
996    50.0
Name: proficiency_middle_school, dtype: float64
995    54.8
996    50.0
Name: proficiency_middle_school, dtype: float64
66.67
995    66.67
996    66.67
Name: proficiency_high_school, dtype: float64
995    66.67
996    66.67
Name: proficiency_high_school, dtype: float64
8.5
995    12.0
996     5.0
Name: student_absenteeism, dtype: float64
995    12.0
996     5.0
Name: student_absenteeism, dtype: float64
252.0
995    312.0
996    192.0
Name: voters_participating, dtype: float64
995    312.0
996    192.0
Name: voters_participating, dtype: float64
2.0
995    2.0
996    2.0
Name: neighborhood_organizations, dtype: float64
995    2.0
996    2.0
Name: neighborhood_organizations, dtype: float64
21.5
995    20.0
996    23.0
Name: voter_participation, dtype: float64
995    20.0
996    23.0
Name: voter_participation, dtype: float64
11.3
995    10.6
996    12.0
Name: vacant_land, dtype: float64
995    10.6
996    12.0
Name: vacant_land, dtype: float64
12.0
995    13.0
996    11.0
Name: population_density, dtype: float64
995    13.0
996    11.0
Name: population_density, dtype: float64
2056.0
995    2236.0
996    1876.0
Name: population, dtype: float64
995    2236.0
996    1876.0
Name: population, dtype: float64
29.0
995    29.0
996    29.0
Name: transit_ridership, dtype: float64
995    29.0
996    29.0
Name: transit_ridership, dtype: float64
1.09
995    1.08
996    1.10
Name: street_connectivity, dtype: float64
995    1.08
996    1.10
Name: street_connectivity, dtype: float64
1.7

995    1.7
996    1.7
Name: bicycle_friendliness, dtype: float64
995    1.7
996    1.7
Name: bicycle_friendliness, dtype: float64
4.526666666666666
997    5.89
998    6.63
999    1.06
Name: Acres, dtype: float64
997    5.89
998    6.63
999    1.06
Name: Acres, dtype: float64
nan
997   -1.0
998   -1.0
999   -1.0
Name: births_to_adolescents, dtype: float64
997   -1.0
998   -1.0
999   -1.0
Name: births_to_adolescents, dtype: float64
277.0
997    261.0
998    293.0
999    277.0
Name: grocery_proximate_units, dtype: float64
997    261.0
998    293.0
999    277.0
Name: grocery_proximate_units, dtype: float64
nan
997   -1.0
998   -1.0
999   -1.0
Name: prenatal_care, dtype: float64
997   -1.0
998   -1.0
999   -1.0
Name: prenatal_care, dtype: float64
49.5
997    52.0
998    47.0
999    49.5
Name: grocery_proximity, dtype: float64
997    52.0
998    47.0
999    49.5
Name: grocery_proximity, dtype: float64
nan
997   -1.0
998   -1.0
999   -1.0
Name: low_birthweight, dtype: float64
997   -1.0
998   -1.0
999   -1.0
Name: low_birthweight, dtype: float64
38.5
997    41.0
998    36.0
999    38.5
Name: public_health_insurance, dtype: float64
997    41.0
998    36.0
999    38.5
Name: public_health_insurance, dtype: float64
nan
997   -1.0
998   -1.0
999   -1.0
Name: age_of_death, dtype: float64
997   -1.0
998   -1.0
999   -1.0
Name: age_of_death, dtype: float64
37.2
997    37.1
998    37.3
999    37.2
Name: impervious_surface, dtype: float64
997    37.1
998    37.3
999    37.2
Name: impervious_surface, dtype: float64
nan
997   -1.0
998   -1.0
999   -1.0
Name: water_consumption, dtype: float64
997   -1.0
998   -1.0
999   -1.0
Name: water_consumption, dtype: float64
77.11500000000001
997    79.230
998    75.000
999    77.115
Name: neighborhood_school_attendance, dtype: float64
997    79.230
998    75.000
999    77.115
Name: neighborhood_school_attendance, dtype: float64
75.0
997    64.0
998    86.0
999    75.0
Name: highschool_graduation_rate, dtype: float64
997    64.0
998    86.0
999    75.0
Name: highschool_graduation_rate, dtype: float64
19.09285714285715
997    14.285714
998    23.900000
999    19.092857
Name: proficiency_elementary_school, dtype: float64
997    14.285714
998    23.900000
999    19.092857
Name: proficiency_elementary_school, dtype: float64
11.68
997    11.36
998    12.00
999    11.68
Name: proficiency_middle_school, dtype: float64
997    11.36
998    12.00
999    11.68
Name: proficiency_middle_school, dtype: float64
28.57
997    28.57
998    28.57
999    28.57
Name: proficiency_high_school, dtype: float64
997    28.57
998    28.57
999    28.57
Name: proficiency_high_school, dtype: float64
15.25688073394495
997    16.513761
998    14.000000
999    15.256881
Name: student_absenteeism, dtype: float64
997    16.513761
998    14.000000
999    15.256881
Name: student_absenteeism, dtype: float64
129.5
997    115.0
998    144.0
999    129.5
Name: voters_participating, dtype: float64
997    115.0
998    144.0
999    129.5
Name: voters_participating, dtype: float64
1.0
997    1.0
998    1.0
999    1.0
Name: neighborhood_organizations, dtype: float64
997    1.0
998    1.0
999    1.0
Name: neighborhood_organizations, dtype: float64
20.5
997    22.0
998    19.0
999    20.5
Name: voter_participation, dtype: float64
997    22.0
998    19.0
999    20.5
Name: voter_participation, dtype: float64
9.1
997    9.1
998    9.1
999    9.1
Name: vacant_land, dtype: float64
997    9.1
998    9.1
999    9.1
Name: vacant_land, dtype: float64
3.0
997    3.0
998    3.0
999    3.0
Name: population_density, dtype: float64
997    3.0
998    3.0
999    3.0
Name: population_density, dtype: float64
1391.5
997    1390.0
998    1393.0
999    1391.5
Name: population, dtype: float64
997    1390.0
998    1393.0
999    1391.5
Name: population, dtype: float64
406.0
997    406.0
998    406.0
999    406.0
Name: transit_ridership, dtype: float64
997    406.0
998    406.0
999    406.0
Name: transit_ridership, dtype: float64
1.27
997    1.27
998    1.27
999    1.27
Name: street_connectivity, dtype: float64
997    1.27
998    1.27
999    1.27
Name: street_connectivity, dtype: float64
1.6
997    1.6
998    1.6
999    1.6
Name: bicycle_friendliness, dtype: float64
997    1.6
998    1.6
999    1.6
Name: bicycle_friendliness, dtype: float64
4.989749999999999
1000    8.03
1001    8.03
1002    3.65
1003    8.03
1004    0.70
Name: Acres, dtype: float64
1000    8.030
1001    8.030
1002    3.650
1003    8.030
1004    0.700
1005    8.030
1006    1.827
1007    1.621
Name: Acres, dtype: float64
0.0
1000    0.0
1001    0.0
1002    0.0
1003    0.0
1004    0.0
Name: births_to_adolescents, dtype: float64
1000    0.0
1001    0.0
1002    0.0
1003    0.0
1004    0.0
1005    0.0
1006    0.0
1007    0.0
Name: births_to_adolescents, dtype: float64
228.28571428571428
1000    221.0
1001    221.0
1002    260.0
1003    221.0
1004    220.0
Name: grocery_proximate_units, dtype: float64
1000    221.000000
1001    221.000000
1002    260.000000
1003    221.000000
1004    220.000000
1005    221.000000
1006    228.285714
1007    234.000000
Name: grocery_proximate_units, dtype: float64
85.55000000000001
1000    85.55
1001    85.55
1002    85.70
1003    85.55
1004    85.55
Name: prenatal_care, dtype: float64
1000    85.55
1001    85.55
1002    85.70
1003    85.55
1004    85.55
1005    85.55
1006    85.55
1007    85.40
Name: prenatal_care, dtype: float64
38.57142857142857
1000    38.0
1001    38.0
1002    41.0
1003    38.0
1004    38.0
Name: grocery_proximity, dtype: float64
1000    38.000000
1001    38.000000
1002    41.000000
1003    38.000000
1004    38.000000
1005    38.000000
1006    38.571429
1007    39.000000
Name: grocery_proximity, dtype: float64
7.75
1000    7.75
1001    7.75
1002    5.70
1003    7.75
1004    7.75
Name: low_birthweight, dtype: float64
1000    7.75
1001    7.75
1002    5.70
1003    7.75
1004    7.75
1005    7.75
1006    7.75
1007    9.80
Name: low_birthweight, dtype: float64
2.5
1000    2.5
1001    2.5
1002    3.0
1003    2.5
1004    2.0
Name: public_health_insurance, dtype: float64
1000    2.5
1001    2.5
1002    3.0
1003    2.5
1004    2.0
1005    2.5
1006    2.5
1007    2.5
Name: public_health_insurance, dtype: float64
89.0
1000    89.0
1001    89.0
1002    89.0
1003    89.0
1004    89.0
Name: age_of_death, dtype: float64
1000    89.0
1001    89.0
1002    89.0
1003    89.0
1004    89.0
1005    89.0
1006    89.0
1007    89.0
Name: age_of_death, dtype: float64
32.99999999999999
1000    32.8
1001    32.8
1002    33.0
1003    32.8
1004    33.7
Name: impervious_surface, dtype: float64
1000    32.8
1001    32.8
1002    33.0
1003    32.8
1004    33.7
1005    32.8
1006    33.0
1007    33.1
Name: impervious_surface, dtype: float64
145.33333333333334
1000    141.000000
1001    141.000000
1002    149.000000
1003    141.000000
1004    145.333333
Name: water_consumption, dtype: float64
1000    141.000000
1001    141.000000
1002    149.000000
1003    141.000000
1004    145.333333
1005    141.000000
1006    145.333333
1007    159.000000
Name: water_consumption, dtype: float64
85.17
1000    85.17
1001    85.17
1002    84.81
1003    85.17
1004    85.00
Name: neighborhood_school_attendance, dtype: float64
1000    85.17
1001    85.17
1002    84.81
1003    85.17
1004    85.00
1005    85.17
1006    85.17
1007    85.70
Name: neighborhood_school_attendance, dtype: float64
95.0
1000     95.0
1001     95.0
1002     93.0
1003     95.0
1004    100.0
Name: highschool_graduation_rate, dtype: float64
1000     95.0
1001     95.0
1002     93.0
1003     95.0
1004    100.0
1005     95.0
1006     95.0
1007     92.0
Name: highschool_graduation_rate, dtype: float64
79.57859649122808
1000    79.578596
1001    79.578596
1002    76.315789
1003    79.578596
1004    77.800000
Name: proficiency_elementary_school, dtype: float64
1000    79.578596
1001    79.578596
1002    76.315789
1003    79.578596
1004    77.800000
1005    79.578596
1006    79.578596
1007    84.620000
Name: proficiency_elementary_school, dtype: float64
85.66666666666667
1000    85.666667
1001    85.666667
1002    80.000000
1003    85.666667
1004    87.500000
Name: proficiency_middle_school, dtype: float64
1000    85.666667
1001    85.666667
1002    80.000000
1003    85.666667
1004    87.500000
1005    85.666667
1006    85.666667
1007    89.500000
Name: proficiency_middle_school, dtype: float64
67.96666666666667
1000    67.966667
1001    67.966667
1002    62.500000
1003    67.966667
1004    70.000000
Name: proficiency_high_school, dtype: float64
1000    67.966667
1001    67.966667
1002    62.500000
1003    67.966667
1004    70.000000
1005    67.966667
1006    67.966667
1007    71.400000
Name: proficiency_high_school, dtype: float64
4.829268292682927
1000    4.829268
1001    4.829268
1002    5.487805
1003    4.829268
1004    4.000000
Name: student_absenteeism, dtype: float64
1000    4.829268
1001    4.829268
1002    5.487805
1003    4.829268
1004    4.000000
1005    4.829268
1006    4.829268
1007    5.000000
Name: student_absenteeism, dtype: float64
737.5714285714286
1000    798.0
1001    798.0
1002    615.0
1003    798.0
1004    498.0
Name: voters_participating, dtype: float64
1000    798.000000
1001    798.000000
1002    615.000000
1003    798.000000
1004    498.000000
1005    798.000000
1006    737.571429
1007    858.000000
Name: voters_participating, dtype: float64
4.0
1000    4.0
1001    4.0
1002    4.0
1003    4.0
1004    4.0
Name: neighborhood_organizations, dtype: float64
1000    4.0
1001    4.0
1002    4.0
1003    4.0
1004    4.0
1005    4.0
1006    4.0
1007    4.0
Name: neighborhood_organizations, dtype: float64
70.28571428571429
1000    77.0
1001    77.0
1002    62.0
1003    77.0
1004    41.0
Name: voter_participation, dtype: float64
1000    77.000000
1001    77.000000
1002    62.000000
1003    77.000000
1004    41.000000
1005    77.000000
1006    70.285714
1007    81.000000
Name: voter_participation, dtype: float64
0.6
1000    0.6
1001    0.6
1002    0.6
1003    0.6
1004    0.6
Name: vacant_land, dtype: float64
1000    0.6
1001    0.6
1002    0.6
1003    0.6
1004    0.6
1005    0.6
1006    0.6
1007    0.6
Name: vacant_land, dtype: float64
5.0
1000    5.0
1001    5.0
1002    5.0
1003    5.0
1004    5.0
Name: population_density, dtype: float64
1000    5.0
1001    5.0
1002    5.0
1003    5.0
1004    5.0
1005    5.0
1006    5.0
1007    5.0
Name: population_density, dtype: float64
1515.0
1000    1511.0
1001    1511.0
1002    1515.0
1003    1511.0
1004    1510.0
Name: population, dtype: float64
1000    1511.0
1001    1511.0
1002    1515.0
1003    1511.0
1004    1510.0
1005    1511.0
1006    1515.0
1007    1536.0
Name: population, dtype: float64
8.0
1000    8.0
1001    8.0
1002    8.0
1003    8.0
1004    8.0
Name: transit_ridership, dtype: float64
1000    8.0
1001    8.0
1002    8.0
1003    8.0
1004    8.0
1005    8.0
1006    8.0
1007    8.0
Name: transit_ridership, dtype: float64
1.1283333333333332
1000    1.130000
1001    1.130000
1002    1.128333
1003    1.130000
1004    1.110000
Name: street_connectivity, dtype: float64
1000    1.130000
1001    1.130000
1002    1.128333
1003    1.130000
1004    1.110000
1005    1.130000
1006    1.128333
1007    1.140000
Name: street_connectivity, dtype: float64
1.5
1000    1.5
1001    1.5
1002    1.5
1003    1.5
1004    1.5
Name: bicycle_friendliness, dtype: float64
1000    1.5
1001    1.5
1002    1.5
1003    1.5
1004    1.5
1005    1.5
1006    1.5
1007    1.5
Name: bicycle_friendliness, dtype: float64
2.08
1008    2.08
Name: Acres, dtype: float64
1008    2.08
Name: Acres, dtype: float64
nan
1008   -1.0
Name: births_to_adolescents, dtype: float64
1008   -1.0
Name: births_to_adolescents, dtype: float64
214.0
1008    214.0
Name: grocery_proximate_units, dtype: float64
1008    214.0
Name: grocery_proximate_units, dtype: float64
nan
1008   -1.0
Name: prenatal_care, dtype: float64
1008   -1.0
Name: prenatal_care, dtype: float64
62.0
1008    62.0
Name: grocery_proximity, dtype: float64
1008    62.0
Name: grocery_proximity, dtype: float64
nan
1008   -1.0
Name: low_birthweight, dtype: float64
1008   -1.0
Name: low_birthweight, dtype: float64
2.0
1008    2.0
Name: public_health_insurance, dtype: float64
1008    2.0
Name: public_health_insurance, dtype: float64
nan
1008   -1.0
Name: age_of_death, dtype: float64
1008   -1.0
Name: age_of_death, dtype: float64
20.4
1008    20.4
Name: impervious_surface, dtype: float64
1008    20.4
Name: impervious_surface, dtype: float64
nan
1008   -1.0
Name: water_consumption, dtype: float64
1008   -1.0
Name: water_consumption, dtype: float64
80.0
1008    80.0
Name: neighborhood_school_attendance, dtype: float64
1008    80.0
Name: neighborhood_school_attendance, dtype: float64
nan
1008   -1.0
Name: highschool_graduation_rate, dtype: float64
1008   -1.0
Name: highschool_graduation_rate, dtype: float64
93.3
1008    93.3
Name: proficiency_elementary_school, dtype: float64
1008    93.3
Name: proficiency_elementary_school, dtype: float64
nan
1008   -1.0
Name: proficiency_middle_school, dtype: float64
1008   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1008   -1.0
Name: proficiency_high_school, dtype: float64
1008   -1.0
Name: proficiency_high_school, dtype: float64
5.0
1008    5.0
Name: student_absenteeism, dtype: float64
1008    5.0
Name: student_absenteeism, dtype: float64
153.0
1008    153.0
Name: voters_participating, dtype: float64
1008    153.0
Name: voters_participating, dtype: float64
nan
1008   -1.0
Name: neighborhood_organizations, dtype: float64
1008   -1.0
Name: neighborhood_organizations, dtype: float64
38.0
1008    38.0
Name: voter_participation, dtype: float64
1008    38.0
Name: voter_participation, dtype: float64
4.9

1008    4.9
Name: vacant_land, dtype: float64
1008    4.9
Name: vacant_land, dtype: float64
4.0
1008    4.0
Name: population_density, dtype: float64
1008    4.0
Name: population_density, dtype: float64
797.0
1008    797.0
Name: population, dtype: float64
1008    797.0
Name: population, dtype: float64
nan
1008   -1.0
Name: transit_ridership, dtype: float64
1008   -1.0
Name: transit_ridership, dtype: float64
1.02
1008    1.02
Name: street_connectivity, dtype: float64
1008    1.02
Name: street_connectivity, dtype: float64
1.5
1008    1.5
Name: bicycle_friendliness, dtype: float64
1008    1.5
Name: bicycle_friendliness, dtype: float64
1.7733333333333332
1009    3.25
1010    0.89
1011    1.18
Name: Acres, dtype: float64
1009    3.25
1010    0.89
1011    1.18
Name: Acres, dtype: float64
0.0
1009    0.0
1010    0.0
1011    0.0
Name: births_to_adolescents, dtype: float64
1009    0.0
1010    0.0
1011    0.0
Name: births_to_adolescents, dtype: float64
365.5
1009    277.0
1010    365.5
1011    454.0
Name: grocery_proximate_units, dtype: float64
1009    277.0
1010    365.5
1011    454.0
Name: grocery_proximate_units, dtype: float64
62.9
1009    62.9
1010    62.9
1011    62.9
Name: prenatal_care, dtype: float64
1009    62.9
1010    62.9
1011    62.9
Name: prenatal_care, dtype: float64
32.5
1009    23.0
1010    32.5
1011    42.0
Name: grocery_proximity, dtype: float64
1009    23.0
1010    32.5
1011    42.0
Name: grocery_proximity, dtype: float64
4.8
1009    4.8
1010    4.8
1011    4.8
Name: low_birthweight, dtype: float64
1009    4.8
1010    4.8
1011    4.8
Name: low_birthweight, dtype: float64
nan
1009   -1.0
1010   -1.0
1011   -1.0
Name: public_health_insurance, dtype: float64
1009   -1.0
1010   -1.0
1011   -1.0
Name: public_health_insurance, dtype: float64
74.0
1009    74.0
1010    74.0
1011    74.0
Name: age_of_death, dtype: float64
1009    74.0
1010    74.0
1011    74.0
Name: age_of_death, dtype: float64
16.4
1009    16.6
1010    16.4
1011    16.2
Name: impervious_surface, dtype: float64
1009    16.6
1010    16.4
1011    16.2
Name: impervious_surface, dtype: float64
161.5
1009    156.0
1010    161.5
1011    167.0
Name: water_consumption, dtype: float64
1009    156.0
1010    161.5
1011    167.0
Name: water_consumption, dtype: float64
77.5
1009    77.5
1010    77.5
1011    77.5
Name: neighborhood_school_attendance, dtype: float64
1009    77.5
1010    77.5
1011    77.5
Name: neighborhood_school_attendance, dtype: float64
100.0
1009    100.0
1010    100.0
1011    100.0
Name: highschool_graduation_rate, dtype: float64
1009    100.0
1010    100.0
1011    100.0
Name: highschool_graduation_rate, dtype: float64
51.47
1009    51.47
1010    51.47
1011    51.47
Name: proficiency_elementary_school, dtype: float64
1009    51.47
1010    51.47
1011    51.47
Name: proficiency_elementary_school, dtype: float64
41.5
1009    41.5
1010    41.5
1011    41.5
Name: proficiency_middle_school, dtype: float64
1009    41.5
1010    41.5
1011    41.5
Name: proficiency_middle_school, dtype: float64
50.0
1009    50.0
1010    50.0
1011    50.0
Name: proficiency_high_school, dtype: float64
1009    50.0
1010    50.0
1011    50.0
Name: proficiency_high_school, dtype: float64
7.0
1009    7.0
1010    7.0
1011    7.0
Name: student_absenteeism, dtype: float64
1009    7.0
1010    7.0
1011    7.0
Name: student_absenteeism, dtype: float64
1291.0
1009    1144.0
1010    1291.0
1011    1438.0
Name: voters_participating, dtype: float64
1009    1144.0
1010    1291.0
1011    1438.0
Name: voters_participating, dtype: float64
nan
1009   -1.0
1010   -1.0
1011   -1.0
Name: neighborhood_organizations, dtype: float64
1009   -1.0
1010   -1.0
1011   -1.0
Name: neighborhood_organizations, dtype: float64
74.0
1009    68.0
1010    74.0
1011    80.0
Name: voter_participation, dtype: float64
1009    68.0
1010    74.0
1011    80.0
Name: voter_participation, dtype: float64
2.4
1009    2.4
1010    2.4
1011    2.4
Name: vacant_land, dtype: float64
1009    2.4
1010    2.4
1011    2.4
Name: vacant_land, dtype: float64
5.0
1009    5.0
1010    5.0
1011    5.0
Name: population_density, dtype: float64
1009    5.0
1010    5.0
1011    5.0
Name: population_density, dtype: float64
2501.5
1009    2658.0
1010    2501.5
1011    2345.0
Name: population, dtype: float64
1009    2658.0
1010    2501.5
1011    2345.0
Name: population, dtype: float64
nan
1009   -1.0
1010   -1.0
1011   -1.0
Name: transit_ridership, dtype: float64
1009   -1.0
1010   -1.0
1011   -1.0
Name: transit_ridership, dtype: float64
1.04
1009    1.04
1010    1.04
1011    1.04
Name: street_connectivity, dtype: float64
1009    1.04
1010    1.04
1011    1.04
Name: street_connectivity, dtype: float64
1.5
1009    1.5
1010    1.5
1011    1.5
Name: bicycle_friendliness, dtype: float64
1009    1.5
1010    1.5
1011    1.5
Name: bicycle_friendliness, dtype: float64
8.333923076923076
1012     3.02
1013     4.42
1014    25.47
1015     3.02
1016     3.02
Name: Acres, dtype: float64
1012     3.020
1013     4.420
1014    25.470
1015     3.020
1016     3.020
1017     0.110
1018    28.630
1019    12.520
1020     1.830
1021     1.830
1022     4.420
1023    12.520
1024     7.531
Name: Acres, dtype: float64
2.8000000000000003
1012    2.8
1013    2.8
1014    2.8
1015    2.8
1016    2.8
Name: births_to_adolescents, dtype: float64
1012    2.8
1013    2.8
1014    2.8
1015    2.8
1016    2.8
1017    0.0
1018    2.8
1019    2.8
1020    4.2
1021    4.2
1022    2.8
1023    2.8
1024    2.8
Name: births_to_adolescents, dtype: float64
249.22222222222223
1012    298.0
1013    298.0
1014    298.0
1015    298.0
1016    298.0
Name: grocery_proximate_units, dtype: float64
1012    298.000000
1013    298.000000
1014    298.000000
1015    298.000000
1016    298.000000
1017    283.000000
1018    249.222222
1019    249.222222
1020     86.000000
1021     86.000000
1022    298.000000
1023    249.222222
1024    249.222222
Name: grocery_proximate_units, dtype: float64
58.6
1012    58.6
1013    58.6
1014    58.6
1015    58.6
1016    58.6
Name: prenatal_care, dtype: float64
1012    58.6
1013    58.6
1014    58.6
1015    58.6
1016    58.6
1017    75.8
1018    58.6
1019    58.6
1020    50.0
1021    50.0
1022    58.6
1023    58.6
1024    58.6
Name: prenatal_care, dtype: float64
25.666666666666668
1012    30.0
1013    30.0
1014    30.0
1015    30.0
1016    30.0
Name: grocery_proximity, dtype: float64
1012    30.000000
1013    30.000000
1014    30.000000
1015    30.000000
1016    30.000000
1017    29.000000
1018    25.666667
1019    25.666667
1020    11.000000
1021    11.000000
1022    30.000000
1023    25.666667
1024    25.666667
Name: grocery_proximity, dtype: float64
11.366666666666667
1012    11.366667
1013    11.366667
1014    11.366667
1015    11.366667
1016    11.366667
Name: low_birthweight, dtype: float64
1012    11.366667
1013    11.366667
1014    11.366667
1015    11.366667
1016    11.366667
1017     9.100000
1018    11.366667
1019    11.366667
1020    12.500000
1021    12.500000
1022    11.366667
1023    11.366667
1024    11.366667
Name: low_birthweight, dtype: float64
8.0
1012    8.0
1013    8.0
1014    8.0
1015    8.0
1016    8.0
Name: public_health_insurance, dtype: float64
1012    8.0
1013    8.0
1014    8.0
1015    8.0
1016    8.0
1017    8.0
1018    8.0
1019    8.0
1020    8.0
1021    8.0
1022    8.0
1023    8.0
1024    8.0
Name: public_health_insurance, dtype: float64
51.333333333333336
1012    51.333333
1013    51.333333
1014    51.333333
1015    51.333333
1016    51.333333
Name: age_of_death, dtype: float64
1012    51.333333
1013    51.333333
1014    51.333333
1015    51.333333
1016    51.333333
1017    56.000000
1018    51.333333
1019    51.333333
1020    49.000000
1021    49.000000
1022    51.333333
1023    51.333333
1024    51.333333
Name: age_of_death, dtype: float64
22.942857142857143
1012    23.0
1013    23.0
1014    23.0
1015    23.0
1016    23.0
Name: impervious_surface, dtype: float64
1012    23.000000
1013    23.000000
1014    23.000000
1015    23.000000
1016    23.000000
1017    22.600000
1018    22.942857
1019    22.942857
1020    22.942857
1021    22.942857
1022    23.000000
1023    22.942857
1024    22.942857
Name: impervious_surface, dtype: float64
139.44444444444446
1012    140.0
1013    140.0
1014    140.0
1015    140.0
1016    140.0
Name: water_consumption, dtype: float64
1012    140.000000
1013    140.000000
1014    140.000000
1015    140.000000
1016    140.000000
1017    145.000000
1018    139.444444
1019    139.444444
1020    135.000000
1021    135.000000
1022    140.000000
1023    139.444444
1024    139.444444
Name: water_consumption, dtype: float64
65.3
1012    65.3
1013    65.3
1014    65.3
1015    65.3
1016    65.3
Name: neighborhood_school_attendance, dtype: float64
1012    65.3
1013    65.3
1014    65.3
1015    65.3
1016    65.3
1017    72.3
1018    65.3
1019    65.3
1020    61.8
1021    61.8
1022    65.3
1023    65.3
1024    65.3
Name: neighborhood_school_attendance, dtype: float64
86.66666666666667
1012    86.666667
1013    86.666667
1014    86.666667
1015    86.666667
1016    86.666667
Name: highschool_graduation_rate, dtype: float64
1012    86.666667
1013    86.666667
1014    86.666667
1015    86.666667
1016    86.666667
1017    80.000000
1018    86.666667
1019    86.666667
1020    90.000000
1021    90.000000
1022    86.666667
1023    86.666667
1024    86.666667
Name: highschool_graduation_rate, dtype: float64
46.03190476190476
1012    46.031905
1013    46.031905
1014    46.031905
1015    46.031905
1016    46.031905
Name: proficiency_elementary_school, dtype: float64
1012    46.031905
1013    46.031905
1014    46.031905
1015    46.031905
1016    46.031905
1017    23.810000
1018    46.031905
1019    46.031905
1020    57.142857
1021    57.142857
1022    46.031905
1023    46.031905
1024    46.031905
Name: proficiency_elementary_school, dtype: float64
30.333333333333332
1012    30.333333
1013    30.333333
1014    30.333333
1015    30.333333
1016    30.333333
Name: proficiency_middle_school, dtype: float64
1012    30.333333
1013    30.333333
1014    30.333333
1015    30.333333
1016    30.333333
1017    31.000000
1018    30.333333
1019    30.333333
1020    30.000000
1021    30.000000
1022    30.333333
1023    30.333333
1024    30.333333
Name: proficiency_middle_school, dtype: float64
14.285714285714285
1012    14.285714
1013    14.285714
1014    14.285714
1015    14.285714
1016    14.285714
Name: proficiency_high_school, dtype: float64
1012    14.285714
1013    14.285714
1014    14.285714
1015    14.285714
1016    14.285714
1017    14.285714
1018    14.285714
1019    14.285714
1020    14.285714
1021    14.285714
1022    14.285714
1023    14.285714
1024    14.285714
Name: proficiency_high_school, dtype: float64
17.768115942028988
1012    17.768116
1013    17.768116
1014    17.768116
1015    17.768116
1016    17.768116
Name: student_absenteeism, dtype: float64
1012    17.768116
1013    17.768116
1014    17.768116
1015    17.768116
1016    17.768116
1017    12.000000
1018    17.768116
1019    17.768116
1020    20.652174
1021    20.652174
1022    17.768116
1023    17.768116
1024    17.768116
Name: student_absenteeism, dtype: float64
458.55555555555554
1012    483.0
1013    483.0
1014    483.0
1015    483.0
1016    483.0
Name: voters_participating, dtype: float64
1012    483.000000
1013    483.000000
1014    483.000000
1015    483.000000
1016    483.000000
1017    783.000000
1018    458.555556
1019    458.555556
1020    223.000000
1021    223.000000
1022    483.000000
1023    458.555556
1024    458.555556
Name: voters_participating, dtype: float64
2.0
1012    2.0
1013    2.0
1014    2.0
1015    2.0
1016    2.0
Name: neighborhood_organizations, dtype: float64
1012    2.0
1013    2.0
1014    2.0
1015    2.0
1016    2.0
1017    2.0
1018    2.0
1019    2.0
1020    2.0
1021    2.0
1022    2.0
1023    2.0
1024    2.0
Name: neighborhood_organizations, dtype: float64
42.888888888888886
1012    48.0
1013    48.0
1014    48.0
1015    48.0
1016    48.0
Name: voter_participation, dtype: float64
1012    48.000000
1013    48.000000
1014    48.000000
1015    48.000000
1016    48.000000
1017    54.000000
1018    42.888889
1019    42.888889
1020    22.000000
1021    22.000000
1022    48.000000
1023    42.888889
1024    42.888889
Name: voter_participation, dtype: float64
13.599999999999998
1012    13.6
1013    13.6
1014    13.6
1015    13.6
1016    13.6
Name: vacant_land, dtype: float64
1012    13.6
1013    13.6
1014    13.6
1015    13.6
1016    13.6
1017    13.6
1018    13.6
1019    13.6
1020    13.6
1021    13.6
1022    13.6
1023    13.6
1024    13.6
Name: vacant_land, dtype: float64
2.0
1012    2.0
1013    2.0
1014    2.0
1015    2.0
1016    2.0
Name: population_density, dtype: float64
1012    2.0
1013    2.0
1014    2.0
1015    2.0
1016    2.0
1017    2.0
1018    2.0
1019    2.0
1020    2.0
1021    2.0
1022    2.0
1023    2.0
1024    2.0
Name: population_density, dtype: float64
2500.5714285714284
1012    2508.0
1013    2508.0
1014    2508.0
1015    2508.0
1016    2508.0
Name: population, dtype: float64
1012    2508.000000
1013    2508.000000
1014    2508.000000
1015    2508.000000
1016    2508.000000
1017    2456.000000
1018    2500.571429
1019    2500.571429
1020    2500.571429
1021    2500.571429
1022    2508.000000
1023    2500.571429
1024    2500.571429
Name: population, dtype: float64
97.0
1012    97.0
1013    97.0
1014    97.0
1015    97.0
1016    97.0
Name: transit_ridership, dtype: float64
1012    97.0
1013    97.0
1014    97.0
1015    97.0
1016    97.0
1017    97.0
1018    97.0
1019    97.0
1020    97.0
1021    97.0
1022    97.0
1023    97.0
1024    97.0
Name: transit_ridership, dtype: float64
1.16
1012    1.16
1013    1.16
1014    1.16
1015    1.16
1016    1.16
Name: street_connectivity, dtype: float64
1012    1.16
1013    1.16
1014    1.16
1015    1.16
1016    1.16
1017    1.16
1018    1.16
1019    1.16
1020    1.16
1021    1.16
1022    1.16
1023    1.16
1024    1.16
Name: street_connectivity, dtype: float64
1.385714285714286
1012    1.4
1013    1.4
1014    1.4
1015    1.4
1016    1.4
Name: bicycle_friendliness, dtype: float64
1012    1.400000
1013    1.400000
1014    1.400000
1015    1.400000
1016    1.400000
1017    1.300000
1018    1.385714
1019    1.385714
1020    1.385714
1021    1.385714
1022    1.400000
1023    1.385714
1024    1.385714
Name: bicycle_friendliness, dtype: float64
10.24
1025    10.24
Name: Acres, dtype: float64
1025    10.24
Name: Acres, dtype: float64
nan
1025   -1.0
Name: births_to_adolescents, dtype: float64
1025   -1.0
Name: births_to_adolescents, dtype: float64
196.0
1025    196.0
Name: grocery_proximate_units, dtype: float64
1025    196.0
Name: grocery_proximate_units, dtype: float64
nan
1025   -1.0
Name: prenatal_care, dtype: float64
1025   -1.0
Name: prenatal_care, dtype: float64
18.0
1025    18.0
Name: grocery_proximity, dtype: float64
1025    18.0
Name: grocery_proximity, dtype: float64
nan
1025   -1.0
Name: low_birthweight, dtype: float64
1025   -1.0
Name: low_birthweight, dtype: float64
8.0
1025    8.0
Name: public_health_insurance, dtype: float64
1025    8.0
Name: public_health_insurance, dtype: float64
nan
1025   -1.0
Name: age_of_death, dtype: float64
1025   -1.0
Name: age_of_death, dtype: float64
17.1
1025    17.1
Name: impervious_surface, dtype: float64
1025    17.1
Name: impervious_surface, dtype: float64
nan
1025   -1.0
Name: water_consumption, dtype: float64
1025   -1.0
Name: water_consumption, dtype: float64
90.5
1025    90.5
Name: neighborhood_school_attendance, dtype: float64
1025    90.5
Name: neighborhood_school_attendance, dtype: float64
84.0
1025    84.0
Name: highschool_graduation_rate, dtype: float64
1025    84.0
Name: highschool_graduation_rate, dtype: float64
56.3380281690141
1025    56.338028
Name: proficiency_elementary_school, dtype: float64
1025    56.338028
Name: proficiency_elementary_school, dtype: float64
55.0
1025    55.0
Name: proficiency_middle_school, dtype: float64
1025    55.0
Name: proficiency_middle_school, dtype: float64
70.59
1025    70.59
Name: proficiency_high_school, dtype: float64
1025    70.59
Name: proficiency_high_school, dtype: float64
11.904761904761902
1025    11.904762
Name: student_absenteeism, dtype: float64
1025    11.904762
Name: student_absenteeism, dtype: float64
275.0
1025    275.0
Name: voters_participating, dtype: float64
1025    275.0
Name: voters_participating, dtype: float64
1.0

1025    1.0
Name: neighborhood_organizations, dtype: float64
1025    1.0
Name: neighborhood_organizations, dtype: float64
21.0
1025    21.0
Name: voter_participation, dtype: float64
1025    21.0
Name: voter_participation, dtype: float64
0.0
1025    0.0
Name: vacant_land, dtype: float64
1025    0.0
Name: vacant_land, dtype: float64
6.0
1025    6.0
Name: population_density, dtype: float64
1025    6.0
Name: population_density, dtype: float64
2358.0
1025    2358.0
Name: population, dtype: float64
1025    2358.0
Name: population, dtype: float64
9.0
1025    9.0
Name: transit_ridership, dtype: float64
1025    9.0
Name: transit_ridership, dtype: float64
1.12
1025    1.12
Name: street_connectivity, dtype: float64
1025    1.12
Name: street_connectivity, dtype: float64
1.3
1025    1.3
Name: bicycle_friendliness, dtype: float64
1025    1.3
Name: bicycle_friendliness, dtype: float64
1.58
1026    1.58
Name: Acres, dtype: float64
1026    1.58
Name: Acres, dtype: float64
nan
1026   -1.0
Name: births_to_adolescents, dtype: float64
1026   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1026    0.0
Name: grocery_proximate_units, dtype: float64
1026    0.0
Name: grocery_proximate_units, dtype: float64
nan
1026   -1.0
Name: prenatal_care, dtype: float64
1026   -1.0
Name: prenatal_care, dtype: float64
0.0
1026    0.0
Name: grocery_proximity, dtype: float64
1026    0.0
Name: grocery_proximity, dtype: float64
nan
1026   -1.0
Name: low_birthweight, dtype: float64
1026   -1.0
Name: low_birthweight, dtype: float64
11.0
1026    11.0
Name: public_health_insurance, dtype: float64
1026    11.0
Name: public_health_insurance, dtype: float64
nan
1026   -1.0
Name: age_of_death, dtype: float64
1026   -1.0
Name: age_of_death, dtype: float64
2.9
1026    2.9
Name: impervious_surface, dtype: float64
1026    2.9
Name: impervious_surface, dtype: float64
nan
1026   -1.0
Name: water_consumption, dtype: float64
1026   -1.0
Name: water_consumption, dtype: float64
79.0
1026    79.0
Name: neighborhood_school_attendance, dtype: float64
1026    79.0
Name: neighborhood_school_attendance, dtype: float64
nan
1026   -1.0
Name: highschool_graduation_rate, dtype: float64
1026   -1.0
Name: highschool_graduation_rate, dtype: float64
57.1
1026    57.1
Name: proficiency_elementary_school, dtype: float64
1026    57.1
Name: proficiency_elementary_school, dtype: float64
32.3
1026    32.3
Name: proficiency_middle_school, dtype: float64
1026    32.3
Name: proficiency_middle_school, dtype: float64
36.4
1026    36.4
Name: proficiency_high_school, dtype: float64
1026    36.4
Name: proficiency_high_school, dtype: float64
8.0
1026    8.0
Name: student_absenteeism, dtype: float64
1026    8.0
Name: student_absenteeism, dtype: float64
39.0
1026    39.0
Name: voters_participating, dtype: float64
1026    39.0
Name: voters_participating, dtype: float64
nan
1026   -1.0
Name: neighborhood_organizations, dtype: float64
1026   -1.0
Name: neighborhood_organizations, dtype: float64
7.0
1026    7.0
Name: voter_participation, dtype: float64
1026    7.0
Name: voter_participation, dtype: float64
20.1
1026    20.1
Name: vacant_land, dtype: float64
1026    20.1
Name: vacant_land, dtype: float64
1.0
1026    1.0
Name: population_density, dtype: float64
1026    1.0
Name: population_density, dtype: float64
1386.0
1026    1386.0
Name: population, dtype: float64
1026    1386.0
Name: population, dtype: float64
nan
1026   -1.0
Name: transit_ridership, dtype: float64
1026   -1.0
Name: transit_ridership, dtype: float64
1.16
1026    1.16
Name: street_connectivity, dtype: float64
1026    1.16
Name: street_connectivity, dtype: float64
1.4
1026    1.4
Name: bicycle_friendliness, dtype: float64
1026    1.4
Name: bicycle_friendliness, dtype: float64
272.05
1027    371.00
1028    272.05
1029      8.30
1030    272.05
1031    371.00
Name: Acres, dtype: float64
1027    371.00
1028    272.05
1029      8.30
1030    272.05
1031    371.00
1032    140.00
1033    371.00
1034    371.00
1035    272.05
Name: Acres, dtype: float64
3.9
1027    3.9
1028    3.9
1029    3.9
1030    3.9
1031    3.9
Name: births_to_adolescents, dtype: float64
1027    3.9
1028    3.9
1029    3.9
1030    3.9
1031    3.9
1032    3.9
1033    3.9
1034    3.9
1035    3.9
Name: births_to_adolescents, dtype: float64
0.0
1027    0.0
1028    0.0
1029    0.0
1030    0.0
1031    0.0
Name: grocery_proximate_units, dtype: float64
1027    0.0
1028    0.0
1029    0.0
1030    0.0
1031    0.0
1032    0.0
1033    0.0
1034    0.0
1035    0.0
Name: grocery_proximate_units, dtype: float64
65.4
1027    65.4
1028    65.4
1029    65.4
1030    65.4
1031    65.4
Name: prenatal_care, dtype: float64
1027    65.4
1028    65.4
1029    65.4
1030    65.4
1031    65.4
1032    65.4
1033    65.4
1034    65.4
1035    65.4
Name: prenatal_care, dtype: float64
0.0
1027    0.0
1028    0.0
1029    0.0
1030    0.0
1031    0.0
Name: grocery_proximity, dtype: float64
1027    0.0
1028    0.0
1029    0.0
1030    0.0
1031    0.0
1032    0.0
1033    0.0
1034    0.0
1035    0.0
Name: grocery_proximity, dtype: float64
3.7999999999999994
1027    3.8
1028    3.8
1029    3.8
1030    3.8
1031    3.8
Name: low_birthweight, dtype: float64
1027    3.8
1028    3.8
1029    3.8
1030    3.8
1031    3.8
1032    3.8
1033    3.8
1034    3.8
1035    3.8
Name: low_birthweight, dtype: float64
20.25
1027    22.0
1028    17.0
1029    23.0
1030    17.0
1031    22.0
Name: public_health_insurance, dtype: float64
1027    22.00
1028    17.00
1029    23.00
1030    17.00
1031    22.00
1032    20.25
1033    22.00
1034    22.00
1035    17.00
Name: public_health_insurance, dtype: float64
nan
1027   -1.0
1028   -1.0
1029   -1.0
1030   -1.0
1031   -1.0
Name: age_of_death, dtype: float64
1027   -1.0
1028   -1.0
1029   -1.0
1030   -1.0
1031   -1.0
1032   -1.0
1033   -1.0
1034   -1.0
1035   -1.0
Name: age_of_death, dtype: float64
2.783333333333333
1027    2.400000
1028    2.783333
1029    3.000000
1030    2.783333
1031    2.400000
Name: impervious_surface, dtype: float64
1027    2.400000
1028    2.783333
1029    3.000000
1030    2.783333
1031    2.400000
1032    4.100000
1033    2.400000
1034    2.400000
1035    2.783333
Name: impervious_surface, dtype: float64
54.0
1027    54.0
1028    54.0
1029    54.0
1030    54.0
1031    54.0
Name: water_consumption, dtype: float64
1027    54.0
1028    54.0
1029    54.0
1030    54.0
1031    54.0
1032    54.0
1033    54.0
1034    54.0
1035    54.0
Name: water_consumption, dtype: float64
78.87125
1027    76.60
1028    83.19
1029    75.00
1030    83.19
1031    76.60
Name: neighborhood_school_attendance, dtype: float64
1027    76.60000
1028    83.19000
1029    75.00000
1030    83.19000
1031    76.60000
1032    78.87125
1033    76.60000
1034    76.60000
1035    83.19000
Name: neighborhood_school_attendance, dtype: float64
100.0
1027    100.0
1028    100.0
1029    100.0
1030    100.0
1031    100.0
Name: highschool_graduation_rate, dtype: float64
1027    100.0
1028    100.0
1029    100.0
1030    100.0
1031    100.0
1032    100.0
1033    100.0
1034    100.0
1035    100.0
Name: highschool_graduation_rate, dtype: float64
45.02016129032258
1027    50.000000
1028    48.387097
1029    15.000000
1030    48.387097
1031    50.000000
Name: proficiency_elementary_school, dtype: float64
1027    50.000000
1028    48.387097
1029    15.000000
1030    48.387097
1031    50.000000
1032    45.020161
1033    50.000000
1034    50.000000
1035    48.387097
Name: proficiency_elementary_school, dtype: float64
44.28214285714285
1027    48.000000
1028    39.285714
1029    44.400000
1030    39.285714
1031    48.000000
Name: proficiency_middle_school, dtype: float64
1027    48.000000
1028    39.285714
1029    44.400000
1030    39.285714
1031    48.000000
1032    44.282143
1033    48.000000
1034    48.000000
1035    39.285714
Name: proficiency_middle_school, dtype: float64
39.34065934065934
1027    40.000000
1028    38.461538
1029    39.340659
1030    38.461538
1031    40.000000
Name: proficiency_high_school, dtype: float64
1027    40.000000
1028    38.461538
1029    39.340659
1030    38.461538
1031    40.000000
1032    39.340659
1033    40.000000
1034    40.000000
1035    38.461538
Name: proficiency_high_school, dtype: float64
10.685948629397778
1027    13.274336
1028     8.130081
1029     8.000000
1030     8.130081
1031    13.274336
Name: student_absenteeism, dtype: float64
1027    13.274336
1028     8.130081
1029     8.000000
1030     8.130081
1031    13.274336
1032    10.685949
1033    13.274336
1034    13.274336
1035     8.130081
Name: student_absenteeism, dtype: float64
79.88888888888889
1027     10.0
1028    127.0
1029     42.0
1030    127.0
1031     10.0
Name: voters_participating, dtype: float64
1027     10.0
1028    127.0
1029     42.0
1030    127.0
1031     10.0
1032    256.0
1033     10.0
1034     10.0
1035    127.0
Name: voters_participating, dtype: float64
1.0
1027    1.0
1028    1.0
1029    1.0
1030    1.0
1031    1.0
Name: neighborhood_organizations, dtype: float64
1027    1.0
1028    1.0
1029    1.0
1030    1.0
1031    1.0
1032    1.0
1033    1.0
1034    1.0
1035    1.0
Name: neighborhood_organizations, dtype: float64
23.333333333333332
1027     3.0
1028    42.0
1029    10.0
1030    42.0
1031     3.0
Name: voter_participation, dtype: float64
1027     3.0
1028    42.0
1029    10.0
1030    42.0
1031     3.0
1032    62.0
1033     3.0
1034     3.0
1035    42.0
Name: voter_participation, dtype: float64
54.699999999999996
1027    54.7
1028    54.7
1029    54.7
1030    54.7
1031    54.7
Name: vacant_land, dtype: float64
1027    54.7
1028    54.7
1029    54.7
1030    54.7
1031    54.7
1032    54.7
1033    54.7
1034    54.7
1035    54.7
Name: vacant_land, dtype: float64
1.0
1027    1.0
1028    1.0
1029    1.0
1030    1.0
1031    1.0
Name: population_density, dtype: float64
1027    1.0
1028    1.0
1029    1.0
1030    1.0
1031    1.0
1032    1.0
1033    1.0
1034    1.0
1035    1.0
Name: population_density, dtype: float64
545.0
1027    545.0
1028    545.0
1029    545.0
1030    545.0
1031    545.0
Name: population, dtype: float64
1027    545.0
1028    545.0
1029    545.0
1030    545.0
1031    545.0
1032    545.0
1033    545.0
1034    545.0
1035    545.0
Name: population, dtype: float64
nan
1027   -1.0
1028   -1.0
1029   -1.0
1030   -1.0
1031   -1.0
Name: transit_ridership, dtype: float64
1027   -1.0
1028   -1.0
1029   -1.0
1030   -1.0
1031   -1.0
1032   -1.0
1033   -1.0
1034   -1.0
1035   -1.0
Name: transit_ridership, dtype: float64
1.2533333333333334
1027    1.280000
1028    1.253333
1029    1.200000
1030    1.253333
1031    1.280000
Name: street_connectivity, dtype: float64
1027    1.280000
1028    1.253333
1029    1.200000
1030    1.253333
1031    1.280000
1032    1.200000
1033    1.280000
1034    1.280000
1035    1.253333
Name: street_connectivity, dtype: float64
1.4833333333333334
1027    1.500000
1028    1.483333
1029    1.500000
1030    1.483333
1031    1.500000
Name: bicycle_friendliness, dtype: float64
1027    1.500000
1028    1.483333
1029    1.500000
1030    1.483333
1031    1.500000
1032    1.400000
1033    1.500000
1034    1.500000
1035    1.483333
Name: bicycle_friendliness, dtype: float64
66.9
1036    66.9
1037    66.9
Name: Acres, dtype: float64
1036    66.9
1037    66.9
Name: Acres, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: births_to_adolescents, dtype: float64
1036   -1.0
1037   -1.0
Name: births_to_adolescents, dtype: float64
47.0
1036    47.0
1037    47.0
Name: grocery_proximate_units, dtype: float64
1036    47.0
1037    47.0
Name: grocery_proximate_units, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: prenatal_care, dtype: float64
1036   -1.0
1037   -1.0
Name: prenatal_care, dtype: float64
2.0
1036    2.0
1037    2.0
Name: grocery_proximity, dtype: float64
1036    2.0
1037    2.0
Name: grocery_proximity, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: low_birthweight, dtype: float64
1036   -1.0
1037   -1.0
Name: low_birthweight, dtype: float64
38.0
1036    38.0
1037    38.0
Name: public_health_insurance, dtype: float64
1036    38.0
1037    38.0
Name: public_health_insurance, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: age_of_death, dtype: float64
1036   -1.0
1037   -1.0
Name: age_of_death, dtype: float64
8.2
1036    8.2
1037    8.2
Name: impervious_surface, dtype: float64
1036    8.2
1037    8.2
Name: impervious_surface, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: water_consumption, dtype: float64
1036   -1.0
1037   -1.0
Name: water_consumption, dtype: float64
73.0
1036    73.0
1037    73.0
Name: neighborhood_school_attendance, dtype: float64
1036    73.0
1037    73.0
Name: neighborhood_school_attendance, dtype: float64
86.0
1036    86.0
1037    86.0

Name: highschool_graduation_rate, dtype: float64
1036    86.0
1037    86.0
Name: highschool_graduation_rate, dtype: float64
34.5
1036    34.5
1037    34.5
Name: proficiency_elementary_school, dtype: float64
1036    34.5
1037    34.5
Name: proficiency_elementary_school, dtype: float64
26.7
1036    26.7
1037    26.7
Name: proficiency_middle_school, dtype: float64
1036    26.7
1037    26.7
Name: proficiency_middle_school, dtype: float64
52.3
1036    52.3
1037    52.3
Name: proficiency_high_school, dtype: float64
1036    52.3
1037    52.3
Name: proficiency_high_school, dtype: float64
14.0
1036    14.0
1037    14.0
Name: student_absenteeism, dtype: float64
1036    14.0
1037    14.0
Name: student_absenteeism, dtype: float64
116.0
1036    116.0
1037    116.0
Name: voters_participating, dtype: float64
1036    116.0
1037    116.0
Name: voters_participating, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: neighborhood_organizations, dtype: float64
1036   -1.0
1037   -1.0
Name: neighborhood_organizations, dtype: float64
11.0
1036    11.0
1037    11.0
Name: voter_participation, dtype: float64
1036    11.0
1037    11.0
Name: voter_participation, dtype: float64
29.3
1036    29.3
1037    29.3
Name: vacant_land, dtype: float64
1036    29.3
1037    29.3
Name: vacant_land, dtype: float64
2.0
1036    2.0
1037    2.0
Name: population_density, dtype: float64
1036    2.0
1037    2.0
Name: population_density, dtype: float64
2649.0
1036    2649.0
1037    2649.0
Name: population, dtype: float64
1036    2649.0
1037    2649.0
Name: population, dtype: float64
nan
1036   -1.0
1037   -1.0
Name: transit_ridership, dtype: float64
1036   -1.0
1037   -1.0
Name: transit_ridership, dtype: float64
1.19
1036    1.19
1037    1.19
Name: street_connectivity, dtype: float64
1036    1.19
1037    1.19
Name: street_connectivity, dtype: float64
1.3
1036    1.3
1037    1.3
Name: bicycle_friendliness, dtype: float64
1036    1.3
1037    1.3
Name: bicycle_friendliness, dtype: float64
30.9
1038    30.9
Name: Acres, dtype: float64
1038    30.9
Name: Acres, dtype: float64
2.0
1038    2.0
Name: births_to_adolescents, dtype: float64
1038    2.0
Name: births_to_adolescents, dtype: float64
0.0
1038    0.0
Name: grocery_proximate_units, dtype: float64
1038    0.0
Name: grocery_proximate_units, dtype: float64
73.5
1038    73.5
Name: prenatal_care, dtype: float64
1038    73.5
Name: prenatal_care, dtype: float64
0.0
1038    0.0
Name: grocery_proximity, dtype: float64
1038    0.0
Name: grocery_proximity, dtype: float64
8.2
1038    8.2
Name: low_birthweight, dtype: float64
1038    8.2
Name: low_birthweight, dtype: float64
13.0
1038    13.0
Name: public_health_insurance, dtype: float64
1038    13.0
Name: public_health_insurance, dtype: float64
57.0
1038    57.0
Name: age_of_death, dtype: float64
1038    57.0
Name: age_of_death, dtype: float64
nan
1038   -1.0
Name: impervious_surface, dtype: float64
1038   -1.0
Name: impervious_surface, dtype: float64
138.0
1038    138.0
Name: water_consumption, dtype: float64
1038    138.0
Name: water_consumption, dtype: float64
71.52
1038    71.52
Name: neighborhood_school_attendance, dtype: float64
1038    71.52
Name: neighborhood_school_attendance, dtype: float64
67.0
1038    67.0
Name: highschool_graduation_rate, dtype: float64
1038    67.0
Name: highschool_graduation_rate, dtype: float64
12.903225806451614
1038    12.903226
Name: proficiency_elementary_school, dtype: float64
1038    12.903226
Name: proficiency_elementary_school, dtype: float64
27.500000000000004
1038    27.5
Name: proficiency_middle_school, dtype: float64
1038    27.5
Name: proficiency_middle_school, dtype: float64
27.27272727272727
1038    27.272727
Name: proficiency_high_school, dtype: float64
1038    27.272727
Name: proficiency_high_school, dtype: float64
11.627906976744184
1038    11.627907
Name: student_absenteeism, dtype: float64
1038    11.627907
Name: student_absenteeism, dtype: float64
242.0
1038    242.0
Name: voters_participating, dtype: float64
1038    242.0
Name: voters_participating, dtype: float64
0.0
1038    0.0
Name: neighborhood_organizations, dtype: float64
1038    0.0
Name: neighborhood_organizations, dtype: float64
40.0
1038    40.0
Name: voter_participation, dtype: float64
1038    40.0
Name: voter_participation, dtype: float64
nan
1038   -1.0
Name: vacant_land, dtype: float64
1038   -1.0
Name: vacant_land, dtype: float64
nan
1038   -1.0
Name: population_density, dtype: float64
1038   -1.0
Name: population_density, dtype: float64
nan
1038   -1.0
Name: population, dtype: float64
1038   -1.0
Name: population, dtype: float64
20.0
1038    20.0
Name: transit_ridership, dtype: float64
1038    20.0
Name: transit_ridership, dtype: float64
nan
1038   -1.0
Name: street_connectivity, dtype: float64
1038   -1.0
Name: street_connectivity, dtype: float64
nan
1038   -1.0
Name: bicycle_friendliness, dtype: float64
1038   -1.0
Name: bicycle_friendliness, dtype: float64
14.083333333333334
1039     2.52
1040    39.75
1041    20.54
1042     1.10
1043     8.96
Name: Acres, dtype: float64
1039     2.52
1040    39.75
1041    20.54
1042     1.10
1043     8.96
1044    11.63
Name: Acres, dtype: float64
0.0
1039    0.0
1040    0.0
1041    0.0
1042    0.0
1043    0.0
Name: births_to_adolescents, dtype: float64
1039    0.0
1040    0.0
1041    0.0
1042    0.0
1043    0.0
1044    0.0
Name: births_to_adolescents, dtype: float64
661.3333333333334
1039    652.000000
1040    661.333333
1041    666.000000
1042    661.333333
1043    666.000000
Name: grocery_proximate_units, dtype: float64
1039    652.000000
1040    661.333333
1041    666.000000
1042    661.333333
1043    666.000000
1044    661.333333
Name: grocery_proximate_units, dtype: float64
75.0
1039    75.0
1040    75.0
1041    75.0
1042    75.0
1043    75.0
Name: prenatal_care, dtype: float64
1039    75.0
1040    75.0
1041    75.0
1042    75.0
1043    75.0
1044    75.0
Name: prenatal_care, dtype: float64
59.0
1039    59.0
1040    59.0
1041    59.0
1042    59.0
1043    59.0
Name: grocery_proximity, dtype: float64
1039    59.0
1040    59.0
1041    59.0
1042    59.0
1043    59.0
1044    59.0
Name: grocery_proximity, dtype: float64
12.5
1039    12.5
1040    12.5
1041    12.5
1042    12.5
1043    12.5
Name: low_birthweight, dtype: float64
1039    12.5
1040    12.5
1041    12.5
1042    12.5
1043    12.5
1044    12.5
Name: low_birthweight, dtype: float64
9.0
1039    9.0
1040    9.0
1041    9.0
1042    9.0
1043    9.0
Name: public_health_insurance, dtype: float64
1039    9.0
1040    9.0
1041    9.0
1042    9.0
1043    9.0
1044    9.0
Name: public_health_insurance, dtype: float64
63.0
1039    63.0
1040    63.0
1041    63.0
1042    63.0
1043    63.0
Name: age_of_death, dtype: float64
1039    63.0
1040    63.0
1041    63.0
1042    63.0
1043    63.0
1044    63.0
Name: age_of_death, dtype: float64
9.1
1039    9.1
1040    9.1
1041    9.1
1042    9.1
1043    9.1
Name: impervious_surface, dtype: float64
1039    9.1
1040    9.1
1041    9.1
1042    9.1
1043    9.1
1044    9.1
Name: impervious_surface, dtype: float64
136.0
1039    136.0
1040    136.0
1041    136.0
1042    136.0
1043    136.0
Name: water_consumption, dtype: float64
1039    136.0
1040    136.0
1041    136.0
1042    136.0
1043    136.0
1044    136.0
Name: water_consumption, dtype: float64
87.36666666666667
1039    86.100000
1040    87.366667
1041    88.000000
1042    87.366667
1043    88.000000
Name: neighborhood_school_attendance, dtype: float64
1039    86.100000
1040    87.366667
1041    88.000000
1042    87.366667
1043    88.000000
1044    87.366667
Name: neighborhood_school_attendance, dtype: float64
100.0
1039    100.0
1040    100.0
1041    100.0
1042    100.0
1043    100.0
Name: highschool_graduation_rate, dtype: float64
1039    100.0
1040    100.0
1041    100.0
1042    100.0
1043    100.0
1044    100.0
Name: highschool_graduation_rate, dtype: float64
47.403333333333336
1039    48.810000
1040    47.403333
1041    46.700000
1042    47.403333
1043    46.700000
Name: proficiency_elementary_school, dtype: float64
1039    48.810000
1040    47.403333
1041    46.700000
1042    47.403333
1043    46.700000
1044    47.403333
Name: proficiency_elementary_school, dtype: float64
46.166666666666664
1039    45.500000
1040    46.166667
1041    46.500000
1042    46.166667
1043    46.500000
Name: proficiency_middle_school, dtype: float64
1039    45.500000
1040    46.166667
1041    46.500000
1042    46.166667
1043    46.500000
1044    46.166667
Name: proficiency_middle_school, dtype: float64
45.699999999999996
1039    42.9
1040    45.7
1041    47.1
1042    45.7
1043    47.1
Name: proficiency_high_school, dtype: float64
1039    42.9
1040    45.7
1041    47.1
1042    45.7
1043    47.1
1044    45.7
Name: proficiency_high_school, dtype: float64
5.0
1039    5.0
1040    5.0
1041    5.0
1042    5.0
1043    5.0
Name: student_absenteeism, dtype: float64
1039    5.0
1040    5.0
1041    5.0
1042    5.0
1043    5.0
1044    5.0
Name: student_absenteeism, dtype: float64
639.0
1039    1167.0
1040     639.0
1041     375.0
1042     639.0
1043     375.0
Name: voters_participating, dtype: float64
1039    1167.0
1040     639.0
1041     375.0
1042     639.0
1043     375.0
1044     639.0
Name: voters_participating, dtype: float64
nan
1039   -1.0
1040   -1.0
1041   -1.0
1042   -1.0
1043   -1.0
Name: neighborhood_organizations, dtype: float64
1039   -1.0
1040   -1.0
1041   -1.0
1042   -1.0
1043   -1.0
1044   -1.0
Name: neighborhood_organizations, dtype: float64
40.0
1039    78.0
1040    40.0
1041    21.0
1042    40.0
1043    21.0
Name: voter_participation, dtype: float64
1039    78.0
1040    40.0
1041    21.0
1042    40.0
1043    21.0
1044    40.0
Name: voter_participation, dtype: float64
12.0
1039    12.0
1040    12.0
1041    12.0
1042    12.0
1043    12.0
Name: vacant_land, dtype: float64
1039    12.0
1040    12.0
1041    12.0
1042    12.0
1043    12.0
1044    12.0
Name: vacant_land, dtype: float64
2.0
1039    2.0
1040    2.0
1041    2.0
1042    2.0
1043    2.0
Name: population_density, dtype: float64
1039    2.0
1040    2.0
1041    2.0
1042    2.0
1043    2.0
1044    2.0
Name: population_density, dtype: float64
2826.3333333333335
1039    2801.000000
1040    2826.333333
1041    2839.000000
1042    2826.333333
1043    2839.000000
Name: population, dtype: float64
1039    2801.000000
1040    2826.333333
1041    2839.000000
1042    2826.333333
1043    2839.000000
1044    2826.333333
Name: population, dtype: float64
nan
1039   -1.0
1040   -1.0
1041   -1.0
1042   -1.0
1043   -1.0
Name: transit_ridership, dtype: float64
1039   -1.0
1040   -1.0
1041   -1.0
1042   -1.0
1043   -1.0
1044   -1.0
Name: transit_ridership, dtype: float64
1.21
1039    1.21
1040    1.21
1041    1.21
1042    1.21
1043    1.21
Name: street_connectivity, dtype: float64
1039    1.21
1040    1.21
1041    1.21
1042    1.21
1043    1.21
1044    1.21
Name: street_connectivity, dtype: float64
1.5
1039    1.5
1040    1.5
1041    1.5
1042    1.5
1043    1.5
Name: bicycle_friendliness, dtype: float64
1039    1.5
1040    1.5
1041    1.5
1042    1.5
1043    1.5
1044    1.5
Name: bicycle_friendliness, dtype: float64
3.9199999999999995
1045    5.85
1046    0.77
1047    5.14
Name: Acres, dtype: float64
1045    5.85
1046    0.77
1047    5.14
Name: Acres, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: births_to_adolescents, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: births_to_adolescents, dtype: float64
627.5
1045    813.0
1046    442.0
1047    627.5
Name: grocery_proximate_units, dtype: float64
1045    813.0
1046    442.0
1047    627.5
Name: grocery_proximate_units, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: prenatal_care, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: prenatal_care, dtype: float64
81.0
1045    81.0
1046    81.0
1047    81.0
Name: grocery_proximity, dtype: float64
1045    81.0
1046    81.0
1047    81.0
Name: grocery_proximity, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: low_birthweight, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: low_birthweight, dtype: float64
13.0
1045    13.0
1046    13.0
1047    13.0
Name: public_health_insurance, dtype: float64
1045    13.0
1046    13.0
1047    13.0
Name: public_health_insurance, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: age_of_death, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: age_of_death, dtype: float64
18.25
1045    18.60
1046    17.90
1047    18.25
Name: impervious_surface, dtype: float64
1045    18.60
1046    17.90
1047    18.25
Name: impervious_surface, dtype: float64
125.0
1045    125.0
1046    125.0
1047    125.0
Name: water_consumption, dtype: float64
1045    125.0
1046    125.0
1047    125.0
Name: water_consumption, dtype: float64
86.0
1045    86.0
1046    86.0
1047    86.0

Name: neighborhood_school_attendance, dtype: float64
1045    86.0
1046    86.0
1047    86.0
Name: neighborhood_school_attendance, dtype: float64
97.0
1045    97.0
1046    97.0
1047    97.0
Name: highschool_graduation_rate, dtype: float64
1045    97.0
1046    97.0
1047    97.0
Name: highschool_graduation_rate, dtype: float64
48.6
1045    48.6
1046    48.6
1047    48.6
Name: proficiency_elementary_school, dtype: float64
1045    48.6
1046    48.6
1047    48.6
Name: proficiency_elementary_school, dtype: float64
41.6
1045    41.6
1046    41.6
1047    41.6
Name: proficiency_middle_school, dtype: float64
1045    41.6
1046    41.6
1047    41.6
Name: proficiency_middle_school, dtype: float64
26.9
1045    26.9
1046    26.9
1047    26.9
Name: proficiency_high_school, dtype: float64
1045    26.9
1046    26.9
1047    26.9
Name: proficiency_high_school, dtype: float64
12.0
1045    12.0
1046    12.0
1047    12.0
Name: student_absenteeism, dtype: float64
1045    12.0
1046    12.0
1047    12.0
Name: student_absenteeism, dtype: float64
636.5
1045    979.0
1046    294.0
1047    636.5
Name: voters_participating, dtype: float64
1045    979.0
1046    294.0
1047    636.5
Name: voters_participating, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: neighborhood_organizations, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: neighborhood_organizations, dtype: float64
38.5
1045    61.0
1046    16.0
1047    38.5
Name: voter_participation, dtype: float64
1045    61.0
1046    16.0
1047    38.5
Name: voter_participation, dtype: float64
18.6
1045    18.6
1046    18.6
1047    18.6
Name: vacant_land, dtype: float64
1045    18.6
1046    18.6
1047    18.6
Name: vacant_land, dtype: float64
6.0
1045    6.0
1046    6.0
1047    6.0
Name: population_density, dtype: float64
1045    6.0
1046    6.0
1047    6.0
Name: population_density, dtype: float64
2707.5
1045    2717.0
1046    2698.0
1047    2707.5
Name: population, dtype: float64
1045    2717.0
1046    2698.0
1047    2707.5
Name: population, dtype: float64
nan
1045   -1.0
1046   -1.0
1047   -1.0
Name: transit_ridership, dtype: float64
1045   -1.0
1046   -1.0
1047   -1.0
Name: transit_ridership, dtype: float64
1.19
1045    1.19
1046    1.19
1047    1.19
Name: street_connectivity, dtype: float64
1045    1.19
1046    1.19
1047    1.19
Name: street_connectivity, dtype: float64
1.5
1045    1.5
1046    1.5
1047    1.5
Name: bicycle_friendliness, dtype: float64
1045    1.5
1046    1.5
1047    1.5
Name: bicycle_friendliness, dtype: float64
6.5
1048    5.5
1049    8.5
1050    5.5
Name: Acres, dtype: float64
1048    5.5
1049    8.5
1050    5.5
Name: Acres, dtype: float64
0.0
1048    0.0
1049    0.0
1050    0.0
Name: births_to_adolescents, dtype: float64
1048    0.0
1049    0.0
1050    0.0
Name: births_to_adolescents, dtype: float64
673.0
1048    673.0
1049    673.0
1050    673.0
Name: grocery_proximate_units, dtype: float64
1048    673.0
1049    673.0
1050    673.0
Name: grocery_proximate_units, dtype: float64
76.2
1048    76.2
1049    76.2
1050    76.2
Name: prenatal_care, dtype: float64
1048    76.2
1049    76.2
1050    76.2
Name: prenatal_care, dtype: float64
60.0
1048    60.0
1049    60.0
1050    60.0
Name: grocery_proximity, dtype: float64
1048    60.0
1049    60.0
1050    60.0
Name: grocery_proximity, dtype: float64
4.8
1048    4.8
1049    4.8
1050    4.8
Name: low_birthweight, dtype: float64
1048    4.8
1049    4.8
1050    4.8
Name: low_birthweight, dtype: float64
2.0
1048    2.0
1049    2.0
1050    2.0
Name: public_health_insurance, dtype: float64
1048    2.0
1049    2.0
1050    2.0
Name: public_health_insurance, dtype: float64
74.0
1048    74.0
1049    74.0
1050    74.0
Name: age_of_death, dtype: float64
1048    74.0
1049    74.0
1050    74.0
Name: age_of_death, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: impervious_surface, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: impervious_surface, dtype: float64
180.0
1048    180.0
1049    180.0
1050    180.0
Name: water_consumption, dtype: float64
1048    180.0
1049    180.0
1050    180.0
Name: water_consumption, dtype: float64
88.98
1048    88.98
1049    88.98
1050    88.98
Name: neighborhood_school_attendance, dtype: float64
1048    88.98
1049    88.98
1050    88.98
Name: neighborhood_school_attendance, dtype: float64
95.0
1048    95.0
1049    95.0
1050    95.0
Name: highschool_graduation_rate, dtype: float64
1048    95.0
1049    95.0
1050    95.0
Name: highschool_graduation_rate, dtype: float64
67.6056338028169
1048    67.605634
1049    67.605634
1050    67.605634
Name: proficiency_elementary_school, dtype: float64
1048    67.605634
1049    67.605634
1050    67.605634
Name: proficiency_elementary_school, dtype: float64
80.64516129032258
1048    80.645161
1049    80.645161
1050    80.645161
Name: proficiency_middle_school, dtype: float64
1048    80.645161
1049    80.645161
1050    80.645161
Name: proficiency_middle_school, dtype: float64
90.0
1048    90.0
1049    90.0
1050    90.0
Name: proficiency_high_school, dtype: float64
1048    90.0
1049    90.0
1050    90.0
Name: proficiency_high_school, dtype: float64
6.324110671936759
1048    6.324111
1049    6.324111
1050    6.324111
Name: student_absenteeism, dtype: float64
1048    6.324111
1049    6.324111
1050    6.324111
Name: student_absenteeism, dtype: float64
688.0
1048    688.0
1049    688.0
1050    688.0
Name: voters_participating, dtype: float64
1048    688.0
1049    688.0
1050    688.0
Name: voters_participating, dtype: float64
0.0
1048    0.0
1049    0.0
1050    0.0
Name: neighborhood_organizations, dtype: float64
1048    0.0
1049    0.0
1050    0.0
Name: neighborhood_organizations, dtype: float64
55.0
1048    55.0
1049    55.0
1050    55.0
Name: voter_participation, dtype: float64
1048    55.0
1049    55.0
1050    55.0
Name: voter_participation, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: vacant_land, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: vacant_land, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: population_density, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: population_density, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: population, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: population, dtype: float64
20.0
1048    20.0
1049    20.0
1050    20.0
Name: transit_ridership, dtype: float64
1048    20.0
1049    20.0
1050    20.0
Name: transit_ridership, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: street_connectivity, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: street_connectivity, dtype: float64
nan
1048   -1.0
1049   -1.0
1050   -1.0
Name: bicycle_friendliness, dtype: float64
1048   -1.0
1049   -1.0
1050   -1.0
Name: bicycle_friendliness, dtype: float64
16.266666666666666
1051     8.5
1052    15.0
1053    23.2
1054    14.0
1055     8.5
Name: Acres, dtype: float64
1051     8.5
1052    15.0
1053    23.2
1054    14.0
1055     8.5
1056    28.4
Name: Acres, dtype: float64
6.3
1051    6.3
1052    6.3
1053    6.3
1054    6.3
1055    6.3
Name: births_to_adolescents, dtype: float64
1051    6.3
1052    6.3
1053    6.3
1054    6.3
1055    6.3
1056    6.3
Name: births_to_adolescents, dtype: float64
0.0
1051    0.0
1052    0.0
1053    0.0
1054    0.0
1055    0.0
Name: grocery_proximate_units, dtype: float64
1051    0.0
1052    0.0
1053    0.0
1054    0.0
1055    0.0
1056    0.0
Name: grocery_proximate_units, dtype: float64
55.9
1051    55.9
1052    55.9
1053    55.9
1054    55.9
1055    55.9
Name: prenatal_care, dtype: float64
1051    55.9
1052    55.9
1053    55.9
1054    55.9
1055    55.9
1056    55.9
Name: prenatal_care, dtype: float64
0.0
1051    0.0
1052    0.0
1053    0.0
1054    0.0
1055    0.0
Name: grocery_proximity, dtype: float64
1051    0.0
1052    0.0
1053    0.0
1054    0.0
1055    0.0
1056    0.0
Name: grocery_proximity, dtype: float64
7.1
1051    7.1
1052    7.1
1053    7.1
1054    7.1
1055    7.1
Name: low_birthweight, dtype: float64
1051    7.1
1052    7.1
1053    7.1
1054    7.1
1055    7.1
1056    7.1
Name: low_birthweight, dtype: float64
35.0
1051    35.0
1052    35.0
1053    35.0
1054    35.0
1055    35.0
Name: public_health_insurance, dtype: float64
1051    35.0
1052    35.0
1053    35.0
1054    35.0
1055    35.0
1056    35.0
Name: public_health_insurance, dtype: float64
64.0
1051    64.0
1052    64.0
1053    64.0
1054    64.0
1055    64.0
Name: age_of_death, dtype: float64
1051    64.0
1052    64.0
1053    64.0
1054    64.0
1055    64.0
1056    64.0
Name: age_of_death, dtype: float64
11.94

1051    12.10
1052    11.70
1053    11.94
1054    11.90
1055    12.10
Name: impervious_surface, dtype: float64
1051    12.10
1052    11.70
1053    11.94
1054    11.90
1055    12.10
1056    11.90
Name: impervious_surface, dtype: float64
141.66666666666666
1051    140.000000
1052    145.000000
1053    141.666667
1054    141.666667
1055    140.000000
Name: water_consumption, dtype: float64
1051    140.000000
1052    145.000000
1053    141.666667
1054    141.666667
1055    140.000000
1056    141.666667
Name: water_consumption, dtype: float64
70.73333333333333
1051    70.733333
1052    70.200000
1053    70.733333
1054    71.000000
1055    70.733333
Name: neighborhood_school_attendance, dtype: float64
1051    70.733333
1052    70.200000
1053    70.733333
1054    71.000000
1055    70.733333
1056    71.000000
Name: neighborhood_school_attendance, dtype: float64
87.66666666666667
1051    87.666667
1052    91.000000
1053    87.666667
1054    86.000000
1055    87.666667
Name: highschool_graduation_rate, dtype: float64
1051    87.666667
1052    91.000000
1053    87.666667
1054    86.000000
1055    87.666667
1056    86.000000
Name: highschool_graduation_rate, dtype: float64
34.20333333333333
1051    34.203333
1052    33.010000
1053    34.203333
1054    34.800000
1055    34.203333
Name: proficiency_elementary_school, dtype: float64
1051    34.203333
1052    33.010000
1053    34.203333
1054    34.800000
1055    34.203333
1056    34.800000
Name: proficiency_elementary_school, dtype: float64
29.03333333333333
1051    29.033333
1052    29.900000
1053    29.033333
1054    28.600000
1055    29.033333
Name: proficiency_middle_school, dtype: float64
1051    29.033333
1052    29.900000
1053    29.033333
1054    28.600000
1055    29.033333
1056    28.600000
Name: proficiency_middle_school, dtype: float64
28.866666666666664
1051    28.866667
1052    35.400000
1053    28.866667
1054    25.600000
1055    28.866667
Name: proficiency_high_school, dtype: float64
1051    28.866667
1052    35.400000
1053    28.866667
1054    25.600000
1055    28.866667
1056    25.600000
Name: proficiency_high_school, dtype: float64
13.0
1051    13.0
1052    11.0
1053    13.0
1054    14.0
1055    13.0
Name: student_absenteeism, dtype: float64
1051    13.0
1052    11.0
1053    13.0
1054    14.0
1055    13.0
1056    14.0
Name: student_absenteeism, dtype: float64
845.6
1051     955.0
1052    1308.0
1053     845.6
1054     505.0
1055     955.0
Name: voters_participating, dtype: float64
1051     955.0
1052    1308.0
1053     845.6
1054     505.0
1055     955.0
1056     505.0
Name: voters_participating, dtype: float64
nan
1051   -1.0
1052   -1.0
1053   -1.0
1054   -1.0
1055   -1.0
Name: neighborhood_organizations, dtype: float64
1051   -1.0
1052   -1.0
1053   -1.0
1054   -1.0
1055   -1.0
1056   -1.0
Name: neighborhood_organizations, dtype: float64
47.6
1051    61.0
1052    66.0
1053    47.6
1054    25.0
1055    61.0
Name: voter_participation, dtype: float64
1051    61.0
1052    66.0
1053    47.6
1054    25.0
1055    61.0
1056    25.0
Name: voter_participation, dtype: float64
29.9
1051    29.9
1052    29.9
1053    29.9
1054    29.9
1055    29.9
Name: vacant_land, dtype: float64
1051    29.9
1052    29.9
1053    29.9
1054    29.9
1055    29.9
1056    29.9
Name: vacant_land, dtype: float64
2.0
1051    2.0
1052    2.0
1053    2.0
1054    2.0
1055    2.0
Name: population_density, dtype: float64
1051    2.0
1052    2.0
1053    2.0
1054    2.0
1055    2.0
1056    2.0
Name: population_density, dtype: float64
2660.4
1051    2671.0
1052    2636.0
1053    2660.4
1054    2662.0
1055    2671.0
Name: population, dtype: float64
1051    2671.0
1052    2636.0
1053    2660.4
1054    2662.0
1055    2671.0
1056    2662.0
Name: population, dtype: float64
nan
1051   -1.0
1052   -1.0
1053   -1.0
1054   -1.0
1055   -1.0
Name: transit_ridership, dtype: float64
1051   -1.0
1052   -1.0
1053   -1.0
1054   -1.0
1055   -1.0
1056   -1.0
Name: transit_ridership, dtype: float64
1.128
1051    1.130
1052    1.120
1053    1.128
1054    1.130
1055    1.130
Name: street_connectivity, dtype: float64
1051    1.130
1052    1.120
1053    1.128
1054    1.130
1055    1.130
1056    1.130
Name: street_connectivity, dtype: float64
1.5399999999999998
1051    1.50
1052    1.50
1053    1.54
1054    1.60
1055    1.50
Name: bicycle_friendliness, dtype: float64
1051    1.50
1052    1.50
1053    1.54
1054    1.60
1055    1.50
1056    1.60
Name: bicycle_friendliness, dtype: float64
2.7800000000000002
1057    5.00
1058    0.56
Name: Acres, dtype: float64
1057    5.00
1058    0.56
Name: Acres, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: births_to_adolescents, dtype: float64
1057   -1.0
1058   -1.0
Name: births_to_adolescents, dtype: float64
16.0
1057    16.0
1058    16.0
Name: grocery_proximate_units, dtype: float64
1057    16.0
1058    16.0
Name: grocery_proximate_units, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: prenatal_care, dtype: float64
1057   -1.0
1058   -1.0
Name: prenatal_care, dtype: float64
2.0
1057    2.0
1058    2.0
Name: grocery_proximity, dtype: float64
1057    2.0
1058    2.0
Name: grocery_proximity, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: low_birthweight, dtype: float64
1057   -1.0
1058   -1.0
Name: low_birthweight, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: public_health_insurance, dtype: float64
1057   -1.0
1058   -1.0
Name: public_health_insurance, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: age_of_death, dtype: float64
1057   -1.0
1058   -1.0
Name: age_of_death, dtype: float64
17.9
1057    17.9
1058    17.9
Name: impervious_surface, dtype: float64
1057    17.9
1058    17.9
Name: impervious_surface, dtype: float64
138.0
1057    138.0
1058    138.0
Name: water_consumption, dtype: float64
1057    138.0
1058    138.0
Name: water_consumption, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: neighborhood_school_attendance, dtype: float64
1057   -1.0
1058   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: highschool_graduation_rate, dtype: float64
1057   -1.0
1058   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: proficiency_elementary_school, dtype: float64
1057   -1.0
1058   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: proficiency_middle_school, dtype: float64
1057   -1.0
1058   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: proficiency_high_school, dtype: float64
1057   -1.0
1058   -1.0
Name: proficiency_high_school, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: student_absenteeism, dtype: float64
1057   -1.0
1058   -1.0
Name: student_absenteeism, dtype: float64
1055.0
1057    1055.0
1058    1055.0
Name: voters_participating, dtype: float64
1057    1055.0
1058    1055.0
Name: voters_participating, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: neighborhood_organizations, dtype: float64
1057   -1.0
1058   -1.0
Name: neighborhood_organizations, dtype: float64
74.0
1057    74.0
1058    74.0
Name: voter_participation, dtype: float64
1057    74.0
1058    74.0
Name: voter_participation, dtype: float64
2.4
1057    2.4
1058    2.4
Name: vacant_land, dtype: float64
1057    2.4
1058    2.4
Name: vacant_land, dtype: float64
4.0
1057    4.0
1058    4.0
Name: population_density, dtype: float64
1057    4.0
1058    4.0
Name: population_density, dtype: float64
2074.0
1057    2074.0
1058    2074.0
Name: population, dtype: float64
1057    2074.0
1058    2074.0
Name: population, dtype: float64
nan
1057   -1.0
1058   -1.0
Name: transit_ridership, dtype: float64
1057   -1.0
1058   -1.0
Name: transit_ridership, dtype: float64
1.13
1057    1.13
1058    1.13
Name: street_connectivity, dtype: float64
1057    1.13
1058    1.13
Name: street_connectivity, dtype: float64
1.4
1057    1.4
1058    1.4
Name: bicycle_friendliness, dtype: float64
1057    1.4
1058    1.4
Name: bicycle_friendliness, dtype: float64
18.935
1059    27.54
1060    19.13
1061     7.00
1062    25.40
1063     7.00
Name: Acres, dtype: float64
1059    27.54
1060    19.13
1061     7.00
1062    25.40
1063     7.00
1064    27.54
Name: Acres, dtype: float64
0.0
1059    0.0
1060    0.0
1061    0.0
1062    0.0
1063    0.0
Name: births_to_adolescents, dtype: float64
1059    0.0
1060    0.0
1061    0.0
1062    0.0
1063    0.0
1064    0.0
Name: births_to_adolescents, dtype: float64
102.33333333333333
1059    103.0
1060    101.0
1061    103.0
1062    101.0
1063    103.0
Name: grocery_proximate_units, dtype: float64
1059    103.0
1060    101.0
1061    103.0
1062    101.0
1063    103.0
1064    103.0
Name: grocery_proximate_units, dtype: float64
76.94999999999999
1059    76.95
1060    70.60
1061    76.95
1062    83.30
1063    76.95
Name: prenatal_care, dtype: float64
1059    76.95
1060    70.60
1061    76.95
1062    83.30
1063    76.95
1064    76.95
Name: prenatal_care, dtype: float64
24.166666666666668
1059    25.0
1060    23.0
1061    25.0
1062    22.0
1063    25.0
Name: grocery_proximity, dtype: float64
1059    25.0
1060    23.0
1061    25.0
1062    22.0
1063    25.0
1064    25.0
Name: grocery_proximity, dtype: float64
5.75
1059    5.75
1060    5.90
1061    5.75
1062    5.60
1063    5.75
Name: low_birthweight, dtype: float64
1059    5.75
1060    5.90
1061    5.75
1062    5.60
1063    5.75
1064    5.75
Name: low_birthweight, dtype: float64
1.0
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
Name: public_health_insurance, dtype: float64
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
1064    1.0
Name: public_health_insurance, dtype: float64
86.0
1059    86.0
1060    87.0
1061    86.0
1062    85.0
1063    86.0
Name: age_of_death, dtype: float64
1059    86.0
1060    87.0
1061    86.0
1062    85.0
1063    86.0
1064    86.0
Name: age_of_death, dtype: float64
16.68
1059    16.70
1060    16.68
1061    16.70
1062    16.60
1063    16.70
Name: impervious_surface, dtype: float64
1059    16.70
1060    16.68
1061    16.70
1062    16.60
1063    16.70
1064    16.70
Name: impervious_surface, dtype: float64
243.0
1059    243.0
1060    242.0
1061    243.0
1062    244.0
1063    243.0
Name: water_consumption, dtype: float64
1059    243.0
1060    242.0
1061    243.0
1062    244.0
1063    243.0
1064    243.0
Name: water_consumption, dtype: float64

67.47333333333334
1059    66.00
1060    73.24
1061    66.00
1062    67.60
1063    66.00
Name: neighborhood_school_attendance, dtype: float64
1059    66.00
1060    73.24
1061    66.00
1062    67.60
1063    66.00
1064    66.00
Name: neighborhood_school_attendance, dtype: float64
100.0
1059    100.0
1060    100.0
1061    100.0
1062    100.0
1063    100.0
Name: highschool_graduation_rate, dtype: float64
1059    100.0
1060    100.0
1061    100.0
1062    100.0
1063    100.0
1064    100.0
Name: highschool_graduation_rate, dtype: float64
92.79
1059     90.50
1060    100.00
1061     90.50
1062     94.74
1063     90.50
Name: proficiency_elementary_school, dtype: float64
1059     90.50
1060    100.00
1061     90.50
1062     94.74
1063     90.50
1064     90.50
Name: proficiency_elementary_school, dtype: float64
87.78809523809524
1059    90.900000
1060    71.428571
1061    90.900000
1062    91.700000
1063    90.900000
Name: proficiency_middle_school, dtype: float64
1059    90.900000
1060    71.428571
1061    90.900000
1062    91.700000
1063    90.900000
1064    90.900000
Name: proficiency_middle_school, dtype: float64
80.0
1059    80.0
1060    80.0
1061    80.0
1062    80.0
1063    80.0
Name: proficiency_high_school, dtype: float64
1059    80.0
1060    80.0
1061    80.0
1062    80.0
1063    80.0
1064    80.0
Name: proficiency_high_school, dtype: float64
5.277777777777778
1059    6.000000
1060    2.666667
1061    6.000000
1062    5.000000
1063    6.000000
Name: student_absenteeism, dtype: float64
1059    6.000000
1060    2.666667
1061    6.000000
1062    5.000000
1063    6.000000
1064    6.000000
Name: student_absenteeism, dtype: float64
582.3333333333334
1059    464.0
1060    688.0
1061    464.0
1062    950.0
1063    464.0
Name: voters_participating, dtype: float64
1059    464.0
1060    688.0
1061    464.0
1062    950.0
1063    464.0
1064    464.0
Name: voters_participating, dtype: float64
1.0
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
Name: neighborhood_organizations, dtype: float64
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
1064    1.0
Name: neighborhood_organizations, dtype: float64
50.5
1059    38.0
1060    68.0
1061    38.0
1062    83.0
1063    38.0
Name: voter_participation, dtype: float64
1059    38.0
1060    68.0
1061    38.0
1062    83.0
1063    38.0
1064    38.0
Name: voter_participation, dtype: float64
7.9
1059    7.9
1060    7.9
1061    7.9
1062    7.9
1063    7.9
Name: vacant_land, dtype: float64
1059    7.9
1060    7.9
1061    7.9
1062    7.9
1063    7.9
1064    7.9
Name: vacant_land, dtype: float64
1.0
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
Name: population_density, dtype: float64
1059    1.0
1060    1.0
1061    1.0
1062    1.0
1063    1.0
1064    1.0
Name: population_density, dtype: float64
1059.4
1059    1058.0
1060    1059.4
1061    1058.0
1062    1065.0
1063    1058.0
Name: population, dtype: float64
1059    1058.0
1060    1059.4
1061    1058.0
1062    1065.0
1063    1058.0
1064    1058.0
Name: population, dtype: float64
31.0
1059    31.0
1060    31.0
1061    31.0
1062    31.0
1063    31.0
Name: transit_ridership, dtype: float64
1059    31.0
1060    31.0
1061    31.0
1062    31.0
1063    31.0
1064    31.0
Name: transit_ridership, dtype: float64
1.08
1059    1.08
1060    1.08
1061    1.08
1062    1.08
1063    1.08
Name: street_connectivity, dtype: float64
1059    1.08
1060    1.08
1061    1.08
1062    1.08
1063    1.08
1064    1.08
Name: street_connectivity, dtype: float64
1.3
1059    1.3
1060    1.3
1061    1.3
1062    1.3
1063    1.3
Name: bicycle_friendliness, dtype: float64
1059    1.3
1060    1.3
1061    1.3
1062    1.3
1063    1.3
1064    1.3
Name: bicycle_friendliness, dtype: float64
1.4395
1065    1.850
1066    0.470
1067    0.470
1068    2.968
Name: Acres, dtype: float64
1065    1.850
1066    0.470
1067    0.470
1068    2.968
Name: Acres, dtype: float64
nan
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: births_to_adolescents, dtype: float64
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: births_to_adolescents, dtype: float64
492.5
1065    546.0
1066    475.0
1067    475.0
1068    474.0
Name: grocery_proximate_units, dtype: float64
1065    546.0
1066    475.0
1067    475.0
1068    474.0
Name: grocery_proximate_units, dtype: float64
nan
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: prenatal_care, dtype: float64
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: prenatal_care, dtype: float64
58.0
1065    62.0
1066    54.0
1067    54.0
1068    62.0
Name: grocery_proximity, dtype: float64
1065    62.0
1066    54.0
1067    54.0
1068    62.0
Name: grocery_proximity, dtype: float64
nan
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: low_birthweight, dtype: float64
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: low_birthweight, dtype: float64
28.666666666666668
1065    28.666667
1066    31.000000
1067    31.000000
1068    24.000000
Name: public_health_insurance, dtype: float64
1065    28.666667
1066    31.000000
1067    31.000000
1068    24.000000
Name: public_health_insurance, dtype: float64
nan
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: age_of_death, dtype: float64
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: age_of_death, dtype: float64
15.525
1065    15.6
1066    15.5
1067    15.5
1068    15.5
Name: impervious_surface, dtype: float64
1065    15.6
1066    15.5
1067    15.5
1068    15.5
Name: impervious_surface, dtype: float64
145.0
1065    145.0
1066    145.0
1067    145.0
1068    145.0
Name: water_consumption, dtype: float64
1065    145.0
1066    145.0
1067    145.0
1068    145.0
Name: water_consumption, dtype: float64
67.44666666666667
1065    67.446667
1066    68.670000
1067    68.670000
1068    65.000000
Name: neighborhood_school_attendance, dtype: float64
1065    67.446667
1066    68.670000
1067    68.670000
1068    65.000000
Name: neighborhood_school_attendance, dtype: float64
89.33333333333333
1065    89.333333
1066    88.000000
1067    88.000000
1068    92.000000
Name: highschool_graduation_rate, dtype: float64
1065    89.333333
1066    88.000000
1067    88.000000
1068    92.000000
Name: highschool_graduation_rate, dtype: float64
38.5694779116466
1065    38.569478
1066    38.554217
1067    38.554217
1068    38.600000
Name: proficiency_elementary_school, dtype: float64
1065    38.569478
1066    38.554217
1067    38.554217
1068    38.600000
Name: proficiency_elementary_school, dtype: float64
23.919999999999998
1065    23.92
1066    22.43
1067    22.43
1068    26.90
Name: proficiency_middle_school, dtype: float64
1065    23.92
1066    22.43
1067    22.43
1068    26.90
Name: proficiency_middle_school, dtype: float64
17.36
1065    17.36
1066    14.29
1067    14.29
1068    23.50
Name: proficiency_high_school, dtype: float64
1065    17.36
1066    14.29
1067    14.29
1068    23.50
Name: proficiency_high_school, dtype: float64
15.479750778816202
1065    15.479751
1066    14.719626
1067    14.719626
1068    17.000000
Name: student_absenteeism, dtype: float64
1065    15.479751
1066    14.719626
1067    14.719626
1068    17.000000
Name: student_absenteeism, dtype: float64
385.0
1065    767.0
1066    217.0
1067    217.0
1068    339.0
Name: voters_participating, dtype: float64
1065    767.0
1066    217.0
1067    217.0
1068    339.0
Name: voters_participating, dtype: float64
6.0
1065    6.0
1066    6.0
1067    6.0
1068    6.0
Name: neighborhood_organizations, dtype: float64
1065    6.0
1066    6.0
1067    6.0
1068    6.0
Name: neighborhood_organizations, dtype: float64
29.0
1065    60.0
1066    18.0
1067    18.0
1068    20.0
Name: voter_participation, dtype: float64
1065    60.0
1066    18.0
1067    18.0
1068    20.0
Name: voter_participation, dtype: float64
8.3
1065    8.3
1066    8.3
1067    8.3
1068    8.3
Name: vacant_land, dtype: float64
1065    8.3
1066    8.3
1067    8.3
1068    8.3
Name: vacant_land, dtype: float64
4.0
1065    4.0
1066    4.0
1067    4.0
1068    4.0
Name: population_density, dtype: float64
1065    4.0
1066    4.0
1067    4.0
1068    4.0
Name: population_density, dtype: float64
2382.25
1065    2382.0
1066    2381.0
1067    2381.0
1068    2385.0
Name: population, dtype: float64
1065    2382.0
1066    2381.0
1067    2381.0
1068    2385.0
Name: population, dtype: float64
nan
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: transit_ridership, dtype: float64
1065   -1.0
1066   -1.0
1067   -1.0
1068   -1.0
Name: transit_ridership, dtype: float64
1.16
1065    1.16
1066    1.16
1067    1.16
1068    1.16
Name: street_connectivity, dtype: float64
1065    1.16
1066    1.16
1067    1.16
1068    1.16
Name: street_connectivity, dtype: float64
1.5
1065    1.5
1066    1.5
1067    1.5
1068    1.5
Name: bicycle_friendliness, dtype: float64
1065    1.5
1066    1.5
1067    1.5
1068    1.5
Name: bicycle_friendliness, dtype: float64
5.86
1069    5.86
1070    5.86
Name: Acres, dtype: float64
1069    5.86
1070    5.86
Name: Acres, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: births_to_adolescents, dtype: float64
1069   -1.0
1070   -1.0
Name: births_to_adolescents, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: grocery_proximate_units, dtype: float64
1069   -1.0
1070   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: prenatal_care, dtype: float64
1069   -1.0
1070   -1.0
Name: prenatal_care, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: grocery_proximity, dtype: float64
1069   -1.0
1070   -1.0
Name: grocery_proximity, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: low_birthweight, dtype: float64
1069   -1.0
1070   -1.0
Name: low_birthweight, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: public_health_insurance, dtype: float64
1069   -1.0
1070   -1.0
Name: public_health_insurance, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: age_of_death, dtype: float64
1069   -1.0
1070   -1.0
Name: age_of_death, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: impervious_surface, dtype: float64
1069   -1.0
1070   -1.0
Name: impervious_surface, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: water_consumption, dtype: float64
1069   -1.0
1070   -1.0
Name: water_consumption, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: neighborhood_school_attendance, dtype: float64
1069   -1.0
1070   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: highschool_graduation_rate, dtype: float64
1069   -1.0
1070   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: proficiency_elementary_school, dtype: float64
1069   -1.0
1070   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: proficiency_middle_school, dtype: float64
1069   -1.0
1070   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: proficiency_high_school, dtype: float64
1069   -1.0
1070   -1.0
Name: proficiency_high_school, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: student_absenteeism, dtype: float64
1069   -1.0
1070   -1.0
Name: student_absenteeism, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: voters_participating, dtype: float64
1069   -1.0
1070   -1.0
Name: voters_participating, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: neighborhood_organizations, dtype: float64
1069   -1.0
1070   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: voter_participation, dtype: float64
1069   -1.0
1070   -1.0
Name: voter_participation, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: vacant_land, dtype: float64
1069   -1.0
1070   -1.0
Name: vacant_land, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: population_density, dtype: float64
1069   -1.0
1070   -1.0
Name: population_density, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: population, dtype: float64
1069   -1.0
1070   -1.0
Name: population, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: transit_ridership, dtype: float64
1069   -1.0
1070   -1.0
Name: transit_ridership, dtype: float64
nan

1069   -1.0
1070   -1.0
Name: street_connectivity, dtype: float64
1069   -1.0
1070   -1.0
Name: street_connectivity, dtype: float64
nan
1069   -1.0
1070   -1.0
Name: bicycle_friendliness, dtype: float64
1069   -1.0
1070   -1.0
Name: bicycle_friendliness, dtype: float64
42.05
1071    42.05
Name: Acres, dtype: float64
1071    42.05
Name: Acres, dtype: float64
nan
1071   -1.0
Name: births_to_adolescents, dtype: float64
1071   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1071    0.0
Name: grocery_proximate_units, dtype: float64
1071    0.0
Name: grocery_proximate_units, dtype: float64
nan
1071   -1.0
Name: prenatal_care, dtype: float64
1071   -1.0
Name: prenatal_care, dtype: float64
0.0
1071    0.0
Name: grocery_proximity, dtype: float64
1071    0.0
Name: grocery_proximity, dtype: float64
nan
1071   -1.0
Name: low_birthweight, dtype: float64
1071   -1.0
Name: low_birthweight, dtype: float64
nan
1071   -1.0
Name: public_health_insurance, dtype: float64
1071   -1.0
Name: public_health_insurance, dtype: float64
nan
1071   -1.0
Name: age_of_death, dtype: float64
1071   -1.0
Name: age_of_death, dtype: float64
11.1
1071    11.1
Name: impervious_surface, dtype: float64
1071    11.1
Name: impervious_surface, dtype: float64
154.0
1071    154.0
Name: water_consumption, dtype: float64
1071    154.0
Name: water_consumption, dtype: float64
nan
1071   -1.0
Name: neighborhood_school_attendance, dtype: float64
1071   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1071   -1.0
Name: highschool_graduation_rate, dtype: float64
1071   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1071   -1.0
Name: proficiency_elementary_school, dtype: float64
1071   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1071   -1.0
Name: proficiency_middle_school, dtype: float64
1071   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1071   -1.0
Name: proficiency_high_school, dtype: float64
1071   -1.0
Name: proficiency_high_school, dtype: float64
nan
1071   -1.0
Name: student_absenteeism, dtype: float64
1071   -1.0
Name: student_absenteeism, dtype: float64
514.0
1071    514.0
Name: voters_participating, dtype: float64
1071    514.0
Name: voters_participating, dtype: float64
nan
1071   -1.0
Name: neighborhood_organizations, dtype: float64
1071   -1.0
Name: neighborhood_organizations, dtype: float64
61.0
1071    61.0
Name: voter_participation, dtype: float64
1071    61.0
Name: voter_participation, dtype: float64
18.5
1071    18.5
Name: vacant_land, dtype: float64
1071    18.5
Name: vacant_land, dtype: float64
6.0
1071    6.0
Name: population_density, dtype: float64
1071    6.0
Name: population_density, dtype: float64
1660.0
1071    1660.0
Name: population, dtype: float64
1071    1660.0
Name: population, dtype: float64
nan
1071   -1.0
Name: transit_ridership, dtype: float64
1071   -1.0
Name: transit_ridership, dtype: float64
1.14
1071    1.14
Name: street_connectivity, dtype: float64
1071    1.14
Name: street_connectivity, dtype: float64
1.7
1071    1.7
Name: bicycle_friendliness, dtype: float64
1071    1.7
Name: bicycle_friendliness, dtype: float64
4.645
1072    5.33
1073    3.96
Name: Acres, dtype: float64
1072    5.33
1073    3.96
Name: Acres, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: births_to_adolescents, dtype: float64
1072   -1.0
1073   -1.0
Name: births_to_adolescents, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: grocery_proximate_units, dtype: float64
1072   -1.0
1073   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: prenatal_care, dtype: float64
1072   -1.0
1073   -1.0
Name: prenatal_care, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: grocery_proximity, dtype: float64
1072   -1.0
1073   -1.0
Name: grocery_proximity, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: low_birthweight, dtype: float64
1072   -1.0
1073   -1.0
Name: low_birthweight, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: public_health_insurance, dtype: float64
1072   -1.0
1073   -1.0
Name: public_health_insurance, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: age_of_death, dtype: float64
1072   -1.0
1073   -1.0
Name: age_of_death, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: impervious_surface, dtype: float64
1072   -1.0
1073   -1.0
Name: impervious_surface, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: water_consumption, dtype: float64
1072   -1.0
1073   -1.0
Name: water_consumption, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: neighborhood_school_attendance, dtype: float64
1072   -1.0
1073   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: highschool_graduation_rate, dtype: float64
1072   -1.0
1073   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: proficiency_elementary_school, dtype: float64
1072   -1.0
1073   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: proficiency_middle_school, dtype: float64
1072   -1.0
1073   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: proficiency_high_school, dtype: float64
1072   -1.0
1073   -1.0
Name: proficiency_high_school, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: student_absenteeism, dtype: float64
1072   -1.0
1073   -1.0
Name: student_absenteeism, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: voters_participating, dtype: float64
1072   -1.0
1073   -1.0
Name: voters_participating, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: neighborhood_organizations, dtype: float64
1072   -1.0
1073   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: voter_participation, dtype: float64
1072   -1.0
1073   -1.0
Name: voter_participation, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: vacant_land, dtype: float64
1072   -1.0
1073   -1.0
Name: vacant_land, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: population_density, dtype: float64
1072   -1.0
1073   -1.0
Name: population_density, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: population, dtype: float64
1072   -1.0
1073   -1.0
Name: population, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: transit_ridership, dtype: float64
1072   -1.0
1073   -1.0
Name: transit_ridership, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: street_connectivity, dtype: float64
1072   -1.0
1073   -1.0
Name: street_connectivity, dtype: float64
nan
1072   -1.0
1073   -1.0
Name: bicycle_friendliness, dtype: float64
1072   -1.0
1073   -1.0
Name: bicycle_friendliness, dtype: float64
25.403333333333332
1074    42.41
1075     9.06
1076    27.08
1077    27.08
1078    42.41
Name: Acres, dtype: float64
1074    42.41
1075     9.06
1076    27.08
1077    27.08
1078    42.41
1079     4.38
Name: Acres, dtype: float64
2.8
1074    2.8
1075    2.8
1076    2.8
1077    2.8
1078    2.8
Name: births_to_adolescents, dtype: float64
1074    2.8
1075    2.8
1076    2.8
1077    2.8
1078    2.8
1079    2.8
Name: births_to_adolescents, dtype: float64
209.0
1074    209.0
1075    209.0
1076    209.0
1077    209.0
1078    209.0
Name: grocery_proximate_units, dtype: float64
1074    209.0
1075    209.0
1076    209.0
1077    209.0
1078    209.0
1079    209.0
Name: grocery_proximate_units, dtype: float64
50.7
1074    50.7
1075    50.7
1076    50.7
1077    50.7
1078    50.7
Name: prenatal_care, dtype: float64
1074    50.7
1075    50.7
1076    50.7
1077    50.7
1078    50.7
1079    50.7
Name: prenatal_care, dtype: float64
17.0
1074    17.0
1075    17.0
1076    17.0
1077    17.0
1078    17.0
Name: grocery_proximity, dtype: float64
1074    17.0
1075    17.0
1076    17.0
1077    17.0
1078    17.0
1079    17.0
Name: grocery_proximity, dtype: float64
7.0
1074    7.0
1075    7.0
1076    7.0
1077    7.0
1078    7.0
Name: low_birthweight, dtype: float64
1074    7.0
1075    7.0
1076    7.0
1077    7.0
1078    7.0
1079    7.0
Name: low_birthweight, dtype: float64
nan
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
Name: public_health_insurance, dtype: float64
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
1079   -1.0
Name: public_health_insurance, dtype: float64
69.0
1074    69.0
1075    69.0
1076    69.0
1077    69.0
1078    69.0
Name: age_of_death, dtype: float64
1074    69.0
1075    69.0
1076    69.0
1077    69.0
1078    69.0
1079    69.0
Name: age_of_death, dtype: float64
30.6
1074    30.6
1075    30.6
1076    30.6
1077    30.6
1078    30.6
Name: impervious_surface, dtype: float64
1074    30.6
1075    30.6
1076    30.6
1077    30.6
1078    30.6
1079    30.6
Name: impervious_surface, dtype: float64
139.0
1074    139.0
1075    139.0
1076    139.0
1077    139.0
1078    139.0
Name: water_consumption, dtype: float64
1074    139.0
1075    139.0
1076    139.0
1077    139.0
1078    139.0
1079    139.0
Name: water_consumption, dtype: float64
76.0
1074    76.0
1075    76.0
1076    76.0
1077    76.0
1078    76.0
Name: neighborhood_school_attendance, dtype: float64
1074    76.0
1075    76.0
1076    76.0
1077    76.0
1078    76.0
1079    76.0
Name: neighborhood_school_attendance, dtype: float64
88.0
1074    88.0
1075    88.0
1076    88.0
1077    88.0
1078    88.0
Name: highschool_graduation_rate, dtype: float64
1074    88.0
1075    88.0
1076    88.0
1077    88.0
1078    88.0
1079    88.0
Name: highschool_graduation_rate, dtype: float64
44.58
1074    44.58
1075    44.58
1076    44.58
1077    44.58
1078    44.58
Name: proficiency_elementary_school, dtype: float64
1074    44.58
1075    44.58
1076    44.58
1077    44.58
1078    44.58
1079    44.58
Name: proficiency_elementary_school, dtype: float64
20.0
1074    20.0
1075    20.0
1076    20.0
1077    20.0
1078    20.0
Name: proficiency_middle_school, dtype: float64
1074    20.0
1075    20.0
1076    20.0
1077    20.0
1078    20.0
1079    20.0
Name: proficiency_middle_school, dtype: float64
30.8
1074    30.8
1075    30.8
1076    30.8
1077    30.8
1078    30.8
Name: proficiency_high_school, dtype: float64
1074    30.8
1075    30.8
1076    30.8
1077    30.8
1078    30.8
1079    30.8
Name: proficiency_high_school, dtype: float64
10.0
1074    10.0
1075    10.0
1076    10.0
1077    10.0
1078    10.0
Name: student_absenteeism, dtype: float64
1074    10.0
1075    10.0
1076    10.0
1077    10.0
1078    10.0
1079    10.0
Name: student_absenteeism, dtype: float64
879.0
1074    879.0
1075    879.0
1076    879.0
1077    879.0
1078    879.0
Name: voters_participating, dtype: float64
1074    879.0
1075    879.0
1076    879.0
1077    879.0
1078    879.0
1079    879.0
Name: voters_participating, dtype: float64
nan
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
Name: neighborhood_organizations, dtype: float64
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
1079   -1.0
Name: neighborhood_organizations, dtype: float64
68.0
1074    68.0
1075    68.0
1076    68.0
1077    68.0
1078    68.0
Name: voter_participation, dtype: float64
1074    68.0
1075    68.0
1076    68.0
1077    68.0
1078    68.0
1079    68.0
Name: voter_participation, dtype: float64
3.3
1074    3.3
1075    3.3
1076    3.3
1077    3.3
1078    3.3
Name: vacant_land, dtype: float64
1074    3.3
1075    3.3
1076    3.3
1077    3.3
1078    3.3
1079    3.3
Name: vacant_land, dtype: float64
8.0
1074    8.0
1075    8.0
1076    8.0
1077    8.0
1078    8.0
Name: population_density, dtype: float64
1074    8.0
1075    8.0
1076    8.0
1077    8.0
1078    8.0
1079    8.0
Name: population_density, dtype: float64
2394.0
1074    2394.0
1075    2394.0
1076    2394.0
1077    2394.0
1078    2394.0
Name: population, dtype: float64
1074    2394.0
1075    2394.0
1076    2394.0
1077    2394.0
1078    2394.0
1079    2394.0
Name: population, dtype: float64
nan
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
Name: transit_ridership, dtype: float64
1074   -1.0
1075   -1.0
1076   -1.0
1077   -1.0
1078   -1.0
1079   -1.0
Name: transit_ridership, dtype: float64
1.2
1074    1.2
1075    1.2
1076    1.2
1077    1.2
1078    1.2
Name: street_connectivity, dtype: float64
1074    1.2
1075    1.2
1076    1.2
1077    1.2
1078    1.2
1079    1.2
Name: street_connectivity, dtype: float64
1.5
1074    1.5
1075    1.5
1076    1.5
1077    1.5
1078    1.5
Name: bicycle_friendliness, dtype: float64
1074    1.5
1075    1.5
1076    1.5
1077    1.5
1078    1.5
1079    1.5
Name: bicycle_friendliness, dtype: float64
4.35
1080    4.35
Name: Acres, dtype: float64
1080    4.35
Name: Acres, dtype: float64
2.0

1080    2.0
Name: births_to_adolescents, dtype: float64
1080    2.0
Name: births_to_adolescents, dtype: float64
75.0
1080    75.0
Name: grocery_proximate_units, dtype: float64
1080    75.0
Name: grocery_proximate_units, dtype: float64
79.6
1080    79.6
Name: prenatal_care, dtype: float64
1080    79.6
Name: prenatal_care, dtype: float64
11.0
1080    11.0
Name: grocery_proximity, dtype: float64
1080    11.0
Name: grocery_proximity, dtype: float64
6.1
1080    6.1
Name: low_birthweight, dtype: float64
1080    6.1
Name: low_birthweight, dtype: float64
nan
1080   -1.0
Name: public_health_insurance, dtype: float64
1080   -1.0
Name: public_health_insurance, dtype: float64
72.0
1080    72.0
Name: age_of_death, dtype: float64
1080    72.0
Name: age_of_death, dtype: float64
15.0
1080    15.0
Name: impervious_surface, dtype: float64
1080    15.0
Name: impervious_surface, dtype: float64
156.0
1080    156.0
Name: water_consumption, dtype: float64
1080    156.0
Name: water_consumption, dtype: float64
78.9
1080    78.9
Name: neighborhood_school_attendance, dtype: float64
1080    78.9
Name: neighborhood_school_attendance, dtype: float64
100.0
1080    100.0
Name: highschool_graduation_rate, dtype: float64
1080    100.0
Name: highschool_graduation_rate, dtype: float64
44.74
1080    44.74
Name: proficiency_elementary_school, dtype: float64
1080    44.74
Name: proficiency_elementary_school, dtype: float64
37.4
1080    37.4
Name: proficiency_middle_school, dtype: float64
1080    37.4
Name: proficiency_middle_school, dtype: float64
56.3
1080    56.3
Name: proficiency_high_school, dtype: float64
1080    56.3
Name: proficiency_high_school, dtype: float64
6.0
1080    6.0
Name: student_absenteeism, dtype: float64
1080    6.0
Name: student_absenteeism, dtype: float64
944.0
1080    944.0
Name: voters_participating, dtype: float64
1080    944.0
Name: voters_participating, dtype: float64
nan
1080   -1.0
Name: neighborhood_organizations, dtype: float64
1080   -1.0
Name: neighborhood_organizations, dtype: float64
76.0
1080    76.0
Name: voter_participation, dtype: float64
1080    76.0
Name: voter_participation, dtype: float64
23.4
1080    23.4
Name: vacant_land, dtype: float64
1080    23.4
Name: vacant_land, dtype: float64
6.0
1080    6.0
Name: population_density, dtype: float64
1080    6.0
Name: population_density, dtype: float64
1835.0
1080    1835.0
Name: population, dtype: float64
1080    1835.0
Name: population, dtype: float64
nan
1080   -1.0
Name: transit_ridership, dtype: float64
1080   -1.0
Name: transit_ridership, dtype: float64
1.12
1080    1.12
Name: street_connectivity, dtype: float64
1080    1.12
Name: street_connectivity, dtype: float64
1.4
1080    1.4
Name: bicycle_friendliness, dtype: float64
1080    1.4
Name: bicycle_friendliness, dtype: float64
454.24
1081    454.24
1082    454.24
Name: Acres, dtype: float64
1081    454.24
1082    454.24
Name: Acres, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: births_to_adolescents, dtype: float64
1081   -1.0
1082   -1.0
Name: births_to_adolescents, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: grocery_proximate_units, dtype: float64
1081   -1.0
1082   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: prenatal_care, dtype: float64
1081   -1.0
1082   -1.0
Name: prenatal_care, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: grocery_proximity, dtype: float64
1081   -1.0
1082   -1.0
Name: grocery_proximity, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: low_birthweight, dtype: float64
1081   -1.0
1082   -1.0
Name: low_birthweight, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: public_health_insurance, dtype: float64
1081   -1.0
1082   -1.0
Name: public_health_insurance, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: age_of_death, dtype: float64
1081   -1.0
1082   -1.0
Name: age_of_death, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: impervious_surface, dtype: float64
1081   -1.0
1082   -1.0
Name: impervious_surface, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: water_consumption, dtype: float64
1081   -1.0
1082   -1.0
Name: water_consumption, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: neighborhood_school_attendance, dtype: float64
1081   -1.0
1082   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: highschool_graduation_rate, dtype: float64
1081   -1.0
1082   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: proficiency_elementary_school, dtype: float64
1081   -1.0
1082   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: proficiency_middle_school, dtype: float64
1081   -1.0
1082   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: proficiency_high_school, dtype: float64
1081   -1.0
1082   -1.0
Name: proficiency_high_school, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: student_absenteeism, dtype: float64
1081   -1.0
1082   -1.0
Name: student_absenteeism, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: voters_participating, dtype: float64
1081   -1.0
1082   -1.0
Name: voters_participating, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: neighborhood_organizations, dtype: float64
1081   -1.0
1082   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: voter_participation, dtype: float64
1081   -1.0
1082   -1.0
Name: voter_participation, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: vacant_land, dtype: float64
1081   -1.0
1082   -1.0
Name: vacant_land, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: population_density, dtype: float64
1081   -1.0
1082   -1.0
Name: population_density, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: population, dtype: float64
1081   -1.0
1082   -1.0
Name: population, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: transit_ridership, dtype: float64
1081   -1.0
1082   -1.0
Name: transit_ridership, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: street_connectivity, dtype: float64
1081   -1.0
1082   -1.0
Name: street_connectivity, dtype: float64
nan
1081   -1.0
1082   -1.0
Name: bicycle_friendliness, dtype: float64
1081   -1.0
1082   -1.0
Name: bicycle_friendliness, dtype: float64
33.64545454545455
1083    26.26
1084     4.64
1085    21.00
1086    26.26
1087    11.10
Name: Acres, dtype: float64
1083    26.26
1084     4.64
1085    21.00
1086    26.26
1087    11.10
1088     4.30
1089    21.00
1090    90.00
1091    90.00
1092    38.00
1093    37.54
Name: Acres, dtype: float64
1.3
1083    1.3
1084    1.3
1085    1.3
1086    1.3
1087    1.3
Name: births_to_adolescents, dtype: float64
1083    1.3
1084    1.3
1085    1.3
1086    1.3
1087    1.3
1088    2.6
1089    1.3
1090    0.0
1091    0.0
1092    1.3
1093    2.6
Name: births_to_adolescents, dtype: float64
519.2
1083    588.0
1084    519.2
1085    588.0
1086    588.0
1087    588.0
Name: grocery_proximate_units, dtype: float64
1083    588.0
1084    519.2
1085    588.0
1086    588.0
1087    588.0
1088    537.0
1089    588.0
1090    295.0
1091    295.0
1092    588.0
1093    537.0
Name: grocery_proximate_units, dtype: float64
80.9
1083    80.9
1084    80.9
1085    80.9
1086    80.9
1087    80.9
Name: prenatal_care, dtype: float64
1083    80.9
1084    80.9
1085    80.9
1086    80.9
1087    80.9
1088    71.8
1089    80.9
1090    90.0
1091    90.0
1092    80.9
1093    71.8
Name: prenatal_care, dtype: float64
94.4
1083    96.0
1084    94.4
1085    96.0
1086    96.0
1087    96.0
Name: grocery_proximity, dtype: float64
1083    96.0
1084    94.4
1085    96.0
1086    96.0
1087    96.0
1088    94.0
1089    96.0
1090    90.0
1091    90.0
1092    96.0
1093    94.0
Name: grocery_proximity, dtype: float64
8.85
1083    8.85
1084    8.85
1085    8.85
1086    8.85
1087    8.85
Name: low_birthweight, dtype: float64
1083     8.85
1084     8.85
1085     8.85
1086     8.85
1087     8.85
1088     7.70
1089     8.85
1090    10.00
1091    10.00
1092     8.85
1093     7.70
Name: low_birthweight, dtype: float64
7.25
1083    5.00
1084    7.25
1085    5.00
1086    5.00
1087    5.00
Name: public_health_insurance, dtype: float64
1083     5.00
1084     7.25
1085     5.00
1086     5.00
1087     5.00
1088     7.25
1089     5.00
1090    14.00
1091    14.00
1092     5.00
1093     7.25
Name: public_health_insurance, dtype: float64
nan
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
Name: age_of_death, dtype: float64
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
1088   -1.0
1089   -1.0
1090   -1.0
1091   -1.0
1092   -1.0
1093   -1.0
Name: age_of_death, dtype: float64
19.125
1083    19.400
1084    19.125
1085    19.400
1086    19.400
1087    19.400
Name: impervious_surface, dtype: float64
1083    19.400
1084    19.125
1085    19.400
1086    19.400
1087    19.400
1088    18.300
1089    19.400
1090    19.125
1091    19.125
1092    19.400
1093    18.300
Name: impervious_surface, dtype: float64
118.0
1083    118.0
1084    118.0
1085    118.0
1086    118.0
1087    118.0
Name: water_consumption, dtype: float64
1083    118.0
1084    118.0
1085    118.0
1086    118.0
1087    118.0
1088    127.0
1089    118.0
1090    109.0
1091    109.0
1092    118.0
1093    127.0
Name: water_consumption, dtype: float64
75.88
1083    79.00
1084    75.88
1085    79.00
1086    79.00
1087    79.00
Name: neighborhood_school_attendance, dtype: float64
1083    79.00
1084    75.88
1085    79.00
1086    79.00
1087    79.00
1088    67.40
1089    79.00
1090    75.00
1091    75.00
1092    79.00
1093    67.40
Name: neighborhood_school_attendance, dtype: float64
nan
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
Name: highschool_graduation_rate, dtype: float64
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
1088   -1.0
1089   -1.0
1090   -1.0
1091   -1.0
1092   -1.0
1093   -1.0
Name: highschool_graduation_rate, dtype: float64
30.555
1083    30.555
1084    30.555
1085    30.555
1086    30.555
1087    30.555
Name: proficiency_elementary_school, dtype: float64
1083    30.555
1084    30.555
1085    30.555
1086    30.555
1087    30.555
1088    11.110
1089    30.555
1090    50.000
1091    50.000
1092    30.555
1093    11.110
Name: proficiency_elementary_school, dtype: float64
52.08333333333333
1083    52.083333
1084    52.083333
1085    52.083333
1086    52.083333
1087    52.083333
Name: proficiency_middle_school, dtype: float64
1083    52.083333
1084    52.083333
1085    52.083333
1086    52.083333
1087    52.083333
1088    37.500000
1089    52.083333
1090    66.666667
1091    66.666667
1092    52.083333
1093    37.500000
Name: proficiency_middle_school, dtype: float64
nan
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
Name: proficiency_high_school, dtype: float64
1083   -1.0
1084   -1.0
1085   -1.0
1086   -1.0
1087   -1.0
1088   -1.0
1089   -1.0
1090   -1.0
1091   -1.0
1092   -1.0
1093   -1.0
Name: proficiency_high_school, dtype: float64
19.304761904761904
1083    24.000000
1084    19.304762
1085    24.000000
1086    24.000000
1087    24.000000
Name: student_absenteeism, dtype: float64
1083    24.000000
1084    19.304762
1085    24.000000
1086    24.000000
1087    24.000000
1088    15.000000
1089    24.000000
1090     9.523810
1091     9.523810
1092    24.000000
1093    15.000000
Name: student_absenteeism, dtype: float64
109.2
1083     49.0
1084    109.2
1085     49.0
1086     49.0
1087     49.0
Name: voters_participating, dtype: float64
1083     49.0
1084    109.2
1085     49.0
1086     49.0
1087     49.0
1088    319.0
1089     49.0
1090     80.0
1091     80.0
1092     49.0
1093    319.0
Name: voters_participating, dtype: float64
0.0
1083    0.0
1084    0.0
1085    0.0
1086    0.0
1087    0.0
Name: neighborhood_organizations, dtype: float64
1083    0.0
1084    0.0
1085    0.0
1086    0.0
1087    0.0
1088    0.0
1089    0.0
1090    0.0
1091    0.0
1092    0.0
1093    0.0
Name: neighborhood_organizations, dtype: float64
27.0
1083     9.0
1084    27.0
1085     9.0
1086     9.0
1087     9.0
Name: voter_participation, dtype: float64
1083     9.0
1084    27.0
1085     9.0
1086     9.0
1087     9.0
1088    70.0
1089     9.0
1090    38.0
1091    38.0
1092     9.0
1093    70.0
Name: voter_participation, dtype: float64
38.800000000000004
1083    38.8
1084    38.8
1085    38.8
1086    38.8
1087    38.8
Name: vacant_land, dtype: float64
1083    38.8
1084    38.8
1085    38.8
1086    38.8
1087    38.8
1088    38.8
1089    38.8
1090    38.8
1091    38.8
1092    38.8
1093    38.8
Name: vacant_land, dtype: float64
1.0
1083    1.0
1084    1.0
1085    1.0
1086    1.0
1087    1.0
Name: population_density, dtype: float64
1083    1.0
1084    1.0
1085    1.0
1086    1.0
1087    1.0
1088    1.0
1089    1.0
1090    1.0
1091    1.0
1092    1.0
1093    1.0
Name: population_density, dtype: float64
1009.75
1083    1032.00
1084    1009.75
1085    1032.00
1086    1032.00
1087    1032.00
Name: population, dtype: float64
1083    1032.00
1084    1009.75
1085    1032.00
1086    1032.00
1087    1032.00
1088     943.00
1089    1032.00
1090    1009.75
1091    1009.75
1092    1032.00
1093     943.00
Name: population, dtype: float64
71.0
1083    71.0
1084    71.0
1085    71.0
1086    71.0
1087    71.0
Name: transit_ridership, dtype: float64
1083    71.0
1084    71.0
1085    71.0
1086    71.0
1087    71.0
1088    71.0
1089    71.0
1090    71.0
1091    71.0
1092    71.0
1093    71.0
Name: transit_ridership, dtype: float64
1.2300000000000002
1083    1.23
1084    1.23
1085    1.23
1086    1.23
1087    1.23
Name: street_connectivity, dtype: float64
1083    1.23
1084    1.23
1085    1.23
1086    1.23
1087    1.23
1088    1.23
1089    1.23
1090    1.23
1091    1.23
1092    1.23
1093    1.23
Name: street_connectivity, dtype: float64
1.375
1083    1.400
1084    1.375
1085    1.400
1086    1.400
1087    1.400
Name: bicycle_friendliness, dtype: float64

1083    1.400
1084    1.375
1085    1.400
1086    1.400
1087    1.400
1088    1.300
1089    1.400
1090    1.375
1091    1.375
1092    1.400
1093    1.300
Name: bicycle_friendliness, dtype: float64
7.705
1094    7.50
1095    7.91
Name: Acres, dtype: float64
1094    7.50
1095    7.91
Name: Acres, dtype: float64
2.0
1094    2.0
1095    2.0
Name: births_to_adolescents, dtype: float64
1094    2.0
1095    2.0
Name: births_to_adolescents, dtype: float64
824.5
1094    810.0
1095    839.0
Name: grocery_proximate_units, dtype: float64
1094    810.0
1095    839.0
Name: grocery_proximate_units, dtype: float64
78.0
1094    78.0
1095    78.0
Name: prenatal_care, dtype: float64
1094    78.0
1095    78.0
Name: prenatal_care, dtype: float64
62.5
1094    57.0
1095    68.0
Name: grocery_proximity, dtype: float64
1094    57.0
1095    68.0
Name: grocery_proximity, dtype: float64
4.0
1094    4.0
1095    4.0
Name: low_birthweight, dtype: float64
1094    4.0
1095    4.0
Name: low_birthweight, dtype: float64
2.0
1094    2.0
1095    2.0
Name: public_health_insurance, dtype: float64
1094    2.0
1095    2.0
Name: public_health_insurance, dtype: float64
78.0
1094    78.0
1095    78.0
Name: age_of_death, dtype: float64
1094    78.0
1095    78.0
Name: age_of_death, dtype: float64
23.2
1094    23.2
1095    23.2
Name: impervious_surface, dtype: float64
1094    23.2
1095    23.2
Name: impervious_surface, dtype: float64
227.0
1094    228.0
1095    226.0
Name: water_consumption, dtype: float64
1094    228.0
1095    226.0
Name: water_consumption, dtype: float64
95.62
1094    95.62
1095    95.62
Name: neighborhood_school_attendance, dtype: float64
1094    95.62
1095    95.62
Name: neighborhood_school_attendance, dtype: float64
100.0
1094    100.0
1095    100.0
Name: highschool_graduation_rate, dtype: float64
1094    100.0
1095    100.0
Name: highschool_graduation_rate, dtype: float64
88.46153846153845
1094    88.461538
1095    88.461538
Name: proficiency_elementary_school, dtype: float64
1094    88.461538
1095    88.461538
Name: proficiency_elementary_school, dtype: float64
81.55339805825244
1094    81.553398
1095    81.553398
Name: proficiency_middle_school, dtype: float64
1094    81.553398
1095    81.553398
Name: proficiency_middle_school, dtype: float64
88.0
1094    88.0
1095    88.0
Name: proficiency_high_school, dtype: float64
1094    88.0
1095    88.0
Name: proficiency_high_school, dtype: float64
3.2098765432098766
1094    3.209877
1095    3.209877
Name: student_absenteeism, dtype: float64
1094    3.209877
1095    3.209877
Name: student_absenteeism, dtype: float64
1177.5
1094    1351.0
1095    1004.0
Name: voters_participating, dtype: float64
1094    1351.0
1095    1004.0
Name: voters_participating, dtype: float64
6.0
1094    6.0
1095    6.0
Name: neighborhood_organizations, dtype: float64
1094    6.0
1095    6.0
Name: neighborhood_organizations, dtype: float64
66.0
1094    71.0
1095    61.0
Name: voter_participation, dtype: float64
1094    71.0
1095    61.0
Name: voter_participation, dtype: float64
5.1
1094    5.1
1095    5.1
Name: vacant_land, dtype: float64
1094    5.1
1095    5.1
Name: vacant_land, dtype: float64
7.0
1094    7.0
1095    7.0
Name: population_density, dtype: float64
1094    7.0
1095    7.0
Name: population_density, dtype: float64
3349.0
1094    3349.0
1095    3349.0
Name: population, dtype: float64
1094    3349.0
1095    3349.0
Name: population, dtype: float64
nan
1094   -1.0
1095   -1.0
Name: transit_ridership, dtype: float64
1094   -1.0
1095   -1.0
Name: transit_ridership, dtype: float64
1.04
1094    1.04
1095    1.04
Name: street_connectivity, dtype: float64
1094    1.04
1095    1.04
Name: street_connectivity, dtype: float64
1.3
1094    1.3
1095    1.3
Name: bicycle_friendliness, dtype: float64
1094    1.3
1095    1.3
Name: bicycle_friendliness, dtype: float64
3.0645000000000002
1096    0.229
1097    5.900
Name: Acres, dtype: float64
1096    0.229
1097    5.900
Name: Acres, dtype: float64
0.0
1096    0.0
1097    0.0
Name: births_to_adolescents, dtype: float64
1096    0.0
1097    0.0
Name: births_to_adolescents, dtype: float64
0.0
1096    0.0
1097    0.0
Name: grocery_proximate_units, dtype: float64
1096    0.0
1097    0.0
Name: grocery_proximate_units, dtype: float64
81.1
1096    81.1
1097    81.1
Name: prenatal_care, dtype: float64
1096    81.1
1097    81.1
Name: prenatal_care, dtype: float64
0.0
1096    0.0
1097    0.0
Name: grocery_proximity, dtype: float64
1096    0.0
1097    0.0
Name: grocery_proximity, dtype: float64
5.7
1096    5.7
1097    5.7
Name: low_birthweight, dtype: float64
1096    5.7
1097    5.7
Name: low_birthweight, dtype: float64
2.0
1096    2.0
1097    2.0
Name: public_health_insurance, dtype: float64
1096    2.0
1097    2.0
Name: public_health_insurance, dtype: float64
72.0
1096    72.0
1097    72.0
Name: age_of_death, dtype: float64
1096    72.0
1097    72.0
Name: age_of_death, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: impervious_surface, dtype: float64
1096   -1.0
1097   -1.0
Name: impervious_surface, dtype: float64
176.0
1096    176.0
1097    176.0
Name: water_consumption, dtype: float64
1096    176.0
1097    176.0
Name: water_consumption, dtype: float64
53.33
1096    53.33
1097    53.33
Name: neighborhood_school_attendance, dtype: float64
1096    53.33
1097    53.33
Name: neighborhood_school_attendance, dtype: float64
100.0
1096    100.0
1097    100.0
Name: highschool_graduation_rate, dtype: float64
1096    100.0
1097    100.0
Name: highschool_graduation_rate, dtype: float64
72.54901960784314
1096    72.54902
1097    72.54902
Name: proficiency_elementary_school, dtype: float64
1096    72.54902
1097    72.54902
Name: proficiency_elementary_school, dtype: float64
64.15094339622641
1096    64.150943
1097    64.150943
Name: proficiency_middle_school, dtype: float64
1096    64.150943
1097    64.150943
Name: proficiency_middle_school, dtype: float64
61.53846153846154
1096    61.538462
1097    61.538462
Name: proficiency_high_school, dtype: float64
1096    61.538462
1097    61.538462
Name: proficiency_high_school, dtype: float64
2.032520325203252
1096    2.03252
1097    2.03252
Name: student_absenteeism, dtype: float64
1096    2.03252
1097    2.03252
Name: student_absenteeism, dtype: float64
904.0
1096    904.0
1097    904.0
Name: voters_participating, dtype: float64
1096    904.0
1097    904.0
Name: voters_participating, dtype: float64
1.0
1096    1.0
1097    1.0
Name: neighborhood_organizations, dtype: float64
1096    1.0
1097    1.0
Name: neighborhood_organizations, dtype: float64
56.0
1096    56.0
1097    56.0
Name: voter_participation, dtype: float64
1096    56.0
1097    56.0
Name: voter_participation, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: vacant_land, dtype: float64
1096   -1.0
1097   -1.0
Name: vacant_land, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: population_density, dtype: float64
1096   -1.0
1097   -1.0
Name: population_density, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: population, dtype: float64
1096   -1.0
1097   -1.0
Name: population, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: transit_ridership, dtype: float64
1096   -1.0
1097   -1.0
Name: transit_ridership, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: street_connectivity, dtype: float64
1096   -1.0
1097   -1.0
Name: street_connectivity, dtype: float64
nan
1096   -1.0
1097   -1.0
Name: bicycle_friendliness, dtype: float64
1096   -1.0
1097   -1.0
Name: bicycle_friendliness, dtype: float64
18.8
1098    18.8
Name: Acres, dtype: float64
1098    18.8
Name: Acres, dtype: float64
0.0
1098    0.0
Name: births_to_adolescents, dtype: float64
1098    0.0
Name: births_to_adolescents, dtype: float64
1025.0
1098    1025.0
Name: grocery_proximate_units, dtype: float64
1098    1025.0
Name: grocery_proximate_units, dtype: float64
81.1
1098    81.1
Name: prenatal_care, dtype: float64
1098    81.1
Name: prenatal_care, dtype: float64
72.0
1098    72.0
Name: grocery_proximity, dtype: float64
1098    72.0
Name: grocery_proximity, dtype: float64
10.4
1098    10.4
Name: low_birthweight, dtype: float64
1098    10.4
Name: low_birthweight, dtype: float64
5.0
1098    5.0
Name: public_health_insurance, dtype: float64
1098    5.0
Name: public_health_insurance, dtype: float64
71.0
1098    71.0
Name: age_of_death, dtype: float64
1098    71.0
Name: age_of_death, dtype: float64
nan
1098   -1.0
Name: impervious_surface, dtype: float64
1098   -1.0
Name: impervious_surface, dtype: float64
123.0
1098    123.0
Name: water_consumption, dtype: float64
1098    123.0
Name: water_consumption, dtype: float64

95.54
1098    95.54
Name: neighborhood_school_attendance, dtype: float64
1098    95.54
Name: neighborhood_school_attendance, dtype: float64
98.0
1098    98.0
Name: highschool_graduation_rate, dtype: float64
1098    98.0
Name: highschool_graduation_rate, dtype: float64
64.12213740458014
1098    64.122137
Name: proficiency_elementary_school, dtype: float64
1098    64.122137
Name: proficiency_elementary_school, dtype: float64
61.788617886178855
1098    61.788618
Name: proficiency_middle_school, dtype: float64
1098    61.788618
Name: proficiency_middle_school, dtype: float64
73.68421052631578
1098    73.684211
Name: proficiency_high_school, dtype: float64
1098    73.684211
Name: proficiency_high_school, dtype: float64
6.782608695652175
1098    6.782609
Name: student_absenteeism, dtype: float64
1098    6.782609
Name: student_absenteeism, dtype: float64
684.0
1098    684.0
Name: voters_participating, dtype: float64
1098    684.0
Name: voters_participating, dtype: float64
1.0
1098    1.0
Name: neighborhood_organizations, dtype: float64
1098    1.0
Name: neighborhood_organizations, dtype: float64
46.0
1098    46.0
Name: voter_participation, dtype: float64
1098    46.0
Name: voter_participation, dtype: float64
nan
1098   -1.0
Name: vacant_land, dtype: float64
1098   -1.0
Name: vacant_land, dtype: float64
nan
1098   -1.0
Name: population_density, dtype: float64
1098   -1.0
Name: population_density, dtype: float64
nan
1098   -1.0
Name: population, dtype: float64
1098   -1.0
Name: population, dtype: float64
nan
1098   -1.0
Name: transit_ridership, dtype: float64
1098   -1.0
Name: transit_ridership, dtype: float64
nan
1098   -1.0
Name: street_connectivity, dtype: float64
1098   -1.0
Name: street_connectivity, dtype: float64
nan
1098   -1.0
Name: bicycle_friendliness, dtype: float64
1098   -1.0
Name: bicycle_friendliness, dtype: float64
12.063333333333333
1099    14.30
1100     9.99
1101    11.90
Name: Acres, dtype: float64
1099    14.30
1100     9.99
1101    11.90
Name: Acres, dtype: float64
4.0
1099    4.0
1100    4.0
1101    4.0
Name: births_to_adolescents, dtype: float64
1099    4.0
1100    4.0
1101    4.0
Name: births_to_adolescents, dtype: float64
110.0
1099    111.0
1100    110.0
1101    109.0
Name: grocery_proximate_units, dtype: float64
1099    111.0
1100    110.0
1101    109.0
Name: grocery_proximate_units, dtype: float64
52.6
1099    52.6
1100    52.6
1101    52.6
Name: prenatal_care, dtype: float64
1099    52.6
1100    52.6
1101    52.6
Name: prenatal_care, dtype: float64
8.5
1099    9.0
1100    8.5
1101    8.0
Name: grocery_proximity, dtype: float64
1099    9.0
1100    8.5
1101    8.0
Name: grocery_proximity, dtype: float64
11.8
1099    11.8
1100    11.8
1101    11.8
Name: low_birthweight, dtype: float64
1099    11.8
1100    11.8
1101    11.8
Name: low_birthweight, dtype: float64
19.5
1099    19.0
1100    19.5
1101    20.0
Name: public_health_insurance, dtype: float64
1099    19.0
1100    19.5
1101    20.0
Name: public_health_insurance, dtype: float64
69.0
1099    69.0
1100    69.0
1101    69.0
Name: age_of_death, dtype: float64
1099    69.0
1100    69.0
1101    69.0
Name: age_of_death, dtype: float64
24.5
1099    24.5
1100    24.5
1101    24.5
Name: impervious_surface, dtype: float64
1099    24.5
1100    24.5
1101    24.5
Name: impervious_surface, dtype: float64
125.0
1099    125.0
1100    125.0
1101    125.0
Name: water_consumption, dtype: float64
1099    125.0
1100    125.0
1101    125.0
Name: water_consumption, dtype: float64
68.055
1099    68.110
1100    68.055
1101    68.000
Name: neighborhood_school_attendance, dtype: float64
1099    68.110
1100    68.055
1101    68.000
Name: neighborhood_school_attendance, dtype: float64
78.5
1099    78.0
1100    78.5
1101    79.0
Name: highschool_graduation_rate, dtype: float64
1099    78.0
1100    78.5
1101    79.0
Name: highschool_graduation_rate, dtype: float64
41.19220183486239
1099    41.284404
1100    41.192202
1101    41.100000
Name: proficiency_elementary_school, dtype: float64
1099    41.284404
1100    41.192202
1101    41.100000
Name: proficiency_elementary_school, dtype: float64
24.640566037735848
1099    16.981132
1100    24.640566
1101    32.300000
Name: proficiency_middle_school, dtype: float64
1099    16.981132
1100    24.640566
1101    32.300000
Name: proficiency_middle_school, dtype: float64
25.300000000000004
1099    27.5
1100    25.3
1101    23.1
Name: proficiency_high_school, dtype: float64
1099    27.5
1100    25.3
1101    23.1
Name: proficiency_high_school, dtype: float64
16.818098720292504
1099    16.636197
1100    16.818099
1101    17.000000
Name: student_absenteeism, dtype: float64
1099    16.636197
1100    16.818099
1101    17.000000
Name: student_absenteeism, dtype: float64
888.5
1099    1121.0
1100     888.5
1101     656.0
Name: voters_participating, dtype: float64
1099    1121.0
1100     888.5
1101     656.0
Name: voters_participating, dtype: float64
5.0
1099    5.0
1100    5.0
1101    5.0
Name: neighborhood_organizations, dtype: float64
1099    5.0
1100    5.0
1101    5.0
Name: neighborhood_organizations, dtype: float64
42.0
1099    58.0
1100    42.0
1101    26.0
Name: voter_participation, dtype: float64
1099    58.0
1100    42.0
1101    26.0
Name: voter_participation, dtype: float64
13.1
1099    13.1
1100    13.1
1101    13.1
Name: vacant_land, dtype: float64
1099    13.1
1100    13.1
1101    13.1
Name: vacant_land, dtype: float64
3.0
1099    3.0
1100    3.0
1101    3.0
Name: population_density, dtype: float64
1099    3.0
1100    3.0
1101    3.0
Name: population_density, dtype: float64
3764.0
1099    3764.0
1100    3764.0
1101    3764.0
Name: population, dtype: float64
1099    3764.0
1100    3764.0
1101    3764.0
Name: population, dtype: float64
35.0
1099    35.0
1100    35.0
1101    35.0
Name: transit_ridership, dtype: float64
1099    35.0
1100    35.0
1101    35.0
Name: transit_ridership, dtype: float64
1.19
1099    1.19
1100    1.19
1101    1.19
Name: street_connectivity, dtype: float64
1099    1.19
1100    1.19
1101    1.19
Name: street_connectivity, dtype: float64
1.4
1099    1.4
1100    1.4
1101    1.4
Name: bicycle_friendliness, dtype: float64
1099    1.4
1100    1.4
1101    1.4
Name: bicycle_friendliness, dtype: float64
4.53
1102    4.53
Name: Acres, dtype: float64
1102    4.53
Name: Acres, dtype: float64
nan
1102   -1.0
Name: births_to_adolescents, dtype: float64
1102   -1.0
Name: births_to_adolescents, dtype: float64
228.0
1102    228.0
Name: grocery_proximate_units, dtype: float64
1102    228.0
Name: grocery_proximate_units, dtype: float64
nan
1102   -1.0
Name: prenatal_care, dtype: float64
1102   -1.0
Name: prenatal_care, dtype: float64
22.0
1102    22.0
Name: grocery_proximity, dtype: float64
1102    22.0
Name: grocery_proximity, dtype: float64
nan
1102   -1.0
Name: low_birthweight, dtype: float64
1102   -1.0
Name: low_birthweight, dtype: float64
3.0
1102    3.0
Name: public_health_insurance, dtype: float64
1102    3.0
Name: public_health_insurance, dtype: float64
nan
1102   -1.0
Name: age_of_death, dtype: float64
1102   -1.0
Name: age_of_death, dtype: float64
16.8
1102    16.8
Name: impervious_surface, dtype: float64
1102    16.8
Name: impervious_surface, dtype: float64
nan
1102   -1.0
Name: water_consumption, dtype: float64
1102   -1.0
Name: water_consumption, dtype: float64
87.61
1102    87.61
Name: neighborhood_school_attendance, dtype: float64
1102    87.61
Name: neighborhood_school_attendance, dtype: float64
100.0
1102    100.0
Name: highschool_graduation_rate, dtype: float64
1102    100.0
Name: highschool_graduation_rate, dtype: float64
86.8421052631579
1102    86.842105
Name: proficiency_elementary_school, dtype: float64
1102    86.842105
Name: proficiency_elementary_school, dtype: float64
75.51
1102    75.51
Name: proficiency_middle_school, dtype: float64
1102    75.51
Name: proficiency_middle_school, dtype: float64
90.0
1102    90.0
Name: proficiency_high_school, dtype: float64
1102    90.0
Name: proficiency_high_school, dtype: float64
4.31034482758621
1102    4.310345
Name: student_absenteeism, dtype: float64
1102    4.310345
Name: student_absenteeism, dtype: float64
552.0
1102    552.0
Name: voters_participating, dtype: float64
1102    552.0
Name: voters_participating, dtype: float64
4.0
1102    4.0
Name: neighborhood_organizations, dtype: float64
1102    4.0
Name: neighborhood_organizations, dtype: float64
29.0
1102    29.0
Name: voter_participation, dtype: float64
1102    29.0
Name: voter_participation, dtype: float64
3.0
1102    3.0
Name: vacant_land, dtype: float64
1102    3.0
Name: vacant_land, dtype: float64
4.0
1102    4.0
Name: population_density, dtype: float64
1102    4.0
Name: population_density, dtype: float64
2636.0
1102    2636.0
Name: population, dtype: float64
1102    2636.0
Name: population, dtype: float64
2.0
1102    2.0
Name: transit_ridership, dtype: float64
1102    2.0
Name: transit_ridership, dtype: float64
1.02
1102    1.02
Name: street_connectivity, dtype: float64
1102    1.02
Name: street_connectivity, dtype: float64
1.5
1102    1.5
Name: bicycle_friendliness, dtype: float64
1102    1.5
Name: bicycle_friendliness, dtype: float64
18.39
1103    18.39
Name: Acres, dtype: float64
1103    18.39
Name: Acres, dtype: float64
nan
1103   -1.0
Name: births_to_adolescents, dtype: float64
1103   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1103    0.0
Name: grocery_proximate_units, dtype: float64
1103    0.0
Name: grocery_proximate_units, dtype: float64
nan
1103   -1.0
Name: prenatal_care, dtype: float64
1103   -1.0
Name: prenatal_care, dtype: float64
0.0
1103    0.0
Name: grocery_proximity, dtype: float64
1103    0.0
Name: grocery_proximity, dtype: float64
nan
1103   -1.0
Name: low_birthweight, dtype: float64
1103   -1.0
Name: low_birthweight, dtype: float64
nan
1103   -1.0
Name: public_health_insurance, dtype: float64
1103   -1.0
Name: public_health_insurance, dtype: float64
nan
1103   -1.0
Name: age_of_death, dtype: float64
1103   -1.0
Name: age_of_death, dtype: float64
15.8
1103    15.8
Name: impervious_surface, dtype: float64
1103    15.8
Name: impervious_surface, dtype: float64
146.0
1103    146.0
Name: water_consumption, dtype: float64
1103    146.0
Name: water_consumption, dtype: float64
nan
1103   -1.0
Name: neighborhood_school_attendance, dtype: float64
1103   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1103   -1.0
Name: highschool_graduation_rate, dtype: float64
1103   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1103   -1.0
Name: proficiency_elementary_school, dtype: float64
1103   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1103   -1.0
Name: proficiency_middle_school, dtype: float64
1103   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1103   -1.0
Name: proficiency_high_school, dtype: float64
1103   -1.0
Name: proficiency_high_school, dtype: float64
nan
1103   -1.0
Name: student_absenteeism, dtype: float64
1103   -1.0
Name: student_absenteeism, dtype: float64
1881.0
1103    1881.0
Name: voters_participating, dtype: float64
1103    1881.0
Name: voters_participating, dtype: float64
nan

1103   -1.0
Name: neighborhood_organizations, dtype: float64
1103   -1.0
Name: neighborhood_organizations, dtype: float64
64.0
1103    64.0
Name: voter_participation, dtype: float64
1103    64.0
Name: voter_participation, dtype: float64
22.2
1103    22.2
Name: vacant_land, dtype: float64
1103    22.2
Name: vacant_land, dtype: float64
2.0
1103    2.0
Name: population_density, dtype: float64
1103    2.0
Name: population_density, dtype: float64
4939.0
1103    4939.0
Name: population, dtype: float64
1103    4939.0
Name: population, dtype: float64
nan
1103   -1.0
Name: transit_ridership, dtype: float64
1103   -1.0
Name: transit_ridership, dtype: float64
1.11
1103    1.11
Name: street_connectivity, dtype: float64
1103    1.11
Name: street_connectivity, dtype: float64
1.3
1103    1.3
Name: bicycle_friendliness, dtype: float64
1103    1.3
Name: bicycle_friendliness, dtype: float64
4.745
1104    5.70
1105    3.79
Name: Acres, dtype: float64
1104    5.70
1105    3.79
Name: Acres, dtype: float64
nan
1104   -1.0
1105   -1.0
Name: births_to_adolescents, dtype: float64
1104   -1.0
1105   -1.0
Name: births_to_adolescents, dtype: float64
1068.0
1104    1068.0
1105    1068.0
Name: grocery_proximate_units, dtype: float64
1104    1068.0
1105    1068.0
Name: grocery_proximate_units, dtype: float64
nan
1104   -1.0
1105   -1.0
Name: prenatal_care, dtype: float64
1104   -1.0
1105   -1.0
Name: prenatal_care, dtype: float64
89.0
1104    89.0
1105    89.0
Name: grocery_proximity, dtype: float64
1104    89.0
1105    89.0
Name: grocery_proximity, dtype: float64
nan
1104   -1.0
1105   -1.0
Name: low_birthweight, dtype: float64
1104   -1.0
1105   -1.0
Name: low_birthweight, dtype: float64
6.0
1104    6.0
1105    6.0
Name: public_health_insurance, dtype: float64
1104    6.0
1105    6.0
Name: public_health_insurance, dtype: float64
nan
1104   -1.0
1105   -1.0
Name: age_of_death, dtype: float64
1104   -1.0
1105   -1.0
Name: age_of_death, dtype: float64
22.3
1104    22.3
1105    22.3
Name: impervious_surface, dtype: float64
1104    22.3
1105    22.3
Name: impervious_surface, dtype: float64
nan
1104   -1.0
1105   -1.0
Name: water_consumption, dtype: float64
1104   -1.0
1105   -1.0
Name: water_consumption, dtype: float64
85.49
1104    85.49
1105    85.49
Name: neighborhood_school_attendance, dtype: float64
1104    85.49
1105    85.49
Name: neighborhood_school_attendance, dtype: float64
100.0
1104    100.0
1105    100.0
Name: highschool_graduation_rate, dtype: float64
1104    100.0
1105    100.0
Name: highschool_graduation_rate, dtype: float64
70.8333333333333
1104    70.833333
1105    70.833333
Name: proficiency_elementary_school, dtype: float64
1104    70.833333
1105    70.833333
Name: proficiency_elementary_school, dtype: float64
86.44
1104    86.44
1105    86.44
Name: proficiency_middle_school, dtype: float64
1104    86.44
1105    86.44
Name: proficiency_middle_school, dtype: float64
81.25
1104    81.25
1105    81.25
Name: proficiency_high_school, dtype: float64
1104    81.25
1105    81.25
Name: proficiency_high_school, dtype: float64
5.34351145038168
1104    5.343511
1105    5.343511
Name: student_absenteeism, dtype: float64
1104    5.343511
1105    5.343511
Name: student_absenteeism, dtype: float64
428.0
1104    428.0
1105    428.0
Name: voters_participating, dtype: float64
1104    428.0
1105    428.0
Name: voters_participating, dtype: float64
1.0
1104    1.0
1105    1.0
Name: neighborhood_organizations, dtype: float64
1104    1.0
1105    1.0
Name: neighborhood_organizations, dtype: float64
27.0
1104    27.0
1105    27.0
Name: voter_participation, dtype: float64
1104    27.0
1105    27.0
Name: voter_participation, dtype: float64
3.0
1104    3.0
1105    3.0
Name: vacant_land, dtype: float64
1104    3.0
1105    3.0
Name: vacant_land, dtype: float64
6.0
1104    6.0
1105    6.0
Name: population_density, dtype: float64
1104    6.0
1105    6.0
Name: population_density, dtype: float64
2791.0
1104    2791.0
1105    2791.0
Name: population, dtype: float64
1104    2791.0
1105    2791.0
Name: population, dtype: float64
9.0
1104    9.0
1105    9.0
Name: transit_ridership, dtype: float64
1104    9.0
1105    9.0
Name: transit_ridership, dtype: float64
1.13
1104    1.13
1105    1.13
Name: street_connectivity, dtype: float64
1104    1.13
1105    1.13
Name: street_connectivity, dtype: float64
1.5
1104    1.5
1105    1.5
Name: bicycle_friendliness, dtype: float64
1104    1.5
1105    1.5
Name: bicycle_friendliness, dtype: float64
7.885
1106     2.75
1107    13.02
Name: Acres, dtype: float64
1106     2.75
1107    13.02
Name: Acres, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: births_to_adolescents, dtype: float64
1106   -1.0
1107   -1.0
Name: births_to_adolescents, dtype: float64
4.0
1106    4.0
1107    4.0
Name: grocery_proximate_units, dtype: float64
1106    4.0
1107    4.0
Name: grocery_proximate_units, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: prenatal_care, dtype: float64
1106   -1.0
1107   -1.0
Name: prenatal_care, dtype: float64
1.0
1106    1.0
1107    1.0
Name: grocery_proximity, dtype: float64
1106    1.0
1107    1.0
Name: grocery_proximity, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: low_birthweight, dtype: float64
1106   -1.0
1107   -1.0
Name: low_birthweight, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: public_health_insurance, dtype: float64
1106   -1.0
1107   -1.0
Name: public_health_insurance, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: age_of_death, dtype: float64
1106   -1.0
1107   -1.0
Name: age_of_death, dtype: float64
7.3
1106    7.3
1107    7.3
Name: impervious_surface, dtype: float64
1106    7.3
1107    7.3
Name: impervious_surface, dtype: float64
139.0
1106    139.0
1107    139.0
Name: water_consumption, dtype: float64
1106    139.0
1107    139.0
Name: water_consumption, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: neighborhood_school_attendance, dtype: float64
1106   -1.0
1107   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: highschool_graduation_rate, dtype: float64
1106   -1.0
1107   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: proficiency_elementary_school, dtype: float64
1106   -1.0
1107   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: proficiency_middle_school, dtype: float64
1106   -1.0
1107   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: proficiency_high_school, dtype: float64
1106   -1.0
1107   -1.0
Name: proficiency_high_school, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: student_absenteeism, dtype: float64
1106   -1.0
1107   -1.0
Name: student_absenteeism, dtype: float64
676.0
1106    676.0
1107    676.0
Name: voters_participating, dtype: float64
1106    676.0
1107    676.0
Name: voters_participating, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: neighborhood_organizations, dtype: float64
1106   -1.0
1107   -1.0
Name: neighborhood_organizations, dtype: float64
59.0
1106    59.0
1107    59.0
Name: voter_participation, dtype: float64
1106    59.0
1107    59.0
Name: voter_participation, dtype: float64
26.5
1106    26.5
1107    26.5
Name: vacant_land, dtype: float64
1106    26.5
1107    26.5
Name: vacant_land, dtype: float64
3.0
1106    3.0
1107    3.0
Name: population_density, dtype: float64
1106    3.0
1107    3.0
Name: population_density, dtype: float64
1971.0
1106    1971.0
1107    1971.0
Name: population, dtype: float64
1106    1971.0
1107    1971.0
Name: population, dtype: float64
nan
1106   -1.0
1107   -1.0
Name: transit_ridership, dtype: float64
1106   -1.0
1107   -1.0
Name: transit_ridership, dtype: float64
1.07
1106    1.07
1107    1.07
Name: street_connectivity, dtype: float64
1106    1.07
1107    1.07
Name: street_connectivity, dtype: float64
1.1
1106    1.1
1107    1.1
Name: bicycle_friendliness, dtype: float64
1106    1.1
1107    1.1
Name: bicycle_friendliness, dtype: float64
3.453333333333333
1108    1.680000
1109    7.000000
1110    3.453333
1111    1.680000
Name: Acres, dtype: float64
1108    1.680000
1109    7.000000
1110    3.453333
1111    1.680000
Name: Acres, dtype: float64
2.625
1108    3.5
1109    0.0
1110    3.5
1111    3.5
Name: births_to_adolescents, dtype: float64
1108    3.5
1109    0.0
1110    3.5
1111    3.5
Name: births_to_adolescents, dtype: float64
0.0
1108    0.0
1109    0.0
1110    0.0
1111    0.0
Name: grocery_proximate_units, dtype: float64
1108    0.0
1109    0.0
1110    0.0
1111    0.0
Name: grocery_proximate_units, dtype: float64
70.75
1108    68.4
1109    77.8
1110    68.4
1111    68.4
Name: prenatal_care, dtype: float64
1108    68.4
1109    77.8
1110    68.4
1111    68.4
Name: prenatal_care, dtype: float64
0.0
1108    0.0
1109    0.0
1110    0.0
1111    0.0
Name: grocery_proximity, dtype: float64
1108    0.0
1109    0.0
1110    0.0
1111    0.0
Name: grocery_proximity, dtype: float64
4.95
1108    3.5
1109    9.3
1110    3.5
1111    3.5
Name: low_birthweight, dtype: float64
1108    3.5
1109    9.3
1110    3.5
1111    3.5
Name: low_birthweight, dtype: float64
7.0
1108    7.0
1109    7.0
1110    7.0
1111    7.0
Name: public_health_insurance, dtype: float64
1108    7.0
1109    7.0
1110    7.0
1111    7.0
Name: public_health_insurance, dtype: float64
67.0
1108    68.0
1109    64.0
1110    68.0
1111    68.0
Name: age_of_death, dtype: float64
1108    68.0
1109    64.0
1110    68.0
1111    68.0
Name: age_of_death, dtype: float64
12.2
1108    12.2
1109    12.2
1110    12.2
1111    12.2
Name: impervious_surface, dtype: float64
1108    12.2
1109    12.2
1110    12.2
1111    12.2
Name: impervious_surface, dtype: float64
151.25
1108    150.0
1109    155.0
1110    150.0
1111    150.0
Name: water_consumption, dtype: float64
1108    150.0
1109    155.0
1110    150.0
1111    150.0
Name: water_consumption, dtype: float64
79.5675
1108    79.49
1109    79.80
1110    79.49
1111    79.49
Name: neighborhood_school_attendance, dtype: float64
1108    79.49
1109    79.80
1110    79.49
1111    79.49
Name: neighborhood_school_attendance, dtype: float64
88.5
1108    87.0
1109    93.0
1110    87.0
1111    87.0
Name: highschool_graduation_rate, dtype: float64
1108    87.0
1109    93.0
1110    87.0
1111    87.0
Name: highschool_graduation_rate, dtype: float64
61.0146511627907
1108    58.139535
1109    69.640000
1110    58.139535
1111    58.139535
Name: proficiency_elementary_school, dtype: float64
1108    58.139535
1109    69.640000
1110    58.139535
1111    58.139535
Name: proficiency_elementary_school, dtype: float64
41.84931506849314
1108    42.465753
1109    40.000000
1110    42.465753
1111    42.465753
Name: proficiency_middle_school, dtype: float64
1108    42.465753
1109    40.000000
1110    42.465753
1111    42.465753
Name: proficiency_middle_school, dtype: float64
24.950000000000003
1108    28.0
1109    15.8
1110    28.0
1111    28.0
Name: proficiency_high_school, dtype: float64
1108    28.0
1109    15.8
1110    28.0
1111    28.0
Name: proficiency_high_school, dtype: float64
6.592592592592592
1108    6.790123
1109    6.000000
1110    6.790123
1111    6.790123
Name: student_absenteeism, dtype: float64
1108    6.790123
1109    6.000000
1110    6.790123
1111    6.790123
Name: student_absenteeism, dtype: float64
689.75
1108     585.0
1109    1004.0
1110     585.0
1111     585.0
Name: voters_participating, dtype: float64
1108     585.0
1109    1004.0
1110     585.0
1111     585.0
Name: voters_participating, dtype: float64
1.0
1108    1.0
1109    1.0
1110    1.0
1111    1.0
Name: neighborhood_organizations, dtype: float64
1108    1.0
1109    1.0
1110    1.0
1111    1.0
Name: neighborhood_organizations, dtype: float64
61.75
1108    56.0
1109    79.0
1110    56.0
1111    56.0
Name: voter_participation, dtype: float64
1108    56.0
1109    79.0
1110    56.0
1111    56.0
Name: voter_participation, dtype: float64
12.2
1108    12.2
1109    12.2
1110    12.2
1111    12.2
Name: vacant_land, dtype: float64
1108    12.2
1109    12.2
1110    12.2
1111    12.2
Name: vacant_land, dtype: float64
5.0
1108    5.0
1109    5.0
1110    5.0
1111    5.0
Name: population_density, dtype: float64
1108    5.0
1109    5.0
1110    5.0
1111    5.0
Name: population_density, dtype: float64

1971.0
1108    1971.0
1109    1971.0
1110    1971.0
1111    1971.0
Name: population, dtype: float64
1108    1971.0
1109    1971.0
1110    1971.0
1111    1971.0
Name: population, dtype: float64
nan
1108   -1.0
1109   -1.0
1110   -1.0
1111   -1.0
Name: transit_ridership, dtype: float64
1108   -1.0
1109   -1.0
1110   -1.0
1111   -1.0
Name: transit_ridership, dtype: float64
1.02
1108    1.02
1109    1.02
1110    1.02
1111    1.02
Name: street_connectivity, dtype: float64
1108    1.02
1109    1.02
1110    1.02
1111    1.02
Name: street_connectivity, dtype: float64
1.2
1108    1.2
1109    1.2
1110    1.2
1111    1.2
Name: bicycle_friendliness, dtype: float64
1108    1.2
1109    1.2
1110    1.2
1111    1.2
Name: bicycle_friendliness, dtype: float64
21.92
1112    21.92
Name: Acres, dtype: float64
1112    21.92
Name: Acres, dtype: float64
nan
1112   -1.0
Name: births_to_adolescents, dtype: float64
1112   -1.0
Name: births_to_adolescents, dtype: float64
nan
1112   -1.0
Name: grocery_proximate_units, dtype: float64
1112   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1112   -1.0
Name: prenatal_care, dtype: float64
1112   -1.0
Name: prenatal_care, dtype: float64
nan
1112   -1.0
Name: grocery_proximity, dtype: float64
1112   -1.0
Name: grocery_proximity, dtype: float64
nan
1112   -1.0
Name: low_birthweight, dtype: float64
1112   -1.0
Name: low_birthweight, dtype: float64
nan
1112   -1.0
Name: public_health_insurance, dtype: float64
1112   -1.0
Name: public_health_insurance, dtype: float64
nan
1112   -1.0
Name: age_of_death, dtype: float64
1112   -1.0
Name: age_of_death, dtype: float64
nan
1112   -1.0
Name: impervious_surface, dtype: float64
1112   -1.0
Name: impervious_surface, dtype: float64
nan
1112   -1.0
Name: water_consumption, dtype: float64
1112   -1.0
Name: water_consumption, dtype: float64
nan
1112   -1.0
Name: neighborhood_school_attendance, dtype: float64
1112   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1112   -1.0
Name: highschool_graduation_rate, dtype: float64
1112   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1112   -1.0
Name: proficiency_elementary_school, dtype: float64
1112   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1112   -1.0
Name: proficiency_middle_school, dtype: float64
1112   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1112   -1.0
Name: proficiency_high_school, dtype: float64
1112   -1.0
Name: proficiency_high_school, dtype: float64
nan
1112   -1.0
Name: student_absenteeism, dtype: float64
1112   -1.0
Name: student_absenteeism, dtype: float64
nan
1112   -1.0
Name: voters_participating, dtype: float64
1112   -1.0
Name: voters_participating, dtype: float64
nan
1112   -1.0
Name: neighborhood_organizations, dtype: float64
1112   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1112   -1.0
Name: voter_participation, dtype: float64
1112   -1.0
Name: voter_participation, dtype: float64
nan
1112   -1.0
Name: vacant_land, dtype: float64
1112   -1.0
Name: vacant_land, dtype: float64
nan
1112   -1.0
Name: population_density, dtype: float64
1112   -1.0
Name: population_density, dtype: float64
nan
1112   -1.0
Name: population, dtype: float64
1112   -1.0
Name: population, dtype: float64
nan
1112   -1.0
Name: transit_ridership, dtype: float64
1112   -1.0
Name: transit_ridership, dtype: float64
nan
1112   -1.0
Name: street_connectivity, dtype: float64
1112   -1.0
Name: street_connectivity, dtype: float64
nan
1112   -1.0
Name: bicycle_friendliness, dtype: float64
1112   -1.0
Name: bicycle_friendliness, dtype: float64
10.13
1113    12.33
1114    12.33
1115     5.73
Name: Acres, dtype: float64
1113    12.33
1114    12.33
1115     5.73
Name: Acres, dtype: float64
0.0
1113    0.0
1114    0.0
1115    0.0
Name: births_to_adolescents, dtype: float64
1113    0.0
1114    0.0
1115    0.0
Name: births_to_adolescents, dtype: float64
375.0
1113    375.0
1114    375.0
1115    375.0
Name: grocery_proximate_units, dtype: float64
1113    375.0
1114    375.0
1115    375.0
Name: grocery_proximate_units, dtype: float64
57.300000000000004
1113    58.7
1114    58.7
1115    54.5
Name: prenatal_care, dtype: float64
1113    58.7
1114    58.7
1115    54.5
Name: prenatal_care, dtype: float64
44.0
1113    44.0
1114    44.0
1115    44.0
Name: grocery_proximity, dtype: float64
1113    44.0
1114    44.0
1115    44.0
Name: grocery_proximity, dtype: float64
11.1
1113     8.7
1114     8.7
1115    15.9
Name: low_birthweight, dtype: float64
1113     8.7
1114     8.7
1115    15.9
Name: low_birthweight, dtype: float64
8.0
1113    8.0
1114    8.0
1115    8.0
Name: public_health_insurance, dtype: float64
1113    8.0
1114    8.0
1115    8.0
Name: public_health_insurance, dtype: float64
62.0
1113    60.0
1114    60.0
1115    66.0
Name: age_of_death, dtype: float64
1113    60.0
1114    60.0
1115    66.0
Name: age_of_death, dtype: float64
24.8
1113    24.8
1114    24.8
1115    24.8
Name: impervious_surface, dtype: float64
1113    24.8
1114    24.8
1115    24.8
Name: impervious_surface, dtype: float64
141.33333333333334
1113    141.0
1114    141.0
1115    142.0
Name: water_consumption, dtype: float64
1113    141.0
1114    141.0
1115    142.0
Name: water_consumption, dtype: float64
83.47666666666667
1113    81.70
1114    81.70
1115    87.03
Name: neighborhood_school_attendance, dtype: float64
1113    81.70
1114    81.70
1115    87.03
Name: neighborhood_school_attendance, dtype: float64
96.66666666666667
1113    100.0
1114    100.0
1115     90.0
Name: highschool_graduation_rate, dtype: float64
1113    100.0
1114    100.0
1115     90.0
Name: highschool_graduation_rate, dtype: float64
41.73904761904762
1113    41.180000
1114    41.180000
1115    42.857143
Name: proficiency_elementary_school, dtype: float64
1113    41.180000
1114    41.180000
1115    42.857143
Name: proficiency_elementary_school, dtype: float64
36.37823129251701
1113    36.200000
1114    36.200000
1115    36.734694
Name: proficiency_middle_school, dtype: float64
1113    36.200000
1114    36.200000
1115    36.734694
Name: proficiency_middle_school, dtype: float64
50.0
1113    50.0
1114    50.0
1115    50.0
Name: proficiency_high_school, dtype: float64
1113    50.0
1114    50.0
1115    50.0
Name: proficiency_high_school, dtype: float64
5.702199661590526
1113    5.000000
1114    5.000000
1115    7.106599
Name: student_absenteeism, dtype: float64
1113    5.000000
1114    5.000000
1115    7.106599
Name: student_absenteeism, dtype: float64
515.6666666666666
1113    642.0
1114    642.0
1115    263.0
Name: voters_participating, dtype: float64
1113    642.0
1114    642.0
1115    263.0
Name: voters_participating, dtype: float64
0.0
1113    0.0
1114    0.0
1115    0.0
Name: neighborhood_organizations, dtype: float64
1113    0.0
1114    0.0
1115    0.0
Name: neighborhood_organizations, dtype: float64
61.0
1113    71.0
1114    71.0
1115    41.0
Name: voter_participation, dtype: float64
1113    71.0
1114    71.0
1115    41.0
Name: voter_participation, dtype: float64
14.9
1113    14.9
1114    14.9
1115    14.9
Name: vacant_land, dtype: float64
1113    14.9
1114    14.9
1115    14.9
Name: vacant_land, dtype: float64
9.0
1113    9.0
1114    9.0
1115    9.0
Name: population_density, dtype: float64
1113    9.0
1114    9.0
1115    9.0
Name: population_density, dtype: float64
1602.0
1113    1602.0
1114    1602.0
1115    1602.0
Name: population, dtype: float64
1113    1602.0
1114    1602.0
1115    1602.0
Name: population, dtype: float64
nan
1113   -1.0
1114   -1.0
1115   -1.0
Name: transit_ridership, dtype: float64
1113   -1.0
1114   -1.0
1115   -1.0
Name: transit_ridership, dtype: float64
1.16
1113    1.16
1114    1.16
1115    1.16
Name: street_connectivity, dtype: float64
1113    1.16
1114    1.16
1115    1.16
Name: street_connectivity, dtype: float64
1.3
1113    1.3
1114    1.3
1115    1.3
Name: bicycle_friendliness, dtype: float64
1113    1.3
1114    1.3
1115    1.3
Name: bicycle_friendliness, dtype: float64
21.760909090909095
1116    14.50
1117     2.80
1118    95.67
1119    39.70
1120    14.50
Name: Acres, dtype: float64
1116    14.50
1117     2.80
1118    95.67
1119    39.70
1120    14.50
1121    39.70
1122     3.80
1123     2.80
1124     2.80
1125    14.50
1126     8.60
Name: Acres, dtype: float64
4.2
1116    4.2
1117    4.2
1118    4.2
1119    4.2
1120    4.2
Name: births_to_adolescents, dtype: float64
1116    4.2
1117    4.2
1118    4.2
1119    4.2
1120    4.2
1121    4.2
1122    4.2
1123    4.2
1124    4.2
1125    4.2
1126    4.2
Name: births_to_adolescents, dtype: float64
0.2
1116    0.0
1117    0.0
1118    1.0
1119    0.2
1120    0.0
Name: grocery_proximate_units, dtype: float64
1116    0.0
1117    0.0
1118    1.0
1119    0.2
1120    0.0
1121    0.0
1122    0.0
1123    0.0
1124    0.0
1125    0.0
1126    1.0
Name: grocery_proximate_units, dtype: float64
53.5
1116    53.5
1117    53.5
1118    53.5
1119    53.5
1120    53.5
Name: prenatal_care, dtype: float64
1116    53.5
1117    53.5
1118    53.5
1119    53.5
1120    53.5
1121    53.5
1122    53.5
1123    53.5
1124    53.5
1125    53.5
1126    53.5
Name: prenatal_care, dtype: float64
0.0
1116    0.0
1117    0.0
1118    0.0
1119    0.0
1120    0.0
Name: grocery_proximity, dtype: float64
1116    0.0
1117    0.0
1118    0.0
1119    0.0
1120    0.0
1121    0.0
1122    0.0
1123    0.0
1124    0.0
1125    0.0
1126    0.0

Name: grocery_proximity, dtype: float64
11.3
1116    11.3
1117    11.3
1118    11.3
1119    11.3
1120    11.3
Name: low_birthweight, dtype: float64
1116    11.3
1117    11.3
1118    11.3
1119    11.3
1120    11.3
1121    11.3
1122    11.3
1123    11.3
1124    11.3
1125    11.3
1126    11.3
Name: low_birthweight, dtype: float64
57.6
1116    57.6
1117    61.0
1118    57.6
1119    57.6
1120    57.6
Name: public_health_insurance, dtype: float64
1116    57.6
1117    61.0
1118    57.6
1119    57.6
1120    57.6
1121    44.0
1122    61.0
1123    61.0
1124    61.0
1125    57.6
1126    57.6
Name: public_health_insurance, dtype: float64
54.0
1116    54.0
1117    54.0
1118    54.0
1119    54.0
1120    54.0
Name: age_of_death, dtype: float64
1116    54.0
1117    54.0
1118    54.0
1119    54.0
1120    54.0
1121    54.0
1122    54.0
1123    54.0
1124    54.0
1125    54.0
1126    54.0
Name: age_of_death, dtype: float64
25.74
1116    28.00
1117    24.70
1118    24.90
1119    25.74
1120    28.00
Name: impervious_surface, dtype: float64
1116    28.00
1117    24.70
1118    24.90
1119    25.74
1120    28.00
1121    24.80
1122    24.70
1123    24.70
1124    24.70
1125    28.00
1126    24.90
Name: impervious_surface, dtype: float64
143.8
1116    141.0
1117    143.8
1118    148.0
1119    143.8
1120    141.0
Name: water_consumption, dtype: float64
1116    141.0
1117    143.8
1118    148.0
1119    143.8
1120    141.0
1121    143.8
1122    143.8
1123    143.8
1124    143.8
1125    141.0
1126    148.0
Name: water_consumption, dtype: float64
81.2
1116    81.2
1117    82.3
1118    78.1
1119    81.2
1120    81.2
Name: neighborhood_school_attendance, dtype: float64
1116    81.2
1117    82.3
1118    78.1
1119    81.2
1120    81.2
1121    83.0
1122    82.3
1123    82.3
1124    82.3
1125    81.2
1126    78.1
Name: neighborhood_school_attendance, dtype: float64
74.71428571428571
1116    74.714286
1117    73.000000
1118    69.000000
1119    74.714286
1120    74.714286
Name: highschool_graduation_rate, dtype: float64
1116    74.714286
1117    73.000000
1118    69.000000
1119    74.714286
1120    74.714286
1121    93.000000
1122    73.000000
1123    73.000000
1124    73.000000
1125    74.714286
1126    69.000000
Name: highschool_graduation_rate, dtype: float64
31.626365914786977
1116    31.626366
1117    32.456140
1118    31.580000
1119    31.626366
1120    31.626366
Name: proficiency_elementary_school, dtype: float64
1116    31.626366
1117    32.456140
1118    31.580000
1119    31.626366
1120    31.626366
1121    28.400000
1122    32.456140
1123    32.456140
1124    32.456140
1125    31.626366
1126    31.580000
Name: proficiency_elementary_school, dtype: float64
22.648571428571433
1116    22.648571
1117    20.510000
1118    26.900000
1119    22.648571
1120    22.648571
Name: proficiency_middle_school, dtype: float64
1116    22.648571
1117    20.510000
1118    26.900000
1119    22.648571
1120    22.648571
1121    22.700000
1122    20.510000
1123    20.510000
1124    20.510000
1125    22.648571
1126    26.900000
Name: proficiency_middle_school, dtype: float64
21.22857142857143
1116    21.228571
1117    25.000000
1118    14.300000
1119    21.228571
1120    21.228571
Name: proficiency_high_school, dtype: float64
1116    21.228571
1117    25.000000
1118    14.300000
1119    21.228571
1120    21.228571
1121    20.000000
1122    25.000000
1123    25.000000
1124    25.000000
1125    21.228571
1126    14.300000
Name: proficiency_high_school, dtype: float64
16.266999376169654
1116    16.266999
1117    17.467249
1118    14.000000
1119    16.266999
1120    16.266999
Name: student_absenteeism, dtype: float64
1116    16.266999
1117    17.467249
1118    14.000000
1119    16.266999
1120    16.266999
1121    16.000000
1122    17.467249
1123    17.467249
1124    17.467249
1125    16.266999
1126    14.000000
Name: student_absenteeism, dtype: float64
200.2
1116    271.0
1117     55.0
1118    447.0
1119    200.2
1120    271.0
Name: voters_participating, dtype: float64
1116    271.0
1117     55.0
1118    447.0
1119    200.2
1120    271.0
1121     75.0
1122     55.0
1123     55.0
1124     55.0
1125    271.0
1126    447.0
Name: voters_participating, dtype: float64
0.0
1116    0.0
1117    0.0
1118    0.0
1119    0.0
1120    0.0
Name: neighborhood_organizations, dtype: float64
1116    0.0
1117    0.0
1118    0.0
1119    0.0
1120    0.0
1121    0.0
1122    0.0
1123    0.0
1124    0.0
1125    0.0
1126    0.0
Name: neighborhood_organizations, dtype: float64
32.3
1116    46.0
1117    10.0
1118    68.0
1119    32.3
1120    46.0
Name: voter_participation, dtype: float64
1116    46.0
1117    10.0
1118    68.0
1119    32.3
1120    46.0
1121     9.0
1122    10.0
1123    10.0
1124    10.0
1125    46.0
1126    68.0
Name: voter_participation, dtype: float64
11.299999999999999
1116    11.3
1117    11.3
1118    11.3
1119    11.3
1120    11.3
Name: vacant_land, dtype: float64
1116    11.3
1117    11.3
1118    11.3
1119    11.3
1120    11.3
1121    11.3
1122    11.3
1123    11.3
1124    11.3
1125    11.3
1126    11.3
Name: vacant_land, dtype: float64
1.0
1116    1.0
1117    1.0
1118    1.0
1119    1.0
1120    1.0
Name: population_density, dtype: float64
1116    1.0
1117    1.0
1118    1.0
1119    1.0
1120    1.0
1121    1.0
1122    1.0
1123    1.0
1124    1.0
1125    1.0
1126    1.0
Name: population_density, dtype: float64
1279.8
1116    1286.0
1117    1276.0
1118    1280.0
1119    1279.8
1120    1286.0
Name: population, dtype: float64
1116    1286.0
1117    1276.0
1118    1280.0
1119    1279.8
1120    1286.0
1121    1276.0
1122    1276.0
1123    1276.0
1124    1276.0
1125    1286.0
1126    1280.0
Name: population, dtype: float64
20.0
1116    20.0
1117    20.0
1118    20.0
1119    20.0
1120    20.0
Name: transit_ridership, dtype: float64
1116    20.0
1117    20.0
1118    20.0
1119    20.0
1120    20.0
1121    20.0
1122    20.0
1123    20.0
1124    20.0
1125    20.0
1126    20.0
Name: transit_ridership, dtype: float64
1.016
1116    1.000
1117    1.040
1118    1.000
1119    1.016
1120    1.000
Name: street_connectivity, dtype: float64
1116    1.000
1117    1.040
1118    1.000
1119    1.016
1120    1.000
1121    1.000
1122    1.040
1123    1.040
1124    1.040
1125    1.000
1126    1.000
Name: street_connectivity, dtype: float64
1.4600000000000002
1116    1.40
1117    1.50
1118    1.50
1119    1.46
1120    1.40
Name: bicycle_friendliness, dtype: float64
1116    1.40
1117    1.50
1118    1.50
1119    1.46
1120    1.40
1121    1.40
1122    1.50
1123    1.50
1124    1.50
1125    1.40
1126    1.50
Name: bicycle_friendliness, dtype: float64
12.99
1127    12.99
1128    12.99
Name: Acres, dtype: float64
1127    12.99
1128    12.99
Name: Acres, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: births_to_adolescents, dtype: float64
1127   -1.0
1128   -1.0
Name: births_to_adolescents, dtype: float64
481.0
1127    481.0
1128    481.0
Name: grocery_proximate_units, dtype: float64
1127    481.0
1128    481.0
Name: grocery_proximate_units, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: prenatal_care, dtype: float64
1127   -1.0
1128   -1.0
Name: prenatal_care, dtype: float64
100.0
1127    100.0
1128    100.0
Name: grocery_proximity, dtype: float64
1127    100.0
1128    100.0
Name: grocery_proximity, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: low_birthweight, dtype: float64
1127   -1.0
1128   -1.0
Name: low_birthweight, dtype: float64
18.0
1127    18.0
1128    18.0
Name: public_health_insurance, dtype: float64
1127    18.0
1128    18.0
Name: public_health_insurance, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: age_of_death, dtype: float64
1127   -1.0
1128   -1.0
Name: age_of_death, dtype: float64
41.2
1127    41.2
1128    41.2
Name: impervious_surface, dtype: float64
1127    41.2
1128    41.2
Name: impervious_surface, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: water_consumption, dtype: float64
1127   -1.0
1128   -1.0
Name: water_consumption, dtype: float64
86.25
1127    86.25
1128    86.25
Name: neighborhood_school_attendance, dtype: float64
1127    86.25
1128    86.25
Name: neighborhood_school_attendance, dtype: float64
85.0
1127    85.0
1128    85.0
Name: highschool_graduation_rate, dtype: float64
1127    85.0
1128    85.0
Name: highschool_graduation_rate, dtype: float64
28.571428571428598
1127    28.571429
1128    28.571429
Name: proficiency_elementary_school, dtype: float64
1127    28.571429
1128    28.571429
Name: proficiency_elementary_school, dtype: float64
22.92
1127    22.92
1128    22.92
Name: proficiency_middle_school, dtype: float64
1127    22.92
1128    22.92
Name: proficiency_middle_school, dtype: float64
31.58
1127    31.58
1128    31.58
Name: proficiency_high_school, dtype: float64
1127    31.58
1128    31.58
Name: proficiency_high_school, dtype: float64
11.309523809523801
1127    11.309524
1128    11.309524
Name: student_absenteeism, dtype: float64
1127    11.309524
1128    11.309524
Name: student_absenteeism, dtype: float64
44.0
1127    44.0
1128    44.0
Name: voters_participating, dtype: float64
1127    44.0
1128    44.0
Name: voters_participating, dtype: float64
0.0
1127    0.0
1128    0.0
Name: neighborhood_organizations, dtype: float64
1127    0.0
1128    0.0
Name: neighborhood_organizations, dtype: float64
9.0
1127    9.0
1128    9.0
Name: voter_participation, dtype: float64
1127    9.0
1128    9.0
Name: voter_participation, dtype: float64
10.0
1127    10.0
1128    10.0
Name: vacant_land, dtype: float64
1127    10.0
1128    10.0
Name: vacant_land, dtype: float64
6.0
1127    6.0
1128    6.0
Name: population_density, dtype: float64
1127    6.0
1128    6.0
Name: population_density, dtype: float64
1067.0
1127    1067.0
1128    1067.0
Name: population, dtype: float64
1127    1067.0
1128    1067.0
Name: population, dtype: float64
nan
1127   -1.0
1128   -1.0
Name: transit_ridership, dtype: float64
1127   -1.0
1128   -1.0
Name: transit_ridership, dtype: float64
1.12
1127    1.12
1128    1.12
Name: street_connectivity, dtype: float64
1127    1.12
1128    1.12
Name: street_connectivity, dtype: float64
1.2
1127    1.2
1128    1.2
Name: bicycle_friendliness, dtype: float64
1127    1.2
1128    1.2
Name: bicycle_friendliness, dtype: float64
0.66
1129    0.66
Name: Acres, dtype: float64
1129    0.66
Name: Acres, dtype: float64
nan
1129   -1.0
Name: births_to_adolescents, dtype: float64
1129   -1.0
Name: births_to_adolescents, dtype: float64
nan
1129   -1.0
Name: grocery_proximate_units, dtype: float64
1129   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1129   -1.0
Name: prenatal_care, dtype: float64
1129   -1.0
Name: prenatal_care, dtype: float64
nan
1129   -1.0
Name: grocery_proximity, dtype: float64
1129   -1.0
Name: grocery_proximity, dtype: float64
nan
1129   -1.0
Name: low_birthweight, dtype: float64
1129   -1.0
Name: low_birthweight, dtype: float64
nan
1129   -1.0
Name: public_health_insurance, dtype: float64
1129   -1.0
Name: public_health_insurance, dtype: float64
nan
1129   -1.0
Name: age_of_death, dtype: float64
1129   -1.0
Name: age_of_death, dtype: float64
nan
1129   -1.0

Name: impervious_surface, dtype: float64
1129   -1.0
Name: impervious_surface, dtype: float64
nan
1129   -1.0
Name: water_consumption, dtype: float64
1129   -1.0
Name: water_consumption, dtype: float64
nan
1129   -1.0
Name: neighborhood_school_attendance, dtype: float64
1129   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1129   -1.0
Name: highschool_graduation_rate, dtype: float64
1129   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1129   -1.0
Name: proficiency_elementary_school, dtype: float64
1129   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1129   -1.0
Name: proficiency_middle_school, dtype: float64
1129   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1129   -1.0
Name: proficiency_high_school, dtype: float64
1129   -1.0
Name: proficiency_high_school, dtype: float64
nan
1129   -1.0
Name: student_absenteeism, dtype: float64
1129   -1.0
Name: student_absenteeism, dtype: float64
nan
1129   -1.0
Name: voters_participating, dtype: float64
1129   -1.0
Name: voters_participating, dtype: float64
nan
1129   -1.0
Name: neighborhood_organizations, dtype: float64
1129   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1129   -1.0
Name: voter_participation, dtype: float64
1129   -1.0
Name: voter_participation, dtype: float64
nan
1129   -1.0
Name: vacant_land, dtype: float64
1129   -1.0
Name: vacant_land, dtype: float64
nan
1129   -1.0
Name: population_density, dtype: float64
1129   -1.0
Name: population_density, dtype: float64
nan
1129   -1.0
Name: population, dtype: float64
1129   -1.0
Name: population, dtype: float64
nan
1129   -1.0
Name: transit_ridership, dtype: float64
1129   -1.0
Name: transit_ridership, dtype: float64
nan
1129   -1.0
Name: street_connectivity, dtype: float64
1129   -1.0
Name: street_connectivity, dtype: float64
nan
1129   -1.0
Name: bicycle_friendliness, dtype: float64
1129   -1.0
Name: bicycle_friendliness, dtype: float64
50.17
1130    38.30
1131    47.49
1132    38.30
1133    76.59
Name: Acres, dtype: float64
1130    38.30
1131    47.49
1132    38.30
1133    76.59
Name: Acres, dtype: float64
0.0
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: births_to_adolescents, dtype: float64
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: births_to_adolescents, dtype: float64
0.0
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: grocery_proximate_units, dtype: float64
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: grocery_proximate_units, dtype: float64
85.7
1130    85.7
1131    85.7
1132    85.7
1133    85.7
Name: prenatal_care, dtype: float64
1130    85.7
1131    85.7
1132    85.7
1133    85.7
Name: prenatal_care, dtype: float64
0.0
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: grocery_proximity, dtype: float64
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: grocery_proximity, dtype: float64
0.0
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: low_birthweight, dtype: float64
1130    0.0
1131    0.0
1132    0.0
1133    0.0
Name: low_birthweight, dtype: float64
1.0
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: public_health_insurance, dtype: float64
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: public_health_insurance, dtype: float64
83.0
1130    83.0
1131    83.0
1132    83.0
1133    83.0
Name: age_of_death, dtype: float64
1130    83.0
1131    83.0
1132    83.0
1133    83.0
Name: age_of_death, dtype: float64
5.425000000000001
1130    4.7
1131    4.7
1132    4.7
1133    7.6
Name: impervious_surface, dtype: float64
1130    4.7
1131    4.7
1132    4.7
1133    7.6
Name: impervious_surface, dtype: float64
327.0
1130    327.0
1131    327.0
1132    327.0
1133    327.0
Name: water_consumption, dtype: float64
1130    327.0
1131    327.0
1132    327.0
1133    327.0
Name: water_consumption, dtype: float64
94.44
1130    94.12
1131    94.12
1132    94.12
1133    95.40
Name: neighborhood_school_attendance, dtype: float64
1130    94.12
1131    94.12
1132    94.12
1133    95.40
Name: neighborhood_school_attendance, dtype: float64
100.0
1130    100.0
1131    100.0
1132    100.0
1133    100.0
Name: highschool_graduation_rate, dtype: float64
1130    100.0
1131    100.0
1132    100.0
1133    100.0
Name: highschool_graduation_rate, dtype: float64
91.35181818181819
1130    90.909091
1131    90.909091
1132    90.909091
1133    92.680000
Name: proficiency_elementary_school, dtype: float64
1130    90.909091
1131    90.909091
1132    90.909091
1133    92.680000
Name: proficiency_elementary_school, dtype: float64
90.9375
1130    92.45
1131    92.45
1132    92.45
1133    86.40
Name: proficiency_middle_school, dtype: float64
1130    92.45
1131    92.45
1132    92.45
1133    86.40
Name: proficiency_middle_school, dtype: float64
90.235
1130    90.48
1131    90.48
1132    90.48
1133    89.50
Name: proficiency_high_school, dtype: float64
1130    90.48
1131    90.48
1132    90.48
1133    89.50
Name: proficiency_high_school, dtype: float64
4.55263157894737
1130    4.736842
1131    4.736842
1132    4.736842
1133    4.000000
Name: student_absenteeism, dtype: float64
1130    4.736842
1131    4.736842
1132    4.736842
1133    4.000000
Name: student_absenteeism, dtype: float64
238.75
1130    127.0
1131    127.0
1132    127.0
1133    574.0
Name: voters_participating, dtype: float64
1130    127.0
1131    127.0
1132    127.0
1133    574.0
Name: voters_participating, dtype: float64
1.0
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: neighborhood_organizations, dtype: float64
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: neighborhood_organizations, dtype: float64
35.5
1130    20.0
1131    20.0
1132    20.0
1133    82.0
Name: voter_participation, dtype: float64
1130    20.0
1131    20.0
1132    20.0
1133    82.0
Name: voter_participation, dtype: float64
63.8
1130    63.8
1131    63.8
1132    63.8
1133    63.8
Name: vacant_land, dtype: float64
1130    63.8
1131    63.8
1132    63.8
1133    63.8
Name: vacant_land, dtype: float64
1.0
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: population_density, dtype: float64
1130    1.0
1131    1.0
1132    1.0
1133    1.0
Name: population_density, dtype: float64
961.25
1130    960.0
1131    960.0
1132    960.0
1133    965.0
Name: population, dtype: float64
1130    960.0
1131    960.0
1132    960.0
1133    965.0
Name: population, dtype: float64
nan
1130   -1.0
1131   -1.0
1132   -1.0
1133   -1.0
Name: transit_ridership, dtype: float64
1130   -1.0
1131   -1.0
1132   -1.0
1133   -1.0
Name: transit_ridership, dtype: float64
1.2
1130    1.2
1131    1.2
1132    1.2
1133    1.2
Name: street_connectivity, dtype: float64
1130    1.2
1131    1.2
1132    1.2
1133    1.2
Name: street_connectivity, dtype: float64
1.4
1130    1.4
1131    1.4
1132    1.4
1133    1.4
Name: bicycle_friendliness, dtype: float64
1130    1.4
1131    1.4
1132    1.4
1133    1.4
Name: bicycle_friendliness, dtype: float64
6.81
1134    6.81
Name: Acres, dtype: float64
1134    6.81
Name: Acres, dtype: float64
nan
1134   -1.0
Name: births_to_adolescents, dtype: float64
1134   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1134    0.0
Name: grocery_proximate_units, dtype: float64
1134    0.0
Name: grocery_proximate_units, dtype: float64
nan
1134   -1.0
Name: prenatal_care, dtype: float64
1134   -1.0
Name: prenatal_care, dtype: float64
0.0
1134    0.0
Name: grocery_proximity, dtype: float64
1134    0.0
Name: grocery_proximity, dtype: float64
nan
1134   -1.0
Name: low_birthweight, dtype: float64
1134   -1.0
Name: low_birthweight, dtype: float64
nan
1134   -1.0
Name: public_health_insurance, dtype: float64
1134   -1.0
Name: public_health_insurance, dtype: float64
nan
1134   -1.0
Name: age_of_death, dtype: float64
1134   -1.0
Name: age_of_death, dtype: float64
33.2
1134    33.2
Name: impervious_surface, dtype: float64
1134    33.2
Name: impervious_surface, dtype: float64
nan
1134   -1.0
Name: water_consumption, dtype: float64
1134   -1.0
Name: water_consumption, dtype: float64
nan
1134   -1.0
Name: neighborhood_school_attendance, dtype: float64
1134   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1134   -1.0
Name: highschool_graduation_rate, dtype: float64
1134   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1134   -1.0
Name: proficiency_elementary_school, dtype: float64
1134   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1134   -1.0
Name: proficiency_middle_school, dtype: float64
1134   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1134   -1.0
Name: proficiency_high_school, dtype: float64
1134   -1.0
Name: proficiency_high_school, dtype: float64
nan
1134   -1.0
Name: student_absenteeism, dtype: float64
1134   -1.0
Name: student_absenteeism, dtype: float64
nan
1134   -1.0
Name: voters_participating, dtype: float64
1134   -1.0
Name: voters_participating, dtype: float64
nan
1134   -1.0
Name: neighborhood_organizations, dtype: float64
1134   -1.0
Name: neighborhood_organizations, dtype: float64

nan
1134   -1.0
Name: voter_participation, dtype: float64
1134   -1.0
Name: voter_participation, dtype: float64
13.8
1134    13.8
Name: vacant_land, dtype: float64
1134    13.8
Name: vacant_land, dtype: float64
0.0
1134    0.0
Name: population_density, dtype: float64
1134    0.0
Name: population_density, dtype: float64
17.0
1134    17.0
Name: population, dtype: float64
1134    17.0
Name: population, dtype: float64
nan
1134   -1.0
Name: transit_ridership, dtype: float64
1134   -1.0
Name: transit_ridership, dtype: float64
1.31
1134    1.31
Name: street_connectivity, dtype: float64
1134    1.31
Name: street_connectivity, dtype: float64
1.4
1134    1.4
Name: bicycle_friendliness, dtype: float64
1134    1.4
Name: bicycle_friendliness, dtype: float64
57.41718181818181
1135    108.000
1136      8.321
1137     42.110
1138    108.000
1139    108.000
Name: Acres, dtype: float64
1135    108.000
1136      8.321
1137     42.110
1138    108.000
1139    108.000
1140     15.170
1141    108.000
1142      1.361
1143     20.500
1144      4.127
1145    108.000
Name: Acres, dtype: float64
3.2000000000000006
1135    3.2
1136    3.2
1137    3.2
1138    3.2
1139    3.2
Name: births_to_adolescents, dtype: float64
1135    3.2
1136    3.2
1137    3.2
1138    3.2
1139    3.2
1140    3.2
1141    3.2
1142    3.2
1143    3.2
1144    3.2
1145    3.2
Name: births_to_adolescents, dtype: float64
0.0
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
Name: grocery_proximate_units, dtype: float64
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
1140    0.0
1141    0.0
1142    0.0
1143    0.0
1144    0.0
1145    0.0
Name: grocery_proximate_units, dtype: float64
51.6
1135    51.6
1136    51.6
1137    51.6
1138    51.6
1139    51.6
Name: prenatal_care, dtype: float64
1135    51.6
1136    51.6
1137    51.6
1138    51.6
1139    51.6
1140    51.6
1141    51.6
1142    51.6
1143    51.6
1144    51.6
1145    51.6
Name: prenatal_care, dtype: float64
0.0
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
Name: grocery_proximity, dtype: float64
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
1140    0.0
1141    0.0
1142    0.0
1143    0.0
1144    0.0
1145    0.0
Name: grocery_proximity, dtype: float64
12.9
1135    12.9
1136    12.9
1137    12.9
1138    12.9
1139    12.9
Name: low_birthweight, dtype: float64
1135    12.9
1136    12.9
1137    12.9
1138    12.9
1139    12.9
1140    12.9
1141    12.9
1142    12.9
1143    12.9
1144    12.9
1145    12.9
Name: low_birthweight, dtype: float64
nan
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
Name: public_health_insurance, dtype: float64
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
1140   -1.0
1141   -1.0
1142   -1.0
1143   -1.0
1144   -1.0
1145   -1.0
Name: public_health_insurance, dtype: float64
64.0
1135    64.0
1136    64.0
1137    64.0
1138    64.0
1139    64.0
Name: age_of_death, dtype: float64
1135    64.0
1136    64.0
1137    64.0
1138    64.0
1139    64.0
1140    64.0
1141    64.0
1142    64.0
1143    64.0
1144    64.0
1145    64.0
Name: age_of_death, dtype: float64
11.033333333333333
1135    11.3
1136    10.7
1137    10.7
1138    11.3
1139    11.3
Name: impervious_surface, dtype: float64
1135    11.300000
1136    10.700000
1137    10.700000
1138    11.300000
1139    11.300000
1140    11.033333
1141    11.300000
1142    10.700000
1143    11.033333
1144    10.700000
1145    11.300000
Name: impervious_surface, dtype: float64
118.75
1135    112.00
1136    130.00
1137    118.75
1138    112.00
1139    112.00
Name: water_consumption, dtype: float64
1135    112.00
1136    130.00
1137    118.75
1138    112.00
1139    112.00
1140    118.75
1141    112.00
1142    130.00
1143    118.75
1144    130.00
1145    112.00
Name: water_consumption, dtype: float64
74.39999999999999
1135    74.4
1136    74.2
1137    75.0
1138    74.4
1139    74.4
Name: neighborhood_school_attendance, dtype: float64
1135    74.4
1136    74.2
1137    75.0
1138    74.4
1139    74.4
1140    74.4
1141    74.4
1142    74.2
1143    74.4
1144    74.2
1145    74.4
Name: neighborhood_school_attendance, dtype: float64
80.0
1135    80.0
1136    80.0
1137    80.0
1138    80.0
1139    80.0
Name: highschool_graduation_rate, dtype: float64
1135    80.0
1136    80.0
1137    80.0
1138    80.0
1139    80.0
1140    80.0
1141    80.0
1142    80.0
1143    80.0
1144    80.0
1145    80.0
Name: highschool_graduation_rate, dtype: float64
47.6025
1135    47.6025
1136    47.3700
1137    48.3000
1138    47.6025
1139    47.6025
Name: proficiency_elementary_school, dtype: float64
1135    47.6025
1136    47.3700
1137    48.3000
1138    47.6025
1139    47.6025
1140    47.6025
1141    47.6025
1142    47.3700
1143    47.6025
1144    47.3700
1145    47.6025
Name: proficiency_elementary_school, dtype: float64
30.474999999999998
1135    30.475
1136    27.300
1137    40.000
1138    30.475
1139    30.475
Name: proficiency_middle_school, dtype: float64
1135    30.475
1136    27.300
1137    40.000
1138    30.475
1139    30.475
1140    30.475
1141    30.475
1142    27.300
1143    30.475
1144    27.300
1145    30.475
Name: proficiency_middle_school, dtype: float64
54.6
1135    54.6
1136    54.6
1137    54.6
1138    54.6
1139    54.6
Name: proficiency_high_school, dtype: float64
1135    54.6
1136    54.6
1137    54.6
1138    54.6
1139    54.6
1140    54.6
1141    54.6
1142    54.6
1143    54.6
1144    54.6
1145    54.6
Name: proficiency_high_school, dtype: float64
10.0
1135    10.0
1136     8.0
1137    16.0
1138    10.0
1139    10.0
Name: student_absenteeism, dtype: float64
1135    10.0
1136     8.0
1137    16.0
1138    10.0
1139    10.0
1140    10.0
1141    10.0
1142     8.0
1143    10.0
1144     8.0
1145    10.0
Name: student_absenteeism, dtype: float64
128.44444444444446
1135    116.0
1136    188.0
1137     12.0
1138    116.0
1139    116.0
Name: voters_participating, dtype: float64
1135    116.000000
1136    188.000000
1137     12.000000
1138    116.000000
1139    116.000000
1140    128.444444
1141    116.000000
1142    188.000000
1143    128.444444
1144    188.000000
1145    116.000000
Name: voters_participating, dtype: float64
nan
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
Name: neighborhood_organizations, dtype: float64
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
1140   -1.0
1141   -1.0
1142   -1.0
1143   -1.0
1144   -1.0
1145   -1.0
Name: neighborhood_organizations, dtype: float64
47.44444444444444
1135    50.0
1136    58.0
1137     3.0
1138    50.0
1139    50.0
Name: voter_participation, dtype: float64
1135    50.000000
1136    58.000000
1137     3.000000
1138    50.000000
1139    50.000000
1140    47.444444
1141    50.000000
1142    58.000000
1143    47.444444
1144    58.000000
1145    50.000000
Name: voter_participation, dtype: float64
26.0
1135    26.0
1136    26.0
1137    26.0
1138    26.0
1139    26.0
Name: vacant_land, dtype: float64
1135    26.0
1136    26.0
1137    26.0
1138    26.0
1139    26.0
1140    26.0
1141    26.0
1142    26.0
1143    26.0
1144    26.0
1145    26.0
Name: vacant_land, dtype: float64
0.0
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
Name: population_density, dtype: float64
1135    0.0
1136    0.0
1137    0.0
1138    0.0
1139    0.0
1140    0.0
1141    0.0
1142    0.0
1143    0.0
1144    0.0
1145    0.0
Name: population_density, dtype: float64
170.11111111111111
1135    161.0
1136    181.0
1137    183.0
1138    161.0
1139    161.0
Name: population, dtype: float64
1135    161.000000
1136    181.000000
1137    183.000000
1138    161.000000
1139    161.000000
1140    170.111111
1141    161.000000
1142    181.000000
1143    170.111111
1144    181.000000
1145    161.000000
Name: population, dtype: float64
nan
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
Name: transit_ridership, dtype: float64
1135   -1.0
1136   -1.0
1137   -1.0
1138   -1.0
1139   -1.0
1140   -1.0
1141   -1.0
1142   -1.0
1143   -1.0
1144   -1.0
1145   -1.0
Name: transit_ridership, dtype: float64
1.25
1135    1.25
1136    1.25
1137    1.25
1138    1.25
1139    1.25
Name: street_connectivity, dtype: float64
1135    1.25
1136    1.25
1137    1.25
1138    1.25
1139    1.25
1140    1.25
1141    1.25
1142    1.25
1143    1.25
1144    1.25
1145    1.25
Name: street_connectivity, dtype: float64
1.2666666666666666
1135    1.3
1136    1.2
1137    1.3
1138    1.3
1139    1.3

Name: bicycle_friendliness, dtype: float64
1135    1.300000
1136    1.200000
1137    1.300000
1138    1.300000
1139    1.300000
1140    1.266667
1141    1.300000
1142    1.200000
1143    1.266667
1144    1.200000
1145    1.300000
Name: bicycle_friendliness, dtype: float64
1.6749999999999998
1146    1.45
1147    1.90
Name: Acres, dtype: float64
1146    1.45
1147    1.90
Name: Acres, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: births_to_adolescents, dtype: float64
1146   -1.0
1147   -1.0
Name: births_to_adolescents, dtype: float64
1131.0
1146    1131.0
1147    1131.0
Name: grocery_proximate_units, dtype: float64
1146    1131.0
1147    1131.0
Name: grocery_proximate_units, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: prenatal_care, dtype: float64
1146   -1.0
1147   -1.0
Name: prenatal_care, dtype: float64
92.0
1146    92.0
1147    92.0
Name: grocery_proximity, dtype: float64
1146    92.0
1147    92.0
Name: grocery_proximity, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: low_birthweight, dtype: float64
1146   -1.0
1147   -1.0
Name: low_birthweight, dtype: float64
16.0
1146    16.0
1147    16.0
Name: public_health_insurance, dtype: float64
1146    16.0
1147    16.0
Name: public_health_insurance, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: age_of_death, dtype: float64
1146   -1.0
1147   -1.0
Name: age_of_death, dtype: float64
33.6
1146    33.6
1147    33.6
Name: impervious_surface, dtype: float64
1146    33.6
1147    33.6
Name: impervious_surface, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: water_consumption, dtype: float64
1146   -1.0
1147   -1.0
Name: water_consumption, dtype: float64
92.28
1146    92.28
1147    92.28
Name: neighborhood_school_attendance, dtype: float64
1146    92.28
1147    92.28
Name: neighborhood_school_attendance, dtype: float64
78.0
1146    78.0
1147    78.0
Name: highschool_graduation_rate, dtype: float64
1146    78.0
1147    78.0
Name: highschool_graduation_rate, dtype: float64
59.5505617977528
1146    59.550562
1147    59.550562
Name: proficiency_elementary_school, dtype: float64
1146    59.550562
1147    59.550562
Name: proficiency_elementary_school, dtype: float64
38.03
1146    38.03
1147    38.03
Name: proficiency_middle_school, dtype: float64
1146    38.03
1147    38.03
Name: proficiency_middle_school, dtype: float64
56.25
1146    56.25
1147    56.25
Name: proficiency_high_school, dtype: float64
1146    56.25
1147    56.25
Name: proficiency_high_school, dtype: float64
9.58904109589041
1146    9.589041
1147    9.589041
Name: student_absenteeism, dtype: float64
1146    9.589041
1147    9.589041
Name: student_absenteeism, dtype: float64
46.0
1146    46.0
1147    46.0
Name: voters_participating, dtype: float64
1146    46.0
1147    46.0
Name: voters_participating, dtype: float64
nan
1146   -1.0
1147   -1.0
Name: neighborhood_organizations, dtype: float64
1146   -1.0
1147   -1.0
Name: neighborhood_organizations, dtype: float64
5.0
1146    5.0
1147    5.0
Name: voter_participation, dtype: float64
1146    5.0
1147    5.0
Name: voter_participation, dtype: float64
5.5
1146    5.5
1147    5.5
Name: vacant_land, dtype: float64
1146    5.5
1147    5.5
Name: vacant_land, dtype: float64
2.0
1146    2.0
1147    2.0
Name: population_density, dtype: float64
1146    2.0
1147    2.0
Name: population_density, dtype: float64
2401.0
1146    2401.0
1147    2401.0
Name: population, dtype: float64
1146    2401.0
1147    2401.0
Name: population, dtype: float64
76.0
1146    76.0
1147    76.0
Name: transit_ridership, dtype: float64
1146    76.0
1147    76.0
Name: transit_ridership, dtype: float64
1.26
1146    1.26
1147    1.26
Name: street_connectivity, dtype: float64
1146    1.26
1147    1.26
Name: street_connectivity, dtype: float64
1.3
1146    1.3
1147    1.3
Name: bicycle_friendliness, dtype: float64
1146    1.3
1147    1.3
Name: bicycle_friendliness, dtype: float64
41.376666666666665
1148    41.00
1149    41.00
1150    42.13
Name: Acres, dtype: float64
1148    41.00
1149    41.00
1150    42.13
Name: Acres, dtype: float64
0.0
1148    0.0
1149    0.0
1150    0.0
Name: births_to_adolescents, dtype: float64
1148    0.0
1149    0.0
1150    0.0
Name: births_to_adolescents, dtype: float64
108.0
1148    108.0
1149    108.0
1150    108.0
Name: grocery_proximate_units, dtype: float64
1148    108.0
1149    108.0
1150    108.0
Name: grocery_proximate_units, dtype: float64
74.3
1148    74.3
1149    74.3
1150    74.3
Name: prenatal_care, dtype: float64
1148    74.3
1149    74.3
1150    74.3
Name: prenatal_care, dtype: float64
8.0
1148    8.0
1149    8.0
1150    8.0
Name: grocery_proximity, dtype: float64
1148    8.0
1149    8.0
1150    8.0
Name: grocery_proximity, dtype: float64
7.3
1148    7.3
1149    7.3
1150    7.3
Name: low_birthweight, dtype: float64
1148    7.3
1149    7.3
1150    7.3
Name: low_birthweight, dtype: float64
nan
1148   -1.0
1149   -1.0
1150   -1.0
Name: public_health_insurance, dtype: float64
1148   -1.0
1149   -1.0
1150   -1.0
Name: public_health_insurance, dtype: float64
65.0
1148    65.0
1149    65.0
1150    65.0
Name: age_of_death, dtype: float64
1148    65.0
1149    65.0
1150    65.0
Name: age_of_death, dtype: float64
11.7
1148    11.7
1149    11.7
1150    11.7
Name: impervious_surface, dtype: float64
1148    11.7
1149    11.7
1150    11.7
Name: impervious_surface, dtype: float64
150.0
1148    150.0
1149    150.0
1150    150.0
Name: water_consumption, dtype: float64
1148    150.0
1149    150.0
1150    150.0
Name: water_consumption, dtype: float64
63.7
1148    63.7
1149    63.7
1150    63.7
Name: neighborhood_school_attendance, dtype: float64
1148    63.7
1149    63.7
1150    63.7
Name: neighborhood_school_attendance, dtype: float64
100.0
1148    100.0
1149    100.0
1150    100.0
Name: highschool_graduation_rate, dtype: float64
1148    100.0
1149    100.0
1150    100.0
Name: highschool_graduation_rate, dtype: float64
58.01
1148    58.01
1149    58.01
1150    58.01
Name: proficiency_elementary_school, dtype: float64
1148    58.01
1149    58.01
1150    58.01
Name: proficiency_elementary_school, dtype: float64
51.6
1148    51.6
1149    51.6
1150    51.6
Name: proficiency_middle_school, dtype: float64
1148    51.6
1149    51.6
1150    51.6
Name: proficiency_middle_school, dtype: float64
61.3
1148    61.3
1149    61.3
1150    61.3
Name: proficiency_high_school, dtype: float64
1148    61.3
1149    61.3
1150    61.3
Name: proficiency_high_school, dtype: float64
6.0
1148    6.0
1149    6.0
1150    6.0
Name: student_absenteeism, dtype: float64
1148    6.0
1149    6.0
1150    6.0
Name: student_absenteeism, dtype: float64
1690.0
1148    1690.0
1149    1690.0
1150    1690.0
Name: voters_participating, dtype: float64
1148    1690.0
1149    1690.0
1150    1690.0
Name: voters_participating, dtype: float64
nan
1148   -1.0
1149   -1.0
1150   -1.0
Name: neighborhood_organizations, dtype: float64
1148   -1.0
1149   -1.0
1150   -1.0
Name: neighborhood_organizations, dtype: float64
74.0
1148    74.0
1149    74.0
1150    74.0
Name: voter_participation, dtype: float64
1148    74.0
1149    74.0
1150    74.0
Name: voter_participation, dtype: float64
23.8
1148    23.8
1149    23.8
1150    23.8
Name: vacant_land, dtype: float64
1148    23.8
1149    23.8
1150    23.8
Name: vacant_land, dtype: float64
3.0
1148    3.0
1149    3.0
1150    3.0
Name: population_density, dtype: float64
1148    3.0
1149    3.0
1150    3.0
Name: population_density, dtype: float64
3701.0
1148    3701.0
1149    3701.0
1150    3701.0
Name: population, dtype: float64
1148    3701.0
1149    3701.0
1150    3701.0
Name: population, dtype: float64
nan
1148   -1.0
1149   -1.0
1150   -1.0
Name: transit_ridership, dtype: float64
1148   -1.0
1149   -1.0
1150   -1.0
Name: transit_ridership, dtype: float64
1.13
1148    1.13
1149    1.13
1150    1.13
Name: street_connectivity, dtype: float64
1148    1.13
1149    1.13
1150    1.13
Name: street_connectivity, dtype: float64
1.4
1148    1.4
1149    1.4
1150    1.4
Name: bicycle_friendliness, dtype: float64
1148    1.4
1149    1.4
1150    1.4
Name: bicycle_friendliness, dtype: float64
5.002740740740741
1151    3.00
1152    5.96
1153    0.76
1154    3.17
1155    1.49
Name: Acres, dtype: float64
1151     3.000
1152     5.960
1153     0.760
1154     3.170
1155     1.490
1156     5.900
1157     0.450
1158    19.780
1159     1.180
1160     3.600
1161     3.000
1162     0.950
1163    17.017
1164     4.020
1165     3.170
1166     1.490
1167     3.170
1168     0.930
1169    10.500
1170     4.020
1171     6.320
1172     3.000
1173     0.950
1174     3.170
1175     5.100
1176     5.960
1177    17.017
Name: Acres, dtype: float64
5.0
1151    5.0
1152    5.0
1153    5.0
1154    5.0
1155    5.0
Name: births_to_adolescents, dtype: float64
1151    5.0
1152    5.0
1153    5.0
1154    5.0
1155    5.0
1156    5.0
1157    5.0
1158    5.0
1159    5.0
1160    5.0
1161    5.0
1162    5.0
1163    5.0
1164    5.0
1165    5.0
1166    5.0
1167    5.0
1168    5.0
1169    5.0
1170    5.0
1171    5.0
1172    5.0
1173    5.0
1174    5.0
1175    5.0
1176    5.0
1177    5.0
Name: births_to_adolescents, dtype: float64
66.05882352941177
1151    66.058824
1152     4.000000
1153    66.058824
1154     4.000000
1155     4.000000
Name: grocery_proximate_units, dtype: float64
1151     66.058824
1152      4.000000
1153     66.058824
1154      4.000000
1155      4.000000
1156     66.058824
1157    214.000000
1158      4.000000
1159    214.000000
1160     66.058824
1161     66.058824
1162     66.058824
1163     66.058824
1164      4.000000
1165      4.000000
1166      4.000000
1167      4.000000
1168    219.000000
1169     66.058824
1170      4.000000
1171    214.000000
1172     66.058824
1173      4.000000
1174      4.000000
1175    214.000000
1176      4.000000
1177     66.058824
Name: grocery_proximate_units, dtype: float64
55.0
1151    55.0
1152    55.0
1153    55.0
1154    55.0
1155    55.0
Name: prenatal_care, dtype: float64
1151    55.0
1152    55.0
1153    55.0
1154    55.0
1155    55.0
1156    55.0
1157    55.0
1158    55.0
1159    55.0
1160    55.0
1161    55.0
1162    55.0
1163    55.0
1164    55.0
1165    55.0
1166    55.0
1167    55.0
1168    55.0
1169    55.0
1170    55.0
1171    55.0
1172    55.0
1173    55.0
1174    55.0
1175    55.0
1176    55.0
1177    55.0
Name: prenatal_care, dtype: float64
16.764705882352942
1151    16.764706
1152     2.000000
1153    16.764706
1154     2.000000
1155     2.000000
Name: grocery_proximity, dtype: float64
1151    16.764706
1152     2.000000
1153    16.764706
1154     2.000000
1155     2.000000
1156    16.764706
1157    52.000000
1158     2.000000
1159    52.000000
1160    16.764706
1161    16.764706
1162    16.764706
1163    16.764706
1164     2.000000
1165     2.000000
1166     2.000000
1167     2.000000
1168    53.000000
1169    16.764706
1170     2.000000
1171    52.000000
1172    16.764706
1173     2.000000
1174     2.000000
1175    52.000000
1176     2.000000
1177    16.764706
Name: grocery_proximity, dtype: float64

15.0
1151    15.0
1152    15.0
1153    15.0
1154    15.0
1155    15.0
Name: low_birthweight, dtype: float64
1151    15.0
1152    15.0
1153    15.0
1154    15.0
1155    15.0
1156    15.0
1157    15.0
1158    15.0
1159    15.0
1160    15.0
1161    15.0
1162    15.0
1163    15.0
1164    15.0
1165    15.0
1166    15.0
1167    15.0
1168    15.0
1169    15.0
1170    15.0
1171    15.0
1172    15.0
1173    15.0
1174    15.0
1175    15.0
1176    15.0
1177    15.0
Name: low_birthweight, dtype: float64
21.8
1151    21.8
1152    21.0
1153    21.8
1154    21.8
1155    21.8
Name: public_health_insurance, dtype: float64
1151    21.8
1152    21.0
1153    21.8
1154    21.8
1155    21.8
1156    21.8
1157    21.8
1158    21.0
1159    21.8
1160    21.8
1161    21.8
1162    21.8
1163    21.8
1164    21.8
1165    21.8
1166    21.8
1167    21.8
1168    25.0
1169    21.8
1170    21.8
1171    21.8
1172    21.8
1173    21.0
1174    21.8
1175    21.8
1176    21.0
1177    21.8
Name: public_health_insurance, dtype: float64
63.0
1151    63.0
1152    63.0
1153    63.0
1154    63.0
1155    63.0
Name: age_of_death, dtype: float64
1151    63.0
1152    63.0
1153    63.0
1154    63.0
1155    63.0
1156    63.0
1157    63.0
1158    63.0
1159    63.0
1160    63.0
1161    63.0
1162    63.0
1163    63.0
1164    63.0
1165    63.0
1166    63.0
1167    63.0
1168    63.0
1169    63.0
1170    63.0
1171    63.0
1172    63.0
1173    63.0
1174    63.0
1175    63.0
1176    63.0
1177    63.0
Name: age_of_death, dtype: float64
37.21764705882352
1151    37.217647
1152    37.300000
1153    37.217647
1154    37.300000
1155    37.300000
Name: impervious_surface, dtype: float64
1151    37.217647
1152    37.300000
1153    37.217647
1154    37.300000
1155    37.300000
1156    37.217647
1157    37.100000
1158    37.300000
1159    37.100000
1160    37.217647
1161    37.217647
1162    37.217647
1163    37.217647
1164    37.300000
1165    37.300000
1166    37.300000
1167    37.300000
1168    36.700000
1169    37.217647
1170    37.300000
1171    37.100000
1172    37.217647
1173    37.300000
1174    37.300000
1175    37.100000
1176    37.300000
1177    37.217647
Name: impervious_surface, dtype: float64
106.66666666666667
1151    106.666667
1152    106.666667
1153    106.666667
1154    105.000000
1155    105.000000
Name: water_consumption, dtype: float64
1151    106.666667
1152    106.666667
1153    106.666667
1154    105.000000
1155    105.000000
1156    106.666667
1157    110.000000
1158    106.666667
1159    110.000000
1160    106.666667
1161    106.666667
1162    106.666667
1163    106.666667
1164    105.000000
1165    105.000000
1166    105.000000
1167    105.000000
1168    106.666667
1169    106.666667
1170    105.000000
1171    110.000000
1172    106.666667
1173    106.666667
1174    105.000000
1175    110.000000
1176    106.666667
1177    106.666667
Name: water_consumption, dtype: float64
68.56888888888889
1151    68.568889
1152    67.000000
1153    68.568889
1154    68.568889
1155    68.568889
Name: neighborhood_school_attendance, dtype: float64
1151    68.568889
1152    67.000000
1153    68.568889
1154    68.568889
1155    68.568889
1156    68.568889
1157    73.300000
1158    67.000000
1159    73.300000
1160    68.568889
1161    68.568889
1162    68.568889
1163    68.568889
1164    68.568889
1165    68.568889
1166    68.568889
1167    68.568889
1168    55.920000
1169    68.568889
1170    68.568889
1171    73.300000
1172    68.568889
1173    67.000000
1174    68.568889
1175    73.300000
1176    67.000000
1177    68.568889
Name: neighborhood_school_attendance, dtype: float64
55.6
1151    55.6
1152    55.6
1153    55.6
1154    55.6
1155    55.6
Name: highschool_graduation_rate, dtype: float64
1151    55.6
1152    55.6
1153    55.6
1154    55.6
1155    55.6
1156    55.6
1157    50.0
1158    55.6
1159    50.0
1160    55.6
1161    55.6
1162    55.6
1163    55.6
1164    55.6
1165    55.6
1166    55.6
1167    55.6
1168    78.0
1169    55.6
1170    55.6
1171    50.0
1172    55.6
1173    55.6
1174    55.6
1175    50.0
1176    55.6
1177    55.6
Name: highschool_graduation_rate, dtype: float64
26.225582655826557
1151    26.225583
1152    17.200000
1153    26.225583
1154    26.225583
1155    26.225583
Name: proficiency_elementary_school, dtype: float64
1151    26.225583
1152    17.200000
1153    26.225583
1154    26.225583
1155    26.225583
1156    26.225583
1157    35.710000
1158    17.200000
1159    35.710000
1160    26.225583
1161    26.225583
1162    26.225583
1163    26.225583
1164    26.225583
1165    26.225583
1166    26.225583
1167    26.225583
1168    24.390244
1169    26.225583
1170    26.225583
1171    35.710000
1172    26.225583
1173    17.200000
1174    26.225583
1175    35.710000
1176    17.200000
1177    26.225583
Name: proficiency_elementary_school, dtype: float64
30.13888888888889
1151    30.138889
1152    17.700000
1153    30.138889
1154    30.138889
1155    30.138889
Name: proficiency_middle_school, dtype: float64
1151    30.138889
1152    17.700000
1153    30.138889
1154    30.138889
1155    30.138889
1156    30.138889
1157    45.000000
1158    17.700000
1159    45.000000
1160    30.138889
1161    30.138889
1162    30.138889
1163    30.138889
1164    30.138889
1165    30.138889
1166    30.138889
1167    30.138889
1168    20.450000
1169    30.138889
1170    30.138889
1171    45.000000
1172    30.138889
1173    17.700000
1174    30.138889
1175    45.000000
1176    17.700000
1177    30.138889
Name: proficiency_middle_school, dtype: float64
25.010000000000005
1151    25.01
1152     8.30
1153    25.01
1154    25.01
1155    25.01
Name: proficiency_high_school, dtype: float64
1151    25.01
1152     8.30
1153    25.01
1154    25.01
1155    25.01
1156    25.01
1157    44.40
1158     8.30
1159    44.40
1160    25.01
1161    25.01
1162    25.01
1163    25.01
1164    25.01
1165    25.01
1166    25.01
1167    25.01
1168    14.29
1169    25.01
1170    25.01
1171    44.40
1172    25.01
1173     8.30
1174    25.01
1175    44.40
1176     8.30
1177    25.01
Name: proficiency_high_school, dtype: float64
22.48832271762208
1151    22.488323
1152    19.000000
1153    22.488323
1154    22.488323
1155    22.488323
Name: student_absenteeism, dtype: float64
1151    22.488323
1152    19.000000
1153    22.488323
1154    22.488323
1155    22.488323
1156    22.488323
1157    23.000000
1158    19.000000
1159    23.000000
1160    22.488323
1161    22.488323
1162    22.488323
1163    22.488323
1164    22.488323
1165    22.488323
1166    22.488323
1167    22.488323
1168    34.394904
1169    22.488323
1170    22.488323
1171    23.000000
1172    22.488323
1173    19.000000
1174    22.488323
1175    23.000000
1176    19.000000
1177    22.488323
Name: student_absenteeism, dtype: float64
151.52941176470588
1151    151.529412
1152     69.000000
1153    151.529412
1154    163.000000
1155    163.000000
Name: voters_participating, dtype: float64
1151    151.529412
1152     69.000000
1153    151.529412
1154    163.000000
1155    163.000000
1156    151.529412
1157    236.000000
1158     69.000000
1159    236.000000
1160    151.529412
1161    151.529412
1162    151.529412
1163    151.529412
1164    163.000000
1165    163.000000
1166    163.000000
1167    163.000000
1168     52.000000
1169    151.529412
1170    163.000000
1171    236.000000
1172    151.529412
1173     69.000000
1174    163.000000
1175    236.000000
1176     69.000000
1177    151.529412
Name: voters_participating, dtype: float64
0.0
1151    0.0
1152    0.0
1153    0.0
1154    0.0
1155    0.0
Name: neighborhood_organizations, dtype: float64
1151    0.0
1152    0.0
1153    0.0
1154    0.0
1155    0.0
1156    0.0
1157    0.0
1158    0.0
1159    0.0
1160    0.0
1161    0.0
1162    0.0
1163    0.0
1164    0.0
1165    0.0
1166    0.0
1167    0.0
1168    0.0
1169    0.0
1170    0.0
1171    0.0
1172    0.0
1173    0.0
1174    0.0
1175    0.0
1176    0.0
1177    0.0
Name: neighborhood_organizations, dtype: float64
41.588235294117645
1151    41.588235
1152    13.000000
1153    41.588235
1154    49.000000
1155    49.000000
Name: voter_participation, dtype: float64
1151    41.588235
1152    13.000000
1153    41.588235
1154    49.000000
1155    49.000000
1156    41.588235
1157    62.000000
1158    13.000000
1159    62.000000
1160    41.588235
1161    41.588235
1162    41.588235
1163    41.588235
1164    49.000000
1165    49.000000
1166    49.000000
1167    49.000000
1168    15.000000
1169    41.588235
1170    49.000000
1171    62.000000
1172    41.588235
1173    13.000000
1174    49.000000
1175    62.000000
1176    13.000000
1177    41.588235
Name: voter_participation, dtype: float64
7.700000000000002
1151    7.7
1152    7.7
1153    7.7
1154    7.7
1155    7.7
Name: vacant_land, dtype: float64
1151    7.7
1152    7.7
1153    7.7
1154    7.7
1155    7.7
1156    7.7
1157    7.7
1158    7.7
1159    7.7
1160    7.7
1161    7.7
1162    7.7
1163    7.7
1164    7.7
1165    7.7
1166    7.7
1167    7.7
1168    7.7
1169    7.7
1170    7.7
1171    7.7
1172    7.7
1173    7.7
1174    7.7
1175    7.7
1176    7.7
1177    7.7
Name: vacant_land, dtype: float64
1.0
1151    1.0
1152    1.0
1153    1.0
1154    1.0
1155    1.0
Name: population_density, dtype: float64
1151    1.0
1152    1.0
1153    1.0
1154    1.0
1155    1.0
1156    1.0
1157    1.0
1158    1.0
1159    1.0
1160    1.0
1161    1.0
1162    1.0
1163    1.0
1164    1.0
1165    1.0
1166    1.0
1167    1.0
1168    1.0
1169    1.0
1170    1.0
1171    1.0
1172    1.0
1173    1.0
1174    1.0
1175    1.0
1176    1.0
1177    1.0
Name: population_density, dtype: float64
798.7647058823529
1151    798.764706
1152    973.000000
1153    798.764706
1154    602.000000
1155    602.000000
Name: population, dtype: float64
1151    798.764706
1152    973.000000
1153    798.764706
1154    602.000000
1155    602.000000
1156    798.764706
1157    972.000000
1158    973.000000
1159    972.000000
1160    798.764706
1161    798.764706
1162    798.764706
1163    798.764706
1164    602.000000
1165    602.000000
1166    602.000000
1167    602.000000
1168    983.000000
1169    798.764706
1170    602.000000
1171    972.000000
1172    798.764706
1173    973.000000
1174    602.000000
1175    972.000000
1176    973.000000
1177    798.764706
Name: population, dtype: float64
425.0
1151    425.0
1152    425.0
1153    425.0
1154    425.0
1155    425.0
Name: transit_ridership, dtype: float64
1151    425.0
1152    425.0
1153    425.0
1154    425.0
1155    425.0
1156    425.0
1157    425.0
1158    425.0
1159    425.0
1160    425.0
1161    425.0
1162    425.0
1163    425.0
1164    425.0
1165    425.0
1166    425.0
1167    425.0
1168    425.0
1169    425.0
1170    425.0
1171    425.0
1172    425.0
1173    425.0
1174    425.0
1175    425.0
1176    425.0
1177    425.0
Name: transit_ridership, dtype: float64
1.238235294117647
1151    1.238235
1152    1.240000
1153    1.238235
1154    1.230000
1155    1.230000
Name: street_connectivity, dtype: float64
1151    1.238235
1152    1.240000
1153    1.238235
1154    1.230000
1155    1.230000
1156    1.238235
1157    1.250000
1158    1.240000
1159    1.250000
1160    1.238235
1161    1.238235
1162    1.238235
1163    1.238235
1164    1.230000
1165    1.230000
1166    1.230000
1167    1.230000
1168    1.250000
1169    1.238235
1170    1.230000
1171    1.250000
1172    1.238235
1173    1.240000
1174    1.230000
1175    1.250000
1176    1.240000
1177    1.238235
Name: street_connectivity, dtype: float64
1.3999999999999997
1151    1.4
1152    1.4
1153    1.4
1154    1.4
1155    1.4
Name: bicycle_friendliness, dtype: float64
1151    1.4
1152    1.4
1153    1.4
1154    1.4
1155    1.4
1156    1.4
1157    1.4
1158    1.4
1159    1.4
1160    1.4
1161    1.4
1162    1.4
1163    1.4
1164    1.4
1165    1.4
1166    1.4
1167    1.4
1168    1.4
1169    1.4
1170    1.4
1171    1.4
1172    1.4
1173    1.4
1174    1.4
1175    1.4
1176    1.4
1177    1.4
Name: bicycle_friendliness, dtype: float64
7.265714285714286
1178     0.16
1179     0.53
1180     9.05
1181    11.51
1182     9.05
Name: Acres, dtype: float64
1178     0.16
1179     0.53
1180     9.05
1181    11.51
1182     9.05
1183    11.51
1184     9.05
Name: Acres, dtype: float64
nan
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
Name: births_to_adolescents, dtype: float64
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
1183   -1.0
1184   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
Name: grocery_proximate_units, dtype: float64
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
1183    0.0
1184    0.0
Name: grocery_proximate_units, dtype: float64

nan
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
Name: prenatal_care, dtype: float64
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
1183   -1.0
1184   -1.0
Name: prenatal_care, dtype: float64
0.0
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
Name: grocery_proximity, dtype: float64
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
1183    0.0
1184    0.0
Name: grocery_proximity, dtype: float64
nan
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
Name: low_birthweight, dtype: float64
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
1183   -1.0
1184   -1.0
Name: low_birthweight, dtype: float64
49.0
1178    49.0
1179    49.0
1180    49.0
1181    49.0
1182    49.0
Name: public_health_insurance, dtype: float64
1178    49.0
1179    49.0
1180    49.0
1181    49.0
1182    49.0
1183    49.0
1184    49.0
Name: public_health_insurance, dtype: float64
nan
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
Name: age_of_death, dtype: float64
1178   -1.0
1179   -1.0
1180   -1.0
1181   -1.0
1182   -1.0
1183   -1.0
1184   -1.0
Name: age_of_death, dtype: float64
16.259999999999998
1178    15.70
1179    16.40
1180    16.40
1181    16.26
1182    16.40
Name: impervious_surface, dtype: float64
1178    15.70
1179    16.40
1180    16.40
1181    16.26
1182    16.40
1183    16.26
1184    16.40
Name: impervious_surface, dtype: float64
128.0
1178    128.0
1179    128.0
1180    128.0
1181    128.0
1182    128.0
Name: water_consumption, dtype: float64
1178    128.0
1179    128.0
1180    128.0
1181    128.0
1182    128.0
1183    128.0
1184    128.0
Name: water_consumption, dtype: float64
69.41
1178    69.41
1179    69.41
1180    69.41
1181    69.41
1182    69.41
Name: neighborhood_school_attendance, dtype: float64
1178    69.41
1179    69.41
1180    69.41
1181    69.41
1182    69.41
1183    69.41
1184    69.41
Name: neighborhood_school_attendance, dtype: float64
79.0
1178    79.0
1179    79.0
1180    79.0
1181    79.0
1182    79.0
Name: highschool_graduation_rate, dtype: float64
1178    79.0
1179    79.0
1180    79.0
1181    79.0
1182    79.0
1183    79.0
1184    79.0
Name: highschool_graduation_rate, dtype: float64
23.4042553191489
1178    23.404255
1179    23.404255
1180    23.404255
1181    23.404255
1182    23.404255
Name: proficiency_elementary_school, dtype: float64
1178    23.404255
1179    23.404255
1180    23.404255
1181    23.404255
1182    23.404255
1183    23.404255
1184    23.404255
Name: proficiency_elementary_school, dtype: float64
28.57
1178    28.57
1179    28.57
1180    28.57
1181    28.57
1182    28.57
Name: proficiency_middle_school, dtype: float64
1178    28.57
1179    28.57
1180    28.57
1181    28.57
1182    28.57
1183    28.57
1184    28.57
Name: proficiency_middle_school, dtype: float64
18.18
1178    18.18
1179    18.18
1180    18.18
1181    18.18
1182    18.18
Name: proficiency_high_school, dtype: float64
1178    18.18
1179    18.18
1180    18.18
1181    18.18
1182    18.18
1183    18.18
1184    18.18
Name: proficiency_high_school, dtype: float64
19.8895027624309
1178    19.889503
1179    19.889503
1180    19.889503
1181    19.889503
1182    19.889503
Name: student_absenteeism, dtype: float64
1178    19.889503
1179    19.889503
1180    19.889503
1181    19.889503
1182    19.889503
1183    19.889503
1184    19.889503
Name: student_absenteeism, dtype: float64
157.8
1178     29.0
1179    190.0
1180    190.0
1181    157.8
1182    190.0
Name: voters_participating, dtype: float64
1178     29.0
1179    190.0
1180    190.0
1181    157.8
1182    190.0
1183    157.8
1184    190.0
Name: voters_participating, dtype: float64
0.0
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
Name: neighborhood_organizations, dtype: float64
1178    0.0
1179    0.0
1180    0.0
1181    0.0
1182    0.0
1183    0.0
1184    0.0
Name: neighborhood_organizations, dtype: float64
33.2
1178     6.0
1179    40.0
1180    40.0
1181    33.2
1182    40.0
Name: voter_participation, dtype: float64
1178     6.0
1179    40.0
1180    40.0
1181    33.2
1182    40.0
1183    33.2
1184    40.0
Name: voter_participation, dtype: float64
22.4
1178    22.4
1179    22.4
1180    22.4
1181    22.4
1182    22.4
Name: vacant_land, dtype: float64
1178    22.4
1179    22.4
1180    22.4
1181    22.4
1182    22.4
1183    22.4
1184    22.4
Name: vacant_land, dtype: float64
4.0
1178    4.0
1179    4.0
1180    4.0
1181    4.0
1182    4.0
Name: population_density, dtype: float64
1178    4.0
1179    4.0
1180    4.0
1181    4.0
1182    4.0
1183    4.0
1184    4.0
Name: population_density, dtype: float64
1125.6
1178    1136.0
1179    1123.0
1180    1123.0
1181    1125.6
1182    1123.0
Name: population, dtype: float64
1178    1136.0
1179    1123.0
1180    1123.0
1181    1125.6
1182    1123.0
1183    1125.6
1184    1123.0
Name: population, dtype: float64
57.0
1178    57.0
1179    57.0
1180    57.0
1181    57.0
1182    57.0
Name: transit_ridership, dtype: float64
1178    57.0
1179    57.0
1180    57.0
1181    57.0
1182    57.0
1183    57.0
1184    57.0
Name: transit_ridership, dtype: float64
1.15
1178    1.15
1179    1.15
1180    1.15
1181    1.15
1182    1.15
Name: street_connectivity, dtype: float64
1178    1.15
1179    1.15
1180    1.15
1181    1.15
1182    1.15
1183    1.15
1184    1.15
Name: street_connectivity, dtype: float64
1.4
1178    1.4
1179    1.4
1180    1.4
1181    1.4
1182    1.4
Name: bicycle_friendliness, dtype: float64
1178    1.4
1179    1.4
1180    1.4
1181    1.4
1182    1.4
1183    1.4
1184    1.4
Name: bicycle_friendliness, dtype: float64
54.72
1185    77.31
1186     9.54
1187    77.31
1188    77.31
1189    77.31
Name: Acres, dtype: float64
1185    77.31
1186     9.54
1187    77.31
1188    77.31
1189    77.31
1190     9.54
Name: Acres, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: births_to_adolescents, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1185    0.0
1186    0.0
1187    0.0
1188    0.0
1189    0.0
Name: grocery_proximate_units, dtype: float64
1185    0.0
1186    0.0
1187    0.0
1188    0.0
1189    0.0
1190    0.0
Name: grocery_proximate_units, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: prenatal_care, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: prenatal_care, dtype: float64
0.0
1185    0.0
1186    0.0
1187    0.0
1188    0.0
1189    0.0
Name: grocery_proximity, dtype: float64
1185    0.0
1186    0.0
1187    0.0
1188    0.0
1189    0.0
1190    0.0
Name: grocery_proximity, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: low_birthweight, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: low_birthweight, dtype: float64
12.0
1185    12.0
1186    12.0
1187    12.0
1188    12.0
1189    12.0
Name: public_health_insurance, dtype: float64
1185    12.0
1186    12.0
1187    12.0
1188    12.0
1189    12.0
1190    12.0
Name: public_health_insurance, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: age_of_death, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: age_of_death, dtype: float64
8.666666666666668
1185    8.6
1186    9.0
1187    8.6
1188    8.6
1189    8.6
Name: impervious_surface, dtype: float64
1185    8.6
1186    9.0
1187    8.6
1188    8.6
1189    8.6
1190    8.6
Name: impervious_surface, dtype: float64
136.0
1185    136.0
1186    136.0
1187    136.0
1188    136.0
1189    136.0
Name: water_consumption, dtype: float64
1185    136.0
1186    136.0
1187    136.0
1188    136.0
1189    136.0
1190    136.0
Name: water_consumption, dtype: float64
65.0
1185    65.0
1186    65.0
1187    65.0
1188    65.0
1189    65.0
Name: neighborhood_school_attendance, dtype: float64
1185    65.0
1186    65.0
1187    65.0
1188    65.0
1189    65.0
1190    65.0
Name: neighborhood_school_attendance, dtype: float64
95.0
1185    95.0
1186    95.0
1187    95.0
1188    95.0
1189    95.0
Name: highschool_graduation_rate, dtype: float64
1185    95.0
1186    95.0
1187    95.0
1188    95.0
1189    95.0
1190    95.0
Name: highschool_graduation_rate, dtype: float64
55.2
1185    55.2
1186    55.2
1187    55.2
1188    55.2
1189    55.2
Name: proficiency_elementary_school, dtype: float64
1185    55.2
1186    55.2
1187    55.2
1188    55.2
1189    55.2
1190    55.2
Name: proficiency_elementary_school, dtype: float64
37.7
1185    37.7
1186    37.7
1187    37.7
1188    37.7
1189    37.7
Name: proficiency_middle_school, dtype: float64
1185    37.7
1186    37.7
1187    37.7
1188    37.7
1189    37.7
1190    37.7
Name: proficiency_middle_school, dtype: float64
35.3
1185    35.3
1186    35.3
1187    35.3
1188    35.3
1189    35.3
Name: proficiency_high_school, dtype: float64
1185    35.3
1186    35.3
1187    35.3
1188    35.3
1189    35.3
1190    35.3
Name: proficiency_high_school, dtype: float64
5.0
1185    5.0
1186    5.0
1187    5.0
1188    5.0
1189    5.0
Name: student_absenteeism, dtype: float64
1185    5.0
1186    5.0
1187    5.0
1188    5.0
1189    5.0
1190    5.0
Name: student_absenteeism, dtype: float64
234.66666666666666
1185    188.0
1186    468.0
1187    188.0
1188    188.0
1189    188.0
Name: voters_participating, dtype: float64
1185    188.0
1186    468.0
1187    188.0
1188    188.0
1189    188.0
1190    188.0
Name: voters_participating, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: neighborhood_organizations, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: neighborhood_organizations, dtype: float64
30.5
1185    23.0
1186    68.0
1187    23.0
1188    23.0
1189    23.0
Name: voter_participation, dtype: float64
1185    23.0
1186    68.0
1187    23.0
1188    23.0
1189    23.0
1190    23.0
Name: voter_participation, dtype: float64
27.400000000000002
1185    27.4
1186    27.4
1187    27.4
1188    27.4
1189    27.4
Name: vacant_land, dtype: float64
1185    27.4
1186    27.4
1187    27.4
1188    27.4
1189    27.4
1190    27.4
Name: vacant_land, dtype: float64
3.0
1185    3.0
1186    3.0
1187    3.0
1188    3.0
1189    3.0
Name: population_density, dtype: float64
1185    3.0
1186    3.0
1187    3.0
1188    3.0
1189    3.0
1190    3.0
Name: population_density, dtype: float64
1935.3333333333333
1185    1910.0
1186    2062.0
1187    1910.0
1188    1910.0
1189    1910.0
Name: population, dtype: float64
1185    1910.0
1186    2062.0
1187    1910.0
1188    1910.0
1189    1910.0
1190    1910.0
Name: population, dtype: float64
nan
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
Name: transit_ridership, dtype: float64
1185   -1.0
1186   -1.0
1187   -1.0
1188   -1.0
1189   -1.0
1190   -1.0
Name: transit_ridership, dtype: float64
1.18
1185    1.18
1186    1.18
1187    1.18
1188    1.18
1189    1.18
Name: street_connectivity, dtype: float64
1185    1.18
1186    1.18
1187    1.18
1188    1.18
1189    1.18
1190    1.18
Name: street_connectivity, dtype: float64
1.3
1185    1.3
1186    1.3
1187    1.3
1188    1.3
1189    1.3
Name: bicycle_friendliness, dtype: float64
1185    1.3
1186    1.3
1187    1.3
1188    1.3
1189    1.3
1190    1.3
Name: bicycle_friendliness, dtype: float64
2.6
1191    2.6
Name: Acres, dtype: float64
1191    2.6
Name: Acres, dtype: float64
nan
1191   -1.0
Name: births_to_adolescents, dtype: float64
1191   -1.0
Name: births_to_adolescents, dtype: float64
nan
1191   -1.0
Name: grocery_proximate_units, dtype: float64
1191   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1191   -1.0
Name: prenatal_care, dtype: float64
1191   -1.0
Name: prenatal_care, dtype: float64
nan
1191   -1.0
Name: grocery_proximity, dtype: float64
1191   -1.0
Name: grocery_proximity, dtype: float64
nan
1191   -1.0
Name: low_birthweight, dtype: float64
1191   -1.0
Name: low_birthweight, dtype: float64
nan
1191   -1.0
Name: public_health_insurance, dtype: float64
1191   -1.0
Name: public_health_insurance, dtype: float64
nan
1191   -1.0
Name: age_of_death, dtype: float64
1191   -1.0
Name: age_of_death, dtype: float64
nan
1191   -1.0
Name: impervious_surface, dtype: float64
1191   -1.0
Name: impervious_surface, dtype: float64
nan
1191   -1.0
Name: water_consumption, dtype: float64
1191   -1.0
Name: water_consumption, dtype: float64
nan
1191   -1.0
Name: neighborhood_school_attendance, dtype: float64
1191   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1191   -1.0
Name: highschool_graduation_rate, dtype: float64
1191   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1191   -1.0
Name: proficiency_elementary_school, dtype: float64
1191   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1191   -1.0
Name: proficiency_middle_school, dtype: float64
1191   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1191   -1.0
Name: proficiency_high_school, dtype: float64
1191   -1.0
Name: proficiency_high_school, dtype: float64
nan
1191   -1.0
Name: student_absenteeism, dtype: float64
1191   -1.0
Name: student_absenteeism, dtype: float64
nan
1191   -1.0
Name: voters_participating, dtype: float64
1191   -1.0
Name: voters_participating, dtype: float64
nan
1191   -1.0
Name: neighborhood_organizations, dtype: float64
1191   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1191   -1.0

Name: voter_participation, dtype: float64
1191   -1.0
Name: voter_participation, dtype: float64
nan
1191   -1.0
Name: vacant_land, dtype: float64
1191   -1.0
Name: vacant_land, dtype: float64
nan
1191   -1.0
Name: population_density, dtype: float64
1191   -1.0
Name: population_density, dtype: float64
nan
1191   -1.0
Name: population, dtype: float64
1191   -1.0
Name: population, dtype: float64
nan
1191   -1.0
Name: transit_ridership, dtype: float64
1191   -1.0
Name: transit_ridership, dtype: float64
nan
1191   -1.0
Name: street_connectivity, dtype: float64
1191   -1.0
Name: street_connectivity, dtype: float64
nan
1191   -1.0
Name: bicycle_friendliness, dtype: float64
1191   -1.0
Name: bicycle_friendliness, dtype: float64
2.8466666666666662
1192    0.82
1193    0.72
1194    7.00
Name: Acres, dtype: float64
1192    0.82
1193    0.72
1194    7.00
Name: Acres, dtype: float64
2.0
1192    2.0
1193    2.0
1194    2.0
Name: births_to_adolescents, dtype: float64
1192    2.0
1193    2.0
1194    2.0
Name: births_to_adolescents, dtype: float64
757.0
1192    757.0
1193    757.0
1194    757.0
Name: grocery_proximate_units, dtype: float64
1192    757.0
1193    757.0
1194    757.0
Name: grocery_proximate_units, dtype: float64
72.6
1192    72.6
1193    72.6
1194    72.6
Name: prenatal_care, dtype: float64
1192    72.6
1193    72.6
1194    72.6
Name: prenatal_care, dtype: float64
87.5
1192    84.0
1193    87.5
1194    91.0
Name: grocery_proximity, dtype: float64
1192    84.0
1193    87.5
1194    91.0
Name: grocery_proximity, dtype: float64
13.7
1192    13.7
1193    13.7
1194    13.7
Name: low_birthweight, dtype: float64
1192    13.7
1193    13.7
1194    13.7
Name: low_birthweight, dtype: float64
13.0
1192    13.0
1193    13.0
1194    13.0
Name: public_health_insurance, dtype: float64
1192    13.0
1193    13.0
1194    13.0
Name: public_health_insurance, dtype: float64
79.0
1192    79.0
1193    79.0
1194    79.0
Name: age_of_death, dtype: float64
1192    79.0
1193    79.0
1194    79.0
Name: age_of_death, dtype: float64
32.6
1192    32.6
1193    32.6
1194    32.6
Name: impervious_surface, dtype: float64
1192    32.6
1193    32.6
1194    32.6
Name: impervious_surface, dtype: float64
166.0
1192    166.0
1193    166.0
1194    166.0
Name: water_consumption, dtype: float64
1192    166.0
1193    166.0
1194    166.0
Name: water_consumption, dtype: float64
82.2
1192    80.4
1193    82.2
1194    84.0
Name: neighborhood_school_attendance, dtype: float64
1192    80.4
1193    82.2
1194    84.0
Name: neighborhood_school_attendance, dtype: float64
100.0
1192    100.0
1193    100.0
1194    100.0
Name: highschool_graduation_rate, dtype: float64
1192    100.0
1193    100.0
1194    100.0
Name: highschool_graduation_rate, dtype: float64
52.78
1192    55.56
1193    52.78
1194    50.00
Name: proficiency_elementary_school, dtype: float64
1192    55.56
1193    52.78
1194    50.00
Name: proficiency_elementary_school, dtype: float64
30.85
1192    30.30
1193    30.85
1194    31.40
Name: proficiency_middle_school, dtype: float64
1192    30.30
1193    30.85
1194    31.40
Name: proficiency_middle_school, dtype: float64
45.0
1192    30.0
1193    45.0
1194    60.0
Name: proficiency_high_school, dtype: float64
1192    30.0
1193    45.0
1194    60.0
Name: proficiency_high_school, dtype: float64
16.5
1192    16.0
1193    16.5
1194    17.0
Name: student_absenteeism, dtype: float64
1192    16.0
1193    16.5
1194    17.0
Name: student_absenteeism, dtype: float64
421.0
1192    660.0
1193    421.0
1194    182.0
Name: voters_participating, dtype: float64
1192    660.0
1193    421.0
1194    182.0
Name: voters_participating, dtype: float64
nan
1192   -1.0
1193   -1.0
1194   -1.0
Name: neighborhood_organizations, dtype: float64
1192   -1.0
1193   -1.0
1194   -1.0
Name: neighborhood_organizations, dtype: float64
45.5
1192    75.0
1193    45.5
1194    16.0
Name: voter_participation, dtype: float64
1192    75.0
1193    45.5
1194    16.0
Name: voter_participation, dtype: float64
0.0
1192    0.0
1193    0.0
1194    0.0
Name: vacant_land, dtype: float64
1192    0.0
1193    0.0
1194    0.0
Name: vacant_land, dtype: float64
9.0
1192    9.0
1193    9.0
1194    9.0
Name: population_density, dtype: float64
1192    9.0
1193    9.0
1194    9.0
Name: population_density, dtype: float64
1806.5
1192    1806.0
1193    1806.5
1194    1807.0
Name: population, dtype: float64
1192    1806.0
1193    1806.5
1194    1807.0
Name: population, dtype: float64
nan
1192   -1.0
1193   -1.0
1194   -1.0
Name: transit_ridership, dtype: float64
1192   -1.0
1193   -1.0
1194   -1.0
Name: transit_ridership, dtype: float64
1.26
1192    1.26
1193    1.26
1194    1.26
Name: street_connectivity, dtype: float64
1192    1.26
1193    1.26
1194    1.26
Name: street_connectivity, dtype: float64
1.65
1192    1.70
1193    1.65
1194    1.60
Name: bicycle_friendliness, dtype: float64
1192    1.70
1193    1.65
1194    1.60
Name: bicycle_friendliness, dtype: float64
12.8275
1195     1.25
1196    47.46
1197     1.45
1198     1.15
Name: Acres, dtype: float64
1195     1.25
1196    47.46
1197     1.45
1198     1.15
Name: Acres, dtype: float64
2.7
1195    2.7
1196    2.7
1197    2.7
1198    2.7
Name: births_to_adolescents, dtype: float64
1195    2.7
1196    2.7
1197    2.7
1198    2.7
Name: births_to_adolescents, dtype: float64
0.0
1195    0.0
1196    0.0
1197    0.0
1198    0.0
Name: grocery_proximate_units, dtype: float64
1195    0.0
1196    0.0
1197    0.0
1198    0.0
Name: grocery_proximate_units, dtype: float64
46.0
1195    46.0
1196    46.0
1197    46.0
1198    46.0
Name: prenatal_care, dtype: float64
1195    46.0
1196    46.0
1197    46.0
1198    46.0
Name: prenatal_care, dtype: float64
0.0
1195    0.0
1196    0.0
1197    0.0
1198    0.0
Name: grocery_proximity, dtype: float64
1195    0.0
1196    0.0
1197    0.0
1198    0.0
Name: grocery_proximity, dtype: float64
12.2
1195    12.2
1196    12.2
1197    12.2
1198    12.2
Name: low_birthweight, dtype: float64
1195    12.2
1196    12.2
1197    12.2
1198    12.2
Name: low_birthweight, dtype: float64
nan
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: public_health_insurance, dtype: float64
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: public_health_insurance, dtype: float64
60.0
1195    60.0
1196    60.0
1197    60.0
1198    60.0
Name: age_of_death, dtype: float64
1195    60.0
1196    60.0
1197    60.0
1198    60.0
Name: age_of_death, dtype: float64
16.400000000000002
1195    15.6
1196    16.8
1197    16.8
1198    16.4
Name: impervious_surface, dtype: float64
1195    15.6
1196    16.8
1197    16.8
1198    16.4
Name: impervious_surface, dtype: float64
139.0
1195    139.0
1196    139.0
1197    139.0
1198    139.0
Name: water_consumption, dtype: float64
1195    139.0
1196    139.0
1197    139.0
1198    139.0
Name: water_consumption, dtype: float64
71.6
1195    71.6
1196    71.6
1197    71.6
1198    71.6
Name: neighborhood_school_attendance, dtype: float64
1195    71.6
1196    71.6
1197    71.6
1198    71.6
Name: neighborhood_school_attendance, dtype: float64
80.0
1195    80.0
1196    80.0
1197    80.0
1198    80.0
Name: highschool_graduation_rate, dtype: float64
1195    80.0
1196    80.0
1197    80.0
1198    80.0
Name: highschool_graduation_rate, dtype: float64
17.31
1195    17.31
1196    17.31
1197    17.31
1198    17.31
Name: proficiency_elementary_school, dtype: float64
1195    17.31
1196    17.31
1197    17.31
1198    17.31
Name: proficiency_elementary_school, dtype: float64
8.6
1195    8.6
1196    8.6
1197    8.6
1198    8.6
Name: proficiency_middle_school, dtype: float64
1195    8.6
1196    8.6
1197    8.6
1198    8.6
Name: proficiency_middle_school, dtype: float64
nan
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: proficiency_high_school, dtype: float64
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: proficiency_high_school, dtype: float64
31.0
1195    31.0
1196    31.0
1197    31.0
1198    31.0
Name: student_absenteeism, dtype: float64
1195    31.0
1196    31.0
1197    31.0
1198    31.0
Name: student_absenteeism, dtype: float64
257.0
1195    329.0
1196    221.0
1197    221.0
1198    257.0
Name: voters_participating, dtype: float64
1195    329.0
1196    221.0
1197    221.0
1198    257.0
Name: voters_participating, dtype: float64
nan
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: neighborhood_organizations, dtype: float64
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: neighborhood_organizations, dtype: float64
50.666666666666664
1195    62.000000
1196    45.000000
1197    45.000000
1198    50.666667
Name: voter_participation, dtype: float64
1195    62.000000
1196    45.000000
1197    45.000000
1198    50.666667
Name: voter_participation, dtype: float64
37.0
1195    37.0
1196    37.0
1197    37.0
1198    37.0
Name: vacant_land, dtype: float64
1195    37.0
1196    37.0
1197    37.0
1198    37.0
Name: vacant_land, dtype: float64
2.0
1195    2.0
1196    2.0
1197    2.0
1198    2.0
Name: population_density, dtype: float64
1195    2.0
1196    2.0
1197    2.0
1198    2.0
Name: population_density, dtype: float64
1609.0
1195    1487.0
1196    1670.0
1197    1670.0
1198    1609.0
Name: population, dtype: float64
1195    1487.0
1196    1670.0
1197    1670.0
1198    1609.0
Name: population, dtype: float64
nan
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: transit_ridership, dtype: float64
1195   -1.0
1196   -1.0
1197   -1.0
1198   -1.0
Name: transit_ridership, dtype: float64
1.1833333333333333
1195    1.170000
1196    1.190000
1197    1.190000
1198    1.183333
Name: street_connectivity, dtype: float64
1195    1.170000
1196    1.190000
1197    1.190000
1198    1.183333
Name: street_connectivity, dtype: float64
1.2333333333333334
1195    1.300000
1196    1.200000
1197    1.200000
1198    1.233333
Name: bicycle_friendliness, dtype: float64
1195    1.300000
1196    1.200000
1197    1.200000
1198    1.233333
Name: bicycle_friendliness, dtype: float64
62.156666666666666
1199    15.87
1200    85.30
1201    85.30
Name: Acres, dtype: float64
1199    15.87
1200    85.30
1201    85.30
Name: Acres, dtype: float64
7.333333333333333
1199    3.2
1200    9.4
1201    9.4
Name: births_to_adolescents, dtype: float64
1199    3.2
1200    9.4
1201    9.4
Name: births_to_adolescents, dtype: float64
288.0
1199    288.0
1200    288.0
1201    288.0
Name: grocery_proximate_units, dtype: float64
1199    288.0
1200    288.0
1201    288.0
Name: grocery_proximate_units, dtype: float64
54.73333333333333
1199    64.2
1200    50.0
1201    50.0
Name: prenatal_care, dtype: float64
1199    64.2
1200    50.0
1201    50.0
Name: prenatal_care, dtype: float64
24.0
1199    20.0
1200    26.0
1201    26.0
Name: grocery_proximity, dtype: float64
1199    20.0
1200    26.0
1201    26.0
Name: grocery_proximity, dtype: float64
7.0
1199    8.4
1200    6.3
1201    6.3
Name: low_birthweight, dtype: float64
1199    8.4
1200    6.3
1201    6.3
Name: low_birthweight, dtype: float64
18.0
1199    18.0
1200    18.0
1201    18.0
Name: public_health_insurance, dtype: float64
1199    18.0
1200    18.0
1201    18.0
Name: public_health_insurance, dtype: float64
73.33333333333333
1199    66.0
1200    77.0
1201    77.0
Name: age_of_death, dtype: float64
1199    66.0
1200    77.0
1201    77.0
Name: age_of_death, dtype: float64
17.5
1199    17.5
1200    17.5
1201    17.5
Name: impervious_surface, dtype: float64
1199    17.5
1200    17.5
1201    17.5
Name: impervious_surface, dtype: float64
166.33333333333334
1199    157.0
1200    171.0
1201    171.0
Name: water_consumption, dtype: float64
1199    157.0
1200    171.0
1201    171.0
Name: water_consumption, dtype: float64
54.20666666666667
1199    58.40
1200    52.11
1201    52.11
Name: neighborhood_school_attendance, dtype: float64
1199    58.40
1200    52.11
1201    52.11
Name: neighborhood_school_attendance, dtype: float64
85.0
1199    97.0
1200    79.0
1201    79.0
Name: highschool_graduation_rate, dtype: float64
1199    97.0
1200    79.0
1201    79.0
Name: highschool_graduation_rate, dtype: float64
33.57253968253969
1199    41.67000
1200    29.52381
1201    29.52381
Name: proficiency_elementary_school, dtype: float64
1199    41.67000
1200    29.52381
1201    29.52381
Name: proficiency_elementary_school, dtype: float64
21.76138613861386
1199    23.700000
1200    20.792079
1201    20.792079
Name: proficiency_middle_school, dtype: float64
1199    23.700000
1200    20.792079
1201    20.792079
Name: proficiency_middle_school, dtype: float64
48.21609195402298
1199    41.200000
1200    51.724138
1201    51.724138
Name: proficiency_high_school, dtype: float64
1199    41.200000
1200    51.724138
1201    51.724138
Name: proficiency_high_school, dtype: float64
8.54480980012895

1199    9.000000
1200    8.317215
1201    8.317215
Name: student_absenteeism, dtype: float64
1199    9.000000
1200    8.317215
1201    8.317215
Name: student_absenteeism, dtype: float64
955.0
1199    1363.0
1200     751.0
1201     751.0
Name: voters_participating, dtype: float64
1199    1363.0
1200     751.0
1201     751.0
Name: voters_participating, dtype: float64
2.0
1199    2.0
1200    2.0
1201    2.0
Name: neighborhood_organizations, dtype: float64
1199    2.0
1200    2.0
1201    2.0
Name: neighborhood_organizations, dtype: float64
59.666666666666664
1199    73.0
1200    53.0
1201    53.0
Name: voter_participation, dtype: float64
1199    73.0
1200    53.0
1201    53.0
Name: voter_participation, dtype: float64
2.4
1199    2.4
1200    2.4
1201    2.4
Name: vacant_land, dtype: float64
1199    2.4
1200    2.4
1201    2.4
Name: vacant_land, dtype: float64
8.0
1199    8.0
1200    8.0
1201    8.0
Name: population_density, dtype: float64
1199    8.0
1200    8.0
1201    8.0
Name: population_density, dtype: float64
3912.0
1199    3912.0
1200    3912.0
1201    3912.0
Name: population, dtype: float64
1199    3912.0
1200    3912.0
1201    3912.0
Name: population, dtype: float64
20.0
1199    20.0
1200    20.0
1201    20.0
Name: transit_ridership, dtype: float64
1199    20.0
1200    20.0
1201    20.0
Name: transit_ridership, dtype: float64
1.17
1199    1.17
1200    1.17
1201    1.17
Name: street_connectivity, dtype: float64
1199    1.17
1200    1.17
1201    1.17
Name: street_connectivity, dtype: float64
1.5
1199    1.5
1200    1.5
1201    1.5
Name: bicycle_friendliness, dtype: float64
1199    1.5
1200    1.5
1201    1.5
Name: bicycle_friendliness, dtype: float64
0.43868999999999997
1202    0.56
1203    0.22
1204    0.18
1205    0.30
1206    0.49
Name: Acres, dtype: float64
1202    0.5600
1203    0.2200
1204    0.1800
1205    0.3000
1206    0.4900
1207    0.4800
1208    0.0939
1209    0.2400
1210    1.1400
1211    0.6830
Name: Acres, dtype: float64
0.0
1202    0.0
1203    0.0
1204    0.0
1205    0.0
1206    0.0
Name: births_to_adolescents, dtype: float64
1202    0.0
1203    0.0
1204    0.0
1205    0.0
1206    0.0
1207    0.0
1208    0.0
1209    0.0
1210    0.0
1211    0.0
Name: births_to_adolescents, dtype: float64
330.42857142857144
1202    330.428571
1203    490.000000
1204    330.428571
1205    490.000000
1206    208.000000
Name: grocery_proximate_units, dtype: float64
1202    330.428571
1203    490.000000
1204    330.428571
1205    490.000000
1206    208.000000
1207    208.000000
1208    213.000000
1209    330.428571
1210    214.000000
1211    490.000000
Name: grocery_proximate_units, dtype: float64
77.8
1202    77.8
1203    77.8
1204    77.8
1205    77.8
1206    77.8
Name: prenatal_care, dtype: float64
1202    77.8
1203    77.8
1204    77.8
1205    77.8
1206    77.8
1207    77.8
1208    77.8
1209    77.8
1210    77.8
1211    77.8
Name: prenatal_care, dtype: float64
50.42857142857143
1202    50.428571
1203    49.000000
1204    50.428571
1205    49.000000
1206    49.000000
Name: grocery_proximity, dtype: float64
1202    50.428571
1203    49.000000
1204    50.428571
1205    49.000000
1206    49.000000
1207    49.000000
1208    54.000000
1209    50.428571
1210    54.000000
1211    49.000000
Name: grocery_proximity, dtype: float64
16.7
1202    16.7
1203    16.7
1204    16.7
1205    16.7
1206    16.7
Name: low_birthweight, dtype: float64
1202    16.7
1203    16.7
1204    16.7
1205    16.7
1206    16.7
1207    16.7
1208    16.7
1209    16.7
1210    16.7
1211    16.7
Name: low_birthweight, dtype: float64
4.0
1202    4.0
1203    4.0
1204    4.0
1205    4.0
1206    5.0
Name: public_health_insurance, dtype: float64
1202    4.0
1203    4.0
1204    4.0
1205    4.0
1206    5.0
1207    5.0
1208    3.0
1209    4.0
1210    3.0
1211    4.0
Name: public_health_insurance, dtype: float64
73.0
1202    73.0
1203    73.0
1204    73.0
1205    73.0
1206    73.0
Name: age_of_death, dtype: float64
1202    73.0
1203    73.0
1204    73.0
1205    73.0
1206    73.0
1207    73.0
1208    73.0
1209    73.0
1210    73.0
1211    73.0
Name: age_of_death, dtype: float64
29.333333333333332
1202    29.333333
1203    30.400000
1204    29.333333
1205    30.400000
1206    29.100000
Name: impervious_surface, dtype: float64
1202    29.333333
1203    30.400000
1204    29.333333
1205    30.400000
1206    29.100000
1207    29.100000
1208    29.333333
1209    29.333333
1210    26.600000
1211    30.400000
Name: impervious_surface, dtype: float64
104.75
1202    104.75
1203    105.00
1204    104.75
1205    105.00
1206    104.75
Name: water_consumption, dtype: float64
1202    104.75
1203    105.00
1204    104.75
1205    105.00
1206    104.75
1207    104.75
1208    104.00
1209    104.75
1210    104.75
1211    105.00
Name: water_consumption, dtype: float64
29.1
1202    29.1
1203    29.1
1204    29.1
1205    29.1
1206    38.0
Name: neighborhood_school_attendance, dtype: float64
1202    29.10
1203    29.10
1204    29.10
1205    29.10
1206    38.00
1207    38.00
1208    22.22
1209    29.10
1210    18.18
1211    29.10
Name: neighborhood_school_attendance, dtype: float64
nan
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
Name: highschool_graduation_rate, dtype: float64
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
1207   -1.0
1208   -1.0
1209   -1.0
1210   -1.0
1211   -1.0
Name: highschool_graduation_rate, dtype: float64
62.5
1202    62.5
1203    62.5
1204    62.5
1205    62.5
1206    62.5
Name: proficiency_elementary_school, dtype: float64
1202    62.5
1203    62.5
1204    62.5
1205    62.5
1206    62.5
1207    62.5
1208    50.0
1209    62.5
1210    75.0
1211    62.5
Name: proficiency_elementary_school, dtype: float64
nan
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
Name: proficiency_middle_school, dtype: float64
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
1207   -1.0
1208   -1.0
1209   -1.0
1210   -1.0
1211   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
Name: proficiency_high_school, dtype: float64
1202   -1.0
1203   -1.0
1204   -1.0
1205   -1.0
1206   -1.0
1207   -1.0
1208   -1.0
1209   -1.0
1210   -1.0
1211   -1.0
Name: proficiency_high_school, dtype: float64
2.003205128205129
1202    2.003205
1203    2.003205
1204    2.003205
1205    2.003205
1206    0.000000
Name: student_absenteeism, dtype: float64
1202    2.003205
1203    2.003205
1204    2.003205
1205    2.003205
1206    0.000000
1207    0.000000
1208    3.846154
1209    2.003205
1210    4.166667
1211    2.003205
Name: student_absenteeism, dtype: float64
376.85714285714283
1202    376.857143
1203    613.000000
1204    376.857143
1205    613.000000
1206    232.000000
Name: voters_participating, dtype: float64
1202    376.857143
1203    613.000000
1204    376.857143
1205    613.000000
1206    232.000000
1207    232.000000
1208    232.000000
1209    376.857143
1210    103.000000
1211    613.000000
Name: voters_participating, dtype: float64
1.5
1202    1.5
1203    1.5
1204    1.5
1205    1.5
1206    1.5
Name: neighborhood_organizations, dtype: float64
1202    1.5
1203    1.5
1204    1.5
1205    1.5
1206    1.5
1207    1.5
1208    1.0
1209    1.5
1210    2.0
1211    1.5
Name: neighborhood_organizations, dtype: float64
45.42857142857143
1202    45.428571
1203    64.000000
1204    45.428571
1205    64.000000
1206    21.000000
Name: voter_participation, dtype: float64
1202    45.428571
1203    64.000000
1204    45.428571
1205    64.000000
1206    21.000000
1207    21.000000
1208    59.000000
1209    45.428571
1210    25.000000
1211    64.000000
Name: voter_participation, dtype: float64
11.1
1202    11.1
1203    11.1
1204    11.1
1205    11.1
1206    11.1
Name: vacant_land, dtype: float64
1202    11.1
1203    11.1
1204    11.1
1205    11.1
1206    11.1
1207    11.1
1208    11.1
1209    11.1
1210    11.1
1211    11.1
Name: vacant_land, dtype: float64
5.5
1202    5.5
1203    8.0
1204    5.5
1205    8.0
1206    3.0
Name: population_density, dtype: float64
1202    5.5
1203    8.0
1204    5.5
1205    8.0
1206    3.0
1207    3.0
1208    5.5
1209    5.5
1210    3.0
1211    8.0
Name: population_density, dtype: float64
1302.0
1202    1302.0
1203    1851.0
1204    1302.0
1205    1851.0
1206     759.0
Name: population, dtype: float64
1202    1302.0
1203    1851.0
1204    1302.0
1205    1851.0
1206     759.0
1207     759.0
1208    1302.0
1209    1302.0
1210     741.0
1211    1851.0
Name: population, dtype: float64
48.5
1202    48.5
1203    48.5
1204    48.5
1205    48.5
1206    48.5
Name: transit_ridership, dtype: float64
1202    48.5
1203    48.5
1204    48.5
1205    48.5
1206    48.5
1207    48.5
1208    47.0
1209    48.5
1210    50.0
1211    48.5
Name: transit_ridership, dtype: float64
1.2783333333333333
1202    1.278333
1203    1.270000
1204    1.278333
1205    1.270000
1206    1.280000
Name: street_connectivity, dtype: float64
1202    1.278333
1203    1.270000
1204    1.278333
1205    1.270000
1206    1.280000
1207    1.280000
1208    1.278333
1209    1.278333
1210    1.300000
1211    1.270000
Name: street_connectivity, dtype: float64
1.5999999999999999
1202    1.6
1203    1.6
1204    1.6
1205    1.6
1206    1.6
Name: bicycle_friendliness, dtype: float64
1202    1.6
1203    1.6
1204    1.6
1205    1.6
1206    1.6
1207    1.6
1208    1.6
1209    1.6
1210    1.6
1211    1.6
Name: bicycle_friendliness, dtype: float64
1.4
1212    1.4

Name: Acres, dtype: float64
1212    1.4
Name: Acres, dtype: float64
8.3
1212    8.3
Name: births_to_adolescents, dtype: float64
1212    8.3
Name: births_to_adolescents, dtype: float64
1167.0
1212    1167.0
Name: grocery_proximate_units, dtype: float64
1212    1167.0
Name: grocery_proximate_units, dtype: float64
52.4
1212    52.4
Name: prenatal_care, dtype: float64
1212    52.4
Name: prenatal_care, dtype: float64
81.0
1212    81.0
Name: grocery_proximity, dtype: float64
1212    81.0
Name: grocery_proximity, dtype: float64
8.3
1212    8.3
Name: low_birthweight, dtype: float64
1212    8.3
Name: low_birthweight, dtype: float64
31.0
1212    31.0
Name: public_health_insurance, dtype: float64
1212    31.0
Name: public_health_insurance, dtype: float64
59.0
1212    59.0
Name: age_of_death, dtype: float64
1212    59.0
Name: age_of_death, dtype: float64
nan
1212   -1.0
Name: impervious_surface, dtype: float64
1212   -1.0
Name: impervious_surface, dtype: float64
154.0
1212    154.0
Name: water_consumption, dtype: float64
1212    154.0
Name: water_consumption, dtype: float64
77.44
1212    77.44
Name: neighborhood_school_attendance, dtype: float64
1212    77.44
Name: neighborhood_school_attendance, dtype: float64
70.0
1212    70.0
Name: highschool_graduation_rate, dtype: float64
1212    70.0
Name: highschool_graduation_rate, dtype: float64
24.65753424657534
1212    24.657534
Name: proficiency_elementary_school, dtype: float64
1212    24.657534
Name: proficiency_elementary_school, dtype: float64
30.921052631578952
1212    30.921053
Name: proficiency_middle_school, dtype: float64
1212    30.921053
Name: proficiency_middle_school, dtype: float64
45.714285714285715
1212    45.714286
Name: proficiency_high_school, dtype: float64
1212    45.714286
Name: proficiency_high_school, dtype: float64
13.110181311018133
1212    13.110181
Name: student_absenteeism, dtype: float64
1212    13.110181
Name: student_absenteeism, dtype: float64
494.0
1212    494.0
Name: voters_participating, dtype: float64
1212    494.0
Name: voters_participating, dtype: float64
1.0
1212    1.0
Name: neighborhood_organizations, dtype: float64
1212    1.0
Name: neighborhood_organizations, dtype: float64
42.0
1212    42.0
Name: voter_participation, dtype: float64
1212    42.0
Name: voter_participation, dtype: float64
nan
1212   -1.0
Name: vacant_land, dtype: float64
1212   -1.0
Name: vacant_land, dtype: float64
nan
1212   -1.0
Name: population_density, dtype: float64
1212   -1.0
Name: population_density, dtype: float64
nan
1212   -1.0
Name: population, dtype: float64
1212   -1.0
Name: population, dtype: float64
76.0
1212    76.0
Name: transit_ridership, dtype: float64
1212    76.0
Name: transit_ridership, dtype: float64
nan
1212   -1.0
Name: street_connectivity, dtype: float64
1212   -1.0
Name: street_connectivity, dtype: float64
nan
1212   -1.0
Name: bicycle_friendliness, dtype: float64
1212   -1.0
Name: bicycle_friendliness, dtype: float64
12.089999999999998
1213     1.13
1214    17.57
1215    17.57
Name: Acres, dtype: float64
1213     1.13
1214    17.57
1215    17.57
Name: Acres, dtype: float64
3.9
1213    3.9
1214    3.9
1215    3.9
Name: births_to_adolescents, dtype: float64
1213    3.9
1214    3.9
1215    3.9
Name: births_to_adolescents, dtype: float64
0.0
1213    0.0
1214    0.0
1215    0.0
Name: grocery_proximate_units, dtype: float64
1213    0.0
1214    0.0
1215    0.0
Name: grocery_proximate_units, dtype: float64
43.1
1213    43.1
1214    43.1
1215    43.1
Name: prenatal_care, dtype: float64
1213    43.1
1214    43.1
1215    43.1
Name: prenatal_care, dtype: float64
0.0
1213    0.0
1214    0.0
1215    0.0
Name: grocery_proximity, dtype: float64
1213    0.0
1214    0.0
1215    0.0
Name: grocery_proximity, dtype: float64
25.5
1213    25.5
1214    25.5
1215    25.5
Name: low_birthweight, dtype: float64
1213    25.5
1214    25.5
1215    25.5
Name: low_birthweight, dtype: float64
46.0
1213    42.0
1214    48.0
1215    48.0
Name: public_health_insurance, dtype: float64
1213    42.0
1214    48.0
1215    48.0
Name: public_health_insurance, dtype: float64
65.0
1213    65.0
1214    65.0
1215    65.0
Name: age_of_death, dtype: float64
1213    65.0
1214    65.0
1215    65.0
Name: age_of_death, dtype: float64
13.6
1213    13.6
1214    13.6
1215    13.6
Name: impervious_surface, dtype: float64
1213    13.6
1214    13.6
1215    13.6
Name: impervious_surface, dtype: float64
121.0
1213    121.0
1214    121.0
1215    121.0
Name: water_consumption, dtype: float64
1213    121.0
1214    121.0
1215    121.0
Name: water_consumption, dtype: float64
81.71
1213    81.13
1214    82.00
1215    82.00
Name: neighborhood_school_attendance, dtype: float64
1213    81.13
1214    82.00
1215    82.00
Name: neighborhood_school_attendance, dtype: float64
64.0
1213    64.0
1214    64.0
1215    64.0
Name: highschool_graduation_rate, dtype: float64
1213    64.0
1214    64.0
1215    64.0
Name: highschool_graduation_rate, dtype: float64
25.026356589147287
1213    16.27907
1214    29.40000
1215    29.40000
Name: proficiency_elementary_school, dtype: float64
1213    16.27907
1214    29.40000
1215    29.40000
Name: proficiency_elementary_school, dtype: float64
22.701075268817206
1213    12.903226
1214    27.600000
1215    27.600000
Name: proficiency_middle_school, dtype: float64
1213    12.903226
1214    27.600000
1215    27.600000
Name: proficiency_middle_school, dtype: float64
60.0
1213    60.0
1214    60.0
1215    60.0
Name: proficiency_high_school, dtype: float64
1213    60.0
1214    60.0
1215    60.0
Name: proficiency_high_school, dtype: float64
15.861471861471863
1213    15.584416
1214    16.000000
1215    16.000000
Name: student_absenteeism, dtype: float64
1213    15.584416
1214    16.000000
1215    16.000000
Name: student_absenteeism, dtype: float64
127.0
1213    203.0
1214     89.0
1215     89.0
Name: voters_participating, dtype: float64
1213    203.0
1214     89.0
1215     89.0
Name: voters_participating, dtype: float64
0.0
1213    0.0
1214    0.0
1215    0.0
Name: neighborhood_organizations, dtype: float64
1213    0.0
1214    0.0
1215    0.0
Name: neighborhood_organizations, dtype: float64
24.666666666666668
1213    46.0
1214    14.0
1215    14.0
Name: voter_participation, dtype: float64
1213    46.0
1214    14.0
1215    14.0
Name: voter_participation, dtype: float64
18.8
1213    18.8
1214    18.8
1215    18.8
Name: vacant_land, dtype: float64
1213    18.8
1214    18.8
1215    18.8
Name: vacant_land, dtype: float64
5.0
1213    5.0
1214    5.0
1215    5.0
Name: population_density, dtype: float64
1213    5.0
1214    5.0
1215    5.0
Name: population_density, dtype: float64
806.0
1213    806.0
1214    806.0
1215    806.0
Name: population, dtype: float64
1213    806.0
1214    806.0
1215    806.0
Name: population, dtype: float64
14.0
1213    14.0
1214    14.0
1215    14.0
Name: transit_ridership, dtype: float64
1213    14.0
1214    14.0
1215    14.0
Name: transit_ridership, dtype: float64
1.12
1213    1.12
1214    1.12
1215    1.12
Name: street_connectivity, dtype: float64
1213    1.12
1214    1.12
1215    1.12
Name: street_connectivity, dtype: float64
1.4
1213    1.4
1214    1.4
1215    1.4
Name: bicycle_friendliness, dtype: float64
1213    1.4
1214    1.4
1215    1.4
Name: bicycle_friendliness, dtype: float64
2.715
1216    3.69
1217    1.74
Name: Acres, dtype: float64
1216    3.69
1217    1.74
Name: Acres, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: births_to_adolescents, dtype: float64
1216   -1.0
1217   -1.0
Name: births_to_adolescents, dtype: float64
246.5
1216    266.0
1217    227.0
Name: grocery_proximate_units, dtype: float64
1216    266.0
1217    227.0
Name: grocery_proximate_units, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: prenatal_care, dtype: float64
1216   -1.0
1217   -1.0
Name: prenatal_care, dtype: float64
29.0
1216    29.0
1217    29.0
Name: grocery_proximity, dtype: float64
1216    29.0
1217    29.0
Name: grocery_proximity, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: low_birthweight, dtype: float64
1216   -1.0
1217   -1.0
Name: low_birthweight, dtype: float64
9.0
1216    9.0
1217    9.0
Name: public_health_insurance, dtype: float64
1216    9.0
1217    9.0
Name: public_health_insurance, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: age_of_death, dtype: float64
1216   -1.0
1217   -1.0
Name: age_of_death, dtype: float64
16.4
1216    16.4
1217    16.4
Name: impervious_surface, dtype: float64
1216    16.4
1217    16.4
Name: impervious_surface, dtype: float64
137.0
1216    137.0
1217    137.0
Name: water_consumption, dtype: float64
1216    137.0
1217    137.0
Name: water_consumption, dtype: float64
50.0
1216    50.0
1217    50.0
Name: neighborhood_school_attendance, dtype: float64
1216    50.0
1217    50.0
Name: neighborhood_school_attendance, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: highschool_graduation_rate, dtype: float64
1216   -1.0
1217   -1.0
Name: highschool_graduation_rate, dtype: float64
71.4
1216    71.4
1217    71.4
Name: proficiency_elementary_school, dtype: float64
1216    71.4
1217    71.4
Name: proficiency_elementary_school, dtype: float64
65.0
1216    65.0
1217    65.0
Name: proficiency_middle_school, dtype: float64
1216    65.0
1217    65.0
Name: proficiency_middle_school, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: proficiency_high_school, dtype: float64
1216   -1.0
1217   -1.0
Name: proficiency_high_school, dtype: float64
9.0
1216    9.0
1217    9.0
Name: student_absenteeism, dtype: float64
1216    9.0
1217    9.0
Name: student_absenteeism, dtype: float64
520.5

1216    335.0
1217    706.0
Name: voters_participating, dtype: float64
1216    335.0
1217    706.0
Name: voters_participating, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: neighborhood_organizations, dtype: float64
1216   -1.0
1217   -1.0
Name: neighborhood_organizations, dtype: float64
49.0
1216    28.0
1217    70.0
Name: voter_participation, dtype: float64
1216    28.0
1217    70.0
Name: voter_participation, dtype: float64
6.8
1216    6.8
1217    6.8
Name: vacant_land, dtype: float64
1216    6.8
1217    6.8
Name: vacant_land, dtype: float64
5.0
1216    5.0
1217    5.0
Name: population_density, dtype: float64
1216    5.0
1217    5.0
Name: population_density, dtype: float64
1851.5
1216    1850.0
1217    1853.0
Name: population, dtype: float64
1216    1850.0
1217    1853.0
Name: population, dtype: float64
nan
1216   -1.0
1217   -1.0
Name: transit_ridership, dtype: float64
1216   -1.0
1217   -1.0
Name: transit_ridership, dtype: float64
1.13
1216    1.13
1217    1.13
Name: street_connectivity, dtype: float64
1216    1.13
1217    1.13
Name: street_connectivity, dtype: float64
1.6
1216    1.6
1217    1.6
Name: bicycle_friendliness, dtype: float64
1216    1.6
1217    1.6
Name: bicycle_friendliness, dtype: float64
16.98
1218    16.98
1219    16.98
1220    16.98
Name: Acres, dtype: float64
1218    16.98
1219    16.98
1220    16.98
Name: Acres, dtype: float64
nan
1218   -1.0
1219   -1.0
1220   -1.0
Name: births_to_adolescents, dtype: float64
1218   -1.0
1219   -1.0
1220   -1.0
Name: births_to_adolescents, dtype: float64
153.0
1218    153.0
1219    153.0
1220    153.0
Name: grocery_proximate_units, dtype: float64
1218    153.0
1219    153.0
1220    153.0
Name: grocery_proximate_units, dtype: float64
nan
1218   -1.0
1219   -1.0
1220   -1.0
Name: prenatal_care, dtype: float64
1218   -1.0
1219   -1.0
1220   -1.0
Name: prenatal_care, dtype: float64
14.0
1218    14.0
1219    14.0
1220    14.0
Name: grocery_proximity, dtype: float64
1218    14.0
1219    14.0
1220    14.0
Name: grocery_proximity, dtype: float64
nan
1218   -1.0
1219   -1.0
1220   -1.0
Name: low_birthweight, dtype: float64
1218   -1.0
1219   -1.0
1220   -1.0
Name: low_birthweight, dtype: float64
23.0
1218    23.0
1219    23.0
1220    23.0
Name: public_health_insurance, dtype: float64
1218    23.0
1219    23.0
1220    23.0
Name: public_health_insurance, dtype: float64
nan
1218   -1.0
1219   -1.0
1220   -1.0
Name: age_of_death, dtype: float64
1218   -1.0
1219   -1.0
1220   -1.0
Name: age_of_death, dtype: float64
21.8
1218    21.8
1219    21.8
1220    21.8
Name: impervious_surface, dtype: float64
1218    21.8
1219    21.8
1220    21.8
Name: impervious_surface, dtype: float64
nan
1218   -1.0
1219   -1.0
1220   -1.0
Name: water_consumption, dtype: float64
1218   -1.0
1219   -1.0
1220   -1.0
Name: water_consumption, dtype: float64
56.75
1218    56.75
1219    56.75
1220    56.75
Name: neighborhood_school_attendance, dtype: float64
1218    56.75
1219    56.75
1220    56.75
Name: neighborhood_school_attendance, dtype: float64
90.0
1218    90.0
1219    90.0
1220    90.0
Name: highschool_graduation_rate, dtype: float64
1218    90.0
1219    90.0
1220    90.0
Name: highschool_graduation_rate, dtype: float64
46.086956521739104
1218    46.086957
1219    46.086957
1220    46.086957
Name: proficiency_elementary_school, dtype: float64
1218    46.086957
1219    46.086957
1220    46.086957
Name: proficiency_elementary_school, dtype: float64
26.13
1218    26.13
1219    26.13
1220    26.13
Name: proficiency_middle_school, dtype: float64
1218    26.13
1219    26.13
1220    26.13
Name: proficiency_middle_school, dtype: float64
47.06
1218    47.06
1219    47.06
1220    47.06
Name: proficiency_high_school, dtype: float64
1218    47.06
1219    47.06
1220    47.06
Name: proficiency_high_school, dtype: float64
10.3238866396761
1218    10.323887
1219    10.323887
1220    10.323887
Name: student_absenteeism, dtype: float64
1218    10.323887
1219    10.323887
1220    10.323887
Name: student_absenteeism, dtype: float64
239.0
1218    239.0
1219    239.0
1220    239.0
Name: voters_participating, dtype: float64
1218    239.0
1219    239.0
1220    239.0
Name: voters_participating, dtype: float64
2.0
1218    2.0
1219    2.0
1220    2.0
Name: neighborhood_organizations, dtype: float64
1218    2.0
1219    2.0
1220    2.0
Name: neighborhood_organizations, dtype: float64
17.0
1218    17.0
1219    17.0
1220    17.0
Name: voter_participation, dtype: float64
1218    17.0
1219    17.0
1220    17.0
Name: voter_participation, dtype: float64
5.400000000000001
1218    5.4
1219    5.4
1220    5.4
Name: vacant_land, dtype: float64
1218    5.4
1219    5.4
1220    5.4
Name: vacant_land, dtype: float64
5.0
1218    5.0
1219    5.0
1220    5.0
Name: population_density, dtype: float64
1218    5.0
1219    5.0
1220    5.0
Name: population_density, dtype: float64
3305.0
1218    3305.0
1219    3305.0
1220    3305.0
Name: population, dtype: float64
1218    3305.0
1219    3305.0
1220    3305.0
Name: population, dtype: float64
25.0
1218    25.0
1219    25.0
1220    25.0
Name: transit_ridership, dtype: float64
1218    25.0
1219    25.0
1220    25.0
Name: transit_ridership, dtype: float64
1.14
1218    1.14
1219    1.14
1220    1.14
Name: street_connectivity, dtype: float64
1218    1.14
1219    1.14
1220    1.14
Name: street_connectivity, dtype: float64
1.5
1218    1.5
1219    1.5
1220    1.5
Name: bicycle_friendliness, dtype: float64
1218    1.5
1219    1.5
1220    1.5
Name: bicycle_friendliness, dtype: float64
2.21
1221    2.21
Name: Acres, dtype: float64
1221    2.21
Name: Acres, dtype: float64
0.0
1221    0.0
Name: births_to_adolescents, dtype: float64
1221    0.0
Name: births_to_adolescents, dtype: float64
344.0
1221    344.0
Name: grocery_proximate_units, dtype: float64
1221    344.0
Name: grocery_proximate_units, dtype: float64
85.0
1221    85.0
Name: prenatal_care, dtype: float64
1221    85.0
Name: prenatal_care, dtype: float64
72.0
1221    72.0
Name: grocery_proximity, dtype: float64
1221    72.0
Name: grocery_proximity, dtype: float64
2.5
1221    2.5
Name: low_birthweight, dtype: float64
1221    2.5
Name: low_birthweight, dtype: float64
12.0
1221    12.0
Name: public_health_insurance, dtype: float64
1221    12.0
Name: public_health_insurance, dtype: float64
75.0
1221    75.0
Name: age_of_death, dtype: float64
1221    75.0
Name: age_of_death, dtype: float64
nan
1221   -1.0
Name: impervious_surface, dtype: float64
1221   -1.0
Name: impervious_surface, dtype: float64
140.0
1221    140.0
Name: water_consumption, dtype: float64
1221    140.0
Name: water_consumption, dtype: float64
88.57
1221    88.57
Name: neighborhood_school_attendance, dtype: float64
1221    88.57
Name: neighborhood_school_attendance, dtype: float64
100.0
1221    100.0
Name: highschool_graduation_rate, dtype: float64
1221    100.0
Name: highschool_graduation_rate, dtype: float64
73.80952380952381
1221    73.809524
Name: proficiency_elementary_school, dtype: float64
1221    73.809524
Name: proficiency_elementary_school, dtype: float64
89.47368421052632
1221    89.473684
Name: proficiency_middle_school, dtype: float64
1221    89.473684
Name: proficiency_middle_school, dtype: float64
nan
1221   -1.0
Name: proficiency_high_school, dtype: float64
1221   -1.0
Name: proficiency_high_school, dtype: float64
4.316546762589929
1221    4.316547
Name: student_absenteeism, dtype: float64
1221    4.316547
Name: student_absenteeism, dtype: float64
391.0
1221    391.0
Name: voters_participating, dtype: float64
1221    391.0
Name: voters_participating, dtype: float64
1.0
1221    1.0
Name: neighborhood_organizations, dtype: float64
1221    1.0
Name: neighborhood_organizations, dtype: float64
60.0
1221    60.0
Name: voter_participation, dtype: float64
1221    60.0
Name: voter_participation, dtype: float64
nan
1221   -1.0
Name: vacant_land, dtype: float64
1221   -1.0
Name: vacant_land, dtype: float64
nan
1221   -1.0
Name: population_density, dtype: float64
1221   -1.0
Name: population_density, dtype: float64
nan
1221   -1.0
Name: population, dtype: float64
1221   -1.0
Name: population, dtype: float64
95.0
1221    95.0
Name: transit_ridership, dtype: float64
1221    95.0
Name: transit_ridership, dtype: float64
nan
1221   -1.0
Name: street_connectivity, dtype: float64
1221   -1.0
Name: street_connectivity, dtype: float64
nan
1221   -1.0
Name: bicycle_friendliness, dtype: float64
1221   -1.0
Name: bicycle_friendliness, dtype: float64
2.44675
1222    3.310
1223    1.950
1224    3.310
1225    1.217
Name: Acres, dtype: float64
1222    3.310
1223    1.950
1224    3.310
1225    1.217
Name: Acres, dtype: float64
6.666666666666667
1222    6.400000
1223    7.200000
1224    6.400000
1225    6.666667
Name: births_to_adolescents, dtype: float64
1222    6.400000
1223    7.200000
1224    6.400000
1225    6.666667
Name: births_to_adolescents, dtype: float64
265.0
1222    265.0
1223    265.0
1224    265.0
1225    265.0
Name: grocery_proximate_units, dtype: float64
1222    265.0
1223    265.0
1224    265.0
1225    265.0
Name: grocery_proximate_units, dtype: float64
52.86666666666667
1222    56.400000
1223    45.800000
1224    56.400000
1225    52.866667
Name: prenatal_care, dtype: float64
1222    56.400000
1223    45.800000
1224    56.400000
1225    52.866667
Name: prenatal_care, dtype: float64
30.0
1222    30.0
1223    30.0
1224    30.0
1225    30.0
Name: grocery_proximity, dtype: float64
1222    30.0
1223    30.0
1224    30.0
1225    30.0
Name: grocery_proximity, dtype: float64
7.933333333333334
1222    7.700000
1223    8.400000
1224    7.700000
1225    7.933333
Name: low_birthweight, dtype: float64
1222    7.700000
1223    8.400000
1224    7.700000
1225    7.933333
Name: low_birthweight, dtype: float64
26.0
1222    26.0
1223    26.0
1224    26.0
1225    26.0
Name: public_health_insurance, dtype: float64
1222    26.0
1223    26.0
1224    26.0
1225    26.0
Name: public_health_insurance, dtype: float64
64.0
1222    62.0
1223    68.0
1224    62.0
1225    64.0
Name: age_of_death, dtype: float64
1222    62.0
1223    68.0
1224    62.0
1225    64.0
Name: age_of_death, dtype: float64
21.1
1222    21.1
1223    21.1
1224    21.1
1225    21.1
Name: impervious_surface, dtype: float64
1222    21.1
1223    21.1
1224    21.1
1225    21.1
Name: impervious_surface, dtype: float64
150.33333333333334
1222    150.000000
1223    151.000000
1224    150.000000
1225    150.333333
Name: water_consumption, dtype: float64
1222    150.000000
1223    151.000000
1224    150.000000
1225    150.333333
Name: water_consumption, dtype: float64
78.25333333333334
1222    77.430000
1223    79.900000
1224    77.430000
1225    78.253333
Name: neighborhood_school_attendance, dtype: float64
1222    77.430000
1223    79.900000
1224    77.430000
1225    78.253333
Name: neighborhood_school_attendance, dtype: float64
77.66666666666667
1222    74.000000
1223    85.000000
1224    74.000000
1225    77.666667
Name: highschool_graduation_rate, dtype: float64
1222    74.000000
1223    85.000000
1224    74.000000
1225    77.666667
Name: highschool_graduation_rate, dtype: float64
33.03565217391304
1222    33.043478
1223    33.020000
1224    33.043478
1225    33.035652
Name: proficiency_elementary_school, dtype: float64
1222    33.043478
1223    33.020000
1224    33.043478
1225    33.035652
Name: proficiency_elementary_school, dtype: float64
21.413813813813814
1222    20.720721
1223    22.800000
1224    20.720721
1225    21.413814
Name: proficiency_middle_school, dtype: float64
1222    20.720721
1223    22.800000
1224    20.720721
1225    21.413814
Name: proficiency_middle_school, dtype: float64
37.81481481481482
1222    42.222222
1223    29.000000
1224    42.222222
1225    37.814815
Name: proficiency_high_school, dtype: float64
1222    42.222222
1223    29.000000
1224    42.222222
1225    37.814815
Name: proficiency_high_school, dtype: float64
15.434343434343434
1222    15.151515
1223    16.000000
1224    15.151515
1225    15.434343
Name: student_absenteeism, dtype: float64
1222    15.151515
1223    16.000000
1224    15.151515
1225    15.434343
Name: student_absenteeism, dtype: float64
742.6666666666666
1222     602.000000
1223    1024.000000
1224     602.000000
1225     742.666667
Name: voters_participating, dtype: float64
1222     602.000000
1223    1024.000000
1224     602.000000
1225     742.666667
Name: voters_participating, dtype: float64
0.0
1222    0.0
1223    0.0
1224    0.0
1225    0.0
Name: neighborhood_organizations, dtype: float64
1222    0.0
1223    0.0
1224    0.0
1225    0.0
Name: neighborhood_organizations, dtype: float64
50.0
1222    43.0
1223    64.0
1224    43.0
1225    50.0
Name: voter_participation, dtype: float64
1222    43.0
1223    64.0
1224    43.0
1225    50.0
Name: voter_participation, dtype: float64
3.5

1222    3.5
1223    3.5
1224    3.5
1225    3.5
Name: vacant_land, dtype: float64
1222    3.5
1223    3.5
1224    3.5
1225    3.5
Name: vacant_land, dtype: float64
5.0
1222    5.0
1223    5.0
1224    5.0
1225    5.0
Name: population_density, dtype: float64
1222    5.0
1223    5.0
1224    5.0
1225    5.0
Name: population_density, dtype: float64
2608.0
1222    2608.0
1223    2608.0
1224    2608.0
1225    2608.0
Name: population, dtype: float64
1222    2608.0
1223    2608.0
1224    2608.0
1225    2608.0
Name: population, dtype: float64
42.0
1222    42.0
1223    42.0
1224    42.0
1225    42.0
Name: transit_ridership, dtype: float64
1222    42.0
1223    42.0
1224    42.0
1225    42.0
Name: transit_ridership, dtype: float64
1.07
1222    1.07
1223    1.07
1224    1.07
1225    1.07
Name: street_connectivity, dtype: float64
1222    1.07
1223    1.07
1224    1.07
1225    1.07
Name: street_connectivity, dtype: float64
1.6
1222    1.6
1223    1.6
1224    1.6
1225    1.6
Name: bicycle_friendliness, dtype: float64
1222    1.6
1223    1.6
1224    1.6
1225    1.6
Name: bicycle_friendliness, dtype: float64
4.61
1226    4.61
Name: Acres, dtype: float64
1226    4.61
Name: Acres, dtype: float64
nan
1226   -1.0
Name: births_to_adolescents, dtype: float64
1226   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1226    0.0
Name: grocery_proximate_units, dtype: float64
1226    0.0
Name: grocery_proximate_units, dtype: float64
nan
1226   -1.0
Name: prenatal_care, dtype: float64
1226   -1.0
Name: prenatal_care, dtype: float64
0.0
1226    0.0
Name: grocery_proximity, dtype: float64
1226    0.0
Name: grocery_proximity, dtype: float64
nan
1226   -1.0
Name: low_birthweight, dtype: float64
1226   -1.0
Name: low_birthweight, dtype: float64
9.0
1226    9.0
Name: public_health_insurance, dtype: float64
1226    9.0
Name: public_health_insurance, dtype: float64
nan
1226   -1.0
Name: age_of_death, dtype: float64
1226   -1.0
Name: age_of_death, dtype: float64
5.9
1226    5.9
Name: impervious_surface, dtype: float64
1226    5.9
Name: impervious_surface, dtype: float64
nan
1226   -1.0
Name: water_consumption, dtype: float64
1226   -1.0
Name: water_consumption, dtype: float64
67.0
1226    67.0
Name: neighborhood_school_attendance, dtype: float64
1226    67.0
Name: neighborhood_school_attendance, dtype: float64
86.0
1226    86.0
Name: highschool_graduation_rate, dtype: float64
1226    86.0
Name: highschool_graduation_rate, dtype: float64
42.9
1226    42.9
Name: proficiency_elementary_school, dtype: float64
1226    42.9
Name: proficiency_elementary_school, dtype: float64
52.0
1226    52.0
Name: proficiency_middle_school, dtype: float64
1226    52.0
Name: proficiency_middle_school, dtype: float64
nan
1226   -1.0
Name: proficiency_high_school, dtype: float64
1226   -1.0
Name: proficiency_high_school, dtype: float64
15.0
1226    15.0
Name: student_absenteeism, dtype: float64
1226    15.0
Name: student_absenteeism, dtype: float64
413.0
1226    413.0
Name: voters_participating, dtype: float64
1226    413.0
Name: voters_participating, dtype: float64
nan
1226   -1.0
Name: neighborhood_organizations, dtype: float64
1226   -1.0
Name: neighborhood_organizations, dtype: float64
30.0
1226    30.0
Name: voter_participation, dtype: float64
1226    30.0
Name: voter_participation, dtype: float64
28.8
1226    28.8
Name: vacant_land, dtype: float64
1226    28.8
Name: vacant_land, dtype: float64
1.0
1226    1.0
Name: population_density, dtype: float64
1226    1.0
Name: population_density, dtype: float64
1669.0
1226    1669.0
Name: population, dtype: float64
1226    1669.0
Name: population, dtype: float64
nan
1226   -1.0
Name: transit_ridership, dtype: float64
1226   -1.0
Name: transit_ridership, dtype: float64
1.05
1226    1.05
Name: street_connectivity, dtype: float64
1226    1.05
Name: street_connectivity, dtype: float64
1.1
1226    1.1
Name: bicycle_friendliness, dtype: float64
1226    1.1
Name: bicycle_friendliness, dtype: float64
15.954333333333333
1227     8.693
1228    38.830
1229     0.340
Name: Acres, dtype: float64
1227     8.693
1228    38.830
1229     0.340
Name: Acres, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: births_to_adolescents, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: births_to_adolescents, dtype: float64
252.0
1227    252.0
1228    252.0
1229    252.0
Name: grocery_proximate_units, dtype: float64
1227    252.0
1228    252.0
1229    252.0
Name: grocery_proximate_units, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: prenatal_care, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: prenatal_care, dtype: float64
60.0
1227    60.0
1228    60.0
1229    60.0
Name: grocery_proximity, dtype: float64
1227    60.0
1228    60.0
1229    60.0
Name: grocery_proximity, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: low_birthweight, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: low_birthweight, dtype: float64
34.0
1227    34.0
1228    34.0
1229    34.0
Name: public_health_insurance, dtype: float64
1227    34.0
1228    34.0
1229    34.0
Name: public_health_insurance, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: age_of_death, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: age_of_death, dtype: float64
18.3
1227    18.3
1228    18.3
1229    18.3
Name: impervious_surface, dtype: float64
1227    18.3
1228    18.3
1229    18.3
Name: impervious_surface, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: water_consumption, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: water_consumption, dtype: float64
57.0
1227    57.0
1228    57.0
1229    57.0
Name: neighborhood_school_attendance, dtype: float64
1227    57.0
1228    57.0
1229    57.0
Name: neighborhood_school_attendance, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: highschool_graduation_rate, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: highschool_graduation_rate, dtype: float64
34.5
1227    34.5
1228    34.5
1229    34.5
Name: proficiency_elementary_school, dtype: float64
1227    34.5
1228    34.5
1229    34.5
Name: proficiency_elementary_school, dtype: float64
37.5
1227    37.5
1228    37.5
1229    37.5
Name: proficiency_middle_school, dtype: float64
1227    37.5
1228    37.5
1229    37.5
Name: proficiency_middle_school, dtype: float64
40.0
1227    40.0
1228    40.0
1229    40.0
Name: proficiency_high_school, dtype: float64
1227    40.0
1228    40.0
1229    40.0
Name: proficiency_high_school, dtype: float64
14.0
1227    14.0
1228    14.0
1229    14.0
Name: student_absenteeism, dtype: float64
1227    14.0
1228    14.0
1229    14.0
Name: student_absenteeism, dtype: float64
181.0
1227    181.0
1228    181.0
1229    181.0
Name: voters_participating, dtype: float64
1227    181.0
1228    181.0
1229    181.0
Name: voters_participating, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: neighborhood_organizations, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: neighborhood_organizations, dtype: float64
23.0
1227    23.0
1228    23.0
1229    23.0
Name: voter_participation, dtype: float64
1227    23.0
1228    23.0
1229    23.0
Name: voter_participation, dtype: float64
17.1
1227    17.1
1228    17.1
1229    17.1
Name: vacant_land, dtype: float64
1227    17.1
1228    17.1
1229    17.1
Name: vacant_land, dtype: float64
2.0
1227    2.0
1228    2.0
1229    2.0
Name: population_density, dtype: float64
1227    2.0
1228    2.0
1229    2.0
Name: population_density, dtype: float64
1096.0
1227    1096.0
1228    1096.0
1229    1096.0
Name: population, dtype: float64
1227    1096.0
1228    1096.0
1229    1096.0
Name: population, dtype: float64
nan
1227   -1.0
1228   -1.0
1229   -1.0
Name: transit_ridership, dtype: float64
1227   -1.0
1228   -1.0
1229   -1.0
Name: transit_ridership, dtype: float64
1.25
1227    1.25
1228    1.25
1229    1.25
Name: street_connectivity, dtype: float64
1227    1.25
1228    1.25
1229    1.25
Name: street_connectivity, dtype: float64
1.5
1227    1.5
1228    1.5
1229    1.5
Name: bicycle_friendliness, dtype: float64
1227    1.5
1228    1.5
1229    1.5
Name: bicycle_friendliness, dtype: float64
13.21
1230    13.21
Name: Acres, dtype: float64
1230    13.21
Name: Acres, dtype: float64
nan
1230   -1.0
Name: births_to_adolescents, dtype: float64
1230   -1.0
Name: births_to_adolescents, dtype: float64
nan
1230   -1.0
Name: grocery_proximate_units, dtype: float64
1230   -1.0
Name: grocery_proximate_units, dtype: float64
nan
1230   -1.0
Name: prenatal_care, dtype: float64
1230   -1.0
Name: prenatal_care, dtype: float64
nan
1230   -1.0
Name: grocery_proximity, dtype: float64
1230   -1.0
Name: grocery_proximity, dtype: float64
nan
1230   -1.0
Name: low_birthweight, dtype: float64
1230   -1.0
Name: low_birthweight, dtype: float64
nan
1230   -1.0
Name: public_health_insurance, dtype: float64
1230   -1.0
Name: public_health_insurance, dtype: float64
nan
1230   -1.0
Name: age_of_death, dtype: float64
1230   -1.0
Name: age_of_death, dtype: float64
nan
1230   -1.0
Name: impervious_surface, dtype: float64
1230   -1.0
Name: impervious_surface, dtype: float64
nan
1230   -1.0
Name: water_consumption, dtype: float64
1230   -1.0
Name: water_consumption, dtype: float64
nan

1230   -1.0
Name: neighborhood_school_attendance, dtype: float64
1230   -1.0
Name: neighborhood_school_attendance, dtype: float64
nan
1230   -1.0
Name: highschool_graduation_rate, dtype: float64
1230   -1.0
Name: highschool_graduation_rate, dtype: float64
nan
1230   -1.0
Name: proficiency_elementary_school, dtype: float64
1230   -1.0
Name: proficiency_elementary_school, dtype: float64
nan
1230   -1.0
Name: proficiency_middle_school, dtype: float64
1230   -1.0
Name: proficiency_middle_school, dtype: float64
nan
1230   -1.0
Name: proficiency_high_school, dtype: float64
1230   -1.0
Name: proficiency_high_school, dtype: float64
nan
1230   -1.0
Name: student_absenteeism, dtype: float64
1230   -1.0
Name: student_absenteeism, dtype: float64
nan
1230   -1.0
Name: voters_participating, dtype: float64
1230   -1.0
Name: voters_participating, dtype: float64
nan
1230   -1.0
Name: neighborhood_organizations, dtype: float64
1230   -1.0
Name: neighborhood_organizations, dtype: float64
nan
1230   -1.0
Name: voter_participation, dtype: float64
1230   -1.0
Name: voter_participation, dtype: float64
nan
1230   -1.0
Name: vacant_land, dtype: float64
1230   -1.0
Name: vacant_land, dtype: float64
nan
1230   -1.0
Name: population_density, dtype: float64
1230   -1.0
Name: population_density, dtype: float64
nan
1230   -1.0
Name: population, dtype: float64
1230   -1.0
Name: population, dtype: float64
nan
1230   -1.0
Name: transit_ridership, dtype: float64
1230   -1.0
Name: transit_ridership, dtype: float64
nan
1230   -1.0
Name: street_connectivity, dtype: float64
1230   -1.0
Name: street_connectivity, dtype: float64
nan
1230   -1.0
Name: bicycle_friendliness, dtype: float64
1230   -1.0
Name: bicycle_friendliness, dtype: float64
8.701285714285714
1231    3.580
1232    4.510
1233    8.640
1234    4.034
1235    8.640
Name: Acres, dtype: float64
1231     3.580
1232     4.510
1233     8.640
1234     4.034
1235     8.640
1236    14.200
1237    14.200
1238     4.034
1239    14.200
1240     2.030
1241    14.200
1242     2.500
1243    22.000
1244     5.050
Name: Acres, dtype: float64
2.4
1231    2.4
1232    2.4
1233    2.4
1234    2.4
1235    2.4
Name: births_to_adolescents, dtype: float64
1231    2.4
1232    2.4
1233    2.4
1234    2.4
1235    2.4
1236    2.4
1237    2.4
1238    2.4
1239    2.4
1240    2.4
1241    2.4
1242    2.4
1243    2.4
1244    2.4
Name: births_to_adolescents, dtype: float64
17.0
1231    17.0
1232    17.0
1233    17.0
1234    17.0
1235    17.0
Name: grocery_proximate_units, dtype: float64
1231    17.0
1232    17.0
1233    17.0
1234    17.0
1235    17.0
1236    17.0
1237    17.0
1238    17.0
1239    17.0
1240    17.0
1241    17.0
1242    17.0
1243    17.0
1244    17.0
Name: grocery_proximate_units, dtype: float64
42.9
1231    42.9
1232    42.9
1233    42.9
1234    42.9
1235    42.9
Name: prenatal_care, dtype: float64
1231    42.9
1232    42.9
1233    42.9
1234    42.9
1235    42.9
1236    42.9
1237    42.9
1238    42.9
1239    42.9
1240    42.9
1241    42.9
1242    42.9
1243    42.9
1244    42.9
Name: prenatal_care, dtype: float64
2.0
1231    2.0
1232    2.0
1233    2.0
1234    2.0
1235    2.0
Name: grocery_proximity, dtype: float64
1231    2.0
1232    2.0
1233    2.0
1234    2.0
1235    2.0
1236    2.0
1237    2.0
1238    2.0
1239    2.0
1240    2.0
1241    2.0
1242    2.0
1243    2.0
1244    2.0
Name: grocery_proximity, dtype: float64
11.9
1231    11.9
1232    11.9
1233    11.9
1234    11.9
1235    11.9
Name: low_birthweight, dtype: float64
1231    11.9
1232    11.9
1233    11.9
1234    11.9
1235    11.9
1236    11.9
1237    11.9
1238    11.9
1239    11.9
1240    11.9
1241    11.9
1242    11.9
1243    11.9
1244    11.9
Name: low_birthweight, dtype: float64
11.666666666666666
1231    12.000000
1232    11.666667
1233    11.666667
1234    11.666667
1235    11.666667
Name: public_health_insurance, dtype: float64
1231    12.000000
1232    11.666667
1233    11.666667
1234    11.666667
1235    11.666667
1236    12.000000
1237    11.666667
1238    11.666667
1239    11.666667
1240    11.666667
1241    12.000000
1242    12.000000
1243    11.000000
1244    11.000000
Name: public_health_insurance, dtype: float64
70.0
1231    70.0
1232    70.0
1233    70.0
1234    70.0
1235    70.0
Name: age_of_death, dtype: float64
1231    70.0
1232    70.0
1233    70.0
1234    70.0
1235    70.0
1236    70.0
1237    70.0
1238    70.0
1239    70.0
1240    70.0
1241    70.0
1242    70.0
1243    70.0
1244    70.0
Name: age_of_death, dtype: float64
19.750000000000004
1231    20.30
1232    18.90
1233    18.90
1234    19.75
1235    18.90
Name: impervious_surface, dtype: float64
1231    20.30
1232    18.90
1233    18.90
1234    19.75
1235    18.90
1236    20.30
1237    21.10
1238    19.75
1239    21.10
1240    21.10
1241    20.30
1242    20.30
1243    17.90
1244    17.90
Name: impervious_surface, dtype: float64
151.5
1231    151.5
1232    156.0
1233    156.0
1234    151.5
1235    156.0
Name: water_consumption, dtype: float64
1231    151.5
1232    156.0
1233    156.0
1234    151.5
1235    156.0
1236    151.5
1237    147.0
1238    151.5
1239    147.0
1240    147.0
1241    151.5
1242    151.5
1243    151.5
1244    151.5
Name: water_consumption, dtype: float64
56.67111111111111
1231    55.000000
1232    56.100000
1233    56.100000
1234    56.671111
1235    56.100000
Name: neighborhood_school_attendance, dtype: float64
1231    55.000000
1232    56.100000
1233    56.100000
1234    56.671111
1235    56.100000
1236    55.000000
1237    56.671111
1238    56.671111
1239    56.671111
1240    56.671111
1241    55.000000
1242    55.000000
1243    60.870000
1244    60.870000
Name: neighborhood_school_attendance, dtype: float64
77.0
1231    77.0
1232    77.0
1233    77.0
1234    77.0
1235    77.0
Name: highschool_graduation_rate, dtype: float64
1231    77.0
1232    77.0
1233    77.0
1234    77.0
1235    77.0
1236    77.0
1237    77.0
1238    77.0
1239    77.0
1240    77.0
1241    77.0
1242    77.0
1243    77.0
1244    77.0
Name: highschool_graduation_rate, dtype: float64
28.367407407407402
1231    21.300000
1232    34.480000
1233    34.480000
1234    28.367407
1235    34.480000
Name: proficiency_elementary_school, dtype: float64
1231    21.300000
1232    34.480000
1233    34.480000
1234    28.367407
1235    34.480000
1236    21.300000
1237    28.367407
1238    28.367407
1239    28.367407
1240    28.367407
1241    21.300000
1242    21.300000
1243    33.333333
1244    33.333333
Name: proficiency_elementary_school, dtype: float64
43.47777777777778
1231    35.300000
1232    54.200000
1233    54.200000
1234    43.477778
1235    54.200000
Name: proficiency_middle_school, dtype: float64
1231    35.300000
1232    54.200000
1233    54.200000
1234    43.477778
1235    54.200000
1236    35.300000
1237    43.477778
1238    43.477778
1239    43.477778
1240    43.477778
1241    35.300000
1242    35.300000
1243    43.750000
1244    43.750000
Name: proficiency_middle_school, dtype: float64
45.46666666666667
1231    50.000000
1232    36.400000
1233    36.400000
1234    45.466667
1235    36.400000
Name: proficiency_high_school, dtype: float64
1231    50.000000
1232    36.400000
1233    36.400000
1234    45.466667
1235    36.400000
1236    50.000000
1237    45.466667
1238    45.466667
1239    45.466667
1240    45.466667
1241    50.000000
1242    50.000000
1243    50.000000
1244    50.000000
Name: proficiency_high_school, dtype: float64
18.68292682926829
1231    23.000000
1232    14.000000
1233    14.000000
1234    18.682927
1235    14.000000
Name: student_absenteeism, dtype: float64
1231    23.000000
1232    14.000000
1233    14.000000
1234    18.682927
1235    14.000000
1236    23.000000
1237    18.682927
1238    18.682927
1239    18.682927
1240    18.682927
1241    23.000000
1242    23.000000
1243    17.073171
1244    17.073171
Name: student_absenteeism, dtype: float64
326.1666666666667
1231    145.000000
1232    561.000000
1233    561.000000
1234    326.166667
1235    561.000000
Name: voters_participating, dtype: float64
1231    145.000000
1232    561.000000
1233    561.000000
1234    326.166667
1235    561.000000
1236    145.000000
1237    503.000000
1238    326.166667
1239    503.000000
1240    503.000000
1241    145.000000
1242    145.000000
1243     71.000000
1244     71.000000
Name: voters_participating, dtype: float64
2.0
1231    2.0
1232    2.0
1233    2.0
1234    2.0
1235    2.0
Name: neighborhood_organizations, dtype: float64
1231    2.0
1232    2.0
1233    2.0
1234    2.0
1235    2.0
1236    2.0
1237    2.0
1238    2.0
1239    2.0
1240    2.0
1241    2.0
1242    2.0
1243    2.0
1244    2.0
Name: neighborhood_organizations, dtype: float64
35.833333333333336
1231    12.000000
1232    67.000000
1233    67.000000
1234    35.833333
1235    67.000000

Name: voter_participation, dtype: float64
1231    12.000000
1232    67.000000
1233    67.000000
1234    35.833333
1235    67.000000
1236    12.000000
1237    51.000000
1238    35.833333
1239    51.000000
1240    51.000000
1241    12.000000
1242    12.000000
1243    14.000000
1244    14.000000
Name: voter_participation, dtype: float64
33.725
1231    33.400
1232    33.400
1233    33.400
1234    33.725
1235    33.400
Name: vacant_land, dtype: float64
1231    33.400
1232    33.400
1233    33.400
1234    33.725
1235    33.400
1236    33.400
1237    34.100
1238    33.725
1239    34.100
1240    34.100
1241    33.400
1242    33.400
1243    34.300
1244    34.300
Name: vacant_land, dtype: float64
1.25
1231    1.00
1232    1.00
1233    1.00
1234    1.25
1235    1.00
Name: population_density, dtype: float64
1231    1.00
1232    1.00
1233    1.00
1234    1.25
1235    1.00
1236    1.00
1237    2.00
1238    1.25
1239    2.00
1240    2.00
1241    1.00
1242    1.00
1243    1.00
1244    1.00
Name: population_density, dtype: float64
1757.0
1231    1653.0
1232    1617.0
1233    1617.0
1234    1757.0
1235    1617.0
Name: population, dtype: float64
1231    1653.0
1232    1617.0
1233    1617.0
1234    1757.0
1235    1617.0
1236    1653.0
1237    2129.0
1238    1757.0
1239    2129.0
1240    2129.0
1241    1653.0
1242    1653.0
1243    1617.0
1244    1617.0
Name: population, dtype: float64
179.0
1231    179.0
1232    179.0
1233    179.0
1234    179.0
1235    179.0
Name: transit_ridership, dtype: float64
1231    179.0
1232    179.0
1233    179.0
1234    179.0
1235    179.0
1236    179.0
1237    179.0
1238    179.0
1239    179.0
1240    179.0
1241    179.0
1242    179.0
1243    179.0
1244    179.0
Name: transit_ridership, dtype: float64
1.2741666666666667
1231    1.290000
1232    1.250000
1233    1.250000
1234    1.274167
1235    1.250000
Name: street_connectivity, dtype: float64
1231    1.290000
1232    1.250000
1233    1.250000
1234    1.274167
1235    1.250000
1236    1.290000
1237    1.300000
1238    1.274167
1239    1.300000
1240    1.300000
1241    1.290000
1242    1.290000
1243    1.240000
1244    1.240000
Name: street_connectivity, dtype: float64
1.458333333333333
1231    1.500000
1232    1.400000
1233    1.400000
1234    1.458333
1235    1.400000
Name: bicycle_friendliness, dtype: float64
1231    1.500000
1232    1.400000
1233    1.400000
1234    1.458333
1235    1.400000
1236    1.500000
1237    1.500000
1238    1.458333
1239    1.500000
1240    1.500000
1241    1.500000
1242    1.500000
1243    1.400000
1244    1.400000
Name: bicycle_friendliness, dtype: float64
25.6
1245    25.6
Name: Acres, dtype: float64
1245    25.6
Name: Acres, dtype: float64
nan
1245   -1.0
Name: births_to_adolescents, dtype: float64
1245   -1.0
Name: births_to_adolescents, dtype: float64
598.0
1245    598.0
Name: grocery_proximate_units, dtype: float64
1245    598.0
Name: grocery_proximate_units, dtype: float64
nan
1245   -1.0
Name: prenatal_care, dtype: float64
1245   -1.0
Name: prenatal_care, dtype: float64
33.0
1245    33.0
Name: grocery_proximity, dtype: float64
1245    33.0
Name: grocery_proximity, dtype: float64
nan
1245   -1.0
Name: low_birthweight, dtype: float64
1245   -1.0
Name: low_birthweight, dtype: float64
6.0
1245    6.0
Name: public_health_insurance, dtype: float64
1245    6.0
Name: public_health_insurance, dtype: float64
nan
1245   -1.0
Name: age_of_death, dtype: float64
1245   -1.0
Name: age_of_death, dtype: float64
15.3
1245    15.3
Name: impervious_surface, dtype: float64
1245    15.3
Name: impervious_surface, dtype: float64
nan
1245   -1.0
Name: water_consumption, dtype: float64
1245   -1.0
Name: water_consumption, dtype: float64
87.0
1245    87.0
Name: neighborhood_school_attendance, dtype: float64
1245    87.0
Name: neighborhood_school_attendance, dtype: float64
98.0
1245    98.0
Name: highschool_graduation_rate, dtype: float64
1245    98.0
Name: highschool_graduation_rate, dtype: float64
75.9
1245    75.9
Name: proficiency_elementary_school, dtype: float64
1245    75.9
Name: proficiency_elementary_school, dtype: float64
74.8
1245    74.8
Name: proficiency_middle_school, dtype: float64
1245    74.8
Name: proficiency_middle_school, dtype: float64
62.5
1245    62.5
Name: proficiency_high_school, dtype: float64
1245    62.5
Name: proficiency_high_school, dtype: float64
5.0
1245    5.0
Name: student_absenteeism, dtype: float64
1245    5.0
Name: student_absenteeism, dtype: float64
554.0
1245    554.0
Name: voters_participating, dtype: float64
1245    554.0
Name: voters_participating, dtype: float64
nan
1245   -1.0
Name: neighborhood_organizations, dtype: float64
1245   -1.0
Name: neighborhood_organizations, dtype: float64
23.0
1245    23.0
Name: voter_participation, dtype: float64
1245    23.0
Name: voter_participation, dtype: float64
11.9
1245    11.9
Name: vacant_land, dtype: float64
1245    11.9
Name: vacant_land, dtype: float64
4.0
1245    4.0
Name: population_density, dtype: float64
1245    4.0
Name: population_density, dtype: float64
3398.0
1245    3398.0
Name: population, dtype: float64
1245    3398.0
Name: population, dtype: float64
nan
1245   -1.0
Name: transit_ridership, dtype: float64
1245   -1.0
Name: transit_ridership, dtype: float64
1.12
1245    1.12
Name: street_connectivity, dtype: float64
1245    1.12
Name: street_connectivity, dtype: float64
1.4
1245    1.4
Name: bicycle_friendliness, dtype: float64
1245    1.4
Name: bicycle_friendliness, dtype: float64
15.700000000000001
1246    17.63
1247     5.08
1248    17.66
1249    20.60
1250    14.72
Name: Acres, dtype: float64
1246    17.63
1247     5.08
1248    17.66
1249    20.60
1250    14.72
1251    14.72
1252    26.50
1253    20.60
1254     2.63
1255    14.72
1256     5.08
1257    26.50
1258    17.66
Name: Acres, dtype: float64
1.7
1246    1.7
1247    1.7
1248    1.7
1249    1.7
1250    1.7
Name: births_to_adolescents, dtype: float64
1246    1.7
1247    1.7
1248    1.7
1249    1.7
1250    1.7
1251    1.7
1252    1.7
1253    1.7
1254    1.7
1255    1.7
1256    1.7
1257    1.7
1258    1.7
Name: births_to_adolescents, dtype: float64
105.75
1246    105.75
1247      0.00
1248      0.00
1249      0.00
1250    105.75
Name: grocery_proximate_units, dtype: float64
1246    105.75
1247      0.00
1248      0.00
1249      0.00
1250    105.75
1251    105.75
1252    105.75
1253      0.00
1254    846.00
1255    105.75
1256      0.00
1257      0.00
1258      0.00
Name: grocery_proximate_units, dtype: float64
62.5
1246    62.5
1247    62.5
1248    62.5
1249    62.5
1250    62.5
Name: prenatal_care, dtype: float64
1246    62.5
1247    62.5
1248    62.5
1249    62.5
1250    62.5
1251    62.5
1252    62.5
1253    62.5
1254    62.5
1255    62.5
1256    62.5
1257    62.5
1258    62.5
Name: prenatal_care, dtype: float64
5.5
1246    5.5
1247    0.0
1248    0.0
1249    0.0
1250    5.5
Name: grocery_proximity, dtype: float64
1246     5.5
1247     0.0
1248     0.0
1249     0.0
1250     5.5
1251     5.5
1252     5.5
1253     0.0
1254    44.0
1255     5.5
1256     0.0
1257     0.0
1258     0.0
Name: grocery_proximity, dtype: float64
5.0
1246    5.0
1247    5.0
1248    5.0
1249    5.0
1250    5.0
Name: low_birthweight, dtype: float64
1246    5.0
1247    5.0
1248    5.0
1249    5.0
1250    5.0
1251    5.0
1252    5.0
1253    5.0
1254    5.0
1255    5.0
1256    5.0
1257    5.0
1258    5.0
Name: low_birthweight, dtype: float64
9.714285714285714
1246     9.714286
1247     8.000000
1248     8.000000
1249    14.000000
1250     9.714286
Name: public_health_insurance, dtype: float64
1246     9.714286
1247     8.000000
1248     8.000000
1249    14.000000
1250     9.714286
1251     9.714286
1252     9.714286
1253    14.000000
1254     9.714286
1255     9.714286
1256     8.000000
1257     8.000000
1258     8.000000
Name: public_health_insurance, dtype: float64
62.0
1246    62.0
1247    62.0
1248    62.0
1249    62.0
1250    62.0
Name: age_of_death, dtype: float64
1246    62.0
1247    62.0
1248    62.0
1249    62.0
1250    62.0
1251    62.0
1252    62.0
1253    62.0
1254    62.0
1255    62.0
1256    62.0
1257    62.0
1258    62.0
Name: age_of_death, dtype: float64
8.200000000000001
1246    8.2
1247    8.2
1248    8.2
1249    7.9
1250    8.2
Name: impervious_surface, dtype: float64
1246    8.2
1247    8.2
1248    8.2
1249    7.9
1250    8.2
1251    8.2
1252    8.2
1253    7.9
1254    8.8
1255    8.2
1256    8.2
1257    8.2
1258    8.2
Name: impervious_surface, dtype: float64
148.66666666666666
1246    148.666667
1247    148.000000
1248    148.000000
1249    148.666667
1250    148.666667
Name: water_consumption, dtype: float64
1246    148.666667
1247    148.000000
1248    148.000000
1249    148.666667
1250    148.666667
1251    148.666667
1252    148.666667
1253    148.666667
1254    152.000000
1255    148.666667
1256    148.000000
1257    148.000000
1258    148.000000
Name: water_consumption, dtype: float64
76.77142857142859
1246    76.771429
1247    77.480000
1248    77.480000
1249    75.000000
1250    76.771429
Name: neighborhood_school_attendance, dtype: float64
1246    76.771429
1247    77.480000
1248    77.480000
1249    75.000000
1250    76.771429
1251    76.771429
1252    76.771429
1253    75.000000
1254    76.771429
1255    76.771429
1256    77.480000
1257    77.480000
1258    77.480000
Name: neighborhood_school_attendance, dtype: float64
95.14285714285714
1246    95.142857
1247    96.000000
1248    96.000000
1249    93.000000
1250    95.142857
Name: highschool_graduation_rate, dtype: float64
1246    95.142857
1247    96.000000
1248    96.000000
1249    93.000000
1250    95.142857
1251    95.142857
1252    95.142857
1253    93.000000
1254    95.142857
1255    95.142857
1256    96.000000
1257    96.000000
1258    96.000000
Name: highschool_graduation_rate, dtype: float64
45.925570228091225
1246    45.925570
1247    44.800000
1248    44.800000
1249    48.739496
1250    45.925570
Name: proficiency_elementary_school, dtype: float64
1246    45.925570
1247    44.800000
1248    44.800000
1249    48.739496
1250    45.925570
1251    45.925570
1252    45.925570
1253    48.739496
1254    45.925570
1255    45.925570
1256    44.800000
1257    44.800000
1258    44.800000
Name: proficiency_elementary_school, dtype: float64
43.296996336996344
1246    43.296996
1247    44.871795
1248    44.871795
1249    39.360000
1250    43.296996
Name: proficiency_middle_school, dtype: float64
1246    43.296996
1247    44.871795
1248    44.871795
1249    39.360000
1250    43.296996
1251    43.296996
1252    43.296996
1253    39.360000
1254    43.296996
1255    43.296996
1256    44.871795
1257    44.871795
1258    44.871795
Name: proficiency_middle_school, dtype: float64
41.47281385281384
1246    41.472814
1247    39.393939
1248    39.393939
1249    46.670000
1250    41.472814
Name: proficiency_high_school, dtype: float64
1246    41.472814
1247    39.393939
1248    39.393939
1249    46.670000
1250    41.472814
1251    41.472814
1252    41.472814
1253    46.670000
1254    41.472814
1255    41.472814
1256    39.393939
1257    39.393939
1258    39.393939
Name: proficiency_high_school, dtype: float64
7.463115377465313
1246    7.463115
1247    7.663551
1248    7.663551
1249    6.962025
1250    7.463115
Name: student_absenteeism, dtype: float64
1246    7.463115
1247    7.663551
1248    7.663551
1249    6.962025
1250    7.463115
1251    7.463115
1252    7.463115
1253    6.962025
1254    7.463115
1255    7.463115
1256    7.663551
1257    7.663551
1258    7.663551
Name: student_absenteeism, dtype: float64
886.375
1246     886.375
1247    1005.000
1248    1005.000
1249     263.000
1250     886.375
Name: voters_participating, dtype: float64
1246     886.375
1247    1005.000
1248    1005.000
1249     263.000
1250     886.375
1251     886.375
1252     886.375
1253     263.000
1254    1540.000
1255     886.375
1256    1005.000
1257    1005.000
1258    1005.000
Name: voters_participating, dtype: float64
1.2857142857142858
1246    1.285714
1247    1.000000
1248    1.000000
1249    2.000000
1250    1.285714
Name: neighborhood_organizations, dtype: float64
1246    1.285714
1247    1.000000
1248    1.000000
1249    2.000000
1250    1.285714
1251    1.285714
1252    1.285714
1253    2.000000
1254    1.285714
1255    1.285714
1256    1.000000
1257    1.000000
1258    1.000000
Name: neighborhood_organizations, dtype: float64
37.0
1246    37.0
1247    43.0
1248    43.0
1249    11.0
1250    37.0
Name: voter_participation, dtype: float64
1246    37.0
1247    43.0
1248    43.0
1249    11.0
1250    37.0
1251    37.0
1252    37.0
1253    11.0
1254    59.0
1255    37.0
1256    43.0
1257    43.0
1258    43.0
Name: voter_participation, dtype: float64
33.53333333333333
1246    33.533333
1247    33.533333
1248    33.533333
1249    33.500000
1250    33.533333
Name: vacant_land, dtype: float64
1246    33.533333
1247    33.533333
1248    33.533333
1249    33.500000
1250    33.533333
1251    33.533333
1252    33.533333
1253    33.500000
1254    33.600000
1255    33.533333
1256    33.533333
1257    33.533333
1258    33.533333
Name: vacant_land, dtype: float64
3.0
1246    3.0
1247    3.0
1248    3.0
1249    3.0
1250    3.0
Name: population_density, dtype: float64
1246    3.0
1247    3.0
1248    3.0
1249    3.0
1250    3.0
1251    3.0
1252    3.0
1253    3.0
1254    3.0
1255    3.0
1256    3.0
1257    3.0
1258    3.0
Name: population_density, dtype: float64
4933.0
1246    4933.0
1247    4933.0
1248    4933.0
1249    4896.0
1250    4933.0
Name: population, dtype: float64
1246    4933.0
1247    4933.0
1248    4933.0
1249    4896.0
1250    4933.0
1251    4933.0
1252    4933.0
1253    4896.0
1254    5007.0
1255    4933.0
1256    4933.0
1257    4933.0
1258    4933.0
Name: population, dtype: float64
4.0
1246    4.0
1247    4.0
1248    4.0
1249    4.0
1250    4.0
Name: transit_ridership, dtype: float64
1246    4.0
1247    4.0
1248    4.0
1249    4.0
1250    4.0
1251    4.0
1252    4.0
1253    4.0
1254    4.0
1255    4.0
1256    4.0
1257    4.0
1258    4.0
Name: transit_ridership, dtype: float64
1.23
1246    1.23
1247    1.23
1248    1.23
1249    1.23
1250    1.23
Name: street_connectivity, dtype: float64
1246    1.23
1247    1.23
1248    1.23
1249    1.23
1250    1.23
1251    1.23
1252    1.23
1253    1.23
1254    1.23
1255    1.23
1256    1.23
1257    1.23
1258    1.23
Name: street_connectivity, dtype: float64
1.3333333333333333
1246    1.333333
1247    1.333333
1248    1.333333
1249    1.300000
1250    1.333333
Name: bicycle_friendliness, dtype: float64
1246    1.333333
1247    1.333333
1248    1.333333
1249    1.300000
1250    1.333333
1251    1.333333
1252    1.333333
1253    1.300000
1254    1.400000
1255    1.333333
1256    1.333333
1257    1.333333
1258    1.333333
Name: bicycle_friendliness, dtype: float64
4.62
1259    4.62
Name: Acres, dtype: float64
1259    4.62
Name: Acres, dtype: float64
0.0
1259    0.0
Name: births_to_adolescents, dtype: float64
1259    0.0
Name: births_to_adolescents, dtype: float64
0.0
1259    0.0
Name: grocery_proximate_units, dtype: float64
1259    0.0
Name: grocery_proximate_units, dtype: float64
80.4
1259    80.4
Name: prenatal_care, dtype: float64
1259    80.4
Name: prenatal_care, dtype: float64
0.0
1259    0.0
Name: grocery_proximity, dtype: float64
1259    0.0
Name: grocery_proximity, dtype: float64
6.5
1259    6.5
Name: low_birthweight, dtype: float64
1259    6.5
Name: low_birthweight, dtype: float64
nan
1259   -1.0
Name: public_health_insurance, dtype: float64
1259   -1.0
Name: public_health_insurance, dtype: float64
70.0
1259    70.0
Name: age_of_death, dtype: float64
1259    70.0
Name: age_of_death, dtype: float64
8.6
1259    8.6
Name: impervious_surface, dtype: float64
1259    8.6
Name: impervious_surface, dtype: float64
170.0
1259    170.0
Name: water_consumption, dtype: float64
1259    170.0
Name: water_consumption, dtype: float64
71.1

1259    71.1
Name: neighborhood_school_attendance, dtype: float64
1259    71.1
Name: neighborhood_school_attendance, dtype: float64
100.0
1259    100.0
Name: highschool_graduation_rate, dtype: float64
1259    100.0
Name: highschool_graduation_rate, dtype: float64
56.36
1259    56.36
Name: proficiency_elementary_school, dtype: float64
1259    56.36
Name: proficiency_elementary_school, dtype: float64
34.9
1259    34.9
Name: proficiency_middle_school, dtype: float64
1259    34.9
Name: proficiency_middle_school, dtype: float64
25.0
1259    25.0
Name: proficiency_high_school, dtype: float64
1259    25.0
Name: proficiency_high_school, dtype: float64
10.0
1259    10.0
Name: student_absenteeism, dtype: float64
1259    10.0
Name: student_absenteeism, dtype: float64
1010.0
1259    1010.0
Name: voters_participating, dtype: float64
1259    1010.0
Name: voters_participating, dtype: float64
nan
1259   -1.0
Name: neighborhood_organizations, dtype: float64
1259   -1.0
Name: neighborhood_organizations, dtype: float64
80.0
1259    80.0
Name: voter_participation, dtype: float64
1259    80.0
Name: voter_participation, dtype: float64
17.7
1259    17.7
Name: vacant_land, dtype: float64
1259    17.7
Name: vacant_land, dtype: float64
3.0
1259    3.0
Name: population_density, dtype: float64
1259    3.0
Name: population_density, dtype: float64
1983.0
1259    1983.0
Name: population, dtype: float64
1259    1983.0
Name: population, dtype: float64
nan
1259   -1.0
Name: transit_ridership, dtype: float64
1259   -1.0
Name: transit_ridership, dtype: float64
1.14
1259    1.14
Name: street_connectivity, dtype: float64
1259    1.14
Name: street_connectivity, dtype: float64
1.1
1259    1.1
Name: bicycle_friendliness, dtype: float64
1259    1.1
Name: bicycle_friendliness, dtype: float64
2.714425
1260    5.5800
1261    0.8910
1262    1.0000
1263    0.8050
1264    1.3281
Name: Acres, dtype: float64
1260    5.5800
1261    0.8910
1262    1.0000
1263    0.8050
1264    1.3281
1265    2.4400
1266    2.2100
1267    8.3590
1268    5.5800
1269    0.9700
1270    3.0600
1271    0.3500
Name: Acres, dtype: float64
4.6
1260    4.6
1261    4.6
1262    4.6
1263    2.1
1264    4.6
Name: births_to_adolescents, dtype: float64
1260    4.6
1261    4.6
1262    4.6
1263    2.1
1264    4.6
1265    4.6
1266    4.6
1267    7.1
1268    4.6
1269    4.6
1270    4.6
1271    4.6
Name: births_to_adolescents, dtype: float64
1055.9
1260    1234.0
1261    1107.0
1262    1055.9
1263       0.0
1264    1234.0
Name: grocery_proximate_units, dtype: float64
1260    1234.0
1261    1107.0
1262    1055.9
1263       0.0
1264    1234.0
1265    1234.0
1266    1107.0
1267    1151.0
1268    1055.9
1269    1107.0
1270    1151.0
1271    1234.0
Name: grocery_proximate_units, dtype: float64
62.75
1260    62.75
1261    62.75
1262    62.75
1263    66.00
1264    62.75
Name: prenatal_care, dtype: float64
1260    62.75
1261    62.75
1262    62.75
1263    66.00
1264    62.75
1265    62.75
1266    62.75
1267    59.50
1268    62.75
1269    62.75
1270    62.75
1271    62.75
Name: prenatal_care, dtype: float64
77.4
1260    86.0
1261    86.0
1262    77.4
1263     0.0
1264    86.0
Name: grocery_proximity, dtype: float64
1260    86.0
1261    86.0
1262    77.4
1263     0.0
1264    86.0
1265    86.0
1266    86.0
1267    86.0
1268    77.4
1269    86.0
1270    86.0
1271    86.0
Name: grocery_proximity, dtype: float64
15.25
1260    15.25
1261    15.25
1262    15.25
1263    23.40
1264    15.25
Name: low_birthweight, dtype: float64
1260    15.25
1261    15.25
1262    15.25
1263    23.40
1264    15.25
1265    15.25
1266    15.25
1267     7.10
1268    15.25
1269    15.25
1270    15.25
1271    15.25
Name: low_birthweight, dtype: float64
14.0
1260    12.0
1261    14.0
1262    14.0
1263    17.0
1264    12.0
Name: public_health_insurance, dtype: float64
1260    12.0
1261    14.0
1262    14.0
1263    17.0
1264    12.0
1265    12.0
1266    14.0
1267    14.0
1268    14.0
1269    14.0
1270    19.0
1271    12.0
Name: public_health_insurance, dtype: float64
68.5
1260    68.5
1261    68.5
1262    68.5
1263    73.0
1264    68.5
Name: age_of_death, dtype: float64
1260    68.5
1261    68.5
1262    68.5
1263    73.0
1264    68.5
1265    68.5
1266    68.5
1267    64.0
1268    68.5
1269    68.5
1270    68.5
1271    68.5
Name: age_of_death, dtype: float64
46.833333333333336
1260    47.700000
1261    45.100000
1262    46.833333
1263    46.833333
1264    47.700000
Name: impervious_surface, dtype: float64
1260    47.700000
1261    45.100000
1262    46.833333
1263    46.833333
1264    47.700000
1265    47.700000
1266    45.100000
1267    47.700000
1268    46.833333
1269    45.100000
1270    47.700000
1271    47.700000
Name: impervious_surface, dtype: float64
84.8
1260    84.8
1261    84.0
1262    84.8
1263    70.0
1264    84.8
Name: water_consumption, dtype: float64
1260     84.8
1261     84.0
1262     84.8
1263     70.0
1264     84.8
1265     84.8
1266     84.0
1267    102.0
1268     84.8
1269     84.0
1270     84.8
1271     84.8
Name: water_consumption, dtype: float64
77.87857142857142
1260    78.000000
1261    77.878571
1262    77.878571
1263    78.000000
1264    78.000000
Name: neighborhood_school_attendance, dtype: float64
1260    78.000000
1261    77.878571
1262    77.878571
1263    78.000000
1264    78.000000
1265    78.000000
1266    77.878571
1267    74.500000
1268    77.878571
1269    77.878571
1270    80.650000
1271    78.000000
Name: neighborhood_school_attendance, dtype: float64
71.66666666666667
1260    71.666667
1261    71.666667
1262    71.666667
1263    57.000000
1264    71.666667
Name: highschool_graduation_rate, dtype: float64
1260    71.666667
1261    71.666667
1262    71.666667
1263    57.000000
1264    71.666667
1265    71.666667
1266    71.666667
1267    75.000000
1268    71.666667
1269    71.666667
1270    83.000000
1271    71.666667
Name: highschool_graduation_rate, dtype: float64
26.26990580847723
1260    31.600000
1261    26.269906
1262    26.269906
1263    19.230769
1264    31.600000
Name: proficiency_elementary_school, dtype: float64
1260    31.600000
1261    26.269906
1262    26.269906
1263    19.230769
1264    31.600000
1265    31.600000
1266    26.269906
1267    26.830000
1268    26.269906
1269    26.269906
1270    11.428571
1271    31.600000
Name: proficiency_elementary_school, dtype: float64
9.955
1260     9.955
1261     9.955
1262     9.955
1263    12.500
1264     9.955
Name: proficiency_middle_school, dtype: float64
1260     9.955
1261     9.955
1262     9.955
1263    12.500
1264     9.955
1265     9.955
1266     9.955
1267     9.955
1268     9.955
1269     9.955
1270     7.410
1271     9.955
Name: proficiency_middle_school, dtype: float64
51.112222222222215
1260    51.112222
1261    51.112222
1262    51.112222
1263    66.666667
1264    51.112222
Name: proficiency_high_school, dtype: float64
1260    51.112222
1261    51.112222
1262    51.112222
1263    66.666667
1264    51.112222
1265    51.112222
1266    51.112222
1267    20.000000
1268    51.112222
1269    51.112222
1270    66.670000
1271    51.112222
Name: proficiency_high_school, dtype: float64
19.533962838866895
1260    18.000000
1261    19.533963
1262    19.533963
1263    17.857143
1264    18.000000
Name: student_absenteeism, dtype: float64
1260    18.000000
1261    19.533963
1262    19.533963
1263    17.857143
1264    18.000000
1265    18.000000
1266    19.533963
1267    23.000000
1268    19.533963
1269    19.533963
1270    23.880597
1271    18.000000
Name: student_absenteeism, dtype: float64
370.1
1260    150.0
1261    632.0
1262    370.1
1263    310.0
1264    150.0
Name: voters_participating, dtype: float64
1260    150.0
1261    632.0
1262    370.1
1263    310.0
1264    150.0
1265    150.0
1266    632.0
1267    835.0
1268    370.1
1269    632.0
1270     60.0
1271    150.0
Name: voters_participating, dtype: float64
2.0
1260    2.0
1261    2.0
1262    2.0
1263    2.0
1264    2.0
Name: neighborhood_organizations, dtype: float64
1260    2.0
1261    2.0
1262    2.0
1263    2.0
1264    2.0
1265    2.0
1266    2.0
1267    2.0
1268    2.0
1269    2.0
1270    2.0
1271    2.0
Name: neighborhood_organizations, dtype: float64
29.1
1260     9.0
1261    51.0
1262    29.1
1263    35.0
1264     9.0
Name: voter_participation, dtype: float64
1260     9.0
1261    51.0
1262    29.1
1263    35.0
1264     9.0
1265     9.0
1266    51.0
1267    61.0
1268    29.1
1269    51.0
1270     6.0
1271     9.0
Name: voter_participation, dtype: float64
3.0
1260    3.0
1261    3.0
1262    3.0
1263    3.0
1264    3.0
Name: vacant_land, dtype: float64
1260    3.0
1261    3.0
1262    3.0
1263    3.0
1264    3.0
1265    3.0
1266    3.0
1267    3.0
1268    3.0
1269    3.0
1270    3.0
1271    3.0
Name: vacant_land, dtype: float64
14.11111111111111
1260    14.000000
1261    14.000000
1262    14.111111
1263    14.111111
1264    14.000000
Name: population_density, dtype: float64
1260    14.000000
1261    14.000000
1262    14.111111
1263    14.111111
1264    14.000000
1265    14.000000
1266    14.000000
1267    15.000000
1268    14.111111
1269    14.000000
1270    14.000000
1271    14.000000
Name: population_density, dtype: float64
2177.0
1260    2167.0
1261    2162.0
1262    2177.0
1263    2177.0
1264    2167.0
Name: population, dtype: float64
1260    2167.0
1261    2162.0
1262    2177.0
1263    2177.0
1264    2167.0
1265    2167.0
1266    2162.0
1267    2223.0
1268    2177.0
1269    2162.0
1270    2216.0
1271    2167.0
Name: population, dtype: float64
72.0
1260    72.0
1261    72.0
1262    72.0
1263    73.0
1264    72.0
Name: transit_ridership, dtype: float64
1260    72.0
1261    72.0
1262    72.0
1263    73.0
1264    72.0
1265    72.0
1266    72.0
1267    72.0
1268    72.0
1269    72.0
1270    71.0
1271    72.0
Name: transit_ridership, dtype: float64
1.2744444444444443
1260    1.270000
1261    1.270000
1262    1.274444
1263    1.274444
1264    1.270000
Name: street_connectivity, dtype: float64
1260    1.270000
1261    1.270000
1262    1.274444
1263    1.274444
1264    1.270000
1265    1.270000
1266    1.270000
1267    1.290000
1268    1.274444
1269    1.270000
1270    1.290000
1271    1.270000
Name: street_connectivity, dtype: float64
1.5
1260    1.5
1261    1.5
1262    1.5
1263    1.5
1264    1.5
Name: bicycle_friendliness, dtype: float64
1260    1.5
1261    1.5
1262    1.5
1263    1.5
1264    1.5
1265    1.5
1266    1.5
1267    1.5
1268    1.5
1269    1.5
1270    1.5
1271    1.5
Name: bicycle_friendliness, dtype: float64
3.7258673758865264
1272    0.330000
1273    3.725867
1274    0.680000
1275    9.070700
1276    0.524700
Name: Acres, dtype: float64
1272     0.330000
1273     3.725867
1274     0.680000
1275     9.070700
1276     0.524700
          ...
1418     3.725867
1419     4.890000
1420    46.780000
1421     7.424500
1422     0.220000
Name: Acres, Length: 151, dtype: float64
2.2199999999999998
1272    2.22
1273    2.22
1274    2.22
1275    2.22
1276    2.22
Name: births_to_adolescents, dtype: float64
1272    2.22
1273    2.22
1274    2.22
1275    2.22
1276    2.22
        ...
1418    2.22
1419    2.22
1420    2.22
1421    2.22
1422    2.22
Name: births_to_adolescents, Length: 151, dtype: float64
395.4295302013423
1272      0.0
1273    443.0
1274      0.0
1275    443.0
1276    443.0
Name: grocery_proximate_units, dtype: float64
1272      0.0
1273    443.0
1274      0.0
1275    443.0
1276    443.0
        ...
1418    443.0
1419    443.0
1420    443.0
1421    443.0
1422    443.0
Name: grocery_proximate_units, Length: 151, dtype: float64
65.86
1272    65.86
1273    65.86
1274    65.86
1275    65.86
1276    65.86
Name: prenatal_care, dtype: float64
1272    65.86
1273    65.86
1274    65.86
1275    65.86
1276    65.86
        ...
1418    65.86
1419    65.86
1420    65.86
1421    65.86
1422    65.86
Name: prenatal_care, Length: 151, dtype: float64
30.34228187919463
1272    33.0
1273    33.0
1274     0.0
1275    33.0
1276    33.0
Name: grocery_proximity, dtype: float64
1272    33.0
1273    33.0
1274     0.0
1275    33.0
1276    33.0
        ...
1418    33.0
1419    33.0
1420    33.0
1421    33.0
1422    33.0
Name: grocery_proximity, Length: 151, dtype: float64
3.34
1272    3.34
1273    3.34
1274    3.34
1275    3.34
1276    3.34
Name: low_birthweight, dtype: float64
1272    3.34
1273    3.34
1274    3.34
1275    3.34
1276    3.34
        ...
1418    3.34
1419    3.34
1420    3.34
1421    3.34
1422    3.34
Name: low_birthweight, Length: 151, dtype: float64
1.0
1272    1.0
1273    1.0
1274    1.0
1275    1.0
1276    1.0

Name: public_health_insurance, dtype: float64
1272    1.0
1273    1.0
1274    1.0
1275    1.0
1276    1.0
       ...
1418    1.0
1419    1.0
1420    1.0
1421    1.0
1422    1.0
Name: public_health_insurance, Length: 151, dtype: float64
nan
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
Name: age_of_death, dtype: float64
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
       ...
1418   -1.0
1419   -1.0
1420   -1.0
1421   -1.0
1422   -1.0
Name: age_of_death, Length: 151, dtype: float64
39.37027027027022
1272    38.6
1273    39.4
1274    39.0
1275    39.4
1276    39.4
Name: impervious_surface, dtype: float64
1272    38.6
1273    39.4
1274    39.0
1275    39.4
1276    39.4
        ...
1418    39.4
1419    39.4
1420    39.4
1421    39.4
1422    39.4
Name: impervious_surface, Length: 151, dtype: float64
75.8768115942029
1272    75.876812
1273    76.000000
1274    75.876812
1275    76.000000
1276    76.000000
Name: water_consumption, dtype: float64
1272    75.876812
1273    76.000000
1274    75.876812
1275    76.000000
1276    76.000000
          ...
1418    76.000000
1419    76.000000
1420    76.000000
1421    76.000000
1422    76.000000
Name: water_consumption, Length: 151, dtype: float64
67.295625
1272    73.000000
1273    67.295625
1274    66.670000
1275    67.295625
1276    67.295625
Name: neighborhood_school_attendance, dtype: float64
1272    73.000000
1273    67.295625
1274    66.670000
1275    67.295625
1276    67.295625
          ...
1418    67.295625
1419    67.295625
1420    67.295625
1421    67.295625
1422    67.295625
Name: neighborhood_school_attendance, Length: 151, dtype: float64
nan
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
Name: highschool_graduation_rate, dtype: float64
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
       ...
1418   -1.0
1419   -1.0
1420   -1.0
1421   -1.0
1422   -1.0
Name: highschool_graduation_rate, Length: 151, dtype: float64
55.358181818181826
1272    55.358182
1273    55.358182
1274    62.500000
1275    55.358182
1276    55.358182
Name: proficiency_elementary_school, dtype: float64
1272    55.358182
1273    55.358182
1274    62.500000
1275    55.358182
1276    55.358182
          ...
1418    55.358182
1419    55.358182
1420    55.358182
1421    55.358182
1422    55.358182
Name: proficiency_elementary_school, Length: 151, dtype: float64
nan
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
Name: proficiency_middle_school, dtype: float64
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
       ...
1418   -1.0
1419   -1.0
1420   -1.0
1421   -1.0
1422   -1.0
Name: proficiency_middle_school, Length: 151, dtype: float64
nan
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
Name: proficiency_high_school, dtype: float64
1272   -1.0
1273   -1.0
1274   -1.0
1275   -1.0
1276   -1.0
       ...
1418   -1.0
1419   -1.0
1420   -1.0
1421   -1.0
1422   -1.0
Name: proficiency_high_school, Length: 151, dtype: float64
6.636363636363637
1272    13.000000
1273     6.636364
1274     0.000000
1275     6.636364
1276     6.636364
Name: student_absenteeism, dtype: float64
1272    13.000000
1273     6.636364
1274     0.000000
1275     6.636364
1276     6.636364
          ...
1418     6.636364
1419     6.636364
1420     6.636364
1421     6.636364
1422     6.636364
Name: student_absenteeism, Length: 151, dtype: float64
639.1073825503356
1272    118.0
1273    682.0
1274     50.0
1275    682.0
1276    682.0
Name: voters_participating, dtype: float64
1272    118.0
1273    682.0
1274     50.0
1275    682.0
1276    682.0
        ...
1418    682.0
1419    682.0
1420    682.0
1421    682.0
1422    682.0
Name: voters_participating, Length: 151, dtype: float64
0.875
1272    0.875
1273    0.875
1274    1.000
1275    0.875
1276    0.875
Name: neighborhood_organizations, dtype: float64
1272    0.875
1273    0.875
1274    1.000
1275    0.875
1276    0.875
        ...
1418    0.875
1419    0.875
1420    0.875
1421    0.875
1422    0.875
Name: neighborhood_organizations, Length: 151, dtype: float64
47.22818791946309
1272     6.0
1273    50.0
1274     6.0
1275    50.0
1276    50.0
Name: voter_participation, dtype: float64
1272     6.0
1273    50.0
1274     6.0
1275    50.0
1276    50.0
        ...
1418    50.0
1419    50.0
1420    50.0
1421    50.0
1422    50.0
Name: voter_participation, Length: 151, dtype: float64
10.299999999999972
1272    10.3
1273    10.3
1274    10.3
1275    10.3
1276    10.3
Name: vacant_land, dtype: float64
1272    10.3
1273    10.3
1274    10.3
1275    10.3
1276    10.3
        ...
1418    10.3
1419    10.3
1420    10.3
1421    10.3
1422    10.3
Name: vacant_land, Length: 151, dtype: float64
7.878378378378378
1272    8.0
1273    8.0
1274    6.0
1275    8.0
1276    8.0
Name: population_density, dtype: float64
1272    8.0
1273    8.0
1274    6.0
1275    8.0
1276    8.0
       ...
1418    8.0
1419    8.0
1420    8.0
1421    8.0
1422    8.0
Name: population_density, Length: 151, dtype: float64
1956.0135135135135
1272    1918.0
1273    1985.0
1274    1575.0
1275    1985.0
1276    1985.0
Name: population, dtype: float64
1272    1918.0
1273    1985.0
1274    1575.0
1275    1985.0
1276    1985.0
         ...
1418    1985.0
1419    1985.0
1420    1985.0
1421    1985.0
1422    1985.0
Name: population, Length: 151, dtype: float64
251.75
1272    251.75
1273    251.75
1274    265.00
1275    251.75
1276    251.75
Name: transit_ridership, dtype: float64
1272    251.75
1273    251.75
1274    265.00
1275    251.75
1276    251.75
         ...
1418    251.75
1419    251.75
1420    251.75
1421    251.75
1422    251.75
Name: transit_ridership, Length: 151, dtype: float64
1.3804729729729703
1272    1.38
1273    1.38
1274    1.39
1275    1.38
1276    1.38
Name: street_connectivity, dtype: float64
1272    1.38
1273    1.38
1274    1.39
1275    1.38
1276    1.38
        ...
1418    1.38
1419    1.38
1420    1.38
1421    1.38
1422    1.38
Name: street_connectivity, Length: 151, dtype: float64
1.5
1272    1.5
1273    1.5
1274    1.5
1275    1.5
1276    1.5
Name: bicycle_friendliness, dtype: float64
1272    1.5
1273    1.5
1274    1.5
1275    1.5
1276    1.5
       ...
1418    1.5
1419    1.5
1420    1.5
1421    1.5
1422    1.5
Name: bicycle_friendliness, Length: 151, dtype: float64
0.825
1423    0.98
1424    0.67
Name: Acres, dtype: float64
1423    0.98
1424    0.67
Name: Acres, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: births_to_adolescents, dtype: float64
1423   -1.0
1424   -1.0
Name: births_to_adolescents, dtype: float64
3944.0
1423    3944.0
1424    3944.0
Name: grocery_proximate_units, dtype: float64
1423    3944.0
1424    3944.0
Name: grocery_proximate_units, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: prenatal_care, dtype: float64
1423   -1.0
1424   -1.0
Name: prenatal_care, dtype: float64
99.0
1423    99.0
1424    99.0
Name: grocery_proximity, dtype: float64
1423    99.0
1424    99.0
Name: grocery_proximity, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: low_birthweight, dtype: float64
1423   -1.0
1424   -1.0
Name: low_birthweight, dtype: float64
13.0
1423    13.0
1424    13.0
Name: public_health_insurance, dtype: float64
1423    13.0
1424    13.0
Name: public_health_insurance, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: age_of_death, dtype: float64
1423   -1.0
1424   -1.0
Name: age_of_death, dtype: float64
33.0
1423    33.0
1424    33.0
Name: impervious_surface, dtype: float64
1423    33.0
1424    33.0
Name: impervious_surface, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: water_consumption, dtype: float64
1423   -1.0
1424   -1.0
Name: water_consumption, dtype: float64
52.11
1423    52.11
1424    52.11
Name: neighborhood_school_attendance, dtype: float64
1423    52.11
1424    52.11
Name: neighborhood_school_attendance, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: highschool_graduation_rate, dtype: float64
1423   -1.0
1424   -1.0
Name: highschool_graduation_rate, dtype: float64
38.8888888888889
1423    38.888889
1424    38.888889
Name: proficiency_elementary_school, dtype: float64
1423    38.888889
1424    38.888889
Name: proficiency_elementary_school, dtype: float64
11.11
1423    11.11
1424    11.11
Name: proficiency_middle_school, dtype: float64
1423    11.11
1424    11.11
Name: proficiency_middle_school, dtype: float64
nan
1423   -1.0
1424   -1.0
Name: proficiency_high_school, dtype: float64
1423   -1.0
1424   -1.0
Name: proficiency_high_school, dtype: float64
11.8421052631579
1423    11.842105
1424    11.842105
Name: student_absenteeism, dtype: float64
1423    11.842105
1424    11.842105
Name: student_absenteeism, dtype: float64
488.0
1423    488.0
1424    488.0
Name: voters_participating, dtype: float64
1423    488.0
1424    488.0
Name: voters_participating, dtype: float64
4.0
1423    4.0
1424    4.0
Name: neighborhood_organizations, dtype: float64
1423    4.0
1424    4.0
Name: neighborhood_organizations, dtype: float64
15.0
1423    15.0
1424    15.0
Name: voter_participation, dtype: float64
1423    15.0
1424    15.0
Name: voter_participation, dtype: float64
5.1
1423    5.1
1424    5.1
Name: vacant_land, dtype: float64
1423    5.1
1424    5.1
Name: vacant_land, dtype: float64
18.0
1423    18.0
1424    18.0
Name: population_density, dtype: float64
1423    18.0
1424    18.0
Name: population_density, dtype: float64
6789.0
1423    6789.0
1424    6789.0
Name: population, dtype: float64
1423    6789.0
1424    6789.0
Name: population, dtype: float64
105.0
1423    105.0
1424    105.0
Name: transit_ridership, dtype: float64
1423    105.0
1424    105.0
Name: transit_ridership, dtype: float64
1.42
1423    1.42
1424    1.42
Name: street_connectivity, dtype: float64
1423    1.42
1424    1.42
Name: street_connectivity, dtype: float64
1.7
1423    1.7
1424    1.7
Name: bicycle_friendliness, dtype: float64
1423    1.7
1424    1.7
Name: bicycle_friendliness, dtype: float64
4.039
1425    2.340
1426    6.160
1427    1.496
1428    6.160
Name: Acres, dtype: float64
1425    2.340
1426    6.160
1427    1.496
1428    6.160
Name: Acres, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: births_to_adolescents, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: births_to_adolescents, dtype: float64
277.0
1425    277.0
1426    277.0
1427    277.0
1428    277.0
Name: grocery_proximate_units, dtype: float64
1425    277.0
1426    277.0
1427    277.0
1428    277.0
Name: grocery_proximate_units, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: prenatal_care, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: prenatal_care, dtype: float64
15.0
1425    15.0
1426    15.0
1427    15.0
1428    15.0
Name: grocery_proximity, dtype: float64
1425    15.0
1426    15.0
1427    15.0
1428    15.0
Name: grocery_proximity, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: low_birthweight, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: low_birthweight, dtype: float64
14.0
1425    14.0
1426    14.0
1427    14.0
1428    14.0
Name: public_health_insurance, dtype: float64
1425    14.0
1426    14.0
1427    14.0
1428    14.0
Name: public_health_insurance, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: age_of_death, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: age_of_death, dtype: float64
42.8
1425    42.8
1426    42.8
1427    42.8
1428    42.8
Name: impervious_surface, dtype: float64
1425    42.8
1426    42.8
1427    42.8
1428    42.8
Name: impervious_surface, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: water_consumption, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: water_consumption, dtype: float64
75.0
1425    75.0
1426    75.0
1427    75.0
1428    75.0
Name: neighborhood_school_attendance, dtype: float64
1425    75.0
1426    75.0
1427    75.0
1428    75.0
Name: neighborhood_school_attendance, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: highschool_graduation_rate, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: highschool_graduation_rate, dtype: float64
30.8
1425    30.8
1426    30.8
1427    30.8
1428    30.8
Name: proficiency_elementary_school, dtype: float64
1425    30.8
1426    30.8
1427    30.8
1428    30.8
Name: proficiency_elementary_school, dtype: float64
25.0
1425    25.0
1426    25.0
1427    25.0
1428    25.0
Name: proficiency_middle_school, dtype: float64
1425    25.0
1426    25.0
1427    25.0
1428    25.0
Name: proficiency_middle_school, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: proficiency_high_school, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: proficiency_high_school, dtype: float64
7.0
1425    7.0
1426    7.0
1427    7.0
1428    7.0
Name: student_absenteeism, dtype: float64
1425    7.0
1426    7.0
1427    7.0
1428    7.0
Name: student_absenteeism, dtype: float64
190.0
1425    190.0
1426    190.0
1427    190.0
1428    190.0
Name: voters_participating, dtype: float64
1425    190.0
1426    190.0
1427    190.0
1428    190.0
Name: voters_participating, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: neighborhood_organizations, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: neighborhood_organizations, dtype: float64
15.0
1425    15.0
1426    15.0
1427    15.0
1428    15.0
Name: voter_participation, dtype: float64
1425    15.0
1426    15.0
1427    15.0
1428    15.0
Name: voter_participation, dtype: float64
3.3
1425    3.3
1426    3.3
1427    3.3
1428    3.3
Name: vacant_land, dtype: float64
1425    3.3
1426    3.3
1427    3.3
1428    3.3
Name: vacant_land, dtype: float64
12.0

1425    12.0
1426    12.0
1427    12.0
1428    12.0
Name: population_density, dtype: float64
1425    12.0
1426    12.0
1427    12.0
1428    12.0
Name: population_density, dtype: float64
4482.0
1425    4482.0
1426    4482.0
1427    4482.0
1428    4482.0
Name: population, dtype: float64
1425    4482.0
1426    4482.0
1427    4482.0
1428    4482.0
Name: population, dtype: float64
nan
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: transit_ridership, dtype: float64
1425   -1.0
1426   -1.0
1427   -1.0
1428   -1.0
Name: transit_ridership, dtype: float64
1.55
1425    1.55
1426    1.55
1427    1.55
1428    1.55
Name: street_connectivity, dtype: float64
1425    1.55
1426    1.55
1427    1.55
1428    1.55
Name: street_connectivity, dtype: float64
1.7
1425    1.7
1426    1.7
1427    1.7
1428    1.7
Name: bicycle_friendliness, dtype: float64
1425    1.7
1426    1.7
1427    1.7
1428    1.7
Name: bicycle_friendliness, dtype: float64
1.95875
1429    0.59
1430    3.50
1431    1.96
1432    0.36
1433    3.50
Name: Acres, dtype: float64
1429    0.59
1430    3.50
1431    1.96
1432    0.36
1433    3.50
1434    2.40
1435    0.36
1436    3.00
Name: Acres, dtype: float64
0.0
1429    0.0
1430    0.0
1431    0.0
1432    0.0
1433    0.0
Name: births_to_adolescents, dtype: float64
1429    0.0
1430    0.0
1431    0.0
1432    0.0
1433    0.0
1434    0.0
1435    0.0
1436    0.0
Name: births_to_adolescents, dtype: float64
126.71428571428571
1429      7.0
1430      7.0
1431      7.0
1432    426.0
1433      7.0
Name: grocery_proximate_units, dtype: float64
1429      7.000000
1430      7.000000
1431      7.000000
1432    426.000000
1433      7.000000
1434    126.714286
1435    426.000000
1436      7.000000
Name: grocery_proximate_units, dtype: float64
73.3
1429    73.3
1430    73.3
1431    73.3
1432    73.3
1433    73.3
Name: prenatal_care, dtype: float64
1429    73.3
1430    73.3
1431    73.3
1432    73.3
1433    73.3
1434    73.3
1435    73.3
1436    73.3
Name: prenatal_care, dtype: float64
72.0
1429      2.0
1430    100.0
1431    100.0
1432    100.0
1433    100.0
Name: grocery_proximity, dtype: float64
1429      2.0
1430    100.0
1431    100.0
1432    100.0
1433    100.0
1434     72.0
1435    100.0
1436      2.0
Name: grocery_proximity, dtype: float64
6.7
1429    6.7
1430    6.7
1431    6.7
1432    6.7
1433    6.7
Name: low_birthweight, dtype: float64
1429    6.7
1430    6.7
1431    6.7
1432    6.7
1433    6.7
1434    6.7
1435    6.7
1436    6.7
Name: low_birthweight, dtype: float64
47.6
1429     5.0
1430    76.0
1431    76.0
1432    47.6
1433    76.0
Name: public_health_insurance, dtype: float64
1429     5.0
1430    76.0
1431    76.0
1432    47.6
1433    76.0
1434    47.6
1435    47.6
1436     5.0
Name: public_health_insurance, dtype: float64
nan
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
Name: age_of_death, dtype: float64
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
1434   -1.0
1435   -1.0
1436   -1.0
Name: age_of_death, dtype: float64
49.96
1429    49.96
1430    50.40
1431    50.40
1432    49.30
1433    50.40
Name: impervious_surface, dtype: float64
1429    49.96
1430    50.40
1431    50.40
1432    49.30
1433    50.40
1434    49.96
1435    49.30
1436    49.96
Name: impervious_surface, dtype: float64
nan
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
Name: water_consumption, dtype: float64
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
1434   -1.0
1435   -1.0
1436   -1.0
Name: water_consumption, dtype: float64
55.6
1429    40.0
1430    66.0
1431    66.0
1432    55.6
1433    66.0
Name: neighborhood_school_attendance, dtype: float64
1429    40.0
1430    66.0
1431    66.0
1432    55.6
1433    66.0
1434    55.6
1435    55.6
1436    40.0
Name: neighborhood_school_attendance, dtype: float64
nan
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
Name: highschool_graduation_rate, dtype: float64
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
1434   -1.0
1435   -1.0
1436   -1.0
Name: highschool_graduation_rate, dtype: float64
44.4
1429    44.4
1430    44.4
1431    44.4
1432    44.4
1433    44.4
Name: proficiency_elementary_school, dtype: float64
1429    44.4
1430    44.4
1431    44.4
1432    44.4
1433    44.4
1434    44.4
1435    44.4
1436    44.4
Name: proficiency_elementary_school, dtype: float64
25.0
1429    25.0
1430    25.0
1431    25.0
1432    25.0
1433    25.0
Name: proficiency_middle_school, dtype: float64
1429    25.0
1430    25.0
1431    25.0
1432    25.0
1433    25.0
1434    25.0
1435    25.0
1436    25.0
Name: proficiency_middle_school, dtype: float64
nan
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
Name: proficiency_high_school, dtype: float64
1429   -1.0
1430   -1.0
1431   -1.0
1432   -1.0
1433   -1.0
1434   -1.0
1435   -1.0
1436   -1.0
Name: proficiency_high_school, dtype: float64
13.8
1429     0.0
1430    23.0
1431    23.0
1432    13.8
1433    23.0
Name: student_absenteeism, dtype: float64
1429     0.0
1430    23.0
1431    23.0
1432    13.8
1433    23.0
1434    13.8
1435    13.8
1436     0.0
Name: student_absenteeism, dtype: float64
153.42857142857142
1429    116.0
1430    106.0
1431    106.0
1432    262.0
1433    106.0
Name: voters_participating, dtype: float64
1429    116.000000
1430    106.000000
1431    106.000000
1432    262.000000
1433    106.000000
1434    153.428571
1435    262.000000
1436    116.000000
Name: voters_participating, dtype: float64
2.0
1429    2.0
1430    2.0
1431    2.0
1432    2.0
1433    2.0
Name: neighborhood_organizations, dtype: float64
1429    2.0
1430    2.0
1431    2.0
1432    2.0
1433    2.0
1434    2.0
1435    2.0
1436    2.0
Name: neighborhood_organizations, dtype: float64
38.42857142857143
1429    46.0
1430    19.0
1431    19.0
1432    60.0
1433    19.0
Name: voter_participation, dtype: float64
1429    46.000000
1430    19.000000
1431    19.000000
1432    60.000000
1433    19.000000
1434    38.428571
1435    60.000000
1436    46.000000
Name: voter_participation, dtype: float64
1.4
1429    1.4
1430    1.4
1431    1.4
1432    1.4
1433    1.4
Name: vacant_land, dtype: float64
1429    1.4
1430    1.4
1431    1.4
1432    1.4
1433    1.4
1434    1.4
1435    1.4
1436    1.4
Name: vacant_land, dtype: float64
2.0
1429    2.0
1430    2.0
1431    2.0
1432    2.0
1433    2.0
Name: population_density, dtype: float64
1429    2.0
1430    2.0
1431    2.0
1432    2.0
1433    2.0
1434    2.0
1435    2.0
1436    2.0
Name: population_density, dtype: float64
610.0
1429    610.0
1430    616.0
1431    616.0
1432    601.0
1433    616.0
Name: population, dtype: float64
1429    610.0
1430    616.0
1431    616.0
1432    601.0
1433    616.0
1434    610.0
1435    601.0
1436    610.0
Name: population, dtype: float64
2348.0
1429    2348.0
1430    2348.0
1431    2348.0
1432    2348.0
1433    2348.0
Name: transit_ridership, dtype: float64
1429    2348.0
1430    2348.0
1431    2348.0
1432    2348.0
1433    2348.0
1434    2348.0
1435    2348.0
1436    2348.0
Name: transit_ridership, dtype: float64
1.48
1429    1.48
1430    1.48
1431    1.48
1432    1.48
1433    1.48
Name: street_connectivity, dtype: float64
1429    1.48
1430    1.48
1431    1.48
1432    1.48
1433    1.48
1434    1.48
1435    1.48
1436    1.48
Name: street_connectivity, dtype: float64
1.7
1429    1.7
1430    1.7
1431    1.7
1432    1.7
1433    1.7
Name: bicycle_friendliness, dtype: float64
1429    1.7
1430    1.7
1431    1.7
1432    1.7
1433    1.7
1434    1.7
1435    1.7
1436    1.7
Name: bicycle_friendliness, dtype: float64
0.8152333333333334
1437    0.025
1438    0.550
1439    1.500
1440    0.900
1441    3.590
Name: Acres, dtype: float64
1437    0.025
1438    0.550
1439    1.500
1440    0.900
1441    3.590
1442    0.200
1443    0.180
1444    0.130
1445    3.590
1446    0.340
1447    0.115
1448    0.470
1449    1.500
1450    0.230
1451    0.290
1452    0.038
1453    0.180
1454    1.270
1455    0.900
1456    0.226
1457    0.440
1458    0.025
1459    2.570
1460    1.350
1461    1.350
1462    0.410
1463    0.038
1464    0.560
1465    0.220
1466    1.270
Name: Acres, dtype: float64
1.2666666666666666
1437    1.266667
1438    1.266667
1439    1.266667
1440    1.266667
1441    1.266667
Name: births_to_adolescents, dtype: float64
1437    1.266667
1438    1.266667
1439    1.266667
1440    1.266667
1441    1.266667
1442    1.266667
1443    1.266667
1444    1.266667
1445    1.266667
1446    1.266667
1447    1.266667
1448    1.900000
1449    1.266667
1450    1.266667
1451    1.266667
1452    1.266667
1453    1.266667
1454    1.266667
1455    1.266667
1456    1.900000
1457    1.266667
1458    1.266667
1459    1.266667
1460    0.000000
1461    1.266667
1462    1.266667
1463    1.266667
1464    1.266667
1465    1.266667
1466    1.266667
Name: births_to_adolescents, dtype: float64
516.2727272727273
1437    529.000000
1438    516.272727
1439    530.000000
1440    492.000000
1441    492.000000
Name: grocery_proximate_units, dtype: float64
1437    529.000000
1438    516.272727
1439    530.000000
1440    492.000000
1441    492.000000
1442    530.000000
1443    516.272727
1444    529.000000
1445    492.000000
1446    516.272727
1447    529.000000
1448    515.000000
1449    530.000000
1450    530.000000
1451    516.272727
1452    529.000000
1453    529.000000
1454    492.000000
1455    516.272727
1456    515.000000
1457    516.272727
1458    529.000000
1459    492.000000
1460    532.000000
1461    529.000000
1462    516.272727
1463    529.000000
1464    492.000000
1465    516.272727
1466    492.000000
Name: grocery_proximate_units, dtype: float64
76.7
1437    76.7
1438    76.7
1439    76.7
1440    76.7
1441    76.7
Name: prenatal_care, dtype: float64
1437    76.7
1438    76.7
1439    76.7
1440    76.7
1441    76.7
1442    76.7
1443    76.7
1444    76.7
1445    76.7
1446    76.7
1447    76.7
1448    79.2
1449    76.7
1450    76.7
1451    76.7
1452    76.7
1453    76.7
1454    76.7
1455    76.7
1456    79.2
1457    76.7
1458    76.7
1459    76.7
1460    71.7
1461    76.7
1462    76.7
1463    76.7
1464    76.7
1465    76.7
1466    76.7
Name: prenatal_care, dtype: float64
53.90909090909091
1437    62.000000
1438    53.909091
1439    46.000000
1440    46.000000
1441    46.000000
Name: grocery_proximity, dtype: float64
1437    62.000000
1438    53.909091
1439    46.000000
1440    46.000000
1441    46.000000
1442    46.000000
1443    53.909091
1444    62.000000
1445    46.000000
1446    53.909091
1447    62.000000
1448    61.000000
1449    46.000000
1450    46.000000
1451    53.909091
1452    62.000000
1453    62.000000
1454    46.000000
1455    53.909091
1456    61.000000
1457    53.909091
1458    62.000000
1459    46.000000
1460    62.000000
1461    62.000000
1462    53.909091
1463    62.000000
1464    46.000000
1465    53.909091
1466    46.000000
Name: grocery_proximity, dtype: float64
4.0
1437    4.0
1438    4.0
1439    4.0
1440    4.0
1441    4.0
Name: low_birthweight, dtype: float64
1437    4.0
1438    4.0
1439    4.0
1440    4.0
1441    4.0
1442    4.0
1443    4.0
1444    4.0
1445    4.0
1446    4.0
1447    4.0
1448    3.8
1449    4.0
1450    4.0
1451    4.0
1452    4.0
1453    4.0
1454    4.0
1455    4.0
1456    3.8
1457    4.0
1458    4.0
1459    4.0
1460    4.4
1461    4.0
1462    4.0
1463    4.0
1464    4.0
1465    4.0
1466    4.0
Name: low_birthweight, dtype: float64
9.571428571428571
1437    11.000000
1438     9.571429
1439     8.000000
1440     9.571429
1441     9.571429
Name: public_health_insurance, dtype: float64
1437    11.000000
1438     9.571429
1439     8.000000
1440     9.571429
1441     9.571429
1442     8.000000
1443     9.571429
1444    11.000000
1445     9.571429
1446     9.571429
1447    11.000000
1448     7.000000
1449     8.000000
1450     8.000000
1451     9.571429
1452    11.000000
1453    11.000000
1454     9.571429
1455     9.571429
1456     7.000000
1457     9.571429
1458    11.000000
1459     9.571429
1460     9.571429
1461    11.000000
1462     9.571429
1463    11.000000
1464     9.571429
1465     9.571429
1466     9.571429
Name: public_health_insurance, dtype: float64
67.0
1437    67.0
1438    67.0
1439    67.0
1440    67.0
1441    67.0
Name: age_of_death, dtype: float64
1437    67.0
1438    67.0
1439    67.0
1440    67.0
1441    67.0
1442    67.0
1443    67.0
1444    67.0
1445    67.0
1446    67.0
1447    67.0
1448    64.0
1449    67.0
1450    67.0
1451    67.0
1452    67.0
1453    67.0
1454    67.0
1455    67.0
1456    64.0
1457    67.0
1458    67.0
1459    67.0
1460    73.0
1461    67.0
1462    67.0
1463    67.0
1464    67.0
1465    67.0
1466    67.0
Name: age_of_death, dtype: float64
24.54500000000001
1437    24.300
1438    24.545
1439    25.000
1440    24.600
1441    24.600
Name: impervious_surface, dtype: float64
1437    24.300
1438    24.545
1439    25.000
1440    24.600
1441    24.600
1442    25.000
1443    24.545
1444    24.300
1445    24.600
1446    24.545
1447    24.300
1448    24.545
1449    25.000
1450    25.000
1451    24.545
1452    24.300
1453    24.300
1454    24.600
1455    24.545
1456    24.545
1457    24.545
1458    24.300
1459    24.600
1460    24.300
1461    24.300
1462    24.545
1463    24.300
1464    24.600
1465    24.545
1466    24.600
Name: impervious_surface, dtype: float64
105.4
1437    105.4
1438    105.4
1439    105.4
1440    106.0
1441    106.0
Name: water_consumption, dtype: float64
1437    105.4
1438    105.4
1439    105.4
1440    106.0
1441    106.0
1442    105.4
1443    105.4
1444    105.4
1445    106.0
1446    105.4
1447    105.4
1448    100.0
1449    105.4
1450    105.4
1451    105.4
1452    105.4
1453    105.4
1454    106.0
1455    105.4
1456    100.0
1457    105.4
1458    105.4
1459    106.0
1460    112.0
1461    105.4
1462    105.4
1463    105.4
1464    106.0
1465    105.4
1466    106.0
Name: water_consumption, dtype: float64
25.229333333333326
1437    26.580000
1438    25.229333
1439    21.000000
1440    25.229333
1441    25.229333
Name: neighborhood_school_attendance, dtype: float64
1437    26.580000
1438    25.229333
1439    21.000000
1440    25.229333
1441    25.229333
1442    21.000000
1443    25.229333
1444    26.580000
1445    25.229333
1446    25.229333
1447    26.580000
1448    28.400000
1449    21.000000
1450    21.000000
1451    25.229333
1452    26.580000
1453    26.580000
1454    25.229333
1455    25.229333
1456    28.400000
1457    25.229333
1458    26.580000
1459    25.229333
1460    25.000000
1461    26.580000
1462    25.229333
1463    26.580000
1464    25.229333
1465    25.229333
1466    25.229333
Name: neighborhood_school_attendance, dtype: float64
60.0
1437    60.0
1438    60.0
1439    60.0
1440    60.0
1441    60.0
Name: highschool_graduation_rate, dtype: float64
1437    60.0
1438    60.0
1439    60.0
1440    60.0
1441    60.0
1442    60.0
1443    60.0
1444    60.0
1445    60.0
1446    60.0
1447    60.0
1448    60.0
1449    60.0
1450    60.0
1451    60.0
1452    60.0
1453    60.0
1454    60.0
1455    60.0
1456    60.0
1457    60.0
1458    60.0
1459    60.0
1460    60.0
1461    60.0
1462    60.0
1463    60.0
1464    60.0
1465    60.0
1466    60.0
Name: highschool_graduation_rate, dtype: float64
55.39711111111113
1437    54.166667
1438    55.397111
1439    50.000000
1440    55.397111
1441    55.397111
Name: proficiency_elementary_school, dtype: float64
1437    54.166667
1438    55.397111
1439    50.000000
1440    55.397111
1441    55.397111
1442    50.000000
1443    55.397111
1444    54.166667
1445    55.397111
1446    55.397111
1447    54.166667
1448    66.666667
1449    50.000000
1450    50.000000
1451    55.397111
1452    54.166667
1453    54.166667
1454    55.397111
1455    55.397111
1456    66.666667
1457    55.397111
1458    54.166667
1459    55.397111
1460    64.290000
1461    54.166667
1462    55.397111
1463    54.166667
1464    55.397111
1465    55.397111
1466    55.397111
Name: proficiency_elementary_school, dtype: float64
53.05228070175439
1437    56.250000
1438    53.052281
1439    58.300000
1440    53.052281
1441    53.052281
Name: proficiency_middle_school, dtype: float64
1437    56.250000
1438    53.052281
1439    58.300000
1440    53.052281
1441    53.052281
1442    58.300000
1443    53.052281
1444    56.250000
1445    53.052281
1446    53.052281
1447    56.250000
1448    36.842105
1449    58.300000
1450    58.300000
1451    53.052281
1452    56.250000
1453    56.250000
1454    53.052281
1455    53.052281
1456    36.842105
1457    53.052281
1458    56.250000
1459    53.052281
1460    38.900000
1461    56.250000
1462    53.052281
1463    56.250000
1464    53.052281
1465    53.052281
1466    53.052281
Name: proficiency_middle_school, dtype: float64
50.0
1437    50.0
1438    50.0
1439    50.0
1440    50.0
1441    50.0
Name: proficiency_high_school, dtype: float64
1437    50.0
1438    50.0
1439    50.0
1440    50.0
1441    50.0
1442    50.0
1443    50.0
1444    50.0
1445    50.0
1446    50.0
1447    50.0
1448    50.0
1449    50.0
1450    50.0
1451    50.0
1452    50.0
1453    50.0
1454    50.0
1455    50.0
1456    50.0
1457    50.0
1458    50.0
1459    50.0
1460    50.0
1461    50.0
1462    50.0
1463    50.0
1464    50.0
1465    50.0
1466    50.0
Name: proficiency_high_school, dtype: float64
10.512643678160918
1437    10.000000
1438    10.512644
1439    11.000000
1440    10.512644
1441    10.512644
Name: student_absenteeism, dtype: float64
1437    10.000000
1438    10.512644
1439    11.000000
1440    10.512644
1441    10.512644
1442    11.000000
1443    10.512644
1444    10.000000
1445    10.512644
1446    10.512644
1447    10.000000
1448    10.344828
1449    11.000000
1450    11.000000
1451    10.512644
1452    10.000000
1453    10.000000
1454    10.512644
1455    10.512644
1456    10.344828
1457    10.512644
1458    10.000000
1459    10.512644
1460    13.000000
1461    10.000000
1462    10.512644
1463    10.000000
1464    10.512644
1465    10.512644
1466    10.512644
Name: student_absenteeism, dtype: float64
520.3636363636364

1437    220.000000
1438    520.363636
1439    427.000000
1440    861.000000
1441    861.000000
Name: voters_participating, dtype: float64
1437    220.000000
1438    520.363636
1439    427.000000
1440    861.000000
1441    861.000000
1442    427.000000
1443    520.363636
1444    220.000000
1445    861.000000
1446    520.363636
1447    220.000000
1448    497.000000
1449    427.000000
1450    427.000000
1451    520.363636
1452    220.000000
1453    220.000000
1454    861.000000
1455    520.363636
1456    497.000000
1457    520.363636
1458    220.000000
1459    861.000000
1460    959.000000
1461    220.000000
1462    520.363636
1463    220.000000
1464    861.000000
1465    520.363636
1466    861.000000
Name: voters_participating, dtype: float64
2.0
1437    2.0
1438    2.0
1439    2.0
1440    2.0
1441    2.0
Name: neighborhood_organizations, dtype: float64
1437    2.0
1438    2.0
1439    2.0
1440    2.0
1441    2.0
1442    2.0
1443    2.0
1444    2.0
1445    2.0
1446    2.0
1447    2.0
1448    2.0
1449    2.0
1450    2.0
1451    2.0
1452    2.0
1453    2.0
1454    2.0
1455    2.0
1456    2.0
1457    2.0
1458    2.0
1459    2.0
1460    2.0
1461    2.0
1462    2.0
1463    2.0
1464    2.0
1465    2.0
1466    2.0
Name: neighborhood_organizations, dtype: float64
45.22727272727273
1437    24.000000
1438    45.227273
1439    28.000000
1440    71.000000
1441    71.000000
Name: voter_participation, dtype: float64
1437    24.000000
1438    45.227273
1439    28.000000
1440    71.000000
1441    71.000000
1442    28.000000
1443    45.227273
1444    24.000000
1445    71.000000
1446    45.227273
1447    24.000000
1448    57.000000
1449    28.000000
1450    28.000000
1451    45.227273
1452    24.000000
1453    24.000000
1454    71.000000
1455    45.227273
1456    57.000000
1457    45.227273
1458    24.000000
1459    71.000000
1460    80.000000
1461    24.000000
1462    45.227273
1463    24.000000
1464    71.000000
1465    45.227273
1466    71.000000
Name: voter_participation, dtype: float64
4.200000000000001
1437    4.2
1438    4.2
1439    4.2
1440    4.2
1441    4.2
Name: vacant_land, dtype: float64
1437    4.2
1438    4.2
1439    4.2
1440    4.2
1441    4.2
1442    4.2
1443    4.2
1444    4.2
1445    4.2
1446    4.2
1447    4.2
1448    4.2
1449    4.2
1450    4.2
1451    4.2
1452    4.2
1453    4.2
1454    4.2
1455    4.2
1456    4.2
1457    4.2
1458    4.2
1459    4.2
1460    4.2
1461    4.2
1462    4.2
1463    4.2
1464    4.2
1465    4.2
1466    4.2
Name: vacant_land, dtype: float64
6.7
1437    6.0
1438    6.7
1439    6.0
1440    8.0
1441    8.0
Name: population_density, dtype: float64
1437    6.0
1438    6.7
1439    6.0
1440    8.0
1441    8.0
1442    6.0
1443    6.7
1444    6.0
1445    8.0
1446    6.7
1447    6.0
1448    6.7
1449    6.0
1450    6.0
1451    6.7
1452    6.0
1453    6.0
1454    8.0
1455    6.7
1456    6.7
1457    6.7
1458    6.0
1459    8.0
1460    6.0
1461    6.0
1462    6.7
1463    6.0
1464    8.0
1465    6.7
1466    8.0
Name: population_density, dtype: float64
1795.8
1437    1618.0
1438    1795.8
1439    1643.0
1440    2109.0
1441    2109.0
Name: population, dtype: float64
1437    1618.0
1438    1795.8
1439    1643.0
1440    2109.0
1441    2109.0
1442    1643.0
1443    1795.8
1444    1618.0
1445    2109.0
1446    1795.8
1447    1618.0
1448    1795.8
1449    1643.0
1450    1643.0
1451    1795.8
1452    1618.0
1453    1618.0
1454    2109.0
1455    1795.8
1456    1795.8
1457    1795.8
1458    1618.0
1459    2109.0
1460    1637.0
1461    1618.0
1462    1795.8
1463    1618.0
1464    2109.0
1465    1795.8
1466    2109.0
Name: population, dtype: float64
60.4
1437    59.0
1438    60.4
1439    60.4
1440    60.4
1441    60.4
Name: transit_ridership, dtype: float64
1437    59.0
1438    60.4
1439    60.4
1440    60.4
1441    60.4
1442    60.4
1443    60.4
1444    59.0
1445    60.4
1446    60.4
1447    59.0
1448    66.0
1449    60.4
1450    60.4
1451    60.4
1452    59.0
1453    59.0
1454    60.4
1455    60.4
1456    66.0
1457    60.4
1458    59.0
1459    60.4
1460    60.4
1461    59.0
1462    60.4
1463    59.0
1464    60.4
1465    60.4
1466    60.4
Name: transit_ridership, dtype: float64
1.3900000000000003
1437    1.39
1438    1.39
1439    1.39
1440    1.39
1441    1.39
Name: street_connectivity, dtype: float64
1437    1.39
1438    1.39
1439    1.39
1440    1.39
1441    1.39
1442    1.39
1443    1.39
1444    1.39
1445    1.39
1446    1.39
1447    1.39
1448    1.39
1449    1.39
1450    1.39
1451    1.39
1452    1.39
1453    1.39
1454    1.39
1455    1.39
1456    1.39
1457    1.39
1458    1.39
1459    1.39
1460    1.39
1461    1.39
1462    1.39
1463    1.39
1464    1.39
1465    1.39
1466    1.39
Name: street_connectivity, dtype: float64
1.8
1437    1.8
1438    1.8
1439    1.8
1440    1.8
1441    1.8
Name: bicycle_friendliness, dtype: float64
1437    1.8
1438    1.8
1439    1.8
1440    1.8
1441    1.8
1442    1.8
1443    1.8
1444    1.8
1445    1.8
1446    1.8
1447    1.8
1448    1.8
1449    1.8
1450    1.8
1451    1.8
1452    1.8
1453    1.8
1454    1.8
1455    1.8
1456    1.8
1457    1.8
1458    1.8
1459    1.8
1460    1.8
1461    1.8
1462    1.8
1463    1.8
1464    1.8
1465    1.8
1466    1.8
Name: bicycle_friendliness, dtype: float64
1.18
1467    1.18
Name: Acres, dtype: float64
1467    1.18
Name: Acres, dtype: float64
4.6
1467    4.6
Name: births_to_adolescents, dtype: float64
1467    4.6
Name: births_to_adolescents, dtype: float64
562.0
1467    562.0
Name: grocery_proximate_units, dtype: float64
1467    562.0
Name: grocery_proximate_units, dtype: float64
61.4
1467    61.4
Name: prenatal_care, dtype: float64
1467    61.4
Name: prenatal_care, dtype: float64
71.0
1467    71.0
Name: grocery_proximity, dtype: float64
1467    71.0
Name: grocery_proximity, dtype: float64
18.2
1467    18.2
Name: low_birthweight, dtype: float64
1467    18.2
Name: low_birthweight, dtype: float64
nan
1467   -1.0
Name: public_health_insurance, dtype: float64
1467   -1.0
Name: public_health_insurance, dtype: float64
63.0
1467    63.0
Name: age_of_death, dtype: float64
1467    63.0
Name: age_of_death, dtype: float64
20.6
1467    20.6
Name: impervious_surface, dtype: float64
1467    20.6
Name: impervious_surface, dtype: float64
114.0
1467    114.0
Name: water_consumption, dtype: float64
1467    114.0
Name: water_consumption, dtype: float64
65.6
1467    65.6
Name: neighborhood_school_attendance, dtype: float64
1467    65.6
Name: neighborhood_school_attendance, dtype: float64
60.0
1467    60.0
Name: highschool_graduation_rate, dtype: float64
1467    60.0
Name: highschool_graduation_rate, dtype: float64
20.69
1467    20.69
Name: proficiency_elementary_school, dtype: float64
1467    20.69
Name: proficiency_elementary_school, dtype: float64
19.2
1467    19.2
Name: proficiency_middle_school, dtype: float64
1467    19.2
Name: proficiency_middle_school, dtype: float64
nan
1467   -1.0
Name: proficiency_high_school, dtype: float64
1467   -1.0
Name: proficiency_high_school, dtype: float64
25.0
1467    25.0
Name: student_absenteeism, dtype: float64
1467    25.0
Name: student_absenteeism, dtype: float64
881.0
1467    881.0
Name: voters_participating, dtype: float64
1467    881.0
Name: voters_participating, dtype: float64
nan
1467   -1.0
Name: neighborhood_organizations, dtype: float64
1467   -1.0
Name: neighborhood_organizations, dtype: float64
74.0
1467    74.0
Name: voter_participation, dtype: float64
1467    74.0
Name: voter_participation, dtype: float64
13.9
1467    13.9
Name: vacant_land, dtype: float64
1467    13.9
Name: vacant_land, dtype: float64
6.0
1467    6.0
Name: population_density, dtype: float64
1467    6.0
Name: population_density, dtype: float64
1668.0
1467    1668.0
Name: population, dtype: float64
1467    1668.0
Name: population, dtype: float64
nan
1467   -1.0
Name: transit_ridership, dtype: float64
1467   -1.0
Name: transit_ridership, dtype: float64
1.3
1467    1.3
Name: street_connectivity, dtype: float64
1467    1.3
Name: street_connectivity, dtype: float64
1.6
1467    1.6
Name: bicycle_friendliness, dtype: float64
1467    1.6
Name: bicycle_friendliness, dtype: float64
6.828666666666666
1468    5.958
1469    5.958
1470    8.570
Name: Acres, dtype: float64
1468    5.958
1469    5.958
1470    8.570
Name: Acres, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: births_to_adolescents, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1468    0.0
1469    0.0
1470    0.0
Name: grocery_proximate_units, dtype: float64
1468    0.0
1469    0.0
1470    0.0
Name: grocery_proximate_units, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: prenatal_care, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: prenatal_care, dtype: float64
0.0
1468    0.0
1469    0.0
1470    0.0
Name: grocery_proximity, dtype: float64
1468    0.0
1469    0.0
1470    0.0
Name: grocery_proximity, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: low_birthweight, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: low_birthweight, dtype: float64
17.0
1468    17.0
1469    17.0
1470    17.0
Name: public_health_insurance, dtype: float64
1468    17.0
1469    17.0
1470    17.0
Name: public_health_insurance, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: age_of_death, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: age_of_death, dtype: float64
8.2
1468    8.2
1469    8.2
1470    8.2
Name: impervious_surface, dtype: float64
1468    8.2
1469    8.2
1470    8.2
Name: impervious_surface, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: water_consumption, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: water_consumption, dtype: float64
79.0
1468    79.0
1469    79.0
1470    79.0
Name: neighborhood_school_attendance, dtype: float64
1468    79.0
1469    79.0
1470    79.0
Name: neighborhood_school_attendance, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: highschool_graduation_rate, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: highschool_graduation_rate, dtype: float64
33.3
1468    33.3
1469    33.3
1470    33.3
Name: proficiency_elementary_school, dtype: float64
1468    33.3
1469    33.3
1470    33.3
Name: proficiency_elementary_school, dtype: float64
17.7
1468    17.7
1469    17.7
1470    17.7
Name: proficiency_middle_school, dtype: float64
1468    17.7
1469    17.7
1470    17.7
Name: proficiency_middle_school, dtype: float64
20.0

1468    20.0
1469    20.0
1470    20.0
Name: proficiency_high_school, dtype: float64
1468    20.0
1469    20.0
1470    20.0
Name: proficiency_high_school, dtype: float64
16.0
1468    16.0
1469    16.0
1470    16.0
Name: student_absenteeism, dtype: float64
1468    16.0
1469    16.0
1470    16.0
Name: student_absenteeism, dtype: float64
134.0
1468    134.0
1469    134.0
1470    134.0
Name: voters_participating, dtype: float64
1468    134.0
1469    134.0
1470    134.0
Name: voters_participating, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: neighborhood_organizations, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: neighborhood_organizations, dtype: float64
22.0
1468    22.0
1469    22.0
1470    22.0
Name: voter_participation, dtype: float64
1468    22.0
1469    22.0
1470    22.0
Name: voter_participation, dtype: float64
24.5
1468    24.5
1469    24.5
1470    24.5
Name: vacant_land, dtype: float64
1468    24.5
1469    24.5
1470    24.5
Name: vacant_land, dtype: float64
1.0
1468    1.0
1469    1.0
1470    1.0
Name: population_density, dtype: float64
1468    1.0
1469    1.0
1470    1.0
Name: population_density, dtype: float64
939.0
1468    939.0
1469    939.0
1470    939.0
Name: population, dtype: float64
1468    939.0
1469    939.0
1470    939.0
Name: population, dtype: float64
nan
1468   -1.0
1469   -1.0
1470   -1.0
Name: transit_ridership, dtype: float64
1468   -1.0
1469   -1.0
1470   -1.0
Name: transit_ridership, dtype: float64
1.27
1468    1.27
1469    1.27
1470    1.27
Name: street_connectivity, dtype: float64
1468    1.27
1469    1.27
1470    1.27
Name: street_connectivity, dtype: float64
1.3
1468    1.3
1469    1.3
1470    1.3
Name: bicycle_friendliness, dtype: float64
1468    1.3
1469    1.3
1470    1.3
Name: bicycle_friendliness, dtype: float64
7.842499999999999
1471    7.972
1472    7.713
Name: Acres, dtype: float64
1471    7.972
1472    7.713
Name: Acres, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: births_to_adolescents, dtype: float64
1471   -1.0
1472   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1471    0.0
1472    0.0
Name: grocery_proximate_units, dtype: float64
1471    0.0
1472    0.0
Name: grocery_proximate_units, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: prenatal_care, dtype: float64
1471   -1.0
1472   -1.0
Name: prenatal_care, dtype: float64
0.0
1471    0.0
1472    0.0
Name: grocery_proximity, dtype: float64
1471    0.0
1472    0.0
Name: grocery_proximity, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: low_birthweight, dtype: float64
1471   -1.0
1472   -1.0
Name: low_birthweight, dtype: float64
30.0
1471    30.0
1472    30.0
Name: public_health_insurance, dtype: float64
1471    30.0
1472    30.0
Name: public_health_insurance, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: age_of_death, dtype: float64
1471   -1.0
1472   -1.0
Name: age_of_death, dtype: float64
26.9
1471    26.9
1472    26.9
Name: impervious_surface, dtype: float64
1471    26.9
1472    26.9
Name: impervious_surface, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: water_consumption, dtype: float64
1471   -1.0
1472   -1.0
Name: water_consumption, dtype: float64
68.0
1471    68.0
1472    68.0
Name: neighborhood_school_attendance, dtype: float64
1471    68.0
1472    68.0
Name: neighborhood_school_attendance, dtype: float64
86.0
1471    86.0
1472    86.0
Name: highschool_graduation_rate, dtype: float64
1471    86.0
1472    86.0
Name: highschool_graduation_rate, dtype: float64
32.0
1471    32.0
1472    32.0
Name: proficiency_elementary_school, dtype: float64
1471    32.0
1472    32.0
Name: proficiency_elementary_school, dtype: float64
33.3
1471    33.3
1472    33.3
Name: proficiency_middle_school, dtype: float64
1471    33.3
1472    33.3
Name: proficiency_middle_school, dtype: float64
25.0
1471    25.0
1472    25.0
Name: proficiency_high_school, dtype: float64
1471    25.0
1472    25.0
Name: proficiency_high_school, dtype: float64
19.0
1471    19.0
1472    19.0
Name: student_absenteeism, dtype: float64
1471    19.0
1472    19.0
Name: student_absenteeism, dtype: float64
246.0
1471    246.0
1472    246.0
Name: voters_participating, dtype: float64
1471    246.0
1472    246.0
Name: voters_participating, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: neighborhood_organizations, dtype: float64
1471   -1.0
1472   -1.0
Name: neighborhood_organizations, dtype: float64
14.0
1471    14.0
1472    14.0
Name: voter_participation, dtype: float64
1471    14.0
1472    14.0
Name: voter_participation, dtype: float64
7.6
1471    7.6
1472    7.6
Name: vacant_land, dtype: float64
1471    7.6
1472    7.6
Name: vacant_land, dtype: float64
4.0
1471    4.0
1472    4.0
Name: population_density, dtype: float64
1471    4.0
1472    4.0
Name: population_density, dtype: float64
2891.0
1471    2891.0
1472    2891.0
Name: population, dtype: float64
1471    2891.0
1472    2891.0
Name: population, dtype: float64
nan
1471   -1.0
1472   -1.0
Name: transit_ridership, dtype: float64
1471   -1.0
1472   -1.0
Name: transit_ridership, dtype: float64
1.23
1471    1.23
1472    1.23
Name: street_connectivity, dtype: float64
1471    1.23
1472    1.23
Name: street_connectivity, dtype: float64
1.5
1471    1.5
1472    1.5
Name: bicycle_friendliness, dtype: float64
1471    1.5
1472    1.5
Name: bicycle_friendliness, dtype: float64
3.809333333333333
1473    4.130
1474    4.134
1475    4.560
1476    1.600
1477    4.560
Name: Acres, dtype: float64
1473    4.130
1474    4.134
1475    4.560
1476    1.600
1477    4.560
1478    4.560
1479    4.134
1480    4.560
1481    3.870
1482    1.600
1483    4.134
1484    3.870
Name: Acres, dtype: float64
0.0
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
Name: births_to_adolescents, dtype: float64
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
1478    0.0
1479    0.0
1480    0.0
1481    0.0
1482    0.0
1483    0.0
1484    0.0
Name: births_to_adolescents, dtype: float64
0.0
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
Name: grocery_proximate_units, dtype: float64
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
1478    0.0
1479    0.0
1480    0.0
1481    0.0
1482    0.0
1483    0.0
1484    0.0
Name: grocery_proximate_units, dtype: float64
47.4
1473    47.4
1474    47.4
1475    47.4
1476    47.4
1477    47.4
Name: prenatal_care, dtype: float64
1473    47.4
1474    47.4
1475    47.4
1476    47.4
1477    47.4
1478    47.4
1479    47.4
1480    47.4
1481    47.4
1482    47.4
1483    47.4
1484    47.4
Name: prenatal_care, dtype: float64
0.0
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
Name: grocery_proximity, dtype: float64
1473    0.0
1474    0.0
1475    0.0
1476    0.0
1477    0.0
1478    0.0
1479    0.0
1480    0.0
1481    0.0
1482    0.0
1483    0.0
1484    0.0
Name: grocery_proximity, dtype: float64
5.3
1473    5.3
1474    5.3
1475    5.3
1476    5.3
1477    5.3
Name: low_birthweight, dtype: float64
1473    5.3
1474    5.3
1475    5.3
1476    5.3
1477    5.3
1478    5.3
1479    5.3
1480    5.3
1481    5.3
1482    5.3
1483    5.3
1484    5.3
Name: low_birthweight, dtype: float64
nan
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
Name: public_health_insurance, dtype: float64
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
1478   -1.0
1479   -1.0
1480   -1.0
1481   -1.0
1482   -1.0
1483   -1.0
1484   -1.0
Name: public_health_insurance, dtype: float64
71.0
1473    71.0
1474    71.0
1475    71.0
1476    71.0
1477    71.0
Name: age_of_death, dtype: float64
1473    71.0
1474    71.0
1475    71.0
1476    71.0
1477    71.0
1478    71.0
1479    71.0
1480    71.0
1481    71.0
1482    71.0
1483    71.0
1484    71.0
Name: age_of_death, dtype: float64
26.099999999999998
1473    26.5
1474    26.5
1475    25.7
1476    25.7
1477    25.7
Name: impervious_surface, dtype: float64
1473    26.5
1474    26.5
1475    25.7
1476    25.7
1477    25.7
1478    25.7
1479    26.5
1480    25.7
1481    26.5
1482    25.7
1483    26.5
1484    26.5
Name: impervious_surface, dtype: float64
124.0
1473    113.0
1474    113.0
1475    135.0
1476    135.0
1477    135.0
Name: water_consumption, dtype: float64
1473    113.0
1474    113.0
1475    135.0
1476    135.0
1477    135.0
1478    135.0
1479    113.0
1480    135.0
1481    113.0
1482    135.0
1483    113.0
1484    113.0
Name: water_consumption, dtype: float64
56.5
1473    56.5
1474    56.5
1475    56.5
1476    56.5
1477    56.5
Name: neighborhood_school_attendance, dtype: float64
1473    56.5
1474    56.5
1475    56.5
1476    56.5
1477    56.5
1478    56.5
1479    56.5
1480    56.5
1481    56.5
1482    56.5
1483    56.5
1484    56.5
Name: neighborhood_school_attendance, dtype: float64
71.0
1473    71.0
1474    71.0
1475    71.0
1476    71.0
1477    71.0
Name: highschool_graduation_rate, dtype: float64
1473    71.0
1474    71.0
1475    71.0
1476    71.0
1477    71.0
1478    71.0
1479    71.0
1480    71.0
1481    71.0
1482    71.0
1483    71.0
1484    71.0
Name: highschool_graduation_rate, dtype: float64
18.75
1473    18.75
1474    18.75
1475    18.75
1476    18.75
1477    18.75
Name: proficiency_elementary_school, dtype: float64
1473    18.75
1474    18.75
1475    18.75
1476    18.75
1477    18.75
1478    18.75
1479    18.75
1480    18.75
1481    18.75
1482    18.75
1483    18.75
1484    18.75
Name: proficiency_elementary_school, dtype: float64
nan
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
Name: proficiency_middle_school, dtype: float64
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
1478   -1.0
1479   -1.0
1480   -1.0
1481   -1.0
1482   -1.0
1483   -1.0
1484   -1.0
Name: proficiency_middle_school, dtype: float64
66.7
1473    66.7
1474    66.7
1475    66.7
1476    66.7
1477    66.7
Name: proficiency_high_school, dtype: float64
1473    66.7
1474    66.7
1475    66.7
1476    66.7
1477    66.7
1478    66.7
1479    66.7
1480    66.7
1481    66.7
1482    66.7
1483    66.7
1484    66.7
Name: proficiency_high_school, dtype: float64
13.0
1473    13.0
1474    13.0
1475    13.0
1476    13.0
1477    13.0
Name: student_absenteeism, dtype: float64
1473    13.0
1474    13.0
1475    13.0
1476    13.0
1477    13.0
1478    13.0
1479    13.0
1480    13.0
1481    13.0
1482    13.0
1483    13.0
1484    13.0
Name: student_absenteeism, dtype: float64
261.5
1473    233.0
1474    233.0
1475    290.0
1476    290.0
1477    290.0
Name: voters_participating, dtype: float64
1473    233.0
1474    233.0
1475    290.0
1476    290.0
1477    290.0
1478    290.0
1479    233.0
1480    290.0
1481    233.0
1482    290.0
1483    233.0
1484    233.0
Name: voters_participating, dtype: float64
nan
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
Name: neighborhood_organizations, dtype: float64
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
1478   -1.0
1479   -1.0
1480   -1.0
1481   -1.0
1482   -1.0
1483   -1.0
1484   -1.0
Name: neighborhood_organizations, dtype: float64
62.0
1473    59.0
1474    59.0
1475    65.0
1476    65.0
1477    65.0
Name: voter_participation, dtype: float64
1473    59.0
1474    59.0
1475    65.0
1476    65.0
1477    65.0
1478    65.0
1479    59.0
1480    65.0
1481    59.0
1482    65.0
1483    59.0
1484    59.0
Name: voter_participation, dtype: float64
15.900000000000004
1473    15.9
1474    15.9
1475    15.9
1476    15.9
1477    15.9
Name: vacant_land, dtype: float64
1473    15.9
1474    15.9
1475    15.9
1476    15.9
1477    15.9
1478    15.9
1479    15.9
1480    15.9
1481    15.9
1482    15.9
1483    15.9
1484    15.9
Name: vacant_land, dtype: float64
6.0
1473    6.0
1474    6.0
1475    6.0
1476    6.0
1477    6.0
Name: population_density, dtype: float64
1473    6.0
1474    6.0
1475    6.0
1476    6.0
1477    6.0
1478    6.0
1479    6.0
1480    6.0
1481    6.0
1482    6.0
1483    6.0
1484    6.0
Name: population_density, dtype: float64
879.0
1473    893.0
1474    893.0
1475    865.0
1476    865.0
1477    865.0
Name: population, dtype: float64
1473    893.0
1474    893.0
1475    865.0
1476    865.0
1477    865.0
1478    865.0
1479    893.0
1480    865.0
1481    893.0
1482    865.0
1483    893.0
1484    893.0
Name: population, dtype: float64
nan
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
Name: transit_ridership, dtype: float64
1473   -1.0
1474   -1.0
1475   -1.0
1476   -1.0
1477   -1.0
1478   -1.0
1479   -1.0
1480   -1.0
1481   -1.0
1482   -1.0
1483   -1.0
1484   -1.0
Name: transit_ridership, dtype: float64
1.245
1473    1.25
1474    1.25
1475    1.24
1476    1.24
1477    1.24
Name: street_connectivity, dtype: float64
1473    1.25
1474    1.25
1475    1.24
1476    1.24
1477    1.24
1478    1.24
1479    1.25
1480    1.24
1481    1.25
1482    1.24
1483    1.25
1484    1.25
Name: street_connectivity, dtype: float64
1.8999999999999997
1473    1.9
1474    1.9
1475    1.9
1476    1.9
1477    1.9
Name: bicycle_friendliness, dtype: float64
1473    1.9
1474    1.9
1475    1.9
1476    1.9
1477    1.9
1478    1.9
1479    1.9
1480    1.9
1481    1.9
1482    1.9
1483    1.9
1484    1.9
Name: bicycle_friendliness, dtype: float64
23.424999999999997
1485    29.08
1486    17.77
Name: Acres, dtype: float64
1485    29.08
1486    17.77
Name: Acres, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: births_to_adolescents, dtype: float64
1485   -1.0
1486   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1485    0.0
1486    0.0
Name: grocery_proximate_units, dtype: float64
1485    0.0
1486    0.0
Name: grocery_proximate_units, dtype: float64
nan

1485   -1.0
1486   -1.0
Name: prenatal_care, dtype: float64
1485   -1.0
1486   -1.0
Name: prenatal_care, dtype: float64
0.0
1485    0.0
1486    0.0
Name: grocery_proximity, dtype: float64
1485    0.0
1486    0.0
Name: grocery_proximity, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: low_birthweight, dtype: float64
1485   -1.0
1486   -1.0
Name: low_birthweight, dtype: float64
16.0
1485    16.0
1486    16.0
Name: public_health_insurance, dtype: float64
1485    16.0
1486    16.0
Name: public_health_insurance, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: age_of_death, dtype: float64
1485   -1.0
1486   -1.0
Name: age_of_death, dtype: float64
9.2
1485    9.2
1486    9.2
Name: impervious_surface, dtype: float64
1485    9.2
1486    9.2
Name: impervious_surface, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: water_consumption, dtype: float64
1485   -1.0
1486   -1.0
Name: water_consumption, dtype: float64
73.0
1485    73.0
1486    73.0
Name: neighborhood_school_attendance, dtype: float64
1485    73.0
1486    73.0
Name: neighborhood_school_attendance, dtype: float64
83.0
1485    83.0
1486    83.0
Name: highschool_graduation_rate, dtype: float64
1485    83.0
1486    83.0
Name: highschool_graduation_rate, dtype: float64
45.2
1485    45.2
1486    45.2
Name: proficiency_elementary_school, dtype: float64
1485    45.2
1486    45.2
Name: proficiency_elementary_school, dtype: float64
32.6
1485    32.6
1486    32.6
Name: proficiency_middle_school, dtype: float64
1485    32.6
1486    32.6
Name: proficiency_middle_school, dtype: float64
25.0
1485    25.0
1486    25.0
Name: proficiency_high_school, dtype: float64
1485    25.0
1486    25.0
Name: proficiency_high_school, dtype: float64
9.0
1485    9.0
1486    9.0
Name: student_absenteeism, dtype: float64
1485    9.0
1486    9.0
Name: student_absenteeism, dtype: float64
608.0
1485    608.0
1486    608.0
Name: voters_participating, dtype: float64
1485    608.0
1486    608.0
Name: voters_participating, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: neighborhood_organizations, dtype: float64
1485   -1.0
1486   -1.0
Name: neighborhood_organizations, dtype: float64
26.0
1485    26.0
1486    26.0
Name: voter_participation, dtype: float64
1485    26.0
1486    26.0
Name: voter_participation, dtype: float64
17.4
1485    17.4
1486    17.4
Name: vacant_land, dtype: float64
1485    17.4
1486    17.4
Name: vacant_land, dtype: float64
2.0
1485    2.0
1486    2.0
Name: population_density, dtype: float64
1485    2.0
1486    2.0
Name: population_density, dtype: float64
3240.0
1485    3240.0
1486    3240.0
Name: population, dtype: float64
1485    3240.0
1486    3240.0
Name: population, dtype: float64
nan
1485   -1.0
1486   -1.0
Name: transit_ridership, dtype: float64
1485   -1.0
1486   -1.0
Name: transit_ridership, dtype: float64
1.21
1485    1.21
1486    1.21
Name: street_connectivity, dtype: float64
1485    1.21
1486    1.21
Name: street_connectivity, dtype: float64
1.4
1485    1.4
1486    1.4
Name: bicycle_friendliness, dtype: float64
1485    1.4
1486    1.4
Name: bicycle_friendliness, dtype: float64
21.63714285714286
1487    10.8
1488    10.8
1489    36.1
1490    10.8
1491    36.1
Name: Acres, dtype: float64
1487    10.80
1488    10.80
1489    36.10
1490    10.80
1491    36.10
1492    36.06
1493    10.80
Name: Acres, dtype: float64
4.4
1487    4.4
1488    4.4
1489    4.4
1490    4.4
1491    4.4
Name: births_to_adolescents, dtype: float64
1487    4.4
1488    4.4
1489    4.4
1490    4.4
1491    4.4
1492    4.4
1493    4.4
Name: births_to_adolescents, dtype: float64
591.5
1487    592.0
1488    592.0
1489    592.0
1490    591.0
1491    591.0
Name: grocery_proximate_units, dtype: float64
1487    592.0
1488    592.0
1489    592.0
1490    591.0
1491    591.0
1492    591.5
1493    591.0
Name: grocery_proximate_units, dtype: float64
62.20000000000001
1487    62.2
1488    62.2
1489    62.2
1490    62.2
1491    62.2
Name: prenatal_care, dtype: float64
1487    62.2
1488    62.2
1489    62.2
1490    62.2
1491    62.2
1492    62.2
1493    62.2
Name: prenatal_care, dtype: float64
75.0
1487    75.0
1488    75.0
1489    75.0
1490    75.0
1491    75.0
Name: grocery_proximity, dtype: float64
1487    75.0
1488    75.0
1489    75.0
1490    75.0
1491    75.0
1492    75.0
1493    75.0
Name: grocery_proximity, dtype: float64
13.300000000000002
1487    13.3
1488    13.3
1489    13.3
1490    13.3
1491    13.3
Name: low_birthweight, dtype: float64
1487    13.3
1488    13.3
1489    13.3
1490    13.3
1491    13.3
1492    13.3
1493    13.3
Name: low_birthweight, dtype: float64
11.0
1487    11.0
1488    11.0
1489    11.0
1490    11.0
1491    11.0
Name: public_health_insurance, dtype: float64
1487    11.0
1488    11.0
1489    11.0
1490    11.0
1491    11.0
1492    11.0
1493    11.0
Name: public_health_insurance, dtype: float64
82.0
1487    82.0
1488    82.0
1489    82.0
1490    82.0
1491    82.0
Name: age_of_death, dtype: float64
1487    82.0
1488    82.0
1489    82.0
1490    82.0
1491    82.0
1492    82.0
1493    82.0
Name: age_of_death, dtype: float64
20.349999999999998
1487    20.2
1488    20.2
1489    20.2
1490    20.5
1491    20.5
Name: impervious_surface, dtype: float64
1487    20.20
1488    20.20
1489    20.20
1490    20.50
1491    20.50
1492    20.35
1493    20.50
Name: impervious_surface, dtype: float64
275.0
1487    275.0
1488    275.0
1489    275.0
1490    275.0
1491    275.0
Name: water_consumption, dtype: float64
1487    275.0
1488    275.0
1489    275.0
1490    275.0
1491    275.0
1492    275.0
1493    275.0
Name: water_consumption, dtype: float64
89.41000000000001
1487    90.12
1488    90.12
1489    90.12
1490    88.70
1491    88.70
Name: neighborhood_school_attendance, dtype: float64
1487    90.12
1488    90.12
1489    90.12
1490    88.70
1491    88.70
1492    89.41
1493    88.70
Name: neighborhood_school_attendance, dtype: float64
96.5
1487    100.0
1488    100.0
1489    100.0
1490     93.0
1491     93.0
Name: highschool_graduation_rate, dtype: float64
1487    100.0
1488    100.0
1489    100.0
1490     93.0
1491     93.0
1492     96.5
1493     93.0
Name: highschool_graduation_rate, dtype: float64
68.70590909090912
1487    68.181818
1488    68.181818
1489    68.181818
1490    69.230000
1491    69.230000
Name: proficiency_elementary_school, dtype: float64
1487    68.181818
1488    68.181818
1489    68.181818
1490    69.230000
1491    69.230000
1492    68.705909
1493    69.230000
Name: proficiency_elementary_school, dtype: float64
57.720000000000006
1487    54.84
1488    54.84
1489    54.84
1490    60.60
1491    60.60
Name: proficiency_middle_school, dtype: float64
1487    54.84
1488    54.84
1489    54.84
1490    60.60
1491    60.60
1492    57.72
1493    60.60
Name: proficiency_middle_school, dtype: float64
63.775000000000006
1487    68.75
1488    68.75
1489    68.75
1490    58.80
1491    58.80
Name: proficiency_high_school, dtype: float64
1487    68.750
1488    68.750
1489    68.750
1490    58.800
1491    58.800
1492    63.775
1493    58.800
Name: proficiency_high_school, dtype: float64
8.974708171206226
1487    8.949416
1488    8.949416
1489    8.949416
1490    9.000000
1491    9.000000
Name: student_absenteeism, dtype: float64
1487    8.949416
1488    8.949416
1489    8.949416
1490    9.000000
1491    9.000000
1492    8.974708
1493    9.000000
Name: student_absenteeism, dtype: float64
478.0
1487    291.0
1488    291.0
1489    291.0
1490    665.0
1491    665.0
Name: voters_participating, dtype: float64
1487    291.0
1488    291.0
1489    291.0
1490    665.0
1491    665.0
1492    478.0
1493    665.0
Name: voters_participating, dtype: float64
0.0
1487    0.0
1488    0.0
1489    0.0
1490    0.0
1491    0.0
Name: neighborhood_organizations, dtype: float64
1487    0.0
1488    0.0
1489    0.0
1490    0.0
1491    0.0
1492    0.0
1493    0.0
Name: neighborhood_organizations, dtype: float64
52.5
1487    30.0
1488    30.0
1489    30.0
1490    75.0
1491    75.0
Name: voter_participation, dtype: float64
1487    30.0
1488    30.0
1489    30.0
1490    75.0
1491    75.0
1492    52.5
1493    75.0
Name: voter_participation, dtype: float64
2.5000000000000004
1487    2.7
1488    2.7
1489    2.7
1490    2.3
1491    2.3
Name: vacant_land, dtype: float64
1487    2.7
1488    2.7
1489    2.7
1490    2.3
1491    2.3
1492    2.5
1493    2.3
Name: vacant_land, dtype: float64
7.0
1487    7.0
1488    7.0
1489    7.0
1490    7.0
1491    7.0
Name: population_density, dtype: float64
1487    7.0
1488    7.0
1489    7.0
1490    7.0
1491    7.0
1492    7.0
1493    7.0
Name: population_density, dtype: float64
2033.5
1487    2030.0
1488    2030.0
1489    2030.0
1490    2037.0
1491    2037.0
Name: population, dtype: float64
1487    2030.0
1488    2030.0
1489    2030.0
1490    2037.0
1491    2037.0
1492    2033.5
1493    2037.0
Name: population, dtype: float64
17.0

1487    17.0
1488    17.0
1489    17.0
1490    17.0
1491    17.0
Name: transit_ridership, dtype: float64
1487    17.0
1488    17.0
1489    17.0
1490    17.0
1491    17.0
1492    17.0
1493    17.0
Name: transit_ridership, dtype: float64
1.1500000000000001
1487    1.15
1488    1.15
1489    1.15
1490    1.15
1491    1.15
Name: street_connectivity, dtype: float64
1487    1.15
1488    1.15
1489    1.15
1490    1.15
1491    1.15
1492    1.15
1493    1.15
Name: street_connectivity, dtype: float64
1.4000000000000001
1487    1.4
1488    1.4
1489    1.4
1490    1.4
1491    1.4
Name: bicycle_friendliness, dtype: float64
1487    1.4
1488    1.4
1489    1.4
1490    1.4
1491    1.4
1492    1.4
1493    1.4
Name: bicycle_friendliness, dtype: float64
14.876666666666665
1494    20.50
1495     3.63
1496    20.50
Name: Acres, dtype: float64
1494    20.50
1495     3.63
1496    20.50
Name: Acres, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: births_to_adolescents, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: births_to_adolescents, dtype: float64
135.66666666666666
1494    122.0
1495    163.0
1496    122.0
Name: grocery_proximate_units, dtype: float64
1494    122.0
1495    163.0
1496    122.0
Name: grocery_proximate_units, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: prenatal_care, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: prenatal_care, dtype: float64
12.0
1494    12.0
1495    12.0
1496    12.0
Name: grocery_proximity, dtype: float64
1494    12.0
1495    12.0
1496    12.0
Name: grocery_proximity, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: low_birthweight, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: low_birthweight, dtype: float64
3.0
1494    3.0
1495    3.0
1496    3.0
Name: public_health_insurance, dtype: float64
1494    3.0
1495    3.0
1496    3.0
Name: public_health_insurance, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: age_of_death, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: age_of_death, dtype: float64
16.566666666666666
1494    16.6
1495    16.5
1496    16.6
Name: impervious_surface, dtype: float64
1494    16.6
1495    16.5
1496    16.6
Name: impervious_surface, dtype: float64
169.0
1494    169.0
1495    169.0
1496    169.0
Name: water_consumption, dtype: float64
1494    169.0
1495    169.0
1496    169.0
Name: water_consumption, dtype: float64
92.0
1494    92.0
1495    92.0
1496    92.0
Name: neighborhood_school_attendance, dtype: float64
1494    92.0
1495    92.0
1496    92.0
Name: neighborhood_school_attendance, dtype: float64
100.0
1494    100.0
1495    100.0
1496    100.0
Name: highschool_graduation_rate, dtype: float64
1494    100.0
1495    100.0
1496    100.0
Name: highschool_graduation_rate, dtype: float64
76.7
1494    76.7
1495    76.7
1496    76.7
Name: proficiency_elementary_school, dtype: float64
1494    76.7
1495    76.7
1496    76.7
Name: proficiency_elementary_school, dtype: float64
81.9
1494    81.9
1495    81.9
1496    81.9
Name: proficiency_middle_school, dtype: float64
1494    81.9
1495    81.9
1496    81.9
Name: proficiency_middle_school, dtype: float64
72.7
1494    72.7
1495    72.7
1496    72.7
Name: proficiency_high_school, dtype: float64
1494    72.7
1495    72.7
1496    72.7
Name: proficiency_high_school, dtype: float64
3.0
1494    3.0
1495    3.0
1496    3.0
Name: student_absenteeism, dtype: float64
1494    3.0
1495    3.0
1496    3.0
Name: student_absenteeism, dtype: float64
1169.6666666666667
1494    1378.0
1495     753.0
1496    1378.0
Name: voters_participating, dtype: float64
1494    1378.0
1495     753.0
1496    1378.0
Name: voters_participating, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: neighborhood_organizations, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: neighborhood_organizations, dtype: float64
62.0
1494    75.0
1495    36.0
1496    75.0
Name: voter_participation, dtype: float64
1494    75.0
1495    36.0
1496    75.0
Name: voter_participation, dtype: float64
2.1
1494    2.1
1495    2.1
1496    2.1
Name: vacant_land, dtype: float64
1494    2.1
1495    2.1
1496    2.1
Name: vacant_land, dtype: float64
4.0
1494    4.0
1495    4.0
1496    4.0
Name: population_density, dtype: float64
1494    4.0
1495    4.0
1496    4.0
Name: population_density, dtype: float64
2608.3333333333335
1494    2610.0
1495    2605.0
1496    2610.0
Name: population, dtype: float64
1494    2610.0
1495    2605.0
1496    2610.0
Name: population, dtype: float64
nan
1494   -1.0
1495   -1.0
1496   -1.0
Name: transit_ridership, dtype: float64
1494   -1.0
1495   -1.0
1496   -1.0
Name: transit_ridership, dtype: float64
1.18
1494    1.18
1495    1.18
1496    1.18
Name: street_connectivity, dtype: float64
1494    1.18
1495    1.18
1496    1.18
Name: street_connectivity, dtype: float64
1.6000000000000003
1494    1.6
1495    1.6
1496    1.6
Name: bicycle_friendliness, dtype: float64
1494    1.6
1495    1.6
1496    1.6
Name: bicycle_friendliness, dtype: float64
8.87
1497    15.20
1498     2.54
Name: Acres, dtype: float64
1497    15.20
1498     2.54
Name: Acres, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: births_to_adolescents, dtype: float64
1497   -1.0
1498   -1.0
Name: births_to_adolescents, dtype: float64
1102.0
1497    1102.0
1498    1102.0
Name: grocery_proximate_units, dtype: float64
1497    1102.0
1498    1102.0
Name: grocery_proximate_units, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: prenatal_care, dtype: float64
1497   -1.0
1498   -1.0
Name: prenatal_care, dtype: float64
58.0
1497    58.0
1498    58.0
Name: grocery_proximity, dtype: float64
1497    58.0
1498    58.0
Name: grocery_proximity, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: low_birthweight, dtype: float64
1497   -1.0
1498   -1.0
Name: low_birthweight, dtype: float64
2.0
1497    2.0
1498    2.0
Name: public_health_insurance, dtype: float64
1497    2.0
1498    2.0
Name: public_health_insurance, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: age_of_death, dtype: float64
1497   -1.0
1498   -1.0
Name: age_of_death, dtype: float64
20.9
1497    20.9
1498    20.9
Name: impervious_surface, dtype: float64
1497    20.9
1498    20.9
Name: impervious_surface, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: water_consumption, dtype: float64
1497   -1.0
1498   -1.0
Name: water_consumption, dtype: float64
96.31
1497    96.31
1498    96.31
Name: neighborhood_school_attendance, dtype: float64
1497    96.31
1498    96.31
Name: neighborhood_school_attendance, dtype: float64
95.0
1497    95.0
1498    95.0
Name: highschool_graduation_rate, dtype: float64
1497    95.0
1498    95.0
Name: highschool_graduation_rate, dtype: float64
82.5396825396825
1497    82.539683
1498    82.539683
Name: proficiency_elementary_school, dtype: float64
1497    82.539683
1498    82.539683
Name: proficiency_elementary_school, dtype: float64
87.72
1497    87.72
1498    87.72
Name: proficiency_middle_school, dtype: float64
1497    87.72
1498    87.72
Name: proficiency_middle_school, dtype: float64
92.86
1497    92.86
1498    92.86
Name: proficiency_high_school, dtype: float64
1497    92.86
1498    92.86
Name: proficiency_high_school, dtype: float64
4.25170068027211
1497    4.251701
1498    4.251701
Name: student_absenteeism, dtype: float64
1497    4.251701
1498    4.251701
Name: student_absenteeism, dtype: float64
558.0
1497    558.0
1498    558.0
Name: voters_participating, dtype: float64
1497    558.0
1498    558.0
Name: voters_participating, dtype: float64
5.0
1497    5.0
1498    5.0
Name: neighborhood_organizations, dtype: float64
1497    5.0
1498    5.0
Name: neighborhood_organizations, dtype: float64
20.0
1497    20.0
1498    20.0
Name: voter_participation, dtype: float64
1497    20.0
1498    20.0
Name: voter_participation, dtype: float64
6.3
1497    6.3
1498    6.3
Name: vacant_land, dtype: float64
1497    6.3
1498    6.3
Name: vacant_land, dtype: float64
5.0
1497    5.0
1498    5.0
Name: population_density, dtype: float64
1497    5.0
1498    5.0
Name: population_density, dtype: float64
4825.0
1497    4825.0
1498    4825.0
Name: population, dtype: float64
1497    4825.0
1498    4825.0
Name: population, dtype: float64
nan
1497   -1.0
1498   -1.0
Name: transit_ridership, dtype: float64
1497   -1.0
1498   -1.0
Name: transit_ridership, dtype: float64
1.07
1497    1.07
1498    1.07
Name: street_connectivity, dtype: float64
1497    1.07
1498    1.07
Name: street_connectivity, dtype: float64
1.4
1497    1.4
1498    1.4
Name: bicycle_friendliness, dtype: float64
1497    1.4
1498    1.4
Name: bicycle_friendliness, dtype: float64
3.135
1499     2.23
1500     2.90
1501     0.43
1502     0.35
1503    10.00
Name: Acres, dtype: float64
1499     2.23
1500     2.90
1501     0.43
1502     0.35
1503    10.00
1504     2.90
Name: Acres, dtype: float64
0.0
1499    0.0
1500    0.0
1501    0.0
1502    0.0
1503    0.0
Name: births_to_adolescents, dtype: float64
1499    0.0
1500    0.0
1501    0.0
1502    0.0
1503    0.0
1504    0.0
Name: births_to_adolescents, dtype: float64
725.75
1499    725.00
1500    726.00
1501    725.75
1502    726.00
1503    725.75
Name: grocery_proximate_units, dtype: float64
1499    725.00
1500    726.00
1501    725.75
1502    726.00
1503    725.75
1504    726.00
Name: grocery_proximate_units, dtype: float64
85.0
1499    85.0
1500    85.0
1501    85.0
1502    85.0
1503    85.0
Name: prenatal_care, dtype: float64
1499    85.0
1500    85.0
1501    85.0
1502    85.0
1503    85.0
1504    85.0
Name: prenatal_care, dtype: float64
50.0
1499    50.0
1500    50.0
1501    50.0
1502    50.0
1503    50.0
Name: grocery_proximity, dtype: float64
1499    50.0
1500    50.0
1501    50.0
1502    50.0
1503    50.0
1504    50.0
Name: grocery_proximity, dtype: float64
11.7
1499    11.7
1500    11.7
1501    11.7
1502    11.7
1503    11.7
Name: low_birthweight, dtype: float64
1499    11.7
1500    11.7
1501    11.7
1502    11.7
1503    11.7
1504    11.7
Name: low_birthweight, dtype: float64
9.0
1499    9.0
1500    9.0
1501    9.0
1502    9.0
1503    9.0
Name: public_health_insurance, dtype: float64
1499    9.0
1500    9.0
1501    9.0
1502    9.0
1503    9.0
1504    9.0
Name: public_health_insurance, dtype: float64
78.0
1499    78.0
1500    78.0
1501    78.0
1502    78.0
1503    78.0

Name: age_of_death, dtype: float64
1499    78.0
1500    78.0
1501    78.0
1502    78.0
1503    78.0
1504    78.0
Name: age_of_death, dtype: float64
27.725
1499    27.800
1500    27.500
1501    27.725
1502    28.100
1503    27.725
Name: impervious_surface, dtype: float64
1499    27.800
1500    27.500
1501    27.725
1502    28.100
1503    27.725
1504    27.500
Name: impervious_surface, dtype: float64
138.0
1499    138.0
1500    138.0
1501    138.0
1502    138.0
1503    138.0
Name: water_consumption, dtype: float64
1499    138.0
1500    138.0
1501    138.0
1502    138.0
1503    138.0
1504    138.0
Name: water_consumption, dtype: float64
73.9
1499    74.90
1500    71.35
1501    73.90
1502    78.00
1503    73.90
Name: neighborhood_school_attendance, dtype: float64
1499    74.90
1500    71.35
1501    73.90
1502    78.00
1503    73.90
1504    71.35
Name: neighborhood_school_attendance, dtype: float64
88.5
1499    86.0
1500    90.0
1501    88.5
1502    88.0
1503    88.5
Name: highschool_graduation_rate, dtype: float64
1499    86.0
1500    90.0
1501    88.5
1502    88.0
1503    88.5
1504    90.0
Name: highschool_graduation_rate, dtype: float64
55.245
1499    50.980
1500    55.000
1501    55.245
1502    60.000
1503    55.245
Name: proficiency_elementary_school, dtype: float64
1499    50.980
1500    55.000
1501    55.245
1502    60.000
1503    55.245
1504    55.000
Name: proficiency_elementary_school, dtype: float64
53.675
1499    61.400
1500    50.000
1501    53.675
1502    53.300
1503    53.675
Name: proficiency_middle_school, dtype: float64
1499    61.400
1500    50.000
1501    53.675
1502    53.300
1503    53.675
1504    50.000
Name: proficiency_middle_school, dtype: float64
58.05
1499    45.50
1500    70.00
1501    58.05
1502    46.70
1503    58.05
Name: proficiency_high_school, dtype: float64
1499    45.50
1500    70.00
1501    58.05
1502    46.70
1503    58.05
1504    70.00
Name: proficiency_high_school, dtype: float64
10.194444444444446
1499    11.000000
1500     8.888889
1501    10.194444
1502    12.000000
1503    10.194444
Name: student_absenteeism, dtype: float64
1499    11.000000
1500     8.888889
1501    10.194444
1502    12.000000
1503    10.194444
1504     8.888889
Name: student_absenteeism, dtype: float64
779.75
1499    1578.00
1500     463.00
1501     779.75
1502     615.00
1503     779.75
Name: voters_participating, dtype: float64
1499    1578.00
1500     463.00
1501     779.75
1502     615.00
1503     779.75
1504     463.00
Name: voters_participating, dtype: float64
2.0
1499    2.0
1500    2.0
1501    2.0
1502    2.0
1503    2.0
Name: neighborhood_organizations, dtype: float64
1499    2.0
1500    2.0
1501    2.0
1502    2.0
1503    2.0
1504    2.0
Name: neighborhood_organizations, dtype: float64
41.75
1499    82.00
1500    28.00
1501    41.75
1502    29.00
1503    41.75
Name: voter_participation, dtype: float64
1499    82.00
1500    28.00
1501    41.75
1502    29.00
1503    41.75
1504    28.00
Name: voter_participation, dtype: float64
2.7
1499    2.7
1500    2.7
1501    2.7
1502    2.7
1503    2.7
Name: vacant_land, dtype: float64
1499    2.7
1500    2.7
1501    2.7
1502    2.7
1503    2.7
1504    2.7
Name: vacant_land, dtype: float64
8.0
1499    8.0
1500    8.0
1501    8.0
1502    8.0
1503    8.0
Name: population_density, dtype: float64
1499    8.0
1500    8.0
1501    8.0
1502    8.0
1503    8.0
1504    8.0
Name: population_density, dtype: float64
2691.75
1499    2692.00
1500    2687.00
1501    2691.75
1502    2701.00
1503    2691.75
Name: population, dtype: float64
1499    2692.00
1500    2687.00
1501    2691.75
1502    2701.00
1503    2691.75
1504    2687.00
Name: population, dtype: float64
30.0
1499    30.0
1500    30.0
1501    30.0
1502    30.0
1503    30.0
Name: transit_ridership, dtype: float64
1499    30.0
1500    30.0
1501    30.0
1502    30.0
1503    30.0
1504    30.0
Name: transit_ridership, dtype: float64
1.14
1499    1.14
1500    1.14
1501    1.14
1502    1.14
1503    1.14
Name: street_connectivity, dtype: float64
1499    1.14
1500    1.14
1501    1.14
1502    1.14
1503    1.14
1504    1.14
Name: street_connectivity, dtype: float64
1.675
1499    1.600
1500    1.700
1501    1.675
1502    1.700
1503    1.675
Name: bicycle_friendliness, dtype: float64
1499    1.600
1500    1.700
1501    1.675
1502    1.700
1503    1.675
1504    1.700
Name: bicycle_friendliness, dtype: float64
7.099153846153845
1505     1.53
1506     6.10
1507     4.54
1508    27.00
1509     2.58
Name: Acres, dtype: float64
1505     1.530000
1506     6.100000
1507     4.540000
1508    27.000000
1509     2.580000
1510     1.190000
1511     3.420000
1512     5.320000
1513     5.320000
1514     4.540000
1515     2.679000
1516     7.099154
1517     1.070000
1518    27.000000
Name: Acres, dtype: float64
0.6
1505    0.0
1506    0.0
1507    0.6
1508    0.6
1509    0.6
Name: births_to_adolescents, dtype: float64
1505    0.0
1506    0.0
1507    0.6
1508    0.6
1509    0.6
1510    0.6
1511    0.6
1512    1.0
1513    1.0
1514    0.6
1515    1.0
1516    0.6
1517    0.6
1518    0.6
Name: births_to_adolescents, dtype: float64
886.7272727272727
1505    866.000000
1506    866.000000
1507    886.727273
1508    866.000000
1509    863.000000
Name: grocery_proximate_units, dtype: float64
1505     866.000000
1506     866.000000
1507     886.727273
1508     866.000000
1509     863.000000
1510     512.000000
1511     512.000000
1512    1297.000000
1513    1297.000000
1514     886.727273
1515    1297.000000
1516     886.727273
1517     512.000000
1518     866.000000
Name: grocery_proximate_units, dtype: float64
84.34
1505    88.90
1506    88.90
1507    84.34
1508    84.34
1509    84.34
Name: prenatal_care, dtype: float64
1505    88.90
1506    88.90
1507    84.34
1508    84.34
1509    84.34
1510    84.34
1511    84.34
1512    81.30
1513    81.30
1514    84.34
1515    81.30
1516    84.34
1517    84.34
1518    84.34
Name: prenatal_care, dtype: float64
58.36363636363637
1505    58.000000
1506    58.000000
1507    58.363636
1508    58.000000
1509    44.000000
Name: grocery_proximity, dtype: float64
1505    58.000000
1506    58.000000
1507    58.363636
1508    58.000000
1509    44.000000
1510    44.000000
1511    44.000000
1512    78.000000
1513    78.000000
1514    58.363636
1515    78.000000
1516    58.363636
1517    44.000000
1518    58.000000
Name: grocery_proximity, dtype: float64
8.240000000000002
1505    14.30
1506    14.30
1507     8.24
1508     8.24
1509     8.24
Name: low_birthweight, dtype: float64
1505    14.30
1506    14.30
1507     8.24
1508     8.24
1509     8.24
1510     8.24
1511     8.24
1512     4.20
1513     4.20
1514     8.24
1515     4.20
1516     8.24
1517     8.24
1518     8.24
Name: low_birthweight, dtype: float64
3.142857142857143
1505    2.000000
1506    2.000000
1507    3.142857
1508    3.000000
1509    3.142857
Name: public_health_insurance, dtype: float64
1505    2.000000
1506    2.000000
1507    3.142857
1508    3.000000
1509    3.142857
1510    4.000000
1511    4.000000
1512    3.142857
1513    3.142857
1514    3.142857
1515    3.142857
1516    3.142857
1517    4.000000
1518    3.000000
Name: public_health_insurance, dtype: float64
80.0
1505    80.0
1506    80.0
1507    80.0
1508    80.0
1509    80.0
Name: age_of_death, dtype: float64
1505    80.0
1506    80.0
1507    80.0
1508    80.0
1509    80.0
1510    80.0
1511    80.0
1512    80.0
1513    80.0
1514    80.0
1515    80.0
1516    80.0
1517    80.0
1518    80.0
Name: age_of_death, dtype: float64
37.05555555555556
1505    37.055556
1506    37.055556
1507    37.055556
1508    36.800000
1509    37.300000
Name: impervious_surface, dtype: float64
1505    37.055556
1506    37.055556
1507    37.055556
1508    36.800000
1509    37.300000
1510    37.000000
1511    37.000000
1512    37.200000
1513    37.200000
1514    37.055556
1515    37.200000
1516    37.055556
1517    37.000000
1518    36.800000
Name: impervious_surface, dtype: float64
198.0
1505    188.0
1506    188.0
1507    198.0
1508    198.0
1509    191.0
Name: water_consumption, dtype: float64
1505    188.0
1506    188.0
1507    198.0
1508    198.0
1509    191.0
1510    198.0
1511    198.0
1512    207.0
1513    207.0
1514    198.0
1515    207.0
1516    198.0
1517    198.0
1518    198.0
Name: water_consumption, dtype: float64
87.852
1505    85.010
1506    85.010
1507    87.852
1508    87.850
1509    87.852
Name: neighborhood_school_attendance, dtype: float64
1505    85.010
1506    85.010
1507    87.852
1508    87.850
1509    87.852
1510    89.000
1511    89.000
1512    88.600
1513    88.600
1514    87.852
1515    88.600
1516    87.852
1517    89.000
1518    87.850
Name: neighborhood_school_attendance, dtype: float64
93.8
1505    88.0
1506    88.0
1507    93.8
1508    93.0
1509    93.8
Name: highschool_graduation_rate, dtype: float64
1505     88.0
1506     88.0
1507     93.8
1508     93.0
1509     93.8
1510     92.0
1511     92.0
1512    100.0
1513    100.0
1514     93.8
1515    100.0
1516     93.8
1517     92.0
1518     93.0
Name: highschool_graduation_rate, dtype: float64
82.96050915750915
1505    86.666667
1506    86.666667
1507    82.960509
1508    79.120879
1509    82.960509
Name: proficiency_elementary_school, dtype: float64
1505    86.666667
1506    86.666667
1507    82.960509
1508    79.120879
1509    82.960509
1510    85.500000
1511    85.500000
1512    80.510000
1513    80.510000
1514    82.960509
1515    80.510000
1516    82.960509
1517    85.500000
1518    79.120879
Name: proficiency_elementary_school, dtype: float64
81.72361797752808
1505    77.528090
1506    77.528090
1507    81.723618
1508    77.890000
1509    81.723618
Name: proficiency_middle_school, dtype: float64
1505    77.528090
1506    77.528090
1507    81.723618
1508    77.890000
1509    81.723618
1510    82.400000
1511    82.400000
1512    86.400000
1513    86.400000
1514    81.723618
1515    86.400000
1516    81.723618
1517    82.400000
1518    77.890000
Name: proficiency_middle_school, dtype: float64
79.29363636363637
1505    81.818182
1506    81.818182
1507    79.293636
1508    81.250000
1509    79.293636
Name: proficiency_high_school, dtype: float64
1505    81.818182
1506    81.818182
1507    79.293636
1508    81.250000
1509    79.293636
1510    85.000000
1511    85.000000
1512    70.600000
1513    70.600000
1514    79.293636
1515    70.600000
1516    79.293636
1517    85.000000
1518    81.250000
Name: proficiency_high_school, dtype: float64
3.637878798509715
1505    5.289673
1506    5.289673
1507    3.637879
1508    3.899721
1509    3.637879
Name: student_absenteeism, dtype: float64
1505    5.289673
1506    5.289673
1507    3.637879
1508    3.899721
1509    3.637879
1510    3.000000
1511    3.000000
1512    3.000000
1513    3.000000
1514    3.637879
1515    3.000000
1516    3.637879
1517    3.000000
1518    3.899721
Name: student_absenteeism, dtype: float64

1280.1818181818182
1505    1191.000000
1506    1191.000000
1507    1280.181818
1508     641.000000
1509    1691.000000
Name: voters_participating, dtype: float64
1505    1191.000000
1506    1191.000000
1507    1280.181818
1508     641.000000
1509    1691.000000
1510     881.000000
1511     881.000000
1512    2028.000000
1513    2028.000000
1514    1280.181818
1515    2028.000000
1516    1280.181818
1517     881.000000
1518     641.000000
Name: voters_participating, dtype: float64
7.0
1505    7.0
1506    7.0
1507    7.0
1508    7.0
1509    7.0
Name: neighborhood_organizations, dtype: float64
1505    7.0
1506    7.0
1507    7.0
1508    7.0
1509    7.0
1510    7.0
1511    7.0
1512    7.0
1513    7.0
1514    7.0
1515    7.0
1516    7.0
1517    7.0
1518    7.0
Name: neighborhood_organizations, dtype: float64
55.45454545454545
1505    65.000000
1506    65.000000
1507    55.454545
1508    33.000000
1509    69.000000
Name: voter_participation, dtype: float64
1505    65.000000
1506    65.000000
1507    55.454545
1508    33.000000
1509    69.000000
1510    32.000000
1511    32.000000
1512    83.000000
1513    83.000000
1514    55.454545
1515    83.000000
1516    55.454545
1517    32.000000
1518    33.000000
Name: voter_participation, dtype: float64
0.6222222222222222
1505    0.622222
1506    0.622222
1507    0.622222
1508    0.700000
1509    0.600000
Name: vacant_land, dtype: float64
1505    0.622222
1506    0.622222
1507    0.622222
1508    0.700000
1509    0.600000
1510    0.600000
1511    0.600000
1512    0.600000
1513    0.600000
1514    0.622222
1515    0.600000
1516    0.622222
1517    0.600000
1518    0.700000
Name: vacant_land, dtype: float64
4.111111111111111
1505    4.111111
1506    4.111111
1507    4.111111
1508    4.000000
1509    5.000000
Name: population_density, dtype: float64
1505    4.111111
1506    4.111111
1507    4.111111
1508    4.000000
1509    5.000000
1510    4.000000
1511    4.000000
1512    4.000000
1513    4.000000
1514    4.111111
1515    4.000000
1516    4.111111
1517    4.000000
1518    4.000000
Name: population_density, dtype: float64
3350.6666666666665
1505    3350.666667
1506    3350.666667
1507    3350.666667
1508    3203.000000
1509    4100.000000
Name: population, dtype: float64
1505    3350.666667
1506    3350.666667
1507    3350.666667
1508    3203.000000
1509    4100.000000
1510    2991.000000
1511    2991.000000
1512    3559.000000
1513    3559.000000
1514    3350.666667
1515    3559.000000
1516    3350.666667
1517    2991.000000
1518    3203.000000
Name: population, dtype: float64
55.5
1505    52.0
1506    52.0
1507    55.5
1508    59.0
1509    55.5
Name: transit_ridership, dtype: float64
1505    52.0
1506    52.0
1507    55.5
1508    59.0
1509    55.5
1510    55.5
1511    55.5
1512    55.5
1513    55.5
1514    55.5
1515    55.5
1516    55.5
1517    55.5
1518    59.0
Name: transit_ridership, dtype: float64
1.25
1505    1.25
1506    1.25
1507    1.25
1508    1.25
1509    1.25
Name: street_connectivity, dtype: float64
1505    1.25
1506    1.25
1507    1.25
1508    1.25
1509    1.25
1510    1.25
1511    1.25
1512    1.25
1513    1.25
1514    1.25
1515    1.25
1516    1.25
1517    1.25
1518    1.25
Name: street_connectivity, dtype: float64
1.7333333333333334
1505    1.733333
1506    1.733333
1507    1.733333
1508    1.700000
1509    1.700000
Name: bicycle_friendliness, dtype: float64
1505    1.733333
1506    1.733333
1507    1.733333
1508    1.700000
1509    1.700000
1510    1.700000
1511    1.700000
1512    1.800000
1513    1.800000
1514    1.733333
1515    1.800000
1516    1.733333
1517    1.700000
1518    1.700000
Name: bicycle_friendliness, dtype: float64
4.075
1519    4.66
1520    3.49
Name: Acres, dtype: float64
1519    4.66
1520    3.49
Name: Acres, dtype: float64
nan
1519   -1.0
1520   -1.0
Name: births_to_adolescents, dtype: float64
1519   -1.0
1520   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1519    0.0
1520    0.0
Name: grocery_proximate_units, dtype: float64
1519    0.0
1520    0.0
Name: grocery_proximate_units, dtype: float64
nan
1519   -1.0
1520   -1.0
Name: prenatal_care, dtype: float64
1519   -1.0
1520   -1.0
Name: prenatal_care, dtype: float64
0.0
1519    0.0
1520    0.0
Name: grocery_proximity, dtype: float64
1519    0.0
1520    0.0
Name: grocery_proximity, dtype: float64
nan
1519   -1.0
1520   -1.0
Name: low_birthweight, dtype: float64
1519   -1.0
1520   -1.0
Name: low_birthweight, dtype: float64
2.0
1519    2.0
1520    2.0
Name: public_health_insurance, dtype: float64
1519    2.0
1520    2.0
Name: public_health_insurance, dtype: float64
nan
1519   -1.0
1520   -1.0
Name: age_of_death, dtype: float64
1519   -1.0
1520   -1.0
Name: age_of_death, dtype: float64
21.049999999999997
1519    20.7
1520    21.4
Name: impervious_surface, dtype: float64
1519    20.7
1520    21.4
Name: impervious_surface, dtype: float64
152.0
1519    152.0
1520    152.0
Name: water_consumption, dtype: float64
1519    152.0
1520    152.0
Name: water_consumption, dtype: float64
89.58
1519    89.58
1520    89.58
Name: neighborhood_school_attendance, dtype: float64
1519    89.58
1520    89.58
Name: neighborhood_school_attendance, dtype: float64
92.0
1519    92.0
1520    92.0
Name: highschool_graduation_rate, dtype: float64
1519    92.0
1520    92.0
Name: highschool_graduation_rate, dtype: float64
79.62962962962959
1519    79.62963
1520    79.62963
Name: proficiency_elementary_school, dtype: float64
1519    79.62963
1520    79.62963
Name: proficiency_elementary_school, dtype: float64
85.0
1519    85.0
1520    85.0
Name: proficiency_middle_school, dtype: float64
1519    85.0
1520    85.0
Name: proficiency_middle_school, dtype: float64
100.0
1519    100.0
1520    100.0
Name: proficiency_high_school, dtype: float64
1519    100.0
1520    100.0
Name: proficiency_high_school, dtype: float64
6.06060606060606
1519    6.060606
1520    6.060606
Name: student_absenteeism, dtype: float64
1519    6.060606
1520    6.060606
Name: student_absenteeism, dtype: float64
964.5
1519     554.0
1520    1375.0
Name: voters_participating, dtype: float64
1519     554.0
1520    1375.0
Name: voters_participating, dtype: float64
3.0
1519    3.0
1520    3.0
Name: neighborhood_organizations, dtype: float64
1519    3.0
1520    3.0
Name: neighborhood_organizations, dtype: float64
56.5
1519    34.0
1520    79.0
Name: voter_participation, dtype: float64
1519    34.0
1520    79.0
Name: voter_participation, dtype: float64
3.35
1519    3.7
1520    3.0
Name: vacant_land, dtype: float64
1519    3.7
1520    3.0
Name: vacant_land, dtype: float64
5.0
1519    5.0
1520    5.0
Name: population_density, dtype: float64
1519    5.0
1520    5.0
Name: population_density, dtype: float64
2262.5
1519    2252.0
1520    2273.0
Name: population, dtype: float64
1519    2252.0
1520    2273.0
Name: population, dtype: float64
3.0
1519    3.0
1520    3.0
Name: transit_ridership, dtype: float64
1519    3.0
1520    3.0
Name: transit_ridership, dtype: float64
1.185
1519    1.20
1520    1.17
Name: street_connectivity, dtype: float64
1519    1.20
1520    1.17
Name: street_connectivity, dtype: float64
1.4
1519    1.4
1520    1.4
Name: bicycle_friendliness, dtype: float64
1519    1.4
1520    1.4
Name: bicycle_friendliness, dtype: float64
20.47666666666667
1521     6.93
1522    26.71
1523    26.71
1524    17.90
1525    26.71
Name: Acres, dtype: float64
1521     6.93
1522    26.71
1523    26.71
1524    17.90
1525    26.71
1526    17.90
Name: Acres, dtype: float64
0.7
1521    0.7
1522    0.7
1523    0.7
1524    0.7
1525    0.7
Name: births_to_adolescents, dtype: float64
1521    0.7
1522    0.7
1523    0.7
1524    0.7
1525    0.7
1526    0.7
Name: births_to_adolescents, dtype: float64
231.0
1521    263.0
1522    231.0
1523    231.0
1524    215.0
1525    231.0
Name: grocery_proximate_units, dtype: float64
1521    263.0
1522    231.0
1523    231.0
1524    215.0
1525    231.0
1526    215.0
Name: grocery_proximate_units, dtype: float64
64.8
1521    64.8
1522    64.8
1523    64.8
1524    64.8
1525    64.8
Name: prenatal_care, dtype: float64
1521    64.8
1522    64.8
1523    64.8
1524    64.8
1525    64.8
1526    64.8
Name: prenatal_care, dtype: float64
15.333333333333334
1521    18.000000
1522    15.333333
1523    15.333333
1524    14.000000
1525    15.333333
Name: grocery_proximity, dtype: float64
1521    18.000000
1522    15.333333
1523    15.333333
1524    14.000000
1525    15.333333
1526    14.000000
Name: grocery_proximity, dtype: float64
7.0
1521    7.0
1522    7.0
1523    7.0
1524    7.0
1525    7.0
Name: low_birthweight, dtype: float64
1521    7.0
1522    7.0
1523    7.0
1524    7.0
1525    7.0
1526    7.0
Name: low_birthweight, dtype: float64
nan
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
Name: public_health_insurance, dtype: float64
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
1526   -1.0
Name: public_health_insurance, dtype: float64
71.0
1521    71.0
1522    71.0
1523    71.0
1524    71.0
1525    71.0
Name: age_of_death, dtype: float64
1521    71.0
1522    71.0
1523    71.0
1524    71.0
1525    71.0
1526    71.0
Name: age_of_death, dtype: float64
7.5
1521    7.3
1522    7.5
1523    7.5
1524    7.6
1525    7.5
Name: impervious_surface, dtype: float64
1521    7.3
1522    7.5
1523    7.5
1524    7.6
1525    7.5
1526    7.6
Name: impervious_surface, dtype: float64
138.0
1521    142.0
1522    138.0
1523    138.0
1524    136.0
1525    138.0
Name: water_consumption, dtype: float64
1521    142.0
1522    138.0
1523    138.0
1524    136.0
1525    138.0
1526    136.0
Name: water_consumption, dtype: float64
71.1
1521    71.1
1522    71.1
1523    71.1
1524    71.1
1525    71.1
Name: neighborhood_school_attendance, dtype: float64
1521    71.1
1522    71.1
1523    71.1
1524    71.1
1525    71.1
1526    71.1
Name: neighborhood_school_attendance, dtype: float64
87.0
1521    87.0
1522    87.0
1523    87.0
1524    87.0
1525    87.0
Name: highschool_graduation_rate, dtype: float64
1521    87.0
1522    87.0
1523    87.0
1524    87.0
1525    87.0
1526    87.0
Name: highschool_graduation_rate, dtype: float64
49.66
1521    49.66
1522    49.66
1523    49.66
1524    49.66
1525    49.66
Name: proficiency_elementary_school, dtype: float64
1521    49.66
1522    49.66
1523    49.66
1524    49.66
1525    49.66
1526    49.66
Name: proficiency_elementary_school, dtype: float64
40.5
1521    40.5
1522    40.5
1523    40.5
1524    40.5
1525    40.5
Name: proficiency_middle_school, dtype: float64
1521    40.5
1522    40.5
1523    40.5
1524    40.5
1525    40.5
1526    40.5
Name: proficiency_middle_school, dtype: float64
46.8
1521    46.8
1522    46.8
1523    46.8
1524    46.8
1525    46.8
Name: proficiency_high_school, dtype: float64
1521    46.8
1522    46.8
1523    46.8
1524    46.8
1525    46.8
1526    46.8
Name: proficiency_high_school, dtype: float64
11.0
1521    11.0
1522    11.0
1523    11.0
1524    11.0
1525    11.0
Name: student_absenteeism, dtype: float64
1521    11.0
1522    11.0
1523    11.0
1524    11.0
1525    11.0
1526    11.0
Name: student_absenteeism, dtype: float64
1606.0
1521    1902.0
1522    1606.0
1523    1606.0
1524    1458.0
1525    1606.0
Name: voters_participating, dtype: float64
1521    1902.0
1522    1606.0
1523    1606.0
1524    1458.0
1525    1606.0
1526    1458.0
Name: voters_participating, dtype: float64
nan
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
Name: neighborhood_organizations, dtype: float64
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
1526   -1.0
Name: neighborhood_organizations, dtype: float64
64.0
1521    70.0
1522    64.0
1523    64.0
1524    61.0
1525    64.0
Name: voter_participation, dtype: float64
1521    70.0
1522    64.0
1523    64.0
1524    61.0
1525    64.0
1526    61.0
Name: voter_participation, dtype: float64
27.2
1521    27.2
1522    27.2
1523    27.2
1524    27.2
1525    27.2
Name: vacant_land, dtype: float64
1521    27.2
1522    27.2
1523    27.2
1524    27.2
1525    27.2
1526    27.2
Name: vacant_land, dtype: float64
3.0
1521    3.0
1522    3.0
1523    3.0
1524    3.0
1525    3.0
Name: population_density, dtype: float64
1521    3.0
1522    3.0
1523    3.0
1524    3.0
1525    3.0
1526    3.0
Name: population_density, dtype: float64
4491.0
1521    4411.0
1522    4491.0
1523    4491.0
1524    4531.0
1525    4491.0
Name: population, dtype: float64
1521    4411.0
1522    4491.0
1523    4491.0
1524    4531.0
1525    4491.0
1526    4531.0
Name: population, dtype: float64
nan
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
Name: transit_ridership, dtype: float64
1521   -1.0
1522   -1.0
1523   -1.0
1524   -1.0
1525   -1.0
1526   -1.0
Name: transit_ridership, dtype: float64
1.07
1521    1.07
1522    1.07
1523    1.07
1524    1.07
1525    1.07
Name: street_connectivity, dtype: float64
1521    1.07
1522    1.07
1523    1.07
1524    1.07
1525    1.07
1526    1.07
Name: street_connectivity, dtype: float64
1.2
1521    1.2
1522    1.2
1523    1.2
1524    1.2
1525    1.2
Name: bicycle_friendliness, dtype: float64
1521    1.2
1522    1.2
1523    1.2
1524    1.2
1525    1.2
1526    1.2
Name: bicycle_friendliness, dtype: float64
4.2250588235294115
1527    1.60
1528    4.95
1529    1.46
1530    4.00
1531    4.00
Name: Acres, dtype: float64
1527     1.600
1528     4.950
1529     1.460
1530     4.000
1531     4.000
1532     1.990
1533     1.050
1534     1.380
1535     1.396
1536     8.500
1537     2.650
1538     2.650
1539     4.000
1540     4.000
1541     0.470
1542    10.040
1543    17.690
Name: Acres, dtype: float64
nan
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
Name: births_to_adolescents, dtype: float64
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
1532   -1.0
1533   -1.0
1534   -1.0
1535   -1.0
1536   -1.0
1537   -1.0
1538   -1.0
1539   -1.0
1540   -1.0
1541   -1.0
1542   -1.0
1543   -1.0
Name: births_to_adolescents, dtype: float64
172.85714285714286
1527    172.000000
1528    172.857143
1529    172.857143
1530    172.857143
1531    172.857143
Name: grocery_proximate_units, dtype: float64
1527    172.000000
1528    172.857143
1529    172.857143
1530    172.857143
1531    172.857143
1532    172.857143
1533    174.000000
1534    174.000000
1535    172.000000
1536    172.857143
1537    172.857143
1538    172.857143
1539    172.857143
1540    172.857143
1541    174.000000
1542    172.000000
1543    172.000000
Name: grocery_proximate_units, dtype: float64
nan
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
Name: prenatal_care, dtype: float64
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
1532   -1.0
1533   -1.0
1534   -1.0
1535   -1.0
1536   -1.0
1537   -1.0
1538   -1.0
1539   -1.0
1540   -1.0
1541   -1.0
1542   -1.0
1543   -1.0
Name: prenatal_care, dtype: float64
35.0
1527    32.0
1528    35.0
1529    35.0
1530    35.0
1531    35.0
Name: grocery_proximity, dtype: float64
1527    32.0
1528    35.0
1529    35.0
1530    35.0
1531    35.0
1532    35.0
1533    39.0
1534    39.0
1535    32.0
1536    35.0
1537    35.0
1538    35.0
1539    35.0
1540    35.0
1541    39.0
1542    32.0
1543    32.0
Name: grocery_proximity, dtype: float64
nan
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
Name: low_birthweight, dtype: float64
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
1532   -1.0
1533   -1.0
1534   -1.0
1535   -1.0
1536   -1.0
1537   -1.0
1538   -1.0
1539   -1.0
1540   -1.0
1541   -1.0
1542   -1.0
1543   -1.0
Name: low_birthweight, dtype: float64
33.285714285714285
1527    20.000000
1528    33.285714
1529    33.285714
1530    33.285714
1531    33.285714
Name: public_health_insurance, dtype: float64
1527    20.000000
1528    33.285714
1529    33.285714
1530    33.285714
1531    33.285714
1532    33.285714
1533    51.000000
1534    51.000000
1535    20.000000
1536    33.285714
1537    33.285714
1538    33.285714
1539    33.285714
1540    33.285714
1541    51.000000
1542    20.000000
1543    20.000000
Name: public_health_insurance, dtype: float64
nan
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
Name: age_of_death, dtype: float64
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
1532   -1.0
1533   -1.0
1534   -1.0
1535   -1.0
1536   -1.0
1537   -1.0
1538   -1.0
1539   -1.0
1540   -1.0
1541   -1.0
1542   -1.0
1543   -1.0
Name: age_of_death, dtype: float64
23.685714285714283
1527    24.200000
1528    23.685714
1529    23.685714
1530    23.685714
1531    23.685714
Name: impervious_surface, dtype: float64
1527    24.200000
1528    23.685714
1529    23.685714
1530    23.685714
1531    23.685714
1532    23.685714
1533    23.000000
1534    23.000000
1535    24.200000
1536    23.685714
1537    23.685714
1538    23.685714
1539    23.685714
1540    23.685714
1541    23.000000
1542    24.200000
1543    24.200000
Name: impervious_surface, dtype: float64
nan
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
Name: water_consumption, dtype: float64
1527   -1.0
1528   -1.0
1529   -1.0
1530   -1.0
1531   -1.0
1532   -1.0
1533   -1.0
1534   -1.0
1535   -1.0
1536   -1.0
1537   -1.0
1538   -1.0
1539   -1.0
1540   -1.0
1541   -1.0
1542   -1.0
1543   -1.0
Name: water_consumption, dtype: float64
64.9657142857143
1527    62.000000
1528    64.965714
1529    64.965714
1530    64.965714
1531    64.965714
Name: neighborhood_school_attendance, dtype: float64
1527    62.000000
1528    64.965714
1529    64.965714
1530    64.965714
1531    64.965714
1532    64.965714
1533    68.920000
1534    68.920000
1535    62.000000
1536    64.965714
1537    64.965714
1538    64.965714
1539    64.965714
1540    64.965714
1541    68.920000
1542    62.000000
1543    62.000000
Name: neighborhood_school_attendance, dtype: float64
83.85714285714286
1527    83.000000
1528    83.857143
1529    83.857143
1530    83.857143
1531    83.857143
Name: highschool_graduation_rate, dtype: float64
1527    83.000000
1528    83.857143
1529    83.857143
1530    83.857143
1531    83.857143
1532    83.857143
1533    85.000000
1534    85.000000
1535    83.000000
1536    83.857143
1537    83.857143
1538    83.857143
1539    83.857143
1540    83.857143
1541    85.000000
1542    83.000000
1543    83.000000
Name: highschool_graduation_rate, dtype: float64
12.811960132890373
1527    13.70000
1528    12.81196
1529    12.81196
1530    12.81196
1531    12.81196
Name: proficiency_elementary_school, dtype: float64
1527    13.700000
1528    12.811960
1529    12.811960
1530    12.811960
1531    12.811960
1532    12.811960
1533    11.627907
1534    11.627907
1535    13.700000
1536    12.811960
1537    12.811960
1538    12.811960
1539    12.811960
1540    12.811960
1541    11.627907
1542    13.700000
1543    13.700000
Name: proficiency_elementary_school, dtype: float64
19.537142857142857
1527    20.000000
1528    19.537143
1529    19.537143
1530    19.537143
1531    19.537143
Name: proficiency_middle_school, dtype: float64
1527    20.000000
1528    19.537143
1529    19.537143
1530    19.537143
1531    19.537143
1532    19.537143
1533    18.920000
1534    18.920000
1535    20.000000
1536    19.537143
1537    19.537143
1538    19.537143
1539    19.537143
1540    19.537143
1541    18.920000
1542    20.000000
1543    20.000000
Name: proficiency_middle_school, dtype: float64
33.57142857142857
1527    40.000000
1528    33.571429
1529    33.571429
1530    33.571429
1531    33.571429
Name: proficiency_high_school, dtype: float64
1527    40.000000
1528    33.571429
1529    33.571429
1530    33.571429
1531    33.571429
1532    33.571429
1533    25.000000
1534    25.000000
1535    40.000000
1536    33.571429
1537    33.571429
1538    33.571429
1539    33.571429
1540    33.571429
1541    25.000000
1542    40.000000
1543    40.000000
Name: proficiency_high_school, dtype: float64
19.1208791208791
1527    20.000000
1528    19.120879
1529    19.120879
1530    19.120879
1531    19.120879
Name: student_absenteeism, dtype: float64
1527    20.000000
1528    19.120879
1529    19.120879
1530    19.120879
1531    19.120879
1532    19.120879
1533    17.948718
1534    17.948718

1527    20.900000
1528    20.428571
1529    20.428571
1530    20.428571
1531    20.428571
Name: vacant_land, dtype: float64
1527    20.900000
1528    20.428571
1529    20.428571
1530    20.428571
1531    20.428571
1532    20.428571
1533    19.800000
1534    19.800000
1535    20.900000
1536    20.428571
1537    20.428571
1538    20.428571
1539    20.428571
1540    20.428571
1541    19.800000
1542    20.900000
1543    20.900000
Name: vacant_land, dtype: float64
3.142857142857143
1527    4.000000
1528    3.142857
1529    3.142857
1530    3.142857
1531    3.142857
Name: population_density, dtype: float64
1527    4.000000
1528    3.142857
1529    3.142857
1530    3.142857
1531    3.142857
1532    3.142857
1533    2.000000
1534    2.000000
1535    4.000000
1536    3.142857
1537    3.142857
1538    3.142857
1539    3.142857
1540    3.142857
1541    2.000000
1542    4.000000
1543    4.000000
Name: population_density, dtype: float64
1576.0
1527    1903.0
1528    1576.0
1529    1576.0
1530    1576.0
1531    1576.0
Name: population, dtype: float64
1527    1903.0
1528    1576.0
1529    1576.0
1530    1576.0
1531    1576.0
1532    1576.0
1533    1140.0
1534    1140.0
1535    1903.0
1536    1576.0
1537    1576.0
1538    1576.0
1539    1576.0
1540    1576.0
1541    1140.0
1542    1903.0
1543    1903.0
Name: population, dtype: float64
39.0
1527    39.0
1528    39.0
1529    39.0
1530    39.0
1531    39.0
Name: transit_ridership, dtype: float64
1527    39.0
1528    39.0
1529    39.0
1530    39.0
1531    39.0
1532    39.0
1533    39.0
1534    39.0
1535    39.0
1536    39.0
1537    39.0
1538    39.0
1539    39.0
1540    39.0
1541    39.0
1542    39.0
1543    39.0
Name: transit_ridership, dtype: float64
1.42
1527    1.42
1528    1.42
1529    1.42
1530    1.42
1531    1.42
Name: street_connectivity, dtype: float64
1527    1.42
1528    1.42
1529    1.42
1530    1.42
1531    1.42
1532    1.42
1533    1.42
1534    1.42
1535    1.42
1536    1.42
1537    1.42
1538    1.42
1539    1.42
1540    1.42
1541    1.42
1542    1.42
1543    1.42
Name: street_connectivity, dtype: float64
1.657142857142857
1527    1.700000
1528    1.657143
1529    1.657143
1530    1.657143
1531    1.657143
Name: bicycle_friendliness, dtype: float64
1527    1.700000
1528    1.657143
1529    1.657143
1530    1.657143
1531    1.657143
1532    1.657143
1533    1.600000
1534    1.600000
1535    1.700000
1536    1.657143
1537    1.657143
1538    1.657143
1539    1.657143
1540    1.657143
1541    1.600000
1542    1.700000
1543    1.700000
Name: bicycle_friendliness, dtype: float64
11.581428571428573
1544    72.000
1545     2.510
1546     0.685
1547     0.685
1548     0.410
Name: Acres, dtype: float64
1544    72.000
1545     2.510
1546     0.685
1547     0.685
1548     0.410
1549     2.270
1550     2.510
Name: Acres, dtype: float64
nan
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
Name: births_to_adolescents, dtype: float64
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
1549   -1.0
1550   -1.0
Name: births_to_adolescents, dtype: float64
466.2857142857143
1544    458.0
1545    461.0
1546    458.0
1547    458.0
1548    510.0
Name: grocery_proximate_units, dtype: float64
1544    458.0
1545    461.0
1546    458.0
1547    458.0
1548    510.0
1549    458.0
1550    461.0
Name: grocery_proximate_units, dtype: float64
nan
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
Name: prenatal_care, dtype: float64
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
1549   -1.0
1550   -1.0
Name: prenatal_care, dtype: float64
40.857142857142854
1544    42.0
1545    38.0
1546    42.0
1547    42.0
1548    42.0
Name: grocery_proximity, dtype: float64
1544    42.0
1545    38.0
1546    42.0
1547    42.0
1548    42.0
1549    42.0
1550    38.0
Name: grocery_proximity, dtype: float64
nan
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
Name: low_birthweight, dtype: float64
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
1549   -1.0
1550   -1.0
Name: low_birthweight, dtype: float64
42.0
1544    41.0
1545    44.0
1546    41.0
1547    41.0
1548    42.0
Name: public_health_insurance, dtype: float64
1544    41.0
1545    44.0
1546    41.0
1547    41.0
1548    42.0
1549    41.0
1550    44.0
Name: public_health_insurance, dtype: float64
nan
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
Name: age_of_death, dtype: float64
1544   -1.0
1545   -1.0
1546   -1.0
1547   -1.0
1548   -1.0
1549   -1.0
1550   -1.0
Name: age_of_death, dtype: float64
26.714285714285715
1544    26.8
1545    26.5
1546    26.8
1547    26.8
1548    26.8
Name: impervious_surface, dtype: float64
1544    26.8
1545    26.5
1546    26.8
1547    26.8
1548    26.8
1549    26.8
1550    26.5
Name: impervious_surface, dtype: float64
102.0
1544    102.0
1545    102.0
1546    102.0
1547    102.0
1548    102.0
Name: water_consumption, dtype: float64
1544    102.0
1545    102.0
1546    102.0
1547    102.0
1548    102.0
1549    102.0
1550    102.0
Name: water_consumption, dtype: float64
69.39
1544    67.00
1545    74.17
1546    67.00
1547    67.00
1548    69.39
Name: neighborhood_school_attendance, dtype: float64
1544    67.00
1545    74.17
1546    67.00
1547    67.00
1548    69.39
1549    67.00
1550    74.17
Name: neighborhood_school_attendance, dtype: float64
69.0
1544    74.0
1545    59.0
1546    74.0
1547    74.0
1548    69.0
Name: highschool_graduation_rate, dtype: float64
1544    74.0
1545    59.0
1546    74.0
1547    74.0
1548    69.0
1549    74.0
1550    59.0
Name: highschool_graduation_rate, dtype: float64
23.2829931972789
1544    23.700000
1545    22.448980
1546    23.700000
1547    23.700000
1548    23.282993
Name: proficiency_elementary_school, dtype: float64
1544    23.700000
1545    22.448980
1546    23.700000
1547    23.700000
1548    23.282993
1549    23.700000
1550    22.448980
Name: proficiency_elementary_school, dtype: float64
16.68
1544    18.70
1545    12.64
1546    18.70
1547    18.70
1548    16.68
Name: proficiency_middle_school, dtype: float64
1544    18.70
1545    12.64
1546    18.70
1547    18.70
1548    16.68
1549    18.70
1550    12.64
Name: proficiency_middle_school, dtype: float64
13.553333333333335
1544    17.700000
1545     5.260000
1546    17.700000
1547    17.700000
1548    13.553333
Name: proficiency_high_school, dtype: float64
1544    17.700000
1545     5.260000
1546    17.700000
1547    17.700000
1548    13.553333
1549    17.700000
1550     5.260000
Name: proficiency_high_school, dtype: float64
26.97777777777777
1544    27.000000
1545    26.933333
1546    27.000000
1547    27.000000
1548    26.977778
Name: student_absenteeism, dtype: float64
1544    27.000000
1545    26.933333
1546    27.000000
1547    27.000000
1548    26.977778
1549    27.000000
1550    26.933333
Name: student_absenteeism, dtype: float64
291.0
1544    240.0
1545    195.0
1546    240.0
1547    240.0
1548    687.0
Name: voters_participating, dtype: float64
1544    240.0
1545    195.0
1546    240.0
1547    240.0
1548    687.0
1549    240.0
1550    195.0
Name: voters_participating, dtype: float64
3.0
1544    3.0
1545    3.0
1546    3.0
1547    3.0
1548    3.0
Name: neighborhood_organizations, dtype: float64
1544    3.0
1545    3.0
1546    3.0
1547    3.0
1548    3.0
1549    3.0
1550    3.0
Name: neighborhood_organizations, dtype: float64
16.857142857142858
1544    11.0
1545    13.0
1546    11.0
1547    11.0
1548    48.0
Name: voter_participation, dtype: float64
1544    11.0
1545    13.0
1546    11.0
1547    11.0
1548    48.0
1549    11.0
1550    13.0
Name: voter_participation, dtype: float64
19.3
1544    19.3
1545    19.3
1546    19.3
1547    19.3
1548    19.3
Name: vacant_land, dtype: float64
1544    19.3
1545    19.3
1546    19.3
1547    19.3
1548    19.3
1549    19.3
1550    19.3
Name: vacant_land, dtype: float64
2.0
1544    2.0
1545    2.0
1546    2.0
1547    2.0
1548    2.0
Name: population_density, dtype: float64
1544    2.0
1545    2.0
1546    2.0
1547    2.0
1548    2.0
1549    2.0
1550    2.0
Name: population_density, dtype: float64
2966.714285714286
1544    2963.0
1545    2967.0
1546    2963.0
1547    2963.0
1548    2981.0
Name: population, dtype: float64
1544    2963.0
1545    2967.0
1546    2963.0
1547    2963.0
1548    2981.0
1549    2963.0
1550    2967.0
Name: population, dtype: float64
46.0
1544    46.0
1545    46.0
1546    46.0
1547    46.0
1548    46.0
Name: transit_ridership, dtype: float64
1544    46.0
1545    46.0
1546    46.0
1547    46.0
1548    46.0
1549    46.0
1550    46.0
Name: transit_ridership, dtype: float64
1.2300000000000002
1544    1.23
1545    1.23
1546    1.23
1547    1.23
1548    1.23
Name: street_connectivity, dtype: float64
1544    1.23
1545    1.23
1546    1.23
1547    1.23
1548    1.23
1549    1.23
1550    1.23
Name: street_connectivity, dtype: float64
1.3
1544    1.3
1545    1.3
1546    1.3
1547    1.3
1548    1.3
Name: bicycle_friendliness, dtype: float64
1544    1.3
1545    1.3
1546    1.3
1547    1.3
1548    1.3
1549    1.3
1550    1.3
Name: bicycle_friendliness, dtype: float64
0.3848599999999999
1551    0.3543
1552    0.3600
1553    0.1900
1554    0.6600
1555    0.3600
Name: Acres, dtype: float64
1551    0.3543
1552    0.3600
1553    0.1900
1554    0.6600
1555    0.3600
Name: Acres, dtype: float64
nan
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: births_to_adolescents, dtype: float64
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: births_to_adolescents, dtype: float64
632.5
1551    632.5
1552    639.0
1553    628.0
1554    624.0
1555    639.0
Name: grocery_proximate_units, dtype: float64
1551    632.5
1552    639.0
1553    628.0
1554    624.0
1555    639.0
Name: grocery_proximate_units, dtype: float64
nan
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: prenatal_care, dtype: float64
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: prenatal_care, dtype: float64
54.5
1551    54.5
1552    56.0
1553    53.0
1554    53.0
1555    56.0
Name: grocery_proximity, dtype: float64
1551    54.5
1552    56.0
1553    53.0
1554    53.0
1555    56.0
Name: grocery_proximity, dtype: float64
nan
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: low_birthweight, dtype: float64
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: low_birthweight, dtype: float64
0.0
1551    0.0
1552    0.0
1553    0.0
1554    0.0
1555    0.0
Name: public_health_insurance, dtype: float64
1551    0.0
1552    0.0
1553    0.0
1554    0.0
1555    0.0
Name: public_health_insurance, dtype: float64
nan
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: age_of_death, dtype: float64
1551   -1.0
1552   -1.0
1553   -1.0
1554   -1.0
1555   -1.0
Name: age_of_death, dtype: float64
27.4
1551    27.4
1552    27.1
1553    27.7
1554    27.7
1555    27.1
Name: impervious_surface, dtype: float64
1551    27.4
1552    27.1
1553    27.7
1554    27.7
1555    27.1
Name: impervious_surface, dtype: float64
252.0
1551    252.0
1552    252.0
1553    252.0
1554    252.0
1555    252.0
Name: water_consumption, dtype: float64
1551    252.0
1552    252.0
1553    252.0
1554    252.0
1555    252.0
Name: water_consumption, dtype: float64
91.60666666666667
1551    91.606667
1552    92.410000
1553    90.000000
1554    91.606667
1555    92.410000
Name: neighborhood_school_attendance, dtype: float64
1551    91.606667
1552    92.410000
1553    90.000000
1554    91.606667
1555    92.410000
Name: neighborhood_school_attendance, dtype: float64
100.0
1551    100.0
1552    100.0
1553    100.0
1554    100.0
1555    100.0
Name: highschool_graduation_rate, dtype: float64
1551    100.0
1552    100.0
1553    100.0
1554    100.0
1555    100.0
Name: highschool_graduation_rate, dtype: float64
82.78581560283686
1551    82.785816
1552    82.978723
1553    82.400000
1554    82.785816
1555    82.978723
Name: proficiency_elementary_school, dtype: float64
1551    82.785816
1552    82.978723
1553    82.400000
1554    82.785816
1555    82.978723
Name: proficiency_elementary_school, dtype: float64
89.16666666666667
1551    89.166667
1552    87.500000
1553    92.500000
1554    89.166667
1555    87.500000
Name: proficiency_middle_school, dtype: float64
1551    89.166667
1552    87.500000
1553    92.500000
1554    89.166667
1555    87.500000
Name: proficiency_middle_school, dtype: float64
100.0

1551    100.0
1552    100.0
1553    100.0
1554    100.0
1555    100.0
Name: proficiency_high_school, dtype: float64
1551    100.0
1552    100.0
1553    100.0
1554    100.0
1555    100.0
Name: proficiency_high_school, dtype: float64
4.073059360730594
1551    4.073059
1552    4.109589
1553    4.000000
1554    4.073059
1555    4.109589
Name: student_absenteeism, dtype: float64
1551    4.073059
1552    4.109589
1553    4.000000
1554    4.073059
1555    4.109589
Name: student_absenteeism, dtype: float64
1114.0
1551    1114.0
1552     910.0
1553    1054.0
1554    1582.0
1555     910.0
Name: voters_participating, dtype: float64
1551    1114.0
1552     910.0
1553    1054.0
1554    1582.0
1555     910.0
Name: voters_participating, dtype: float64
1.0
1551    1.0
1552    1.0
1553    1.0
1554    1.0
1555    1.0
Name: neighborhood_organizations, dtype: float64
1551    1.0
1552    1.0
1553    1.0
1554    1.0
1555    1.0
Name: neighborhood_organizations, dtype: float64
56.25
1551    56.25
1552    50.00
1553    47.00
1554    78.00
1555    50.00
Name: voter_participation, dtype: float64
1551    56.25
1552    50.00
1553    47.00
1554    78.00
1555    50.00
Name: voter_participation, dtype: float64
4.0
1551    4.0
1552    4.0
1553    4.0
1554    4.0
1555    4.0
Name: vacant_land, dtype: float64
1551    4.0
1552    4.0
1553    4.0
1554    4.0
1555    4.0
Name: vacant_land, dtype: float64
6.0
1551    6.0
1552    6.0
1553    6.0
1554    6.0
1555    6.0
Name: population_density, dtype: float64
1551    6.0
1552    6.0
1553    6.0
1554    6.0
1555    6.0
Name: population_density, dtype: float64
2881.25
1551    2881.25
1552    2852.00
1553    2875.00
1554    2946.00
1555    2852.00
Name: population, dtype: float64
1551    2881.25
1552    2852.00
1553    2875.00
1554    2946.00
1555    2852.00
Name: population, dtype: float64
15.0
1551    15.0
1552    15.0
1553    15.0
1554    15.0
1555    15.0
Name: transit_ridership, dtype: float64
1551    15.0
1552    15.0
1553    15.0
1554    15.0
1555    15.0
Name: transit_ridership, dtype: float64
1.34
1551    1.34
1552    1.34
1553    1.34
1554    1.34
1555    1.34
Name: street_connectivity, dtype: float64
1551    1.34
1552    1.34
1553    1.34
1554    1.34
1555    1.34
Name: street_connectivity, dtype: float64
1.75
1551    1.75
1552    1.70
1553    1.80
1554    1.80
1555    1.70
Name: bicycle_friendliness, dtype: float64
1551    1.75
1552    1.70
1553    1.80
1554    1.80
1555    1.70
Name: bicycle_friendliness, dtype: float64
2.11
1556    2.11
1557    2.11
1558    2.11
1559    2.11
1560    2.11
Name: Acres, dtype: float64
1556    2.11
1557    2.11
1558    2.11
1559    2.11
1560    2.11
Name: Acres, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: births_to_adolescents, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: births_to_adolescents, dtype: float64
717.0
1556    717.0
1557    717.0
1558    717.0
1559    717.0
1560    717.0
Name: grocery_proximate_units, dtype: float64
1556    717.0
1557    717.0
1558    717.0
1559    717.0
1560    717.0
Name: grocery_proximate_units, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: prenatal_care, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: prenatal_care, dtype: float64
90.0
1556    90.0
1557    90.0
1558    90.0
1559    90.0
1560    90.0
Name: grocery_proximity, dtype: float64
1556    90.0
1557    90.0
1558    90.0
1559    90.0
1560    90.0
Name: grocery_proximity, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: low_birthweight, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: low_birthweight, dtype: float64
14.0
1556    14.0
1557    14.0
1558    14.0
1559    14.0
1560    14.0
Name: public_health_insurance, dtype: float64
1556    14.0
1557    14.0
1558    14.0
1559    14.0
1560    14.0
Name: public_health_insurance, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: age_of_death, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: age_of_death, dtype: float64
26.0
1556    26.0
1557    26.0
1558    26.0
1559    26.0
1560    26.0
Name: impervious_surface, dtype: float64
1556    26.0
1557    26.0
1558    26.0
1559    26.0
1560    26.0
Name: impervious_surface, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: water_consumption, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: water_consumption, dtype: float64
64.0
1556    64.0
1557    64.0
1558    64.0
1559    64.0
1560    64.0
Name: neighborhood_school_attendance, dtype: float64
1556    64.0
1557    64.0
1558    64.0
1559    64.0
1560    64.0
Name: neighborhood_school_attendance, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: highschool_graduation_rate, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: highschool_graduation_rate, dtype: float64
37.9
1556    37.9
1557    37.9
1558    37.9
1559    37.9
1560    37.9
Name: proficiency_elementary_school, dtype: float64
1556    37.9
1557    37.9
1558    37.9
1559    37.9
1560    37.9
Name: proficiency_elementary_school, dtype: float64
31.3
1556    31.3
1557    31.3
1558    31.3
1559    31.3
1560    31.3
Name: proficiency_middle_school, dtype: float64
1556    31.3
1557    31.3
1558    31.3
1559    31.3
1560    31.3
Name: proficiency_middle_school, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: proficiency_high_school, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: proficiency_high_school, dtype: float64
12.0
1556    12.0
1557    12.0
1558    12.0
1559    12.0
1560    12.0
Name: student_absenteeism, dtype: float64
1556    12.0
1557    12.0
1558    12.0
1559    12.0
1560    12.0
Name: student_absenteeism, dtype: float64
246.0
1556    246.0
1557    246.0
1558    246.0
1559    246.0
1560    246.0
Name: voters_participating, dtype: float64
1556    246.0
1557    246.0
1558    246.0
1559    246.0
1560    246.0
Name: voters_participating, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: neighborhood_organizations, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: neighborhood_organizations, dtype: float64
23.0
1556    23.0
1557    23.0
1558    23.0
1559    23.0
1560    23.0
Name: voter_participation, dtype: float64
1556    23.0
1557    23.0
1558    23.0
1559    23.0
1560    23.0
Name: voter_participation, dtype: float64
3.8
1556    3.8
1557    3.8
1558    3.8
1559    3.8
1560    3.8
Name: vacant_land, dtype: float64
1556    3.8
1557    3.8
1558    3.8
1559    3.8
1560    3.8
Name: vacant_land, dtype: float64
6.0
1556    6.0
1557    6.0
1558    6.0
1559    6.0
1560    6.0
Name: population_density, dtype: float64
1556    6.0
1557    6.0
1558    6.0
1559    6.0
1560    6.0
Name: population_density, dtype: float64
1700.0
1556    1700.0
1557    1700.0
1558    1700.0
1559    1700.0
1560    1700.0
Name: population, dtype: float64
1556    1700.0
1557    1700.0
1558    1700.0
1559    1700.0
1560    1700.0
Name: population, dtype: float64
nan
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: transit_ridership, dtype: float64
1556   -1.0
1557   -1.0
1558   -1.0
1559   -1.0
1560   -1.0
Name: transit_ridership, dtype: float64
1.36
1556    1.36
1557    1.36
1558    1.36
1559    1.36
1560    1.36
Name: street_connectivity, dtype: float64
1556    1.36
1557    1.36
1558    1.36
1559    1.36
1560    1.36
Name: street_connectivity, dtype: float64
2.0
1556    2.0
1557    2.0
1558    2.0
1559    2.0
1560    2.0
Name: bicycle_friendliness, dtype: float64
1556    2.0
1557    2.0
1558    2.0
1559    2.0
1560    2.0
Name: bicycle_friendliness, dtype: float64
13.72
1561    20.32
1562    20.32
1563     0.52
Name: Acres, dtype: float64
1561    20.32
1562    20.32
1563     0.52
Name: Acres, dtype: float64
6.9
1561    6.9
1562    6.9
1563    6.9
Name: births_to_adolescents, dtype: float64
1561    6.9
1562    6.9
1563    6.9
Name: births_to_adolescents, dtype: float64
31.0
1561    31.0
1562    31.0
1563    31.0
Name: grocery_proximate_units, dtype: float64
1561    31.0
1562    31.0
1563    31.0
Name: grocery_proximate_units, dtype: float64
62.1
1561    62.1
1562    62.1
1563    62.1
Name: prenatal_care, dtype: float64
1561    62.1
1562    62.1
1563    62.1
Name: prenatal_care, dtype: float64
7.0
1561    7.0
1562    7.0
1563    7.0
Name: grocery_proximity, dtype: float64
1561    7.0
1562    7.0
1563    7.0
Name: grocery_proximity, dtype: float64
17.2
1561    17.2
1562    17.2
1563    17.2
Name: low_birthweight, dtype: float64
1561    17.2
1562    17.2
1563    17.2
Name: low_birthweight, dtype: float64
18.666666666666668
1561    17.0
1562    17.0
1563    22.0
Name: public_health_insurance, dtype: float64
1561    17.0
1562    17.0
1563    22.0
Name: public_health_insurance, dtype: float64
60.0
1561    60.0
1562    60.0
1563    60.0
Name: age_of_death, dtype: float64
1561    60.0
1562    60.0
1563    60.0
Name: age_of_death, dtype: float64
38.2
1561    38.2
1562    38.2
1563    38.2
Name: impervious_surface, dtype: float64
1561    38.2
1562    38.2
1563    38.2
Name: impervious_surface, dtype: float64
111.0
1561    111.0
1562    111.0
1563    111.0
Name: water_consumption, dtype: float64
1561    111.0
1562    111.0
1563    111.0
Name: water_consumption, dtype: float64
60.18
1561    58.73
1562    58.73
1563    63.08
Name: neighborhood_school_attendance, dtype: float64
1561    58.73
1562    58.73
1563    63.08
Name: neighborhood_school_attendance, dtype: float64
96.0
1561    100.0
1562    100.0
1563     88.0
Name: highschool_graduation_rate, dtype: float64
1561    100.0
1562    100.0
1563     88.0
Name: highschool_graduation_rate, dtype: float64
47.17348927875242
1561    44.444444
1562    44.444444
1563    52.631579
Name: proficiency_elementary_school, dtype: float64
1561    44.444444
1562    44.444444
1563    52.631579
Name: proficiency_elementary_school, dtype: float64
30.157619047619047
1561    28.571429
1562    28.571429
1563    33.330000
Name: proficiency_middle_school, dtype: float64
1561    28.571429
1562    28.571429
1563    33.330000
Name: proficiency_middle_school, dtype: float64
nan
1561   -1.0
1562   -1.0
1563   -1.0
Name: proficiency_high_school, dtype: float64
1561   -1.0
1562   -1.0
1563   -1.0
Name: proficiency_high_school, dtype: float64
13.34348046676814
1561    11.111111
1562    11.111111
1563    17.808219
Name: student_absenteeism, dtype: float64
1561    11.111111
1562    11.111111
1563    17.808219
Name: student_absenteeism, dtype: float64
131.0
1561    163.0
1562    163.0
1563     67.0
Name: voters_participating, dtype: float64
1561    163.0
1562    163.0
1563     67.0
Name: voters_participating, dtype: float64
1.0
1561    1.0
1562    1.0
1563    1.0
Name: neighborhood_organizations, dtype: float64
1561    1.0
1562    1.0
1563    1.0
Name: neighborhood_organizations, dtype: float64
36.666666666666664
1561    46.0
1562    46.0
1563    18.0
Name: voter_participation, dtype: float64
1561    46.0
1562    46.0
1563    18.0
Name: voter_participation, dtype: float64
3.6
1561    3.6
1562    3.6
1563    3.6
Name: vacant_land, dtype: float64
1561    3.6
1562    3.6
1563    3.6
Name: vacant_land, dtype: float64
2.0
1561    2.0
1562    2.0
1563    2.0
Name: population_density, dtype: float64
1561    2.0
1562    2.0
1563    2.0
Name: population_density, dtype: float64
796.0
1561    796.0
1562    796.0
1563    796.0
Name: population, dtype: float64
1561    796.0
1562    796.0
1563    796.0
Name: population, dtype: float64
72.33333333333333
1561    74.0
1562    74.0
1563    69.0
Name: transit_ridership, dtype: float64
1561    74.0
1562    74.0
1563    69.0
Name: transit_ridership, dtype: float64
1.27
1561    1.27
1562    1.27
1563    1.27
Name: street_connectivity, dtype: float64
1561    1.27
1562    1.27
1563    1.27
Name: street_connectivity, dtype: float64
1.4
1561    1.4
1562    1.4
1563    1.4
Name: bicycle_friendliness, dtype: float64
1561    1.4
1562    1.4
1563    1.4
Name: bicycle_friendliness, dtype: float64
1.4138823529411766
1564    1.37
1565    1.56
1566    0.55
1567    1.68
1568    1.50
Name: Acres, dtype: float64
1564    1.370
1565    1.560
1566    0.550
1567    1.680
1568    1.500
1569    0.770
1570    1.760
1571    1.370
1572    1.680
1573    0.453
1574    1.760
1575    0.770
1576    1.680
1577    0.233
1578    2.570
1579    1.760
1580    2.570
Name: Acres, dtype: float64
0.36
1564    0.00
1565    0.90
1566    0.36
1567    0.36
1568    0.90
Name: births_to_adolescents, dtype: float64
1564    0.00
1565    0.90
1566    0.36
1567    0.36
1568    0.90
1569    0.36
1570    0.36
1571    0.00
1572    0.00
1573    0.36
1574    0.36
1575    0.36
1576    0.36
1577    0.36
1578    0.36
1579    0.36
1580    0.36
Name: births_to_adolescents, dtype: float64
1130.4285714285713
1564    1130.000000
1565    1143.000000
1566    1130.428571
1567    1130.428571
1568    1143.000000
Name: grocery_proximate_units, dtype: float64
1564    1130.000000
1565    1143.000000
1566    1130.428571
1567    1130.428571
1568    1143.000000
1569    1126.000000
1570    1126.000000
1571    1130.000000
1572    1130.000000
1573    1130.000000
1574    1126.000000
1575    1126.000000
1576    1130.000000
1577    1130.428571
1578    1130.000000
1579    1126.000000
1580    1130.000000
Name: grocery_proximate_units, dtype: float64
81.24000000000001
1564    80.40
1565    82.50
1566    81.24
1567    81.24
1568    82.50
Name: prenatal_care, dtype: float64
1564    80.40
1565    82.50
1566    81.24
1567    81.24
1568    82.50
1569    81.24
1570    81.24
1571    80.40
1572    80.40
1573    81.24
1574    81.24
1575    81.24
1576    81.24
1577    81.24
1578    81.24
1579    81.24
1580    81.24
Name: prenatal_care, dtype: float64
33.5
1564    37.0
1565    42.0
1566    33.5
1567    33.5
1568    42.0
Name: grocery_proximity, dtype: float64
1564    37.0
1565    42.0
1566    33.5
1567    33.5
1568    42.0
1569    22.0
1570    22.0
1571    37.0
1572    37.0
1573    41.0
1574    22.0
1575    22.0
1576    41.0
1577    33.5
1578    41.0
1579    22.0
1580    41.0
Name: grocery_proximity, dtype: float64
7.4799999999999995

1564    8.40
1565    6.10
1566    7.48
1567    7.48
1568    6.10
Name: low_birthweight, dtype: float64
1564    8.40
1565    6.10
1566    7.48
1567    7.48
1568    6.10
1569    7.48
1570    7.48
1571    8.40
1572    8.40
1573    7.48
1574    7.48
1575    7.48
1576    7.48
1577    7.48
1578    7.48
1579    7.48
1580    7.48
Name: low_birthweight, dtype: float64
4.181818181818182
1564    4.181818
1565    5.000000
1566    4.181818
1567    4.181818
1568    5.000000
Name: public_health_insurance, dtype: float64
1564    4.181818
1565    5.000000
1566    4.181818
1567    4.181818
1568    5.000000
1569    4.000000
1570    4.000000
1571    4.181818
1572    4.181818
1573    4.000000
1574    4.000000
1575    4.000000
1576    4.000000
1577    4.181818
1578    4.000000
1579    4.000000
1580    4.000000
Name: public_health_insurance, dtype: float64
73.2
1564    72.0
1565    75.0
1566    73.2
1567    73.2
1568    75.0
Name: age_of_death, dtype: float64
1564    72.0
1565    75.0
1566    73.2
1567    73.2
1568    75.0
1569    73.2
1570    73.2
1571    72.0
1572    72.0
1573    73.2
1574    73.2
1575    73.2
1576    73.2
1577    73.2
1578    73.2
1579    73.2
1580    73.2
Name: age_of_death, dtype: float64
36.03333333333334
1564    36.000000
1565    36.033333
1566    36.033333
1567    36.033333
1568    36.033333
Name: impervious_surface, dtype: float64
1564    36.000000
1565    36.033333
1566    36.033333
1567    36.033333
1568    36.033333
1569    36.400000
1570    36.400000
1571    36.000000
1572    36.000000
1573    35.600000
1574    36.400000
1575    36.400000
1576    35.600000
1577    36.033333
1578    35.600000
1579    36.400000
1580    35.600000
Name: impervious_surface, dtype: float64
146.2
1564    151.0
1565    139.0
1566    146.2
1567    146.2
1568    139.0
Name: water_consumption, dtype: float64
1564    151.0
1565    139.0
1566    146.2
1567    146.2
1568    139.0
1569    146.2
1570    146.2
1571    151.0
1572    151.0
1573    146.2
1574    146.2
1575    146.2
1576    146.2
1577    146.2
1578    146.2
1579    146.2
1580    146.2
Name: water_consumption, dtype: float64
73.00999999999998
1564    73.40
1565    71.37
1566    73.01
1567    73.01
1568    71.37
Name: neighborhood_school_attendance, dtype: float64
1564    73.40
1565    71.37
1566    73.01
1567    73.01
1568    71.37
1569    76.00
1570    76.00
1571    73.40
1572    73.40
1573    69.80
1574    76.00
1575    76.00
1576    69.80
1577    73.01
1578    69.80
1579    76.00
1580    69.80
Name: neighborhood_school_attendance, dtype: float64
92.92857142857143
1564    85.000000
1565    93.000000
1566    92.928571
1567    92.928571
1568    93.000000
Name: highschool_graduation_rate, dtype: float64
1564     85.000000
1565     93.000000
1566     92.928571
1567     92.928571
1568     93.000000
1569     92.000000
1570     92.000000
1571     85.000000
1572     85.000000
1573    100.000000
1574     92.000000
1575     92.000000
1576    100.000000
1577     92.928571
1578    100.000000
1579     92.000000
1580    100.000000
Name: highschool_graduation_rate, dtype: float64
73.11637362637363
1564    69.120000
1565    75.384615
1566    73.116374
1567    73.116374
1568    75.384615
Name: proficiency_elementary_school, dtype: float64
1564    69.120000
1565    75.384615
1566    73.116374
1567    73.116374
1568    75.384615
1569    69.100000
1570    69.100000
1571    69.120000
1572    69.120000
1573    80.000000
1574    69.100000
1575    69.100000
1576    80.000000
1577    73.116374
1578    80.000000
1579    69.100000
1580    80.000000
Name: proficiency_elementary_school, dtype: float64
79.4457142857143
1564    83.300000
1565    85.000000
1566    79.445714
1567    79.445714
1568    85.000000
Name: proficiency_middle_school, dtype: float64
1564    83.300000
1565    85.000000
1566    79.445714
1567    79.445714
1568    85.000000
1569    75.700000
1570    75.700000
1571    83.300000
1572    83.300000
1573    78.460000
1574    75.700000
1575    75.700000
1576    78.460000
1577    79.445714
1578    78.460000
1579    75.700000
1580    78.460000
Name: proficiency_middle_school, dtype: float64
71.11999999999998
1564    100.00
1565     68.75
1566     71.12
1567     71.12
1568     68.75
Name: proficiency_high_school, dtype: float64
1564    100.00
1565     68.75
1566     71.12
1567     71.12
1568     68.75
1569     58.30
1570     58.30
1571    100.00
1572    100.00
1573     66.67
1574     58.30
1575     58.30
1576     66.67
1577     71.12
1578     66.67
1579     58.30
1580     66.67
Name: proficiency_high_school, dtype: float64
5.987090975938561
1564    6.000000
1565    4.832714
1566    5.987091
1567    5.987091
1568    4.832714
Name: student_absenteeism, dtype: float64
1564    6.000000
1565    4.832714
1566    5.987091
1567    5.987091
1568    4.832714
1569    6.000000
1570    6.000000
1571    6.000000
1572    6.000000
1573    6.538462
1574    6.000000
1575    6.000000
1576    6.538462
1577    5.987091
1578    6.538462
1579    6.000000
1580    6.538462
Name: student_absenteeism, dtype: float64
1451.4285714285713
1564    2986.000000
1565    1496.000000
1566    1451.428571
1567    1451.428571
1568    1496.000000
Name: voters_participating, dtype: float64
1564    2986.000000
1565    1496.000000
1566    1451.428571
1567    1451.428571
1568    1496.000000
1569    1090.000000
1570    1090.000000
1571    2986.000000
1572    2986.000000
1573     730.000000
1574    1090.000000
1575    1090.000000
1576     730.000000
1577    1451.428571
1578     730.000000
1579    1090.000000
1580     730.000000
Name: voters_participating, dtype: float64
3.6666666666666665
1564    3.666667
1565    3.000000
1566    3.666667
1567    3.666667
1568    3.000000
Name: neighborhood_organizations, dtype: float64
1564    3.666667
1565    3.000000
1566    3.666667
1567    3.666667
1568    3.000000
1569    3.666667
1570    3.666667
1571    3.666667
1572    3.666667
1573    4.000000
1574    3.666667
1575    3.666667
1576    4.000000
1577    3.666667
1578    4.000000
1579    3.666667
1580    4.000000
Name: neighborhood_organizations, dtype: float64
41.214285714285715
1564    80.000000
1565    56.000000
1566    41.214286
1567    41.214286
1568    56.000000
Name: voter_participation, dtype: float64
1564    80.000000
1565    56.000000
1566    41.214286
1567    41.214286
1568    56.000000
1569    25.000000
1570    25.000000
1571    80.000000
1572    80.000000
1573    25.000000
1574    25.000000
1575    25.000000
1576    25.000000
1577    41.214286
1578    25.000000
1579    25.000000
1580    25.000000
Name: voter_participation, dtype: float64
2.6000000000000005
1564    2.6
1565    2.6
1566    2.6
1567    2.6
1568    2.6
Name: vacant_land, dtype: float64
1564    2.6
1565    2.6
1566    2.6
1567    2.6
1568    2.6
1569    2.6
1570    2.6
1571    2.6
1572    2.6
1573    2.6
1574    2.6
1575    2.6
1576    2.6
1577    2.6
1578    2.6
1579    2.6
1580    2.6
Name: vacant_land, dtype: float64
7.666666666666667
1564    8.000000
1565    7.666667
1566    7.666667
1567    7.666667
1568    7.666667
Name: population_density, dtype: float64
1564    8.000000
1565    7.666667
1566    7.666667
1567    7.666667
1568    7.666667
1569    8.000000
1570    8.000000
1571    8.000000
1572    8.000000
1573    7.000000
1574    8.000000
1575    8.000000
1576    7.000000
1577    7.666667
1578    7.000000
1579    8.000000
1580    7.000000
Name: population_density, dtype: float64
5327.5
1564    5562.0
1565    5327.5
1566    5327.5
1567    5327.5
1568    5327.5
Name: population, dtype: float64
1564    5562.0
1565    5327.5
1566    5327.5
1567    5327.5
1568    5327.5
1569    5556.0
1570    5556.0
1571    5562.0
1572    5562.0
1573    4866.0
1574    5556.0
1575    5556.0
1576    4866.0
1577    5327.5
1578    4866.0
1579    5556.0
1580    4866.0
Name: population, dtype: float64
87.33333333333333
1564     87.333333
1565    112.000000
1566     87.333333
1567     87.333333
1568    112.000000
Name: transit_ridership, dtype: float64
1564     87.333333
1565    112.000000
1566     87.333333
1567     87.333333
1568    112.000000
1569     87.333333
1570     87.333333
1571     87.333333
1572     87.333333
1573     75.000000
1574     87.333333
1575     87.333333
1576     75.000000
1577     87.333333
1578     75.000000
1579     87.333333
1580     75.000000
Name: transit_ridership, dtype: float64
1.4091666666666667
1564    1.410000
1565    1.409167
1566    1.409167
1567    1.409167
1568    1.409167
Name: street_connectivity, dtype: float64
1564    1.410000
1565    1.409167
1566    1.409167
1567    1.409167
1568    1.409167
1569    1.400000
1570    1.400000
1571    1.410000
1572    1.410000
1573    1.420000
1574    1.400000
1575    1.400000
1576    1.420000
1577    1.409167
1578    1.420000
1579    1.400000
1580    1.420000
Name: street_connectivity, dtype: float64
1.8000000000000005
1564    1.8
1565    1.8
1566    1.8
1567    1.8
1568    1.8
Name: bicycle_friendliness, dtype: float64
1564    1.8
1565    1.8
1566    1.8
1567    1.8
1568    1.8
1569    1.8
1570    1.8
1571    1.8
1572    1.8
1573    1.8
1574    1.8
1575    1.8
1576    1.8
1577    1.8
1578    1.8
1579    1.8
1580    1.8
Name: bicycle_friendliness, dtype: float64
2.88
1581    2.88
Name: Acres, dtype: float64
1581    2.88
Name: Acres, dtype: float64
nan
1581   -1.0
Name: births_to_adolescents, dtype: float64
1581   -1.0
Name: births_to_adolescents, dtype: float64
977.0
1581    977.0
Name: grocery_proximate_units, dtype: float64
1581    977.0
Name: grocery_proximate_units, dtype: float64
nan
1581   -1.0
Name: prenatal_care, dtype: float64
1581   -1.0
Name: prenatal_care, dtype: float64
83.0
1581    83.0
Name: grocery_proximity, dtype: float64
1581    83.0
Name: grocery_proximity, dtype: float64
nan
1581   -1.0
Name: low_birthweight, dtype: float64
1581   -1.0
Name: low_birthweight, dtype: float64
19.0
1581    19.0
Name: public_health_insurance, dtype: float64
1581    19.0
Name: public_health_insurance, dtype: float64
nan
1581   -1.0
Name: age_of_death, dtype: float64
1581   -1.0
Name: age_of_death, dtype: float64
26.8
1581    26.8
Name: impervious_surface, dtype: float64
1581    26.8
Name: impervious_surface, dtype: float64
nan
1581   -1.0
Name: water_consumption, dtype: float64
1581   -1.0
Name: water_consumption, dtype: float64
84.17
1581    84.17
Name: neighborhood_school_attendance, dtype: float64
1581    84.17
Name: neighborhood_school_attendance, dtype: float64
89.0
1581    89.0
Name: highschool_graduation_rate, dtype: float64
1581    89.0
Name: highschool_graduation_rate, dtype: float64
51.6129032258064
1581    51.612903
Name: proficiency_elementary_school, dtype: float64
1581    51.612903
Name: proficiency_elementary_school, dtype: float64
40.91
1581    40.91
Name: proficiency_middle_school, dtype: float64
1581    40.91
Name: proficiency_middle_school, dtype: float64
53.85
1581    53.85
Name: proficiency_high_school, dtype: float64
1581    53.85
Name: proficiency_high_school, dtype: float64
12.9113924050633
1581    12.911392
Name: student_absenteeism, dtype: float64
1581    12.911392
Name: student_absenteeism, dtype: float64
234.0
1581    234.0
Name: voters_participating, dtype: float64
1581    234.0
Name: voters_participating, dtype: float64
nan
1581   -1.0
Name: neighborhood_organizations, dtype: float64
1581   -1.0
Name: neighborhood_organizations, dtype: float64
16.0
1581    16.0
Name: voter_participation, dtype: float64
1581    16.0
Name: voter_participation, dtype: float64
4.6
1581    4.6
Name: vacant_land, dtype: float64
1581    4.6
Name: vacant_land, dtype: float64
3.0

1581    3.0
Name: population_density, dtype: float64
1581    3.0
Name: population_density, dtype: float64
3038.0
1581    3038.0
Name: population, dtype: float64
1581    3038.0
Name: population, dtype: float64
100.0
1581    100.0
Name: transit_ridership, dtype: float64
1581    100.0
Name: transit_ridership, dtype: float64
1.24
1581    1.24
Name: street_connectivity, dtype: float64
1581    1.24
Name: street_connectivity, dtype: float64
1.5
1581    1.5
Name: bicycle_friendliness, dtype: float64
1581    1.5
Name: bicycle_friendliness, dtype: float64
7.296666666666667
1582    15.500000
1583     7.296667
1584     4.270000
1585     7.296667
1586     2.120000
Name: Acres, dtype: float64
1582    15.500000
1583     7.296667
1584     4.270000
1585     7.296667
1586     2.120000
1587     7.296667
Name: Acres, dtype: float64
15.9
1582    15.9
1583    15.9
1584    15.9
1585    15.9
1586    15.9
Name: births_to_adolescents, dtype: float64
1582    15.9
1583    15.9
1584    15.9
1585    15.9
1586    15.9
1587    15.9
Name: births_to_adolescents, dtype: float64
151.5
1582    195.0
1583    137.0
1584    151.5
1585    137.0
1586    151.5
Name: grocery_proximate_units, dtype: float64
1582    195.0
1583    137.0
1584    151.5
1585    137.0
1586    151.5
1587    137.0
Name: grocery_proximate_units, dtype: float64
56.8
1582    56.8
1583    56.8
1584    56.8
1585    56.8
1586    56.8
Name: prenatal_care, dtype: float64
1582    56.8
1583    56.8
1584    56.8
1585    56.8
1586    56.8
1587    56.8
Name: prenatal_care, dtype: float64
29.75
1582    38.00
1583    27.00
1584    29.75
1585    27.00
1586    29.75
Name: grocery_proximity, dtype: float64
1582    38.00
1583    27.00
1584    29.75
1585    27.00
1586    29.75
1587    27.00
Name: grocery_proximity, dtype: float64
20.5
1582    20.5
1583    20.5
1584    20.5
1585    20.5
1586    20.5
Name: low_birthweight, dtype: float64
1582    20.5
1583    20.5
1584    20.5
1585    20.5
1586    20.5
1587    20.5
Name: low_birthweight, dtype: float64
41.25
1582    42.00
1583    41.00
1584    41.25
1585    41.00
1586    41.25
Name: public_health_insurance, dtype: float64
1582    42.00
1583    41.00
1584    41.25
1585    41.00
1586    41.25
1587    41.00
Name: public_health_insurance, dtype: float64
63.0
1582    63.0
1583    63.0
1584    63.0
1585    63.0
1586    63.0
Name: age_of_death, dtype: float64
1582    63.0
1583    63.0
1584    63.0
1585    63.0
1586    63.0
1587    63.0
Name: age_of_death, dtype: float64
26.100000000000005
1582    26.1
1583    26.1
1584    26.1
1585    26.1
1586    26.1
Name: impervious_surface, dtype: float64
1582    26.1
1583    26.1
1584    26.1
1585    26.1
1586    26.1
1587    26.1
Name: impervious_surface, dtype: float64
96.0
1582    96.0
1583    96.0
1584    96.0
1585    96.0
1586    96.0
Name: water_consumption, dtype: float64
1582    96.0
1583    96.0
1584    96.0
1585    96.0
1586    96.0
1587    96.0
Name: water_consumption, dtype: float64
74.02250000000001
1582    74.0900
1583    74.0000
1584    74.0225
1585    74.0000
1586    74.0225
Name: neighborhood_school_attendance, dtype: float64
1582    74.0900
1583    74.0000
1584    74.0225
1585    74.0000
1586    74.0225
1587    74.0000
Name: neighborhood_school_attendance, dtype: float64
80.25
1582    81.00
1583    80.00
1584    80.25
1585    80.00
1586    80.25
Name: highschool_graduation_rate, dtype: float64
1582    81.00
1583    80.00
1584    80.25
1585    80.00
1586    80.25
1587    80.00
Name: highschool_graduation_rate, dtype: float64
29.800847457627118
1582    32.203390
1583    29.000000
1584    29.800847
1585    29.000000
1586    29.800847
Name: proficiency_elementary_school, dtype: float64
1582    32.203390
1583    29.000000
1584    29.800847
1585    29.000000
1586    29.800847
1587    29.000000
Name: proficiency_elementary_school, dtype: float64
15.558333333333334
1582    13.333333
1583    16.300000
1584    15.558333
1585    16.300000
1586    15.558333
Name: proficiency_middle_school, dtype: float64
1582    13.333333
1583    16.300000
1584    15.558333
1585    16.300000
1586    15.558333
1587    16.300000
Name: proficiency_middle_school, dtype: float64
31.224999999999998
1582    25.000
1583    33.300
1584    31.225
1585    33.300
1586    31.225
Name: proficiency_high_school, dtype: float64
1582    25.000
1583    33.300
1584    31.225
1585    33.300
1586    31.225
1587    33.300
Name: proficiency_high_school, dtype: float64
31.361524163568774
1582    20.446097
1583    35.000000
1584    31.361524
1585    35.000000
1586    31.361524
Name: student_absenteeism, dtype: float64
1582    20.446097
1583    35.000000
1584    31.361524
1585    35.000000
1586    31.361524
1587    35.000000
Name: student_absenteeism, dtype: float64
134.5
1582    238.0
1583    100.0
1584    134.5
1585    100.0
1586    134.5
Name: voters_participating, dtype: float64
1582    238.0
1583    100.0
1584    134.5
1585    100.0
1586    134.5
1587    100.0
Name: voters_participating, dtype: float64
1.0
1582    1.0
1583    1.0
1584    1.0
1585    1.0
1586    1.0
Name: neighborhood_organizations, dtype: float64
1582    1.0
1583    1.0
1584    1.0
1585    1.0
1586    1.0
1587    1.0
Name: neighborhood_organizations, dtype: float64
17.25
1582    36.00
1583    11.00
1584    17.25
1585    11.00
1586    17.25
Name: voter_participation, dtype: float64
1582    36.00
1583    11.00
1584    17.25
1585    11.00
1586    17.25
1587    11.00
Name: voter_participation, dtype: float64
8.6
1582    8.6
1583    8.6
1584    8.6
1585    8.6
1586    8.6
Name: vacant_land, dtype: float64
1582    8.6
1583    8.6
1584    8.6
1585    8.6
1586    8.6
1587    8.6
Name: vacant_land, dtype: float64
3.0
1582    3.0
1583    3.0
1584    3.0
1585    3.0
1586    3.0
Name: population_density, dtype: float64
1582    3.0
1583    3.0
1584    3.0
1585    3.0
1586    3.0
1587    3.0
Name: population_density, dtype: float64
1109.0
1582    1109.0
1583    1109.0
1584    1109.0
1585    1109.0
1586    1109.0
Name: population, dtype: float64
1582    1109.0
1583    1109.0
1584    1109.0
1585    1109.0
1586    1109.0
1587    1109.0
Name: population, dtype: float64
37.0
1582    37.0
1583    37.0
1584    37.0
1585    37.0
1586    37.0
Name: transit_ridership, dtype: float64
1582    37.0
1583    37.0
1584    37.0
1585    37.0
1586    37.0
1587    37.0
Name: transit_ridership, dtype: float64
1.29
1582    1.29
1583    1.29
1584    1.29
1585    1.29
1586    1.29
Name: street_connectivity, dtype: float64
1582    1.29
1583    1.29
1584    1.29
1585    1.29
1586    1.29
1587    1.29
Name: street_connectivity, dtype: float64
1.6000000000000003
1582    1.6
1583    1.6
1584    1.6
1585    1.6
1586    1.6
Name: bicycle_friendliness, dtype: float64
1582    1.6
1583    1.6
1584    1.6
1585    1.6
1586    1.6
1587    1.6
Name: bicycle_friendliness, dtype: float64
5.06
1588    2.00
1589    8.12
Name: Acres, dtype: float64
1588    2.00
1589    8.12
Name: Acres, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: births_to_adolescents, dtype: float64
1588   -1.0
1589   -1.0
Name: births_to_adolescents, dtype: float64
712.0
1588    712.0
1589    712.0
Name: grocery_proximate_units, dtype: float64
1588    712.0
1589    712.0
Name: grocery_proximate_units, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: prenatal_care, dtype: float64
1588   -1.0
1589   -1.0
Name: prenatal_care, dtype: float64
56.0
1588    56.0
1589    56.0
Name: grocery_proximity, dtype: float64
1588    56.0
1589    56.0
Name: grocery_proximity, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: low_birthweight, dtype: float64
1588   -1.0
1589   -1.0
Name: low_birthweight, dtype: float64
72.0
1588    72.0
1589    72.0
Name: public_health_insurance, dtype: float64
1588    72.0
1589    72.0
Name: public_health_insurance, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: age_of_death, dtype: float64
1588   -1.0
1589   -1.0
Name: age_of_death, dtype: float64
30.3
1588    30.3
1589    30.3
Name: impervious_surface, dtype: float64
1588    30.3
1589    30.3
Name: impervious_surface, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: water_consumption, dtype: float64
1588   -1.0
1589   -1.0
Name: water_consumption, dtype: float64
79.0
1588    79.0
1589    79.0
Name: neighborhood_school_attendance, dtype: float64
1588    79.0
1589    79.0
Name: neighborhood_school_attendance, dtype: float64
82.0
1588    82.0
1589    82.0
Name: highschool_graduation_rate, dtype: float64
1588    82.0
1589    82.0
Name: highschool_graduation_rate, dtype: float64
25.6
1588    25.6
1589    25.6
Name: proficiency_elementary_school, dtype: float64
1588    25.6
1589    25.6
Name: proficiency_elementary_school, dtype: float64
18.2
1588    18.2
1589    18.2
Name: proficiency_middle_school, dtype: float64
1588    18.2
1589    18.2
Name: proficiency_middle_school, dtype: float64
40.0
1588    40.0
1589    40.0
Name: proficiency_high_school, dtype: float64
1588    40.0
1589    40.0
Name: proficiency_high_school, dtype: float64
20.0
1588    20.0
1589    20.0
Name: student_absenteeism, dtype: float64
1588    20.0
1589    20.0
Name: student_absenteeism, dtype: float64
186.0
1588    186.0
1589    186.0
Name: voters_participating, dtype: float64
1588    186.0
1589    186.0
Name: voters_participating, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: neighborhood_organizations, dtype: float64
1588   -1.0
1589   -1.0
Name: neighborhood_organizations, dtype: float64
10.0
1588    10.0
1589    10.0
Name: voter_participation, dtype: float64
1588    10.0
1589    10.0
Name: voter_participation, dtype: float64
9.9
1588    9.9
1589    9.9
Name: vacant_land, dtype: float64
1588    9.9
1589    9.9
Name: vacant_land, dtype: float64
7.0
1588    7.0
1589    7.0
Name: population_density, dtype: float64
1588    7.0
1589    7.0
Name: population_density, dtype: float64
3274.0
1588    3274.0
1589    3274.0
Name: population, dtype: float64
1588    3274.0
1589    3274.0
Name: population, dtype: float64
nan
1588   -1.0
1589   -1.0
Name: transit_ridership, dtype: float64
1588   -1.0
1589   -1.0
Name: transit_ridership, dtype: float64
1.21
1588    1.21
1589    1.21
Name: street_connectivity, dtype: float64
1588    1.21
1589    1.21
Name: street_connectivity, dtype: float64
1.6
1588    1.6
1589    1.6
Name: bicycle_friendliness, dtype: float64
1588    1.6
1589    1.6
Name: bicycle_friendliness, dtype: float64
5.340857142857144
1590    4.48
1591    4.07
1592    5.47
1593    1.35
1594    6.63
Name: Acres, dtype: float64
1590     4.480
1591     4.070
1592     5.470
1593     1.350
1594     6.630
1595     1.490
1596     6.970
1597     3.632
1598     3.680
1599    19.000
1600     9.820
1601     4.640
1602     0.650
1603     2.890
Name: Acres, dtype: float64
9.3
1590    9.3
1591    9.3
1592    9.3
1593    9.3
1594    9.3
Name: births_to_adolescents, dtype: float64
1590    9.3
1591    9.3
1592    9.3
1593    9.3
1594    9.3
1595    9.3
1596    9.3
1597    9.3
1598    9.3
1599    9.3
1600    9.3
1601    9.3
1602    9.3
1603    9.3
Name: births_to_adolescents, dtype: float64
359.53846153846155
1590    528.0
1591    356.0
1592    356.0
1593    121.0
1594    528.0
Name: grocery_proximate_units, dtype: float64
1590    528.000000
1591    356.000000
1592    356.000000
1593    121.000000
1594    528.000000
1595    356.000000
1596    356.000000
1597    528.000000
1598    356.000000
1599    356.000000
1600    356.000000
1601    356.000000
1602    121.000000
1603    359.538462
Name: grocery_proximate_units, dtype: float64
44.0
1590    44.0
1591    44.0
1592    44.0
1593    44.0
1594    44.0
Name: prenatal_care, dtype: float64
1590    44.0
1591    44.0
1592    44.0
1593    44.0
1594    44.0
1595    44.0
1596    44.0
1597    44.0
1598    44.0
1599    44.0
1600    44.0
1601    44.0
1602    44.0
1603    44.0
Name: prenatal_care, dtype: float64
20.23076923076923
1590    23.0
1591    23.0
1592    23.0
1593     5.0
1594    23.0
Name: grocery_proximity, dtype: float64
1590    23.000000
1591    23.000000
1592    23.000000
1593     5.000000
1594    23.000000
1595    23.000000
1596    23.000000
1597    23.000000
1598    23.000000
1599    23.000000
1600    23.000000
1601    23.000000
1602     5.000000
1603    20.230769
Name: grocery_proximity, dtype: float64
11.9
1590    11.9
1591    11.9
1592    11.9
1593    11.9
1594    11.9

Name: low_birthweight, dtype: float64
1590    11.9
1591    11.9
1592    11.9
1593    11.9
1594    11.9
1595    11.9
1596    11.9
1597    11.9
1598    11.9
1599    11.9
1600    11.9
1601    11.9
1602    11.9
1603    11.9
Name: low_birthweight, dtype: float64
35.2
1590    35.2
1591    36.0
1592    36.0
1593    32.0
1594    35.2
Name: public_health_insurance, dtype: float64
1590    35.2
1591    36.0
1592    36.0
1593    32.0
1594    35.2
1595    36.0
1596    36.0
1597    35.2
1598    36.0
1599    36.0
1600    36.0
1601    36.0
1602    32.0
1603    35.2
Name: public_health_insurance, dtype: float64
67.0
1590    67.0
1591    67.0
1592    67.0
1593    67.0
1594    67.0
Name: age_of_death, dtype: float64
1590    67.0
1591    67.0
1592    67.0
1593    67.0
1594    67.0
1595    67.0
1596    67.0
1597    67.0
1598    67.0
1599    67.0
1600    67.0
1601    67.0
1602    67.0
1603    67.0
Name: age_of_death, dtype: float64
24.427272727272726
1590    24.500000
1591    24.400000
1592    24.400000
1593    24.427273
1594    24.500000
Name: impervious_surface, dtype: float64
1590    24.500000
1591    24.400000
1592    24.400000
1593    24.427273
1594    24.500000
1595    24.400000
1596    24.400000
1597    24.500000
1598    24.400000
1599    24.400000
1600    24.400000
1601    24.400000
1602    24.427273
1603    24.427273
Name: impervious_surface, dtype: float64
133.6
1590    138.0
1591    133.6
1592    133.6
1593    127.0
1594    138.0
Name: water_consumption, dtype: float64
1590    138.0
1591    133.6
1592    133.6
1593    127.0
1594    138.0
1595    133.6
1596    133.6
1597    138.0
1598    133.6
1599    133.6
1600    133.6
1601    133.6
1602    127.0
1603    133.6
Name: water_consumption, dtype: float64
72.74000000000001
1590    72.74
1591    73.00
1592    73.00
1593    71.70
1594    72.74
Name: neighborhood_school_attendance, dtype: float64
1590    72.74
1591    73.00
1592    73.00
1593    71.70
1594    72.74
1595    73.00
1596    73.00
1597    72.74
1598    73.00
1599    73.00
1600    73.00
1601    73.00
1602    71.70
1603    72.74
Name: neighborhood_school_attendance, dtype: float64
83.8
1590    83.8
1591    87.0
1592    87.0
1593    71.0
1594    83.8
Name: highschool_graduation_rate, dtype: float64
1590    83.8
1591    87.0
1592    87.0
1593    71.0
1594    83.8
1595    87.0
1596    87.0
1597    83.8
1598    87.0
1599    87.0
1600    87.0
1601    87.0
1602    71.0
1603    83.8
Name: highschool_graduation_rate, dtype: float64
27.548275862068966
1590    27.548276
1591    27.000000
1592    27.000000
1593    29.741379
1594    27.548276
Name: proficiency_elementary_school, dtype: float64
1590    27.548276
1591    27.000000
1592    27.000000
1593    29.741379
1594    27.548276
1595    27.000000
1596    27.000000
1597    27.548276
1598    27.000000
1599    27.000000
1600    27.000000
1601    27.000000
1602    29.741379
1603    27.548276
Name: proficiency_elementary_school, dtype: float64
19.547826086956526
1590    19.547826
1591    19.000000
1592    19.000000
1593    21.739130
1594    19.547826
Name: proficiency_middle_school, dtype: float64
1590    19.547826
1591    19.000000
1592    19.000000
1593    21.739130
1594    19.547826
1595    19.000000
1596    19.000000
1597    19.547826
1598    19.000000
1599    19.000000
1600    19.000000
1601    19.000000
1602    21.739130
1603    19.547826
Name: proficiency_middle_school, dtype: float64
27.03058823529411
1590    27.030588
1591    25.700000
1592    25.700000
1593    32.352941
1594    27.030588
Name: proficiency_high_school, dtype: float64
1590    27.030588
1591    25.700000
1592    25.700000
1593    32.352941
1594    27.030588
1595    25.700000
1596    25.700000
1597    27.030588
1598    25.700000
1599    25.700000
1600    25.700000
1601    25.700000
1602    32.352941
1603    27.030588
Name: proficiency_high_school, dtype: float64
21.150295857988166
1590    21.150296
1591    22.000000
1592    22.000000
1593    17.751479
1594    21.150296
Name: student_absenteeism, dtype: float64
1590    21.150296
1591    22.000000
1592    22.000000
1593    17.751479
1594    21.150296
1595    22.000000
1596    22.000000
1597    21.150296
1598    22.000000
1599    22.000000
1600    22.000000
1601    22.000000
1602    17.751479
1603    21.150296
Name: student_absenteeism, dtype: float64
1239.7692307692307
1590    1839.0
1591     886.0
1592     886.0
1593    1756.0
1594    1839.0
Name: voters_participating, dtype: float64
1590    1839.000000
1591     886.000000
1592     886.000000
1593    1756.000000
1594    1839.000000
1595     886.000000
1596     886.000000
1597    1839.000000
1598     886.000000
1599     886.000000
1600     886.000000
1601     886.000000
1602    1756.000000
1603    1239.769231
Name: voters_participating, dtype: float64
5.0
1590    5.0
1591    5.0
1592    5.0
1593    5.0
1594    5.0
Name: neighborhood_organizations, dtype: float64
1590    5.0
1591    5.0
1592    5.0
1593    5.0
1594    5.0
1595    5.0
1596    5.0
1597    5.0
1598    5.0
1599    5.0
1600    5.0
1601    5.0
1602    5.0
1603    5.0
Name: neighborhood_organizations, dtype: float64
32.84615384615385
1590    57.0
1591    19.0
1592    19.0
1593    52.0
1594    57.0
Name: voter_participation, dtype: float64
1590    57.000000
1591    19.000000
1592    19.000000
1593    52.000000
1594    57.000000
1595    19.000000
1596    19.000000
1597    57.000000
1598    19.000000
1599    19.000000
1600    19.000000
1601    19.000000
1602    52.000000
1603    32.846154
Name: voter_participation, dtype: float64
7.700000000000002
1590    7.7
1591    7.7
1592    7.7
1593    7.7
1594    7.7
Name: vacant_land, dtype: float64
1590    7.7
1591    7.7
1592    7.7
1593    7.7
1594    7.7
1595    7.7
1596    7.7
1597    7.7
1598    7.7
1599    7.7
1600    7.7
1601    7.7
1602    7.7
1603    7.7
Name: vacant_land, dtype: float64
4.0
1590    4.0
1591    4.0
1592    4.0
1593    4.0
1594    4.0
Name: population_density, dtype: float64
1590    4.0
1591    4.0
1592    4.0
1593    4.0
1594    4.0
1595    4.0
1596    4.0
1597    4.0
1598    4.0
1599    4.0
1600    4.0
1601    4.0
1602    4.0
1603    4.0
Name: population_density, dtype: float64
6051.090909090909
1590    6038.000000
1591    6056.000000
1592    6056.000000
1593    6051.090909
1594    6038.000000
Name: population, dtype: float64
1590    6038.000000
1591    6056.000000
1592    6056.000000
1593    6051.090909
1594    6038.000000
1595    6056.000000
1596    6056.000000
1597    6038.000000
1598    6056.000000
1599    6056.000000
1600    6056.000000
1601    6056.000000
1602    6051.090909
1603    6051.090909
Name: population, dtype: float64
87.0
1590    87.0
1591    87.0
1592    87.0
1593    87.0
1594    87.0
Name: transit_ridership, dtype: float64
1590    87.0
1591    87.0
1592    87.0
1593    87.0
1594    87.0
1595    87.0
1596    87.0
1597    87.0
1598    87.0
1599    87.0
1600    87.0
1601    87.0
1602    87.0
1603    87.0
Name: transit_ridership, dtype: float64
1.2899999999999998
1590    1.29
1591    1.29
1592    1.29
1593    1.29
1594    1.29
Name: street_connectivity, dtype: float64
1590    1.29
1591    1.29
1592    1.29
1593    1.29
1594    1.29
1595    1.29
1596    1.29
1597    1.29
1598    1.29
1599    1.29
1600    1.29
1601    1.29
1602    1.29
1603    1.29
Name: street_connectivity, dtype: float64
1.5999999999999999
1590    1.6
1591    1.6
1592    1.6
1593    1.6
1594    1.6
Name: bicycle_friendliness, dtype: float64
1590    1.6
1591    1.6
1592    1.6
1593    1.6
1594    1.6
1595    1.6
1596    1.6
1597    1.6
1598    1.6
1599    1.6
1600    1.6
1601    1.6
1602    1.6
1603    1.6
Name: bicycle_friendliness, dtype: float64
5.742857142857143
1604     1.63
1605     7.00
1606    10.50
1607     1.39
1608     1.63
Name: Acres, dtype: float64
1604     1.63
1605     7.00
1606    10.50
1607     1.39
1608     1.63
1609    11.05
1610     7.00
Name: Acres, dtype: float64
0.0
1604    0.0
1605    0.0
1606    0.0
1607    0.0
1608    0.0
Name: births_to_adolescents, dtype: float64
1604    0.0
1605    0.0
1606    0.0
1607    0.0
1608    0.0
1609    0.0
1610    0.0
Name: births_to_adolescents, dtype: float64
641.8
1604    964.0
1605    641.8
1606    393.0
1607    444.0
1608    964.0
Name: grocery_proximate_units, dtype: float64
1604    964.0
1605    641.8
1606    393.0
1607    444.0
1608    964.0
1609    444.0
1610    641.8
Name: grocery_proximate_units, dtype: float64
69.8
1604    69.8
1605    69.8
1606    69.8
1607    69.8
1608    69.8
Name: prenatal_care, dtype: float64
1604    69.8
1605    69.8
1606    69.8
1607    69.8
1608    69.8
1609    69.8
1610    69.8
Name: prenatal_care, dtype: float64
14.2
1604    22.0
1605    14.2
1606     9.0
1607     9.0
1608    22.0
Name: grocery_proximity, dtype: float64
1604    22.0
1605    14.2
1606     9.0
1607     9.0
1608    22.0
1609     9.0
1610    14.2
Name: grocery_proximity, dtype: float64
5.0
1604    5.0
1605    5.0
1606    5.0
1607    5.0
1608    5.0
Name: low_birthweight, dtype: float64
1604    5.0
1605    5.0
1606    5.0
1607    5.0
1608    5.0
1609    5.0
1610    5.0
Name: low_birthweight, dtype: float64
5.0
1604    5.0
1605    5.0
1606    5.0
1607    5.0
1608    5.0
Name: public_health_insurance, dtype: float64
1604    5.0
1605    5.0
1606    5.0
1607    5.0
1608    5.0
1609    5.0
1610    5.0
Name: public_health_insurance, dtype: float64
76.0
1604    76.0
1605    76.0
1606    76.0
1607    76.0
1608    76.0
Name: age_of_death, dtype: float64
1604    76.0
1605    76.0
1606    76.0
1607    76.0
1608    76.0
1609    76.0
1610    76.0
Name: age_of_death, dtype: float64
16.380000000000003
1604    16.40
1605    16.38
1606    16.30
1607    16.40
1608    16.40
Name: impervious_surface, dtype: float64
1604    16.40
1605    16.38
1606    16.30
1607    16.40
1608    16.40
1609    16.40
1610    16.38
Name: impervious_surface, dtype: float64
158.66666666666666
1604    163.000000
1605    158.666667
1606    150.000000
1607    158.666667
1608    163.000000
Name: water_consumption, dtype: float64
1604    163.000000
1605    158.666667
1606    150.000000
1607    158.666667
1608    163.000000
1609    158.666667
1610    158.666667
Name: water_consumption, dtype: float64
87.9
1604    87.8
1605    87.9
1606    87.9
1607    88.0
1608    87.8
Name: neighborhood_school_attendance, dtype: float64
1604    87.8
1605    87.9
1606    87.9
1607    88.0
1608    87.8
1609    88.0
1610    87.9
Name: neighborhood_school_attendance, dtype: float64
99.0
1604    100.0
1605     99.0
1606     99.0
1607     98.0
1608    100.0
Name: highschool_graduation_rate, dtype: float64
1604    100.0
1605     99.0
1606     99.0
1607     98.0
1608    100.0
1609     98.0
1610     99.0
Name: highschool_graduation_rate, dtype: float64
62.739999999999995

1604    60.88
1605    62.74
1606    62.74
1607    64.60
1608    60.88
Name: proficiency_elementary_school, dtype: float64
1604    60.88
1605    62.74
1606    62.74
1607    64.60
1608    60.88
1609    64.60
1610    62.74
Name: proficiency_elementary_school, dtype: float64
58.5
1604    57.6
1605    58.5
1606    58.5
1607    59.4
1608    57.6
Name: proficiency_middle_school, dtype: float64
1604    57.6
1605    58.5
1606    58.5
1607    59.4
1608    57.6
1609    59.4
1610    58.5
Name: proficiency_middle_school, dtype: float64
62.8
1604    74.6
1605    62.8
1606    62.8
1607    51.0
1608    74.6
Name: proficiency_high_school, dtype: float64
1604    74.6
1605    62.8
1606    62.8
1607    51.0
1608    74.6
1609    51.0
1610    62.8
Name: proficiency_high_school, dtype: float64
6.5
1604    6.0
1605    6.5
1606    6.5
1607    7.0
1608    6.0
Name: student_absenteeism, dtype: float64
1604    6.0
1605    6.5
1606    6.5
1607    7.0
1608    6.0
1609    7.0
1610    6.5
Name: student_absenteeism, dtype: float64
4145.2
1604    6031.0
1605    4145.2
1606    4824.0
1607    1920.0
1608    6031.0
Name: voters_participating, dtype: float64
1604    6031.0
1605    4145.2
1606    4824.0
1607    1920.0
1608    6031.0
1609    1920.0
1610    4145.2
Name: voters_participating, dtype: float64
nan
1604   -1.0
1605   -1.0
1606   -1.0
1607   -1.0
1608   -1.0
Name: neighborhood_organizations, dtype: float64
1604   -1.0
1605   -1.0
1606   -1.0
1607   -1.0
1608   -1.0
1609   -1.0
1610   -1.0
Name: neighborhood_organizations, dtype: float64
54.8
1604    81.0
1605    54.8
1606    68.0
1607    22.0
1608    81.0
Name: voter_participation, dtype: float64
1604    81.0
1605    54.8
1606    68.0
1607    22.0
1608    81.0
1609    22.0
1610    54.8
Name: voter_participation, dtype: float64
5.5
1604    5.5
1605    5.5
1606    5.5
1607    5.5
1608    5.5
Name: vacant_land, dtype: float64
1604    5.5
1605    5.5
1606    5.5
1607    5.5
1608    5.5
1609    5.5
1610    5.5
Name: vacant_land, dtype: float64
6.0
1604    6.0
1605    6.0
1606    6.0
1607    6.0
1608    6.0
Name: population_density, dtype: float64
1604    6.0
1605    6.0
1606    6.0
1607    6.0
1608    6.0
1609    6.0
1610    6.0
Name: population_density, dtype: float64
11893.6
1604    11854.0
1605    11893.6
1606    11922.0
1607    11919.0
1608    11854.0
Name: population, dtype: float64
1604    11854.0
1605    11893.6
1606    11922.0
1607    11919.0
1608    11854.0
1609    11919.0
1610    11893.6
Name: population, dtype: float64
nan
1604   -1.0
1605   -1.0
1606   -1.0
1607   -1.0
1608   -1.0
Name: transit_ridership, dtype: float64
1604   -1.0
1605   -1.0
1606   -1.0
1607   -1.0
1608   -1.0
1609   -1.0
1610   -1.0
Name: transit_ridership, dtype: float64
1.11
1604    1.11
1605    1.11
1606    1.11
1607    1.11
1608    1.11
Name: street_connectivity, dtype: float64
1604    1.11
1605    1.11
1606    1.11
1607    1.11
1608    1.11
1609    1.11
1610    1.11
Name: street_connectivity, dtype: float64
1.4600000000000002
1604    1.40
1605    1.46
1606    1.50
1607    1.50
1608    1.40
Name: bicycle_friendliness, dtype: float64
1604    1.40
1605    1.46
1606    1.50
1607    1.50
1608    1.40
1609    1.50
1610    1.46
Name: bicycle_friendliness, dtype: float64
11.024000000000001
1611    17.17
1612    17.17
1613    17.17
1614     2.01
1615     1.60
Name: Acres, dtype: float64
1611    17.17
1612    17.17
1613    17.17
1614     2.01
1615     1.60
Name: Acres, dtype: float64
0.0
1611    0.0
1612    0.0
1613    0.0
1614    0.0
1615    0.0
Name: births_to_adolescents, dtype: float64
1611    0.0
1612    0.0
1613    0.0
1614    0.0
1615    0.0
Name: births_to_adolescents, dtype: float64
318.0
1611    318.0
1612    318.0
1613    318.0
1614    318.0
1615    318.0
Name: grocery_proximate_units, dtype: float64
1611    318.0
1612    318.0
1613    318.0
1614    318.0
1615    318.0
Name: grocery_proximate_units, dtype: float64
73.7
1611    73.7
1612    73.7
1613    73.7
1614    73.7
1615    73.7
Name: prenatal_care, dtype: float64
1611    73.7
1612    73.7
1613    73.7
1614    73.7
1615    73.7
Name: prenatal_care, dtype: float64
29.0
1611    29.0
1612    29.0
1613    29.0
1614    29.0
1615    29.0
Name: grocery_proximity, dtype: float64
1611    29.0
1612    29.0
1613    29.0
1614    29.0
1615    29.0
Name: grocery_proximity, dtype: float64
7.0
1611    7.0
1612    7.0
1613    7.0
1614    7.0
1615    7.0
Name: low_birthweight, dtype: float64
1611    7.0
1612    7.0
1613    7.0
1614    7.0
1615    7.0
Name: low_birthweight, dtype: float64
nan
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: public_health_insurance, dtype: float64
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: public_health_insurance, dtype: float64
77.0
1611    77.0
1612    77.0
1613    77.0
1614    77.0
1615    77.0
Name: age_of_death, dtype: float64
1611    77.0
1612    77.0
1613    77.0
1614    77.0
1615    77.0
Name: age_of_death, dtype: float64
20.8
1611    20.8
1612    20.8
1613    20.8
1614    20.8
1615    20.8
Name: impervious_surface, dtype: float64
1611    20.8
1612    20.8
1613    20.8
1614    20.8
1615    20.8
Name: impervious_surface, dtype: float64
174.0
1611    174.0
1612    174.0
1613    174.0
1614    174.0
1615    174.0
Name: water_consumption, dtype: float64
1611    174.0
1612    174.0
1613    174.0
1614    174.0
1615    174.0
Name: water_consumption, dtype: float64
75.9
1611    75.9
1612    75.9
1613    75.9
1614    75.9
1615    75.9
Name: neighborhood_school_attendance, dtype: float64
1611    75.9
1612    75.9
1613    75.9
1614    75.9
1615    75.9
Name: neighborhood_school_attendance, dtype: float64
91.0
1611    91.0
1612    91.0
1613    91.0
1614    91.0
1615    91.0
Name: highschool_graduation_rate, dtype: float64
1611    91.0
1612    91.0
1613    91.0
1614    91.0
1615    91.0
Name: highschool_graduation_rate, dtype: float64
76.32
1611    76.32
1612    76.32
1613    76.32
1614    76.32
1615    76.32
Name: proficiency_elementary_school, dtype: float64
1611    76.32
1612    76.32
1613    76.32
1614    76.32
1615    76.32
Name: proficiency_elementary_school, dtype: float64
85.2
1611    85.2
1612    85.2
1613    85.2
1614    85.2
1615    85.2
Name: proficiency_middle_school, dtype: float64
1611    85.2
1612    85.2
1613    85.2
1614    85.2
1615    85.2
Name: proficiency_middle_school, dtype: float64
nan
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: proficiency_high_school, dtype: float64
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: proficiency_high_school, dtype: float64
4.0
1611    4.0
1612    4.0
1613    4.0
1614    4.0
1615    4.0
Name: student_absenteeism, dtype: float64
1611    4.0
1612    4.0
1613    4.0
1614    4.0
1615    4.0
Name: student_absenteeism, dtype: float64
1654.0
1611    1654.0
1612    1654.0
1613    1654.0
1614    1654.0
1615    1654.0
Name: voters_participating, dtype: float64
1611    1654.0
1612    1654.0
1613    1654.0
1614    1654.0
1615    1654.0
Name: voters_participating, dtype: float64
nan
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: neighborhood_organizations, dtype: float64
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: neighborhood_organizations, dtype: float64
86.0
1611    86.0
1612    86.0
1613    86.0
1614    86.0
1615    86.0
Name: voter_participation, dtype: float64
1611    86.0
1612    86.0
1613    86.0
1614    86.0
1615    86.0
Name: voter_participation, dtype: float64
2.3
1611    2.3
1612    2.3
1613    2.3
1614    2.3
1615    2.3
Name: vacant_land, dtype: float64
1611    2.3
1612    2.3
1613    2.3
1614    2.3
1615    2.3
Name: vacant_land, dtype: float64
3.0
1611    3.0
1612    3.0
1613    3.0
1614    3.0
1615    3.0
Name: population_density, dtype: float64
1611    3.0
1612    3.0
1613    3.0
1614    3.0
1615    3.0
Name: population_density, dtype: float64
2549.0
1611    2549.0
1612    2549.0
1613    2549.0
1614    2549.0
1615    2549.0
Name: population, dtype: float64
1611    2549.0
1612    2549.0
1613    2549.0
1614    2549.0
1615    2549.0
Name: population, dtype: float64
nan
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: transit_ridership, dtype: float64
1611   -1.0
1612   -1.0
1613   -1.0
1614   -1.0
1615   -1.0
Name: transit_ridership, dtype: float64
1.23
1611    1.23
1612    1.23
1613    1.23
1614    1.23
1615    1.23
Name: street_connectivity, dtype: float64
1611    1.23
1612    1.23
1613    1.23
1614    1.23
1615    1.23
Name: street_connectivity, dtype: float64
1.6
1611    1.6
1612    1.6
1613    1.6
1614    1.6
1615    1.6
Name: bicycle_friendliness, dtype: float64
1611    1.6
1612    1.6
1613    1.6
1614    1.6
1615    1.6
Name: bicycle_friendliness, dtype: float64
9.09
1616    9.09
1617    9.09
Name: Acres, dtype: float64
1616    9.09
1617    9.09
Name: Acres, dtype: float64
0.0
1616    0.0
1617    0.0
Name: births_to_adolescents, dtype: float64
1616    0.0
1617    0.0
Name: births_to_adolescents, dtype: float64
279.0
1616    279.0
1617    279.0
Name: grocery_proximate_units, dtype: float64
1616    279.0
1617    279.0
Name: grocery_proximate_units, dtype: float64
90.0
1616    90.0
1617    90.0
Name: prenatal_care, dtype: float64
1616    90.0
1617    90.0
Name: prenatal_care, dtype: float64
32.0
1616    32.0
1617    32.0
Name: grocery_proximity, dtype: float64
1616    32.0
1617    32.0
Name: grocery_proximity, dtype: float64
6.7
1616    6.7
1617    6.7
Name: low_birthweight, dtype: float64
1616    6.7
1617    6.7
Name: low_birthweight, dtype: float64
1.0
1616    1.0
1617    1.0
Name: public_health_insurance, dtype: float64
1616    1.0
1617    1.0
Name: public_health_insurance, dtype: float64
82.0
1616    82.0
1617    82.0
Name: age_of_death, dtype: float64
1616    82.0
1617    82.0
Name: age_of_death, dtype: float64
nan
1616   -1.0
1617   -1.0
Name: impervious_surface, dtype: float64
1616   -1.0
1617   -1.0
Name: impervious_surface, dtype: float64
265.0
1616    265.0
1617    265.0
Name: water_consumption, dtype: float64
1616    265.0
1617    265.0
Name: water_consumption, dtype: float64
89.18
1616    89.18
1617    89.18
Name: neighborhood_school_attendance, dtype: float64
1616    89.18
1617    89.18
Name: neighborhood_school_attendance, dtype: float64
100.0
1616    100.0
1617    100.0
Name: highschool_graduation_rate, dtype: float64
1616    100.0
1617    100.0
Name: highschool_graduation_rate, dtype: float64
93.87755102040815
1616    93.877551
1617    93.877551
Name: proficiency_elementary_school, dtype: float64
1616    93.877551
1617    93.877551
Name: proficiency_elementary_school, dtype: float64
96.0
1616    96.0
1617    96.0
Name: proficiency_middle_school, dtype: float64
1616    96.0
1617    96.0
Name: proficiency_middle_school, dtype: float64
100.0
1616    100.0
1617    100.0
Name: proficiency_high_school, dtype: float64
1616    100.0
1617    100.0
Name: proficiency_high_school, dtype: float64
3.015075376884422
1616    3.015075
1617    3.015075
Name: student_absenteeism, dtype: float64
1616    3.015075
1617    3.015075
Name: student_absenteeism, dtype: float64
1197.0
1616    1197.0
1617    1197.0
Name: voters_participating, dtype: float64
1616    1197.0
1617    1197.0
Name: voters_participating, dtype: float64
3.0
1616    3.0
1617    3.0
Name: neighborhood_organizations, dtype: float64
1616    3.0
1617    3.0
Name: neighborhood_organizations, dtype: float64
67.0
1616    67.0
1617    67.0
Name: voter_participation, dtype: float64
1616    67.0
1617    67.0
Name: voter_participation, dtype: float64
nan
1616   -1.0
1617   -1.0
Name: vacant_land, dtype: float64
1616   -1.0
1617   -1.0
Name: vacant_land, dtype: float64
nan
1616   -1.0
1617   -1.0
Name: population_density, dtype: float64
1616   -1.0
1617   -1.0
Name: population_density, dtype: float64
nan
1616   -1.0
1617   -1.0

Name: population, dtype: float64
1616   -1.0
1617   -1.0
Name: population, dtype: float64
4.0
1616    4.0
1617    4.0
Name: transit_ridership, dtype: float64
1616    4.0
1617    4.0
Name: transit_ridership, dtype: float64
nan
1616   -1.0
1617   -1.0
Name: street_connectivity, dtype: float64
1616   -1.0
1617   -1.0
Name: street_connectivity, dtype: float64
nan
1616   -1.0
1617   -1.0
Name: bicycle_friendliness, dtype: float64
1616   -1.0
1617   -1.0
Name: bicycle_friendliness, dtype: float64
1.9534210526315787
1618    4.54
1619    0.20
1620    0.88
1621    4.54
1622    0.63
Name: Acres, dtype: float64
1618    4.540
1619    0.200
1620    0.880
1621    4.540
1622    0.630
1623    2.800
1624    4.540
1625    4.540
1626    1.020
1627    0.390
1628    4.540
1629    1.040
1630    1.040
1631    0.497
1632    0.350
1633    0.250
1634    0.178
1635    0.600
1636    4.540
Name: Acres, dtype: float64
0.6666666666666666
1618    1.200000
1619    0.000000
1620    0.666667
1621    1.200000
1622    0.666667
Name: births_to_adolescents, dtype: float64
1618    1.200000
1619    0.000000
1620    0.666667
1621    1.200000
1622    0.666667
1623    0.666667
1624    0.666667
1625    1.200000
1626    0.000000
1627    1.200000
1628    0.666667
1629    0.666667
1630    0.666667
1631    1.200000
1632    0.000000
1633    0.000000
1634    0.666667
1635    0.666667
1636    0.666667
Name: births_to_adolescents, dtype: float64
948.7777777777778
1618    833.0
1619    886.0
1620    863.0
1621    833.0
1622    863.0
Name: grocery_proximate_units, dtype: float64
1618     833.000000
1619     886.000000
1620     863.000000
1621     833.000000
1622     863.000000
1623     948.777778
1624    1130.000000
1625     833.000000
1626     886.000000
1627     833.000000
1628    1130.000000
1629    1130.000000
1630    1130.000000
1631     833.000000
1632     886.000000
1633     886.000000
1634    1130.000000
1635     863.000000
1636    1130.000000
Name: grocery_proximate_units, dtype: float64
86.01111111111112
1618    90.100000
1619    80.900000
1620    86.011111
1621    90.100000
1622    86.011111
Name: prenatal_care, dtype: float64
1618    90.100000
1619    80.900000
1620    86.011111
1621    90.100000
1622    86.011111
1623    86.011111
1624    86.011111
1625    90.100000
1626    80.900000
1627    90.100000
1628    86.011111
1629    86.011111
1630    86.011111
1631    90.100000
1632    80.900000
1633    80.900000
1634    86.011111
1635    86.011111
1636    86.011111
Name: prenatal_care, dtype: float64
42.27777777777778
1618    39.0
1619    41.0
1620    40.0
1621    39.0
1622    40.0
Name: grocery_proximity, dtype: float64
1618    39.000000
1619    41.000000
1620    40.000000
1621    39.000000
1622    40.000000
1623    42.277778
1624    47.000000
1625    39.000000
1626    41.000000
1627    39.000000
1628    47.000000
1629    47.000000
1630    47.000000
1631    39.000000
1632    41.000000
1633    41.000000
1634    47.000000
1635    40.000000
1636    47.000000
Name: grocery_proximity, dtype: float64
10.166666666666666
1618     8.700000
1619    12.000000
1620    10.166667
1621     8.700000
1622    10.166667
Name: low_birthweight, dtype: float64
1618     8.700000
1619    12.000000
1620    10.166667
1621     8.700000
1622    10.166667
1623    10.166667
1624    10.166667
1625     8.700000
1626    12.000000
1627     8.700000
1628    10.166667
1629    10.166667
1630    10.166667
1631     8.700000
1632    12.000000
1633    12.000000
1634    10.166667
1635    10.166667
1636    10.166667
Name: low_birthweight, dtype: float64
4.0
1618    4.0
1619    4.0
1620    4.0
1621    4.0
1622    4.0
Name: public_health_insurance, dtype: float64
1618    4.0
1619    4.0
1620    4.0
1621    4.0
1622    4.0
1623    4.0
1624    4.0
1625    4.0
1626    4.0
1627    4.0
1628    4.0
1629    4.0
1630    4.0
1631    4.0
1632    4.0
1633    4.0
1634    4.0
1635    4.0
1636    4.0
Name: public_health_insurance, dtype: float64
70.33333333333333
1618    69.000000
1619    72.000000
1620    70.333333
1621    69.000000
1622    70.333333
Name: age_of_death, dtype: float64
1618    69.000000
1619    72.000000
1620    70.333333
1621    69.000000
1622    70.333333
1623    70.333333
1624    70.333333
1625    69.000000
1626    72.000000
1627    69.000000
1628    70.333333
1629    70.333333
1630    70.333333
1631    69.000000
1632    72.000000
1633    72.000000
1634    70.333333
1635    70.333333
1636    70.333333
Name: age_of_death, dtype: float64
19.692307692307697
1618    19.692308
1619    19.300000
1620    19.000000
1621    19.692308
1622    19.000000
Name: impervious_surface, dtype: float64
1618    19.692308
1619    19.300000
1620    19.000000
1621    19.692308
1622    19.000000
1623    19.692308
1624    20.300000
1625    19.692308
1626    19.300000
1627    19.692308
1628    20.300000
1629    20.300000
1630    20.300000
1631    19.692308
1632    19.300000
1633    19.300000
1634    20.300000
1635    19.000000
1636    20.300000
Name: impervious_surface, dtype: float64
125.86666666666666
1618    122.000000
1619    132.000000
1620    125.866667
1621    122.000000
1622    125.866667
Name: water_consumption, dtype: float64
1618    122.000000
1619    132.000000
1620    125.866667
1621    122.000000
1622    125.866667
1623    125.866667
1624    125.000000
1625    122.000000
1626    132.000000
1627    122.000000
1628    125.000000
1629    125.000000
1630    125.000000
1631    122.000000
1632    132.000000
1633    132.000000
1634    125.000000
1635    125.866667
1636    125.000000
Name: water_consumption, dtype: float64
24.003333333333334
1618    22.31
1619    26.70
1620    23.23
1621    22.31
1622    23.23
Name: neighborhood_school_attendance, dtype: float64
1618    22.310000
1619    26.700000
1620    23.230000
1621    22.310000
1622    23.230000
1623    24.003333
1624    24.003333
1625    22.310000
1626    26.700000
1627    22.310000
1628    24.003333
1629    24.003333
1630    24.003333
1631    22.310000
1632    26.700000
1633    26.700000
1634    24.003333
1635    23.230000
1636    24.003333
Name: neighborhood_school_attendance, dtype: float64
91.66666666666667
1618     88.0
1619     90.0
1620    100.0
1621     88.0
1622    100.0
Name: highschool_graduation_rate, dtype: float64
1618     88.000000
1619     90.000000
1620    100.000000
1621     88.000000
1622    100.000000
1623     91.666667
1624     91.666667
1625     88.000000
1626     90.000000
1627     88.000000
1628     91.666667
1629     91.666667
1630     91.666667
1631     88.000000
1632     90.000000
1633     90.000000
1634     91.666667
1635    100.000000
1636     91.666667
Name: highschool_graduation_rate, dtype: float64
73.46411255411257
1618    70.129870
1619    79.730000
1620    70.666667
1621    70.129870
1622    70.666667
Name: proficiency_elementary_school, dtype: float64
1618    70.129870
1619    79.730000
1620    70.666667
1621    70.129870
1622    70.666667
1623    73.464113
1624    73.464113
1625    70.129870
1626    79.730000
1627    70.129870
1628    73.464113
1629    73.464113
1630    73.464113
1631    70.129870
1632    79.730000
1633    79.730000
1634    73.464113
1635    70.666667
1636    73.464113
Name: proficiency_elementary_school, dtype: float64
80.55496913580247
1618    75.925926
1619    83.600000
1620    84.210000
1621    75.925926
1622    84.210000
Name: proficiency_middle_school, dtype: float64
1618    75.925926
1619    83.600000
1620    84.210000
1621    75.925926
1622    84.210000
1623    80.554969
1624    80.554969
1625    75.925926
1626    83.600000
1627    75.925926
1628    80.554969
1629    80.554969
1630    80.554969
1631    75.925926
1632    83.600000
1633    83.600000
1634    80.554969
1635    84.210000
1636    80.554969
Name: proficiency_middle_school, dtype: float64
57.81416666666667
1618    60.00
1619    45.50
1620    70.59
1621    60.00
1622    70.59
Name: proficiency_high_school, dtype: float64
1618    60.000000
1619    45.500000
1620    70.590000
1621    60.000000
1622    70.590000
1623    57.814167
1624    57.814167
1625    60.000000
1626    45.500000
1627    60.000000
1628    57.814167
1629    57.814167
1630    57.814167
1631    60.000000
1632    45.500000
1633    45.500000
1634    57.814167
1635    70.590000
1636    57.814167
Name: proficiency_high_school, dtype: float64
3.2191966838193244
1618    3.409091
1619    2.000000
1620    4.528302
1621    3.409091
1622    4.528302
Name: student_absenteeism, dtype: float64
1618    3.409091
1619    2.000000
1620    4.528302
1621    3.409091
1622    4.528302
1623    3.219197
1624    3.219197
1625    3.409091
1626    2.000000
1627    3.409091
1628    3.219197
1629    3.219197
1630    3.219197
1631    3.409091
1632    2.000000
1633    2.000000
1634    3.219197
1635    4.528302
1636    3.219197
Name: student_absenteeism, dtype: float64
2176.777777777778
1618    1759.0
1619    2853.0
1620    1037.0
1621    1759.0
1622    1037.0
Name: voters_participating, dtype: float64
1618    1759.000000
1619    2853.000000
1620    1037.000000
1621    1759.000000
1622    1037.000000
1623    2176.777778
1624    2644.000000
1625    1759.000000
1626    2853.000000
1627    1759.000000
1628    2644.000000
1629    2644.000000
1630    2644.000000
1631    1759.000000
1632    2853.000000
1633    2853.000000
1634    2644.000000
1635    1037.000000
1636    2644.000000
Name: voters_participating, dtype: float64
2.75
1618    2.00
1619    2.75
1620    4.00
1621    2.00
1622    4.00
Name: neighborhood_organizations, dtype: float64
1618    2.00
1619    2.75
1620    4.00
1621    2.00
1622    4.00
1623    2.75
1624    2.75
1625    2.00
1626    2.75
1627    2.00
1628    2.75
1629    2.75
1630    2.75
1631    2.00
1632    2.75
1633    2.75
1634    2.75
1635    4.00
1636    2.75
Name: neighborhood_organizations, dtype: float64
68.33333333333333
1618    65.0
1619    86.0
1620    37.0
1621    65.0
1622    37.0
Name: voter_participation, dtype: float64
1618    65.000000
1619    86.000000
1620    37.000000
1621    65.000000
1622    37.000000
1623    68.333333
1624    75.000000
1625    65.000000
1626    86.000000
1627    65.000000
1628    75.000000
1629    75.000000
1630    75.000000
1631    65.000000
1632    86.000000
1633    86.000000
1634    75.000000
1635    37.000000
1636    75.000000
Name: voter_participation, dtype: float64
3.600000000000001
1618    3.6
1619    3.6
1620    3.6
1621    3.6
1622    3.6
Name: vacant_land, dtype: float64
1618    3.6
1619    3.6
1620    3.6
1621    3.6
1622    3.6
1623    3.6
1624    3.6
1625    3.6
1626    3.6
1627    3.6
1628    3.6
1629    3.6
1630    3.6
1631    3.6
1632    3.6
1633    3.6
1634    3.6
1635    3.6
1636    3.6
Name: vacant_land, dtype: float64
5.0
1618    5.0
1619    5.0
1620    5.0
1621    5.0
1622    5.0
Name: population_density, dtype: float64
1618    5.0
1619    5.0
1620    5.0
1621    5.0
1622    5.0
1623    5.0
1624    5.0
1625    5.0
1626    5.0
1627    5.0
1628    5.0
1629    5.0
1630    5.0
1631    5.0
1632    5.0
1633    5.0
1634    5.0
1635    5.0
1636    5.0
Name: population_density, dtype: float64
4610.461538461538
1618    4610.461538
1619    4397.000000
1620    4350.000000
1621    4610.461538
1622    4350.000000
Name: population, dtype: float64
1618    4610.461538
1619    4397.000000
1620    4350.000000
1621    4610.461538
1622    4350.000000
1623    4610.461538
1624    4883.000000
1625    4610.461538
1626    4397.000000
1627    4610.461538
1628    4883.000000
1629    4883.000000
1630    4883.000000
1631    4610.461538
1632    4397.000000
1633    4397.000000
1634    4883.000000
1635    4350.000000
1636    4883.000000
Name: population, dtype: float64
51.0
1618    51.0
1619    51.0
1620    51.0
1621    51.0
1622    51.0
Name: transit_ridership, dtype: float64
1618    51.0
1619    51.0
1620    51.0
1621    51.0
1622    51.0
1623    51.0
1624    51.0
1625    51.0
1626    51.0
1627    51.0
1628    51.0
1629    51.0
1630    51.0
1631    51.0
1632    51.0
1633    51.0
1634    51.0
1635    51.0
1636    51.0
Name: transit_ridership, dtype: float64
1.34
1618    1.34
1619    1.34
1620    1.34
1621    1.34
1622    1.34
Name: street_connectivity, dtype: float64
1618    1.34
1619    1.34
1620    1.34
1621    1.34
1622    1.34
1623    1.34
1624    1.34
1625    1.34
1626    1.34
1627    1.34
1628    1.34
1629    1.34
1630    1.34
1631    1.34
1632    1.34
1633    1.34
1634    1.34
1635    1.34
1636    1.34
Name: street_connectivity, dtype: float64
1.8999999999999997
1618    1.9
1619    1.9
1620    1.9
1621    1.9
1622    1.9
Name: bicycle_friendliness, dtype: float64
1618    1.9
1619    1.9
1620    1.9
1621    1.9
1622    1.9
1623    1.9
1624    1.9
1625    1.9
1626    1.9
1627    1.9
1628    1.9
1629    1.9
1630    1.9
1631    1.9
1632    1.9
1633    1.9
1634    1.9
1635    1.9
1636    1.9
Name: bicycle_friendliness, dtype: float64
10.01
1637    10.01
Name: Acres, dtype: float64
1637    10.01
Name: Acres, dtype: float64
1.2
1637    1.2
Name: births_to_adolescents, dtype: float64
1637    1.2
Name: births_to_adolescents, dtype: float64
135.0
1637    135.0
Name: grocery_proximate_units, dtype: float64
1637    135.0
Name: grocery_proximate_units, dtype: float64
83.3
1637    83.3
Name: prenatal_care, dtype: float64
1637    83.3
Name: prenatal_care, dtype: float64
7.0
1637    7.0
Name: grocery_proximity, dtype: float64
1637    7.0
Name: grocery_proximity, dtype: float64
8.3
1637    8.3
Name: low_birthweight, dtype: float64
1637    8.3
Name: low_birthweight, dtype: float64
1.0
1637    1.0
Name: public_health_insurance, dtype: float64
1637    1.0
Name: public_health_insurance, dtype: float64
74.0
1637    74.0
Name: age_of_death, dtype: float64
1637    74.0
Name: age_of_death, dtype: float64
nan
1637   -1.0
Name: impervious_surface, dtype: float64
1637   -1.0
Name: impervious_surface, dtype: float64
232.0
1637    232.0
Name: water_consumption, dtype: float64
1637    232.0
Name: water_consumption, dtype: float64
92.81
1637    92.81
Name: neighborhood_school_attendance, dtype: float64
1637    92.81
Name: neighborhood_school_attendance, dtype: float64
100.0
1637    100.0
Name: highschool_graduation_rate, dtype: float64
1637    100.0
Name: highschool_graduation_rate, dtype: float64
92.98245614035088
1637    92.982456
Name: proficiency_elementary_school, dtype: float64
1637    92.982456
Name: proficiency_elementary_school, dtype: float64
90.04739336492891
1637    90.047393
Name: proficiency_middle_school, dtype: float64
1637    90.047393
Name: proficiency_middle_school, dtype: float64
93.42105263157896
1637    93.421053
Name: proficiency_high_school, dtype: float64
1637    93.421053
Name: proficiency_high_school, dtype: float64
4.1530054644808745
1637    4.153005
Name: student_absenteeism, dtype: float64
1637    4.153005
Name: student_absenteeism, dtype: float64
2123.0

1637    2123.0
Name: voters_participating, dtype: float64
1637    2123.0
Name: voters_participating, dtype: float64
3.0
1637    3.0
Name: neighborhood_organizations, dtype: float64
1637    3.0
Name: neighborhood_organizations, dtype: float64
60.0
1637    60.0
Name: voter_participation, dtype: float64
1637    60.0
Name: voter_participation, dtype: float64
nan
1637   -1.0
Name: vacant_land, dtype: float64
1637   -1.0
Name: vacant_land, dtype: float64
nan
1637   -1.0
Name: population_density, dtype: float64
1637   -1.0
Name: population_density, dtype: float64
nan
1637   -1.0
Name: population, dtype: float64
1637   -1.0
Name: population, dtype: float64
nan
1637   -1.0
Name: transit_ridership, dtype: float64
1637   -1.0
Name: transit_ridership, dtype: float64
nan
1637   -1.0
Name: street_connectivity, dtype: float64
1637   -1.0
Name: street_connectivity, dtype: float64
nan
1637   -1.0
Name: bicycle_friendliness, dtype: float64
1637   -1.0
Name: bicycle_friendliness, dtype: float64
1.69
1638    1.69
1639    0.28
1640    1.69
1641    1.74
1642    1.69
Name: Acres, dtype: float64
1638    1.69
1639    0.28
1640    1.69
1641    1.74
1642    1.69
1643    4.69
1644    1.69
1645    1.69
1646    1.69
1647    1.60
1648    1.60
1649    0.18
1650    1.74
1651    1.69
1652    1.69
Name: Acres, dtype: float64
1.0
1638    1.0
1639    1.0
1640    1.0
1641    1.0
1642    1.0
Name: births_to_adolescents, dtype: float64
1638    1.0
1639    1.0
1640    1.0
1641    1.0
1642    1.0
1643    1.0
1644    1.0
1645    1.0
1646    1.0
1647    1.0
1648    1.0
1649    1.0
1650    1.0
1651    1.0
1652    1.0
Name: births_to_adolescents, dtype: float64
641.0
1638    607.0
1639    709.0
1640    607.0
1641    641.0
1642    607.0
Name: grocery_proximate_units, dtype: float64
1638    607.0
1639    709.0
1640    607.0
1641    641.0
1642    607.0
1643    709.0
1644    607.0
1645    607.0
1646    607.0
1647    709.0
1648    709.0
1649    641.0
1650    641.0
1651    607.0
1652    607.0
Name: grocery_proximate_units, dtype: float64
77.8
1638    77.8
1639    77.8
1640    77.8
1641    77.8
1642    77.8
Name: prenatal_care, dtype: float64
1638    77.8
1639    77.8
1640    77.8
1641    77.8
1642    77.8
1643    77.8
1644    77.8
1645    77.8
1646    77.8
1647    77.8
1648    77.8
1649    77.8
1650    77.8
1651    77.8
1652    77.8
Name: prenatal_care, dtype: float64
37.0
1638    35.0
1639    41.0
1640    35.0
1641    37.0
1642    35.0
Name: grocery_proximity, dtype: float64
1638    35.0
1639    41.0
1640    35.0
1641    37.0
1642    35.0
1643    41.0
1644    35.0
1645    35.0
1646    35.0
1647    41.0
1648    41.0
1649    37.0
1650    37.0
1651    35.0
1652    35.0
Name: grocery_proximity, dtype: float64
3.0
1638    3.0
1639    3.0
1640    3.0
1641    3.0
1642    3.0
Name: low_birthweight, dtype: float64
1638    3.0
1639    3.0
1640    3.0
1641    3.0
1642    3.0
1643    3.0
1644    3.0
1645    3.0
1646    3.0
1647    3.0
1648    3.0
1649    3.0
1650    3.0
1651    3.0
1652    3.0
Name: low_birthweight, dtype: float64
9.0
1638     8.0
1639    11.0
1640     8.0
1641     9.0
1642     8.0
Name: public_health_insurance, dtype: float64
1638     8.0
1639    11.0
1640     8.0
1641     9.0
1642     8.0
1643    11.0
1644     8.0
1645     8.0
1646     8.0
1647    11.0
1648    11.0
1649     9.0
1650     9.0
1651     8.0
1652     8.0
Name: public_health_insurance, dtype: float64
72.0
1638    72.0
1639    72.0
1640    72.0
1641    72.0
1642    72.0
Name: age_of_death, dtype: float64
1638    72.0
1639    72.0
1640    72.0
1641    72.0
1642    72.0
1643    72.0
1644    72.0
1645    72.0
1646    72.0
1647    72.0
1648    72.0
1649    72.0
1650    72.0
1651    72.0
1652    72.0
Name: age_of_death, dtype: float64
25.8
1638    25.8
1639    25.8
1640    25.8
1641    25.8
1642    25.8
Name: impervious_surface, dtype: float64
1638    25.8
1639    25.8
1640    25.8
1641    25.8
1642    25.8
1643    25.8
1644    25.8
1645    25.8
1646    25.8
1647    25.8
1648    25.8
1649    25.8
1650    25.8
1651    25.8
1652    25.8
Name: impervious_surface, dtype: float64
114.0
1638    114.0
1639    114.0
1640    114.0
1641    114.0
1642    114.0
Name: water_consumption, dtype: float64
1638    114.0
1639    114.0
1640    114.0
1641    114.0
1642    114.0
1643    114.0
1644    114.0
1645    114.0
1646    114.0
1647    114.0
1648    114.0
1649    114.0
1650    114.0
1651    114.0
1652    114.0
Name: water_consumption, dtype: float64
66.09333333333335
1638    64.930000
1639    68.420000
1640    64.930000
1641    66.093333
1642    64.930000
Name: neighborhood_school_attendance, dtype: float64
1638    64.930000
1639    68.420000
1640    64.930000
1641    66.093333
1642    64.930000
1643    68.420000
1644    64.930000
1645    64.930000
1646    64.930000
1647    68.420000
1648    68.420000
1649    66.093333
1650    66.093333
1651    64.930000
1652    64.930000
Name: neighborhood_school_attendance, dtype: float64
77.0
1638    80.0
1639    71.0
1640    80.0
1641    77.0
1642    80.0
Name: highschool_graduation_rate, dtype: float64
1638    80.0
1639    71.0
1640    80.0
1641    77.0
1642    80.0
1643    71.0
1644    80.0
1645    80.0
1646    80.0
1647    71.0
1648    71.0
1649    77.0
1650    77.0
1651    80.0
1652    80.0
Name: highschool_graduation_rate, dtype: float64
54.575757575757564
1638    58.000000
1639    47.727273
1640    58.000000
1641    54.575758
1642    58.000000
Name: proficiency_elementary_school, dtype: float64
1638    58.000000
1639    47.727273
1640    58.000000
1641    54.575758
1642    58.000000
1643    47.727273
1644    58.000000
1645    58.000000
1646    58.000000
1647    47.727273
1648    47.727273
1649    54.575758
1650    54.575758
1651    58.000000
1652    58.000000
Name: proficiency_elementary_school, dtype: float64
20.750851063829785
1638    17.021277
1639    28.210000
1640    17.021277
1641    20.750851
1642    17.021277
Name: proficiency_middle_school, dtype: float64
1638    17.021277
1639    28.210000
1640    17.021277
1641    20.750851
1642    17.021277
1643    28.210000
1644    17.021277
1645    17.021277
1646    17.021277
1647    28.210000
1648    28.210000
1649    20.750851
1650    20.750851
1651    17.021277
1652    17.021277
Name: proficiency_middle_school, dtype: float64
30.0
1638    20.0
1639    50.0
1640    20.0
1641    30.0
1642    20.0
Name: proficiency_high_school, dtype: float64
1638    20.0
1639    50.0
1640    20.0
1641    30.0
1642    20.0
1643    50.0
1644    20.0
1645    20.0
1646    20.0
1647    50.0
1648    50.0
1649    30.0
1650    30.0
1651    20.0
1652    20.0
Name: proficiency_high_school, dtype: float64
14.23055708769994
1638    12.162162
1639    18.367347
1640    12.162162
1641    14.230557
1642    12.162162
Name: student_absenteeism, dtype: float64
1638    12.162162
1639    18.367347
1640    12.162162
1641    14.230557
1642    12.162162
1643    18.367347
1644    12.162162
1645    12.162162
1646    12.162162
1647    18.367347
1648    18.367347
1649    14.230557
1650    14.230557
1651    12.162162
1652    12.162162
Name: student_absenteeism, dtype: float64
729.3333333333334
1638    920.000000
1639    348.000000
1640    920.000000
1641    729.333333
1642    920.000000
Name: voters_participating, dtype: float64
1638    920.000000
1639    348.000000
1640    920.000000
1641    729.333333
1642    920.000000
1643    348.000000
1644    920.000000
1645    920.000000
1646    920.000000
1647    348.000000
1648    348.000000
1649    729.333333
1650    729.333333
1651    920.000000
1652    920.000000
Name: voters_participating, dtype: float64
2.6666666666666665
1638    3.000000
1639    2.000000
1640    3.000000
1641    2.666667
1642    3.000000
Name: neighborhood_organizations, dtype: float64
1638    3.000000
1639    2.000000
1640    3.000000
1641    2.666667
1642    3.000000
1643    2.000000
1644    3.000000
1645    3.000000
1646    3.000000
1647    2.000000
1648    2.000000
1649    2.666667
1650    2.666667
1651    3.000000
1652    3.000000
Name: neighborhood_organizations, dtype: float64
39.666666666666664
1638    51.000000
1639    17.000000
1640    51.000000
1641    39.666667
1642    51.000000
Name: voter_participation, dtype: float64
1638    51.000000
1639    17.000000
1640    51.000000
1641    39.666667
1642    51.000000
1643    17.000000
1644    51.000000
1645    51.000000
1646    51.000000
1647    17.000000
1648    17.000000
1649    39.666667
1650    39.666667
1651    51.000000
1652    51.000000
Name: voter_participation, dtype: float64
1.6
1638    1.6
1639    1.6
1640    1.6
1641    1.6
1642    1.6
Name: vacant_land, dtype: float64
1638    1.6
1639    1.6
1640    1.6
1641    1.6
1642    1.6
1643    1.6
1644    1.6
1645    1.6
1646    1.6
1647    1.6
1648    1.6
1649    1.6
1650    1.6
1651    1.6
1652    1.6
Name: vacant_land, dtype: float64
6.0
1638    6.0
1639    6.0
1640    6.0
1641    6.0
1642    6.0
Name: population_density, dtype: float64
1638    6.0
1639    6.0
1640    6.0
1641    6.0
1642    6.0
1643    6.0
1644    6.0
1645    6.0
1646    6.0
1647    6.0
1648    6.0
1649    6.0
1650    6.0
1651    6.0
1652    6.0
Name: population_density, dtype: float64
3092.0
1638    3092.0
1639    3092.0
1640    3092.0
1641    3092.0
1642    3092.0
Name: population, dtype: float64
1638    3092.0
1639    3092.0
1640    3092.0
1641    3092.0
1642    3092.0
1643    3092.0
1644    3092.0
1645    3092.0
1646    3092.0
1647    3092.0
1648    3092.0
1649    3092.0
1650    3092.0
1651    3092.0
1652    3092.0
Name: population, dtype: float64
243.33333333333334
1638    238.000000
1639    254.000000
1640    238.000000
1641    243.333333
1642    238.000000
Name: transit_ridership, dtype: float64
1638    238.000000
1639    254.000000
1640    238.000000
1641    243.333333
1642    238.000000
1643    254.000000
1644    238.000000
1645    238.000000
1646    238.000000
1647    254.000000
1648    254.000000
1649    243.333333
1650    243.333333
1651    238.000000
1652    238.000000
Name: transit_ridership, dtype: float64
1.29
1638    1.29
1639    1.29
1640    1.29
1641    1.29
1642    1.29
Name: street_connectivity, dtype: float64
1638    1.29
1639    1.29
1640    1.29
1641    1.29
1642    1.29
1643    1.29
1644    1.29
1645    1.29
1646    1.29
1647    1.29
1648    1.29
1649    1.29
1650    1.29
1651    1.29
1652    1.29
Name: street_connectivity, dtype: float64
1.7
1638    1.7
1639    1.7
1640    1.7
1641    1.7
1642    1.7
Name: bicycle_friendliness, dtype: float64
1638    1.7
1639    1.7
1640    1.7
1641    1.7
1642    1.7
1643    1.7
1644    1.7
1645    1.7
1646    1.7
1647    1.7
1648    1.7
1649    1.7
1650    1.7
1651    1.7
1652    1.7
Name: bicycle_friendliness, dtype: float64
7.27
1653    28.00
1654     1.61
1655     1.61
1656     2.39
1657    28.00
Name: Acres, dtype: float64
1653    28.00
1654     1.61
1655     1.61
1656     2.39
1657    28.00
1658     0.30
1659     0.30
1660     1.61
1661     1.61
Name: Acres, dtype: float64
2.3000000000000003
1653    2.3
1654    2.3
1655    2.3
1656    2.3
1657    2.3
Name: births_to_adolescents, dtype: float64
1653    2.3
1654    2.3
1655    2.3
1656    2.3
1657    2.3
1658    2.3
1659    2.3
1660    2.3
1661    2.3
Name: births_to_adolescents, dtype: float64
0.0
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
Name: grocery_proximate_units, dtype: float64
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
1658    0.0
1659    0.0
1660    0.0
1661    0.0
Name: grocery_proximate_units, dtype: float64
64.8
1653    64.8
1654    64.8
1655    64.8
1656    64.8
1657    64.8
Name: prenatal_care, dtype: float64
1653    64.8
1654    64.8
1655    64.8
1656    64.8
1657    64.8
1658    64.8
1659    64.8
1660    64.8
1661    64.8
Name: prenatal_care, dtype: float64
0.0
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
Name: grocery_proximity, dtype: float64
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
1658    0.0
1659    0.0
1660    0.0
1661    0.0
Name: grocery_proximity, dtype: float64
13.599999999999998
1653    13.6
1654    13.6
1655    13.6
1656    13.6
1657    13.6
Name: low_birthweight, dtype: float64
1653    13.6
1654    13.6
1655    13.6
1656    13.6
1657    13.6
1658    13.6
1659    13.6
1660    13.6
1661    13.6
Name: low_birthweight, dtype: float64

nan
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
Name: public_health_insurance, dtype: float64
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
1658   -1.0
1659   -1.0
1660   -1.0
1661   -1.0
Name: public_health_insurance, dtype: float64
63.0
1653    63.0
1654    63.0
1655    63.0
1656    63.0
1657    63.0
Name: age_of_death, dtype: float64
1653    63.0
1654    63.0
1655    63.0
1656    63.0
1657    63.0
1658    63.0
1659    63.0
1660    63.0
1661    63.0
Name: age_of_death, dtype: float64
20.7
1653    20.7
1654    20.7
1655    20.7
1656    20.7
1657    20.7
Name: impervious_surface, dtype: float64
1653    20.7
1654    20.7
1655    20.7
1656    20.7
1657    20.7
1658    20.7
1659    20.7
1660    20.7
1661    20.7
Name: impervious_surface, dtype: float64
108.0
1653    108.0
1654    108.0
1655    108.0
1656    108.0
1657    108.0
Name: water_consumption, dtype: float64
1653    108.0
1654    108.0
1655    108.0
1656    108.0
1657    108.0
1658    108.0
1659    108.0
1660    108.0
1661    108.0
Name: water_consumption, dtype: float64
68.39999999999999
1653    68.4
1654    68.4
1655    68.4
1656    68.4
1657    68.4
Name: neighborhood_school_attendance, dtype: float64
1653    68.4
1654    68.4
1655    68.4
1656    68.4
1657    68.4
1658    68.4
1659    68.4
1660    68.4
1661    68.4
Name: neighborhood_school_attendance, dtype: float64
71.0
1653    71.0
1654    71.0
1655    71.0
1656    71.0
1657    71.0
Name: highschool_graduation_rate, dtype: float64
1653    71.0
1654    71.0
1655    71.0
1656    71.0
1657    71.0
1658    71.0
1659    71.0
1660    71.0
1661    71.0
Name: highschool_graduation_rate, dtype: float64
24.64
1653    24.64
1654    24.64
1655    24.64
1656    24.64
1657    24.64
Name: proficiency_elementary_school, dtype: float64
1653    24.64
1654    24.64
1655    24.64
1656    24.64
1657    24.64
1658    24.64
1659    24.64
1660    24.64
1661    24.64
Name: proficiency_elementary_school, dtype: float64
8.9
1653    8.9
1654    8.9
1655    8.9
1656    8.9
1657    8.9
Name: proficiency_middle_school, dtype: float64
1653    8.9
1654    8.9
1655    8.9
1656    8.9
1657    8.9
1658    8.9
1659    8.9
1660    8.9
1661    8.9
Name: proficiency_middle_school, dtype: float64
30.0
1653    30.0
1654    30.0
1655    30.0
1656    30.0
1657    30.0
Name: proficiency_high_school, dtype: float64
1653    30.0
1654    30.0
1655    30.0
1656    30.0
1657    30.0
1658    30.0
1659    30.0
1660    30.0
1661    30.0
Name: proficiency_high_school, dtype: float64
21.0
1653    21.0
1654    21.0
1655    21.0
1656    21.0
1657    21.0
Name: student_absenteeism, dtype: float64
1653    21.0
1654    21.0
1655    21.0
1656    21.0
1657    21.0
1658    21.0
1659    21.0
1660    21.0
1661    21.0
Name: student_absenteeism, dtype: float64
1249.0
1653    1249.0
1654    1249.0
1655    1249.0
1656    1249.0
1657    1249.0
Name: voters_participating, dtype: float64
1653    1249.0
1654    1249.0
1655    1249.0
1656    1249.0
1657    1249.0
1658    1249.0
1659    1249.0
1660    1249.0
1661    1249.0
Name: voters_participating, dtype: float64
nan
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
Name: neighborhood_organizations, dtype: float64
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
1658   -1.0
1659   -1.0
1660   -1.0
1661   -1.0
Name: neighborhood_organizations, dtype: float64
56.0
1653    56.0
1654    56.0
1655    56.0
1656    56.0
1657    56.0
Name: voter_participation, dtype: float64
1653    56.0
1654    56.0
1655    56.0
1656    56.0
1657    56.0
1658    56.0
1659    56.0
1660    56.0
1661    56.0
Name: voter_participation, dtype: float64
11.299999999999999
1653    11.3
1654    11.3
1655    11.3
1656    11.3
1657    11.3
Name: vacant_land, dtype: float64
1653    11.3
1654    11.3
1655    11.3
1656    11.3
1657    11.3
1658    11.3
1659    11.3
1660    11.3
1661    11.3
Name: vacant_land, dtype: float64
7.0
1653    7.0
1654    7.0
1655    7.0
1656    7.0
1657    7.0
Name: population_density, dtype: float64
1653    7.0
1654    7.0
1655    7.0
1656    7.0
1657    7.0
1658    7.0
1659    7.0
1660    7.0
1661    7.0
Name: population_density, dtype: float64
3033.0
1653    3033.0
1654    3033.0
1655    3033.0
1656    3033.0
1657    3033.0
Name: population, dtype: float64
1653    3033.0
1654    3033.0
1655    3033.0
1656    3033.0
1657    3033.0
1658    3033.0
1659    3033.0
1660    3033.0
1661    3033.0
Name: population, dtype: float64
nan
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
Name: transit_ridership, dtype: float64
1653   -1.0
1654   -1.0
1655   -1.0
1656   -1.0
1657   -1.0
1658   -1.0
1659   -1.0
1660   -1.0
1661   -1.0
Name: transit_ridership, dtype: float64
1.38
1653    1.38
1654    1.38
1655    1.38
1656    1.38
1657    1.38
Name: street_connectivity, dtype: float64
1653    1.38
1654    1.38
1655    1.38
1656    1.38
1657    1.38
1658    1.38
1659    1.38
1660    1.38
1661    1.38
Name: street_connectivity, dtype: float64
1.8000000000000003
1653    1.8
1654    1.8
1655    1.8
1656    1.8
1657    1.8
Name: bicycle_friendliness, dtype: float64
1653    1.8
1654    1.8
1655    1.8
1656    1.8
1657    1.8
1658    1.8
1659    1.8
1660    1.8
1661    1.8
Name: bicycle_friendliness, dtype: float64
9.14
1662    9.14
Name: Acres, dtype: float64
1662    9.14
Name: Acres, dtype: float64
nan
1662   -1.0
Name: births_to_adolescents, dtype: float64
1662   -1.0
Name: births_to_adolescents, dtype: float64
495.0
1662    495.0
Name: grocery_proximate_units, dtype: float64
1662    495.0
Name: grocery_proximate_units, dtype: float64
nan
1662   -1.0
Name: prenatal_care, dtype: float64
1662   -1.0
Name: prenatal_care, dtype: float64
52.0
1662    52.0
Name: grocery_proximity, dtype: float64
1662    52.0
Name: grocery_proximity, dtype: float64
nan
1662   -1.0
Name: low_birthweight, dtype: float64
1662   -1.0
Name: low_birthweight, dtype: float64
18.0
1662    18.0
Name: public_health_insurance, dtype: float64
1662    18.0
Name: public_health_insurance, dtype: float64
nan
1662   -1.0
Name: age_of_death, dtype: float64
1662   -1.0
Name: age_of_death, dtype: float64
29.0
1662    29.0
Name: impervious_surface, dtype: float64
1662    29.0
Name: impervious_surface, dtype: float64
nan
1662   -1.0
Name: water_consumption, dtype: float64
1662   -1.0
Name: water_consumption, dtype: float64
80.0
1662    80.0
Name: neighborhood_school_attendance, dtype: float64
1662    80.0
Name: neighborhood_school_attendance, dtype: float64
83.0
1662    83.0
Name: highschool_graduation_rate, dtype: float64
1662    83.0
Name: highschool_graduation_rate, dtype: float64
33.9
1662    33.9
Name: proficiency_elementary_school, dtype: float64
1662    33.9
Name: proficiency_elementary_school, dtype: float64
24.1
1662    24.1
Name: proficiency_middle_school, dtype: float64
1662    24.1
Name: proficiency_middle_school, dtype: float64
21.9
1662    21.9
Name: proficiency_high_school, dtype: float64
1662    21.9
Name: proficiency_high_school, dtype: float64
16.0
1662    16.0
Name: student_absenteeism, dtype: float64
1662    16.0
Name: student_absenteeism, dtype: float64
489.0
1662    489.0
Name: voters_participating, dtype: float64
1662    489.0
Name: voters_participating, dtype: float64
nan
1662   -1.0
Name: neighborhood_organizations, dtype: float64
1662   -1.0
Name: neighborhood_organizations, dtype: float64
23.0
1662    23.0
Name: voter_participation, dtype: float64
1662    23.0
Name: voter_participation, dtype: float64
2.8
1662    2.8
Name: vacant_land, dtype: float64
1662    2.8
Name: vacant_land, dtype: float64
7.0
1662    7.0
Name: population_density, dtype: float64
1662    7.0
Name: population_density, dtype: float64
4140.0
1662    4140.0
Name: population, dtype: float64
1662    4140.0
Name: population, dtype: float64
nan
1662   -1.0
Name: transit_ridership, dtype: float64
1662   -1.0
Name: transit_ridership, dtype: float64
1.29
1662    1.29
Name: street_connectivity, dtype: float64
1662    1.29
Name: street_connectivity, dtype: float64
1.7
1662    1.7
Name: bicycle_friendliness, dtype: float64
1662    1.7
Name: bicycle_friendliness, dtype: float64
2.5593999999999992
1663    1.37
1664    2.18
1665    0.27
1666    8.60
1667    0.17
Name: Acres, dtype: float64
1663    1.370
1664    2.180
1665    0.270
1666    8.600
1667    0.170
1668    2.130
1669    0.820
1670    0.644
1671    0.810
1672    8.600
Name: Acres, dtype: float64
0.0
1663    0.0
1664    0.0
1665    0.0
1666    0.0
1667    0.0
Name: births_to_adolescents, dtype: float64
1663    0.0
1664    0.0
1665    0.0
1666    0.0
1667    0.0
1668    0.0
1669    0.0
1670    0.0
1671    0.0
1672    0.0
Name: births_to_adolescents, dtype: float64
1477.7142857142858
1663    1386.000000
1664    1885.000000
1665    1208.000000
1666    1477.714286
1667    1386.000000
Name: grocery_proximate_units, dtype: float64
1663    1386.000000
1664    1885.000000
1665    1208.000000
1666    1477.714286
1667    1386.000000
1668    1386.000000
1669    1885.000000
1670    1477.714286
1671    1208.000000
1672    1477.714286
Name: grocery_proximate_units, dtype: float64
72.9
1663    72.9
1664    72.9
1665    72.9
1666    72.9
1667    72.9
Name: prenatal_care, dtype: float64
1663    72.9
1664    72.9
1665    72.9
1666    72.9
1667    72.9
1668    72.9
1669    72.9
1670    72.9
1671    72.9
1672    72.9
Name: prenatal_care, dtype: float64
66.71428571428571
1663    67.000000
1664    67.000000
1665    66.000000
1666    66.714286
1667    67.000000
Name: grocery_proximity, dtype: float64
1663    67.000000
1664    67.000000
1665    66.000000
1666    66.714286
1667    67.000000
1668    67.000000
1669    67.000000
1670    66.714286
1671    66.000000
1672    66.714286
Name: grocery_proximity, dtype: float64
12.5
1663    12.5
1664    12.5
1665    12.5
1666    12.5
1667    12.5
Name: low_birthweight, dtype: float64
1663    12.5
1664    12.5
1665    12.5
1666    12.5
1667    12.5
1668    12.5
1669    12.5
1670    12.5
1671    12.5
1672    12.5
Name: low_birthweight, dtype: float64
3.0
1663    3.0
1664    3.0
1665    3.0
1666    3.0
1667    3.0
Name: public_health_insurance, dtype: float64
1663    3.0
1664    3.0
1665    3.0
1666    3.0
1667    3.0
1668    3.0
1669    3.0
1670    3.0
1671    3.0
1672    3.0
Name: public_health_insurance, dtype: float64
57.0
1663    57.0
1664    57.0
1665    57.0
1666    57.0
1667    57.0
Name: age_of_death, dtype: float64
1663    57.0
1664    57.0
1665    57.0
1666    57.0
1667    57.0
1668    57.0
1669    57.0
1670    57.0
1671    57.0
1672    57.0
Name: age_of_death, dtype: float64
38.714285714285715
1663    38.000000
1664    39.400000
1665    39.100000
1666    38.714286
1667    38.000000
Name: impervious_surface, dtype: float64
1663    38.000000
1664    39.400000
1665    39.100000
1666    38.714286
1667    38.000000
1668    38.000000
1669    39.400000
1670    38.714286
1671    39.100000
1672    38.714286
Name: impervious_surface, dtype: float64
114.5
1663    114.5
1664    116.0
1665    113.0
1666    114.5
1667    114.5
Name: water_consumption, dtype: float64
1663    114.5
1664    116.0
1665    113.0
1666    114.5
1667    114.5
1668    114.5
1669    116.0
1670    114.5
1671    113.0
1672    114.5
Name: water_consumption, dtype: float64
48.279999999999994
1663    50.00
1664    48.28
1665    45.70
1666    48.28
1667    50.00

Name: neighborhood_school_attendance, dtype: float64
1663    50.00
1664    48.28
1665    45.70
1666    48.28
1667    50.00
1668    50.00
1669    48.28
1670    48.28
1671    45.70
1672    48.28
Name: neighborhood_school_attendance, dtype: float64
nan
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
Name: highschool_graduation_rate, dtype: float64
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
1668   -1.0
1669   -1.0
1670   -1.0
1671   -1.0
1672   -1.0
Name: highschool_graduation_rate, dtype: float64
25.688
1663    28.000
1664    25.688
1665    22.220
1666    25.688
1667    28.000
Name: proficiency_elementary_school, dtype: float64
1663    28.000
1664    25.688
1665    22.220
1666    25.688
1667    28.000
1668    28.000
1669    25.688
1670    25.688
1671    22.220
1672    25.688
Name: proficiency_elementary_school, dtype: float64
40.0
1663    22.2
1664    40.0
1665    66.7
1666    40.0
1667    22.2
Name: proficiency_middle_school, dtype: float64
1663    22.2
1664    40.0
1665    66.7
1666    40.0
1667    22.2
1668    22.2
1669    40.0
1670    40.0
1671    66.7
1672    40.0
Name: proficiency_middle_school, dtype: float64
nan
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
Name: proficiency_high_school, dtype: float64
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
1668   -1.0
1669   -1.0
1670   -1.0
1671   -1.0
1672   -1.0
Name: proficiency_high_school, dtype: float64
16.6
1663    21.0
1664    16.6
1665    10.0
1666    16.6
1667    21.0
Name: student_absenteeism, dtype: float64
1663    21.0
1664    16.6
1665    10.0
1666    16.6
1667    21.0
1668    21.0
1669    16.6
1670    16.6
1671    10.0
1672    16.6
Name: student_absenteeism, dtype: float64
1650.4285714285713
1663     787.000000
1664    2630.000000
1665    1966.000000
1666    1650.428571
1667     787.000000
Name: voters_participating, dtype: float64
1663     787.000000
1664    2630.000000
1665    1966.000000
1666    1650.428571
1667     787.000000
1668     787.000000
1669    2630.000000
1670    1650.428571
1671    1966.000000
1672    1650.428571
Name: voters_participating, dtype: float64
nan
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
Name: neighborhood_organizations, dtype: float64
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
1668   -1.0
1669   -1.0
1670   -1.0
1671   -1.0
1672   -1.0
Name: neighborhood_organizations, dtype: float64
42.285714285714285
1663    14.000000
1664    56.000000
1665    71.000000
1666    42.285714
1667    14.000000
Name: voter_participation, dtype: float64
1663    14.000000
1664    56.000000
1665    71.000000
1666    42.285714
1667    14.000000
1668    14.000000
1669    56.000000
1670    42.285714
1671    71.000000
1672    42.285714
Name: voter_participation, dtype: float64
3.1000000000000005
1663    3.1
1664    3.1
1665    3.1
1666    3.1
1667    3.1
Name: vacant_land, dtype: float64
1663    3.1
1664    3.1
1665    3.1
1666    3.1
1667    3.1
1668    3.1
1669    3.1
1670    3.1
1671    3.1
1672    3.1
Name: vacant_land, dtype: float64
13.428571428571429
1663    14.000000
1664    15.000000
1665    11.000000
1666    13.428571
1667    14.000000
Name: population_density, dtype: float64
1663    14.000000
1664    15.000000
1665    11.000000
1666    13.428571
1667    14.000000
1668    14.000000
1669    15.000000
1670    13.428571
1671    11.000000
1672    13.428571
Name: population_density, dtype: float64
4614.0
1663    4844.0
1664    5235.0
1665    3648.0
1666    4614.0
1667    4844.0
Name: population, dtype: float64
1663    4844.0
1664    5235.0
1665    3648.0
1666    4614.0
1667    4844.0
1668    4844.0
1669    5235.0
1670    4614.0
1671    3648.0
1672    4614.0
Name: population, dtype: float64
nan
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
Name: transit_ridership, dtype: float64
1663   -1.0
1664   -1.0
1665   -1.0
1666   -1.0
1667   -1.0
1668   -1.0
1669   -1.0
1670   -1.0
1671   -1.0
1672   -1.0
Name: transit_ridership, dtype: float64
1.4399999999999997
1663    1.44
1664    1.44
1665    1.44
1666    1.44
1667    1.44
Name: street_connectivity, dtype: float64
1663    1.44
1664    1.44
1665    1.44
1666    1.44
1667    1.44
1668    1.44
1669    1.44
1670    1.44
1671    1.44
1672    1.44
Name: street_connectivity, dtype: float64
1.8000000000000003
1663    1.8
1664    1.8
1665    1.8
1666    1.8
1667    1.8
Name: bicycle_friendliness, dtype: float64
1663    1.8
1664    1.8
1665    1.8
1666    1.8
1667    1.8
1668    1.8
1669    1.8
1670    1.8
1671    1.8
1672    1.8
Name: bicycle_friendliness, dtype: float64
2.374
1673    2.374
Name: Acres, dtype: float64
1673    2.374
Name: Acres, dtype: float64
nan
1673   -1.0
Name: births_to_adolescents, dtype: float64
1673   -1.0
Name: births_to_adolescents, dtype: float64
26.0
1673    26.0
Name: grocery_proximate_units, dtype: float64
1673    26.0
Name: grocery_proximate_units, dtype: float64
nan
1673   -1.0
Name: prenatal_care, dtype: float64
1673   -1.0
Name: prenatal_care, dtype: float64
3.0
1673    3.0
Name: grocery_proximity, dtype: float64
1673    3.0
Name: grocery_proximity, dtype: float64
nan
1673   -1.0
Name: low_birthweight, dtype: float64
1673   -1.0
Name: low_birthweight, dtype: float64
43.0
1673    43.0
Name: public_health_insurance, dtype: float64
1673    43.0
Name: public_health_insurance, dtype: float64
nan
1673   -1.0
Name: age_of_death, dtype: float64
1673   -1.0
Name: age_of_death, dtype: float64
18.7
1673    18.7
Name: impervious_surface, dtype: float64
1673    18.7
Name: impervious_surface, dtype: float64
nan
1673   -1.0
Name: water_consumption, dtype: float64
1673   -1.0
Name: water_consumption, dtype: float64
66.0
1673    66.0
Name: neighborhood_school_attendance, dtype: float64
1673    66.0
Name: neighborhood_school_attendance, dtype: float64
81.0
1673    81.0
Name: highschool_graduation_rate, dtype: float64
1673    81.0
Name: highschool_graduation_rate, dtype: float64
18.3
1673    18.3
Name: proficiency_elementary_school, dtype: float64
1673    18.3
Name: proficiency_elementary_school, dtype: float64
18.2
1673    18.2
Name: proficiency_middle_school, dtype: float64
1673    18.2
Name: proficiency_middle_school, dtype: float64
23.1
1673    23.1
Name: proficiency_high_school, dtype: float64
1673    23.1
Name: proficiency_high_school, dtype: float64
23.0
1673    23.0
Name: student_absenteeism, dtype: float64
1673    23.0
Name: student_absenteeism, dtype: float64
392.0
1673    392.0
Name: voters_participating, dtype: float64
1673    392.0
Name: voters_participating, dtype: float64
nan
1673   -1.0
Name: neighborhood_organizations, dtype: float64
1673   -1.0
Name: neighborhood_organizations, dtype: float64
11.0
1673    11.0
Name: voter_participation, dtype: float64
1673    11.0
Name: voter_participation, dtype: float64
8.6
1673    8.6
Name: vacant_land, dtype: float64
1673    8.6
Name: vacant_land, dtype: float64
6.0
1673    6.0
Name: population_density, dtype: float64
1673    6.0
Name: population_density, dtype: float64
4927.0
1673    4927.0
Name: population, dtype: float64
1673    4927.0
Name: population, dtype: float64
nan
1673   -1.0
Name: transit_ridership, dtype: float64
1673   -1.0
Name: transit_ridership, dtype: float64
1.2
1673    1.2
Name: street_connectivity, dtype: float64
1673    1.2
Name: street_connectivity, dtype: float64
1.5
1673    1.5
Name: bicycle_friendliness, dtype: float64
1673    1.5
Name: bicycle_friendliness, dtype: float64
2.764
1674    1.04
1675    5.79
1676    5.79
1677    5.79
1678    0.22
Name: Acres, dtype: float64
1674    1.040
1675    5.790
1676    5.790
1677    5.790
1678    0.220
1679    1.146
1680    3.630
1681    0.110
1682    1.360
Name: Acres, dtype: float64
nan
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
Name: births_to_adolescents, dtype: float64
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
1679   -1.0
1680   -1.0
1681   -1.0
1682   -1.0
Name: births_to_adolescents, dtype: float64
205.33333333333334
1674    208.0
1675    208.0
1676    208.0
1677    208.0
1678    208.0
Name: grocery_proximate_units, dtype: float64
1674    208.0
1675    208.0
1676    208.0
1677    208.0
1678    208.0
1679    198.0
1680    206.0
1681    206.0
1682    198.0
Name: grocery_proximate_units, dtype: float64
nan
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
Name: prenatal_care, dtype: float64
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
1679   -1.0
1680   -1.0
1681   -1.0
1682   -1.0
Name: prenatal_care, dtype: float64
24.0
1674    24.0
1675    24.0
1676    24.0
1677    24.0
1678    24.0
Name: grocery_proximity, dtype: float64
1674    24.0
1675    24.0
1676    24.0
1677    24.0
1678    24.0
1679    24.0
1680    24.0
1681    24.0
1682    24.0
Name: grocery_proximity, dtype: float64
nan
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
Name: low_birthweight, dtype: float64
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
1679   -1.0
1680   -1.0
1681   -1.0
1682   -1.0
Name: low_birthweight, dtype: float64
22.0
1674    22.0
1675    22.0
1676    22.0
1677    22.0
1678    22.0
Name: public_health_insurance, dtype: float64
1674    22.0
1675    22.0
1676    22.0
1677    22.0
1678    22.0
1679    20.0
1680    24.0
1681    24.0
1682    20.0
Name: public_health_insurance, dtype: float64
nan
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
Name: age_of_death, dtype: float64
1674   -1.0
1675   -1.0
1676   -1.0
1677   -1.0
1678   -1.0
1679   -1.0
1680   -1.0
1681   -1.0
1682   -1.0
Name: age_of_death, dtype: float64
18.755555555555556
1674    19.8
1675    19.8
1676    19.8
1677    19.8
1678    19.8
Name: impervious_surface, dtype: float64
1674    19.8
1675    19.8
1676    19.8
1677    19.8
1678    19.8
1679    18.0
1680    16.9
1681    16.9
1682    18.0
Name: impervious_surface, dtype: float64
91.0
1674    91.0
1675    91.0
1676    91.0
1677    91.0
1678    91.0
Name: water_consumption, dtype: float64
1674    91.0
1675    91.0
1676    91.0
1677    91.0
1678    91.0
1679    91.0
1680    91.0
1681    91.0
1682    91.0
Name: water_consumption, dtype: float64
61.595
1674    61.595
1675    61.595
1676    61.595
1677    61.595
1678    61.595
Name: neighborhood_school_attendance, dtype: float64
1674    61.595
1675    61.595
1676    61.595
1677    61.595
1678    61.595
1679    50.000
1680    73.190
1681    73.190
1682    50.000
Name: neighborhood_school_attendance, dtype: float64
89.0
1674    89.0
1675    89.0
1676    89.0
1677    89.0
1678    89.0
Name: highschool_graduation_rate, dtype: float64
1674    89.0
1675    89.0
1676    89.0
1677    89.0
1678    89.0
1679    89.0
1680    89.0
1681    89.0
1682    89.0
Name: highschool_graduation_rate, dtype: float64
35.46774193548385
1674    35.467742
1675    35.467742
1676    35.467742
1677    35.467742
1678    35.467742
Name: proficiency_elementary_school, dtype: float64
1674    35.467742
1675    35.467742
1676    35.467742
1677    35.467742
1678    35.467742
1679    29.000000
1680    41.935484
1681    41.935484
1682    29.000000
Name: proficiency_elementary_school, dtype: float64
28.46
1674    28.46
1675    28.46
1676    28.46
1677    28.46
1678    28.46
Name: proficiency_middle_school, dtype: float64
1674    28.46
1675    28.46
1676    28.46
1677    28.46
1678    28.46
1679    35.30
1680    21.62
1681    21.62
1682    35.30
Name: proficiency_middle_school, dtype: float64
23.08
1674    23.08
1675    23.08
1676    23.08
1677    23.08
1678    23.08
Name: proficiency_high_school, dtype: float64
1674    23.08
1675    23.08
1676    23.08
1677    23.08
1678    23.08
1679    23.08
1680    23.08
1681    23.08
1682    23.08
Name: proficiency_high_school, dtype: float64
18.8815789473684
1674    18.881579
1675    18.881579
1676    18.881579
1677    18.881579
1678    18.881579
Name: student_absenteeism, dtype: float64
1674    18.881579
1675    18.881579
1676    18.881579
1677    18.881579
1678    18.881579
1679    20.000000
1680    17.763158
1681    17.763158
1682    20.000000
Name: student_absenteeism, dtype: float64
529.6666666666666
1674    757.0
1675    757.0
1676    757.0
1677    757.0
1678    757.0
Name: voters_participating, dtype: float64
1674    757.0
1675    757.0
1676    757.0
1677    757.0
1678    757.0
1679    293.0
1680    198.0
1681    198.0
1682    293.0
Name: voters_participating, dtype: float64
2.0
1674    2.0
1675    2.0
1676    2.0
1677    2.0
1678    2.0
Name: neighborhood_organizations, dtype: float64
1674    2.0
1675    2.0
1676    2.0
1677    2.0
1678    2.0
1679    2.0
1680    2.0
1681    2.0
1682    2.0
Name: neighborhood_organizations, dtype: float64
43.111111111111114
1674    64.0
1675    64.0
1676    64.0
1677    64.0
1678    64.0
Name: voter_participation, dtype: float64
1674    64.0
1675    64.0
1676    64.0
1677    64.0
1678    64.0
1679    18.0
1680    16.0
1681    16.0
1682    18.0
Name: voter_participation, dtype: float64
8.200000000000001
1674    8.2
1675    8.2
1676    8.2
1677    8.2
1678    8.2
Name: vacant_land, dtype: float64
1674    8.2
1675    8.2
1676    8.2
1677    8.2
1678    8.2
1679    8.2
1680    8.2
1681    8.2
1682    8.2
Name: vacant_land, dtype: float64
7.0
1674    7.0
1675    7.0
1676    7.0
1677    7.0
1678    7.0
Name: population_density, dtype: float64
1674    7.0
1675    7.0
1676    7.0
1677    7.0
1678    7.0
1679    7.0
1680    7.0
1681    7.0
1682    7.0
Name: population_density, dtype: float64
1987.2222222222222
1674    2027.0
1675    2027.0
1676    2027.0
1677    2027.0
1678    2027.0
Name: population, dtype: float64
1674    2027.0
1675    2027.0
1676    2027.0
1677    2027.0
1678    2027.0
1679    1920.0
1680    1955.0
1681    1955.0
1682    1920.0
Name: population, dtype: float64
69.0
1674    69.0
1675    69.0
1676    69.0
1677    69.0
1678    69.0
Name: transit_ridership, dtype: float64
1674    69.0
1675    69.0
1676    69.0
1677    69.0
1678    69.0
1679    69.0
1680    69.0
1681    69.0
1682    69.0
Name: transit_ridership, dtype: float64
1.4499999999999997
1674    1.45
1675    1.45
1676    1.45
1677    1.45
1678    1.45
Name: street_connectivity, dtype: float64
1674    1.45
1675    1.45
1676    1.45
1677    1.45
1678    1.45
1679    1.45
1680    1.45
1681    1.45
1682    1.45
Name: street_connectivity, dtype: float64
2.1999999999999997
1674    2.2
1675    2.2
1676    2.2
1677    2.2
1678    2.2
Name: bicycle_friendliness, dtype: float64
1674    2.2
1675    2.2
1676    2.2
1677    2.2
1678    2.2
1679    2.2
1680    2.2
1681    2.2
1682    2.2
Name: bicycle_friendliness, dtype: float64
6.1930000000000005
1683    17.268
1684     5.810
1685     5.810
1686     6.040
1687     0.210
Name: Acres, dtype: float64
1683    17.268
1684     5.810
1685     5.810
1686     6.040
1687     0.210
1688     2.020
Name: Acres, dtype: float64
6.8
1683    6.8
1684    6.8
1685    6.8
1686    6.8
1687    6.8
Name: births_to_adolescents, dtype: float64
1683    6.8
1684    6.8
1685    6.8
1686    6.8
1687    6.8
1688    6.8
Name: births_to_adolescents, dtype: float64
398.8333333333333
1683    426.0
1684    425.0
1685    425.0
1686    425.0
1687    267.0
Name: grocery_proximate_units, dtype: float64
1683    426.0
1684    425.0
1685    425.0
1686    425.0
1687    267.0
1688    425.0
Name: grocery_proximate_units, dtype: float64
52.3
1683    52.3
1684    52.3
1685    52.3
1686    52.3
1687    52.3
Name: prenatal_care, dtype: float64
1683    52.3
1684    52.3
1685    52.3
1686    52.3
1687    52.3
1688    52.3
Name: prenatal_care, dtype: float64
39.666666666666664
1683    29.0
1684    45.0
1685    45.0
1686    45.0
1687    29.0
Name: grocery_proximity, dtype: float64
1683    29.0
1684    45.0
1685    45.0
1686    45.0
1687    29.0
1688    45.0
Name: grocery_proximity, dtype: float64
12.5
1683    12.5
1684    12.5
1685    12.5
1686    12.5
1687    12.5
Name: low_birthweight, dtype: float64
1683    12.5
1684    12.5
1685    12.5
1686    12.5
1687    12.5
1688    12.5
Name: low_birthweight, dtype: float64
48.0
1683    48.0
1684    48.0
1685    48.0
1686    48.0
1687    48.0
Name: public_health_insurance, dtype: float64
1683    48.0
1684    48.0
1685    48.0
1686    48.0
1687    48.0
1688    48.0
Name: public_health_insurance, dtype: float64
68.0
1683    68.0
1684    68.0
1685    68.0
1686    68.0
1687    68.0
Name: age_of_death, dtype: float64
1683    68.0
1684    68.0
1685    68.0
1686    68.0
1687    68.0
1688    68.0
Name: age_of_death, dtype: float64
30.366666666666664
1683    30.4
1684    30.2
1685    30.2
1686    30.2
1687    31.0
Name: impervious_surface, dtype: float64
1683    30.4
1684    30.2
1685    30.2
1686    30.2
1687    31.0
1688    30.2
Name: impervious_surface, dtype: float64

134.6
1683    134.6
1684    137.0
1685    137.0
1686    137.0
1687    125.0
Name: water_consumption, dtype: float64
1683    134.6
1684    137.0
1685    137.0
1686    137.0
1687    125.0
1688    137.0
Name: water_consumption, dtype: float64
72.84
1683    73.00
1684    72.80
1685    72.80
1686    72.80
1687    72.84
Name: neighborhood_school_attendance, dtype: float64
1683    73.00
1684    72.80
1685    72.80
1686    72.80
1687    72.84
1688    72.80
Name: neighborhood_school_attendance, dtype: float64
77.2
1683    82.0
1684    76.0
1685    76.0
1686    76.0
1687    77.2
Name: highschool_graduation_rate, dtype: float64
1683    82.0
1684    76.0
1685    76.0
1686    76.0
1687    77.2
1688    76.0
Name: highschool_graduation_rate, dtype: float64
20.572000000000003
1683    24.500
1684    19.590
1685    19.590
1686    19.590
1687    20.572
Name: proficiency_elementary_school, dtype: float64
1683    24.500
1684    19.590
1685    19.590
1686    19.590
1687    20.572
1688    19.590
Name: proficiency_elementary_school, dtype: float64
21.8
1683    25.4
1684    20.9
1685    20.9
1686    20.9
1687    21.8
Name: proficiency_middle_school, dtype: float64
1683    25.4
1684    20.9
1685    20.9
1686    20.9
1687    21.8
1688    20.9
Name: proficiency_middle_school, dtype: float64
32.1
1683    27.3
1684    33.3
1685    33.3
1686    33.3
1687    32.1
Name: proficiency_high_school, dtype: float64
1683    27.3
1684    33.3
1685    33.3
1686    33.3
1687    32.1
1688    33.3
Name: proficiency_high_school, dtype: float64
16.4
1683    18.0
1684    16.0
1685    16.0
1686    16.0
1687    16.4
Name: student_absenteeism, dtype: float64
1683    18.0
1684    16.0
1685    16.0
1686    16.0
1687    16.4
1688    16.0
Name: student_absenteeism, dtype: float64
910.5
1683     298.0
1684    1111.0
1685    1111.0
1686    1111.0
1687     721.0
Name: voters_participating, dtype: float64
1683     298.0
1684    1111.0
1685    1111.0
1686    1111.0
1687     721.0
1688    1111.0
Name: voters_participating, dtype: float64
nan
1683   -1.0
1684   -1.0
1685   -1.0
1686   -1.0
1687   -1.0
Name: neighborhood_organizations, dtype: float64
1683   -1.0
1684   -1.0
1685   -1.0
1686   -1.0
1687   -1.0
1688   -1.0
Name: neighborhood_organizations, dtype: float64
48.666666666666664
1683    14.0
1684    57.0
1685    57.0
1686    57.0
1687    50.0
Name: voter_participation, dtype: float64
1683    14.0
1684    57.0
1685    57.0
1686    57.0
1687    50.0
1688    57.0
Name: voter_participation, dtype: float64
17.599999999999998
1683    17.6
1684    17.6
1685    17.6
1686    17.6
1687    17.6
Name: vacant_land, dtype: float64
1683    17.6
1684    17.6
1685    17.6
1686    17.6
1687    17.6
1688    17.6
Name: vacant_land, dtype: float64
1.0
1683    1.0
1684    1.0
1685    1.0
1686    1.0
1687    1.0
Name: population_density, dtype: float64
1683    1.0
1684    1.0
1685    1.0
1686    1.0
1687    1.0
1688    1.0
Name: population_density, dtype: float64
2307.0
1683    2307.0
1684    2299.0
1685    2299.0
1686    2299.0
1687    2339.0
Name: population, dtype: float64
1683    2307.0
1684    2299.0
1685    2299.0
1686    2299.0
1687    2339.0
1688    2299.0
Name: population, dtype: float64
nan
1683   -1.0
1684   -1.0
1685   -1.0
1686   -1.0
1687   -1.0
Name: transit_ridership, dtype: float64
1683   -1.0
1684   -1.0
1685   -1.0
1686   -1.0
1687   -1.0
1688   -1.0
Name: transit_ridership, dtype: float64
1.33
1683    1.33
1684    1.33
1685    1.33
1686    1.33
1687    1.33
Name: street_connectivity, dtype: float64
1683    1.33
1684    1.33
1685    1.33
1686    1.33
1687    1.33
1688    1.33
Name: street_connectivity, dtype: float64
1.4333333333333333
1683    1.5
1684    1.4
1685    1.4
1686    1.4
1687    1.5
Name: bicycle_friendliness, dtype: float64
1683    1.5
1684    1.4
1685    1.4
1686    1.4
1687    1.5
1688    1.4
Name: bicycle_friendliness, dtype: float64
2.1533333333333338
1689    3.70
1690    0.19
1691    1.84
1692    9.13
1693    0.75
Name: Acres, dtype: float64
1689    3.70
1690    0.19
1691    1.84
1692    9.13
1693    0.75
1694    1.42
1695    0.35
1696    0.52
1697    9.13
1698    3.70
1699    0.87
1700    0.74
1701    0.90
1702    0.74
1703    0.46
1704    0.67
1705    0.35
1706    0.22
1707    4.35
1708    9.13
1709    0.75
1710    0.74
1711    0.29
1712    0.74
Name: Acres, dtype: float64
1.16
1689    1.16
1690    5.80
1691    1.16
1692    1.16
1693    1.16
Name: births_to_adolescents, dtype: float64
1689    1.16
1690    5.80
1691    1.16
1692    1.16
1693    1.16
1694    1.16
1695    1.16
1696    1.16
1697    1.16
1698    1.16
1699    1.16
1700    1.16
1701    0.00
1702    0.00
1703    1.16
1704    0.00
1705    1.16
1706    1.16
1707    1.16
1708    1.16
1709    1.16
1710    1.16
1711    0.00
1712    1.16
Name: births_to_adolescents, dtype: float64
235.91304347826087
1689    206.0
1690      0.0
1691    515.0
1692    206.0
1693    206.0
Name: grocery_proximate_units, dtype: float64
1689    206.000000
1690      0.000000
1691    515.000000
1692    206.000000
1693    206.000000
1694    206.000000
1695    206.000000
1696    235.913043
1697    206.000000
1698    206.000000
1699    206.000000
1700    515.000000
1701    206.000000
1702    206.000000
1703    195.000000
1704    206.000000
1705    206.000000
1706    515.000000
1707    206.000000
1708    206.000000
1709    206.000000
1710    195.000000
1711    206.000000
1712    195.000000
Name: grocery_proximate_units, dtype: float64
69.74000000000001
1689    69.74
1690    73.10
1691    69.74
1692    69.74
1693    69.74
Name: prenatal_care, dtype: float64
1689    69.74
1690    73.10
1691    69.74
1692    69.74
1693    69.74
1694    69.74
1695    69.74
1696    69.74
1697    69.74
1698    69.74
1699    69.74
1700    69.74
1701    68.90
1702    68.90
1703    69.74
1704    68.90
1705    69.74
1706    69.74
1707    69.74
1708    69.74
1709    69.74
1710    69.74
1711    68.90
1712    69.74
Name: prenatal_care, dtype: float64
29.08695652173913
1689    35.0
1690     0.0
1691    35.0
1692    35.0
1693    35.0
Name: grocery_proximity, dtype: float64
1689    35.000000
1690     0.000000
1691    35.000000
1692    35.000000
1693    35.000000
1694    35.000000
1695    35.000000
1696    29.086957
1697    35.000000
1698    35.000000
1699    35.000000
1700    35.000000
1701    21.000000
1702    21.000000
1703    20.000000
1704    21.000000
1705    35.000000
1706    35.000000
1707    35.000000
1708    35.000000
1709    35.000000
1710    20.000000
1711    21.000000
1712    20.000000
Name: grocery_proximity, dtype: float64
9.64
1689     9.64
1690    15.40
1691     9.64
1692     9.64
1693     9.64
Name: low_birthweight, dtype: float64
1689     9.64
1690    15.40
1691     9.64
1692     9.64
1693     9.64
1694     9.64
1695     9.64
1696     9.64
1697     9.64
1698     9.64
1699     9.64
1700     9.64
1701     8.20
1702     8.20
1703     9.64
1704     8.20
1705     9.64
1706     9.64
1707     9.64
1708     9.64
1709     9.64
1710     9.64
1711     8.20
1712     9.64
Name: low_birthweight, dtype: float64
9.8125
1689     8.0000
1690    16.0000
1691     9.8125
1692     8.0000
1693     8.0000
Name: public_health_insurance, dtype: float64
1689     8.0000
1690    16.0000
1691     9.8125
1692     8.0000
1693     8.0000
1694     8.0000
1695     8.0000
1696     9.8125
1697     8.0000
1698     8.0000
1699     8.0000
1700     9.8125
1701     9.8125
1702     9.8125
1703    15.0000
1704     9.8125
1705     8.0000
1706     9.8125
1707     8.0000
1708     8.0000
1709     8.0000
1710    15.0000
1711     9.8125
1712    15.0000
Name: public_health_insurance, dtype: float64
71.8
1689    71.8
1690    67.0
1691    71.8
1692    71.8
1693    71.8
Name: age_of_death, dtype: float64
1689    71.8
1690    67.0
1691    71.8
1692    71.8
1693    71.8
1694    71.8
1695    71.8
1696    71.8
1697    71.8
1698    71.8
1699    71.8
1700    71.8
1701    73.0
1702    73.0
1703    71.8
1704    73.0
1705    71.8
1706    71.8
1707    71.8
1708    71.8
1709    71.8
1710    71.8
1711    73.0
1712    71.8
Name: age_of_death, dtype: float64
23.699999999999992
1689    23.9
1690    23.7
1691    23.9
1692    23.9
1693    23.9
Name: impervious_surface, dtype: float64
1689    23.9
1690    23.7
1691    23.9
1692    23.9
1693    23.9
1694    23.9
1695    23.9
1696    23.7
1697    23.9
1698    23.9
1699    23.9
1700    23.9
1701    23.4
1702    23.4
1703    23.1
1704    23.4
1705    23.9
1706    23.9
1707    23.9
1708    23.9
1709    23.9
1710    23.1
1711    23.4
1712    23.1
Name: impervious_surface, dtype: float64
106.125
1689    106.125
1690    102.000
1691    101.000
1692    106.125
1693    106.125
Name: water_consumption, dtype: float64
1689    106.125
1690    102.000
1691    101.000
1692    106.125
1693    106.125
1694    106.125
1695    106.125
1696    106.125
1697    106.125
1698    106.125
1699    106.125
1700    101.000
1701    111.000
1702    111.000
1703    106.125
1704    111.000
1705    106.125
1706    101.000
1707    106.125
1708    106.125
1709    106.125
1710    106.125
1711    111.000
1712    106.125
Name: water_consumption, dtype: float64
74.369
1689    77.000
1690    68.350
1691    74.369
1692    77.000
1693    77.000
Name: neighborhood_school_attendance, dtype: float64
1689    77.000
1690    68.350
1691    74.369
1692    77.000
1693    77.000
1694    77.000
1695    77.000
1696    74.369
1697    77.000
1698    77.000
1699    77.000
1700    74.369
1701    72.000
1702    72.000
1703    69.010
1704    72.000
1705    77.000
1706    74.369
1707    77.000
1708    77.000
1709    77.000
1710    69.010
1711    72.000
1712    69.010
Name: neighborhood_school_attendance, dtype: float64
89.85
1689    92.00
1690    80.00
1691    89.85
1692    92.00
1693    92.00
Name: highschool_graduation_rate, dtype: float64
1689     92.00
1690     80.00
1691     89.85
1692     92.00
1693     92.00
1694     92.00
1695     92.00
1696     89.85
1697     92.00
1698     92.00
1699     92.00
1700     89.85
1701    100.00
1702    100.00
1703     71.00
1704    100.00
1705     92.00
1706     89.85
1707     92.00
1708     92.00
1709     92.00
1710     71.00
1711    100.00
1712     71.00
Name: highschool_graduation_rate, dtype: float64
48.09569458128079
1689    60.000000
1690    37.931034
1691    48.095695
1692    60.000000
1693    60.000000
Name: proficiency_elementary_school, dtype: float64
1689    60.000000
1690    37.931034
1691    48.095695
1692    60.000000
1693    60.000000
1694    60.000000
1695    60.000000
1696    48.095695
1697    60.000000
1698    60.000000
1699    60.000000
1700    48.095695
1701    31.710000
1702    31.710000
1703    25.714286
1704    31.710000
1705    60.000000
1706    48.095695
1707    60.000000
1708    60.000000
1709    60.000000
1710    25.714286
1711    31.710000
1712    25.714286
Name: proficiency_elementary_school, dtype: float64
37.57122413793104
1689    42.600000
1690    31.034483
1691    37.571224
1692    42.600000
1693    42.600000
Name: proficiency_middle_school, dtype: float64
1689    42.600000
1690    31.034483
1691    37.571224
1692    42.600000
1693    42.600000
1694    42.600000
1695    42.600000
1696    37.571224
1697    42.600000
1698    42.600000
1699    42.600000
1700    37.571224
1701    27.300000
1702    27.300000
1703    33.330000
1704    27.300000
1705    42.600000
1706    37.571224
1707    42.600000
1708    42.600000
1709    42.600000
1710    33.330000
1711    27.300000
1712    33.330000
Name: proficiency_middle_school, dtype: float64
12.499166666666666
1689    12.499167
1690    16.666667
1691    12.499167
1692    12.499167
1693    12.499167
Name: proficiency_high_school, dtype: float64
1689    12.499167
1690    16.666667
1691    12.499167
1692    12.499167
1693    12.499167
1694    12.499167
1695    12.499167
1696    12.499167
1697    12.499167
1698    12.499167
1699    12.499167
1700    12.499167
1701    12.499167
1702    12.499167
1703    11.110000
1704    12.499167
1705    12.499167
1706    12.499167
1707    12.499167
1708    12.499167
1709    12.499167
1710    11.110000
1711    12.499167
1712    11.110000
Name: proficiency_high_school, dtype: float64
13.453691275167794
1689    12.000000
1690    14.765101
1691    13.453691
1692    12.000000
1693    12.000000
Name: student_absenteeism, dtype: float64
1689    12.000000
1690    14.765101
1691    13.453691
1692    12.000000
1693    12.000000
1694    12.000000
1695    12.000000
1696    13.453691
1697    12.000000
1698    12.000000
1699    12.000000
1700    13.453691
1701    16.000000
1702    16.000000
1703    15.436242
1704    16.000000
1705    12.000000
1706    13.453691
1707    12.000000
1708    12.000000
1709    12.000000
1710    15.436242
1711    16.000000
1712    15.436242
Name: student_absenteeism, dtype: float64
685.7826086956521
1689     513.0
1690     474.0
1691    1325.0
1692     513.0
1693     513.0
Name: voters_participating, dtype: float64
1689     513.000000
1690     474.000000
1691    1325.000000
1692     513.000000
1693     513.000000
1694     513.000000
1695     513.000000
1696     685.782609
1697     513.000000
1698     513.000000
1699     513.000000
1700    1325.000000
1701    1172.000000
1702    1172.000000
1703     160.000000
1704    1172.000000
1705     513.000000
1706    1325.000000
1707     513.000000
1708     513.000000
1709     513.000000
1710     160.000000
1711    1172.000000
1712     160.000000
Name: voters_participating, dtype: float64
2.0
1689    2.0
1690    2.0
1691    2.0
1692    2.0
1693    2.0
Name: neighborhood_organizations, dtype: float64
1689    2.0
1690    2.0
1691    2.0
1692    2.0
1693    2.0
1694    2.0
1695    2.0
1696    2.0
1697    2.0
1698    2.0
1699    2.0
1700    2.0
1701    2.0
1702    2.0
1703    2.0
1704    2.0
1705    2.0
1706    2.0
1707    2.0
1708    2.0
1709    2.0
1710    2.0
1711    2.0
1712    2.0
Name: neighborhood_organizations, dtype: float64
34.34782608695652
1689    19.0
1690    44.0
1691    65.0
1692    19.0
1693    19.0
Name: voter_participation, dtype: float64
1689    19.000000
1690    44.000000
1691    65.000000
1692    19.000000
1693    19.000000
1694    19.000000
1695    19.000000
1696    34.347826
1697    19.000000
1698    19.000000
1699    19.000000
1700    65.000000
1701    71.000000
1702    71.000000
1703    13.000000
1704    71.000000
1705    19.000000
1706    65.000000
1707    19.000000
1708    19.000000
1709    19.000000
1710    13.000000
1711    71.000000
1712    13.000000
Name: voter_participation, dtype: float64
7.0
1689    7.0
1690    7.0
1691    7.0
1692    7.0
1693    7.0
Name: vacant_land, dtype: float64
1689    7.0
1690    7.0
1691    7.0
1692    7.0
1693    7.0
1694    7.0
1695    7.0
1696    7.0
1697    7.0
1698    7.0
1699    7.0
1700    7.0
1701    7.0
1702    7.0
1703    7.0
1704    7.0
1705    7.0
1706    7.0
1707    7.0
1708    7.0
1709    7.0
1710    7.0
1711    7.0
1712    7.0
Name: vacant_land, dtype: float64
7.045454545454546
1689    8.000000
1690    7.045455
1691    8.000000
1692    8.000000
1693    8.000000
Name: population_density, dtype: float64
1689    8.000000
1690    7.045455
1691    8.000000
1692    8.000000
1693    8.000000
1694    8.000000
1695    8.000000
1696    7.045455
1697    8.000000
1698    8.000000
1699    8.000000
1700    8.000000
1701    5.000000
1702    5.000000
1703    5.000000
1704    5.000000
1705    8.000000
1706    8.000000
1707    8.000000
1708    8.000000
1709    8.000000
1710    5.000000
1711    5.000000
1712    5.000000
Name: population_density, dtype: float64
2738.0
1689    3045.0
1690    2738.0
1691    3079.0
1692    3045.0
1693    3045.0
Name: population, dtype: float64
1689    3045.0
1690    2738.0
1691    3079.0
1692    3045.0
1693    3045.0
1694    3045.0
1695    3045.0
1696    2738.0
1697    3045.0
1698    3045.0
1699    3045.0
1700    3079.0
1701    2075.0
1702    2075.0
1703    2053.0
1704    2075.0
1705    3045.0
1706    3079.0
1707    3045.0
1708    3045.0
1709    3045.0
1710    2053.0
1711    2075.0
1712    2053.0
Name: population, dtype: float64

273.0
1689    273.0
1690    273.0
1691    273.0
1692    273.0
1693    273.0
Name: transit_ridership, dtype: float64
1689    273.0
1690    273.0
1691    273.0
1692    273.0
1693    273.0
1694    273.0
1695    273.0
1696    273.0
1697    273.0
1698    273.0
1699    273.0
1700    273.0
1701    273.0
1702    273.0
1703    273.0
1704    273.0
1705    273.0
1706    273.0
1707    273.0
1708    273.0
1709    273.0
1710    273.0
1711    273.0
1712    273.0
Name: transit_ridership, dtype: float64
1.4899999999999993
1689    1.49
1690    1.49
1691    1.49
1692    1.49
1693    1.49
Name: street_connectivity, dtype: float64
1689    1.49
1690    1.49
1691    1.49
1692    1.49
1693    1.49
1694    1.49
1695    1.49
1696    1.49
1697    1.49
1698    1.49
1699    1.49
1700    1.49
1701    1.49
1702    1.49
1703    1.49
1704    1.49
1705    1.49
1706    1.49
1707    1.49
1708    1.49
1709    1.49
1710    1.49
1711    1.49
1712    1.49
Name: street_connectivity, dtype: float64
1.8999999999999992
1689    1.9
1690    1.9
1691    1.9
1692    1.9
1693    1.9
Name: bicycle_friendliness, dtype: float64
1689    1.9
1690    1.9
1691    1.9
1692    1.9
1693    1.9
1694    1.9
1695    1.9
1696    1.9
1697    1.9
1698    1.9
1699    1.9
1700    1.9
1701    1.9
1702    1.9
1703    1.9
1704    1.9
1705    1.9
1706    1.9
1707    1.9
1708    1.9
1709    1.9
1710    1.9
1711    1.9
1712    1.9
Name: bicycle_friendliness, dtype: float64
59.835
1713     80.90
1714     10.42
1715      0.92
1716    147.10
Name: Acres, dtype: float64
1713     80.90
1714     10.42
1715      0.92
1716    147.10
Name: Acres, dtype: float64
6.033333333333334
1713    7.500000
1714    7.500000
1715    6.033333
1716    3.100000
Name: births_to_adolescents, dtype: float64
1713    7.500000
1714    7.500000
1715    6.033333
1716    3.100000
Name: births_to_adolescents, dtype: float64
619.5
1713     460.0
1714     460.0
1715    1098.0
1716     460.0
Name: grocery_proximate_units, dtype: float64
1713     460.0
1714     460.0
1715    1098.0
1716     460.0
Name: grocery_proximate_units, dtype: float64
53.633333333333326
1713    53.800000
1714    53.800000
1715    53.633333
1716    53.300000
Name: prenatal_care, dtype: float64
1713    53.800000
1714    53.800000
1715    53.633333
1716    53.300000
Name: prenatal_care, dtype: float64
17.25
1713    13.0
1714    13.0
1715    30.0
1716    13.0
Name: grocery_proximity, dtype: float64
1713    13.0
1714    13.0
1715    30.0
1716    13.0
Name: grocery_proximity, dtype: float64
11.766666666666666
1713    13.300000
1714    13.300000
1715    11.766667
1716     8.700000
Name: low_birthweight, dtype: float64
1713    13.300000
1714    13.300000
1715    11.766667
1716     8.700000
Name: low_birthweight, dtype: float64
25.0
1713    25.0
1714    25.0
1715    25.0
1716    25.0
Name: public_health_insurance, dtype: float64
1713    25.0
1714    25.0
1715    25.0
1716    25.0
Name: public_health_insurance, dtype: float64
79.0
1713    79.0
1714    79.0
1715    79.0
1716    79.0
Name: age_of_death, dtype: float64
1713    79.0
1714    79.0
1715    79.0
1716    79.0
Name: age_of_death, dtype: float64
21.35
1713    21.35
1714    21.35
1715    21.60
1716    21.10
Name: impervious_surface, dtype: float64
1713    21.35
1714    21.35
1715    21.60
1716    21.10
Name: impervious_surface, dtype: float64
132.0
1713    133.0
1714    133.0
1715    128.0
1716    134.0
Name: water_consumption, dtype: float64
1713    133.0
1714    133.0
1715    128.0
1716    134.0
Name: water_consumption, dtype: float64
70.98666666666666
1713    71.580000
1714    71.580000
1715    70.986667
1716    69.800000
Name: neighborhood_school_attendance, dtype: float64
1713    71.580000
1714    71.580000
1715    70.986667
1716    69.800000
Name: neighborhood_school_attendance, dtype: float64
76.33333333333333
1713    72.000000
1714    72.000000
1715    76.333333
1716    85.000000
Name: highschool_graduation_rate, dtype: float64
1713    72.000000
1714    72.000000
1715    76.333333
1716    85.000000
Name: highschool_graduation_rate, dtype: float64
38.11335456475584
1713    38.535032
1714    38.535032
1715    38.113355
1716    37.270000
Name: proficiency_elementary_school, dtype: float64
1713    38.535032
1714    38.535032
1715    38.113355
1716    37.270000
Name: proficiency_elementary_school, dtype: float64
30.97843137254902
1713    31.617647
1714    31.617647
1715    30.978431
1716    29.700000
Name: proficiency_middle_school, dtype: float64
1713    31.617647
1714    31.617647
1715    30.978431
1716    29.700000
Name: proficiency_middle_school, dtype: float64
33.99473684210526
1713    36.842105
1714    36.842105
1715    33.994737
1716    28.300000
Name: proficiency_high_school, dtype: float64
1713    36.842105
1714    36.842105
1715    33.994737
1716    28.300000
Name: proficiency_high_school, dtype: float64
11.675906183368872
1713    11.513859
1714    11.513859
1715    11.675906
1716    12.000000
Name: student_absenteeism, dtype: float64
1713    11.513859
1714    11.513859
1715    11.675906
1716    12.000000
Name: student_absenteeism, dtype: float64
1930.0
1713    1573.0
1714    1573.0
1715    1818.0
1716    2756.0
Name: voters_participating, dtype: float64
1713    1573.0
1714    1573.0
1715    1818.0
1716    2756.0
Name: voters_participating, dtype: float64
1.0
1713    1.0
1714    1.0
1715    1.0
1716    1.0
Name: neighborhood_organizations, dtype: float64
1713    1.0
1714    1.0
1715    1.0
1716    1.0
Name: neighborhood_organizations, dtype: float64
56.5
1713    50.0
1714    50.0
1715    56.0
1716    70.0
Name: voter_participation, dtype: float64
1713    50.0
1714    50.0
1715    56.0
1716    70.0
Name: voter_participation, dtype: float64
1.1
1713    1.1
1714    1.1
1715    1.1
1716    1.1
Name: vacant_land, dtype: float64
1713    1.1
1714    1.1
1715    1.1
1716    1.1
Name: vacant_land, dtype: float64
9.0
1713    9.0
1714    9.0
1715    9.0
1716    9.0
Name: population_density, dtype: float64
1713    9.0
1714    9.0
1715    9.0
1716    9.0
Name: population_density, dtype: float64
9583.0
1713    9583.0
1714    9583.0
1715    9742.0
1716    9424.0
Name: population, dtype: float64
1713    9583.0
1714    9583.0
1715    9742.0
1716    9424.0
Name: population, dtype: float64
93.0
1713    93.0
1714    93.0
1715    93.0
1716    93.0
Name: transit_ridership, dtype: float64
1713    93.0
1714    93.0
1715    93.0
1716    93.0
Name: transit_ridership, dtype: float64
1.255
1713    1.255
1714    1.255
1715    1.250
1716    1.260
Name: street_connectivity, dtype: float64
1713    1.255
1714    1.255
1715    1.250
1716    1.260
Name: street_connectivity, dtype: float64
1.95
1713    1.95
1714    1.95
1715    1.90
1716    2.00
Name: bicycle_friendliness, dtype: float64
1713    1.95
1714    1.95
1715    1.90
1716    2.00
Name: bicycle_friendliness, dtype: float64
4.758
1717    11.15
1718    11.15
1719     0.38
1720     0.39
1721     0.72
Name: Acres, dtype: float64
1717    11.15
1718    11.15
1719     0.38
1720     0.39
1721     0.72
Name: Acres, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: births_to_adolescents, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: births_to_adolescents, dtype: float64
0.0
1717    0.0
1718    0.0
1719    0.0
1720    0.0
1721    0.0
Name: grocery_proximate_units, dtype: float64
1717    0.0
1718    0.0
1719    0.0
1720    0.0
1721    0.0
Name: grocery_proximate_units, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: prenatal_care, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: prenatal_care, dtype: float64
0.0
1717    0.0
1718    0.0
1719    0.0
1720    0.0
1721    0.0
Name: grocery_proximity, dtype: float64
1717    0.0
1718    0.0
1719    0.0
1720    0.0
1721    0.0
Name: grocery_proximity, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: low_birthweight, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: low_birthweight, dtype: float64
18.0
1717    18.0
1718    18.0
1719    18.0
1720    18.0
1721    18.0
Name: public_health_insurance, dtype: float64
1717    18.0
1718    18.0
1719    18.0
1720    18.0
1721    18.0
Name: public_health_insurance, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: age_of_death, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: age_of_death, dtype: float64
28.0
1717    28.0
1718    28.0
1719    28.1
1720    27.8
1721    28.1
Name: impervious_surface, dtype: float64
1717    28.0
1718    28.0
1719    28.1
1720    27.8
1721    28.1
Name: impervious_surface, dtype: float64
95.0
1717    95.0
1718    95.0
1719    95.0
1720    95.0
1721    95.0
Name: water_consumption, dtype: float64
1717    95.0
1718    95.0
1719    95.0
1720    95.0
1721    95.0
Name: water_consumption, dtype: float64
65.0
1717    65.0
1718    65.0
1719    65.0
1720    65.0
1721    65.0
Name: neighborhood_school_attendance, dtype: float64
1717    65.0
1718    65.0
1719    65.0
1720    65.0
1721    65.0
Name: neighborhood_school_attendance, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: highschool_graduation_rate, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: highschool_graduation_rate, dtype: float64
32.4

1717    32.4
1718    32.4
1719    32.4
1720    32.4
1721    32.4
Name: proficiency_elementary_school, dtype: float64
1717    32.4
1718    32.4
1719    32.4
1720    32.4
1721    32.4
Name: proficiency_elementary_school, dtype: float64
28.0
1717    28.0
1718    28.0
1719    28.0
1720    28.0
1721    28.0
Name: proficiency_middle_school, dtype: float64
1717    28.0
1718    28.0
1719    28.0
1720    28.0
1721    28.0
Name: proficiency_middle_school, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: proficiency_high_school, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: proficiency_high_school, dtype: float64
7.0
1717    7.0
1718    7.0
1719    7.0
1720    7.0
1721    7.0
Name: student_absenteeism, dtype: float64
1717    7.0
1718    7.0
1719    7.0
1720    7.0
1721    7.0
Name: student_absenteeism, dtype: float64
402.3333333333333
1717    402.333333
1718    402.333333
1719    512.000000
1720    183.000000
1721    512.000000
Name: voters_participating, dtype: float64
1717    402.333333
1718    402.333333
1719    512.000000
1720    183.000000
1721    512.000000
Name: voters_participating, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: neighborhood_organizations, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: neighborhood_organizations, dtype: float64
47.0
1717    47.0
1718    47.0
1719    62.0
1720    17.0
1721    62.0
Name: voter_participation, dtype: float64
1717    47.0
1718    47.0
1719    62.0
1720    17.0
1721    62.0
Name: voter_participation, dtype: float64
6.0
1717    6.0
1718    6.0
1719    6.0
1720    6.0
1721    6.0
Name: vacant_land, dtype: float64
1717    6.0
1718    6.0
1719    6.0
1720    6.0
1721    6.0
Name: vacant_land, dtype: float64
6.0
1717    6.0
1718    6.0
1719    6.0
1720    6.0
1721    6.0
Name: population_density, dtype: float64
1717    6.0
1718    6.0
1719    6.0
1720    6.0
1721    6.0
Name: population_density, dtype: float64
1525.3333333333333
1717    1525.333333
1718    1525.333333
1719    1537.000000
1720    1502.000000
1721    1537.000000
Name: population, dtype: float64
1717    1525.333333
1718    1525.333333
1719    1537.000000
1720    1502.000000
1721    1537.000000
Name: population, dtype: float64
nan
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: transit_ridership, dtype: float64
1717   -1.0
1718   -1.0
1719   -1.0
1720   -1.0
1721   -1.0
Name: transit_ridership, dtype: float64
1.2
1717    1.2
1718    1.2
1719    1.2
1720    1.2
1721    1.2
Name: street_connectivity, dtype: float64
1717    1.2
1718    1.2
1719    1.2
1720    1.2
1721    1.2
Name: street_connectivity, dtype: float64
1.7
1717    1.7
1718    1.7
1719    1.7
1720    1.7
1721    1.7
Name: bicycle_friendliness, dtype: float64
1717    1.7
1718    1.7
1719    1.7
1720    1.7
1721    1.7
Name: bicycle_friendliness, dtype: float64
1.572125
1722    0.422
1723    1.210
1724    1.118
1725    0.364
1726    0.623
Name: Acres, dtype: float64
1722    0.422
1723    1.210
1724    1.118
1725    0.364
1726    0.623
1727    1.210
1728    4.620
1729    3.010
Name: Acres, dtype: float64
0.0
1722    0.0
1723    0.0
1724    0.0
1725    0.0
1726    0.0
Name: births_to_adolescents, dtype: float64
1722    0.0
1723    0.0
1724    0.0
1725    0.0
1726    0.0
1727    0.0
1728    0.0
1729    0.0
Name: births_to_adolescents, dtype: float64
1635.2857142857142
1722    2217.000000
1723    2133.000000
1724    1635.285714
1725    1259.000000
1726    1259.000000
Name: grocery_proximate_units, dtype: float64
1722    2217.000000
1723    2133.000000
1724    1635.285714
1725    1259.000000
1726    1259.000000
1727    2133.000000
1728    1187.000000
1729    1259.000000
Name: grocery_proximate_units, dtype: float64
89.5
1722    84.9
1723    91.8
1724    89.5
1725    89.5
1726    89.5
Name: prenatal_care, dtype: float64
1722    84.9
1723    91.8
1724    89.5
1725    89.5
1726    89.5
1727    91.8
1728    89.5
1729    89.5
Name: prenatal_care, dtype: float64
39.42857142857143
1722    54.000000
1723    53.000000
1724    39.428571
1725    29.000000
1726    29.000000
Name: grocery_proximity, dtype: float64
1722    54.000000
1723    53.000000
1724    39.428571
1725    29.000000
1726    29.000000
1727    53.000000
1728    29.000000
1729    29.000000
Name: grocery_proximity, dtype: float64
5.066666666666666
1722    6.600000
1723    4.300000
1724    5.066667
1725    5.066667
1726    5.066667
Name: low_birthweight, dtype: float64
1722    6.600000
1723    4.300000
1724    5.066667
1725    5.066667
1726    5.066667
1727    4.300000
1728    5.066667
1729    5.066667
Name: low_birthweight, dtype: float64
1.0
1722    1.0
1723    1.0
1724    1.0
1725    1.0
1726    1.0
Name: public_health_insurance, dtype: float64
1722    1.0
1723    1.0
1724    1.0
1725    1.0
1726    1.0
1727    1.0
1728    1.0
1729    1.0
Name: public_health_insurance, dtype: float64
78.33333333333333
1722    79.000000
1723    78.000000
1724    78.333333
1725    78.333333
1726    78.333333
Name: age_of_death, dtype: float64
1722    79.000000
1723    78.000000
1724    78.333333
1725    78.333333
1726    78.333333
1727    78.000000
1728    78.333333
1729    78.333333
Name: age_of_death, dtype: float64
27.8
1722    27.6
1723    27.8
1724    27.8
1725    27.8
1726    27.8
Name: impervious_surface, dtype: float64
1722    27.6
1723    27.8
1724    27.8
1725    27.8
1726    27.8
1727    27.8
1728    28.0
1729    27.8
Name: impervious_surface, dtype: float64
246.0
1722    269.0
1723    236.0
1724    246.0
1725    246.0
1726    246.0
Name: water_consumption, dtype: float64
1722    269.0
1723    236.0
1724    246.0
1725    246.0
1726    246.0
1727    236.0
1728    243.0
1729    246.0
Name: water_consumption, dtype: float64
85.63333333333333
1722    85.600000
1723    83.600000
1724    85.633333
1725    87.000000
1726    87.000000
Name: neighborhood_school_attendance, dtype: float64
1722    85.600000
1723    83.600000
1724    85.633333
1725    87.000000
1726    87.000000
1727    83.600000
1728    85.633333
1729    87.000000
Name: neighborhood_school_attendance, dtype: float64
98.66666666666667
1722     96.000000
1723     98.000000
1724     98.666667
1725    100.000000
1726    100.000000
Name: highschool_graduation_rate, dtype: float64
1722     96.000000
1723     98.000000
1724     98.666667
1725    100.000000
1726    100.000000
1727     98.000000
1728     98.666667
1729    100.000000
Name: highschool_graduation_rate, dtype: float64
91.16914893617023
1722    90.000000
1723    90.957447
1724    91.169149
1725    91.700000
1726    91.700000
Name: proficiency_elementary_school, dtype: float64
1722    90.000000
1723    90.957447
1724    91.169149
1725    91.700000
1726    91.700000
1727    90.957447
1728    91.169149
1729    91.700000
Name: proficiency_elementary_school, dtype: float64
85.33752913752915
1722    84.000000
1723    87.412587
1724    85.337529
1725    84.400000
1726    84.400000
Name: proficiency_middle_school, dtype: float64
1722    84.000000
1723    87.412587
1724    85.337529
1725    84.400000
1726    84.400000
1727    87.412587
1728    85.337529
1729    84.400000
Name: proficiency_middle_school, dtype: float64
85.97716049382716
1722    76.000000
1723    81.481481
1724    85.977160
1725    92.300000
1726    92.300000
Name: proficiency_high_school, dtype: float64
1722    76.000000
1723    81.481481
1724    85.977160
1725    92.300000
1726    92.300000
1727    81.481481
1728    85.977160
1729    92.300000
Name: proficiency_high_school, dtype: float64
3.1952191235059764
1722    3.000000
1723    3.585657
1724    3.195219
1725    3.000000
1726    3.000000
Name: student_absenteeism, dtype: float64
1722    3.000000
1723    3.585657
1724    3.195219
1725    3.000000
1726    3.000000
1727    3.585657
1728    3.195219
1729    3.000000
Name: student_absenteeism, dtype: float64
3896.1428571428573
1722    5717.000000
1723    3843.000000
1724    3896.142857
1725    3005.000000
1726    3005.000000
Name: voters_participating, dtype: float64
1722    5717.000000
1723    3843.000000
1724    3896.142857
1725    3005.000000
1726    3005.000000
1727    3843.000000
1728    4855.000000
1729    3005.000000
Name: voters_participating, dtype: float64
4.0
1722    4.0
1723    4.0
1724    4.0
1725    4.0
1726    4.0
Name: neighborhood_organizations, dtype: float64
1722    4.0
1723    4.0
1724    4.0
1725    4.0
1726    4.0
1727    4.0
1728    4.0
1729    4.0
Name: neighborhood_organizations, dtype: float64
60.42857142857143
1722    84.000000
1723    66.000000
1724    60.428571
1725    43.000000
1726    43.000000
Name: voter_participation, dtype: float64
1722    84.000000
1723    66.000000
1724    60.428571
1725    43.000000
1726    43.000000
1727    66.000000
1728    78.000000
1729    43.000000
Name: voter_participation, dtype: float64
1.4
1722    1.4
1723    1.4
1724    1.4
1725    1.4
1726    1.4
Name: vacant_land, dtype: float64
1722    1.4
1723    1.4
1724    1.4
1725    1.4
1726    1.4
1727    1.4
1728    1.4
1729    1.4
Name: vacant_land, dtype: float64
7.0
1722    7.0
1723    7.0
1724    7.0
1725    7.0
1726    7.0
Name: population_density, dtype: float64
1722    7.0
1723    7.0
1724    7.0
1725    7.0
1726    7.0
1727    7.0
1728    7.0
1729    7.0
Name: population_density, dtype: float64
10280.4
1722    10154.0
1723    10280.4
1724    10280.4
1725    10197.0
1726    10197.0
Name: population, dtype: float64
1722    10154.0
1723    10280.4
1724    10280.4
1725    10197.0
1726    10197.0
1727    10280.4
1728    10657.0
1729    10197.0
Name: population, dtype: float64
19.0
1722    19.0
1723    19.0
1724    19.0
1725    19.0
1726    19.0
Name: transit_ridership, dtype: float64
1722    19.0
1723    19.0
1724    19.0
1725    19.0
1726    19.0
1727    19.0
1728    19.0
1729    19.0
Name: transit_ridership, dtype: float64
1.44
1722    1.44
1723    1.44
1724    1.44
1725    1.44
1726    1.44
Name: street_connectivity, dtype: float64
1722    1.44
1723    1.44
1724    1.44
1725    1.44
1726    1.44
1727    1.44
1728    1.44
1729    1.44
Name: street_connectivity, dtype: float64
1.98
1722    1.90
1723    1.98
1724    1.98
1725    2.00
1726    2.00
Name: bicycle_friendliness, dtype: float64
1722    1.90
1723    1.98
1724    1.98
1725    2.00
1726    2.00
1727    1.98
1728    2.00
1729    2.00
Name: bicycle_friendliness, dtype: float64
2.573526315789474
1730     0.82
1731     0.82
1732    10.70
1733     0.39
1734     3.60
Name: Acres, dtype: float64
1730     0.820
1731     0.820
1732    10.700
1733     0.390
1734     3.600
1735     0.047
1736     2.470
1737     1.310
1738     1.570
1739     9.070
1740     1.310
1741     1.680
1742     0.310
1743     5.000
1744     3.600
1745     1.580
1746     2.170
1747     1.570
1748     0.880
Name: Acres, dtype: float64
0.3333333333333333
1730    0.333333
1731    0.333333
1732    0.333333
1733    0.000000
1734    0.333333
Name: births_to_adolescents, dtype: float64
1730    0.333333
1731    0.333333
1732    0.333333
1733    0.000000
1734    0.333333
1735    0.333333
1736    0.000000
1737    0.600000
1738    0.000000
1739    0.600000
1740    0.600000
1741    0.600000
1742    0.333333
1743    0.000000
1744    0.333333
1745    0.600000
1746    0.333333
1747    0.333333
1748    0.333333
Name: births_to_adolescents, dtype: float64
1557.8125
1730    1714.0000
1731    1655.0000
1732    1502.0000
1733    1378.0000
1734    1557.8125
Name: grocery_proximate_units, dtype: float64
1730    1714.0000
1731    1655.0000
1732    1502.0000
1733    1378.0000
1734    1557.8125
1735    1502.0000
1736    1378.0000
1737    1622.0000
1738    1378.0000
1739    1622.0000
1740    1622.0000
1741    1622.0000
1742    1557.8125
1743    1378.0000
1744    1557.8125
1745    1622.0000
1746    1502.0000
1747    1714.0000
1748    1714.0000
Name: grocery_proximate_units, dtype: float64
76.07777777777777
1730    76.077778
1731    76.077778
1732    76.077778
1733    71.300000
1734    76.077778
Name: prenatal_care, dtype: float64
1730    76.077778
1731    76.077778
1732    76.077778
1733    71.300000
1734    76.077778
1735    76.077778
1736    71.300000
1737    79.900000
1738    71.300000
1739    79.900000
1740    79.900000
1741    79.900000
1742    76.077778
1743    71.300000
1744    76.077778
1745    79.900000
1746    76.077778
1747    76.077778
1748    76.077778
Name: prenatal_care, dtype: float64
56.3125
1730    65.0000
1731    65.0000
1732    54.0000
1733    51.0000
1734    56.3125
Name: grocery_proximity, dtype: float64
1730    65.0000
1731    65.0000
1732    54.0000
1733    51.0000
1734    56.3125
1735    54.0000
1736    51.0000
1737    55.0000
1738    51.0000
1739    55.0000
1740    55.0000
1741    55.0000
1742    56.3125
1743    51.0000
1744    56.3125
1745    55.0000
1746    54.0000
1747    65.0000
1748    65.0000
Name: grocery_proximity, dtype: float64
8.555555555555555
1730    8.555556
1731    8.555556
1732    8.555556
1733    7.500000
1734    8.555556
Name: low_birthweight, dtype: float64
1730    8.555556
1731    8.555556
1732    8.555556
1733    7.500000
1734    8.555556
1735    8.555556
1736    7.500000
1737    9.400000
1738    7.500000
1739    9.400000
1740    9.400000
1741    9.400000
1742    8.555556
1743    7.500000
1744    8.555556
1745    9.400000
1746    8.555556
1747    8.555556
1748    8.555556
Name: low_birthweight, dtype: float64
8.444444444444445
1730    8.444444
1731    9.000000
1732    9.000000
1733    8.444444
1734    8.444444
Name: public_health_insurance, dtype: float64
1730    8.444444
1731    9.000000
1732    9.000000
1733    8.444444
1734    8.444444
1735    9.000000
1736    8.444444
1737    8.000000
1738    8.444444
1739    8.000000
1740    8.000000
1741    8.000000
1742    8.444444
1743    8.444444
1744    8.444444
1745    8.000000
1746    9.000000
1747    8.444444
1748    8.444444
Name: public_health_insurance, dtype: float64
73.22222222222223

1730    73.222222
1731    73.222222
1732    73.222222
1733    71.000000
1734    73.222222
Name: age_of_death, dtype: float64
1730    73.222222
1731    73.222222
1732    73.222222
1733    71.000000
1734    73.222222
1735    73.222222
1736    71.000000
1737    75.000000
1738    71.000000
1739    75.000000
1740    75.000000
1741    75.000000
1742    73.222222
1743    71.000000
1744    73.222222
1745    75.000000
1746    73.222222
1747    73.222222
1748    73.222222
Name: age_of_death, dtype: float64
29.11818181818182
1730    29.300000
1731    29.400000
1732    29.000000
1733    29.000000
1734    29.118182
Name: impervious_surface, dtype: float64
1730    29.300000
1731    29.400000
1732    29.000000
1733    29.000000
1734    29.118182
1735    29.000000
1736    29.000000
1737    29.118182
1738    29.000000
1739    29.118182
1740    29.118182
1741    29.118182
1742    29.118182
1743    29.000000
1744    29.118182
1745    29.118182
1746    29.000000
1747    29.300000
1748    29.300000
Name: impervious_surface, dtype: float64
117.83333333333333
1730    111.000000
1731    117.833333
1732    117.833333
1733    119.000000
1734    117.833333
Name: water_consumption, dtype: float64
1730    111.000000
1731    117.833333
1732    117.833333
1733    119.000000
1734    117.833333
1735    117.833333
1736    119.000000
1737    121.000000
1738    119.000000
1739    121.000000
1740    121.000000
1741    121.000000
1742    117.833333
1743    119.000000
1744    117.833333
1745    121.000000
1746    117.833333
1747    111.000000
1748    111.000000
Name: water_consumption, dtype: float64
53.892307692307696
1730    53.892308
1731    53.000000
1732    54.150000
1733    51.500000
1734    53.892308
Name: neighborhood_school_attendance, dtype: float64
1730    53.892308
1731    53.000000
1732    54.150000
1733    51.500000
1734    53.892308
1735    54.150000
1736    51.500000
1737    55.830000
1738    51.500000
1739    55.830000
1740    55.830000
1741    55.830000
1742    53.892308
1743    51.500000
1744    53.892308
1745    55.830000
1746    54.150000
1747    53.892308
1748    53.892308
Name: neighborhood_school_attendance, dtype: float64
87.53846153846153
1730    87.538462
1731    94.000000
1732    86.000000
1733    84.000000
1734    87.538462
Name: highschool_graduation_rate, dtype: float64
1730    87.538462
1731    94.000000
1732    86.000000
1733    84.000000
1734    87.538462
1735    86.000000
1736    84.000000
1737    90.000000
1738    84.000000
1739    90.000000
1740    90.000000
1741    90.000000
1742    87.538462
1743    84.000000
1744    87.538462
1745    90.000000
1746    86.000000
1747    87.538462
1748    87.538462
Name: highschool_graduation_rate, dtype: float64
53.313117179849854
1730    53.313117
1731    48.300000
1732    53.571429
1733    55.420000
1734    53.313117
Name: proficiency_elementary_school, dtype: float64
1730    53.313117
1731    48.300000
1732    53.571429
1733    55.420000
1734    53.313117
1735    53.571429
1736    55.420000
1737    52.475248
1738    55.420000
1739    52.475248
1740    52.475248
1741    52.475248
1742    53.313117
1743    55.420000
1744    53.313117
1745    52.475248
1746    53.571429
1747    53.313117
1748    53.313117
Name: proficiency_elementary_school, dtype: float64
44.39266968325792
1730    44.39267
1731    49.10000
1732    32.88000
1733    54.40000
1734    44.39267
Name: proficiency_middle_school, dtype: float64
1730    44.392670
1731    49.100000
1732    32.880000
1733    54.400000
1734    44.392670
1735    32.880000
1736    54.400000
1737    42.352941
1738    54.400000
1739    42.352941
1740    42.352941
1741    42.352941
1742    44.392670
1743    54.400000
1744    44.392670
1745    42.352941
1746    32.880000
1747    44.392670
1748    44.392670
Name: proficiency_middle_school, dtype: float64
46.69798534798535
1730    46.697985
1731    53.900000
1732    54.550000
1733    20.000000
1734    46.697985
Name: proficiency_high_school, dtype: float64
1730    46.697985
1731    53.900000
1732    54.550000
1733    20.000000
1734    46.697985
1735    54.550000
1736    20.000000
1737    61.904762
1738    20.000000
1739    61.904762
1740    61.904762
1741    61.904762
1742    46.697985
1743    20.000000
1744    46.697985
1745    61.904762
1746    54.550000
1747    46.697985
1748    46.697985
Name: proficiency_high_school, dtype: float64
10.255540382410922
1730    10.255540
1731    11.000000
1732    10.781671
1733    11.000000
1734    10.255540
Name: student_absenteeism, dtype: float64
1730    10.255540
1731    11.000000
1732    10.781671
1733    11.000000
1734    10.255540
1735    10.781671
1736    11.000000
1737     9.195402
1738    11.000000
1739     9.195402
1740     9.195402
1741     9.195402
1742    10.255540
1743    11.000000
1744    10.255540
1745     9.195402
1746    10.781671
1747    10.255540
1748    10.255540
Name: student_absenteeism, dtype: float64
1949.0625
1730    2410.0000
1731    1104.0000
1732     759.0000
1733    3051.0000
1734    1949.0625
Name: voters_participating, dtype: float64
1730    2410.0000
1731    1104.0000
1732     759.0000
1733    3051.0000
1734    1949.0625
1735     759.0000
1736    3051.0000
1737    1674.0000
1738    3051.0000
1739    1674.0000
1740    1674.0000
1741    1674.0000
1742    1949.0625
1743    3051.0000
1744    1949.0625
1745    1674.0000
1746     759.0000
1747    2410.0000
1748    2410.0000
Name: voters_participating, dtype: float64
3.0
1730    3.0
1731    3.0
1732    3.0
1733    3.0
1734    3.0
Name: neighborhood_organizations, dtype: float64
1730    3.0
1731    3.0
1732    3.0
1733    3.0
1734    3.0
1735    3.0
1736    3.0
1737    3.0
1738    3.0
1739    3.0
1740    3.0
1741    3.0
1742    3.0
1743    3.0
1744    3.0
1745    3.0
1746    3.0
1747    3.0
1748    3.0
Name: neighborhood_organizations, dtype: float64
54.625
1730    66.000
1731    25.000
1732    23.000
1733    78.000
1734    54.625
Name: voter_participation, dtype: float64
1730    66.000
1731    25.000
1732    23.000
1733    78.000
1734    54.625
1735    23.000
1736    78.000
1737    54.000
1738    78.000
1739    54.000
1740    54.000
1741    54.000
1742    54.625
1743    78.000
1744    54.625
1745    54.000
1746    23.000
1747    66.000
1748    66.000
Name: voter_participation, dtype: float64
0.5999999999999999
1730    0.6
1731    0.6
1732    0.6
1733    0.6
1734    0.6
Name: vacant_land, dtype: float64
1730    0.6
1731    0.6
1732    0.6
1733    0.6
1734    0.6
1735    0.6
1736    0.6
1737    0.6
1738    0.6
1739    0.6
1740    0.6
1741    0.6
1742    0.6
1743    0.6
1744    0.6
1745    0.6
1746    0.6
1747    0.6
1748    0.6
Name: vacant_land, dtype: float64
5.636363636363637
1730    5.000000
1731    5.000000
1732    6.000000
1733    6.000000
1734    5.636364
Name: population_density, dtype: float64
1730    5.000000
1731    5.000000
1732    6.000000
1733    6.000000
1734    5.636364
1735    6.000000
1736    6.000000
1737    5.636364
1738    6.000000
1739    5.636364
1740    5.636364
1741    5.636364
1742    5.636364
1743    6.000000
1744    5.636364
1745    5.636364
1746    6.000000
1747    5.000000
1748    5.000000
Name: population_density, dtype: float64
5576.454545454545
1730    5476.000000
1731    5477.000000
1732    5788.000000
1733    5518.000000
1734    5576.454545
Name: population, dtype: float64
1730    5476.000000
1731    5477.000000
1732    5788.000000
1733    5518.000000
1734    5576.454545
1735    5788.000000
1736    5518.000000
1737    5576.454545
1738    5518.000000
1739    5576.454545
1740    5576.454545
1741    5576.454545
1742    5576.454545
1743    5518.000000
1744    5576.454545
1745    5576.454545
1746    5788.000000
1747    5476.000000
1748    5476.000000
Name: population, dtype: float64
25.125
1730    25.125
1731    25.125
1732    22.000
1733    25.125
1734    25.125
Name: transit_ridership, dtype: float64
1730    25.125
1731    25.125
1732    22.000
1733    25.125
1734    25.125
1735    22.000
1736    25.125
1737    27.000
1738    25.125
1739    27.000
1740    27.000
1741    27.000
1742    25.125
1743    25.125
1744    25.125
1745    27.000
1746    22.000
1747    25.125
1748    25.125
Name: transit_ridership, dtype: float64
1.3499999999999999
1730    1.35
1731    1.35
1732    1.35
1733    1.35
1734    1.35
Name: street_connectivity, dtype: float64
1730    1.35
1731    1.35
1732    1.35
1733    1.35
1734    1.35
1735    1.35
1736    1.35
1737    1.35
1738    1.35
1739    1.35
1740    1.35
1741    1.35
1742    1.35
1743    1.35
1744    1.35
1745    1.35
1746    1.35
1747    1.35
1748    1.35
Name: street_connectivity, dtype: float64
1.936363636363636
1730    1.900000
1731    1.900000
1732    1.900000
1733    2.000000
1734    1.936364
Name: bicycle_friendliness, dtype: float64
1730    1.900000
1731    1.900000
1732    1.900000
1733    2.000000
1734    1.936364
1735    1.900000
1736    2.000000
1737    1.936364
1738    2.000000
1739    1.936364
1740    1.936364
1741    1.936364
1742    1.936364
1743    2.000000
1744    1.936364
1745    1.936364
1746    1.900000
1747    1.900000
1748    1.900000
Name: bicycle_friendliness, dtype: float64
1.5056666666666667
1749    0.770
1750    0.437
1751    3.310
Name: Acres, dtype: float64
1749    0.770
1750    0.437
1751    3.310
Name: Acres, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: births_to_adolescents, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: births_to_adolescents, dtype: float64
429.5
1749    490.0
1750    429.5
1751    369.0
Name: grocery_proximate_units, dtype: float64
1749    490.0
1750    429.5
1751    369.0
Name: grocery_proximate_units, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: prenatal_care, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: prenatal_care, dtype: float64
34.0
1749    34.0
1750    34.0
1751    34.0
Name: grocery_proximity, dtype: float64
1749    34.0
1750    34.0
1751    34.0
Name: grocery_proximity, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: low_birthweight, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: low_birthweight, dtype: float64
17.0
1749    17.0
1750    17.0
1751    17.0
Name: public_health_insurance, dtype: float64
1749    17.0
1750    17.0
1751    17.0
Name: public_health_insurance, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: age_of_death, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: age_of_death, dtype: float64
24.2
1749    24.2
1750    24.2
1751    24.2
Name: impervious_surface, dtype: float64
1749    24.2
1750    24.2
1751    24.2
Name: impervious_surface, dtype: float64
125.0
1749    125.0
1750    125.0
1751    125.0
Name: water_consumption, dtype: float64
1749    125.0
1750    125.0
1751    125.0
Name: water_consumption, dtype: float64
86.0
1749    86.0
1750    86.0
1751    86.0
Name: neighborhood_school_attendance, dtype: float64
1749    86.0
1750    86.0
1751    86.0
Name: neighborhood_school_attendance, dtype: float64
79.0
1749    79.0
1750    79.0
1751    79.0
Name: highschool_graduation_rate, dtype: float64
1749    79.0
1750    79.0
1751    79.0
Name: highschool_graduation_rate, dtype: float64
44.6
1749    44.6
1750    44.6
1751    44.6
Name: proficiency_elementary_school, dtype: float64
1749    44.6
1750    44.6
1751    44.6
Name: proficiency_elementary_school, dtype: float64
40.6
1749    40.6
1750    40.6
1751    40.6
Name: proficiency_middle_school, dtype: float64
1749    40.6
1750    40.6
1751    40.6
Name: proficiency_middle_school, dtype: float64
47.4
1749    47.4
1750    47.4
1751    47.4
Name: proficiency_high_school, dtype: float64
1749    47.4
1750    47.4
1751    47.4
Name: proficiency_high_school, dtype: float64
8.0
1749    8.0
1750    8.0
1751    8.0
Name: student_absenteeism, dtype: float64
1749    8.0
1750    8.0
1751    8.0
Name: student_absenteeism, dtype: float64
721.5
1749    984.0
1750    721.5
1751    459.0
Name: voters_participating, dtype: float64
1749    984.0
1750    721.5
1751    459.0
Name: voters_participating, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: neighborhood_organizations, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: neighborhood_organizations, dtype: float64
45.0
1749    65.0
1750    45.0
1751    25.0
Name: voter_participation, dtype: float64
1749    65.0
1750    45.0
1751    25.0
Name: voter_participation, dtype: float64
7.5
1749    7.5
1750    7.5
1751    7.5
Name: vacant_land, dtype: float64
1749    7.5
1750    7.5
1751    7.5
Name: vacant_land, dtype: float64
7.0
1749    7.0
1750    7.0
1751    7.0
Name: population_density, dtype: float64
1749    7.0
1750    7.0
1751    7.0
Name: population_density, dtype: float64
2930.5
1749    2931.0
1750    2930.5
1751    2930.0
Name: population, dtype: float64
1749    2931.0
1750    2930.5
1751    2930.0
Name: population, dtype: float64
nan
1749   -1.0
1750   -1.0
1751   -1.0
Name: transit_ridership, dtype: float64
1749   -1.0
1750   -1.0
1751   -1.0
Name: transit_ridership, dtype: float64
1.17
1749    1.17
1750    1.17
1751    1.17
Name: street_connectivity, dtype: float64
1749    1.17
1750    1.17
1751    1.17
Name: street_connectivity, dtype: float64
1.6
1749    1.6
1750    1.6
1751    1.6
Name: bicycle_friendliness, dtype: float64
1749    1.6
1750    1.6
1751    1.6
Name: bicycle_friendliness, dtype: float64
6.77
1752    6.77
Name: Acres, dtype: float64
1752    6.77
Name: Acres, dtype: float64
1.1
1752    1.1
Name: births_to_adolescents, dtype: float64
1752    1.1
Name: births_to_adolescents, dtype: float64
14.0
1752    14.0
Name: grocery_proximate_units, dtype: float64
1752    14.0
Name: grocery_proximate_units, dtype: float64
71.7
1752    71.7
Name: prenatal_care, dtype: float64
1752    71.7
Name: prenatal_care, dtype: float64
1.0
1752    1.0
Name: grocery_proximity, dtype: float64
1752    1.0
Name: grocery_proximity, dtype: float64
5.4
1752    5.4
Name: low_birthweight, dtype: float64
1752    5.4
Name: low_birthweight, dtype: float64
15.0
1752    15.0

Name: public_health_insurance, dtype: float64
1752    15.0
Name: public_health_insurance, dtype: float64
73.0
1752    73.0
Name: age_of_death, dtype: float64
1752    73.0
Name: age_of_death, dtype: float64
nan
1752   -1.0
Name: impervious_surface, dtype: float64
1752   -1.0
Name: impervious_surface, dtype: float64
126.0
1752    126.0
Name: water_consumption, dtype: float64
1752    126.0
Name: water_consumption, dtype: float64
84.34
1752    84.34
Name: neighborhood_school_attendance, dtype: float64
1752    84.34
Name: neighborhood_school_attendance, dtype: float64
100.0
1752    100.0
Name: highschool_graduation_rate, dtype: float64
1752    100.0
Name: highschool_graduation_rate, dtype: float64
61.36363636363637
1752    61.363636
Name: proficiency_elementary_school, dtype: float64
1752    61.363636
Name: proficiency_elementary_school, dtype: float64
35.41666666666667
1752    35.416667
Name: proficiency_middle_school, dtype: float64
1752    35.416667
Name: proficiency_middle_school, dtype: float64
40.0
1752    40.0
Name: proficiency_high_school, dtype: float64
1752    40.0
Name: proficiency_high_school, dtype: float64
10.0
1752    10.0
Name: student_absenteeism, dtype: float64
1752    10.0
Name: student_absenteeism, dtype: float64
855.0
1752    855.0
Name: voters_participating, dtype: float64
1752    855.0
Name: voters_participating, dtype: float64
nan
1752   -1.0
Name: neighborhood_organizations, dtype: float64
1752   -1.0
Name: neighborhood_organizations, dtype: float64
53.0
1752    53.0
Name: voter_participation, dtype: float64
1752    53.0
Name: voter_participation, dtype: float64
nan
1752   -1.0
Name: vacant_land, dtype: float64
1752   -1.0
Name: vacant_land, dtype: float64
nan
1752   -1.0
Name: population_density, dtype: float64
1752   -1.0
Name: population_density, dtype: float64
nan
1752   -1.0
Name: population, dtype: float64
1752   -1.0
Name: population, dtype: float64
4.0
1752    4.0
Name: transit_ridership, dtype: float64
1752    4.0
Name: transit_ridership, dtype: float64
nan
1752   -1.0
Name: street_connectivity, dtype: float64
1752   -1.0
Name: street_connectivity, dtype: float64
nan
1752   -1.0
Name: bicycle_friendliness, dtype: float64
1752   -1.0
Name: bicycle_friendliness, dtype: float64
3.5999999999999996
1753    3.78
1754    3.42
Name: Acres, dtype: float64
1753    3.78
1754    3.42
Name: Acres, dtype: float64
0.0
1753    0.0
1754    0.0
Name: births_to_adolescents, dtype: float64
1753    0.0
1754    0.0
Name: births_to_adolescents, dtype: float64
0.0
1753    0.0
1754    0.0
Name: grocery_proximate_units, dtype: float64
1753    0.0
1754    0.0
Name: grocery_proximate_units, dtype: float64
78.9
1753    78.9
1754    78.9
Name: prenatal_care, dtype: float64
1753    78.9
1754    78.9
Name: prenatal_care, dtype: float64
0.0
1753    0.0
1754    0.0
Name: grocery_proximity, dtype: float64
1753    0.0
1754    0.0
Name: grocery_proximity, dtype: float64
5.3
1753    5.3
1754    5.3
Name: low_birthweight, dtype: float64
1753    5.3
1754    5.3
Name: low_birthweight, dtype: float64
10.0
1753    10.0
1754    10.0
Name: public_health_insurance, dtype: float64
1753    10.0
1754    10.0
Name: public_health_insurance, dtype: float64
74.0
1753    74.0
1754    74.0
Name: age_of_death, dtype: float64
1753    74.0
1754    74.0
Name: age_of_death, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: impervious_surface, dtype: float64
1753   -1.0
1754   -1.0
Name: impervious_surface, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: water_consumption, dtype: float64
1753   -1.0
1754   -1.0
Name: water_consumption, dtype: float64
84.8
1753    84.8
1754    84.8
Name: neighborhood_school_attendance, dtype: float64
1753    84.8
1754    84.8
Name: neighborhood_school_attendance, dtype: float64
94.0
1753    94.0
1754    94.0
Name: highschool_graduation_rate, dtype: float64
1753    94.0
1754    94.0
Name: highschool_graduation_rate, dtype: float64
64.44444444444444
1753    64.444444
1754    64.444444
Name: proficiency_elementary_school, dtype: float64
1753    64.444444
1754    64.444444
Name: proficiency_elementary_school, dtype: float64
63.88888888888889
1753    63.888889
1754    63.888889
Name: proficiency_middle_school, dtype: float64
1753    63.888889
1754    63.888889
Name: proficiency_middle_school, dtype: float64
76.92307692307693
1753    76.923077
1754    76.923077
Name: proficiency_high_school, dtype: float64
1753    76.923077
1754    76.923077
Name: proficiency_high_school, dtype: float64
4.807692307692308
1753    4.807692
1754    4.807692
Name: student_absenteeism, dtype: float64
1753    4.807692
1754    4.807692
Name: student_absenteeism, dtype: float64
370.0
1753    370.0
1754    370.0
Name: voters_participating, dtype: float64
1753    370.0
1754    370.0
Name: voters_participating, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: neighborhood_organizations, dtype: float64
1753   -1.0
1754   -1.0
Name: neighborhood_organizations, dtype: float64
52.0
1753    52.0
1754    52.0
Name: voter_participation, dtype: float64
1753    52.0
1754    52.0
Name: voter_participation, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: vacant_land, dtype: float64
1753   -1.0
1754   -1.0
Name: vacant_land, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: population_density, dtype: float64
1753   -1.0
1754   -1.0
Name: population_density, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: population, dtype: float64
1753   -1.0
1754   -1.0
Name: population, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: transit_ridership, dtype: float64
1753   -1.0
1754   -1.0
Name: transit_ridership, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: street_connectivity, dtype: float64
1753   -1.0
1754   -1.0
Name: street_connectivity, dtype: float64
nan
1753   -1.0
1754   -1.0
Name: bicycle_friendliness, dtype: float64
1753   -1.0
1754   -1.0
Name: bicycle_friendliness, dtype: float64
3.415
1755    5.35
1756    1.48
Name: Acres, dtype: float64
1755    5.35
1756    1.48
Name: Acres, dtype: float64
3.5
1755    3.5
1756    3.5
Name: births_to_adolescents, dtype: float64
1755    3.5
1756    3.5
Name: births_to_adolescents, dtype: float64
0.0
1755    0.0
1756    0.0
Name: grocery_proximate_units, dtype: float64
1755    0.0
1756    0.0
Name: grocery_proximate_units, dtype: float64
69.0
1755    69.0
1756    69.0
Name: prenatal_care, dtype: float64
1755    69.0
1756    69.0
Name: prenatal_care, dtype: float64
0.0
1755    0.0
1756    0.0
Name: grocery_proximity, dtype: float64
1755    0.0
1756    0.0
Name: grocery_proximity, dtype: float64
3.5
1755    3.5
1756    3.5
Name: low_birthweight, dtype: float64
1755    3.5
1756    3.5
Name: low_birthweight, dtype: float64
nan
1755   -1.0
1756   -1.0
Name: public_health_insurance, dtype: float64
1755   -1.0
1756   -1.0
Name: public_health_insurance, dtype: float64
64.0
1755    64.0
1756    64.0
Name: age_of_death, dtype: float64
1755    64.0
1756    64.0
Name: age_of_death, dtype: float64
14.6
1755    14.6
1756    14.6
Name: impervious_surface, dtype: float64
1755    14.6
1756    14.6
Name: impervious_surface, dtype: float64
175.0
1755    175.0
1756    175.0
Name: water_consumption, dtype: float64
1755    175.0
1756    175.0
Name: water_consumption, dtype: float64
87.2
1755    87.2
1756    87.2
Name: neighborhood_school_attendance, dtype: float64
1755    87.2
1756    87.2
Name: neighborhood_school_attendance, dtype: float64
100.0
1755    100.0
1756    100.0
Name: highschool_graduation_rate, dtype: float64
1755    100.0
1756    100.0
Name: highschool_graduation_rate, dtype: float64
51.28
1755    51.28
1756    51.28
Name: proficiency_elementary_school, dtype: float64
1755    51.28
1756    51.28
Name: proficiency_elementary_school, dtype: float64
40.4
1755    40.4
1756    40.4
Name: proficiency_middle_school, dtype: float64
1755    40.4
1756    40.4
Name: proficiency_middle_school, dtype: float64
76.2
1755    76.2
1756    76.2
Name: proficiency_high_school, dtype: float64
1755    76.2
1756    76.2
Name: proficiency_high_school, dtype: float64
9.0
1755    9.0
1756    9.0
Name: student_absenteeism, dtype: float64
1755    9.0
1756    9.0
Name: student_absenteeism, dtype: float64
1072.0
1755    1072.0
1756    1072.0
Name: voters_participating, dtype: float64
1755    1072.0
1756    1072.0
Name: voters_participating, dtype: float64
nan
1755   -1.0
1756   -1.0
Name: neighborhood_organizations, dtype: float64
1755   -1.0
1756   -1.0
Name: neighborhood_organizations, dtype: float64
77.0
1755    77.0
1756    77.0
Name: voter_participation, dtype: float64
1755    77.0
1756    77.0
Name: voter_participation, dtype: float64
15.6
1755    15.6
1756    15.6
Name: vacant_land, dtype: float64
1755    15.6
1756    15.6
Name: vacant_land, dtype: float64
6.0
1755    6.0
1756    6.0
Name: population_density, dtype: float64
1755    6.0
1756    6.0
Name: population_density, dtype: float64
2238.0
1755    2238.0
1756    2238.0
Name: population, dtype: float64
1755    2238.0
1756    2238.0
Name: population, dtype: float64
nan
1755   -1.0
1756   -1.0
Name: transit_ridership, dtype: float64
1755   -1.0
1756   -1.0
Name: transit_ridership, dtype: float64
1.0
1755    1.0
1756    1.0
Name: street_connectivity, dtype: float64
1755    1.0
1756    1.0
Name: street_connectivity, dtype: float64
1.1
1755    1.1
1756    1.1
Name: bicycle_friendliness, dtype: float64
1755    1.1
1756    1.1
Name: bicycle_friendliness, dtype: float64

In [63]:
final_merge_df.head(1000)
final_merge_df.to_csv("../Resources/Final_Clean.csv")